Repository pingcap/docs, pull requests merged in 2019-09, with the labels that each got.

#1494 releases: fix broken links
  dev/releases/3.0.3.md
  v3.0/releases/3.0.3.md
Labels: align-N/A, dev, v3.0

#1495 *: remove extra www characters from links
  _index.md
  dev/_index.md
  dev/adopters.md
  dev/faq/tidb.md
  dev/how-to/get-started/deploy-tidb-from-docker-compose.md
  dev/overview.md
  v1.0/FAQ.md
  v2.0/FAQ.md
  v2.0/adopters.md
  v2.0/op-guide/docker-compose.md
  v2.1-legacy/FAQ.md
  v2.1-legacy/QUICKSTART.md
  v2.1-legacy/adopters.md
  v2.1-legacy/op-guide/docker-compose.md
  v2.1-legacy/overview.md
  v2.1-legacy/releases/2.1ga.md
  v2.1/_index.md
  v2.1/adopters.md
  v2.1/faq/tidb.md
  v2.1/overview.md
  v3.0/_index.md
  v3.0/adopters.md
  v3.0/faq/tidb.md
  v3.0/overview.md
Labels: aligned-with-docs-cn

#1475 reference: add TiDB cluster alert rules
  dev/TOC.md
  dev/reference/alert-rules.md
  v2.1/TOC.md
  v2.1/reference/alert-rules.md
  v3.0/TOC.md
  v3.0/reference/alert-rules.md
Labels: aligned-in-docs-cn

#1481 *: add tidb-lightning deployment guide on Kubernetes
  dev/TOC.md
  dev/tidb-in-kubernetes/maintain/lightning.md
  v3.0/TOC.md
  v3.0/tidb-in-kubernetes/maintain/lightning.md
Labels: aligned-in-docs-cn, dev, tidb-in-k8s, v3.0

#1504 scripts: quite mode by default
  scripts/verify-links.sh
Labels: aligned-with-docs-cn

#1507 v3.0/reference: add "<" and ">" for a link
  v3.0/reference/tispark.md
Labels: pending-aligning, v3.0

#1497 dev, v3.0: update TiDB v4.0 roadmap and future plan
  dev/roadmap.md
  v3.0/roadmap.md
Labels: aligned-with-docs-cn

#1510 reference/sql: update show-variables example
  dev/reference/sql/statements/show-variables.md
  v2.1/reference/sql/statements/show-variables.md
  v3.0/reference/sql/statements/show-variables.md
Labels: aligned-with-docs-cn, dev, v2.1, v3.0

#1509 how-to: remove extra punctuation from code
  dev/how-to/maintain/tidb-binlog.md
  v2.1/how-to/maintain/tidb-binlog.md
  v3.0/how-to/maintain/tidb-binlog.md
Labels: aligned-with-docs-cn, dev, v2.1, v3.0

#1513 tidb-in-kubernetes: create namespace before secret during tidb cluster initialization
  dev/tidb-in-kubernetes/initialize-cluster.md
  v3.0/tidb-in-kubernetes/initialize-cluster.md
Labels: aligned-with-docs-cn, dev, tidb-in-k8s, v3.0

#1511 dev, v3.0, v2.1: add DM 1.0 GA upgrade guide
  dev/TOC.md
  dev/reference/tools/data-migration/upgrade.md
  v2.1/TOC.md
  v2.1/reference/tools/data-migration/upgrade.md
  v3.0/TOC.md
  v3.0/reference/tools/data-migration/upgrade.md
Labels: aligned-with-docs-cn

#1512 how-to/maintain: fix 3 broken links
  dev/how-to/maintain/tidb-binlog.md
  v2.1/how-to/maintain/tidb-binlog.md
  v3.0/how-to/maintain/tidb-binlog.md
Labels: align-N/A, dev, v2.1, v3.0

#1514 reference/sql: prohibit modifying decimal precision
  dev/reference/sql/statements/modify-column.md
  v2.1/reference/sql/statements/modify-column.md
  v3.0/reference/sql/statements/modify-column.md
Labels: aligned-with-docs-cn

#1517 release, TOC: add TiDB 2.1.17 release notes
  dev/TOC.md
  dev/releases/2.1.17.md
  dev/releases/rn.md
  v2.1/TOC.md
  v2.1/releases/2.1.17.md
  v2.1/releases/rn.md
  v3.0/TOC.md
  v3.0/releases/2.1.17.md
  v3.0/releases/rn.md
Labels: DNM, aligned-with-docs-cn, dev, v2.1, v3.0

#1516 dev: add dm 1.0-ga benchmark
  dev/TOC.md
  dev/benchmark/dm-v1.0-ga.md
Labels: dev, pending-aligning

#1455 tools/tidb-lightning: update docs for 3.0.2 and master
  dev/TOC.md
  dev/reference/tools/tidb-lightning/config.md
  dev/reference/tools/tidb-lightning/deployment.md
  dev/reference/tools/tidb-lightning/monitor.md
  dev/reference/tools/tidb-lightning/overview.md
  dev/reference/tools/tidb-lightning/web.md
  media/lightning-grafana-row-1.png
  media/lightning-grafana-row-2.png
  media/lightning-grafana-row-3.png
  media/lightning-grafana-row-4.png
  media/lightning-grafana-row-5.png
  media/lightning-grafana-row-6.png
  media/lightning-grafana-row-7.png
  media/lightning-web-frontpage.png
  media/lightning-web-queue.png
  media/lightning-web-submit.png
  media/lightning-web-table.png
  v2.1/reference/tools/download.md
  v2.1/reference/tools/tidb-lightning/deployment.md
  v3.0/reference/tools/download.md
  v3.0/reference/tools/tidb-lightning/deployment.md
Labels: pending-aligning

#1520 adopters: fix 3 broken links
  dev/adopters.md
  v2.1/adopters.md
  v3.0/adopters.md
Labels: aligning, dev, v2.1, v3.0

#1519 reference: fix 6 broken links
  dev/reference/tidb-binlog-overview.md
  dev/reference/tools/tidb-binlog/tidb-binlog-kafka.md
  v2.1/reference/tidb-binlog-overview.md
  v2.1/reference/tools/tidb-binlog/tidb-binlog-kafka.md
  v3.0/reference/tidb-binlog-overview.md
  v3.0/reference/tools/tidb-binlog/tidb-binlog-kafka.md
Labels: aligned-with-docs-cn, dev, v2.1, v3.0

#1525 reference/alert-rule: fix wrong alert metrics
  dev/reference/alert-rules.md
  v2.1/reference/alert-rules.md
  v3.0/reference/alert-rules.md
Labels: aligned-with-docs-cn

#1496 tidb-in-kubernetes: fix gke document in gcp
  dev/tidb-in-kubernetes/deploy/gcp-gke.md
  v3.0/tidb-in-kubernetes/deploy/gcp-gke.md
Labels: aligned-with-docs-cn, dev, tidb-in-k8s, v3.0

#1530 reference/tools: fix a command typo
  dev/reference/tools/pd-control.md
  v2.1-legacy/tools/pd-control.md
  v2.1/reference/tools/pd-control.md
  v3.0/reference/tools/pd-control.md
Labels: aligned-with-docs-cn, dev, v2.1, v3.0

#1538 scripts: support new link convention
  dev/reference/tools/tidb-lightning/deployment.md
  scripts/markdown-link-check.tpl
  scripts/verify-links.sh
  v2.1/reference/tools/tidb-lightning/deployment.md
  v3.0/reference/tools/tidb-lightning/deployment.md
Labels: aligned-with-docs-cn

#1508 reference: update command and default value in pd-control
  dev/reference/tools/pd-control.md
  v2.1/reference/tools/pd-control.md
  v3.0/reference/tools/pd-control.md
Labels: aligned-with-docs-cn, dev, v3.0

#1541 faq, toc: add DM FAQ to v2.1
  v2.1/TOC.md
  v2.1/faq/data-migration.md
Labels: aligned-with-docs-cn

#1540 reference: add links in binlog overview
  dev/reference/tidb-binlog-overview.md
  v2.1/reference/tidb-binlog-overview.md
  v3.0/reference/tidb-binlog-overview.md
Labels: aligned-with-docs-cn, dev, v2.1, v3.0

#1536 how-to/deploy: add tags when deploy pump by ansible
  dev/how-to/deploy/tidb-binlog.md
  v2.1-legacy/tools/tidb-binlog-cluster.md
  v2.1/how-to/deploy/tidb-binlog.md
  v3.0/how-to/deploy/tidb-binlog.md
Labels: aligned-with-docs-cn, dev, v2.1, v3.0

#1545 reference/tools: update DM download.md
  dev/reference/tools/download.md
  v2.1/reference/tools/download.md
  v3.0/reference/tools/download.md
Labels: aligned-with-docs-cn, dev, v2.1, v3.0

#1527 reference: globally review PD metrics
  dev/reference/key-monitoring-metrics/pd-dashboard.md
  media/pd-dashboard-balance-v2.png
  media/pd-dashboard-cluster-v2.png
  media/pd-dashboard-etcd-v2.png
  media/pd-dashboard-grpc-v2.png
  media/pd-dashboard-heartbeat-v2.png
  media/pd-dashboard-hotspot.png
  media/pd-dashboard-operator-v2.png
  media/pd-dashboard-region-storage.png
  media/pd-dashboard-scheduler-v2.png
  media/pd-dashboard-tidb-v2.png
  v3.0/reference/key-monitoring-metrics/pd-dashboard.md
Labels: dev, pending-aligning, v3.0

#1535 tools/tidb-lightning: addresses some "special week" issues
  dev/faq/tidb-lightning.md
  dev/how-to/troubleshoot/tidb-lightning.md
  dev/reference/tools/tidb-lightning/monitor.md
Labels: pending-aligning

#1551 *: optimize anchor text of 61 links for SEO purposes
  dev/benchmark/how-to-run-sysbench.md
  dev/how-to/get-started/deploy-tidb-from-docker-compose.md
  dev/reference/configuration/tidb-server/configuration-file.md
  dev/reference/configuration/tidb-server/tidb-specific-variables.md
  dev/reference/error-codes.md
  dev/reference/sql/functions-and-operators/date-and-time-functions.md
  dev/reference/sql/functions-and-operators/operators.md
  dev/reference/tispark.md
  dev/tidb-in-kubernetes/deploy/gcp-gke.md
  dev/tidb-in-kubernetes/reference/configuration/tidb-cluster.md
  v2.1/benchmark/how-to-run-sysbench.md
  v2.1/reference/configuration/tidb-server/configuration-file.md
  v2.1/reference/configuration/tidb-server/tidb-specific-variables.md
  v2.1/reference/error-codes.md
  v2.1/reference/sql/functions-and-operators/cast-functions-and-operators.md
  v2.1/reference/sql/functions-and-operators/date-and-time-functions.md
  v2.1/reference/sql/functions-and-operators/operators.md
  v2.1/reference/tispark.md
  v2.1/tispark/tispark-user-guide_v1.x.md
  v3.0/benchmark/how-to-run-sysbench.md
  v3.0/reference/configuration/tidb-server/configuration-file.md
  v3.0/reference/configuration/tidb-server/tidb-specific-variables.md
  v3.0/reference/error-codes.md
  v3.0/reference/sql/functions-and-operators/date-and-time-functions.md
  v3.0/reference/sql/functions-and-operators/operators.md
  v3.0/reference/tispark.md
  v3.0/tidb-in-kubernetes/deploy/gcp-gke.md
  v3.0/tidb-in-kubernetes/reference/configuration/tidb-cluster.md
Labels: align-N/A, dev, v2.1, v3.0

#1557 *: refine wording of data safety
  dev/benchmark/how-to-run-sysbench.md
  dev/faq/tidb.md
  dev/tidb-in-kubernetes/faq.md
  dev/tidb-in-kubernetes/reference/configuration/local-pv.md
  dev/tidb-in-kubernetes/troubleshoot.md
  v1.0/FAQ.md
  v2.0/FAQ.md
  v2.1-legacy/FAQ.md
  v2.1/benchmark/how-to-run-sysbench.md
  v2.1/faq/tidb.md
  v3.0/benchmark/how-to-run-sysbench.md
  v3.0/faq/tidb.md
  v3.0/tidb-in-kubernetes/faq.md
  v3.0/tidb-in-kubernetes/reference/configuration/local-pv.md
  v3.0/tidb-in-kubernetes/troubleshoot.md
Labels: align-N/A

#1464 dev, v3.0, v2.1/how-to/deploy: update TiDB Ansible deployment doc
  dev/how-to/deploy/orchestrated/ansible.md
  v2.1/how-to/deploy/orchestrated/ansible.md
  v3.0/how-to/deploy/orchestrated/ansible.md
Labels: aligned-with-docs-cn

#1462 *: add SQL mode and config files, update slow query and charset
  dev/TOC.md
  dev/how-to/maintain/identify-slow-queries.md
  dev/reference/configuration/pd-server/configuration-file.md
  dev/reference/configuration/pd-server/configuration.md
  dev/reference/configuration/tidb-server/configuration-file.md
  dev/reference/configuration/tidb-server/configuration.md
  dev/reference/configuration/tikv-server/configuration-file.md
  dev/reference/sql/character-set.md
  dev/reference/sql/sql-mode.md
  v3.0/TOC.md
  v3.0/how-to/maintain/identify-slow-queries.md
  v3.0/reference/configuration/pd-server/configuration-file.md
  v3.0/reference/configuration/pd-server/configuration.md
  v3.0/reference/configuration/tidb-server/configuration-file.md
  v3.0/reference/configuration/tidb-server/configuration.md
  v3.0/reference/configuration/tikv-server/configuration-file.md
  v3.0/reference/sql/character-set.md
  v3.0/reference/sql/sql-mode.md
Labels: aligned-with-docs-cn

#1549 dev, v3.0, v2.1: add more items in loader config template
  dev/reference/tools/loader.md
  v2.1-legacy/tools/loader.md
  v2.1/reference/tools/loader.md
  v3.0/reference/tools/loader.md
Labels: dev, v2.1, v3.0
