Repository pingcap/docs, pull requests merged in 2019-08, with the labels that each got.

#1402 dev, v3.0: fix 8 broken links
  dev/architecture.md
  dev/overview.md
  dev/tidb-in-kubernetes/deploy/tidb-operator.md
  dev/tidb-in-kubernetes/get-started/deploy-tidb-from-kubernetes-minikube.md
  v3.0/architecture.md
  v3.0/overview.md
  v3.0/tidb-in-kubernetes/deploy/tidb-operator.md
  v3.0/tidb-in-kubernetes/get-started/deploy-tidb-from-kubernetes-minikube.md
Labels: dev, v3.0

#1403 dev, v3.0/toc: remove duplicated links
  dev/TOC.md
  v3.0/TOC.md
Labels: tidb-in-k8s

#1404 v.3.0, V2.1/how-to/deploy, */faq: recover the docker-compose link
  v2.1/faq/tidb.md
  v2.1/how-to/deploy/orchestrated/ansible.md
  v3.0/faq/tidb.md
  v3.0/how-to/deploy/orchestrated/ansible.md
Labels: v2.1, v3.0

#1408 v2.1/reference: remove and update inapplicable content
  v2.1/reference/configuration/tidb-server/tidb-specific-variables.md
  v2.1/reference/key-monitoring-metrics/tikv-dashboard.md
  v2.1/reference/mysql-compatibility.md
  v2.1/reference/performance/tune-tikv.md
  v2.1/reference/tools/tikv-control.md
Labels: v2.1

#1409 *: update tispark document for tispark-2.1.1
  dev/how-to/deploy/tispark.md
  dev/reference/tispark.md
  dev/tispark/tispark-quick-start-guide_v1.x.md
  dev/tispark/tispark-user-guide_v1.x.md
  v3.0/how-to/deploy/tispark.md
  v3.0/reference/tispark.md
  v3.0/tispark/tispark-quick-start-guide_v1.x.md
  v3.0/tispark/tispark-user-guide_v1.x.md
Labels: dev, v3.0

#1406 *: add marklint check for changed files in PR
  .circleci/config.yml
  .markdownlint.yaml
Labels: DNM, website

#1418 scripts: add verify links check and fix some broken links
  .circleci/config.yml
  dev/reference/system-databases/information-schema.md
  scripts/markdown-link-check.tpl
  scripts/verify-links.sh
  v3.0/how-to/get-started/read-historical-data.md
  v3.0/reference/system-databases/information-schema.md
Labels: enhancement

#1416 how-to/maintain: fix the description of backup & restore document
  dev/how-to/maintain/backup-and-restore.md
  v2.1/how-to/maintain/backup-and-restore.md
  v3.0/how-to/maintain/backup-and-restore.md
Labels: dev, v2.1, v3.0

#1428 dev, v2.1, v3.0: reorganize the list of keywords and reserved words
  dev/reference/sql/language-structure/keywords-and-reserved-words.md
  v2.1/reference/sql/language-structure/keywords-and-reserved-words.md
  v3.0/reference/sql/language-structure/keywords-and-reserved-words.md
Labels: aligned, dev, v2.1, v3.0

#1431 v2.1/reference/sql: remove "ROWS (R)" from the reserved word list
  v2.1/reference/sql/language-structure/keywords-and-reserved-words.md
Labels: align-N/A, v2.1

#1423 dev, v3.0: add TiDB 3.0.2 Release Notes
  dev/TOC.md
  dev/releases/3.0.2.md
  dev/releases/rn.md
  v3.0/TOC.md
  v3.0/releases/3.0.2.md
  v3.0/releases/rn.md
Labels: dev, v3.0

#1426 dev,3.0: Update bastion username EKS deploy document to avoid ssh failure
  dev/tidb-in-kubernetes/deploy/aws-eks.md
  v3.0/tidb-in-kubernetes/deploy/aws-eks.md
Labels: pending-aligning

#1435 reference/monitoring-metrics: update the TiDB metrics
  dev/reference/key-monitoring-metrics/tidb-dashboard.md
  v3.0/reference/key-monitoring-metrics/tidb-dashboard.md
Labels: aligned-with-docs-cn

#1437 *: update the TiDB Lightning name and add the downstream privileges
  dev/faq/tidb-lightning.md
  dev/how-to/migrate/overview.md
  dev/how-to/troubleshoot/tidb-lightning.md
  dev/reference/tools/tidb-lightning/checkpoints.md
  dev/reference/tools/tidb-lightning/csv.md
  dev/reference/tools/tidb-lightning/deployment.md
  dev/reference/tools/tidb-lightning/monitor.md
  dev/reference/tools/tidb-lightning/overview.md
  dev/reference/tools/tidb-lightning/table-filter.md
  dev/releases/2.1.2.md
  dev/releases/2.1ga.md
  dev/releases/3.0beta.md
  v2.1/faq/tidb-lightning.md
  v2.1/how-to/migrate/overview.md
  v2.1/how-to/troubleshoot/tidb-lightning.md
  v2.1/reference/tools/tidb-lightning/checkpoints.md
  v2.1/reference/tools/tidb-lightning/csv.md
  v2.1/reference/tools/tidb-lightning/deployment.md
  v2.1/reference/tools/tidb-lightning/monitor.md
  v2.1/reference/tools/tidb-lightning/overview.md
  v2.1/reference/tools/tidb-lightning/table-filter.md
  v2.1/releases/2.1.2.md
  v2.1/releases/2.1ga.md
  v2.1/releases/3.0beta.md
  v3.0/faq/tidb-lightning.md
  v3.0/how-to/migrate/overview.md
  v3.0/how-to/troubleshoot/tidb-lightning.md
  v3.0/reference/tools/tidb-lightning/checkpoints.md
  v3.0/reference/tools/tidb-lightning/csv.md
  v3.0/reference/tools/tidb-lightning/deployment.md
  v3.0/reference/tools/tidb-lightning/monitor.md
  v3.0/reference/tools/tidb-lightning/overview.md
  v3.0/reference/tools/tidb-lightning/table-filter.md
  v3.0/releases/2.1.2.md
  v3.0/releases/2.1ga.md
  v3.0/releases/3.0beta.md
Labels: aligned-with-docs-cn

#1295 v3.0, dev: add tidb information schema tables
  dev/reference/system-databases/information-schema.md
  v3.0/reference/system-databases/information-schema.md
Labels: aligned-with-docs-cn, dev, v3.0

#1412 dev, v3.0: update code block format and test lint CI
  dev/benchmark/dm-v1-alpha.md
  dev/benchmark/how-to-run-sysbench.md
  dev/benchmark/how-to-run-tpcc.md
  dev/benchmark/sysbench-v4.md
  dev/faq/tidb.md
  dev/faq/upgrade.md
  dev/how-to/configure/memory-control.md
  dev/how-to/configure/time-zone.md
  dev/how-to/deploy/orchestrated/ansible.md
  dev/how-to/deploy/orchestrated/docker.md
  dev/how-to/get-started/explore-sql.md
  v3.0/faq/upgrade.md
  v3.0/how-to/get-started/explore-sql.md
Labels: aligning

#1434 dev, v3.0: add a view doc
  dev/TOC.md
  dev/reference/sql/views.md
  v3.0/TOC.md
  v3.0/reference/sql/views.md
Labels: aligned-with-docs-cn

#1429 v2.1, v3.0, dev/reference: fix a mistake in Lightning configuration file
  dev/reference/tools/tidb-lightning/deployment.md
  v2.1/reference/tools/tidb-lightning/deployment.md
  v3.0/reference/tools/tidb-lightning/deployment.md
Labels: aligned-with-docs-cn, dev, v2.1, v3.0

#1439 reference/configuration: add a new variable tidb_scatter_region
  dev/reference/configuration/tidb-server/tidb-specific-variables.md
  v2.1/reference/configuration/tidb-server/tidb-specific-variables.md
  v3.0/reference/configuration/tidb-server/tidb-specific-variables.md
Labels: aligned-with-docs-cn

#1446 dev, v3.0, v2.1, v2.1-legacy/reference: correct LowSpace Stores status
  dev/reference/key-monitoring-metrics/overview-dashboard.md
  v2.1-legacy/op-guide/dashboard-overview-info.md
  v2.1/reference/key-monitoring-metrics/overview-dashboard.md
  v3.0/reference/key-monitoring-metrics/overview-dashboard.md
Labels: aligned-with-docs-cn, dev, v2.1, v3.0

#1448 reference/tools: change binlog name in DM docs
  dev/reference/tools/data-migration/configure/task-configuration-file.md
  v2.1/reference/tools/data-migration/configure/task-configuration-file.md
  v3.0/reference/tools/data-migration/configure/task-configuration-file.md
Labels: aligned-with-docs-cn

#1453 tidb-in-kubernetes: refine TiDB in K8s docs
  dev/tidb-in-kubernetes/deploy/access-tidb.md
  dev/tidb-in-kubernetes/deploy/general-kubernetes.md
  dev/tidb-in-kubernetes/deploy/tidb-operator.md
  dev/tidb-in-kubernetes/faq.md
  dev/tidb-in-kubernetes/maintain/destroy-tidb-cluster.md
  dev/tidb-in-kubernetes/monitor/tidb-in-kubernetes.md
  dev/tidb-in-kubernetes/reference/tools/in-kubernetes.md
  dev/tidb-in-kubernetes/scale-in-kubernetes.md
  dev/tidb-in-kubernetes/troubleshoot.md
  dev/tidb-in-kubernetes/upgrade/tidb-cluster.md
  dev/tidb-in-kubernetes/upgrade/tidb-operator.md
  v3.0/tidb-in-kubernetes/deploy/access-tidb.md
  v3.0/tidb-in-kubernetes/deploy/general-kubernetes.md
  v3.0/tidb-in-kubernetes/deploy/tidb-operator.md
  v3.0/tidb-in-kubernetes/faq.md
  v3.0/tidb-in-kubernetes/maintain/destroy-tidb-cluster.md
  v3.0/tidb-in-kubernetes/monitor/tidb-in-kubernetes.md
  v3.0/tidb-in-kubernetes/reference/tools/in-kubernetes.md
  v3.0/tidb-in-kubernetes/scale-in-kubernetes.md
  v3.0/tidb-in-kubernetes/troubleshoot.md
  v3.0/tidb-in-kubernetes/upgrade/tidb-cluster.md
  v3.0/tidb-in-kubernetes/upgrade/tidb-operator.md
Labels: aligned-with-docs-cn, tidb-in-k8s

#1449 tidb-in-kubernetes: fix "extraLabels" description
  dev/tidb-in-kubernetes/reference/configuration/tidb-cluster.md
  v3.0/tidb-in-kubernetes/reference/configuration/tidb-cluster.md
Labels: aligned-with-docs-cn

#1454 dev/v3.0/v2.1: rename tidb_back_off_weight to tidb_backoff_weight
  dev/reference/configuration/tidb-server/tidb-specific-variables.md
  v2.1/reference/configuration/tidb-server/tidb-specific-variables.md
  v3.0/reference/configuration/tidb-server/tidb-specific-variables.md
Labels: aligned-with-docs-cn

#1461 .github: refine the pr template
  .github/pull_request_template.md
Labels: aligning

#1457 dev,3.0: run port-forward in background to not blocking users
  dev/tidb-in-kubernetes/monitor/tidb-in-kubernetes.md
  dev/tidb-in-kubernetes/reference/tools/in-kubernetes.md
  v3.0/tidb-in-kubernetes/monitor/tidb-in-kubernetes.md
  v3.0/tidb-in-kubernetes/reference/tools/in-kubernetes.md
Labels: aligned-with-docs-cn, tidb-in-k8s

#1450 how-to/deploy, upgrade: update ansible-related deploy/upgrade docs
  dev/how-to/deploy/orchestrated/ansible.md
  v2.1/how-to/deploy/orchestrated/ansible.md
  v2.1/how-to/upgrade/from-previous-version.md
  v3.0/how-to/deploy/orchestrated/ansible.md
  v3.0/how-to/upgrade/from-previous-version.md
Labels: aligned-with-docs-cn

#1459 scripts: enable link check for v2.1
  scripts/verify-links.sh
Labels: aligned-with-docs-cn

#1463 v2.1/reference: remove `VIEW` related content
  v2.1/TOC.md
  v2.1/reference/sql/statements/create-view.md
  v2.1/reference/sql/statements/drop-table.md
  v2.1/reference/sql/statements/drop-view.md
Labels: align-N/A

#1460 releases: add 2.1.16 release notes
  dev/TOC.md
  dev/releases/2.1.15.md
  dev/releases/2.1.16.md
  dev/releases/rn.md
  v2.1/TOC.md
  v2.1/releases/2.1.15.md
  v2.1/releases/2.1.16.md
  v2.1/releases/rn.md
  v3.0/TOC.md
  v3.0/releases/2.1.15.md
  v3.0/releases/2.1.16.md
  v3.0/releases/rn.md
Labels: Do not merge until Ansible tag is ready, aligned-with-docs-cn

#1430 dev/reference: add some description about max_execution_time
  dev/reference/configuration/tidb-server/mysql-variables.md
  dev/reference/performance/optimizer-hints.md
  v2.1/reference/configuration/tidb-server/mysql-variables.md
  v2.1/reference/performance/optimizer-hints.md
  v3.0/reference/configuration/tidb-server/mysql-variables.md
  v3.0/reference/performance/optimizer-hints.md
Labels: aligned-with-docs-cn

#1467 dev, v2.1, v3.0: fix 3 broken links
  dev/releases/2.1ga.md
  v2.1/releases/2.1ga.md
  v3.0/releases/2.1ga.md
Labels: align-N/A, dev, v2.1, v3.0

#1469 dev, v3.0, v2.1, v2.1-legacy: correct the scope of a tidb_opt_insubquery_unfold
  dev/reference/configuration/tidb-server/tidb-specific-variables.md
  v2.1-legacy/sql/tidb-specific.md
  v2.1/reference/configuration/tidb-server/tidb-specific-variables.md
  v3.0/reference/configuration/tidb-server/tidb-specific-variables.md
Labels: aligned-with-docs-cn

#1470 releases: update TiDB Binlog overview link
  dev/releases/21rc5.md
  v2.1/releases/21rc5.md
  v3.0/releases/21rc5.md
Labels: align-N/A, dev, v2.1, v3.0

#1452 dev/v3.0/v2.1: add notices for cancel DDL jobs
  dev/reference/sql/statements/admin.md
  v2.1/reference/sql/statements/admin.md
  v3.0/reference/sql/statements/admin.md
Labels: aligned-with-docs-cn, dev, v2.1, v3.0

#1473 *: add aliases, update toc and template
  .github/pull_request_template.md
  dev/TOC.md
  dev/tidb-in-kubernetes/get-started/deploy-tidb-from-kubernetes-gke.md
  v2.1/TOC.md
  v3.0/TOC.md
  v3.0/tidb-in-kubernetes/get-started/deploy-tidb-from-kubernetes-gke.md
Labels: pending-aligning

#1436 dev, v3.0: add large binlog operation FAQ
  dev/faq/data-migration.md
  v3.0/faq/data-migration.md
Labels: aligned-with-docs-cn, dev, v3.0

#1472 dev, v3.0, v2.1: update the information schema of slow-query table
  dev/reference/system-databases/information-schema.md
  v2.1/reference/system-databases/information-schema.md
  v3.0/reference/system-databases/information-schema.md
Labels: aligned-with-docs-cn

#1474 tidb-in-kubernetes: add aliases to support original links
  dev/tidb-in-kubernetes/get-started/deploy-tidb-from-kubernetes-dind.md
  v3.0/tidb-in-kubernetes/deploy/access-tidb.md
  v3.0/tidb-in-kubernetes/deploy/alibaba-cloud.md
  v3.0/tidb-in-kubernetes/deploy/aws-eks.md
  v3.0/tidb-in-kubernetes/deploy/gcp-gke.md
  v3.0/tidb-in-kubernetes/deploy/general-kubernetes.md
  v3.0/tidb-in-kubernetes/deploy/prerequisites.md
  v3.0/tidb-in-kubernetes/deploy/tidb-operator.md
  v3.0/tidb-in-kubernetes/faq.md
  v3.0/tidb-in-kubernetes/get-started/deploy-tidb-from-kubernetes-dind.md
  v3.0/tidb-in-kubernetes/get-started/deploy-tidb-from-kubernetes-minikube.md
  v3.0/tidb-in-kubernetes/initialize-cluster.md
  v3.0/tidb-in-kubernetes/maintain/auto-failover.md
  v3.0/tidb-in-kubernetes/maintain/backup-and-restore.md
  v3.0/tidb-in-kubernetes/maintain/destroy-tidb-cluster.md
  v3.0/tidb-in-kubernetes/maintain/kubernetes-node.md
  v3.0/tidb-in-kubernetes/maintain/log-collecting.md
  v3.0/tidb-in-kubernetes/monitor/tidb-in-kubernetes.md
  v3.0/tidb-in-kubernetes/reference/configuration/backup.md
  v3.0/tidb-in-kubernetes/reference/tools/in-kubernetes.md
  v3.0/tidb-in-kubernetes/reference/tools/tkctl.md
  v3.0/tidb-in-kubernetes/scale-in-kubernetes.md
  v3.0/tidb-in-kubernetes/tidb-operator-overview.md
  v3.0/tidb-in-kubernetes/troubleshoot.md
  v3.0/tidb-in-kubernetes/upgrade/tidb-cluster.md
  v3.0/tidb-in-kubernetes/upgrade/tidb-operator.md
Labels: align-N/A, tidb-in-k8s

#1447 dev, v2.1, v3.0/reference/sql: update CREATE-INDEX statement
  dev/reference/sql/statements/create-index.md
  v2.1/reference/sql/statements/create-index.md
  v3.0/reference/sql/statements/create-index.md
Labels: dev, v2.1, v3.0

#1399 v3.0, dev/reference/sql: add recover-table doc
  dev/TOC.md
  dev/reference/sql/statements/recover-table.md
  v3.0/TOC.md
  v3.0/reference/sql/statements/recover-table.md
Labels: dev, v3.0

#1451 dev, v2.1, v3.0/how-to/upgrade: add DM upgrade advice
  dev/how-to/upgrade/data-migration.md
  v2.1/how-to/upgrade/data-migration.md
  v3.0/how-to/upgrade/data-migration.md
Labels: aligned-with-docs-cn

#1468 tidb-in-kubernetes: update info for scale in k8s
  dev/tidb-in-kubernetes/scale-in-kubernetes.md
  dev/tidb-in-kubernetes/troubleshoot.md
  v3.0/tidb-in-kubernetes/scale-in-kubernetes.md
  v3.0/tidb-in-kubernetes/troubleshoot.md
Labels: aligned-with-docs-cn, dev, tidb-in-k8s, v3.0

#1445 dev, v3.0, v2.1/reference: update TiSpark FAQ
  dev/reference/tispark.md
  v2.1/reference/tispark.md
  v3.0/reference/tispark.md
Labels: aligned-with-docs-cn, dev, v2.1, v3.0

#1480 tidb-in-kubernetes: add config for rp_filter
  dev/tidb-in-kubernetes/deploy/prerequisites.md
  v3.0/tidb-in-kubernetes/deploy/prerequisites.md
Labels: aligned-with-docs-cn, dev, tidb-in-k8s, v3.0

#1483 reference/configuration: remove retry-limit from the config file
  dev/reference/configuration/tidb-server/configuration-file.md
  v3.0/reference/configuration/tidb-server/configuration-file.md
Labels: aligned-with-docs-cn

#1479 benchmark: use descriptive ALT text for images
  dev/benchmark/dm-v1-alpha.md
  v2.1/benchmark/dm-v1-alpha.md
  v3.0/benchmark/dm-v1-alpha.md
Labels: align-N/A, dev, v2.1, v3.0

#1482 reference/tools, tidb-in-kubernetes: Update TiDB lightning deployment document
  dev/reference/tools/tidb-lightning/deployment.md
  v3.0/reference/tools/tidb-lightning/deployment.md
Labels: aligned-with-docs-cn

#1485 reference/tools: update MySQL version
  dev/reference/tools/data-migration/overview.md
  dev/reference/tools/data-migration/precheck.md
  dev/reference/tools/syncer.md
  v2.1/reference/tools/data-migration/overview.md
  v2.1/reference/tools/data-migration/precheck.md
  v2.1/reference/tools/syncer.md
  v3.0/reference/tools/data-migration/overview.md
  v3.0/reference/tools/data-migration/precheck.md
  v3.0/reference/tools/syncer.md
Labels: aligned-with-docs-cn

#1487 how-to/upgrade: add aliases in TiDB 3.0 upgrade guide
  dev/how-to/upgrade/from-previous-version.md
  v2.1/how-to/upgrade/from-previous-version.md
  v3.0/how-to/upgrade/from-previous-version.md
Labels: aligned-with-docs-cn, dev, v2.1, v3.0

#1456 FAQ: update TiDB FAQ with some latest changes from TiKV side
  dev/faq/tidb.md
  v2.1/faq/tidb.md
  v3.0/faq/tidb.md
Labels: dev, pending-aligning, v2.1, v3.0

#1458 dev, v2.1, v3.0/how-to/deploy: update TiDB Binlog document
  dev/how-to/deploy/tidb-binlog.md
  v2.1/how-to/deploy/tidb-binlog.md
  v3.0/how-to/deploy/tidb-binlog.md
Labels: aligned-with-docs-cn

#1490 *: Fix healine format
  dev/contribute.md
  dev/how-to/deploy/geographic-redundancy/overview.md
  dev/key-features.md
  dev/overview.md
  dev/reference/configuration/tidb-server/mysql-variables.md
  dev/tidb-in-kubernetes/deploy/tidb-operator.md
  dev/tidb-in-kubernetes/reference/configuration/local-pv.md
  v2.1/contribute.md
  v2.1/how-to/deploy/geographic-redundancy/overview.md
  v2.1/key-features.md
  v2.1/overview.md
  v2.1/reference/configuration/tidb-server/mysql-variables.md
  v3.0/contribute.md
  v3.0/how-to/deploy/geographic-redundancy/overview.md
  v3.0/key-features.md
  v3.0/overview.md
  v3.0/reference/configuration/tidb-server/mysql-variables.md
  v3.0/tidb-in-kubernetes/deploy/tidb-operator.md
  v3.0/tidb-in-kubernetes/reference/configuration/local-pv.md
Labels: align-N/A

#1492 overview: update overview according to _index
  dev/overview.md
  v3.0/overview.md
Labels: align-N/A, dev, v3.0

#1491 release: add release notes for 3.0.3
  dev/TOC.md
  dev/releases/3.0.3.md
  dev/releases/rn.md
  v3.0/TOC.md
  v3.0/releases/3.0.3.md
  v3.0/releases/rn.md
Labels: Do not merge until Ansible tag is ready, aligned-with-docs-cn
