Repository pingcap/docs, pull requests merged in 2019-12, with the labels that each got.

#1681 reference/best-practices: update HAProxy Best Practices doc
  dev/reference/best-practices/haproxy.md
  v2.1/reference/best-practices/haproxy.md
  v3.0/reference/best-practices/haproxy.md
  v3.1/reference/best-practices/haproxy.md
Labels: aligned-with-docs-cn

#1675 reference/performance: add the follower read doc
  dev/TOC.md
  dev/reference/performance/follower-read.md
  v3.1/TOC.md
  v3.1/reference/performance/follower-read.md
Labels: P1, aligned-with-docs-cn, dev, v3.1

#1687 release: add 3.0.7 release notes
  dev/TOC.md
  dev/releases/3.0.7.md
  dev/releases/rn.md
  v3.0/TOC.md
  v3.0/releases/3.0.7.md
  v3.0/releases/rn.md
  v3.1/TOC.md
  v3.1/releases/3.0.7.md
  v3.1/releases/rn.md
Labels: aligned-with-docs-cn

#1686 how-to/get-started: add a note
  dev/how-to/get-started/import-example-database.md
  v2.1/how-to/get-started/import-example-database.md
  v3.0/how-to/get-started/import-example-database.md
  v3.1/how-to/get-started/import-example-database.md
Labels: align-N/A, dev, small, v2.1, v3.0, v3.1

#1689 *: optimize TiDB upgrade docs
  dev/TOC.md
  dev/how-to/deploy/orchestrated/ansible.md
  dev/how-to/upgrade/from-previous-version.md
  dev/how-to/upgrade/rolling-updates-with-ansible.md
  v2.1/TOC.md
  v2.1/how-to/deploy/orchestrated/ansible.md
  v2.1/how-to/upgrade/from-previous-version.md
  v2.1/how-to/upgrade/rolling-updates-with-ansible.md
  v3.0/TOC.md
  v3.0/how-to/deploy/orchestrated/ansible.md
  v3.0/how-to/upgrade/from-previous-version.md
  v3.0/how-to/upgrade/rolling-updates-with-ansible.md
  v3.1/TOC.md
  v3.1/how-to/deploy/orchestrated/ansible.md
  v3.1/how-to/upgrade/from-previous-version.md
  v3.1/how-to/upgrade/rolling-updates-with-ansible.md
Labels: P1, aligned-with-docs-cn, v3.1

#1685 reference/performance: update and add optimizer hints
  dev/reference/performance/optimizer-hints.md
  v3.1/reference/performance/optimizer-hints.md
Labels: P1, aligned-with-docs-cn, dev, v3.1

#1691 index, v3.0/reference/sql: fix 12 broken links
  _index.md
  v3.0/reference/sql/functions-and-operators/expressions-pushed-down.md
Labels: align-N/A, seo, small, v3.0

#1692 *: remove extra spaces
  dev/faq/tidb.md
  v2.0/FAQ.md
  v2.1-legacy/FAQ.md
  v2.1/faq/tidb.md
  v3.0/faq/tidb.md
  v3.1/faq/tidb.md
Labels: aligned-with-docs-cn

#1655 reference/best-practices: add PD scheduling best practice
  dev/TOC.md
  dev/glossary.md
  dev/reference/best-practices/pd-scheduling.md
  v2.1/TOC.md
  v2.1/glossary.md
  v2.1/reference/best-practices/pd-scheduling.md
  v3.0/TOC.md
  v3.0/glossary.md
  v3.0/reference/best-practices/pd-scheduling.md
  v3.1/TOC.md
  v3.1/glossary.md
  v3.1/reference/best-practices/pd-scheduling.md
Labels: aligned-with-docs-cn, best-practices, dev, v2.1, v3.0, v3.1

#1694 maintain: update mydumper/loader doc
  dev/how-to/maintain/backup-and-restore/mydumper-loader.md
  v2.1/how-to/maintain/backup-and-restore.md
  v3.0/how-to/maintain/backup-and-restore.md
  v3.1/how-to/maintain/backup-and-restore/mydumper-loader.md
Labels: aligned-with-docs-cn

#1697 maintain: refine br image
  media/br-arch.png
Labels: aligned-in-docs-cn

#1683 tidb-in-kubernetes: improve content and wording of kind deployment doc
  dev/tidb-in-kubernetes/get-started/deploy-tidb-from-kubernetes-kind.md
  v3.0/tidb-in-kubernetes/get-started/deploy-tidb-from-kubernetes-kind.md
  v3.1/tidb-in-kubernetes/get-started/deploy-tidb-from-kubernetes-kind.md
Labels: aligned-with-docs-cn, dev, small, tidb-in-k8s, v3.0, v3.1

#1699 reference/performance: improve the wording of Follower Read doc
  dev/reference/performance/follower-read.md
  v3.1/reference/performance/follower-read.md
Labels: align-N/A

#1700 benchmark: fix the capitalization of add-index-with-load doc
  dev/benchmark/add-index-with-load.md
  v3.0/benchmark/add-index-with-load.md
  v3.1/benchmark/add-index-with-load.md
Labels: align-N/A

#1698 reference/best-practices: improve the wording of HAProxy Best Practices
  dev/reference/best-practices/haproxy.md
  v2.1/reference/best-practices/haproxy.md
  v3.0/reference/best-practices/haproxy.md
  v3.1/reference/best-practices/haproxy.md
Labels: align-N/A

#1674 get-started: add DM encrypt password and update download url
  dev/how-to/get-started/data-migration.md
  v2.1/how-to/get-started/data-migration.md
  v3.0/how-to/get-started/data-migration.md
  v3.1/how-to/get-started/data-migration.md
Labels: aligned-with-docs-cn

#1701 reference/performance: improve the wording of Follower Read doc
  dev/reference/performance/follower-read.md
  v3.1/reference/performance/follower-read.md
Labels: align-N/A

#1696 how-to/deploy: add code snippets and improve description
  dev/how-to/deploy/orchestrated/ansible.md
  v2.1/how-to/deploy/orchestrated/ansible.md
  v3.0/how-to/deploy/orchestrated/ansible.md
  v3.1/how-to/deploy/orchestrated/ansible.md
Labels: enhancement, pending-aligning

#1566 reference/tools: update DM-worker connection switch in DM
  dev/reference/tools/data-migration/cluster-operations.md
  dev/reference/tools/data-migration/overview.md
  v2.1/reference/tools/data-migration/cluster-operations.md
  v2.1/reference/tools/data-migration/overview.md
  v3.0/reference/tools/data-migration/cluster-operations.md
  v3.0/reference/tools/data-migration/overview.md
  v3.1/reference/tools/data-migration/cluster-operations.md
  v3.1/reference/tools/data-migration/overview.md
Labels: aligned-with-docs-cn, dev, v2.1, v3.0, v3.1

#1705 reference: fix a tidb parameter name
  dev/reference/configuration/tidb-server/tidb-specific-variables.md
  v3.0/reference/configuration/tidb-server/tidb-specific-variables.md
  v3.1/reference/configuration/tidb-server/tidb-specific-variables.md
Labels: aligned-with-docs-cn

#1707 v3.0/reference/sql: fix 21 broken links
  v3.0/reference/sql/functions-and-operators/expressions-pushed-down.md
Labels: align-N/A, seo, small, v3.0

#1702 tidb-in-kubernetes: refine the kind deployment doc
  dev/tidb-in-kubernetes/get-started/deploy-tidb-from-kubernetes-kind.md
  v3.0/tidb-in-kubernetes/get-started/deploy-tidb-from-kubernetes-kind.md
  v3.1/tidb-in-kubernetes/get-started/deploy-tidb-from-kubernetes-kind.md
Labels: align-N/A, dev, small, tidb-in-k8s, v3.0, v3.1

#1708 tools: update a default value for tidb binlog
  dev/reference/tidb-binlog/deploy.md
  v2.1/reference/tidb-binlog/deploy.md
  v3.0/reference/tidb-binlog/deploy.md
  v3.1/reference/tidb-binlog/deploy.md
Labels: aligned-with-docs-cn, small

#1709 *: remove mentions of the deprecated "flash" syncer for drainer
  dev/reference/tidb-binlog/deploy.md
  v2.1-legacy/tools/binlog-slave-client.md
  v2.1-legacy/tools/tidb-binlog-cluster.md
  v2.1/reference/tidb-binlog/deploy.md
  v3.0/reference/tidb-binlog/deploy.md
  v3.1/reference/tidb-binlog/deploy.md
Labels: aligned-with-docs-cn, small

#1712 reference/performance: refine the Follower Read doc
  dev/reference/performance/follower-read.md
  v3.1/reference/performance/follower-read.md
Labels: aligned-with-docs-cn

#1688 release: add 3.1.0 beta release notes
  dev/TOC.md
  dev/releases/3.1.0-beta.md
  dev/releases/rn.md
  v3.1/TOC.md
  v3.1/releases/3.1.0-beta.md
  v3.1/releases/rn.md
Labels: DNM until Ansible tag is ready, aligned-with-docs-cn

#1714 *: update version info related to v3.1
  dev/how-to/deploy/orchestrated/ansible.md
  dev/how-to/upgrade/from-previous-version.md
  v3.1/how-to/deploy/orchestrated/ansible.md
Labels: aligned-with-docs-cn, small

#1716 DM: add v1.0.2 release notes
  dev/TOC.md
  dev/reference/tools/data-migration/releases/1.0.2.md
  v2.1/TOC.md
  v2.1/reference/tools/data-migration/releases/1.0.2.md
  v3.0/TOC.md
  v3.0/reference/tools/data-migration/releases/1.0.2.md
  v3.1/TOC.md
  v3.1/reference/tools/data-migration/releases/1.0.2.md
Labels: aligned-with-docs-cn

#1710 tools: add pdctl download guide
  dev/reference/tools/pd-control.md
  v2.1/reference/tools/pd-control.md
  v3.0/reference/tools/pd-control.md
  v3.1/reference/tools/pd-control.md
Labels: aligned-with-docs-cn, small

#1717 DM: add v1.0.3 release notes
  dev/TOC.md
  dev/reference/tools/data-migration/releases/1.0.3.md
  dev/reference/tools/data-migration/upgrade.md
  v2.1/TOC.md
  v2.1/reference/tools/data-migration/releases/1.0.3.md
  v2.1/reference/tools/data-migration/upgrade.md
  v3.0/TOC.md
  v3.0/reference/tools/data-migration/releases/1.0.3.md
  v3.0/reference/tools/data-migration/upgrade.md
  v3.1/TOC.md
  v3.1/reference/tools/data-migration/releases/1.0.3.md
  v3.1/reference/tools/data-migration/upgrade.md
Labels: aligned-with-docs-cn

#1722 releases: fix a release date
  dev/releases/3.1.0-beta.md
  v3.1/releases/3.1.0-beta.md
Labels: aligned-with-docs-cn

#1718 reference: add a note in alert rules doc
  dev/reference/alert-rules.md
  v3.0/reference/alert-rules.md
  v3.1/reference/alert-rules.md
Labels: aligned-with-docs-cn

#1726 reference: fix a typo
  dev/reference/performance/understanding-the-query-execution-plan.md
  v2.1-legacy/sql/understanding-the-query-execution-plan.md
  v2.1/reference/performance/understanding-the-query-execution-plan.md
  v3.0/reference/performance/understanding-the-query-execution-plan.md
  v3.1/reference/performance/understanding-the-query-execution-plan.md
Labels: aligned-with-docs-cn

#1719 tidb-operator: add a note to docker ulimit setting
  dev/tidb-in-kubernetes/deploy/tidb-operator.md
  v3.0/tidb-in-kubernetes/deploy/tidb-operator.md
  v3.1/tidb-in-kubernetes/deploy/tidb-operator.md
Labels: aligned-with-docs-cn

#1669 reference: add hibernate region config
  dev/reference/configuration/tikv-server/configuration-file.md
  v3.0/reference/configuration/tikv-server/configuration-file.md
  v3.1/reference/configuration/tikv-server/configuration-file.md
Labels: aligned-in-docs-cn

#1730 how-to/monitor: update prometheus config wrong format
  dev/how-to/monitor/monitor-a-cluster.md
  v3.0/how-to/monitor/monitor-a-cluster.md
  v3.1/how-to/monitor/monitor-a-cluster.md
Labels: aligned-with-docs-cn, dev, v3.0, v3.1

#1731 tidb-binlog: update wording
  dev/reference/tidb-binlog/overview.md
  dev/reference/tidb-binlog/tidb-binlog-kafka.md
  dev/reference/tidb-binlog/tidb-binlog-local.md
  dev/tidb-in-kubernetes/maintain/backup-and-restore.md
  v1.0/tools/tidb-binlog-kafka.md
  v1.0/tools/tidb-binlog.md
  v2.0/tools/tidb-binlog-kafka.md
  v2.0/tools/tidb-binlog.md
  v2.1-legacy/tools/tidb-binlog-cluster.md
  v2.1-legacy/tools/tidb-binlog-kafka.md
  v2.1-legacy/tools/tidb-binlog.md
  v2.1/reference/tidb-binlog/overview.md
  v2.1/reference/tidb-binlog/tidb-binlog-kafka.md
  v2.1/reference/tidb-binlog/tidb-binlog-local.md
  v3.0/reference/tidb-binlog/overview.md
  v3.0/reference/tidb-binlog/tidb-binlog-kafka.md
  v3.0/reference/tidb-binlog/tidb-binlog-local.md
  v3.0/tidb-in-kubernetes/maintain/backup-and-restore.md
  v3.1/reference/tidb-binlog/overview.md
  v3.1/reference/tidb-binlog/tidb-binlog-kafka.md
  v3.1/reference/tidb-binlog/tidb-binlog-local.md
  v3.1/tidb-in-kubernetes/maintain/backup-and-restore.md
Labels: align-N/A

#1734 how-to/deploy: update the ansible version
  dev/how-to/deploy/orchestrated/ansible.md
  v3.0/how-to/deploy/orchestrated/ansible.md
  v3.1/how-to/deploy/orchestrated/ansible.md
Labels: aligned-with-docs-cn, dev, v3.0, v3.1

#1732 releases, toc: add release notes 2.1.19
  dev/TOC.md
  dev/releases/2.1.19.md
  dev/releases/rn.md
  v2.1/TOC.md
  v2.1/releases/2.1.19.md
  v2.1/releases/rn.md
  v3.0/TOC.md
  v3.0/releases/2.1.19.md
  v3.0/releases/rn.md
  v3.1/TOC.md
  v3.1/releases/2.1.19.md
  v3.1/releases/rn.md
Labels: dev, v2.1, v3.0, v3.1

#1727 v3.0/how-to/scale/with-ansible:add_attention_pd
  dev/how-to/scale/with-ansible.md
  v3.0/how-to/scale/with-ansible.md
  v3.1/how-to/scale/with-ansible.md
Labels: aligned-with-docs-cn, dev, v3.0, v3.1

#1733 releases: update wording
  dev/releases/3.1.0-beta.md
  v3.1/releases/3.1.0-beta.md
Labels: aligned-with-docs-cn, dev, v3.1

#1735 tidb-in-kubernetes/get-started: add backquotes for tags
  dev/tidb-in-kubernetes/get-started/deploy-tidb-from-kubernetes-minikube.md
  v3.0/tidb-in-kubernetes/get-started/deploy-tidb-from-kubernetes-minikube.md
  v3.1/tidb-in-kubernetes/get-started/deploy-tidb-from-kubernetes-minikube.md
Labels: align-N/A, dev, small, v3.0, v3.1

#1737 reference/security: add certificate-based authentication doc
  dev/TOC.md
  dev/reference/security/cert-based-authentication.md
  dev/reference/security/compatibility.md
  v3.0/TOC.md
  v3.0/reference/security/cert-based-authentication.md
  v3.0/reference/security/compatibility.md
Labels: aligned-with-docs-cn, dev, follow-up, large, v3.0

#1738 releases, TOC: add TiDB 3.0.8 Release Notes
  dev/TOC.md
  dev/releases/3.0.8.md
  dev/releases/rn.md
  v3.0/TOC.md
  v3.0/releases/3.0.8.md
  v3.0/releases/rn.md
  v3.1/TOC.md
  v3.1/releases/3.0.8.md
  v3.1/releases/rn.md
Labels: DNM until Ansible tag is ready, aligned-with-docs-cn, dev, v3.0, v3.1
