Repository pingcap/docs, pull requests merged in 2019-06, with the labels that each got.

#1198 TOC, dev/how-to: update file position and refine wording
  TOC.md
Labels: refactor

#1206 tikv: remove the TiKV directory
  tikv/deploy-tikv-docker-compose.md
  tikv/deploy-tikv-using-ansible.md
  tikv/deploy-tikv-using-binary.md
  tikv/deploy-tikv-using-docker.md
  tikv/go-client-api.md
  tikv/tikv-overview.md
Labels: refactor

#1188 dev/reference/transaction: add transaction-pessimistic
  TOC.md
  dev/reference/transactions/transaction-pessimistic.md
Labels: v3.0

#1190 dev/how-to/maintain: update Usage Examples in slow query
  dev/how-to/maintain/identify-slow-queries.md
Labels: v3.0

#1231 faq/tidb: fix mis-linked file in FAQ
  dev/faq/tidb.md
  dev/reference/configuration/tidb-server/server-command-option.md
Labels: refactor

#1212 dev/reference/configuration: add TiDB specific variables for 3.0
  dev/reference/configuration/tidb-server/tidb-specific-variables.md
Labels: v3.0

#1235 tidb-in-kubernetes: migrate aws terraform deployment doc to docs repo
  tidb-in-kubernetes/aws-eks-tutorial.md
Labels: tidb-in-k8s, v3.0

#1236 tidb-in-kubernetes: migrate google deployment doc to docs repo
  tidb-in-kubernetes/gcp-gke-tutorial.md
  tidb-in-kubernetes/google-kubernetes-tutorial.md
Labels: tidb-in-k8s, v3.0

#1229 dev/reference/security: update description about "grant" to a non-exist user
  dev/reference/security/privilege-system.md
Labels: version-split-changes-required

#1261 how-to/maintain: fix broken link
  v2.1/TOC.md
  v2.1/how-to/maintain/identify-slow-queries-21.md
  v2.1/how-to/maintain/identify-slow-queries.md
Labels: v2.1

#1183 tools: add dm source-id length restriction
  dev/reference/tools/data-migration/configure/overview.md
  v2.1/reference/tools/data-migration/configure/overview.md
  v3.0/reference/tools/data-migration/configure/overview.md
Labels: dev, v2.1, v3.0

#1260 reference/transactions: improve version diffs
  dev/reference/mysql-compatibility.md
  dev/reference/transactions/transaction-model.md
  v2.1/reference/mysql-compatibility.md
  v2.1/reference/transactions/transaction-model.md
  v3.0/reference/mysql-compatibility.md
  v3.0/reference/transactions/transaction-model.md
Labels: dev, v2.1, v3.0

#1262 reference/sql/functions-and-operators: update list
  dev/reference/sql/functions-and-operators/bit-functions-and-operators.md
  dev/reference/sql/functions-and-operators/cast-functions-and-operators.md
  dev/reference/sql/functions-and-operators/control-flow-functions.md
  dev/reference/sql/functions-and-operators/date-and-time-functions.md
  dev/reference/sql/functions-and-operators/encryption-and-compression-functions.md
  dev/reference/sql/functions-and-operators/information-functions.md
  dev/reference/sql/functions-and-operators/miscellaneous-functions.md
  dev/reference/sql/functions-and-operators/numeric-functions-and-operators.md
  dev/reference/sql/functions-and-operators/string-functions.md
  v3.0/reference/sql/functions-and-operators/bit-functions-and-operators.md
  v3.0/reference/sql/functions-and-operators/cast-functions-and-operators.md
  v3.0/reference/sql/functions-and-operators/control-flow-functions.md
  v3.0/reference/sql/functions-and-operators/date-and-time-functions.md
  v3.0/reference/sql/functions-and-operators/encryption-and-compression-functions.md
  v3.0/reference/sql/functions-and-operators/information-functions.md
  v3.0/reference/sql/functions-and-operators/miscellaneous-functions.md
  v3.0/reference/sql/functions-and-operators/numeric-functions-and-operators.md
  v3.0/reference/sql/functions-and-operators/string-functions.md
Labels: dev, v3.0

#1249 reference/performance: add execution plan binding
  dev/TOC.md
  dev/reference/performance/execution-plan-bind.md
  v3.0/TOC.md
  v3.0/reference/performance/execution-plan-bind.md
Labels: dev, v3.0

#1275 dev, v2.1, v3.0: update links of migrating from csv
  dev/TOC.md
  v2.1/TOC.md
  v3.0/TOC.md
Labels: dev, v2.1, v3.0

#1273 dev, v3.0, v2.1: update transaction auto retry
  dev/reference/transactions/transaction-isolation.md
  v2.1/reference/transactions/transaction-isolation.md
  v2.1/reference/transactions/transaction-model.md
  v3.0/reference/transactions/transaction-isolation.md
Labels: dev, v2.1, v3.0

#1272 dev, v3, v2.1: update privilege table wording
  dev/reference/security/privilege-system.md
  dev/reference/security/user-account-management.md
  v2.1/reference/security/privilege-system.md
  v2.1/reference/security/user-account-management.md
  v3.0/reference/security/privilege-system.md
  v3.0/reference/security/user-account-management.md
Labels: dev, v2.1, v3.0

#1277 dev/v3.0/v2.1: fix wrong binlog links
  dev/TOC.md
  dev/how-to/deploy/tidb-binlog.md
  dev/how-to/maintain/tidb-binlog.md
  dev/how-to/monitor/tidb-binlog.md
  dev/how-to/upgrade/tidb-binlog.md
  dev/reference/tidb-binlog-overview.md
  v2.1/TOC.md
  v2.1/how-to/deploy/tidb-binlog.md
  v2.1/how-to/maintain/tidb-binlog.md
  v2.1/how-to/monitor/tidb-binlog.md
  v2.1/how-to/upgrade/tidb-binlog.md
  v2.1/reference/tidb-binlog-overview.md
  v3.0/TOC.md
  v3.0/how-to/deploy/tidb-binlog.md
  v3.0/how-to/maintain/tidb-binlog.md
  v3.0/how-to/monitor/tidb-binlog.md
  v3.0/how-to/upgrade/tidb-binlog.md
  v3.0/reference/tidb-binlog-overview.md
Labels: dev, v2.1, v3.0

#1274 dev, v3: add a doc of window functions
  dev/TOC.md
  dev/reference/sql/functions-and-operators/window-functions.md
Labels: dev, v3.0

#1282 v3.0/TOC, reference: add a doc of window functions
  v3.0/TOC.md
  v3.0/reference/sql/functions-and-operators/window-functions.md
Labels: dev, v3.0

#1266 dev/reference: update CHARSET and COLLATION info
  dev/TOC.md
  dev/reference/mysql-compatibility.md
  dev/reference/sql/character-set.md
  dev/reference/sql/statements/alter-database.md
  dev/reference/system-databases/information-schema.md
  v3.0/TOC.md
  v3.0/reference/mysql-compatibility.md
  v3.0/reference/sql/character-set.md
  v3.0/reference/sql/statements/alter-database.md
  v3.0/reference/system-databases/information-schema.md
Labels: dev, v3.0

#1270 dev, v3: add a doc of Role-Based Access Control
  dev/TOC.md
  dev/reference/security/role-based-access-control.md
  v3.0/TOC.md
  v3.0/reference/security/role-based-access-control.md
Labels: dev, v3.0

#1288 dev, v3.0: fix incorrect links
  dev/reference/mysql-compatibility.md
  v3.0/reference/mysql-compatibility.md
Labels: dev, v3.0

#1279 dev, v3.0, media: add v3.0 vs v2.1 sysbench benchmark results
  dev/benchmark/sysbench-v4.md
  media/sysbench_v4_point_select.png
  media/sysbench_v4_read_write.png
  media/sysbench_v4_update_index.png
  media/sysbench_v4_update_non_index.png
  v3.0/benchmark/how-to-run-sysbench.md
  v3.0/benchmark/sysbench-v4.md
Labels: dev, v3.0

#1276 dev, v3.0: add how to run TPC-C test
  dev/benchmark/how-to-run-tpcc.md
  v3.0/benchmark/how-to-run-sysbench.md
  v3.0/benchmark/how-to-run-tpcc.md
Labels: dev, v3.0

#1286 dev, v3.0: add tpcc test result
  dev/benchmark/tpcc.md
  media/tpcc-2.1-3.0.png
  v3.0/benchmark/tpcc.md
Labels: dev, v3.0

#1289 */releases, TOC: publish 3.0 GA release notes
  dev/TOC.md
  dev/releases/3.0-ga.md
  dev/releases/rn.md
  v3.0/TOC.md
  v3.0/releases/3.0-ga.md
  v3.0/releases/rn.md
Labels: dev, v3.0

#1291 releases: fix error in release note for 3.0 GA
  dev/releases/3.0-ga.md
  v3.0/releases/3.0-ga.md
Labels: dev, v3.0

#1290 Add 3.0 release to 2.1 manual
  v2.1/TOC.md
  v2.1/releases/3.0-ga.md
  v2.1/releases/rn.md
Labels: v2.1
