Repository pingcap/docs, pull requests merged in 2019-10, with the labels that each got.

#1528 3.0, dev: format and data update for dm benchmark
  dev/benchmark/dm-v1.0-ga.md
  v3.0/benchmark/dm-v1.0-ga.md
Labels: aligned-with-docs-cn, dev, v3.0

#1532 reference/garbage-collection: add a table to explain GC's configuration
  dev/reference/garbage-collection/configuration.md
  v3.0/reference/garbage-collection/configuration.md
Labels: aligned-with-docs-cn, dev, v3.0

#1533 reference: add tidb session variable description about `tidb_allow_remove_auto_inc`
  dev/reference/configuration/tidb-server/tidb-specific-variables.md
  dev/reference/mysql-compatibility.md
  v2.1/reference/configuration/tidb-server/tidb-specific-variables.md
  v2.1/reference/mysql-compatibility.md
  v3.0/reference/configuration/tidb-server/tidb-specific-variables.md
  v3.0/reference/mysql-compatibility.md
Labels: aligned-with-docs-cn, dev, v2.1, v3.0

#1550 release, TOC: add release notes for 3.0.4
  dev/TOC.md
  dev/releases/3.0.4.md
  dev/releases/rn.md
  v3.0/TOC.md
  v3.0/releases/3.0.4.md
  v3.0/releases/rn.md
Labels: aligned-with-docs-cn

#1568 reference: modify the default value description of tidb_distsql_scan_concurrency
  dev/reference/performance/statistics.md
  v2.1/reference/performance/statistics.md
  v3.0/reference/performance/statistics.md
Labels: aligned-with-docs-cn, dev, v2.1, v3.0

#1571 release: fix wording in release notes 3.0.4
  dev/releases/3.0.4.md
  v3.0/releases/3.0.4.md
Labels: aligned-with-docs-cn

#1569 reference/configurations: update configure items that will be removed in ansible template
  dev/reference/configuration/pd-server/configuration-file.md
  dev/reference/configuration/tidb-server/configuration-file.md
  dev/reference/configuration/tikv-server/configuration-file.md
  v3.0/reference/configuration/pd-server/configuration-file.md
  v3.0/reference/configuration/tidb-server/configuration-file.md
  v3.0/reference/configuration/tikv-server/configuration-file.md
Labels: aligned-with-docs-cn

#1564 reference: fix the default capacity of txn-local-latches
  dev/reference/configuration/tidb-server/configuration-file.md
  v3.0/reference/configuration/tidb-server/configuration-file.md
Labels: aligned-with-docs-cn, dev, v3.0

#1547 reference/configuration: add description of GLOBAL level of tidb_txn_mode variable
  dev/reference/configuration/tidb-server/tidb-specific-variables.md
  v3.0/reference/configuration/tidb-server/tidb-specific-variables.md
Labels: aligned-with-docs-cn, dev, v3.0

#1558 tidb-in-kubernetes: add tidb and tikv config hints
  dev/tidb-in-kubernetes/reference/configuration/tidb-cluster.md
  v3.0/tidb-in-kubernetes/reference/configuration/tidb-cluster.md
Labels: aligned-with-docs-cn, tidb-in-k8s

#1567 tidb-in-kubernetes: update aliyun deploy doc to be clearer
  dev/tidb-in-kubernetes/deploy/alibaba-cloud.md
  v3.0/tidb-in-kubernetes/deploy/alibaba-cloud.md
Labels: aligned-with-docs-cn, dev, tidb-in-k8s, v3.0

#1581 releases: fix a typo
  dev/releases/3.0.4.md
  v3.0/releases/3.0.4.md
Labels: aligned-in-docs-cn, dev, v3.0

#1529 tidb-in-kubernetes: support force upgrade when pd cluster is unavailable
  dev/tidb-in-kubernetes/upgrade/tidb-cluster.md
  v3.0/tidb-in-kubernetes/upgrade/tidb-cluster.md
Labels: aligned-with-docs-cn, dev, v3.0

#1471 how-to/upgrade: improve ansible-excessive_rolling_update document
  dev/TOC.md
  dev/how-to/upgrade/from-previous-version.md
  v2.1/how-to/upgrade/from-previous-version.md
  v3.0/how-to/upgrade/from-previous-version.md
Labels: aligned-with-docs-cn

#1559 reference: update the description of SQL_MODE
  dev/reference/mysql-compatibility.md
  dev/reference/sql/functions-and-operators/aggregate-group-by-functions.md
  v2.1/reference/mysql-compatibility.md
  v2.1/reference/sql/functions-and-operators/aggregate-group-by-functions.md
  v3.0/reference/mysql-compatibility.md
  v3.0/reference/sql/functions-and-operators/aggregate-group-by-functions.md
Labels: aligned-with-docs-cn

#1574 reference: update raftstore metric description
  dev/reference/key-monitoring-metrics/overview-dashboard.md
  v3.0/reference/key-monitoring-metrics/overview-dashboard.md
Labels: aligned-with-docs-cn

#1499 tidb-in-kubernetes: add default cluster requirements
  dev/tidb-in-kubernetes/deploy/general-kubernetes.md
  v3.0/tidb-in-kubernetes/deploy/general-kubernetes.md
Labels: aligned-with-docs-cn, dev, tidb-in-k8s, v3.0

#1552 how-to/scale: update pd-ctl command
  dev/how-to/scale/horizontally.md
  v2.1/how-to/scale/horizontally.md
  v3.0/how-to/scale/horizontally.md
Labels: aligned-with-docs-cn, dev, v2.1, v3.0

#1570 tidb-in-kubernetes: make deploy doc clearer on GCP
  dev/tidb-in-kubernetes/deploy/gcp-gke.md
  v3.0/tidb-in-kubernetes/deploy/gcp-gke.md
Labels: aligned-with-docs-cn, dev, tidb-in-k8s, v3.0

#1503 how-to/maintain: update slow log document (new)
  dev/how-to/maintain/identify-slow-queries.md
  v2.1/how-to/maintain/identify-slow-queries.md
  v3.0/how-to/maintain/identify-slow-queries.md
Labels: aligned-with-docs-cn

#1486 how-to, reference: add binlog slave client and reparo into TOC
  dev/TOC.md
  dev/how-to/deploy/tidb-binlog.md
  dev/reference/tidb-binlog-overview.md
  v2.1/TOC.md
  v2.1/how-to/deploy/tidb-binlog.md
  v2.1/reference/tidb-binlog-overview.md
  v3.0/TOC.md
  v3.0/how-to/deploy/tidb-binlog.md
  v3.0/reference/tidb-binlog-overview.md
Labels: aligned-with-docs-cn, dev, v2.1, v3.0

#1526 *: update the description of the foreign key
  dev/reference/sql/constraints.md
  v2.1/reference/sql/constraints.md
  v3.0/reference/sql/constraints.md
Labels: aligned-with-docs-cn, dev, v2.1, v3.0

#1554 tidb-in-kubernetes: add keepalive content in k8s troubleshooting
  dev/tidb-in-kubernetes/troubleshoot.md
  v3.0/tidb-in-kubernetes/troubleshoot.md
Labels: aligned-with-docs-cn, dev, v3.0

#1590 toc: refine the sequence of sql statements
  dev/TOC.md
  v2.1/TOC.md
  v3.0/TOC.md
Labels: aligned-in-docs-cn

#1544 reference/tools: update dm monitor
  dev/reference/tools/data-migration/monitor.md
  v2.1/reference/tools/data-migration/monitor.md
  v3.0/reference/tools/data-migration/monitor.md
Labels: aligned-with-docs-cn, dev, v2.1, v3.0

#1537 how-to/deploy: add a description to the environment configuration
  dev/how-to/deploy/hardware-recommendations.md
  v2.1/how-to/deploy/hardware-recommendations.md
  v3.0/how-to/deploy/hardware-recommendations.md
Labels: aligned-with-docs-cn, dev, v2.1, v3.0

#1587 reference/tools/tidb-binlog: add config items for Reparo
  dev/reference/tools/tidb-binlog/reparo.md
  v2.1/reference/tools/tidb-binlog/reparo.md
  v3.0/reference/tools/tidb-binlog/reparo.md
Labels: aligned-with-docs-cn, dev, v2.1, v3.0

#1555 tidb-in-kubernetes: add offline pump document
  dev/tidb-in-kubernetes/maintain/backup-and-restore.md
  v3.0/tidb-in-kubernetes/maintain/backup-and-restore.md
Labels: aligned-with-docs-cn, tidb-in-k8s

#1553 reference: update Tispark FAQ
  dev/reference/tispark.md
  v2.1/reference/tispark.md
  v3.0/reference/tispark.md
Labels: aligned-with-docs-cn, dev, v2.1, v3.0

#1572 faq: add "Information schema is changed" error content
  dev/faq/tidb.md
  v2.1/faq/tidb.md
  v3.0/faq/tidb.md
Labels: aligned-with-docs-cn, dev, v2.1, v3.0

#1561 reference: update TiSpark FAQ for dev and 3.0
  dev/reference/tispark.md
  v3.0/reference/tispark.md
Labels: aligned-with-docs-cn, dev, v3.0

#1582 tidb-in-kubernetes/get-started: fix grep error on macOS
  dev/tidb-in-kubernetes/get-started/deploy-tidb-from-kubernetes-minikube.md
  v3.0/tidb-in-kubernetes/get-started/deploy-tidb-from-kubernetes-minikube.md
Labels: dev, pending-aligning, v3.0

#1594 tidb-in-kubernetes: unify expressions of horizontal scaling
  dev/tidb-in-kubernetes/scale-in-kubernetes.md
  v3.0/tidb-in-kubernetes/scale-in-kubernetes.md
Labels: align-N/A

#1601 tidb-in-kubernetes: update the value of `net.ipv4.tcp_syncookies`
  dev/tidb-in-kubernetes/deploy/prerequisites.md
  v3.0/tidb-in-kubernetes/deploy/prerequisites.md
Labels: aligned-with-docs-cn, dev, tidb-in-k8s, v3.0

#1573 *: update documents for pre_split_regions
  dev/reference/sql/statements/create-table.md
  dev/reference/sql/statements/split-region.md
  v2.1/reference/sql/statements/create-table.md
  v2.1/reference/sql/statements/split-region.md
  v3.0/reference/sql/statements/create-table.md
  v3.0/reference/sql/statements/split-region.md
Labels: aligned-with-docs-cn, dev, v2.1, v3.0

#1603 *: fix many typos
  dev/how-to/get-started/deploy-tidb-from-binary.md
  dev/how-to/migrate/from-aurora.md
  dev/how-to/upgrade/from-previous-version.md
  dev/reference/sql/functions-and-operators/json-functions.md
  dev/reference/sql/statements/begin.md
  dev/reference/sql/statements/commit.md
  dev/reference/sql/statements/do.md
  dev/reference/sql/statements/show-create-user.md
  dev/reference/sql/statements/start-transaction.md
  dev/tidb-in-kubernetes/get-started/deploy-tidb-from-kubernetes-dind.md
  dev/tidb-in-kubernetes/get-started/deploy-tidb-from-kubernetes-minikube.md
  dev/tidb-in-kubernetes/reference/configuration/tidb-cluster.md
  v2.1/how-to/get-started/local-cluster/install-from-binary.md
  v2.1/how-to/migrate/from-aurora.md
  v2.1/reference/sql/statements/begin.md
  v2.1/reference/sql/statements/commit.md
  v2.1/reference/sql/statements/do.md
  v2.1/reference/sql/statements/show-create-user.md
  v2.1/reference/sql/statements/start-transaction.md
  v3.0/how-to/get-started/deploy-tidb-from-binary.md
  v3.0/how-to/migrate/from-aurora.md
  v3.0/how-to/upgrade/from-previous-version.md
  v3.0/reference/sql/functions-and-operators/json-functions.md
  v3.0/reference/sql/statements/begin.md
  v3.0/reference/sql/statements/commit.md
  v3.0/reference/sql/statements/do.md
  v3.0/reference/sql/statements/show-create-user.md
  v3.0/reference/sql/statements/start-transaction.md
  v3.0/tidb-in-kubernetes/get-started/deploy-tidb-from-kubernetes-dind.md
  v3.0/tidb-in-kubernetes/get-started/deploy-tidb-from-kubernetes-minikube.md
  v3.0/tidb-in-kubernetes/reference/configuration/tidb-cluster.md
Labels: align-N/A

#1597 referece/tools: add document for deploying dm with binary
  dev/how-to/deploy/data-migration-with-binary.md
  dev/reference/tools/data-migration/deploy.md
  v2.1/how-to/deploy/data-migration-with-binary.md
  v2.1/reference/tools/data-migration/deploy.md
  v3.0/how-to/deploy/data-migration-with-binary.md
  v3.0/reference/tools/data-migration/deploy.md
Labels: aligned-with-docs-cn, dev, v2.1, v3.0

#1556 reference/dm: refine dmctl commands doc in DM
  dev/reference/tools/data-migration/manage-tasks.md
  dev/reference/tools/data-migration/query-status.md
  v2.1/reference/tools/data-migration/manage-tasks.md
  v2.1/reference/tools/data-migration/query-status.md
  v3.0/reference/tools/data-migration/manage-tasks.md
  v3.0/reference/tools/data-migration/query-status.md
Labels: aligned-with-docs-cn

#1598 *: reorganize docs to keep 2.1 and 3.0 consistent
  dev/TOC.md
  dev/how-to/get-started/deploy-tidb-from-docker-compose.md
  dev/how-to/get-started/tispark.md
  v2.1/TOC.md
  v2.1/_index.md
  v2.1/how-to/deploy/from-tarball/production-environment.md
  v2.1/how-to/deploy/from-tarball/testing-environment.md
  v2.1/how-to/deploy/orchestrated/kubernetes.md
  v2.1/how-to/get-started/deploy-tidb-from-binary.md
  v2.1/how-to/get-started/local-cluster/install-from-kubernetes.md
  v2.1/how-to/get-started/tidb-binlog.md
  v2.1/how-to/get-started/tispark.md
  v2.1/how-to/maintain/identify-slow-queries-21.md
  v2.1/overview.md
  v3.0/TOC.md
  v3.0/how-to/get-started/tispark.md
Labels: aligned-in-docs-cn, refactor

#1575 reference: update parameter description in loader template
  dev/reference/tools/loader.md
  v2.1/reference/tools/loader.md
  v3.0/reference/tools/loader.md
Labels: aligned-with-docs-cn

#1596 references: update DM FAQ for 4GB binlog related errors
  dev/faq/data-migration.md
  v2.1/faq/data-migration.md
  v3.0/faq/data-migration.md
Labels: aligned-with-docs-cn

#1543 tidb-in-kubernetes: make procedures clearer for aws deployment
  dev/tidb-in-kubernetes/deploy/aws-eks.md
  v3.0/tidb-in-kubernetes/deploy/aws-eks.md
Labels: aligned-with-docs-cn, dev, tidb-in-k8s, v3.0

#1578 how-to/deploy: add usage precautions for labels
  dev/how-to/deploy/geographic-redundancy/location-awareness.md
  dev/how-to/deploy/orchestrated/ansible.md
  v2.1/how-to/deploy/geographic-redundancy/location-awareness.md
  v2.1/how-to/deploy/orchestrated/ansible.md
  v3.0/how-to/deploy/geographic-redundancy/location-awareness.md
  v3.0/how-to/deploy/orchestrated/ansible.md
Labels: aligned-with-docs-cn

#1498 benchmark: add sysbench in Kubernetes benchmark report
  dev/benchmark/sysbench-in-k8s.md
  media/sysbench-in-k8s/cos-vs-ubuntu-latency.png
  media/sysbench-in-k8s/cos-vs-ubuntu-qps.png
  media/sysbench-in-k8s/n1-standard-16-vs-c2-standard-16-latency.png
  media/sysbench-in-k8s/n1-standard-16-vs-c2-standard-16-qps.png
  media/sysbench-in-k8s/oltp-read-write-latency.png
  media/sysbench-in-k8s/oltp-read-write-qps.png
  media/sysbench-in-k8s/oltp-update-index-latency.png
  media/sysbench-in-k8s/oltp-update-index-qps.png
  media/sysbench-in-k8s/oltp-update-no-index-latency.png
  media/sysbench-in-k8s/oltp-update-no-index-qps.png
  media/sysbench-in-k8s/pod-vs-host-network-latency.png
  media/sysbench-in-k8s/pod-vs-host-network-qps.png
  media/sysbench-in-k8s/service-vs-load-balancer-latency.png
  media/sysbench-in-k8s/service-vs-load-balancer-qps.png
  media/sysbench-in-k8s/single-zonal-vs-regional-latency.png
  media/sysbench-in-k8s/single-zonal-vs-regional-qps.png
  v3.0/benchmark/sysbench-in-k8s.md
Labels: aligned-with-docs-cn, dev, tidb-in-k8s, v3.0

#1608 toc: add tidb-in-k8s benchmark toc
  dev/TOC.md
  v3.0/TOC.md
Labels: align-N/A

#1599 tools: refine black & white table lists and filtering rules in dm doc
  dev/reference/tools/data-migration/features/overview.md
  v2.1/reference/tools/data-migration/features/overview.md
  v3.0/reference/tools/data-migration/features/overview.md
Labels: aligned-with-docs-cn

#1610 releases: add TiDB 3.0.5 Release Notes
  dev/releases/3.0.5.md
  dev/releases/rn.md
  v3.0/releases/3.0.5.md
  v3.0/releases/rn.md
Labels: aligned-with-docs-cn

#1611 toc: add 3.0.5 Release Notes
  dev/TOC.md
  v3.0/TOC.md
Labels: aligned-in-docs-cn

#1602 faq: update TiDB Lightning FAQ
  dev/faq/tidb-lightning.md
  v2.1/faq/tidb-lightning.md
  v3.0/faq/tidb-lightning.md
Labels: aligned-with-docs-cn

#1600 tidb-in-kubernetes/get-started: add deploy-tidb-from-kubernetes-kind.md
  dev/TOC.md
  dev/tidb-in-kubernetes/get-started/deploy-tidb-from-kubernetes-kind.md
  v3.0/TOC.md
  v3.0/tidb-in-kubernetes/get-started/deploy-tidb-from-kubernetes-kind.md
Labels: aligned-with-docs-cn, dev, tidb-in-k8s, v3.0

#1595 benchmark: add online workloads and Add Index interaction test
  dev/TOC.md
  dev/benchmark/add-index-with-load.md
  media/add-index-load-1-b1024.png
  media/add-index-load-1-b128.png
  media/add-index-load-1-b2048.png
  media/add-index-load-1-b256.png
  media/add-index-load-1-b32.png
  media/add-index-load-1-b4096.png
  media/add-index-load-1-b512.png
  media/add-index-load-1-b64.png
  media/add-index-load-2-b1024.png
  media/add-index-load-2-b32.png
  media/add-index-load-2-b4096.png
  media/add-index-load-3-b1024.png
  media/add-index-load-3-b32.png
  media/add-index-load-3-b4096.png
  v3.0/TOC.md
  v3.0/benchmark/add-index-with-load.md
Labels: aligned-with-docs-cn

#1589 reference/transactions: update pessimistic doc
  dev/reference/transactions/transaction-pessimistic.md
  v3.0/reference/transactions/transaction-pessimistic.md
Labels: aligned-with-docs-cn

#1588 reference: add documentation for statement summary
  dev/TOC.md
  dev/reference/configuration/tidb-server/configuration-file.md
  dev/reference/configuration/tidb-server/tidb-specific-variables.md
  dev/reference/mysql-compatibility.md
  dev/reference/performance/statement-summary.md
  v3.0/TOC.md
  v3.0/reference/configuration/tidb-server/configuration-file.md
  v3.0/reference/configuration/tidb-server/tidb-specific-variables.md
  v3.0/reference/mysql-compatibility.md
  v3.0/reference/performance/statement-summary.md
Labels: aligned-with-docs-cn

#1585 *: refine binlogctl doc and add TiDB binlog faq
  dev/TOC.md
  dev/how-to/maintain/tidb-binlog.md
  dev/reference/tools/tidb-binlog/faq.md
  v2.1/TOC.md
  v2.1/how-to/maintain/tidb-binlog.md
  v2.1/reference/tools/tidb-binlog/faq.md
  v3.0/TOC.md
  v3.0/how-to/maintain/tidb-binlog.md
  v3.0/reference/tools/tidb-binlog/faq.md
Labels: aligned-with-docs-cn, dev, v2.1, v3.0

#1605 reference: concentrate binlog documents
  dev/TOC.md
  dev/how-to/deploy/orchestrated/ansible.md
  dev/how-to/get-started/tidb-binlog.md
  dev/how-to/upgrade/from-previous-version.md
  dev/reference/tools/download.md
  dev/reference/tools/tidb-binlog/deploy.md
  dev/reference/tools/tidb-binlog/faq.md
  dev/reference/tools/tidb-binlog/maintain.md
  dev/reference/tools/tidb-binlog/monitor.md
  dev/reference/tools/tidb-binlog/overview.md
  dev/reference/tools/tidb-binlog/upgrade.md
  dev/releases/2.1ga.md
  dev/tidb-in-kubernetes/maintain/backup-and-restore.md
  dev/tidb-in-kubernetes/maintain/tidb-binlog.md
  v2.1/TOC.md
  v2.1/how-to/deploy/orchestrated/ansible.md
  v2.1/how-to/get-started/tidb-binlog-cnf.tgz
  v2.1/how-to/get-started/tidb-binlog.md
  v2.1/how-to/upgrade/from-previous-version.md
  v2.1/reference/tools/download.md
  v2.1/reference/tools/sync-diff-inspector/overview.md
  v2.1/reference/tools/tidb-binlog/deploy.md
  v2.1/reference/tools/tidb-binlog/faq.md
  v2.1/reference/tools/tidb-binlog/maintain.md
  v2.1/reference/tools/tidb-binlog/monitor.md
  v2.1/reference/tools/tidb-binlog/overview.md
  v2.1/reference/tools/tidb-binlog/upgrade.md
  v2.1/releases/2.1ga.md
  v3.0/TOC.md
  v3.0/how-to/deploy/orchestrated/ansible.md
  v3.0/how-to/get-started/tidb-binlog.md
  v3.0/how-to/upgrade/from-previous-version.md
  v3.0/reference/tools/download.md
  v3.0/reference/tools/sync-diff-inspector/overview.md
  v3.0/reference/tools/tidb-binlog/deploy.md
  v3.0/reference/tools/tidb-binlog/faq.md
  v3.0/reference/tools/tidb-binlog/maintain.md
  v3.0/reference/tools/tidb-binlog/monitor.md
  v3.0/reference/tools/tidb-binlog/overview.md
  v3.0/reference/tools/tidb-binlog/upgrade.md
  v3.0/releases/2.1ga.md
  v3.0/tidb-in-kubernetes/maintain/backup-and-restore.md
  v3.0/tidb-in-kubernetes/maintain/tidb-binlog.md
Labels: aligned-with-docs-cn, refactor

#1615 *: remove transaction kv count limit
  dev/faq/tidb.md
  dev/reference/transactions/transaction-model.md
  dev/tidb-in-kubernetes/reference/configuration/tidb-cluster.md
  v3.0/tidb-in-kubernetes/reference/configuration/tidb-cluster.md
Labels: aligned-with-docs-cn, dev

#1616 tidb-in-kubernetes: update key and namespace name and improve tidb-operator customization
  dev/tidb-in-kubernetes/deploy/aws-eks.md
  v3.0/tidb-in-kubernetes/deploy/aws-eks.md
Labels: aligned-with-docs-cn, dev, tidb-in-k8s, v3.0

#1619 media: update tidb-operator-overview image
  dev/tidb-in-kubernetes/tidb-operator-overview.md
  media/tidb-operator-overview.png
  v3.0/tidb-in-kubernetes/tidb-operator-overview.md
Labels: aligned-with-docs-cn

#1621 reference/security: remove skip-grant-table config
  dev/reference/security/user-account-management.md
  v2.1/reference/security/user-account-management.md
  v3.0/reference/security/user-account-management.md
Labels: aligned-with-docs-cn, dev, v2.1, v3.0

#1606 how-to/maintain: fix format and content of from-previous-version doc
  dev/how-to/upgrade/from-previous-version.md
  v2.1/how-to/upgrade/from-previous-version.md
  v3.0/how-to/upgrade/from-previous-version.md
Labels: align-N/A

#1484 *: add storage class document and aliases
  dev/TOC.md
  dev/tidb-in-kubernetes/deploy/general-kubernetes.md
  dev/tidb-in-kubernetes/deploy/tidb-operator.md
  dev/tidb-in-kubernetes/reference/configuration/local-pv.md
  dev/tidb-in-kubernetes/reference/configuration/storage-class.md
  dev/tidb-in-kubernetes/tidb-operator-overview.md
  dev/tidb-in-kubernetes/troubleshoot.md
  v3.0/TOC.md
  v3.0/tidb-in-kubernetes/deploy/general-kubernetes.md
  v3.0/tidb-in-kubernetes/deploy/tidb-operator.md
  v3.0/tidb-in-kubernetes/reference/configuration/local-pv.md
  v3.0/tidb-in-kubernetes/reference/configuration/storage-class.md
  v3.0/tidb-in-kubernetes/tidb-operator-overview.md
  v3.0/tidb-in-kubernetes/troubleshoot.md
Labels: aligned-with-docs-cn, tidb-in-k8s

#1617 tidb-binlog: add `-show-offline-nodes` parameter in binlogctl doc
  dev/reference/tools/tidb-binlog/maintain.md
  v2.1/reference/tools/tidb-binlog/maintain.md
  v3.0/reference/tools/tidb-binlog/maintain.md
Labels: aligned-with-docs-cn, dev, v2.1, v3.0
