Repository pingcap/docs, pull requests merged in 2019-11, with the labels that each got.

#1488 reference/sql: add declaration for utf8 checking
  dev/reference/sql/character-set.md
  v2.1/reference/sql/character-set.md
  v3.0/reference/sql/character-set.md
Labels: aligned-with-docs-cn, dev, v2.1, v3.0

#1624 Fix 14 broken links
  dev/reference/supported-clients.md
  dev/reference/tools/data-migration/configure/task-configuration-file.md
  dev/tidb-in-kubernetes/get-started/deploy-tidb-from-kubernetes-kind.md
  v2.1/reference/supported-clients.md
  v2.1/reference/tools/data-migration/configure/task-configuration-file.md
  v3.0/reference/supported-clients.md
  v3.0/reference/tools/data-migration/configure/task-configuration-file.md
  v3.0/tidb-in-kubernetes/get-started/deploy-tidb-from-kubernetes-kind.md
Labels: aligned-with-docs-cn, dev, seo, v2.1, v3.0

#1626 reference/configuration: fix feature introduced-version
  dev/reference/configuration/tidb-server/tidb-specific-variables.md
  v2.1/reference/configuration/tidb-server/tidb-specific-variables.md
Labels: aligned-with-docs-cn

#1607 tidb-in-kubernets: refine kubernetes and tidb deployment docs
  dev/tidb-in-kubernetes/deploy/general-kubernetes.md
  dev/tidb-in-kubernetes/tidb-operator-overview.md
  v3.0/tidb-in-kubernetes/deploy/general-kubernetes.md
  v3.0/tidb-in-kubernetes/tidb-operator-overview.md
Labels: aligned-with-docs-cn, dev, tidb-in-k8s, v3.0

#1627 releases: add 2.1.18 release notes
  dev/TOC.md
  dev/releases/2.1.18.md
  dev/releases/rn.md
  v2.1/TOC.md
  v2.1/releases/2.1.18.md
  v2.1/releases/rn.md
  v3.0/TOC.md
  v3.0/releases/2.1.18.md
  v3.0/releases/rn.md
Labels: aligned-with-docs-cn

#1612 how-to/monitor: update manual deploy monitor
  dev/how-to/monitor/monitor-a-cluster.md
  v3.0/how-to/monitor/monitor-a-cluster.md
Labels: aligned-with-docs-cn, dev, v3.0

#1586 tidb-in-kubernetes/troubleshoot: notes about "cluster-id mismatch"
  dev/tidb-in-kubernetes/troubleshoot.md
  v3.0/tidb-in-kubernetes/troubleshoot.md
Labels: aligned-with-docs-cn, dev, tidb-in-k8s, v3.0

#1629 how-to: update ansible disk formatting doc
  dev/how-to/deploy/orchestrated/ansible.md
  v2.1/how-to/deploy/orchestrated/ansible.md
  v3.0/how-to/deploy/orchestrated/ansible.md
Labels: aligned-with-docs-cn

#1565 how-to/deploy: update a file name for TiDB Binlog
  dev/reference/tools/tidb-binlog/deploy.md
  v3.0/reference/tools/tidb-binlog/deploy.md
Labels: aligned-with-docs-cn, dev, v3.0

#1614 data-migration: add dm error description doc
  dev/TOC.md
  dev/reference/tools/data-migration/error-system.md
  v3.0/TOC.md
  v3.0/reference/tools/data-migration/error-system.md
Labels: aligned-with-docs-cn, dev, v3.0

#1613 tidb-in-kubernetes: add permitHost part
  dev/tidb-in-kubernetes/initialize-cluster.md
  v3.0/tidb-in-kubernetes/initialize-cluster.md
Labels: aligned-with-docs-cn, tidb-in-k8s

#1593 how-to/troubleshoot: update tidb-lightning error
  dev/how-to/troubleshoot/tidb-lightning.md
  v2.1/how-to/troubleshoot/tidb-lightning.md
  v3.0/how-to/troubleshoot/tidb-lightning.md
Labels: aligned-in-docs-cn, dev, v2.1, v3.0

#1631 */reference/tools: refine DM TOC
  dev/TOC.md
  v2.1/TOC.md
  v3.0/TOC.md
Labels: aligned-with-docs-cn, refactor

#1625 tools/tidb-binlog: update binlog deploy info
  dev/reference/tools/tidb-binlog/deploy.md
  v2.1/reference/tools/tidb-binlog/deploy.md
  v2.1/reference/tools/tidb-binlog/faq.md
  v3.0/reference/tools/tidb-binlog/deploy.md
  v3.0/reference/tools/tidb-binlog/faq.md
Labels: aligned-with-docs-cn, dev, v2.1, v3.0

#1632 data-migration: add solution for argument-list too long error
  dev/reference/tools/data-migration/error-system.md
  v3.0/reference/tools/data-migration/error-system.md
Labels: aligned-with-docs-cn, dev, v3.0

#1633 reference/tools: update pd-ctl flags
  dev/reference/tools/pd-control.md
  v2.1/reference/tools/pd-control.md
  v3.0/reference/tools/pd-control.md
Labels: aligned-with-docs-cn

#1636 *: add TiDB Playground to try SQL
  dev/TOC.md
  dev/how-to/get-started/explore-sql.md
  v2.1/TOC.md
  v2.1/how-to/get-started/explore-sql.md
  v3.0/TOC.md
  v3.0/how-to/get-started/explore-sql.md
Labels: pending-aligning

#1628 tidb-in-kubernetes: update pod pending case to satisfy HA policy
  dev/tidb-in-kubernetes/troubleshoot.md
  v3.0/tidb-in-kubernetes/troubleshoot.md
Labels: aligned-with-docs-cn, tidb-in-k8s

#1577 reference: refine components migration of DM
  dev/reference/tools/data-migration/cluster-operations.md
  v2.1/reference/tools/data-migration/cluster-operations.md
  v3.0/reference/tools/data-migration/cluster-operations.md
Labels: aligned-with-docs-cn, dev, v2.1, v3.0

#1609 tidb-in-kubernetes: add one faq item
  dev/tidb-in-kubernetes/faq.md
  dev/tidb-in-kubernetes/tidb-operator-overview.md
  v3.0/tidb-in-kubernetes/faq.md
  v3.0/tidb-in-kubernetes/tidb-operator-overview.md
Labels: aligned-with-docs-cn, dev, tidb-in-k8s, v3.0

#1635 *: update TiDB parameters, delete command option file
  dev/faq/tidb.md
  dev/reference/configuration/tidb-server/configuration-file.md
  dev/reference/configuration/tidb-server/configuration.md
  dev/reference/configuration/tidb-server/server-command-option.md
  v2.1/faq/tidb.md
  v2.1/reference/configuration/tidb-server/configuration-file.md
  v2.1/reference/configuration/tidb-server/configuration.md
  v2.1/reference/configuration/tidb-server/server-command-option.md
  v3.0/faq/tidb.md
  v3.0/reference/configuration/tidb-server/configuration-file.md
  v3.0/reference/configuration/tidb-server/configuration.md
  v3.0/reference/configuration/tidb-server/server-command-option.md
Labels: aligned-with-docs-cn

#1638 *: fix 18 broken links
  dev/releases/2.1.18.md
  dev/releases/21rc5.md
  dev/tidb-in-kubernetes/deploy/alibaba-cloud.md
  dev/tidb-in-kubernetes/deploy/aws-eks.md
  dev/tidb-in-kubernetes/deploy/gcp-gke.md
  dev/tidb-in-kubernetes/get-started/deploy-tidb-from-kubernetes-dind.md
  v2.1/releases/2.1.18.md
  v2.1/releases/21rc5.md
  v3.0/releases/2.1.18.md
  v3.0/releases/21rc5.md
  v3.0/tidb-in-kubernetes/deploy/alibaba-cloud.md
  v3.0/tidb-in-kubernetes/deploy/aws-eks.md
  v3.0/tidb-in-kubernetes/deploy/gcp-gke.md
  v3.0/tidb-in-kubernetes/get-started/deploy-tidb-from-kubernetes-dind.md
Labels: dev, seo, v2.1, v3.0

#1592 reference, faq: update ddl doc
  dev/faq/tidb.md
  v2.1/faq/tidb.md
  v2.1/reference/mysql-compatibility.md
  v3.0/faq/tidb.md
Labels: aligned-with-docs-cn, dev, follow-up, v2.1, v3.0

#1640 generate v3.1 PDF
  scripts/generate_pdf.sh
  scripts/merge_by_toc.py
Labels: website

#1642 .github: update version description in PR template
  .github/pull_request_template.md
Labels: aligned-with-docs-cn

#1584 *: add schema related FAQ and description of `tidb_max_delta_schema_count`
  dev/faq/tidb.md
  dev/reference/configuration/tidb-server/tidb-specific-variables.md
  v2.1/faq/tidb.md
  v2.1/reference/configuration/tidb-server/tidb-specific-variables.md
  v3.0/faq/tidb.md
  v3.0/reference/configuration/tidb-server/tidb-specific-variables.md
  v3.1/faq/tidb.md
  v3.1/reference/configuration/tidb-server/tidb-specific-variables.md
Labels: aligned-with-docs-cn

#1644 *: refactor DM faq and troubleshooting
  dev/TOC.md
  dev/faq/data-migration.md
  dev/how-to/troubleshoot/data-migration.md
  dev/reference/tools/data-migration/faq.md
  dev/reference/tools/data-migration/overview.md
  dev/reference/tools/data-migration/troubleshoot/dm.md
  dev/reference/tools/data-migration/troubleshoot/error-handling.md
  dev/reference/tools/data-migration/troubleshoot/error-system.md
  v2.1/TOC.md
  v2.1/faq/data-migration.md
  v2.1/how-to/troubleshoot/data-migration.md
  v2.1/reference/tools/data-migration/faq.md
  v2.1/reference/tools/data-migration/overview.md
  v2.1/reference/tools/data-migration/troubleshoot/dm.md
  v2.1/reference/tools/data-migration/troubleshoot/error-handling.md
  v2.1/reference/tools/data-migration/troubleshoot/error-system.md
  v3.0/TOC.md
  v3.0/faq/data-migration.md
  v3.0/how-to/troubleshoot/data-migration.md
  v3.0/reference/tools/data-migration/faq.md
  v3.0/reference/tools/data-migration/overview.md
  v3.0/reference/tools/data-migration/troubleshoot/dm.md
  v3.0/reference/tools/data-migration/troubleshoot/error-handling.md
  v3.0/reference/tools/data-migration/troubleshoot/error-system.md
  v3.1/TOC.md
  v3.1/faq/data-migration.md
  v3.1/how-to/troubleshoot/data-migration.md
  v3.1/reference/tools/data-migration/faq.md
  v3.1/reference/tools/data-migration/overview.md
  v3.1/reference/tools/data-migration/troubleshoot/dm.md
  v3.1/reference/tools/data-migration/troubleshoot/error-handling.md
  v3.1/reference/tools/data-migration/troubleshoot/error-system.md
Labels: aligned-with-docs-cn, refactor

#1646 v2.1/*: delete "show create user"
  v2.1/TOC.md
  v2.1/reference/sql/statements/alter-user.md
  v2.1/reference/sql/statements/create-user.md
  v2.1/reference/sql/statements/drop-user.md
  v2.1/reference/sql/statements/set-password.md
  v2.1/reference/sql/statements/show-create-user.md
  v2.1/reference/sql/statements/show-grants.md
Labels: aligned-with-docs-cn, v2.1

#1651 dev/tidb-in-kubernetes: improve GKE deployment doc
  dev/tidb-in-kubernetes/deploy/gcp-gke.md
  v3.0/tidb-in-kubernetes/deploy/gcp-gke.md
  v3.1/tidb-in-kubernetes/deploy/gcp-gke.md
Labels: tidb-in-k8s

#1652 reference: replace `disable-timestamp` with `enable-timestamp`
  dev/reference/configuration/tidb-server/configuration-file.md
Labels: aligned-with-docs-cn, dev

#1620 tools/tidb-lightning: document backend and that system DBs are filtered
  dev/reference/tools/download.md
  dev/reference/tools/tidb-lightning/config.md
  dev/reference/tools/tidb-lightning/deployment.md
  dev/reference/tools/tidb-lightning/overview.md
  dev/reference/tools/tidb-lightning/table-filter.md
  dev/reference/tools/tidb-lightning/tidb-backend.md
  v2.1/reference/tools/download.md
  v3.0/reference/tools/download.md
  v3.0/reference/tools/tidb-lightning/deployment.md
  v3.0/reference/tools/tidb-lightning/overview.md
  v3.0/reference/tools/tidb-lightning/table-filter.md
  v3.0/reference/tools/tidb-lightning/tidb-backend.md
  v3.1/reference/tools/download.md
  v3.1/reference/tools/tidb-lightning/deployment.md
  v3.1/reference/tools/tidb-lightning/overview.md
  v3.1/reference/tools/tidb-lightning/table-filter.md
  v3.1/reference/tools/tidb-lightning/tidb-backend.md
Labels: pending-aligning, queeny-test-suggested

#1650 tools: add `sql-mode` config for sync-diff-inspector
  dev/reference/tools/sync-diff-inspector/overview.md
  v2.1/reference/tools/sync-diff-inspector/overview.md
  v3.0/reference/tools/sync-diff-inspector/overview.md
  v3.1/reference/tools/sync-diff-inspector/overview.md
Labels: aligned-with-docs-cn

#1656 tidb-in-kubernetes: delete all content about DinD
  dev/TOC.md
  dev/_index.md
  dev/overview.md
  dev/tidb-in-kubernetes/deploy/tidb-operator.md
  dev/tidb-in-kubernetes/get-started/deploy-tidb-from-kubernetes-dind.md
  dev/tidb-in-kubernetes/get-started/deploy-tidb-from-kubernetes-kind.md
  dev/tidb-in-kubernetes/get-started/deploy-tidb-from-kubernetes-minikube.md
  dev/tidb-in-kubernetes/tidb-operator-overview.md
  v3.0/TOC.md
  v3.0/_index.md
  v3.0/overview.md
  v3.0/tidb-in-kubernetes/deploy/tidb-operator.md
  v3.0/tidb-in-kubernetes/get-started/deploy-tidb-from-kubernetes-dind.md
  v3.0/tidb-in-kubernetes/get-started/deploy-tidb-from-kubernetes-kind.md
  v3.0/tidb-in-kubernetes/get-started/deploy-tidb-from-kubernetes-minikube.md
  v3.0/tidb-in-kubernetes/tidb-operator-overview.md
  v3.1/TOC.md
  v3.1/_index.md
  v3.1/overview.md
  v3.1/tidb-in-kubernetes/deploy/tidb-operator.md
  v3.1/tidb-in-kubernetes/get-started/deploy-tidb-from-kubernetes-dind.md
  v3.1/tidb-in-kubernetes/get-started/deploy-tidb-from-kubernetes-kind.md
  v3.1/tidb-in-kubernetes/get-started/deploy-tidb-from-kubernetes-minikube.md
  v3.1/tidb-in-kubernetes/tidb-operator-overview.md
Labels: aligned-with-docs-cn

#1657 benchmark: update sysbench config
  dev/benchmark/how-to-run-sysbench.md
  dev/benchmark/sysbench-v4.md
  v2.1/benchmark/how-to-run-sysbench.md
  v3.0/benchmark/how-to-run-sysbench.md
  v3.0/benchmark/sysbench-v4.md
  v3.1/benchmark/how-to-run-sysbench.md
  v3.1/benchmark/sysbench-v4.md
Labels: aligned-with-docs-cn, dev, v2.1, v3.0, v3.1

#1647 *: update dm upgrade doc and add v1.0.2 / v1.0.1
  dev/TOC.md
  dev/reference/tools/data-migration/upgrade.md
  v2.1/TOC.md
  v2.1/reference/tools/data-migration/upgrade.md
  v3.0/TOC.md
  v3.0/reference/tools/data-migration/upgrade.md
  v3.1/TOC.md
  v3.1/reference/tools/data-migration/upgrade.md
Labels: aligned-with-docs-cn, dev, v2.1, v3.0, v3.1

#1548 reference/tools: add error cases for ET
  dev/reference/tools/error-case-handling/lightning-misuse-handling.md
  dev/reference/tools/error-case-handling/load-misuse-handling.md
  v3.0/reference/tools/error-case-handling/lightning-misuse-handling.md
  v3.0/reference/tools/error-case-handling/load-misuse-handling.md
  v3.1/reference/tools/error-case-handling/lightning-misuse-handling.md
  v3.1/reference/tools/error-case-handling/load-misuse-handling.md
Labels: aligned-with-docs-cn, dev, follow-up, v3.0, v3.1

#1660 reference: add version info for the MEM column
  v3.0/reference/system-databases/information-schema.md
Labels: aligned-with-docs-cn, v3.0

#1641 circleci: upload v3.1 PDF
  .circleci/config.yml
Labels: aligned-with-docs-cn, website

#1623 tidb-in-kubernetes: add local pv example
  dev/tidb-in-kubernetes/deploy/tidb-operator.md
  dev/tidb-in-kubernetes/reference/configuration/storage-class.md
  v3.0/tidb-in-kubernetes/deploy/tidb-operator.md
  v3.0/tidb-in-kubernetes/reference/configuration/storage-class.md
  v3.1/tidb-in-kubernetes/deploy/tidb-operator.md
  v3.1/tidb-in-kubernetes/reference/configuration/storage-class.md
Labels: aligned-with-docs-cn, dev, tidb-in-k8s, v3.0, v3.1

#1665 *: update column_name description
  dev/reference/performance/statistics.md
  v2.1/reference/performance/statistics.md
  v3.0/reference/performance/statistics.md
  v3.1/reference/performance/statistics.md
Labels: aligned-with-docs-cn

#1662 tools: update download urls
  dev/reference/tools/download.md
  v2.1/reference/tools/download.md
  v3.0/reference/tools/download.md
  v3.1/reference/tools/download.md
Labels: aligned-with-docs-cn, dev, follow-up, v2.1, v3.0, v3.1

#1630 *: add best practices for highly concurrent write scenario
  dev/TOC.md
  dev/reference/best-practices/high-concurrency.md
  media/best-practices/QPS1.png
  media/best-practices/QPS2.png
  media/best-practices/QPS3.png
  media/best-practices/QPS4.png
  media/best-practices/QPS5.png
  media/best-practices/QPS6.png
  media/best-practices/QPS7.png
  media/best-practices/QPS8.png
  media/best-practices/table-Region-range.png
  media/best-practices/tidb-data-overview.png
  media/best-practices/tikv-Region-split.png
  v3.0/TOC.md
  v3.0/reference/best-practices/high-concurrency.md
  v3.1/TOC.md
  v3.1/reference/best-practices/high-concurrency.md
Labels: aligned-with-docs-cn, best-practices, dev, v3.0, v3.1

#1659 tools: add one syncer check description
  dev/reference/tools/syncer.md
  v2.1/reference/tools/syncer.md
  v3.0/reference/tools/syncer.md
  v3.1/reference/tools/syncer.md
Labels: aligned-with-docs-cn, dev, v2.1, v3.0, v3.1

#1658 tidb-lightning: add max-open-engines description
  v2.1/reference/tools/tidb-lightning/deployment.md
  v3.0/reference/tools/tidb-lightning/deployment.md
  v3.1/reference/tools/tidb-lightning/deployment.md
Labels: aligned-with-docs-cn, v2.1, v3.0, v3.1

#1579 reference, toc: add a list of pushdown operators
  dev/TOC.md
  dev/reference/sql/functions-and-operators/expressions-pushed-down.md
  dev/reference/sql/functions-and-operators/reference.md
  v3.0/TOC.md
  v3.0/reference/sql/functions-and-operators/expressions-pushed-down.md
  v3.0/reference/sql/functions-and-operators/reference.md
  v3.1/TOC.md
  v3.1/reference/sql/functions-and-operators/expressions-pushed-down.md
  v3.1/reference/sql/functions-and-operators/reference.md
Labels: aligned-with-docs-cn, dev, v3.0

#1666 dev, v3.0, v3.1: add GC I/O limit
  dev/reference/garbage-collection/configuration.md
  v3.0/reference/garbage-collection/configuration.md
  v3.1/reference/garbage-collection/configuration.md
Labels: aligned-with-docs-cn, dev, v3.0, v3.1

#1604 reference: add a best practice of DM in sharding scenario
  dev/TOC.md
  dev/reference/tools/data-migration/features/overview.md
  dev/reference/tools/data-migration/usage-scenarios/best-practice-dm-shard.md
  v2.1/TOC.md
  v2.1/reference/tools/data-migration/features/overview.md
  v2.1/reference/tools/data-migration/usage-scenarios/best-practice-dm-shard.md
  v3.0/TOC.md
  v3.0/reference/tools/data-migration/features/overview.md
  v3.0/reference/tools/data-migration/usage-scenarios/best-practice-dm-shard.md
  v3.1/TOC.md
  v3.1/reference/tools/data-migration/features/overview.md
  v3.1/reference/tools/data-migration/usage-scenarios/best-practice-dm-shard.md
Labels: aligned-with-docs-cn, dev, v2.1, v3.0, v3.1

#1672 tidb-in-kubernetes: improve doc for K8s cluster management
  dev/tidb-in-kubernetes/deploy/gcp-gke.md
  v3.0/tidb-in-kubernetes/deploy/gcp-gke.md
  v3.1/tidb-in-kubernetes/deploy/gcp-gke.md
Labels: aligned-with-docs-cn, tidb-in-k8s

#1618 *: remove column mapping from dm docs
  dev/TOC.md
  dev/how-to/get-started/data-migration.md
  dev/reference/tools/data-migration/configure/task-configuration-file.md
  dev/reference/tools/data-migration/manage-tasks.md
  dev/reference/tools/data-migration/overview.md
  dev/reference/tools/data-migration/usage-scenarios/best-practice-dm-shard.md
  dev/reference/tools/data-migration/usage-scenarios/shard-merge.md
  v2.1/TOC.md
  v2.1/how-to/get-started/data-migration.md
  v2.1/reference/tools/data-migration/configure/task-configuration-file.md
  v2.1/reference/tools/data-migration/manage-tasks.md
  v2.1/reference/tools/data-migration/overview.md
  v2.1/reference/tools/data-migration/usage-scenarios/best-practice-dm-shard.md
  v2.1/reference/tools/data-migration/usage-scenarios/shard-merge.md
  v3.0/TOC.md
  v3.0/how-to/get-started/data-migration.md
  v3.0/reference/tools/data-migration/configure/task-configuration-file.md
  v3.0/reference/tools/data-migration/manage-tasks.md
  v3.0/reference/tools/data-migration/overview.md
  v3.0/reference/tools/data-migration/usage-scenarios/best-practice-dm-shard.md
  v3.0/reference/tools/data-migration/usage-scenarios/shard-merge.md
  v3.1/TOC.md
  v3.1/how-to/get-started/data-migration.md
  v3.1/reference/tools/data-migration/configure/task-configuration-file.md
  v3.1/reference/tools/data-migration/manage-tasks.md
  v3.1/reference/tools/data-migration/overview.md
  v3.1/reference/tools/data-migration/usage-scenarios/best-practice-dm-shard.md
  v3.1/reference/tools/data-migration/usage-scenarios/shard-merge.md
Labels: aligned-with-docs-cn, dev, v2.1, v3.0

#1667 dev, v2.1, v3.0, v3.1: update Spark cluster config
  dev/reference/tispark.md
  v2.1-legacy/tispark/tispark-user-guide.md
  v2.1/reference/tispark.md
  v2.1/tispark/tispark-user-guide_v1.x.md
  v3.0/reference/tispark.md
  v3.1/reference/tispark.md
Labels: aligned-with-docs-cn, dev, v2.1, v3.0, v3.1

#1677 tools: fix tidb-enterprise-tools description
  dev/reference/tools/download.md
  v2.1/reference/tools/download.md
  v3.0/reference/tools/download.md
  v3.1/reference/tools/download.md
Labels: aligned-with-docs-cn

#1654 *: update offline deployment
  dev/how-to/deploy/orchestrated/offline-ansible.md
  v2.1/how-to/deploy/orchestrated/offline-ansible.md
  v3.0/how-to/deploy/orchestrated/offline-ansible.md
  v3.1/how-to/deploy/orchestrated/offline-ansible.md
Labels: aligned-with-docs-cn

#1671 deploy: update dm-ansible's download description
  dev/how-to/deploy/data-migration-with-ansible.md
  v2.1/how-to/deploy/data-migration-with-ansible.md
  v3.0/how-to/deploy/data-migration-with-ansible.md
  v3.1/how-to/deploy/data-migration-with-ansible.md
Labels: aligned-with-docs-cn

#1678 dev, v3.0, v3.1: add TiDB 3.0.6 Release Notes
  dev/TOC.md
  dev/releases/3.0.6.md
  dev/releases/rn.md
  v3.0/TOC.md
  v3.0/releases/3.0.6.md
  v3.0/releases/rn.md
  v3.1/TOC.md
  v3.1/releases/3.0.6.md
  v3.1/releases/rn.md
Labels: DNM, aligned-with-docs-cn, dev, v3.0, v3.1

#1670 tools: fix a usage of setting a region to tombstone
  dev/reference/tools/tikv-control.md
  v2.1/reference/tools/tikv-control.md
  v3.0/reference/tools/tikv-control.md
  v3.1/reference/tools/tikv-control.md
Labels: aligned-with-docs-cn

#1679 v3.0, v3.1, dev: add missed PRs in 3.0.6
  dev/releases/3.0.6.md
  v3.0/releases/3.0.6.md
  v3.1/releases/3.0.6.md
Labels: DNM, aligned-with-docs-cn, dev, v3.0, v3.1

#1676 dev/reference/configuration: add a warning sentence
  dev/reference/configuration/tidb-server/configuration-file.md
Labels: aligned-with-docs-cn, dev, small

#1668 reference/best-practices: add HAProxy Best Practice doc
  dev/TOC.md
  dev/reference/best-practices/haproxy.md
  media/haproxy.jpg
  v2.1/TOC.md
  v2.1/reference/best-practices/haproxy.md
  v3.0/TOC.md
  v3.0/reference/best-practices/haproxy.md
  v3.1/TOC.md
  v3.1/reference/best-practices/haproxy.md
Labels: aligned-with-docs-cn, best-practices, large

#1637 how-to: add tidb lightning tutorial
  dev/TOC.md
  dev/how-to/get-started/tidb-lightning.md
  v2.1/TOC.md
  v2.1/how-to/get-started/tidb-lightning.md
  v3.0/TOC.md
  v3.0/how-to/get-started/tidb-lightning.md
  v3.1/TOC.md
  v3.1/how-to/get-started/tidb-lightning.md
Labels: aligned-with-docs-cn, dev, v2.1, v3.0, v3.1
