Repository pingcap/docs, pull requests merged in 2020-09, with the labels that each got.

#3716 mysql compatibility: change title, add references
  mysql-compatibility.md
Labels: needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, size/small, status/LGT1, status/PTAL, translation/doing

#3781 Emphasize that statement summary history tables may lose after TiDB r…
  statement-summary-tables.md
Labels: needs-cherry-pick-4.0, size/small, status/LGT1, status/PTAL, translation/from-docs-cn

#3782 Add doc for tiup cluster env init
  production-deployment-using-tiup.md
Labels: needs-cherry-pick-4.0, size/small, status/LGT1, status/PTAL, translation/from-docs-cn

#3779 ticdc: revert cdc ga
  experimental-features-4.0.md
  media/cdc-architecture.png
  ticdc-deployment-topology.md
  ticdc/ticdc-overview.md
  whats-new-in-tidb-4.0.md
Labels: needs-cherry-pick-4.0, size/small, status/LGT1, status/PTAL, translation/from-docs-cn

#3788 Update multi-data-centers-in-one-city-deployment.md
  multi-data-centers-in-one-city-deployment.md
Labels: needs-cherry-pick-4.0, size/small, status/LGT1, translation/from-docs-cn

#3778 Add document for tiup-cluster
  maintain-tidb-using-tiup.md
  tiup/tiup-cluster.md
Labels: needs-cherry-pick-4.0, size/medium, status/LGT1, status/PTAL, translation/from-docs-cn

#3780 Add tikv_status_port description
  hardware-and-software-requirements.md
Labels: needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, require-LGT1, size/small, status/LGT1, status/PTAL, status/can-merge, translation/from-docs-cn

#3729 Update a note about upgrading TiDB using TiUP
  upgrade-tidb-using-tiup.md
Labels: needs-cherry-pick-4.0, size/small, status/LGT1, status/PTAL, status/require-change, translation/from-docs-cn

#3801 Fix a typo about enabling tls
  enable-tls-between-clients-and-servers.md
Labels: contribution, needs-cherry-pick-4.0, size/small, status/LGT2, status/can-merge

#3786 add a circleci integration: check unclosed tags
  .circleci/config.yml
  README.md
  best-practices/haproxy-best-practices.md
  functions-and-operators/expressions-pushed-down.md
  functions-and-operators/operators.md
  scripts/check-tags.py
Labels: needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, status/LGT2, status/PTAL, translation/done

#3810 Clarify wording in BR tool doc
  br/backup-and-restore-tool.md
Labels: needs-cherry-pick-3.1, needs-cherry-pick-4.0, require-LGT1, size/small, status/LGT1, status/PTAL, status/can-merge, translation/from-docs-cn

#3805 Change the way of config offline mirror package
  upgrade-tidb-using-tiup-offline.md
Labels: needs-cherry-pick-4.0, require-LGT1, size/small, status/LGT1, status/can-merge, translation/from-docs-cn

#3803 ticdc: refine the docs about the status in cdc
  ticdc/troubleshoot-ticdc.md
Labels: needs-cherry-pick-4.0, require-LGT1, size/small, status/LGT1, status/can-merge, translation/from-docs-cn

#3817 Add 3 aliases to fix dead links
  identify-slow-queries.md
  tidb-binlog/tidb-binlog-faq.md
  tidb-binlog/tidb-binlog-overview.md
Labels: needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, status/LGT1, status/PTAL, translation/no-need, type/bug-fix, version-specific-changes-required

#3824 sql-statement-explain-analyze: fix a typo
  sql-statements/sql-statement-explain-analyze.md
Labels: needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, status/LGT1, type/bug-fix

#3823 sql-statement-begin: fix a typo
  sql-statements/sql-statement-begin.md
Labels: needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, require-LGT1, status/LGT1, status/can-merge, translation/no-need, type/bug-fix

#3833 Update BR restrictions
  br/backup-and-restore-tool.md
Labels: needs-cherry-pick-3.1, needs-cherry-pick-4.0, size/small, status/LGT2, status/PTAL, translation/from-docs-cn, version-specific-changes-required

#3816 pd: add rule group configuration
  configure-placement-rules.md
  pd-control.md
Labels: size/medium, status/LGT1, status/PTAL, translation/from-docs-cn, v5.0

#3836 Change the returned value of log-binlog from on/off to 1/0
  tidb-binlog/maintain-tidb-binlog-cluster.md
Labels: needs-cherry-pick-4.0, size/small, status/LGT2, status/PTAL, status/can-merge, translation/from-docs-cn

#3822 optimizer-hints: add docs for `nth_plan()` hint
  optimizer-hints.md
Labels: require-LGT1, size/small, status/LGT1, status/can-merge, translation/from-docs-cn, v5.0

#3799 ticdc: command sample fix and add one more faq
  ticdc/manage-ticdc.md
  ticdc/troubleshoot-ticdc.md
Labels: needs-cherry-pick-4.0, require-LGT1, size/small, status/LGT1, status/PTAL, status/can-merge, translation/from-docs-cn

#3842 Fix the incorrect version for allow_auto_random_explicit_insert
  system-variables.md
Labels: needs-cherry-pick-4.0, size/small, status/LGT1, translation/from-docs-cn

#3843 tools: remove unnecessary kafka version binlog
  download-ecosystem-tools.md
Labels: needs-cherry-pick-4.0, size/small, status/LGT1, translation/from-docs-cn

#3797 ticdc: add old value feature and column bit flag feature
  ticdc/manage-ticdc.md
  ticdc/ticdc-open-protocol.md
  ticdc/ticdc-overview.md
Labels: needs-cherry-pick-4.0, size/medium, status/LGT1, status/PTAL, translation/from-docs-cn

#3839 br: add use constraint with TiCDC and Drainer
  br/backup-and-restore-faq.md
Labels: needs-cherry-pick-3.1, needs-cherry-pick-4.0, size/small, status/LGT1, translation/from-docs-cn, version-specific-changes-required

#3838 stmt-reference, sysvars: Document dml-batch-size
  import-example-data.md
  sql-statements/sql-statement-load-data.md
  system-variables.md
Labels: size/small, status/LGT2, translation/doing

#3847 Update production-offline-deployment-using-tiup.md
  production-offline-deployment-using-tiup.md
Labels: needs-cherry-pick-4.0, size/small, status/LGT1, translation/from-docs-cn

#3850 tiflash: add docs
  enable-tls-between-components.md
  encryption-at-rest.md
Labels: needs-cherry-pick-4.0, size/small, status/LGT1, translation/from-docs-cn

#3851 faq: add faq for the inconsistent order of a SELECT statement without ORDER BY
  faq/sql-faq.md
Labels: follow-up, needs-cherry-pick-4.0, size/small, status/LGT2, status/require-change, translation/doing

#3853 sql-statements: add docs for `FETCH FIRST` syntax
  media/sqlgram/FetchFirstOpt.png
  media/sqlgram/FirstOrNext.png
  media/sqlgram/RowOrRows.png
  media/sqlgram/SelectStmtLimit.png
  sql-statements/sql-statement-select.md
Labels: needs-cherry-pick-4.0, size/small, status/LGT1, translation/from-docs-cn

#3864 faq: add faq for the inconsistent order of a SELECT statement without ORDER BY
  faq/tidb-faq.md
Labels: needs-cherry-pick-2.1, needs-cherry-pick-3.0, size/small, status/LGT1, translation/doing

#3863 fix a typo
  benchmark/benchmark-tidb-using-tpcc.md
Labels: contribution, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, require-LGT1, status/LGT1, translation/from-docs-cn

#3870 Add 2 aliases to fix dead links
  ticdc/ticdc-open-protocol.md
  tidb-binlog/maintain-tidb-binlog-cluster.md
Labels: needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, status/LGT1, translation/no-need, type/bug-fix, version-specific-changes-required

#3852 adopters: add bigo case study
  adopters.md
Labels: needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, status/LGT1, translation/no-need

#3860 auto-increment: improve examples
  auto-increment.md
Labels: needs-cherry-pick-4.0, size/medium, status/LGT2, status/PTAL, translation/doing

#3882 ticdc: cdc is GA since v4.0.6
  experimental-features-4.0.md
  ticdc-deployment-topology.md
  ticdc/ticdc-overview.md
  whats-new-in-tidb-4.0.md
Labels: needs-cherry-pick-4.0, size/small, status/LGT1, status/PTAL, translation/from-docs-cn

#3881 ticdc: update some usage restrictions and configs
  ticdc/manage-ticdc.md
  ticdc/troubleshoot-ticdc.md
Labels: needs-cherry-pick-4.0, size/small, status/LGT1, status/PTAL, translation/from-docs-cn

#3841 Update tiup document
  scale-tidb-using-tiup.md
  tiup/tiup-faq.md
Labels: needs-cherry-pick-4.0, size/small, status/LGT1, status/PTAL, translation/from-docs-cn

#3796 mysql-compatibility: add more details
  mysql-compatibility.md
Labels: follow-up, needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, size/small, status/LGT1, status/PTAL, translation/from-docs-cn, version-specific-changes-required

#3888 ticdc: update kafka minumum version
  ticdc/manage-ticdc.md
Labels: needs-cherry-pick-4.0, require-LGT1, size/small, status/LGT1, status/PTAL, status/can-merge, translation/from-docs-cn

#3893 Add a missing item in mysql-compatibility.md
  mysql-compatibility.md
Labels: size/small, status/PTAL, translation/from-docs-cn, type/bug-fix

#3897 sysvars: update tidb_dml_batch_size
  system-variables.md
Labels: require-LGT1, size/small, status/LGT1, status/PTAL, translation/doing

#3884 br: correct description
  br/backup-and-restore-faq.md
Labels: needs-cherry-pick-3.1, needs-cherry-pick-4.0, size/small, status/LGT1, status/PTAL, translation/from-docs-cn, version-specific-changes-required

#3895 Change the default value of `feedback-probability`
  statistics.md
Labels: needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, require-LGT1, size/small, status/LGT1, status/can-merge, translation/from-docs-cn

#3880 collation: add utf8_unicode_ci/utf8mb4_unicode_ci support
  basic-features.md
  character-set-and-collation.md
Labels: contribution, size/small, status/LGT1, status/PTAL, translation/done, v5.0

#3905 tools: update download link for sync-diff-inspector
  sync-diff-inspector/sync-diff-inspector-overview.md
Labels: needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, size/small, status/LGT1, status/PTAL, translation/doing

#3912 functions-and-operators: function STDDEV is supported
  functions-and-operators/aggregate-group-by-functions.md
Labels: needs-cherry-pick-3.0, needs-cherry-pick-4.0, require-LGT1, size/small, status/LGT1, translation/from-docs-cn

#3907 add system variable 'tidb_enable_clustered_index' for v5.0
  system-variables.md
Labels: size/medium, status/LGT1, status/require-change, translation/from-docs-cn, v5.0

#3896 auth: Remove note about MySQL 8.0 auth plugin
  connectors-and-apis.md
  faq/tidb-faq.md
  security-compatibility-with-mysql.md
  user-account-management.md
Labels: needs-cherry-pick-4.0, size/small, status/LGT2, status/PTAL, translation/doing

#3916 Fix wording issues in release notes
  br/backup-and-restore-tool.md
  releases/release-3.0.15.md
  releases/release-3.0.17.md
  releases/release-3.1.0-ga.md
  releases/release-3.1.0-rc.md
  releases/release-4.0-ga.md
  releases/release-4.0.0-beta.2.md
  releases/release-4.0.6.md
Labels: needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, status/LGT1, status/PTAL, translation/no-need, version-specific-changes-required

#3862 sql tuning: add EXPLAIN views
  explain-views.md
Labels: follow-up, needs-cherry-pick-4.0, size/large, status/LGT2, status/PTAL, translation/doing

#3924 explain: add index merge
  explain-index-merge.md
Labels: needs-cherry-pick-4.0, size/small, status/LGT1, status/PTAL, translation/doing

#3825 improve location-awareness
  TOC.md
  configure-placement-rules.md
  location-awareness.md
  pd-configuration-file.md
  schedule-replicas-by-topology-labels.md
  tidb-scheduling.md
Labels: needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, size/large, status/LGT1, status/require-change, translation/from-docs-cn, version-specific-changes-required

#3811 Add Titan documents
  TOC.md
  media/titan/titan-1.png
  media/titan/titan-2.png
  media/titan/titan-3.png
  media/titan/titan-4.png
  media/titan/titan-5.png
  media/titan/titan-6.png
  media/titan/titan-7.png
  storage-engine/titan-configuration.md
  storage-engine/titan-overview.md
Labels: needs-cherry-pick-4.0, size/large, status/LGT1, translation/from-docs-cn

#3932 config: remove useless config in pessimistic-txn
  tidb-configuration-file.md
  tikv-configuration-file.md
Labels: size/small, status/LGT1, translation/from-docs-cn

#3935 Remove sync-log config in TiKV config template
  tikv-configuration-file.md
Labels: needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, status/LGT2, translation/doing, version-specific-changes-required

#3934 functions-and-operators: function VAR_SAMP()/STDDEV_SAMP() is supported
  functions-and-operators/aggregate-group-by-functions.md
Labels: needs-cherry-pick-3.0, needs-cherry-pick-4.0, size/small, status/LGT1, status/PTAL, translation/from-docs-cn, version-specific-changes-required

#3898 system-variables: update noop functions
  system-variables.md
Labels: size/small, status/LGT2, status/PTAL, translation/doing

#3941 Fix titan blob-run-mode options
  storage-engine/titan-configuration.md
Labels: needs-cherry-pick-4.0, size/small, status/LGT1, translation/from-docs-cn

#3906 ticdc: add upgrading section
  ticdc/manage-ticdc.md
Labels: needs-cherry-pick-4.0, size/small, status/LGT1, status/PTAL, translation/from-docs-cn

#3886 *: add more doc for slow log
  identify-slow-queries.md
  system-variables.md
Labels: needs-cherry-pick-4.0, size/medium, status/LGT2, status/PTAL, translation/from-docs-cn

#3918 ticdc: add open protocol parser demo link
  ticdc/ticdc-open-protocol.md
Labels: needs-cherry-pick-4.0, require-LGT1, size/small, status/LGT1, status/PTAL, status/can-merge, translation/from-docs-cn

#3946 stmt reference: update sql_calc_found_rows
  sql-statements/sql-statement-select.md
  system-variables.md
Labels: size/small, status/LGT2, translation/doing

#3949 Fix typo in benchmark result
  benchmark/v4.0-performance-benchmarking-with-tpcc.md
Labels: needs-cherry-pick-4.0, size/small, status/LGT1, translation/from-docs-cn, type/bug-fix

#3670 update TiDB roadmap
  TOC.md
  roadmap.md
Labels: status/LGT2, translation/from-docs-cn

#3587 sql-statement: add ADMIN ddl statements
  TOC.md
  sql-statements/sql-statement-admin-cancel-ddl.md
  sql-statements/sql-statement-admin-check-table-index.md
  sql-statements/sql-statement-admin-checksum-table.md
  sql-statements/sql-statement-admin-show-ddl.md
  sql-statements/sql-statement-admin.md
Labels: needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, size/large, status/LGT1, status/LGT2, status/PTAL, translation/doing

#3787 sql-statements: update ddl assertions behavior
  mysql-compatibility.md
  sql-statements/sql-statement-alter-database.md
  sql-statements/sql-statement-alter-table.md
Labels: needs-cherry-pick-4.0, size/medium, status/LGT2, status/PTAL, translation/doing, version-specific-changes-required

#3947 system-variables: remove the useless memory quota variables
  system-variables.md
Labels: needs-cherry-pick-3.0, needs-cherry-pick-4.0, size/small, status/LGT1, translation/doing, version-specific-changes-required

#3963 Update deploy-tidb-lightning.md
  tidb-lightning/deploy-tidb-lightning.md
Labels: needs-cherry-pick-4.0, size/small, status/LGT1, translation/from-docs-cn

#3959 Add monitor config
  tiup/tiup-cluster.md
Labels: contribution, needs-cherry-pick-4.0, size/medium, status/LGT1, status/PTAL, status/require-change, translation/from-docs-cn

#3698 best practices: add three-node deployment best practices
  TOC.md
  best-practices/three-nodes-hybrid-deployment.md
  media/best-practices/three-nodes-default-config-qps.png
  media/best-practices/three-nodes-final-config-qps.png
  media/best-practices/three-nodes-gc-impact.png
  media/best-practices/three-nodes-grpc-pool-usage.png
  media/best-practices/three-nodes-scheduler-pool-usage.png
Labels: needs-cherry-pick-4.0, size/large, status/LGT1, status/PTAL, translation/from-docs-cn

#3973 Add 5 aliases to fix dead links
  benchmark/benchmark-sysbench-v2.md
  functions-and-operators/encryption-and-compression-functions.md
  sql-statements/sql-statement-create-database.md
  tidb-binlog/deploy-tidb-binlog.md
  transaction-overview.md
Labels: needs-cherry-pick-3.0, status/LGT1, translation/no-need, type/bug-fix

#3975 Add a link to tiup in hardware and software requirements
  hardware-and-software-requirements.md
Labels: needs-cherry-pick-4.0, translation/no-need

#3965 config: add redact-info-log
  tikv-configuration-file.md
Labels: needs-cherry-pick-4.0, size/small, status/LGT2, status/PTAL, translation/from-docs-cn

#3978 Add `enable-disk-spill-encrypt.md` to decrypt the usage of the `spilled-file-encryption-method`
  TOC.md
  enable-disk-spill-encrypt.md
Labels: size/medium, status/LGT1, translation/from-docs-cn, v5.0

#3926 explain: add aggregation
  explain-aggregation.md
Labels: follow-up, needs-cherry-pick-4.0, size/large, status/LGT2, status/PTAL, translation/doing

#3984 Update optimistic-transaction.md
  optimistic-transaction.md
Labels: needs-cherry-pick-4.0, size/small, status/LGT2, status/can-merge, translation/no-need

#3858 performance tuning: change SQL tuning TOC
  TOC.md
  blocklist-control-plan.md
  dashboard/dashboard-slow-query.md
  dashboard/dashboard-statement-details.md
  explain-overview.md
  faq/sql-faq.md
  functions-and-operators/expressions-pushed-down.md
  mysql-compatibility.md
  sql-physical-optimization.md
  sql-statements/sql-statement-explain-analyze.md
  sql-statements/sql-statement-explain.md
  sql-tuning-overview.md
  subquery-optimization.md
  whats-new-in-tidb-4.0.md
Labels: needs-cherry-pick-4.0, size/medium, status/LGT2, status/PTAL, status/can-merge, translation/doing

#3977 system-variables: remove an example value
  system-variables.md
Labels: size/small, status/LGT1, status/PTAL, translation/done, type/bug-fix

#3982 Update the warning for sync-log in v4.0.7
  tikv-configuration-file.md
Labels: status/LGT1, translation/done, type/4.0-cherry-pick

#3991 Fix a TOC typo
  TOC.md
Labels: needs-cherry-pick-4.0, status/LGT1, translation/no-need, type/bug-fix

#3861 sql tuning: add explain walkthough
  explain-walkthrough.md
Labels: follow-up, needs-cherry-pick-4.0, size/large, status/LGT2, status/PTAL, translation/doing

#3994 Add one alias to fix dead link
  tidb-binlog/binlog-consumer-client.md
Labels: needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, status/LGT1, translation/no-need, type/bug-fix, version-specific-changes-required
