Repository pingcap/docs, pull requests merged in 2020-02, with the labels that each got.

#1789 reference/sql: correct description about push_down expression alias before v3.0.3
  dev/reference/sql/functions-and-operators/expressions-pushed-down.md
  v3.0/reference/sql/functions-and-operators/expressions-pushed-down.md
  v3.1/reference/sql/functions-and-operators/expressions-pushed-down.md
Labels: aligned-with-docs-cn, dev, v3.0, v3.1

#1791 reference/performance: modify stats-lease from 5 to 20
  dev/reference/performance/statistics.md
  v2.1/reference/performance/statistics.md
  v3.0/reference/performance/statistics.md
  v3.1/reference/performance/statistics.md
Labels: aligned-with-docs-cn

#1793 v3.1: delete inapplicable optimizer hints
  v3.1/reference/performance/optimizer-hints.md
Labels: aligned-in-docs-cn

#1788 tidb-in-kubernetes: fix pv deletion
  dev/tidb-in-kubernetes/reference/configuration/storage-class.md
  v3.0/tidb-in-kubernetes/reference/configuration/storage-class.md
  v3.1/tidb-in-kubernetes/reference/configuration/storage-class.md
Labels: aligned-with-docs-cn, dev, v3.0, v3.1

#1762 reference/tidb-binlog: improve snapshot timestamp for initialization
  dev/reference/tidb-binlog/deploy.md
  v2.1/reference/tidb-binlog/deploy.md
  v3.0/reference/tidb-binlog/deploy.md
  v3.1/reference/tidb-binlog/deploy.md
Labels: aligned-with-docs-cn, status/can-merge

#1790 configuration/tidb-server: add a description for `max-server-connections`
  dev/reference/configuration/tidb-server/configuration-file.md
Labels: aligned-with-docs-cn, status/can-merge

#1711 reference/tools: add "-tidb-password" cli flag in tidb-lightning config
  dev/reference/tools/tidb-lightning/config.md
  v3.0/reference/tools/tidb-lightning/config.md
  v3.1/reference/tools/tidb-lightning/config.md
Labels: aligned-in-docs-cn, follow-up, small

#1792 *: add the description of `alter-primary-key`
  dev/reference/configuration/tidb-server/configuration-file.md
  dev/reference/sql/statements/add-index.md
  dev/reference/sql/statements/create-index.md
  dev/reference/sql/statements/drop-index.md
  v3.0/reference/configuration/tidb-server/configuration-file.md
  v3.0/reference/sql/statements/add-index.md
  v3.0/reference/sql/statements/create-index.md
  v3.0/reference/sql/statements/drop-index.md
  v3.1/reference/configuration/tidb-server/configuration-file.md
  v3.1/reference/sql/statements/add-index.md
  v3.1/reference/sql/statements/create-index.md
  v3.1/reference/sql/statements/drop-index.md
Labels: aligned-with-docs-cn, status/can-merge

#1703 how-to: update ansible deployment doc
  dev/how-to/deploy/orchestrated/ansible.md
  v2.1/how-to/deploy/orchestrated/ansible.md
  v3.0/how-to/deploy/orchestrated/ansible.md
  v3.1/how-to/deploy/orchestrated/ansible.md
Labels: align-N/A, v3.0, v3.1

#1704 best-practices: add massive region performance tuning best practices
  dev/TOC.md
  dev/reference/best-practices/massive-regions.md
  media/best-practices/pd-worker-metrics.png
  media/best-practices/propose-wait-duration.png
  media/best-practices/raft-process.png
  media/best-practices/raft-store-cpu.png
  v2.1/TOC.md
  v2.1/reference/best-practices/massive-regions.md
  v3.0/TOC.md
  v3.0/reference/best-practices/massive-regions.md
  v3.1/TOC.md
  v3.1/reference/best-practices/massive-regions.md
Labels: aligned-with-docs-cn, best-practices, large

#1801 *: remove MyDB
  dev/reference/supported-clients.md
  v1.0/sql/connection-and-APIs.md
  v2.0/sql/connection-and-APIs.md
  v2.1-legacy/sql/connection-and-APIs.md
  v2.1/reference/supported-clients.md
  v3.0/reference/supported-clients.md
  v3.1/reference/supported-clients.md
Labels: aligned-with-docs-cn, dev, status/can-merge, v1.0, v2.0, v2.1, v3.0, v3.1

#1803 tidb-in-kubernetes/deploy: required terraform must be 0.12.*
  dev/tidb-in-kubernetes/deploy/alibaba-cloud.md
  v3.0/tidb-in-kubernetes/deploy/alibaba-cloud.md
  v3.1/tidb-in-kubernetes/deploy/alibaba-cloud.md
Labels: aligned-in-docs-cn, dev, v3.0, v3.1

#1693 tidb-lightning: add glossary and other updates
  dev/TOC.md
  dev/faq/tidb-lightning.md
  dev/reference/tools/tidb-lightning/config.md
  dev/reference/tools/tidb-lightning/deployment.md
  dev/reference/tools/tidb-lightning/glossary.md
  dev/reference/tools/tidb-lightning/overview.md
  dev/reference/tools/tidb-lightning/tidb-backend.md
  v3.0/TOC.md
  v3.0/faq/tidb-lightning.md
  v3.0/reference/tools/tidb-lightning/deployment.md
  v3.0/reference/tools/tidb-lightning/overview.md
  v3.0/reference/tools/tidb-lightning/tidb-backend.md
  v3.1/TOC.md
  v3.1/faq/tidb-lightning.md
  v3.1/reference/tools/tidb-lightning/deployment.md
  v3.1/reference/tools/tidb-lightning/overview.md
  v3.1/reference/tools/tidb-lightning/tidb-backend.md
Labels: aligned-in-docs-cn, dev, status/can-merge, v3.0, v3.1

#1805 reference/sql: update generate column document
  dev/reference/sql/generated-columns.md
  v3.0/reference/sql/generated-columns.md
  v3.1/reference/sql/generated-columns.md
Labels: aligned-with-docs-cn, status/can-merge

#1806 *: remove tidb_batch_insert and tidb_batch_delete
  dev/faq/tidb.md
  dev/reference/configuration/tidb-server/tidb-specific-variables.md
  v1.0/FAQ.md
  v2.0/FAQ.md
  v2.1-legacy/FAQ.md
  v2.1-legacy/sql/tidb-specific.md
  v2.1/faq/tidb.md
  v2.1/reference/configuration/tidb-server/tidb-specific-variables.md
  v3.0/faq/tidb.md
  v3.0/reference/configuration/tidb-server/tidb-specific-variables.md
  v3.1/faq/tidb.md
  v3.1/reference/configuration/tidb-server/tidb-specific-variables.md
Labels: aligned-with-docs-cn

#1796 reference/sql: update compatibility description of MySQL
  dev/reference/mysql-compatibility.md
  v3.0/reference/mysql-compatibility.md
  v3.1/reference/mysql-compatibility.md
Labels: aligned-with-docs-cn, status/can-merge

#1809 kubernetes: terraform must be >= v0.12
  dev/tidb-in-kubernetes/deploy/aws-eks.md
  v3.0/tidb-in-kubernetes/deploy/aws-eks.md
  v3.1/tidb-in-kubernetes/deploy/aws-eks.md
Labels: aligned-with-docs-cn

#1812 reference/performance: move description before example
  dev/reference/performance/optimizer-hints.md
  v3.1/reference/performance/optimizer-hints.md
Labels: aligned-with-docs-cn

#1797 reference: add global variable latency resulted by gvc
  dev/reference/configuration/tidb-server/mysql-variables.md
  v2.1/reference/configuration/tidb-server/mysql-variables.md
  v3.0/reference/configuration/tidb-server/mysql-variables.md
  v3.1/reference/configuration/tidb-server/mysql-variables.md
Labels: aligned-with-docs-cn, status/can-merge

#1798 br: add recommend configuration
  dev/how-to/maintain/backup-and-restore/br.md
  v3.1/how-to/maintain/backup-and-restore/br.md
Labels: aligned-with-docs-cn, status/can-merge

#1787 tidb-binlog: introduce how to upgrade binlog
  dev/reference/tidb-binlog/upgrade.md
  v2.1/reference/tidb-binlog/upgrade.md
  v3.0/reference/tidb-binlog/upgrade.md
  v3.1/reference/tidb-binlog/upgrade.md
Labels: aligned-with-docs-cn, status/can-merge

#1795 dev: add admin repair table statement
  dev/reference/configuration/tidb-server/configuration-file.md
  dev/reference/sql/statements/admin.md
Labels: aligned-with-docs-cn, status/can-merge, v4.0

#1807 reference/tidb-binlog: add encrypt_password for tidb-binlog/deploy.md
  dev/reference/tidb-binlog/deploy.md
  v3.0/reference/tidb-binlog/deploy.md
  v3.1/reference/tidb-binlog/deploy.md
Labels: aligned-with-docs-cn, status/can-merge

#1810 reference/transactions: add read committed isolation level
  dev/reference/transactions/transaction-isolation.md
Labels: aligned-with-docs-cn, dev, v4.0

#1811 reference: update sql admin syntax
  dev/reference/sql/statements/admin.md
Labels: aligned-with-docs-cn, dev, v4.0

#1814 reference: remove warning in RBAC doc
  dev/reference/security/role-based-access-control.md
  v3.0/reference/security/role-based-access-control.md
  v3.1/reference/security/role-based-access-control.md
Labels: aligned-with-docs-cn, status/can-merge

#1799 reference/sql: add reserved words for window functions
  dev/reference/sql/language-structure/keywords-and-reserved-words.md
  v3.0/reference/sql/language-structure/keywords-and-reserved-words.md
  v3.1/reference/sql/language-structure/keywords-and-reserved-words.md
Labels: aligned-with-docs-cn, status/can-merge

#1804 *: add document for expensive query log
  dev/TOC.md
  dev/faq/tidb.md
  dev/how-to/maintain/identify-abnormal-queries/identify-expensive-queries.md
  dev/how-to/maintain/identify-abnormal-queries/identify-slow-queries.md
  dev/how-to/troubleshoot/cluster-setup.md
  dev/reference/configuration/tidb-server/tidb-specific-variables.md
  dev/reference/system-databases/information-schema.md
  dev/releases/2.1ga.md
  v3.0/TOC.md
  v3.0/faq/tidb.md
  v3.0/how-to/maintain/identify-abnormal-queries/identify-expensive-queries.md
  v3.0/how-to/maintain/identify-abnormal-queries/identify-slow-queries.md
  v3.0/how-to/troubleshoot/cluster-setup.md
  v3.0/reference/configuration/tidb-server/tidb-specific-variables.md
  v3.0/reference/system-databases/information-schema.md
  v3.0/releases/2.1ga.md
  v3.1/TOC.md
  v3.1/faq/tidb.md
  v3.1/how-to/maintain/identify-abnormal-queries/identify-expensive-queries.md
  v3.1/how-to/maintain/identify-abnormal-queries/identify-slow-queries.md
  v3.1/how-to/troubleshoot/cluster-setup.md
  v3.1/reference/configuration/tidb-server/tidb-specific-variables.md
  v3.1/reference/system-databases/information-schema.md
  v3.1/releases/2.1ga.md
Labels: aligned-with-docs-cn, status/can-merge

#1778 reference: add TiDB Binlog FAQ
  dev/reference/tidb-binlog/faq.md
  v2.1/reference/tidb-binlog/faq.md
  v3.0/reference/tidb-binlog/faq.md
  v3.1/reference/tidb-binlog/faq.md
Labels: aligned-with-docs-cn, large, status/can-merge

#1815 TOC: fix format
  v3.0/TOC.md
Labels: align-N/A, status/can-merge

#1817 releases: add 3.0.10 release notes
  dev/TOC.md
  dev/releases/3.0.10.md
  dev/releases/rn.md
  v3.0/TOC.md
  v3.0/releases/3.0.10.md
  v3.0/releases/rn.md
  v3.1/TOC.md
  v3.1/releases/3.0.10.md
  v3.1/releases/rn.md
Labels: aligned-with-docs-cn

#1820 *: add specific Helm version
  dev/how-to/get-started/deploy-tidb-from-docker-compose.md
  dev/tidb-in-kubernetes/reference/tools/in-kubernetes.md
  v2.1-legacy/op-guide/docker-compose.md
  v3.0/tidb-in-kubernetes/reference/tools/in-kubernetes.md
  v3.1/tidb-in-kubernetes/reference/tools/in-kubernetes.md
Labels: contribution, pending-aligning

#1800 reference/transactions: update pessimistic doc
  dev/reference/transactions/transaction-pessimistic.md
  v3.0/reference/transactions/transaction-pessimistic.md
  v3.1/reference/transactions/transaction-pessimistic.md
Labels: aligned-with-docs-cn, status/can-merge

#1713 how-to/deploy: update Docker Hub address
  dev/how-to/deploy/orchestrated/docker.md
  v2.1/how-to/deploy/orchestrated/docker.md
  v3.0/how-to/deploy/orchestrated/docker.md
  v3.1/how-to/deploy/orchestrated/docker.md
Labels: aligned-in-docs-cn, contribution, small

#1824 how-to/get-started: remove repeated sentence
  dev/how-to/get-started/deploy-tidb-from-docker-compose.md
Labels: align-N/A, contribution, status/can-merge

#1821 reference/system-databases: add description for TABLES table
  dev/reference/system-databases/information-schema.md
Labels: aligned-with-docs-cn, dev, status/can-merge, v4.0

#1816 reference: add error codes
  dev/reference/error-codes.md
Labels: aligned-with-docs-cn, dev, v4.0

#1823 tidb-in-kubernetes: add TiDB and Pump affinity config
  dev/tidb-in-kubernetes/maintain/tidb-binlog.md
  v3.0/tidb-in-kubernetes/maintain/tidb-binlog.md
  v3.1/tidb-in-kubernetes/maintain/tidb-binlog.md
Labels: aligned-with-docs-cn, status/can-merge

#1747 tools: refine config file for DM
  dev/TOC.md
  dev/how-to/deploy/data-migration-with-ansible.md
  dev/how-to/deploy/data-migration-with-binary.md
  dev/reference/tools/data-migration/configure/dm-master-configuration-file.md
  dev/reference/tools/data-migration/configure/dm-worker-configuration-file-full.md
  dev/reference/tools/data-migration/configure/dm-worker-configuration-file.md
  dev/reference/tools/data-migration/configure/overview.md
  dev/reference/tools/data-migration/configure/task-configuration-file-full.md
  dev/reference/tools/data-migration/configure/task-configuration-file.md
  dev/reference/tools/data-migration/relay-log.md
  v2.1/TOC.md
  v2.1/how-to/deploy/data-migration-with-ansible.md
  v2.1/how-to/deploy/data-migration-with-binary.md
  v2.1/reference/tools/data-migration/configure/dm-master-configuration-file.md
  v2.1/reference/tools/data-migration/configure/dm-worker-configuration-file-full.md
  v2.1/reference/tools/data-migration/configure/dm-worker-configuration-file.md
  v2.1/reference/tools/data-migration/configure/overview.md
  v2.1/reference/tools/data-migration/configure/task-configuration-file-full.md
  v2.1/reference/tools/data-migration/configure/task-configuration-file.md
  v2.1/reference/tools/data-migration/relay-log.md
  v3.0/TOC.md
  v3.0/how-to/deploy/data-migration-with-ansible.md
  v3.0/how-to/deploy/data-migration-with-binary.md
  v3.0/reference/tools/data-migration/configure/dm-master-configuration-file.md
  v3.0/reference/tools/data-migration/configure/dm-worker-configuration-file-full.md
  v3.0/reference/tools/data-migration/configure/dm-worker-configuration-file.md
  v3.0/reference/tools/data-migration/configure/overview.md
  v3.0/reference/tools/data-migration/configure/task-configuration-file-full.md
  v3.0/reference/tools/data-migration/configure/task-configuration-file.md
  v3.0/reference/tools/data-migration/relay-log.md
  v3.1/TOC.md
  v3.1/how-to/deploy/data-migration-with-ansible.md
  v3.1/how-to/deploy/data-migration-with-binary.md
  v3.1/reference/tools/data-migration/configure/dm-master-configuration-file.md
  v3.1/reference/tools/data-migration/configure/dm-worker-configuration-file-full.md
  v3.1/reference/tools/data-migration/configure/dm-worker-configuration-file.md
  v3.1/reference/tools/data-migration/configure/overview.md
  v3.1/reference/tools/data-migration/configure/task-configuration-file-full.md
  v3.1/reference/tools/data-migration/configure/task-configuration-file.md
  v3.1/reference/tools/data-migration/relay-log.md
Labels: aligned-with-docs-cn, follow-up, large, status/can-merge

#1835 reference/security: add missing semicolons
  dev/reference/security/cert-based-authentication.md
  v3.0/reference/security/cert-based-authentication.md
  v3.1/reference/security/cert-based-authentication.md
Labels: aligned-with-docs-cn, small, status/can-merge

#1794 tidb-binlog: add a glossary for tidb binlog
  dev/TOC.md
  dev/reference/tidb-binlog/glossary.md
  v2.1/TOC.md
  v2.1/reference/tidb-binlog/glossary.md
  v3.0/TOC.md
  v3.0/reference/tidb-binlog/glossary.md
  v3.1/TOC.md
  v3.1/reference/tidb-binlog/glossary.md
Labels: aligned-with-docs-cn, medium, status/can-merge

#1649 tidb-in-kubernetes: add irqbalance description in deployment doc
  dev/tidb-in-kubernetes/deploy/prerequisites.md
  v3.0/tidb-in-kubernetes/deploy/prerequisites.md
  v3.1/tidb-in-kubernetes/deploy/prerequisites.md
Labels: aligned-with-docs-cn, dev, status/can-merge, v3.0, v3.1

#1706 data-migration: refine dm relay log description
  dev/reference/tools/data-migration/relay-log.md
  v2.1/reference/tools/data-migration/relay-log.md
  v3.0/reference/tools/data-migration/relay-log.md
  v3.1/reference/tools/data-migration/relay-log.md
Labels: aligned-with-docs-cn, follow-up, status/can-merge

#1834 .circleci: diable deadlink check
  .circleci/config.yml
Labels: DNM, aligned-with-docs-cn

#1842 .github: change pull request template
  .github/pull_request_template.md
Labels: aligned-with-docs-cn, needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1

#1847 scripts: re-enable links must start with slash check
  dev-guide/deploy.md
  dev-guide/develop.md
  dev-guide/requirements.md
  scripts/markdown-link-check.tpl
  scripts/verify-links.sh
Labels: status/can-merge

#1849 3.0/scripts: update verify links to fix current layout
  README.md
  dev-guide/deploy.md
  dev-guide/develop.md
  dev-guide/requirements.md
  scripts/markdown-link-check.tpl
  scripts/verify-links.sh
Labels: status/can-merge

#1848 2.1/scripts: update verify links to fix current layout
  README.md
  dev-guide/deploy.md
  dev-guide/develop.md
  dev-guide/requirements.md
  scripts/markdown-link-check.tpl
  scripts/verify-links.sh
Labels: aligned-in-docs-cn, status/can-merge

#1748 resources, media: add Figma Guide
  CONTRIBUTING.md
  media/back-to-files.png
  media/copy-objects.png
  media/corner-radius.png
  media/duplicate.png
  media/export-frame-x.png
  media/export.png
  media/eyedropper.png
  media/figma-test.png
  media/figure-format.png
  media/fill.png
  media/frame.png
  media/magnifier-window.png
  media/new-frame.png
  media/recently-viewed.png
  media/rename.png
  media/sign-up.png
  media/tidb-sketch-book-copy.png
  media/tidb-sketch-book.png
  resources/figma-quick-start-guide.md
Labels: aligning, needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1

#1856 scripts/verify-links: update link check error messages
  scripts/verify-links.sh
Labels: aligned-with-docs-cn, needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1

#1862 *: add config variable enable-slow-log
  how-to/maintain/identify-abnormal-queries/identify-slow-queries.md
  reference/configuration/tidb-server/configuration-file.md
Labels: aligned-with-docs-cn, v4.0

#1865 reference/tools: remove latest from download document
  reference/tools/download.md
Labels: aligned-with-docs-cn, needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, status/can-merge

#1870 reference/tools: remove latest from download document
  reference/tools/download.md
Labels: aligned-with-docs-cn

#1869 reference/tools: remove latest from download document
  reference/tools/download.md
Labels: aligned-with-docs-cn, status/can-merge

#1741 reference/performance: update raft parameter name
  reference/performance/tune-tikv.md
Labels: contribution, needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1

#1861 how-to/get-started: change tispark-sample-data download address
  how-to/get-started/tispark.md
Labels: needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, pending-aligning, small, status/can-merge

#1864 reference/performance: correct replica selection policy of follower read
  reference/performance/follower-read.md
Labels: aligned-with-docs-cn, dev, needs-cherry-pick-3.1, v3.1, v4.0

#1877 how-to/get-started: change tispark-sample-data download address for v2.1
  how-to/get-started/tispark.md
Labels: pending-aligning, small, type/2.1 cherry-pick

#1879 how-to/get-started: change tispark-sample-data download address for v3.1
  how-to/get-started/tispark.md
Labels: pending-aligning, small, type/3.1 cherry-pick

#1878 how-to/get-started: change tispark-sample-data download address for v3.0
  how-to/get-started/tispark.md
Labels: pending-aligning, small, status/can-merge, type/3.0 cherry-pick

#1863 reference/performance: update docs for statistics
  reference/performance/statistics.md
Labels: aligned-with-docs-cn, dev, needs-cherry-pick-3.0, needs-cherry-pick-3.1, status/can-merge, v3.0, v3.1, v4.0

#1889 release-2.0: fix deadlinks in two files
  README.md
  _index.md
Labels: aligned-with-docs-cn, status/can-merge

#1890 Add note about not supporting multiple ALTER TABLE operations
  reference/mysql-compatibility.md
Labels: needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, pending-aligning, status/LGT1

#1887 tidb-in-kubernetes: fix tidb cluster initialize command
  tidb-in-kubernetes/initialize-cluster.md
Labels: aligned-with-docs-cn, needs-cherry-pick-3.0, needs-cherry-pick-3.1, status/can-merge

#1819 sql: add doc of hex and binary expression support for `LOAD DATA`
  reference/sql/statements/load-data.md
Labels: aligned-with-docs-cn, dev, small, status/can-merge, v4.0

#1896 reference/performance: move optimizer hints to proper section
  reference/performance/optimizer-hints.md
Labels: aligned-with-docs-cn, dev, needs-cherry-pick-3.1, status/can-merge, v3.1, v4.0

#1888 reference/performance: add description for stats healthy
  reference/performance/statistics.md
Labels: aligned-with-docs-cn, needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, status/can-merge

#1893 releases: add TiDB 4.0.0-beta.1 Release Notes
  TOC.md
  releases/4.0.0-beta.1.md
  releases/rn.md
Labels: DNM until Ansible tag is ready, aligned-with-docs-cn, dev, v4.0

#1897 reference/configuration: add enable-chunk-rpc doc
  reference/configuration/tidb-server/configuration-file.md
Labels: aligned-with-docs-cn, status/can-merge, v4.0

#1899 readme, contributing: rewrite contribution resources
  CONTRIBUTING.md
  README.md
Labels: aligned-with-docs-cn, follow-up, needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, size/large

#1907 overview: fix a broken link
  overview.md
Labels: needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, size/small, translation/no-need, type/SEO-affected

#1908 faq: fix two broken links
  faq/tidb.md
Labels: needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, size/small, type/SEO-affected

#1855 reference/performance: update docs for plan bind
  reference/performance/execution-plan-bind.md
Labels: aligned-with-docs-cn, dev, status/can-merge, v4.0
