Repository pingcap/docs, pull requests merged in 2020-06, with the labels that each got.

#2647 functions-and-operators: fix 32 broken links
  functions-and-operators/expressions-pushed-down.md
Labels: size/small, translation/no-need, type/bug-fix

#2650 how-to: update server recommendations for tidb deployment
  hardware-and-software-requirements.md
Labels: needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, size/small, status/can-merge, translation/from-docs-cn

#2657 toc: remove dynamic config change from toc
  TOC.md
Labels: needs-cherry-pick-4.0, size/small, translation/no-need

#2658 how-to: update hardware-and-sofware-requirements
  TOC.md
  hardware-and-software-requirements.md
Labels: follow-up, needs-cherry-pick-4.0, translation/from-docs-cn

#2666 Remove earlier quick start aliases
  overview.md
Labels: translation/no-need

#2665 Add aliases for earlier quick start
  quick-start-with-tidb.md
Labels: translation/no-need

#2672 *: add backslash to br tags
  functions-and-operators/expressions-pushed-down.md
  production-deployment-using-tiup.md
  quick-start-with-tidb.md
  sql-mode.md
Labels: translation/no-need

#2673 *: add backslashes to br tags
  functions-and-operators/expressions-pushed-down.md
  production-deployment-using-tiup.md
  quick-start-with-tidb.md
  sql-mode.md
Labels: needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, translation/no-need

#2656 how-to: add check-before-deployment.md
  check-before-deployment.md
  faq/tidb-faq.md
  hardware-and-software-requirements.md
  offline-deployment-using-ansible.md
  online-deployment-using-ansible.md
  production-deployment-using-tiup.md
  quick-start-with-tidb.md
  releases/release-3.0.11.md
  scale-tidb-using-ansible.md
  scale-tidb-using-tiup.md
  tidb-binlog/deploy-tidb-binlog.md
  tiflash/deploy-tiflash.md
  tiup/tiup-mirrors.md
  upgrade-tidb-using-ansible.md
  upgrade-tidb-using-tiup.md
Labels: needs-cherry-pick-4.0, status/can-merge, translation/from-docs-cn

#2682 releases: remove tiup version
  releases/release-3.0.13.md
  releases/release-3.0.14.md
Labels: translation/done, type/bug-fix

#2677 add 3.1.2 TiDB release notes
  TOC.md
  releases/release-3.0.13.md
  releases/release-3.0.14.md
  releases/release-3.1.2.md
  releases/release-4.0.0-rc.1.md
  releases/release-4.0.0-rc.2.md
  releases/release-notes.md
Labels: DNM until Ansible tag is ready, needs-cherry-pick-3.1, needs-cherry-pick-4.0, translation/from-docs-cn

#2663 BR: Update backup-and-restore-use-cases.md
  br/backup-and-restore-use-cases.md
Labels: needs-cherry-pick-3.1, needs-cherry-pick-4.0, status/can-merge, translation/from-docs-cn

#2695 *: fix unclosed tags
  best-practices/haproxy-best-practices.md
  functions-and-operators/expressions-pushed-down.md
  functions-and-operators/operators.md
  sql-statements/sql-statement-grant-privileges.md
  sql-statements/sql-statement-revoke-privileges.md
  sql-statements/sql-statement-set-names.md
  sql-statements/sql-statement-set-transaction.md
  sql-statements/sql-statement-set-variable.md
  sql-statements/sql-statement-show-privileges.md
  tidb-lightning/tidb-lightning-tidb-backend.md
  tiflash/maintain-tiflash.md
Labels: needs-cherry-pick-4.0, translation/no-need

#2696 *: fix unclosed tags in 3.0
  best-practices/haproxy-best-practices.md
  sql-statements/sql-statement-set-names.md
  sql-statements/sql-statement-set-transaction.md
  sql-statements/sql-statement-show-privileges.md
  tidb-lightning/tidb-lightning-tidb-backend.md
Labels: translation/no-need

#2697 *: fix unclosed tags in 2.1
  best-practices/haproxy-best-practices.md
  sql-statements/sql-statement-revoke-privileges.md
  sql-statements/sql-statement-set-names.md
  sql-statements/sql-statement-set-transaction.md
  sql-statements/sql-statement-show-privileges.md
Labels: translation/no-need

#2702 releases: add tidb 3.0.15 release notes
  TOC.md
  releases/release-3.0.15.md
  releases/release-notes.md
Labels: DNM until Ansible tag is ready, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, translation/from-docs-cn

#2648 how-to/deploy: add doc for offline deployment using tiup
  TOC.md
  production-offline-deployment-using-tiup.md
Labels: needs-cherry-pick-4.0, translation/from-docs-cn

#2661 benchmark, TOC: add 4.0 TPC-H, TPC-C and Sysbench test reports
  TOC.md
  benchmark/benchmark-sysbench-v4-vs-v3.md
  benchmark/v4.0-performance-benchmarking-with-tpcc.md
  benchmark/v4.0-performance-benchmarking-with-tpch.md
  media/sysbench-v4vsv3-point-select.png
  media/sysbench-v4vsv3-read-write.png
  media/sysbench-v4vsv3-update-index.png
  media/sysbench-v4vsv3-update-non-index.png
  media/tpcc-v4vsv3.png
  media/tpch-v4vsv3.png
Labels: needs-cherry-pick-4.0, status/PTAL, translation/from-docs-cn

#2667 deploy: add doc for post installation check
  TOC.md
  post-installation-check.md
Labels: needs-cherry-pick-4.0, status/can-merge, translation/from-docs-cn

#2709 releases: add 4.0.0 GA release notes
  TOC.md
  releases/release-4.0-ga.md
  releases/release-notes.md
Labels: needs-cherry-pick-4.0, translation/from-docs-cn

#2686 BR: Add backup-and-restore-faq.md
  TOC.md
  br/backup-and-restore-faq.md
Labels: needs-cherry-pick-3.1, needs-cherry-pick-4.0, status/can-merge, translation/from-docs-cn

#2660 *: add six topology files and config file templates
  config-templates/complex-cdc.yaml
  config-templates/complex-mini.yaml
  config-templates/complex-multi-instance.yaml
  config-templates/complex-tidb-binlog.yaml
  config-templates/complex-tiflash.yaml
  config-templates/geo-redundancy-deployment.yaml
  config-templates/simple-cdc.yaml
  config-templates/simple-mini.yaml
  config-templates/simple-multi-instance.yaml
  config-templates/simple-tidb-binlog.yaml
  config-templates/simple-tiflash.yaml
  geo-distributed-deployment-topology.md
  hybrid-deployment-topology.md
  minimal-deployment-topology.md
  ticdc-deployment-topology.md
  tidb-binlog-deployment-topology.md
  tiflash-topology-deployment.md
Labels: needs-cherry-pick-4.0, translation/from-docs-cn, version-split-changes-required

#2649 how-to: update doc for deploying tidb cluster using tiup
  production-deployment-using-tiup.md
  quick-start-with-tidb.md
  tiflash-deployment-topology.md
  tiup/manage-tiup-component.md
  tiup/package-tiup-component.md
  tiup/tiup-overview.md
Labels: needs-cherry-pick-4.0, status/LGT1, status/can-merge, translation/from-docs-cn

#2701 Add daily-check.md
  daily-check.md
  media/failed-query-panel.png
  media/garbage-collation-panel.png
  media/host-panel.png
  media/instance-status-panel.png
  media/kv-duration-panel.png
  media/overview-panel.png
  media/pd-duration-panel.png
  media/region-panel.png
  media/sql-analysis-panel.png
Labels: needs-cherry-pick-4.0, translation/from-docs-cn

#2694 TiCDC: Update ticdc-overview.md
  ticdc/ticdc-overview.md
Labels: follow-up, needs-cherry-pick-4.0, status/can-merge, translation/from-docs-cn

#2691 TiCDC: Update ticdc-open-protocol.md
  ticdc/ticdc-open-protocol.md
Labels: needs-cherry-pick-4.0, status/can-merge, translation/from-docs-cn

#2664 BR: Update backup-and-restore-tool.md
  br/backup-and-restore-tool.md
Labels: needs-cherry-pick-3.1, needs-cherry-pick-4.0, status/can-merge, translation/from-docs-cn

#2670 TiCDC: Update manage-ticdc.md
  ticdc/manage-ticdc.md
Labels: needs-cherry-pick-4.0, status/can-merge, translation/from-docs-cn

#2704 add doc for sql_select_limit
  system-variables.md
Labels: needs-cherry-pick-4.0, status/can-merge, translation/from-docs-cn

#2681 Update upgrade-tidb-using-tiup.md
  tiup/tiup-overview.md
  upgrade-tidb-using-tiup.md
Labels: needs-cherry-pick-4.0, status/can-merge, translation/from-docs-cn

#2683 Update scale-tidb-using-tiup.md and maintain-tiflash.md
  scale-tidb-using-tiup.md
  ticdc/deploy-ticdc.md
  tiflash/maintain-tiflash.md
Labels: needs-cherry-pick-4.0, status/can-merge, translation/from-docs-cn

#2732 fix: add missing curly bracket
  scale-tidb-using-tiup.md
Labels: needs-cherry-pick-4.0, translation/no-need, type/bug-fix

#2730 deploy: add what's next in production deployment
  geo-distributed-deployment-topology.md
  hardware-and-software-requirements.md
  hybrid-deployment-topology.md
  minimal-deployment-topology.md
  production-deployment-using-tiup.md
  ticdc-deployment-topology.md
  tidb-binlog-deployment-topology.md
  tiflash-deployment-topology.md
Labels: needs-cherry-pick-4.0, status/can-merge, translation/from-docs-cn

#2728 quick start: update quick start with tidb
  quick-start-with-tidb.md
Labels: needs-cherry-pick-4.0, status/can-merge, translation/from-docs-cn, version-split-changes-required

#2679 update SPM document
  TOC.md
  sql-plan-management.md
Labels: needs-cherry-pick-4.0, status/can-merge, translation/from-docs-cn

#2729 Add what's new in TiDB 4.0
  TOC.md
  whats-new-in-tidb-4.0.md
Labels: needs-cherry-pick-4.0, status/can-merge, translation/from-docs-cn

#2689 add TiDB Dashboard Log Search Page doc
  dashboard/dashboard-log-search.md
Labels: needs-cherry-pick-4.0, status/can-merge, translation/from-docs-cn

#2698 Update Key Visualizer doc
  TOC.md
  dashboard/dashboard-key-visualizer.md
Labels: needs-cherry-pick-4.0, status/can-merge, translation/from-docs-cn

#2669 Add note about default-auth for MySQL 8.0 clients
  connectors-and-apis.md
  security-compatibility-with-mysql.md
  tidb-specific-system-variables.md
  user-account-management.md
Labels: needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, status/can-merge, translation/doing

#2619 Update backup-and-restore-tool.md
  br/backup-and-restore-tool.md
Labels: contribution, status/can-merge, translation/no-need

#2693 Update maintain-tidb-using-tiup.md
  maintain-tidb-using-tiup.md
Labels: needs-cherry-pick-4.0, status/can-merge, translation/from-docs-cn

#2745 enclose tags to fix build failure
  encryption-at-rest.md
Labels: needs-cherry-pick-4.0, status/can-merge, translation/no-need

#2700 Secure: update secure-related docs
  TOC.md
  enable-encrypt-stored-data.md
  enable-tls-between-clients-and-servers.md
  enable-tls-between-components.md
  sql-statements/sql-statement-alter-instance.md
Labels: needs-cherry-pick-4.0, status/can-merge, translation/from-docs-cn, version-split-changes-required

#2703 Update generate-self-signed-certificates.md
  generate-self-signed-certificates.md
Labels: needs-cherry-pick-4.0, status/can-merge, translation/from-docs-cn

#2690 add dashboard diagnostics docs
  dashboard/dashboard-diagnostics-access.md
  dashboard/dashboard-diagnostics-report.md
  dashboard/dashboard-diagnostics-usage.md
Labels: needs-cherry-pick-4.0, status/can-merge, translation/from-docs-cn

#2755 dashboard: convert svg to png
  media/dashboard/dashboard-ops-multiple-pd.png
  media/dashboard/dashboard-ops-multiple-pd.svg
Labels: needs-cherry-pick-4.0, status/can-merge, translation/from-docs-cn

#2668 Add TiDB Dashboard documents
  dashboard/dashboard-cluster-info.md
  dashboard/dashboard-overview.md
  dashboard/dashboard-slow-query.md
  dashboard/dashboard-statement-details.md
  dashboard/dashboard-statement-list.md
  media/dashboard/dashboard-overview-latency.png
Labels: needs-cherry-pick-4.0, status/can-merge, translation/from-docs-cn

#2705 dumpling: add export-or-backup-using-dumpling.md
  TOC.md
  export-or-backup-using-dumpling.md
  mydumper-overview.md
Labels: needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, translation/from-docs-cn

#2737 Add faq, intro, deploy, secure and reverse proxy for TiDB Dashboard
  dashboard/dashboard-access.md
  dashboard/dashboard-faq.md
  dashboard/dashboard-intro.md
  dashboard/dashboard-ops-deploy.md
  dashboard/dashboard-ops-reverse-proxy.md
  dashboard/dashboard-ops-security.md
Labels: needs-cherry-pick-4.0, status/can-merge, translation/from-docs-cn

#2765 br: update --version
  br/backup-and-restore-tool.md
Labels: needs-cherry-pick-3.1, needs-cherry-pick-4.0, translation/welcome

#2770 add new option for tidb_replica_read
  follower-read.md
Labels: translation/done

#2767 Address Dashboard comments in #2737
  dashboard/dashboard-faq.md
  dashboard/dashboard-ops-deploy.md
  dashboard/dashboard-ops-reverse-proxy.md
  dashboard/dashboard-ops-security.md
Labels: needs-cherry-pick-4.0, status/can-merge, translation/no-need

#2749 *: Update TOC.md and fix some deadlink issues
  TOC.md
  production-deployment-using-tiup.md
  ticdc/deploy-ticdc.md
  tiflash/deploy-tiflash.md
  tiflash/troubleshoot-tiflash.md
  tiup/package-tiup-component.md
  tiup/tiup-overview.md
  tune-tikv-performance.md
Labels: needs-cherry-pick-4.0, translation/from-docs-cn

#2775 glossary: add a term "Restore"
  glossary.md
Labels: needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, translation/from-docs-cn

#2786 fix indent and unify format
  TOC.md
Labels: needs-cherry-pick-4.0, status/can-merge, translation/from-docs-cn

#2766 upgrade: add upgrade tidb using tiup offline
  TOC.md
  upgrade-tidb-using-tiup-offline.md
Labels: needs-cherry-pick-4.0, translation/from-docs-cn

#2759 reference: refine the ecosystem tools user guide
  TOC.md
  ecosystem-tool-user-case.md
  ecosystem-tool-user-guide.md
Labels: needs-cherry-pick-3.1, needs-cherry-pick-4.0, status/PTAL, translation/from-docs-cn

#2795 tools: add ecosystem tools overview and use case in 3.0
  TOC.md
  ecosystem-tool-user-case.md
  ecosystem-tool-user-guide.md
Labels: needs-cherry-pick-2.1, status/can-merge, translation/from-docs-cn

#2796 Fix a link in ecosystem-tool-user-case.md
  ecosystem-tool-user-case.md
Labels: needs-cherry-pick-3.1, needs-cherry-pick-4.0, status/can-merge, translation/no-need

#2752 sql: update parameters and examples of load data
  sql-statements/sql-statement-load-data.md
Labels: needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, status/LGT1, status/PTAL, status/can-merge, translation/from-docs-cn, version-split-changes-required

#2800 tools: add a missing tool download link in TOC
  TOC.md
  download-ecosystem-tools.md
Labels: needs-cherry-pick-3.0, translation/no-need

#2771 migrate: migrate from mysql files
  TOC.md
  migrate-from-mysql-mydumper-files.md
  mydumper-overview.md
Labels: needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, status/can-merge, translation/from-docs-cn, version-split-changes-required

#2778 Fix typo in quick-start-with-tidb.md
  quick-start-with-tidb.md
Labels: contribution, status/can-merge

#2806 Fix typo in quick-start-with-tidb.md
  quick-start-with-tidb.md
Labels: translation/no-need

#2815 transaction: update transaction overview
  follower-read.md
  transaction-overview.md
Labels: needs-cherry-pick-4.0, status/LGT2, status/can-merge, translation/from-docs-cn

#2818 Fix a multiple times issue in transaction-overview.md
  transaction-overview.md
Labels: translation/no-need

#2811 update auto-random.md
  auto-random.md
Labels: needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, status/can-merge, translation/from-docs-cn

#2751 ticdc: add ticdc troubleshooting document
  TOC.md
  ticdc/ticdc-overview.md
  ticdc/troubleshoot-ticdc.md
Labels: needs-cherry-pick-4.0, status/PTAL, status/can-merge, translation/from-docs-cn

#2826 add document of `SHOW PLUGIN`
  TOC.md
  sql-statements/sql-statement-show-plugins.md
Labels: needs-cherry-pick-4.0, status/PTAL, status/can-merge, translation/from-docs-cn

#2839 overview: fix 2 links
  overview.md
Labels: needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, size/small, status/can-merge, translation/no-need

#2816 releases: add TiDB 4.0.1 release notes
  TOC.md
  releases/release-4.0.1.md
  releases/release-notes.md
Labels: DNM until Ansible tag is ready, needs-cherry-pick-4.0, translation/from-docs-cn

#2837 update outdated ansible deployment recommendations
  benchmark/benchmark-tidb-using-sysbench.md
  faq/tidb-faq.md
  online-deployment-using-ansible.md
Labels: needs-cherry-pick-4.0, status/can-merge, translation/from-docs-cn

#2845 Secure: remove out-dated encryption docs
  TOC.md
  enable-encrypt-stored-data.md
Labels: needs-cherry-pick-4.0, status/can-merge, translation/done

#2849 add auto label github action
  .github/auto-label.json
  .github/pull_request_template.md
  .github/workflows/auto-label.yml
Labels: needs-cherry-pick-4.0, status/PTAL, translation/from-docs-cn

#2854 add auto assign reviewer github action
  .github/assign-by-files.yml
  .github/workflows/auto-assign.yml
Labels: status/PTAL, translation/from-docs-cn

#2812 Update identify-slow-queries.md
  identify-slow-queries.md
Labels: needs-cherry-pick-4.0, status/LGT2, status/can-merge, translation/from-docs-cn

#2862 update several statements
  sql-statements/sql-statement-commit.md
  sql-statements/sql-statement-execute.md
  sql-statements/sql-statement-insert.md
  sql-statements/sql-statement-replace.md
  sql-statements/sql-statement-rollback.md
  sql-statements/sql-statement-set-transaction.md
  sql-statements/sql-statement-start-transaction.md
Labels: needs-cherry-pick-4.0, translation/from-docs-cn

#2835 Update transaction-isolation-levels.md
  transaction-isolation-levels.md
Labels: needs-cherry-pick-4.0, status/LGT1, status/PTAL, status/can-merge, translation/from-docs-cn

#2824 update optimistic transaction
  optimistic-transaction.md
Labels: needs-cherry-pick-4.0, status/can-merge, translation/from-docs-cn

#2776 add auto-increment.md
  TOC.md
  auto-increment.md
Labels: needs-cherry-pick-4.0, status/can-merge, translation/from-docs-cn

#2856 add document for `SHOW ANALYZE STATUS`
  TOC.md
  sql-statements/sql-statement-show-analyze-status.md
Labels: needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, status/can-merge, translation/from-docs-cn

#2830 update some syntax diagram
  sql-statements/sql-statement-drop-index.md
  sql-statements/sql-statement-flashback-table.md
  sql-statements/sql-statement-recover-table.md
  sql-statements/sql-statement-show-table-regions.md
  sql-statements/sql-statement-split-region.md
Labels: needs-cherry-pick-4.0, status/can-merge, translation/from-docs-cn

#2859 update several sql statements
  sql-statements/sql-statement-set-names.md
  sql-statements/sql-statement-show-columns-from.md
  sql-statements/sql-statement-show-create-sequence.md
Labels: needs-cherry-pick-4.0, status/can-merge, translation/from-docs-cn

#2878 Update upgrade-tidb-using-tiup.md
  upgrade-tidb-using-tiup.md
Labels: needs-cherry-pick-4.0, translation/from-docs-cn

#2827 update pessimistic transaction
  media/pessimistic-transaction-pipelining.png
  pessimistic-transaction.md
Labels: needs-cherry-pick-4.0, status/LGT2, status/can-merge, translation/from-docs-cn

#2880 update syntax gram for `kill`, `prepare` and `show stats_healthy`
  sql-statements/sql-statement-kill.md
  sql-statements/sql-statement-prepare.md
  statistics.md
Labels: needs-cherry-pick-4.0, status/can-merge, translation/from-docs-cn

#2881 add & update several sql statements
  TOC.md
  sql-statements/sql-statement-show-builtins.md
  sql-statements/sql-statement-show-engines.md
  sql-statements/sql-statement-show-errors.md
Labels: needs-cherry-pick-4.0, status/can-merge, translation/from-docs-cn

#2882 Update the docs of 'drop database'
  sql-statements/sql-statement-drop-database.md
Labels: needs-cherry-pick-4.0, status/can-merge, translation/from-docs-cn

#2885 update some syntax diagram
  sql-statements/sql-statement-flush-tables.md
Labels: needs-cherry-pick-4.0, size/small, status/can-merge, translation/from-docs-cn

#2890 Update the sql diagram of SHOW TABLES and SHOW INDEXES
  sql-statements/sql-statement-show-indexes.md
  sql-statements/sql-statement-show-tables.md
Labels: needs-cherry-pick-4.0, translation/from-docs-cn

#2832 *: add experimental warnings
  configure-placement-rules.md
  dashboard/dashboard-intro.md
  post-installation-check.md
  sql-statements/sql-statement-create-index.md
  system-tables/system-table-sql-diagnosis.md
  ticdc/ticdc-overview.md
  tidb-configuration-file.md
  tikv-configuration-file.md
Labels: needs-cherry-pick-4.0, status/PTAL, status/can-merge, translation/from-docs-cn

#2875 Update configure-placement-rules.md
  configure-placement-rules.md
Labels: needs-cherry-pick-4.0, size/small, special-week, status/can-merge, translation/from-docs-cn

#2895 TiFlash: Add some notes about hint on table alias name
  tiflash/use-tiflash.md
Labels: needs-cherry-pick-3.1, needs-cherry-pick-4.0, status/PTAL, translation/from-docs-cn

#2831 update several statements
  sql-statements/sql-statement-do.md
  sql-statements/sql-statement-set-variable.md
  sql-statements/sql-statement-show-variables.md
Labels: needs-cherry-pick-4.0, status/can-merge, translation/from-docs-cn

#2813 system-tables: update CLUSTER_PROCESSLIST and CLUSTER_SLOW_QUERY
  system-tables/system-table-information-schema.md
Labels: needs-cherry-pick-4.0, status/PTAL, status/can-merge, translation/from-docs-cn

#2790 Update mysql-compatibility.md
  mysql-compatibility.md
Labels: needs-cherry-pick-4.0, special-week, status/PTAL, status/can-merge, status/require-change, translation/from-docs-cn, version-split-changes-required

#2828 update several document related to privilege sql statement
  sql-statements/sql-statement-create-user.md
  sql-statements/sql-statement-drop-user.md
  sql-statements/sql-statement-flush-privileges.md
  sql-statements/sql-statement-grant-privileges.md
  sql-statements/sql-statement-revoke-privileges.md
  sql-statements/sql-statement-set-password.md
Labels: needs-cherry-pick-4.0, status/LGT1, status/can-merge, status/require-change, translation/from-docs-cn

#2825 sql statement: add document for SET ROLE
  TOC.md
  sql-statements/sql-statement-set-role.md
Labels: needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, status/can-merge, translation/from-docs-cn

#2889 Fix sql-statement: use, update, truncate, trace
  sql-statements/sql-statement-trace.md
  sql-statements/sql-statement-update.md
  sql-statements/sql-statement-use.md
Labels: needs-cherry-pick-4.0, status/can-merge, translation/from-docs-cn

#2833 update sql-statement-show-table-next-rowid.md
  TOC.md
  sql-statements/sql-statement-show-processlist.md
  sql-statements/sql-statement-show-table-next-rowid.md
  sql-statements/sql-statement-show-table-status.md
  sql-statements/sql-statement-show-warnings.md
Labels: needs-cherry-pick-4.0, translation/from-docs-cn

#2678 Update tiflash-configuration.md
  tiflash/tiflash-configuration.md
Labels: needs-cherry-pick-4.0, status/can-merge, translation/from-docs-cn

#2814 TiCDC: Update TiCDC files
  TOC.md
  daily-check.md
  ticdc/column-ddl-type-codes.md
  ticdc/sink-url.md
  ticdc/ticdc-overview.md
  ticdc/troubleshoot-ticdc.md
Labels: needs-cherry-pick-4.0, status/LGT1, status/can-merge, translation/from-docs-cn

#2866 system tables: update diagnose system table doc
  system-tables/system-table-cluster-log.md
  system-tables/system-table-inspection-result.md
  system-tables/system-table-inspection-summary.md
  system-tables/system-table-metrics-schema.md
  system-tables/system-table-metrics-tables.md
  system-tables/system-table-sql-diagnosis.md
Labels: needs-cherry-pick-4.0, status/can-merge, translation/from-docs-cn

#2774 Data migration: Add migration-overview.md
  migration-overview.md
Labels: needs-cherry-pick-4.0, status/LGT1, status/PTAL, translation/from-docs-cn

#2899 Add TiDB limitations
  TOC.md
  tidb-limitations.md
Labels: needs-cherry-pick-4.0, special-week, status/PTAL, status/can-merge, translation/from-docs-cn

#2791 add 3 monitoring documents
  TOC.md
  deploy-monitoring-services.md
  grafana-overview-dashboard.md
  media/grafana-monitor-overview.png
  media/grafana-monitored-groups.png
  media/overview.png
  mysql-compatibility.md
  production-deployment-from-binary-tarball.md
  tidb-monitoring-api.md
  tidb-monitoring-framework.md
Labels: needs-cherry-pick-4.0, special-week, status/PTAL, status/require-change, translation/from-docs-cn, version-split-changes-required

#2777 Troubleshooting: Update statement-summary-tables.md
  statement-summary-tables.md
Labels: needs-cherry-pick-4.0, status/can-merge, translation/from-docs-cn

#2772 update SQL diagnotics document
  TOC.md
  system-tables/system-table-inspection-result.md
  system-tables/system-table-inspection-summary.md
  system-tables/system-table-metrics-schema.md
  system-tables/system-table-sql-diagnosis.md
  system-tables/system-table-sql-diagnostics.md
  whats-new-in-tidb-4.0.md
Labels: needs-cherry-pick-4.0, special-week, status/PTAL, status/can-merge, translation/from-docs-cn, version-split-changes-required

#2863 add show config statement
  TOC.md
  sql-statements/sql-statement-show-config.md
Labels: needs-cherry-pick-4.0, translation/from-docs-cn

#2920 change 2 aliases in 4.0
  deploy-monitoring-services.md
Labels: size/small, status/can-merge, translation/no-need, type/bug-fix

#2912 change absolute path to relative path of docs repo files
  benchmark/v4.0-performance-benchmarking-with-tpch.md
  migrate-from-aurora-mysql-database.md
  releases/release-2.1-ga.md
  releases/release-2.1-rc.5.md
  releases/release-2.1.18.md
  releases/release-2.1.2.md
  sql-statements/sql-statement-explain.md
  tidb-binlog/upgrade-tidb-binlog.md
  tidb-lightning/deploy-tidb-lightning.md
  tidb-troubleshooting-map.md
Labels: needs-cherry-pick-4.0, status/PTAL, status/can-merge, translation/from-docs-cn

#2819 system-tables: add a description for columns
  system-tables/system-table-information-schema.md
Labels: needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, status/PTAL, status/can-merge, translation/from-docs-cn

#2857 tidb-binlog: add binlog-control.md
  TOC.md
  tidb-binlog/binlog-control.md
Labels: needs-cherry-pick-4.0, translation/from-docs-cn

#2935 TOC: add migration-overview.md
  TOC.md
Labels: status/can-merge, translation/no-need

#2887 Update sql diagrams of show statements
  sql-statements/sql-statement-show-create-table.md
  sql-statements/sql-statement-show-create-user.md
  sql-statements/sql-statement-show-databases.md
  sql-statements/sql-statement-show-grants.md
Labels: needs-cherry-pick-4.0, status/can-merge, translation/from-docs-cn

#2938 *: update the index file with new format
  _index.md
  maintain-tidb-using-tiup.md
  tidb-lightning/tidb-lightning-faq.md
Labels: needs-cherry-pick-4.0, status/can-merge, translation/from-docs-cn

#2865 add shutdown statement
  TOC.md
  sql-statements/sql-statement-shutdown.md
Labels: needs-cherry-pick-4.0, status/can-merge, translation/from-docs-cn

#2918 sql-statements: update `analyze` statement
  sql-statements/sql-statement-analyze-table.md
Labels: needs-cherry-pick-4.0, status/can-merge, translation/from-docs-cn

#2934 combine duplicate doc
  sql-statements/sql-statement-show-table-next-rowid.md
Labels: needs-cherry-pick-4.0, status/can-merge, translation/from-docs-cn

#2922 *: update "change column" and "begin"
  sql-statements/sql-statement-add-index.md
  sql-statements/sql-statement-begin.md
  sql-statements/sql-statement-change-column.md
  sql-statements/sql-statement-commit.md
Labels: needs-cherry-pick-4.0, status/can-merge, status/require-change, translation/from-docs-cn

#2926 sql statement: Add syntax gram of `load stats`
  TOC.md
  sql-statements/sql-statement-load-stats.md
Labels: needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, status/PTAL, status/can-merge, translation/from-docs-cn

#2945 add sql statement about pump and drainer
  TOC.md
  sql-statements/sql-statement-change-drainer.md
  sql-statements/sql-statement-change-pump.md
  sql-statements/sql-statement-show-drainer-status.md
  sql-statements/sql-statement-show-master-status.md
  sql-statements/sql-statement-show-pump-status.md
Labels: needs-cherry-pick-4.0, status/can-merge, status/require-change, translation/from-docs-cn

#2941 sql-statements:add drop-stats.md
  TOC.md
  sql-statements/sql-statement-drop-stats.md
  statistics.md
Labels: needs-cherry-pick-4.0, status/can-merge, translation/from-docs-cn

#2939 sql-statements: update create view and drop view
  sql-statements/sql-statement-create-view.md
  sql-statements/sql-statement-drop-table.md
  sql-statements/sql-statement-drop-view.md
Labels: needs-cherry-pick-4.0, status/can-merge, translation/from-docs-cn

#2861 update several 'CREATE' related statement
  sql-statements/sql-statement-create-index.md
  sql-statements/sql-statement-create-sequence.md
  sql-statements/sql-statement-create-table-like.md
  sql-statements/sql-statement-create-table.md
Labels: needs-cherry-pick-4.0, status/can-merge, translation/from-docs-cn

#2829 update sql-statement-modify-column.md
  sql-statements/sql-statement-modify-column.md
Labels: needs-cherry-pick-4.0, status/can-merge, translation/from-docs-cn

#2836 update several sql statement docs
  sql-statements/sql-statement-drop-sequence.md
  sql-statements/sql-statement-show-character-set.md
  sql-statements/sql-statement-show-collation.md
Labels: needs-cherry-pick-4.0, status/require-change, translation/from-docs-cn

#2924 sql-statements: update some statements
  sql-statements/sql-statement-add-column.md
  sql-statements/sql-statement-add-index.md
  sql-statements/sql-statement-alter-database.md
  sql-statements/sql-statement-alter-instance.md
  sql-statements/sql-statement-alter-table.md
  sql-statements/sql-statement-alter-user.md
  sql-statements/sql-statement-change-column.md
  sql-statements/sql-statement-create-database.md
  sql-statements/sql-statement-drop-column.md
  sql-statements/sql-statement-drop-table.md
Labels: needs-cherry-pick-4.0, status/can-merge, status/require-change, translation/from-docs-cn

#2902 sql-statements: add/modify doc for `SELECT`, `SHOW STATS_HISTOGRAMS` and `SHOW STATS_META`
  TOC.md
  media/sqlgram/ShowLikeOrWhereOpt.png
  sql-statements/sql-statement-select.md
  sql-statements/sql-statement-show-histograms.md
  sql-statements/sql-statement-show-stats-meta.md
  statistics.md
Labels: needs-cherry-pick-4.0, status/can-merge, status/require-change, translation/from-docs-cn

#2927 sql-statements: add sql statements for sql bind
  TOC.md
  sql-statements/sql-statement-create-binding.md
  sql-statements/sql-statement-drop-binding.md
  sql-statements/sql-statement-show-bindings.md
Labels: needs-cherry-pick-4.0, status/PTAL, status/can-merge, translation/from-docs-cn

#2928 sql-statement: update `admin` related statements
  sql-statements/sql-statement-admin.md
Labels: needs-cherry-pick-4.0, status/can-merge, translation/from-docs-cn

#2944 Update Dashboard images and remove outdated keyviz images
  media/dashboard/dashboard-access-logout.png
  media/dashboard/dashboard-access-switch-language.png
  media/dashboard/dashboard-cluster-info-access.png
  media/dashboard/dashboard-cluster-info-hosts.png
  media/dashboard/dashboard-cluster-info-instances.png
  media/dashboard/dashboard-keyviz-access.png
  media/dashboard/dashboard-slow-queries-detail1.png
  media/dashboard/dashboard-slow-queries-detail2.png
  media/dashboard/dashboard-slow-queries-list1.png
  media/dashboard/dashboard-slow-queries-list2.png
  media/dashboard/dashboard-slow-queries-list3.png
  media/dashboard/dashboard-statement-access.png
  media/dashboard/dashboard-statement-change-order.png
  media/dashboard/dashboard-statement-columns-selector.png
  media/dashboard/dashboard-statement-filter-options.png
  media/dashboard/dashboard-statement-setting-entry.png
  media/dashboard/keyvisualizer/continue.png
  media/dashboard/keyvisualizer/overview.png
  media/dashboard/keyvisualizer/period.png
  media/dashboard/keyvisualizer/sequential.png
  media/dashboard/keyvisualizer/toolbar.png
  media/dashboard/keyvisualizer/tooltip-copy.png
  media/dashboard/keyvisualizer/tooltip.png
  media/dashboard/keyvisualizer/well_dist.png
Labels: needs-cherry-pick-4.0, status/PTAL, status/can-merge, translation/doing

#2975 add sql-statement-show-profiles.md
  TOC.md
  sql-statements/sql-statement-show-profiles.md
Labels: needs-cherry-pick-4.0, status/PTAL, translation/from-docs-cn

#2979 index: fix the Minikube link
  _index.md
Labels: needs-cherry-pick-3.1, size/small, translation/no-need

#2980 index: fix the Minikube link
  _index.md
Labels: size/small, translation/no-need

#2981 add descriptions about binding source
  sql-plan-management.md
  sql-statements/sql-statement-show-bindings.md
Labels: needs-cherry-pick-4.0, size/small, status/LGT2

#2978 Update tidb-lightning-tidb-backend.md
  tidb-lightning/tidb-lightning-tidb-backend.md
Labels: needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, status/PTAL, status/can-merge, translation/from-docs-cn

#2973 certificate-authentication.md: refine cert based authentication
  certificate-authentication.md
Labels: needs-cherry-pick-4.0, status/PTAL, status/can-merge, translation/from-docs-cn

#2990 tiup: update pd status description
  tiup/tiup-cluster.md
Labels: needs-cherry-pick-4.0, status/PTAL, translation/from-docs-cn

#2992 fix auto assign reviewers github action
  .github/assign-by-files.yml
  .github/workflows/auto-assign.yml
Labels: status/PTAL, translation/from-docs-cn

#2946 tidb-lightning: update docs
  tidb-lightning/deploy-tidb-lightning.md
  tidb-lightning/migrate-from-csv-using-tidb-lightning.md
  tidb-lightning/monitor-tidb-lightning.md
  tidb-lightning/tidb-lightning-configuration.md
  tidb-lightning/tidb-lightning-faq.md
  tidb-lightning/tidb-lightning-glossary.md
  troubleshoot-tidb-lightning.md
Labels: needs-cherry-pick-4.0, size/medium, status/LGT2, status/PTAL, status/can-merge, translation/welcome

#2974 Update maintain-tidb-binlog-cluster.md
  tidb-binlog/maintain-tidb-binlog-cluster.md
Labels: needs-cherry-pick-4.0, status/PTAL, status/can-merge, translation/from-docs-cn

#2995 add experimental feature warnings
  data-type-json.md
  functions-and-operators/json-functions.md
  generated-columns.md
  tidb-configuration-file.md
Labels: needs-cherry-pick-4.0, status/PTAL, status/can-merge, translation/from-docs-cn

#2993 add warnings for user variables
  user-defined-variables.md
Labels: needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, status/PTAL, status/can-merge, translation/from-docs-cn

#3011 tikv-ctl: document for encryption-meta subcommand
  encryption-at-rest.md
  tikv-control.md
Labels: needs-cherry-pick-4.0, status/PTAL, translation/doing

#3002 Add explaination about tidb_allow_batch_cop
  tidb-specific-system-variables.md
  tiflash/tune-tiflash-performance.md
Labels: needs-cherry-pick-4.0, status/PTAL, status/can-merge, translation/from-docs-cn

#3001 Create tiflash-command-line-flags.md
  TOC.md
  tiflash/tiflash-command-line-flags.md
Labels: needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, status/PTAL, status/can-merge, translation/from-docs-cn

#2977 Update tune-tikv-performance.md
  data-type-json.md
  tidb-binlog/tidb-binlog-faq.md
  tune-tikv-performance.md
Labels: needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, size/small, status/PTAL, status/can-merge, translation/from-docs-cn

#3004 Add an issue and troubleshoot solution in troubleshoot-tiflash.md
  tiflash/troubleshoot-tiflash.md
Labels: needs-cherry-pick-4.0, status/PTAL, status/can-merge, translation/from-docs-cn

#2998 tools: update master/slave to primary/secondary for binlog and sync-diff-inspector
  sync-diff-inspector/upstream-downstream-diff.md
Labels: needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, status/PTAL, status/can-merge, translation/doing
