Repository pingcap/docs, pull requests merged in 2020-12, with the labels that each got.

#4296 Media: Delete tidb-trace-viewer-2.png
  media/tidb-trace-viewer-2.png
Labels: needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, status/LGT1, translation/from-docs-cn

#4291 Media: Delete two images that involve third-party logos
  media/grafana-screenshot.png
  media/tiup/grafana-login.png
  post-installation-check.md
Labels: needs-cherry-pick-4.0, status/LGT1, translation/from-docs-cn

#4308 Remove useless download info for binlogctl
  tidb-binlog/binlog-control.md
Labels: needs-cherry-pick-4.0, size/small, status/LGT1, translation/from-docs-cn

#4310 ticdc: add a description for uri with special characters
  ticdc/manage-ticdc.md
Labels: needs-cherry-pick-4.0, size/small, status/LGT1, translation/from-docs-cn

#4311 tiup: use absolute path
  upgrade-tidb-using-tiup.md
Labels: needs-cherry-pick-4.0, size/small, status/LGT1, translation/from-docs-cn, type/bug-fix

#4313 chore: add script to upload file to s3
  .circleci/config.yml
  scripts/upload.py
Labels: needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, status/LGT1, translation/from-docs-cn

#4315 Add log.level description
  tidb-configuration-file.md
Labels: needs-cherry-pick-4.0, size/small, status/LGT1, translation/from-docs-cn

#4300 system-variables: Update last-plan-from-binding
  system-variables.md
Labels: follow-up, size/small, status/LGT1, translation/doing

#4293 Disable THP in check-before-deployment.md
  check-before-deployment.md
Labels: needs-cherry-pick-4.0, size/medium, status/LGT1, status/PTAL, translation/from-docs-cn

#4323 readme: change google translate links to appropriate version
  README.md
Labels: needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, status/LGT1, status/PTAL, translation/no-need, version-specific-changes-required

#4322 dumpling: add system database detail
  dumpling-overview.md
Labels: needs-cherry-pick-4.0, size/small, status/LGT2, translation/from-docs-cn

#4335 tidb-control: modify service port to status port
  tidb-control.md
Labels: needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, status/LGT1, status/PTAL, translation/from-docs-cn

#4336 statements: put access-key & secret-key in backup example
  sql-statements/sql-statement-backup.md
Labels: needs-cherry-pick-4.0, require-LGT1, status/LGT1, status/PTAL, status/can-merge, translation/from-docs-cn

#4325 adopters: add WeBank
  adopters.md
Labels: needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, size/small, status/LGT1, translation/no-need

#4332 change note to warning for experimental features
  dashboard/dashboard-diagnostics-access.md
  garbage-collection-configuration.md
  post-installation-check.md
  storage-engine/titan-configuration.md
  ticdc/integrate-confluent-using-ticdc.md
  ticdc/manage-ticdc.md
Labels: needs-cherry-pick-4.0, size/small, status/LGT1, status/PTAL, translation/done

#4342 sql-statements: use ENBF to render syntax diagrams for BACKUP and RESTORE
  media/sqlgram/BRIETables.png
  media/sqlgram/BackupOption.png
  media/sqlgram/BackupStmt.png
  media/sqlgram/BackupTSO.png
  media/sqlgram/Boolean.png
  media/sqlgram/RestoreOption.png
  media/sqlgram/RestoreStmt.png
  media/sqlgram/ShowBRIEStmt.png
  sql-statements/sql-statement-backup.md
  sql-statements/sql-statement-restore.md
  sql-statements/sql-statement-show-backups.md
Labels: needs-cherry-pick-4.0, size/small, status/LGT2, status/PTAL, translation/doing

#4354 binlog: add an example for `ignore-txn-commit-ts`
  tidb-binlog/tidb-binlog-configuration-file.md
Labels: needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, size/small, status/LGT1, translation/from-docs-cn

#4359 toc: remove synchronous replication
  TOC.md
Labels: follow-up, size/small, status/LGT2, status/PTAL, translation/no-need

#4353 Make the dynamic config of TiKV more clear
  dynamic-config.md
Labels: needs-cherry-pick-4.0, size/small, status/LGT1, status/PTAL, translation/doing

#4361 update example versions in download-ecosystem-tools.md
  download-ecosystem-tools.md
Labels: needs-cherry-pick-4.0, status/LGT1, status/PTAL, translation/from-docs-cn

#4302 monitoring: document MetricsTool (Export Grafana Snapshots)
  TOC.md
  _index.md
  exporting-grafana-snapshots.md
  media/metricstool-export.png
  media/metricstool-visualize.png
Labels: needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, status/LGT2, status/PTAL, status/can-merge, translation/doing

#4367 capitalize sql keywords
  metrics-schema.md
Labels: first-time-contributor, status/LGT1

#4369 Update adopters.md
  adopters.md
Labels: needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, status/LGT1, translation/no-need

#4371 pd-ctl: add scheduler config evict-leader-scheduler
  pd-control.md
Labels: needs-cherry-pick-4.0, size/small, status/LGT1, translation/from-docs-cn

#4379 Update the description of "permission denied" error
  br/backup-and-restore-faq.md
Labels: needs-cherry-pick-4.0, size/small, status/LGT1, status/PTAL, translation/from-docs-cn

#4377 tikv-control: update description
  tikv-control.md
Labels: needs-cherry-pick-4.0, require-LGT1, size/small, status/LGT1, status/can-merge, translation/from-docs-cn

#4382 update document to use tiflash in tispark
  tiflash/use-tiflash.md
Labels: needs-cherry-pick-3.1, needs-cherry-pick-4.0, size/small, status/LGT1, translation/from-docs-cn

#4333 Deprecate config item `max-memory` and add items `server-memory-quota` and `memory-usage-alarm-ratio`
  configure-memory-usage.md
  system-variables.md
  tidb-configuration-file.md
Labels: needs-cherry-pick-4.0, size/large, status/LGT1, status/PTAL, translation/from-docs-cn, version-specific-changes-required

#4327 tikv: add server.end-point-slow-log-threshold config
  tikv-configuration-file.md
Labels: first-time-contributor, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, size/small, status/LGT2, status/can-merge, status/require-change, translation/from-docs-cn

#4391 update document for adding a float compatibility problem's warning
  data-type-numeric.md
Labels: needs-cherry-pick-4.0, status/LGT1, status/PTAL, translation/from-docs-cn

#4393 ticdc: add two troubleshoot QAs
  ticdc/troubleshoot-ticdc.md
Labels: needs-cherry-pick-4.0, status/LGT1, status/PTAL, translation/from-docs-cn

#4392 tiflash: add config item about tiflash io rate limit
  tiflash/tiflash-configuration.md
Labels: size/small, status/LGT1, translation/from-docs-cn, v5.0

#4400 add more comment for mem-quota-query
  tidb-configuration-file.md
Labels: needs-cherry-pick-4.0, size/small, status/LGT1, translation/from-docs-cn

#4403 TiFlash config: Add description for delta_index_cache_size
  tiflash/tiflash-configuration.md
Labels: size/small, status/LGT1, status/PTAL, translation/from-docs-cn, v5.0

#4398 Update online environment switch
  production-offline-deployment-using-tiup.md
Labels: needs-cherry-pick-4.0, status/LGT1, status/PTAL, translation/from-docs-cn

#4349 Media: Update four images involving third-party logos
  media/cdc-architecture.png
  media/dashboard/dashboard-ops-multiple-pd.png
  media/tiup/grafana-overview.png
  media/view-dashboard.png
Labels: needs-cherry-pick-4.0, status/LGT1, translation/doing

#4324 Media: Improve five images involving third-party logos
  media/pd-dashboard-cluster.png
  media/syncer-monitor-scheme.png
  media/syncer_monitor_scheme.png
  media/tidb-binlog-cluster-architecture.png
  media/tidb_binlog_cluster_architecture.png
  media/tikv-dashboard-cluster.png
  media/trace-view.png
  syncer-overview.md
  tidb-binlog/get-started-with-tidb-binlog.md
  tidb-binlog/tidb-binlog-overview.md
Labels: needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, status/LGT1, translation/doing, version-specific-changes-required

#4405 Add 4 aliases to fix broken links
  ecosystem-tool-user-guide.md
  functions-and-operators/functions-and-operators-overview.md
  tidb-binlog/tidb-binlog-overview.md
Labels: status/LGT1, translation/no-need, type/bug-fix

#4413 fix the default value of tcp-keep-alive
  tidb-configuration-file.md
Labels: needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, size/small, status/LGT1, translation/doing

#4411 add a new system variable `tidb_enable_amend_pessimistic_txn`
  system-variables.md
Labels: needs-cherry-pick-4.0, status/LGT1, status/PTAL, translation/from-docs-cn, v5.0

#4401 Update the description of `tidb_distsql_scan_concurrency`
  system-variables.md
Labels: needs-cherry-pick-4.0, status/LGT2, status/PTAL, translation/from-docs-cn

#4378 refine explanation for general log
  system-variables.md
Labels: needs-cherry-pick-4.0, size/small, status/LGT1, status/PTAL, translation/from-docs-cn

#4423 tikv: fix wrong description and default value for enable-statistics
  tikv-configuration-file.md
Labels: needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, size/small, status/LGT1, status/PTAL, translation/doing

#4430 Fix a broken link
  best-practices/massive-regions-best-practices.md
Labels: needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, status/LGT1, status/PTAL, translation/from-docs-cn

#4418 tidb binlog: add more description in tidb-binlog-deployment-topology.md
  config-templates/simple-file-binlog.yaml
  tidb-binlog-deployment-topology.md
Labels: needs-cherry-pick-4.0, size/small, status/LGT2, translation/from-docs-cn, version-specific-changes-required

#4399 Add a new error code 8129
  error-codes.md
Labels: first-time-contributor, needs-cherry-pick-4.0, size/small, status/LGT1, translation/doing

#4440 media: refine one image
  media/tikv-arch.png
Labels: needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, status/LGT1, status/PTAL, translation/from-docs-cn

#4444 Revert "*: remove expression index out of experimental feature."
  sql-statements/sql-statement-create-index.md
  tidb-configuration-file.md
Labels: size/small, status/LGT1, translation/from-docs-cn, v5.0

#4435 Update sql-statement-split-region.md
  sql-statements/sql-statement-split-region.md
Labels: first-time-contributor, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-master, status/LGT1, translation/no-need

#4422 tikv: rename auto-tuned config
  tikv-configuration-file.md
Labels: size/small, status/LGT1, status/PTAL, translation/doing, v5.0

#4420 tikv-configuration-file: add config for compaction guard
  tikv-configuration-file.md
Labels: size/medium, status/LGT1, translation/doing, v5.0

#4448 adopters: add NetEase Games
  .github/workflows/link-check.yaml
  adopters.md
Labels: needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, require-LGT1, size/small, status/LGT1, status/can-merge, translation/no-need

#4290 tiflash: Add desc of new TiFlash storage settings and guidelines for upgrading in v4.0.9
  config-templates/complex-tiflash.yaml
  tiflash/tiflash-configuration.md
Labels: needs-cherry-pick-4.0, size/large, status/LGT1, translation/from-docs-cn, version-specific-changes-required

#4352 add more details to pipelined lock
  pessimistic-transaction.md
Labels: needs-cherry-pick-4.0, size/small, status/LGT1, translation/from-docs-cn

#4351 encryption-at-rest: describe compatibility change with TiKV <= 4.0.8
  encryption-at-rest.md
  tikv-configuration-file.md
Labels: needs-cherry-pick-4.0, require-LGT1, size/medium, status/LGT1, status/can-merge, translation/done

#4348 system variable: add tidb_enable_rate_limit_action
  system-variables.md
Labels: needs-cherry-pick-4.0, size/small, status/DNM, status/LGT2, translation/from-docs-cn

#4334 ticdc: doc updates for 4.0.9
  ticdc/manage-ticdc.md
  ticdc/troubleshoot-ticdc.md
Labels: needs-cherry-pick-4.0, size/medium, status/DNM, status/LGT2, status/PTAL, translation/from-docs-cn

#4437 mysql-compatibility: Add GROUP BY implicit order
  mysql-compatibility.md
Labels: needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, size/small, status/PTAL, translation/doing

#4436 mysql-compatibility: update ZERO_DATE docs
  mysql-compatibility.md
Labels: size/small, status/LGT1, status/PTAL, translation/doing

#4457 adopters: add Paytm Labs
  adopters.md
Labels: needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, size/small, status/LGT1, translation/no-need

#4472 system-variables: disable clustered index by default
  system-variables.md
Labels: size/small, status/LGT1, translation/from-docs-cn, v5.0

#4370 ticdc: add a description in ticdc-overview.md
  ticdc/ticdc-overview.md
Labels: needs-cherry-pick-4.0, size/small, status/LGT2, translation/from-docs-cn

#4474 Change ordinal numbers to numbers or spell-out format
  alert-rules.md
  benchmark/benchmark-tidb-using-sysbench.md
  explain-walkthrough.md
  functions-and-operators/aggregate-group-by-functions.md
  tidb-troubleshooting-map.md
  troubleshoot-tidb-lightning.md
  whats-new-in-tidb-4.0.md
Labels: needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, status/LGT1, translation/no-need

#4478 pd: add new configurations
  pd-configuration-file.md
  pd-control.md
Labels: status/LGT1, status/PTAL, translation/from-docs-cn, v5.0

#4480 update tikv-server-config file with bottommost-level-compression
  data-type-numeric.md
  tikv-configuration-file.md
Labels: size/small, status/LGT1, status/require-change, translation/doing, translation/from-docs-cn, v5.0

#4473 Added introduction version description
  configure-memory-usage.md
  system-variables.md
  tidb-configuration-file.md
Labels: needs-cherry-pick-4.0, size/small, status/LGT1, translation/from-docs-cn

#4491 releases: remove an extra note
  releases/release-3.0.20.md
Labels: needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, size/small, status/LGT1, status/PTAL, translation/no-need

#4485 update GC for release 5.0
  garbage-collection-configuration.md
  tikv-configuration-file.md
Labels: status/LGT1, translation/from-docs-cn, v5.0

#4499 fix a number in quick-start-with-tidb.md
  quick-start-with-tidb.md
Labels: needs-cherry-pick-4.0, require-LGT1, status/LGT1, translation/no-need

#4498 Make bg_task_io_rate_limit setting experimental
  tiflash/tiflash-configuration.md
Labels: status/LGT1, translation/from-docs-cn, v5.0

#4454 update link versions
  dashboard/dashboard-ops-deploy.md
  deploy-test-cluster-using-docker-compose.md
  ecosystem-tool-user-guide.md
  overview.md
  quick-start-with-tidb.md
  test-deployment-using-docker.md
Labels: needs-cherry-pick-4.0, size/small, status/LGT2, translation/doing

#4476 clustered indexes: add initial docs
  TOC.md
  clustered-indexes.md
  system-variables.md
Labels: size/large, status/LGT2, status/require-change, translation/doing, v5.0

#4511 fix headline md lint issue
  clustered-indexes.md
Labels: needs-cherry-pick-5.0, status/LGT1, status/PTAL, translation/doing

#4517 Update PR template for v5.0
  .github/pull_request_template.md
Labels: needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, needs-cherry-pick-5.0, size/small, status/LGT1, translation/doing

#4523 Remove test docs from TOC
  TOC.md
Labels: needs-cherry-pick-5.0, size/small, status/LGT1, translation/from-docs-cn, version-specific-changes-required

#4508 add variable item `tidb_track_aggregate_memory_usage`
  system-variables.md
Labels: needs-cherry-pick-5.0, size/small, status/LGT1, translation/from-docs-cn, v5.0

#4513 Remove all TiDB Ansible related contents from dev and v5.0
  TOC.md
  best-practices/grafana-monitor-best-practices.md
  dashboard/dashboard-diagnostics-access.md
  dashboard/dashboard-faq.md
  dashboard/dashboard-overview.md
  faq/deploy-and-maintain-faq.md
  faq/migration-tidb-faq.md
  get-started-with-tispark.md
  grafana-overview-dashboard.md
  grafana-pd-dashboard.md
  grafana-tidb-dashboard.md
  grafana-tikv-dashboard.md
  maintain-tidb-using-ansible.md
  maintain-tidb-using-tiup.md
  offline-deployment-using-ansible.md
  online-deployment-using-ansible.md
  production-deployment-using-tiup.md
  production-offline-deployment-using-tiup.md
  scale-tidb-using-ansible.md
  scale-tidb-using-tiup.md
  schedule-replicas-by-topology-labels.md
  telemetry.md
  three-data-centers-in-two-cities-deployment.md
  tidb-binlog/deploy-tidb-binlog.md
  tidb-binlog/monitor-tidb-binlog-cluster.md
  tidb-binlog/upgrade-tidb-binlog.md
  tidb-lightning/deploy-tidb-lightning.md
  tidb-lightning/monitor-tidb-lightning.md
  tidb-lightning/tidb-lightning-backends.md
  tidb-lightning/tidb-lightning-faq.md
  tidb-monitoring-api.md
  tiflash/monitor-tiflash.md
  tikv-control.md
  tispark-overview.md
  tiup/tiup-cluster.md
  troubleshoot-high-disk-io.md
  troubleshoot-tidb-lightning.md
  upgrade-tidb-using-ansible.md
  upgrade-tidb-using-tiup.md
Labels: needs-cherry-pick-5.0, size/large, status/LGT1, status/PTAL, translation/from-docs-cn, version-specific-changes-required

#4528 disable gc in compaction filter by default
  garbage-collection-configuration.md
  tikv-configuration-file.md
Labels: needs-cherry-pick-5.0, status/LGT1, status/PTAL, translation/from-docs-cn

#4497 Add description related to compaction rate limit
  tikv-configuration-file.md
  tikv-control.md
Labels: needs-cherry-pick-5.0, size/small, status/LGT1, status/PTAL, translation/doing, v5.0

#4535 add enable-joint-consensus
  pd-configuration-file.md
Labels: needs-cherry-pick-5.0, status/LGT2, status/PTAL, translation/from-docs-cn, v5.0, version-specific-changes-required

#4522 Add doc for List partition and List columns partition
  partitioned-table.md
  system-variables.md
Labels: needs-cherry-pick-5.0, size/large, status/LGT2, translation/from-docs-cn, v5.0

#4538 Delete mydumper docs in dev and 5.0
  TOC.md
  backup-and-restore-using-dumpling-lightning.md
  backup-and-restore-using-mydumper-lightning.md
  br/backup-and-restore-tool.md
  download-ecosystem-tools.md
  dumpling-overview.md
  mydumper-overview.md
  three-data-centers-in-two-cities-deployment.md
  tidb-troubleshooting-map.md
Labels: needs-cherry-pick-5.0, status/LGT1, translation/from-docs-cn, v5.0, version-specific-changes-required

#4537 update async commit related configurations
  system-variables.md
  tidb-configuration-file.md
Labels: needs-cherry-pick-5.0, size/medium, status/LGT1, translation/from-docs-cn, v5.0

#4541 chore: update PDF
  .circleci/config.yml
Labels: status/LGT1, translation/from-docs-cn

#4527 tidb config: add txn-entry-size-limit
  tidb-configuration-file.md
Labels: follow-up, needs-cherry-pick-5.0, status/LGT1, translation/from-docs-cn, v5.0

#4546 Add version 2 info in statistics
  statistics.md
Labels: needs-cherry-pick-5.0, size/medium, status/LGT1, translation/from-docs-cn

#4554 Fix a typo in doc
  statement-summary-tables.md
Labels: needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, needs-cherry-pick-5.0, status/LGT2, status/PTAL, translation/no-need

#4542 delete syncer/loader docs from dev/v5.0
  TOC.md
  download-ecosystem-tools.md
  ecosystem-tool-user-guide.md
  faq/migration-tidb-faq.md
  loader-overview.md
  syncer-overview.md
  tidb-lightning/tidb-lightning-backends.md
  tidb-lightning/tidb-lightning-overview.md
Labels: needs-cherry-pick-5.0, status/LGT1, translation/from-docs-cn, v5.0

#4561 Comment out v5.0 version marks
  pd-configuration-file.md
  system-variables.md
  tidb-configuration-file.md
  tikv-configuration-file.md
Labels: needs-cherry-pick-5.0, status/LGT1, translation/from-docs-cn

#4467 Correct wrong description for a coprocessor config
  tidb-configuration-file.md
Labels: needs-cherry-pick-5.0, needs-cherry-pick-master, size/small, status/LGT2, status/PTAL, translation/done
