Repository pingcap/docs, pull requests merged in 2020-08, with the labels that each got.

#3470 Fix some issues in information schema docs
  information-schema/information-schema-analyze-status.md
  information-schema/information-schema-collation-character-set-applicability.md
  information-schema/information-schema-collations.md
  information-schema/information-schema-processlist.md
  information-schema/information-schema-session-variables.md
  information-schema/information-schema-statistics.md
  information-schema/information-schema-table-constraints.md
  information-schema/information-schema-tables.md
  information-schema/information-schema-tikv-region-peers.md
  information-schema/information-schema.md
Labels: needs-cherry-pick-4.0, require-LGT1, status/PTAL, translation/done

#3504 overview, index: update wording and add pronunciation
  _index.md
  overview.md
Labels: needs-cherry-pick-4.0, require-LGT1, size/small, status/LGT1, status/PTAL, status/can-merge, translation/no-need

#3392 Last bulk of special week changes
  TOC.md
  control-execution-plan.md
  credits.md
  media/sql-optimization.png
  predicate-push-down.md
  sql-logical-optimization.md
  sql-optimization-concepts.md
  sql-physical-optimization.md
  sql-statements/sql-statement-add-index.md
  sql-statements/sql-statement-create-index.md
  sql-tuning-overview.md
  ticdc/troubleshoot-ticdc.md
Labels: needs-cherry-pick-4.0, require-LGT1, size/large, status/LGT1, status/PTAL, status/can-merge, translation/from-docs-cn

#3507 Add 4 aliases to fix 4 dead links
  grafana-pd-dashboard.md
  support.md
  upgrade-tidb-using-ansible.md
Labels: status/LGT1, translation/no-need, type/bug-fix

#3509 Delete 3 docs that are not in TOC.md
  key-features.md
  tidb-lightning/tidb-lightning-table-filter.md
  tiflash/tiflash-faq.md
Labels: status/LGT1, status/PTAL, translation/no-need, type/4.0-cherry-pick

#3495 Update the version description in auto random document
  auto-random.md
Labels: needs-cherry-pick-4.0, require-LGT1, size/small, status/LGT1, status/can-merge, translation/from-docs-cn

#3515 add a description for configuration item query-feedback-limit
  releases/release-3.0.17.md
Labels: needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, require-LGT1, status/LGT1, status/can-merge, translation/from-docs-cn

#3514 remove 3.1 rn from 2.1 branch
  releases/release-3.0-beta.md
  releases/release-3.0-ga.md
  releases/release-3.0.0-beta.1.md
  releases/release-3.0.0-rc.1.md
  releases/release-3.0.0-rc.2.md
  releases/release-3.0.0-rc.3.md
  releases/release-3.0.1.md
  releases/release-notes.md
Labels: translation/no-need

#3519 tidb-config: remove useless note of oom action
  tidb-configuration-file.md
Labels: needs-cherry-pick-4.0, require-LGT1, status/LGT1, status/can-merge, translation/from-docs-cn

#3520 tidb-lightning: modify the description of routes label
  tidb-lightning/tidb-lightning-tidb-backend.md
Labels: needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, require-LGT1, status/LGT1, status/can-merge, translation/from-docs-cn

#3523 faq: update the tiup way of modifying version number
  faq/high-reliability-faq.md
Labels: needs-cherry-pick-4.0, require-LGT1, status/LGT1, status/can-merge, translation/from-docs-cn

#3527 tidb-lightning: fix a typo
  tidb-lightning/tidb-lightning-tidb-backend.md
Labels: require-LGT1, status/LGT1, status/can-merge, translation/no-need, type/bug-fix

#3481 Add IsolationLevel introduction for PD
  configure-placement-rules.md
  location-awareness.md
  pd-configuration-file.md
  pd-control.md
Labels: contribution, size/large, status/LGT1, translation/from-docs-cn, v5.0

#3490 tools: add shard table's check by table-rules for diff
  media/shard-table-replica-1.png
  media/shard-table-replica-2.png
  media/shard-table-sync.png
  sync-diff-inspector/shard-diff.md
  sync-diff-inspector/sync-diff-inspector-overview.md
Labels: needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, size/medium, status/LGT2, status/can-merge, translation/from-docs-cn

#3532 Remove sync-log=false from how to run sysbench
  benchmark/benchmark-tidb-using-sysbench.md
Labels: needs-cherry-pick-4.0, require-LGT1, size/small, status/LGT1, status/can-merge, translation/from-docs-cn

#3402 Update character-set-and-collation.md
  character-set-and-collation.md
Labels: follow-up, needs-cherry-pick-4.0, special-week, status/LGT1, translation/from-docs-cn

#3544 Remove 2 docs that are not in toc
  load-misuse-handling.md
  loader-overview.md
  tidb-lightning/tidb-lightning-misuse-handling.md
  troubleshoot-tidb-lightning.md
Labels: needs-cherry-pick-3.0, status/LGT1, translation/from-docs-cn, type/enhancement, version-specific-changes-required

#3546 TOC: add 2 entries
  TOC.md
Labels: needs-cherry-pick-2.1, needs-cherry-pick-3.0, status/LGT1, translation/from-docs-cn, type/bug-fix

#3542 tidb-faq: delete repetition in sql-faq
  faq/tidb-faq.md
Labels: needs-cherry-pick-4.0, status/LGT1, translation/no-need

#3543 tispark: remove evil word 'slave'
  tispark-overview.md
Labels: needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, require-LGT1, size/small, status/LGT1, status/can-merge, translation/from-docs-cn, type/enhancement

#3552 Update pd-control
  pd-control.md
Labels: needs-cherry-pick-4.0, require-LGT1, size/small, status/LGT1, status/can-merge, translation/from-docs-cn

#3558 benchmark: clarify some expressions in sysbench report
  benchmark/benchmark-tidb-using-sysbench.md
Labels: needs-cherry-pick-4.0, size/small, status/LGT1, status/PTAL, translation/from-docs-cn

#3379 TiFlash: add reference links in TiFlash overview doc
  _index.md
  tiflash/tiflash-overview.md
Labels: needs-cherry-pick-4.0, size/small, status/LGT1, status/PTAL, status/can-merge, translation/from-docs-cn

#3281 Update pd-recover docs
  pd-recover.md
Labels: needs-cherry-pick-4.0, require-LGT1, size/medium, status/LGT1, status/can-merge, translation/doing

#3562 auto-increment: update doc
  mysql-compatibility.md
Labels: needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, status/LGT1, translation/from-docs-cn, version-specific-changes-required

#3522 tools: update binlog slave to binlog consumer
  TOC.md
  ecosystem-tool-user-case.md
  tidb-binlog/binlog-consumer-client.md
  tidb-binlog/tidb-binlog-overview.md
Labels: needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, require-LGT1, status/LGT1, status/can-merge, translation/doing

#3572 Add multiple links to index and fix typos
  TOC.md
  encryption-at-rest.md
  whats-new-in-tidb-4.0.md
Labels: needs-cherry-pick-4.0, require-LGT1, size/small, status/LGT1, status/can-merge, translation/no-need

#3575 TOC: remove a link in the toggle title
  TOC.md
Labels: needs-cherry-pick-2.1, needs-cherry-pick-3.0, status/LGT1, translation/no-need, type/bug-fix

#3531 Update Dashboard Doc
  pd-configuration-file.md
  telemetry.md
Labels: needs-cherry-pick-4.0, size/small, status/LGT1, status/PTAL, translation/from-docs-cn

#3574 Update benchmark-sysbench-v4-vs-v3
  benchmark/benchmark-sysbench-v4-vs-v3.md
Labels: needs-cherry-pick-4.0, require-LGT1, size/small, status/LGT1, status/can-merge, translation/from-docs-cn

#3502 ticdc: add more faqs
  ticdc/manage-ticdc.md
  ticdc/ticdc-overview.md
  ticdc/troubleshoot-ticdc.md
Labels: needs-cherry-pick-4.0, require-LGT1, size/large, status/LGT1, status/PTAL, status/can-merge, translation/from-docs-cn

#3475 pessimistic trx: cleanup wording
  pessimistic-transaction.md
Labels: needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, status/LGT2, status/PTAL, version-specific-changes-required

#3545 Add a TiDB Binlog doc that should be hidden in TOC
  tidb-binlog/tidb-binlog-kafka-deployment.md
  tidb-binlog/upgrade-tidb-binlog.md
Labels: status/LGT2, status/PTAL, translation/no-need

#3593 Update related description in troubleshoot-tiflash
  tiflash/troubleshoot-tiflash.md
Labels: needs-cherry-pick-4.0, require-LGT1, size/small, status/LGT1, translation/from-docs-cn

#3594 Mydumper: add faq about tz
  mydumper-overview.md
Labels: needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, require-LGT1, size/small, status/LGT1, status/can-merge, translation/from-docs-cn

#3580 adopters: update the TiDB adopters list
  TOC.md
  adopters.md
Labels: needs-cherry-pick-4.0, require-LGT1, size/small, status/LGT1, status/can-merge, translation/no-need

#3582 constraints, create table: improve clarity and update out of date info
  constraints.md
  sql-statements/sql-statement-create-table.md
Labels: needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, status/LGT3, status/PTAL, version-specific-changes-required

#3608 Add experimental-features.md
  TOC.md
  auto-random.md
  experimental-features-4.0.md
  whats-new-in-tidb-4.0.md
Labels: needs-cherry-pick-4.0, require-LGT1, status/LGT1, status/PTAL, status/can-merge, translation/from-docs-cn

#3601 sql-statement-explain-analyze: add note for explain analyze with DML
  sql-statements/sql-statement-explain-analyze.md
Labels: needs-cherry-pick-4.0, require-LGT1, size/small, status/LGT1, status/PTAL, status/can-merge, translation/from-docs-cn

#3588 Update default value for RocksDB max-subcompactions
  tikv-configuration-file.md
Labels: needs-cherry-pick-4.0, require-LGT1, size/small, status/LGT1, status/PTAL, status/can-merge, translation/doing

#3613 Add auto-scaling doc link in 4.0 experimental feature
  experimental-features-4.0.md
Labels: needs-cherry-pick-4.0, translation/from-docs-cn

#3560 Add auto_id_cache table option explanation
  mysql-compatibility.md
Labels: needs-cherry-pick-3.0, require-LGT1, status/LGT1, status/PTAL, status/can-merge, translation/from-docs-cn

#3600 Add HAProxy instructions for TiDB Dashboard
  dashboard/dashboard-faq.md
  dashboard/dashboard-ops-deploy.md
  dashboard/dashboard-ops-reverse-proxy.md
  dashboard/dashboard-ops-security.md
Labels: needs-cherry-pick-4.0, size/medium, status/LGT2, status/PTAL, translation/from-docs-cn

#3618 benchmark: change a parameter level from global to session
  benchmark/v4.0-performance-benchmarking-with-tpch.md
Labels: needs-cherry-pick-4.0, size/small, status/LGT1, status/PTAL, translation/from-docs-cn

#3583 lightning: update configure about backslash
  tidb-lightning/migrate-from-csv-using-tidb-lightning.md
Labels: needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, require-LGT1, size/small, status/LGT1, status/PTAL, status/can-merge, translation/from-docs-cn

#3624 Update identify-slow-queries.md & statement-summary-tables.md
  identify-slow-queries.md
  statement-summary-tables.md
Labels: needs-cherry-pick-4.0, size/small, status/LGT1, translation/from-docs-cn

#3623 br: update version
  br/backup-and-restore-use-cases.md
Labels: needs-cherry-pick-3.1, needs-cherry-pick-4.0, size/small, status/LGT1, translation/from-docs-cn

#3629 br: replace 'usage scenario' and 'scenario'
  br/backup-and-restore-tool.md
  br/backup-and-restore-use-cases.md
Labels: needs-cherry-pick-3.1, needs-cherry-pick-4.0, size/small, status/LGT1, translation/no-need

#3529 maintenance: update dynamic configuration
  TOC.md
  dynamic-config.md
Labels: needs-cherry-pick-4.0, require-LGT1, size/large, status/LGT1, status/PTAL, status/can-merge, translation/from-docs-cn

#3280 Update pd-ctl docs
  pd-control.md
Labels: needs-cherry-pick-4.0, size/large, status/LGT1, translation/doing, version-specific-changes-required

#3635 add tiflash store limit config version change note
  tiflash/tiflash-configuration.md
Labels: needs-cherry-pick-3.1, needs-cherry-pick-4.0, size/small, status/LGT1, translation/from-docs-cn

#3638 chore: make details tag closed
  dashboard/dashboard-ops-security.md
Labels: needs-cherry-pick-4.0, status/LGT1, translation/no-need, type/bug-fix

#3628 Update documents fix drop column support features
  sql-statements/sql-statement-drop-column.md
Labels: contribution, size/small, status/LGT1, translation/from-docs-cn, v5.0

#3641 add a note for tiflash data_dir
  upgrade-tidb-using-tiup.md
Labels: needs-cherry-pick-4.0, require-LGT1, status/LGT1, status/PTAL, status/can-merge, translation/from-docs-cn

#3550 *: update doc for split region
  best-practices/high-concurrency-best-practices.md
  sql-statements/sql-statement-split-region.md
Labels: needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, status/LGT2, status/PTAL, status/can-merge, translation/from-docs-cn

#3584 auto-increment: change "continuous" to monotonic
  auto-increment.md
Labels: follow-up, needs-cherry-pick-4.0, status/LGT1, status/PTAL, version-specific-changes-required

#3539 Update backup-and-restore-tool.md
  br/backup-and-restore-tool.md
Labels: needs-cherry-pick-4.0, status/LGT1, status/PTAL, translation/from-docs-cn

#3646 Customize the editing method of 'tiup cluster edit-config'
  tiup/tiup-cluster.md
Labels: needs-cherry-pick-4.0, require-LGT1, size/small, status/LGT1, status/can-merge, translation/from-docs-cn

#3650 update the usage of tikv-ctl modify-tikv-config
  tikv-control.md
Labels: needs-cherry-pick-4.0, require-LGT1, size/small, status/LGT1, status/can-merge, translation/from-docs-cn

#3654 adopters: add PayPay's English case study link
  adopters.md
Labels: needs-cherry-pick-4.0, size/small, status/LGT1, translation/no-need

#3655 adopters: add PayPay's English case study
  adopters.md
Labels: needs-cherry-pick-2.1, needs-cherry-pick-3.0, size/small, status/LGT1, translation/no-need

#3589 Update default value for RocksDB max-subcompactions
  tikv-configuration-file.md
Labels: needs-cherry-pick-3.0, size/small, status/LGT1, status/PTAL, translation/doing

#3506 br: update docs
  br/backup-and-restore-faq.md
  br/backup-and-restore-tool.md
Labels: needs-cherry-pick-4.0, require-LGT1, size/small, status/LGT1, status/PTAL, status/can-merge, translation/from-docs-cn

#3661 tools: update some description about tidb-binlog and sync-diff-inspector
  sync-diff-inspector/sync-diff-inspector-overview.md
  tidb-binlog/tidb-binlog-faq.md
Labels: needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, require-LGT1, size/small, status/LGT1, status/can-merge, translation/from-docs-cn

#3586 sql-statements: improve alter index docs
  sql-statements/sql-statement-alter-index.md
  sql-statements/sql-statement-create-index.md
Labels: size/medium, status/LGT1, status/PTAL, translation/doing, v5.0

#3672 system-variables: add variable description
  system-variables.md
Labels: needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, size/small, status/LGT2, translation/from-docs-cn

#3651 ticdc: update tiup deployment prompt and filter rule link
  ticdc/manage-ticdc.md
  ticdc/ticdc-overview.md
Labels: needs-cherry-pick-4.0, require-LGT1, size/small, status/LGT1, status/can-merge, status/require-change, translation/from-docs-cn

#3679 Add what's new in TiDB 4.0, adopters, credits to index
  _index.md
Labels: needs-cherry-pick-4.0, require-LGT1, size/small, status/LGT1, status/can-merge, translation/doing

#3538 pd: add some configuration descriptions
  pd-configuration-file.md
Labels: status/LGT1, status/PTAL, translation/from-docs-cn, v5.0

#3663 sql-statement: improve consistency, fix small errors
  constraints.md
  sql-statements/sql-statement-alter-database.md
  sql-statements/sql-statement-begin.md
  sql-statements/sql-statement-commit.md
  sql-statements/sql-statement-create-database.md
  sql-statements/sql-statement-create-role.md
  sql-statements/sql-statement-create-table-like.md
  sql-statements/sql-statement-deallocate.md
  sql-statements/sql-statement-delete.md
  sql-statements/sql-statement-do.md
  sql-statements/sql-statement-drop-database.md
  sql-statements/sql-statement-drop-role.md
  sql-statements/sql-statement-drop-view.md
  sql-statements/sql-statement-execute.md
  sql-statements/sql-statement-explain-analyze.md
  sql-statements/sql-statement-flush-privileges.md
  sql-statements/sql-statement-flush-tables.md
  sql-statements/sql-statement-grant-role.md
  sql-statements/sql-statement-insert.md
  sql-statements/sql-statement-kill.md
  sql-statements/sql-statement-load-data.md
  sql-statements/sql-statement-load-stats.md
  sql-statements/sql-statement-prepare.md
  sql-statements/sql-statement-recover-table.md
  sql-statements/sql-statement-rename-index.md
  sql-statements/sql-statement-rename-table.md
  sql-statements/sql-statement-replace.md
  sql-statements/sql-statement-revoke-privileges.md
  sql-statements/sql-statement-revoke-role.md
  sql-statements/sql-statement-rollback.md
  sql-statements/sql-statement-select.md
  sql-statements/sql-statement-set-default-role.md
  sql-statements/sql-statement-set-names.md
  sql-statements/sql-statement-set-password.md
  sql-statements/sql-statement-set-role.md
  sql-statements/sql-statement-show-analyze-status.md
  sql-statements/sql-statement-show-character-set.md
  sql-statements/sql-statement-show-collation.md
  sql-statements/sql-statement-show-columns-from.md
  sql-statements/sql-statement-show-create-table.md
  sql-statements/sql-statement-show-databases.md
  sql-statements/sql-statement-show-errors.md
  sql-statements/sql-statement-show-grants.md
  sql-statements/sql-statement-show-indexes.md
  sql-statements/sql-statement-show-privileges.md
  sql-statements/sql-statement-show-table-status.md
  sql-statements/sql-statement-show-tables.md
  sql-statements/sql-statement-show-variables.md
  sql-statements/sql-statement-show-warnings.md
  sql-statements/sql-statement-split-region.md
  sql-statements/sql-statement-start-transaction.md
  sql-statements/sql-statement-truncate.md
  sql-statements/sql-statement-update.md
  sql-statements/sql-statement-use.md
  system-variables.md
  tidb-specific-system-variables.md
  transaction-overview.md
Labels: needs-cherry-pick-2.1, needs-cherry-pick-3.0, size/large, status/LGT2, translation/doing, version-specific-changes-required

#3664 sql-statements: readability of commit/rollback
  sql-statements/sql-statement-commit.md
  sql-statements/sql-statement-rollback.md
  sql-statements/sql-statement-start-transaction.md
Labels: needs-cherry-pick-4.0, size/medium, status/LGT1, status/require-change, translation/doing

#3632 Align the description of TiFlash Grafana dashboard with other components
  grafana-pd-dashboard.md
  grafana-tikv-dashboard.md
  tiflash/monitor-tiflash.md
Labels: needs-cherry-pick-4.0, require-LGT1, size/large, status/LGT1, status/can-merge, translation/from-docs-cn

#3681 toc: update the file order of br
  TOC.md
Labels: needs-cherry-pick-4.0, require-LGT1, size/small, status/LGT1, translation/done

#3687 Fixed evict-leader-scheduler syntax
  best-practices/pd-scheduling-best-practices.md
Labels: needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, size/small, status/LGT1, translation/doing, type/bug-fix

#3690 tidb-configuration-file: fix typo
  tidb-configuration-file.md
Labels: needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, require-LGT1, size/small, status/LGT1, status/can-merge, translation/doing, type/bug-fix

#3673 system-variable: add explaination about `last_plan_from_binding`
  system-variables.md
Labels: needs-cherry-pick-4.0, require-LGT1, status/LGT1, status/PTAL, status/can-merge, translation/from-docs-cn

#3669 ticdc: update v4.0.3 changes
  enable-tls-between-components.md
  ticdc/manage-ticdc.md
Labels: needs-cherry-pick-4.0, require-LGT1, status/LGT1, status/PTAL, status/can-merge, translation/from-docs-cn

#3700 add a config item [security]spilled-file-encryption-method in tidb-configuration-file.md
  tidb-configuration-file.md
Labels: size/small, status/LGT1, status/PTAL, translation/from-docs-cn, v5.0

#3640 add configuration description
  production-deployment-using-tiup.md
  scale-tidb-using-tiup.md
Labels: needs-cherry-pick-4.0, size/small, status/LGT1, translation/from-docs-cn

#3706 Add TLS in TiDB Dashboard documentation
  dashboard/dashboard-ops-reverse-proxy.md
  dashboard/dashboard-ops-security.md
Labels: needs-cherry-pick-4.0, require-LGT1, size/small, status/LGT1, status/PTAL, status/can-merge, translation/from-docs-cn

#3683 correct the content in auto-random.md
  auto-random.md
  system-variables.md
Labels: needs-cherry-pick-4.0, size/small, status/LGT2, status/can-merge, translation/from-docs-cn

#3708 Add migrate control node in tiup-cluster
  tiup/tiup-cluster.md
Labels: needs-cherry-pick-4.0, require-LGT1, size/small, status/LGT1, status/PTAL, status/can-merge, translation/from-docs-cn

#3717 tidb limitations: fix MB bytes
  tidb-limitations.md
Labels: needs-cherry-pick-4.0, status/LGT1, translation/no-need, type/bug-fix

#3718 dumpling: add unit to -F
  dumpling-overview.md
Labels: needs-cherry-pick-4.0, size/small, status/LGT1, translation/doing

#3719 mydumper: Improve clarity of mydumper warning
  mydumper-overview.md
Labels: needs-cherry-pick-4.0, size/small, status/LGT1, translation/doing

#3725 Update check-before-deployment
  check-before-deployment.md
Labels: size/small, status/LGT1, translation/from-docs-cn

#3702 fix an error in `create sequence`
  sql-statements/sql-statement-show-create-sequence.md
Labels: needs-cherry-pick-4.0, require-LGT1, size/small, status/LGT1, status/can-merge, translation/from-docs-cn, type/bug-fix

#3714 add doc for tiflash tls config
  enable-tls-between-components.md
Labels: needs-cherry-pick-4.0, size/small, status/LGT1, status/PTAL, status/can-merge, translation/from-docs-cn

#3715 transactions: improve clarity of transactions
  optimistic-transaction.md
  pessimistic-transaction.md
  system-variables.md
  transaction-overview.md
Labels: needs-cherry-pick-4.0, size/medium, status/LGT2, status/PTAL, translation/doing

#3709 sql: make example in RBAC doc easier to understand
  role-based-access-control.md
Labels: needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, require-LGT1, size/medium, status/LGT1, status/PTAL, status/can-merge, translation/from-docs-cn

#3726 Update backup-and-restore-tool.md
  br/backup-and-restore-tool.md
Labels: needs-cherry-pick-4.0, require-LGT1, size/small, status/LGT1, status/PTAL, status/can-merge, translation/from-docs-cn

#3736 Update tidb-configuration-file.md
  tidb-configuration-file.md
Labels: needs-cherry-pick-4.0, size/small, status/LGT1, translation/from-docs-cn

#3738 adopters: add the VIPKid case
  adopters.md
Labels: needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, size/small, status/LGT1, translation/no-need

#3730 character set: include useful warning
  character-set-and-collation.md
Labels: needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, size/small, status/LGT1, translation/doing, version-specific-changes-required

#3611 tiup: add document of tispark support in tiup cluster
  TOC.md
  config-templates/complex-tispark.yaml
  config-templates/simple-tispark.yaml
  production-deployment-using-tiup.md
  tispark-deployment-topology.md
  tiup/tiup-cluster.md
Labels: needs-cherry-pick-4.0, size/large, status/LGT2, status/PTAL, status/can-merge, translation/from-docs-cn

#3713 Fix an incorrect wording "scale out or in a node"
  experimental-features-4.0.md
  scale-tidb-using-tiup.md
  ticdc/manage-ticdc.md
  tiflash/tiflash-overview.md
  tiflash/troubleshoot-tiflash.md
  tiup/tiup-cluster.md
  troubleshoot-high-disk-io.md
Labels: needs-cherry-pick-4.0, require-LGT1, size/small, status/LGT1, status/PTAL, status/can-merge, translation/no-need, type/bug-fix

#3750 Fix two yaml file links
  tispark-deployment-topology.md
Labels: require-LGT1, size/small, status/LGT1, translation/no-need, type/bug-fix

#3660 lightning: add docs for local backend
  TOC.md
  backup-and-restore-using-dumpling-lightning.md
  backup-and-restore-using-mydumper-lightning.md
  dumpling-overview.md
  ecosystem-tool-user-guide.md
  get-started-with-tidb-lightning.md
  loader-overview.md
  media/tidb-lightning-architecture.png
  migrate-from-mysql-mydumper-files.md
  tidb-lightning/deploy-tidb-lightning.md
  tidb-lightning/monitor-tidb-lightning.md
  tidb-lightning/tidb-lightning-backends.md
  tidb-lightning/tidb-lightning-configuration.md
  tidb-lightning/tidb-lightning-faq.md
  tidb-lightning/tidb-lightning-glossary.md
  tidb-lightning/tidb-lightning-overview.md
  tidb-lightning/tidb-lightning-tidb-backend.md
Labels: needs-cherry-pick-4.0, size/large, status/LGT1, status/PTAL, translation/from-docs-cn

#3724 Add document for tiup cluster clean and rename
  maintain-tidb-using-tiup.md
  tiup/tiup-cluster.md
Labels: needs-cherry-pick-4.0, size/small, status/LGT1, status/PTAL, status/require-change, translation/from-docs-cn

#3752 ticdc: update ga related docs
  ticdc/manage-ticdc.md
  ticdc/ticdc-overview.md
Labels: needs-cherry-pick-4.0, priority/P1, require-LGT1, size/medium, status/LGT1, status/PTAL, status/can-merge, translation/from-docs-cn

#3754 ticdc: add ga version, remove experiment warning
  experimental-features-4.0.md
  ticdc-deployment-topology.md
  ticdc/ticdc-overview.md
  whats-new-in-tidb-4.0.md
Labels: needs-cherry-pick-4.0, require-LGT1, size/small, status/LGT1, status/PTAL, status/can-merge, translation/from-docs-cn

#3753 ticdc: update pulsar sink
  ticdc/manage-ticdc.md
Labels: needs-cherry-pick-4.0, priority/P1, size/medium, status/LGT1, status/PTAL, translation/from-docs-cn

#3747 reference/tools: add warning for deprecated loader
  loader-overview.md
Labels: needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, status/LGT1, status/PTAL, translation/from-docs-cn

#3764 Update tidb-lightning-overview.md
  tidb-lightning/tidb-lightning-overview.md
Labels: needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, size/small, status/LGT1, translation/from-docs-cn

#3757 Update DM 2.0 related doc
  ecosystem-tool-user-case.md
  ecosystem-tool-user-guide.md
  migrate-from-aurora-mysql-database.md
  migration-overview.md
  tidb-troubleshooting-map.md
Labels: needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, size/small, status/LGT1, status/PTAL, translation/from-docs-cn, version-specific-changes-required
