Repository pingcap/docs, pull requests merged in 2020-04, with the labels that each got.

#2128 tidb-in-k8s: remove all tidb-operator related files from docs repo
  TOC.md
  _index.md
  architecture.md
  benchmark/sysbench-in-k8s.md
  how-to/deploy/orchestrated/docker.md
  how-to/get-started/deploy-tidb-from-docker-compose.md
  media/sysbench-in-k8s/cos-vs-ubuntu-latency.png
  media/sysbench-in-k8s/cos-vs-ubuntu-qps.png
  media/sysbench-in-k8s/n1-standard-16-vs-c2-standard-16-latency.png
  media/sysbench-in-k8s/n1-standard-16-vs-c2-standard-16-qps.png
  media/sysbench-in-k8s/oltp-read-write-latency.png
  media/sysbench-in-k8s/oltp-read-write-qps.png
  media/sysbench-in-k8s/oltp-update-index-latency.png
  media/sysbench-in-k8s/oltp-update-index-qps.png
  media/sysbench-in-k8s/oltp-update-no-index-latency.png
  media/sysbench-in-k8s/oltp-update-no-index-qps.png
  media/sysbench-in-k8s/pod-vs-host-network-latency.png
  media/sysbench-in-k8s/pod-vs-host-network-qps.png
  media/sysbench-in-k8s/service-vs-load-balancer-latency.png
  media/sysbench-in-k8s/service-vs-load-balancer-qps.png
  media/sysbench-in-k8s/single-zonal-vs-regional-latency.png
  media/sysbench-in-k8s/single-zonal-vs-regional-qps.png
  media/tidb-operator-control-flow.png
  media/tidb-operator-overview.png
  media/tidb-scheduler-overview.png
  overview.md
  reference/tools/user-guide.md
  tidb-in-kubernetes/deploy/access-tidb.md
  tidb-in-kubernetes/deploy/alibaba-cloud.md
  tidb-in-kubernetes/deploy/aws-eks.md
  tidb-in-kubernetes/deploy/gcp-gke.md
  tidb-in-kubernetes/deploy/general-kubernetes.md
  tidb-in-kubernetes/deploy/prerequisites.md
  tidb-in-kubernetes/deploy/tidb-operator.md
  tidb-in-kubernetes/faq.md
  tidb-in-kubernetes/get-started/deploy-tidb-from-kubernetes-gke.md
  tidb-in-kubernetes/get-started/deploy-tidb-from-kubernetes-kind.md
  tidb-in-kubernetes/get-started/deploy-tidb-from-kubernetes-minikube.md
  tidb-in-kubernetes/initialize-cluster.md
  tidb-in-kubernetes/maintain/auto-failover.md
  tidb-in-kubernetes/maintain/backup-and-restore.md
  tidb-in-kubernetes/maintain/destroy-tidb-cluster.md
  tidb-in-kubernetes/maintain/kubernetes-node.md
  tidb-in-kubernetes/maintain/lightning.md
  tidb-in-kubernetes/maintain/log-collecting.md
  tidb-in-kubernetes/maintain/restart.md
  tidb-in-kubernetes/maintain/tidb-binlog.md
  tidb-in-kubernetes/monitor/tidb-in-kubernetes.md
  tidb-in-kubernetes/reference/components/tidb-scheduler.md
  tidb-in-kubernetes/reference/configuration/backup.md
  tidb-in-kubernetes/reference/configuration/storage-class.md
  tidb-in-kubernetes/reference/configuration/tidb-cluster.md
  tidb-in-kubernetes/reference/configuration/tidb-drainer.md
  tidb-in-kubernetes/reference/tools/in-kubernetes.md
  tidb-in-kubernetes/reference/tools/tkctl.md
  tidb-in-kubernetes/scale-in-kubernetes.md
  tidb-in-kubernetes/tidb-operator-overview.md
  tidb-in-kubernetes/troubleshoot.md
  tidb-in-kubernetes/upgrade/tidb-cluster.md
  tidb-in-kubernetes/upgrade/tidb-operator.md
Labels: needs-cherry-pick-3.0, needs-cherry-pick-3.1, size/large, status/can-merge, translation/from-docs-cn, type/refactor

#2140 TOC: fix dead links
  TOC.md
Labels: needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, translation/from-docs-cn

#2137 reference/performance: add ignore_plan_cache hint
  reference/performance/optimizer-hints.md
Labels: size/small, status/can-merge, translation/from-docs-cn

#2098 tools: update user guide
  reference/tools/user-guide.md
Labels: needs-cherry-pick-3.0, needs-cherry-pick-3.1, status/can-merge, translation/no-need

#2075 sql: refine doc for admin
  reference/sql/statements/admin.md
Labels: needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, translation/from-docs-cn, type/enhancement

#2149 releases: add 3.1.0-rc release notes
  TOC.md
  releases/3.1.0-rc.md
  releases/rn.md
Labels: DNM until Ansible tag is ready, needs-cherry-pick-3.1, translation/from-docs-cn

#2061 sql: add flash table document
  TOC.md
  reference/sql/statements/flashback-table.md
Labels: status/can-merge, translation/from-docs-cn, v4.0

#2132 tools: update tidb-ctl doc
  reference/tools/tidb-control.md
Labels: size/small, status/can-merge, translation/from-docs-cn

#2088 *: refactor transaction documents
  TOC.md
  glossary.md
  key-features.md
  media/2pc-in-tidb.png
  media/optimistic-transaction-metric.png
  reference/configuration/tidb-server/tidb-specific-variables.md
  reference/mysql-compatibility.md
  reference/sql/statements/load-data.md
  reference/sql/statements/select.md
  reference/transactions/overview.md
  reference/transactions/transaction-isolation.md
  reference/transactions/transaction-model.md
  reference/transactions/transaction-optimistic.md
  reference/transactions/transaction-pessimistic.md
Labels: needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, size/large, translation/from-docs-cn, type/refactor, version-split-changes-required

#2159 dev-guide: add draft metadata
  dev-guide/deploy.md
  dev-guide/develop.md
  dev-guide/requirements.md
Labels: contribution, needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, status/can-merge, translation/doing

#2148 how-to/maintain: update doc for slow-log
  how-to/maintain/identify-abnormal-queries/identify-slow-queries.md
  reference/system-databases/information-schema.md
Labels: translation/from-docs-cn, v4.0

#2165 *: update guiding resources
  .github/pull_request_template.md
  CONTRIBUTING.md
Labels: needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, translation/from-docs-cn

#2163 tiflash: add use-tiflash doc
  TOC.md
  media/tiflash/tidb-display.png
  reference/tiflash/use-tiflash.md
Labels: needs-cherry-pick-3.1, needs-cherry-pick-4.0, translation/from-docs-cn, v4.0

#2164 tiflash: add the deploy.md doc
  TOC.md
  reference/tiflash/deploy.md
Labels: needs-cherry-pick-3.1, needs-cherry-pick-4.0, translation/from-docs-cn, v4.0

#2155 reference, media: add tiflash overview doc
  TOC.md
  media/tiflash/tiflash-architecture.jpg
  reference/tiflash/overview.md
Labels: needs-cherry-pick-3.1, needs-cherry-pick-4.0, status/can-merge, translation/from-docs-cn, v4.0

#2145 reference: add a mysql system variable windowing_use_high_precision
  reference/configuration/tidb-server/mysql-variables.md
Labels: contribution, needs-cherry-pick-4.0, status/LGT1, translation/from-docs-cn, v4.0

#2002 reference/configuration: add description about TiDB txn-total-size-limit
  reference/configuration/tidb-server/configuration-file.md
Labels: needs-cherry-pick-4.0, size/small, translation/done, v4.0

#2172 reference: add sql diagnosis overview
  TOC.md
  reference/system-databases/sql-diagnosis.md
Labels: needs-cherry-pick-4.0, status/can-merge, translation/from-docs-cn, v4.0

#2171 how-to: add placement rule guide
  TOC.md
  how-to/configure/placement-rules.md
  media/placement-rules-1.png
Labels: needs-cherry-pick-4.0, translation/from-docs-cn, v4.0

#2186 how-to, ref: fix format and add a body heading
  how-to/configure/placement-rules.md
  reference/system-databases/sql-diagnosis.md
Labels: needs-cherry-pick-4.0, size/small

#2180 TiFlash: add monitor.md doc
  TOC.md
  reference/tiflash/monitor.md
Labels: needs-cherry-pick-3.1, needs-cherry-pick-4.0, translation/from-docs-cn

#2188 tiflash: add tiflash configuration document
  TOC.md
  reference/configuration/pd-server/configuration-file.md
  reference/tiflash/configuration.md
Labels: needs-cherry-pick-3.1, needs-cherry-pick-4.0, translation/from-docs-cn

#2198 toc, how-to/deploy: add deploying TiDB using TiUP
  TOC.md
  how-to/deploy/orchestrated/tiup.md
  media/tiup/grafana-login.png
  media/tiup/grafana-overview.png
  media/tiup/tidb-dashboard-status.png
  media/tiup/tidb-dashboard.png
Labels: needs-cherry-pick-4.0, priority/P1, size/large, translation/from-docs-cn

#2170 how-to: update ansible document for v4.0
  how-to/deploy/orchestrated/ansible.md
  how-to/upgrade/from-previous-version.md
Labels: status/can-merge, translation/from-docs-cn, v4.0

#2200 TiUP: fix deployment doc issues
  how-to/deploy/orchestrated/tiup.md
Labels: needs-cherry-pick-4.0, translation/done

#2195 releases: add 4.0.0-rc release notes
  TOC.md
  releases/4.0.0-rc.md
  releases/rn.md
Labels: DNM until Ansible tag is ready, needs-cherry-pick-4.0, translation/from-docs-cn

#2202 reference/system-databases: add 3 system table docs
  TOC.md
  reference/system-databases/cluster-config.md
  reference/system-databases/cluster-hardware.md
  reference/system-databases/cluster-info.md
  reference/system-databases/sql-diagnosis.md
Labels: needs-cherry-pick-4.0, size/large, status/can-merge, translation/from-docs-cn, v4.0

#1854 reference: update documents about pessimistic transaction
  reference/configuration/tidb-server/configuration-file.md
  reference/configuration/tidb-server/mysql-variables.md
  reference/configuration/tidb-server/tidb-specific-variables.md
  reference/configuration/tikv-server/configuration-file.md
  reference/transactions/transaction-pessimistic.md
Labels: needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, size/large, status/can-merge, translation/from-docs-cn, v4.0

#2184 tiflash: add scale.md doc
  TOC.md
  reference/tiflash/scale.md
Labels: needs-cherry-pick-3.1, needs-cherry-pick-4.0, translation/from-docs-cn

#2194 tiflash: update tiflash deploy using tiup
  reference/tiflash/deploy.md
Labels: needs-cherry-pick-4.0, translation/from-docs-cn

#2189 tiflash: add the maintain.md doc
  TOC.md
  reference/tiflash/maintain.md
Labels: needs-cherry-pick-3.1, needs-cherry-pick-4.0, priority/P2, status/can-merge, translation/from-docs-cn, v4.0

#2217 how-to/upgrade: fix a typo in title and remove alias
  how-to/upgrade/from-previous-version.md
Labels: size/small, status/can-merge, translation/from-docs-cn

#2208 how-to: update tidb ansible deployment and upgrade doc for dev
  how-to/deploy/orchestrated/ansible.md
  how-to/upgrade/from-previous-version.md
Labels: status/can-merge, translation/from-docs-cn

#2222 typo: tomestone -> tombstone
  reference/tiflash/scale.md
  releases/2.1.17.md
Labels: needs-cherry-pick-3.1, needs-cherry-pick-4.0, translation/from-docs-cn

#2219 TiFlash: Explain how to set query tso to 1 second earlier
  reference/tiflash/maintain.md
Labels: needs-cherry-pick-3.1, needs-cherry-pick-4.0, status/can-merge, translation/from-docs-cn

#2216 tiflash: update scale doc for 4.0
  reference/tiflash/scale.md
Labels: needs-cherry-pick-4.0, status/can-merge, translation/from-docs-cn

#2226 tiflash: add upgrade doc for 3.1
  TOC.md
  reference/tiflash/upgrade.md
Labels: status/can-merge, translation/from-docs-cn

#2225 tiflash: add upgrade doc for 4.0
  TOC.md
  reference/tiflash/upgrade.md
Labels: needs-cherry-pick-4.0, status/can-merge, translation/from-docs-cn

#2221 reference/performance: specify index name of primary key for USE_INDEX_MERGE
  reference/performance/optimizer-hints.md
Labels: needs-cherry-pick-4.0, status/can-merge, translation/from-docs-cn

#2190 tiflash: add tiflash tuning document
  TOC.md
  reference/tiflash/tune-performance.md
Labels: needs-cherry-pick-3.1, needs-cherry-pick-4.0, status/can-merge, translation/from-docs-cn

#2236 Update use-tiflash.md
  reference/tiflash/use-tiflash.md
Labels: needs-cherry-pick-3.1, needs-cherry-pick-4.0, size/small, translation/from-docs-cn

#2063 reference/configuration: update the description of the default value of unify-read-pool
  reference/configuration/tikv-server/configuration-file.md
Labels: needs-cherry-pick-4.0, status/LGT1, status/can-merge, translation/done, v4.0

#2215 tiflash: add the faq.md doc
  TOC.md
  reference/tiflash/faq.md
Labels: needs-cherry-pick-3.1, needs-cherry-pick-4.0, priority/P2, status/can-merge, translation/from-docs-cn, v4.0

#2191 tiflash: add the alert-rules.md
  TOC.md
  reference/tiflash/alert-rules.md
Labels: needs-cherry-pick-3.1, needs-cherry-pick-4.0, priority/P2, status/can-merge, translation/from-docs-cn, v4.0

#2245 *: remove aliases
  how-to/get-started/tispark.md
  how-to/maintain/backup-and-restore/mydumper-lightning.md
  how-to/maintain/identify-abnormal-queries/identify-slow-queries.md
  how-to/migrate/from-mysql-aurora.md
  reference/configuration/tidb-server/configuration.md
  reference/tidb-binlog/deploy.md
  reference/tidb-binlog/maintain.md
  reference/tidb-binlog/monitor.md
  reference/tidb-binlog/overview.md
  reference/tidb-binlog/troubleshoot/binlog.md
  reference/tidb-binlog/upgrade.md
  reference/tools/br/br.md
  reference/tools/user-guide.md
  reference/transactions/transaction-optimistic.md
  roadmap.md
Labels: translation/from-docs-cn

#2232 how-to/upgrade: add TiUP upgrade document
  TOC.md
  how-to/upgrade/from-previous-version.md
  how-to/upgrade/using-tiup.md
Labels: needs-cherry-pick-4.0, status/can-merge, translation/from-docs-cn

#2247 tiflash: fix architecture image
  media/tiflash/tiflash-architecture.jpg
  media/tiflash/tiflash-architecture.png
  reference/tiflash/overview.md
Labels: needs-cherry-pick-3.1, needs-cherry-pick-4.0, translation/no-need

#2090 reference: handling of space at the end of string type line
  reference/mysql-compatibility.md
Labels: contribution, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, status/can-merge, translation/from-docs-cn

#2239 how-to: add doc on how to scale with TiUP
  TOC.md
  how-to/scale/with-tiup.md
  reference/tiflash/deploy.md
  reference/tiflash/maintain.md
  reference/tiflash/scale.md
Labels: needs-cherry-pick-4.0, status/can-merge, translation/from-docs-cn

#2259 toc, tiflash: fix link to tiup
  TOC.md
  reference/tiflash/deploy.md
Labels: translation/no-need

#2262 releases: unify release notes format
  releases/3.0.11.md
  releases/3.0.12.md
  releases/3.1.0-beta.2.md
  releases/4.0.0-beta.1.md
  releases/4.0.0-beta.2.md
Labels: needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, translation/done

#2144 reference/configuration, faq: add both config and faq of server-version
  faq/tidb.md
  reference/configuration/tidb-server/configuration-file.md
Labels: needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, status/can-merge, status/require-change, translation/from-docs-cn

#2107 reference: update `max-server-connections`
  reference/configuration/tidb-server/configuration-file.md
Labels: needs-cherry-pick-4.0, size/small, status/can-merge, translation/from-docs-cn

#2260 tiflash: update an image to text in use-tiflash.md
  media/tiflash/tidb-display.png
  reference/tiflash/use-tiflash.md
Labels: needs-cherry-pick-3.1, needs-cherry-pick-4.0, status/PTAL, status/can-merge, translation/from-docs-cn

#2064 tidb-binlog: add configuration file
  TOC.md
  reference/tidb-binlog/config.md
Labels: needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, size/large, status/PTAL, translation/from-docs-cn

#2065 how-to/deploy: add arm for deployment by tidb-ansible
  how-to/deploy/orchestrated/ansible.md
Labels: needs-cherry-pick-4.0, size/small, status/PTAL, status/can-merge, translation/from-docs-cn, type/enhancement

#2252 follower read: add new option for tidb_replica_read
  reference/performance/follower-read.md
Labels: needs-cherry-pick-4.0, size/small, translation/doing

#2285 reference: change error code format to list
  reference/error-codes.md
Labels: needs-cherry-pick-4.0, translation/from-docs-cn

#2235 how-to/deploy: add TiFlash to TiUP deployment
  how-to/deploy/orchestrated/tiup.md
Labels: needs-cherry-pick-4.0, status/PTAL, translation/from-docs-cn

#2289 tiup: fix deploy stop command
  how-to/deploy/orchestrated/tiup.md
Labels: needs-cherry-pick-4.0, translation/from-docs-cn

#2294 follower-read: refine some terms
  reference/performance/follower-read.md
Labels: contribution, needs-cherry-pick-3.1, needs-cherry-pick-4.0, translation/from-docs-cn

#2290 reference/configuration: add tidb_row_format_version
  reference/configuration/tidb-server/tidb-specific-variables.md
Labels: needs-cherry-pick-4.0, size/small, status/can-merge, translation/from-docs-cn

#2295 reference: add more descriptions to readpool.unified
  reference/configuration/tikv-server/configuration-file.md
Labels: needs-cherry-pick-4.0, size/small, status/can-merge, translation/from-docs-cn

#2296 releases, toc: add 3.1.0 GA release notes
  TOC.md
  releases/3.1.0-ga.md
  releases/rn.md
Labels: DNM until Ansible tag is ready, needs-cherry-pick-3.1, needs-cherry-pick-4.0, translation/from-docs-cn

#2280 reference/transaction: add a description
  reference/transactions/overview.md
Labels: needs-cherry-pick-4.0, size/small, status/PTAL, status/can-merge, translation/from-docs-cn

#2304 reference: rename TiDB Controller to TiDB Control
  reference/tools/tidb-control.md
Labels: needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, translation/from-docs-cn

#2308 *: update recommended deployment to TiUP
  _index.md
  faq/tidb.md
  how-to/deploy/orchestrated/ansible.md
  how-to/deploy/orchestrated/docker.md
  how-to/deploy/orchestrated/tiup.md
  how-to/get-started/deploy-tidb-from-docker-compose.md
  overview.md
Labels: needs-cherry-pick-4.0, translation/from-docs-cn

#2317 index, overview: remove offline ansible deployment
  _index.md
  overview.md
Labels: needs-cherry-pick-4.0, translation/doing

#2307 reference: update transaction related docs
  reference/error-codes.md
  reference/transactions/transaction-pessimistic.md
Labels: needs-cherry-pick-4.0, status/PTAL, status/can-merge, translation/from-docs-cn

#2319 tiflash: add warning to upgrade from pre-rc version
  reference/tiflash/upgrade.md
Labels: needs-cherry-pick-3.1, needs-cherry-pick-4.0, size/small, status/can-merge, translation/from-docs-cn

#2309 tiflash: update tiflash upgrade doc
  reference/tiflash/upgrade.md
Labels: needs-cherry-pick-4.0, status/PTAL, translation/from-docs-cn

#2315 tiflash: remove tiflash tar
  reference/tiflash/deploy.md
Labels: status/PTAL, status/can-merge, translation/from-docs-cn

#2301 reference/tiflash: modify tiflash proxy config explanation
  reference/tiflash/configuration.md
Labels: needs-cherry-pick-3.1, needs-cherry-pick-4.0, size/small, status/can-merge, translation/from-docs-cn

#2291 tiup: fix some details in tiup deployment doc
  how-to/deploy/orchestrated/tiup.md
Labels: needs-cherry-pick-4.0, status/PTAL, status/can-merge, translation/from-docs-cn

#2328 reference/sql: add description about when partition pruning works
  reference/sql/partitioning.md
Labels: needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, translation/from-docs-cn

#2320 how-to: add quick-start-with-tidb doc
  TOC.md
  quick-start-with-tidb.md
Labels: needs-cherry-pick-4.0, translation/from-docs-cn

#2337 Enclosed the SQL SET keyword with backticks
  reference/sql/language-structure/user-defined-variables.md
Labels: contribution, needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, translation/welcome

#2345 quick-start: change note to warning
  quick-start-with-tidb.md
Labels: needs-cherry-pick-4.0, translation/no-need

#2344 sql: update doc for split partition table
  reference/sql/statements/split-region.md
Labels: needs-cherry-pick-4.0, priority/P1, translation/from-docs-cn

#2348 quick-start-with-tidb: fix typo
  quick-start-with-tidb.md
Labels: needs-cherry-pick-4.0, translation/doing

#2303 reference: add a description of max-index-length
  reference/configuration/tidb-server/configuration-file.md
Labels: needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, size/small, status/can-merge, translation/from-docs-cn

#2356 TiUP: remove playground installation
  quick-start-with-tidb.md
Labels: needs-cherry-pick-4.0, translation/from-docs-cn

#2212 reference/system-databases: add 3 cluster tables (2)
  TOC.md
  reference/system-databases/cluster-config.md
  reference/system-databases/cluster-hardware.md
  reference/system-databases/cluster-info.md
  reference/system-databases/cluster-load.md
  reference/system-databases/cluster-log.md
  reference/system-databases/cluster-systeminfo.md
  reference/system-databases/sql-diagnosis.md
Labels: needs-cherry-pick-4.0, size/large, status/PTAL, translation/from-docs-cn, v4.0

#2360 TiUP: fix grammar and format for topology.example.yaml
  how-to/deploy/orchestrated/tiup.md
  quick-start-with-tidb.md
Labels: needs-cherry-pick-4.0, translation/from-docs-cn

#2326 tiup: optimize the structure and content of the deployment doc
  how-to/deploy/orchestrated/tiup.md
Labels: needs-cherry-pick-4.0, status/PTAL, translation/from-docs-cn

#2287 reference: add a new config in tidb-server config doc
  reference/configuration/tidb-server/configuration-file.md
Labels: needs-cherry-pick-4.0, size/small, status/PTAL, status/can-merge, translation/from-docs-cn

#2355 tiflash: add explanation on how to clear replication rules in pd
  reference/tiflash/maintain.md
Labels: needs-cherry-pick-3.1, needs-cherry-pick-4.0, status/PTAL, status/can-merge, translation/from-docs-cn

#2351 reference: capitalized sql keywords in mysql-compatibility.md
  reference/mysql-compatibility.md
Labels: contribution, needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, size/small, translation/welcome

#2376 releases: add 3.0.13 release notes
  TOC.md
  releases/3.0.13.md
  releases/rn.md
Labels: DNM until Ansible tag is ready, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, translation/from-docs-cn

#2375 how-to: change the Mem_max field name
  how-to/maintain/identify-abnormal-queries/identify-slow-queries.md
Labels: needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, size/small, status/PTAL, status/can-merge, translation/from-docs-cn

#2369 reference: update execution plan bind doc
  reference/performance/execution-plan-bind.md
Labels: needs-cherry-pick-4.0, status/PTAL, status/can-merge, translation/from-docs-cn

#2370 tiup: add doc for maintaining a tidb cluster using tiup
  TOC.md
  how-to/maintain/tiup-operations.md
Labels: needs-cherry-pick-4.0, status/PTAL, status/can-merge, translation/from-docs-cn

#2384 br: add BR repo link to its user guide
  reference/tools/br/br.md
Labels: contribution, needs-cherry-pick-3.1, needs-cherry-pick-4.0, status/can-merge, translation/welcome

#2279 reference/configuration: update tikv configuration file
  reference/configuration/tikv-server/configuration-file.md
Labels: needs-cherry-pick-4.0, translation/from-docs-cn, v4.0

#2327 reference/performance: add a use case for SPM evolve explanation
  reference/performance/execution-plan-bind.md
Labels: contribution, needs-cherry-pick-4.0, status/LGT1, status/can-merge, translation/from-docs-cn

#2367 tiflash: Update TiFlash recommended disk capacity
  reference/tiflash/deploy.md
Labels: needs-cherry-pick-3.1, needs-cherry-pick-4.0, status/PTAL, status/can-merge, translation/from-docs-cn

#2368 tiup: add description in tiup upgrade doc
  how-to/upgrade/using-tiup.md
Labels: needs-cherry-pick-4.0, status/can-merge, translation/from-docs-cn

#2251 reference: add 3 metrics system tables
  TOC.md
  reference/system-databases/metrics-schema.md
  reference/system-databases/metrics-summary.md
  reference/system-databases/metrics-tables.md
  reference/system-databases/sql-diagnosis.md
Labels: needs-cherry-pick-4.0, size/large, status/can-merge, translation/from-docs-cn, v4.0

#2261 reference: add 2 inspection tables
  TOC.md
  reference/system-databases/inspection-result.md
  reference/system-databases/inspection-summary.md
  reference/system-databases/sql-diagnosis.md
Labels: needs-cherry-pick-4.0, size/large, status/PTAL, status/can-merge, translation/from-docs-cn, v4.0

#2377 reference/sql: use bigint as the auto_random example instead of int
  reference/sql/attributes/auto-random.md
Labels: needs-cherry-pick-4.0, status/PTAL, translation/from-docs-cn

#2284 reference/tools: add ticdc open protocol docs
  TOC.md
  reference/tools/ticdc/column-ddl-type.md
  reference/tools/ticdc/open-protocol.md
  reference/tools/ticdc/overview.md
Labels: needs-cherry-pick-4.0, size/large, status/can-merge, translation/from-docs-cn

#2401 how-to/deploy: update format for tiflash
  how-to/deploy/orchestrated/tiup.md
Labels: needs-cherry-pick-4.0, size/small, status/PTAL, translation/from-docs-cn

#2258 reference: update the description about the `tidb_enable_table_partition` variable
  reference/configuration/tidb-server/tidb-specific-variables.md
Labels: needs-cherry-pick-4.0, status/can-merge, status/require-change, translation/from-docs-cn

#2404 tiup: fix an indentation in tiup-operations
  how-to/maintain/tiup-operations.md
Labels: needs-cherry-pick-4.0, translation/from-docs-cn

#2405 tiflash: update behavior under CBO mode
  reference/tiflash/use-tiflash.md
Labels: needs-cherry-pick-3.1, needs-cherry-pick-4.0, size/small, status/PTAL, translation/from-docs-cn

#2397 tiup: update the default value for `readpool.storage.use-unified-pool`
  how-to/deploy/orchestrated/tiup.md
  quick-start-with-tidb.md
Labels: needs-cherry-pick-4.0, status/PTAL, status/can-merge, translation/from-docs-cn

#2412 tiup: fix example yaml link
  how-to/deploy/orchestrated/tiup.md
  how-to/upgrade/using-tiup.md
Labels: needs-cherry-pick-4.0, translation/from-docs-cn

#2411 tiup: simplify topology example
  how-to/deploy/orchestrated/tiup.md
Labels: needs-cherry-pick-4.0, status/can-merge, translation/from-docs-cn

#2358 toc, releases: add 4.0.0-rc.1 release note
  TOC.md
  releases/4.0.0-rc.1.md
  releases/rn.md
Labels: DNM until Ansible tag is ready, needs-cherry-pick-4.0, translation/from-docs-cn

#2415 tidb-binlog: remove config of reparo
  reference/tidb-binlog/reparo.md
Labels: needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, status/can-merge, translation/from-docs-cn

#2416 tools: update download url
  reference/tools/download.md
Labels: needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, status/can-merge, translation/from-docs-cn

#2426 tiflash: fix example yaml link
  reference/tiflash/deploy.md
Labels: needs-cherry-pick-4.0, translation/done

#2431 how-to/maintain: fix the TiUP parameter link
  how-to/maintain/tiup-operations.md
Labels: needs-cherry-pick-4.0, size/small, translation/from-docs-cn

#2433 how-to/maintain: update the TiUP parameter link
  how-to/maintain/tiup-operations.md
Labels: needs-cherry-pick-4.0, size/small, translation/from-docs-cn

#2436 releases, toc: add 3.1.1 release notes
  TOC.md
  releases/3.1.1.md
  releases/rn.md
Labels: DNM until Ansible tag is ready, needs-cherry-pick-3.1, needs-cherry-pick-4.0, translation/from-docs-cn
