Repository pingcap/docs, pull requests merged in 2020-10, with the labels that each got.

#4002 Resolve a concflict
  explain-overview.md
Labels: status/LGT1, status/PTAL, translation/no-need, type/bug-fix

#3981 pd: update placement rules
  configure-placement-rules.md
Labels: size/medium, status/LGT1, translation/from-docs-cn, v5.0

#4006 system_variables: add tidb_union_concurrency
  system-variables.md
Labels: needs-cherry-pick-3.0, size/small, status/LGT1, status/PTAL, translation/from-docs-cn, version-specific-changes-required

#4005 ticdc: add HTTP API for adjusting log level
  ticdc/manage-ticdc.md
Labels: needs-cherry-pick-4.0, size/small, status/LGT1, status/PTAL, translation/from-docs-cn

#4011 adopters: add Zhuan Zhuan, Xiaohongshu and BOB
  adopters.md
Labels: size/small, status/LGT1, translation/no-need

#4007 TOC: update the adopters.md URL
  TOC.md
Labels: size/small, status/LGT1, translation/no-need

#4010 TOC: update the adopters.md URL
  TOC.md
Labels: size/small, status/LGT1, translation/no-need

#4008 TOC: update the adopters.md URL
  TOC.md
Labels: size/small, status/LGT1, translation/no-need

#4009 TOC: update the adopters.md URL
  TOC.md
Labels: size/small, status/LGT1, translation/no-need

#4016 Revert the adopters link
  TOC.md
Labels: needs-cherry-pick-3.1, size/small, status/LGT1

#4020 adopters: add Zhuan Zhuan, Xiaohongshu and BOB
  adopters.md
Labels: needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, require-LGT1, size/small, status/LGT1

#4000 Update multi-data-centers-in-one-city-deployment.md
  multi-data-centers-in-one-city-deployment.md
Labels: needs-cherry-pick-4.0, size/small, status/LGT1, translation/from-docs-cn

#4028 Update section name Monotonic to Monotonicity in auto-increment.md
  auto-increment.md
Labels: first-time-contributor, needs-cherry-pick-4.0, size/small, status/LGT1, translation/no-need, type/bug-fix

#4029 faq: add multistatement faq
  faq/tidb-faq.md
Labels: needs-cherry-pick-4.0, size/small, status/LGT2, status/PTAL, status/can-merge, translation/doing

#3985 ticdc: update the docs about create changefeed
  releases/release-4.0.6.md
  ticdc/manage-ticdc.md
Labels: needs-cherry-pick-4.0, size/small, status/LGT1, status/PTAL, translation/from-docs-cn

#3615 Add Troubleshoot Read and Write latency issue document
  TOC.md
  troubleshoot-cpu-issues.md
Labels: needs-cherry-pick-4.0, size/large, status/LGT1, translation/from-docs-cn

#4034 *: remove expression index out of experimental feature
  sql-statements/sql-statement-create-index.md
  tidb-configuration-file.md
Labels: size/small, status/LGT1, translation/from-docs-cn, v5.0

#4036 prepared plan cache: Enable by default
  dashboard/dashboard-faq.md
  optimizer-hints.md
  sql-prepare-plan-cache.md
  tidb-configuration-file.md
Labels: follow-up, size/medium, status/LGT2, status/PTAL, translation/doing

#3951 explain: add partitions
  explain-partitions.md
Labels: follow-up, needs-cherry-pick-4.0, size/large, status/LGT1, status/PTAL, translation/doing

#4039 Update adopters.md
  adopters.md
Labels: needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, require-LGT1, status/LGT1, status/can-merge, translation/no-need

#4025 Improve images of three dcs in 2 cities
  media/three-data-centers-in-two-cities-deployment-01.png
  media/three-data-centers-in-two-cities-deployment-02.png
  media/three-data-centers-in-two-cities-deployment-03.png
  three-data-centers-in-two-cities-deployment.md
Labels: needs-cherry-pick-4.0, status/LGT1, status/PTAL, status/require-change, translation/doing, type/enhancement

#4037 troubleshoot-hot-spot-issues: remove allow-auto-random from config manual
  troubleshoot-hot-spot-issues.md
Labels: needs-cherry-pick-4.0, size/small, status/LGT1, translation/from-docs-cn

#4038 tidb-configuration-file: remove allow-auto-random from config manual
  tidb-configuration-file.md
Labels: size/small, status/LGT1, translation/from-docs-cn, type/4.0-cherry-pick

#3966 Update optimizer-hints.md
  optimizer-hints.md
Labels: needs-cherry-pick-4.0, size/small, status/LGT1, translation/from-docs-cn

#4003 Delete roadmap.md
  roadmap.md
Labels: needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, status/LGT2, status/PTAL, status/can-merge, translation/done

#4004 Add aliases in roadmap.md
  roadmap.md
Labels: follow-up, status/LGT2, status/PTAL, status/can-merge, translation/done

#4001 br: update docs for gc life time
  br/backup-and-restore-tool.md
Labels: needs-cherry-pick-4.0, size/medium, status/LGT1, translation/from-docs-cn

#4027 Add necessary tip to avoid misunderstanding
  quick-start-with-tidb.md
Labels: needs-cherry-pick-4.0, size/small, status/LGT1, status/PTAL, translation/from-docs-cn

#4041 Fix a typo in metadata part
  explain-partitions.md
Labels: status/LGT1, status/PTAL, translation/no-need, type/bug-fix

#4051 Update the default value of quota-backend-bytes
  pd-configuration-file.md
Labels: needs-cherry-pick-3.1, needs-cherry-pick-4.0, size/small, status/LGT1, status/PTAL, translation/from-docs-cn

#4054 Fix TiFlash critical logs
  tiflash/maintain-tiflash.md
Labels: needs-cherry-pick-4.0, status/LGT1, translation/from-docs-cn

#4059 Add 3 aliases to fix dead links
  alert-rules.md
  configure-time-zone.md
  releases/release-2.1.14.md
Labels: status/LGT1, translation/no-need, type/bug-fix

#4055 Media: Update java-practice-1.png
  best-practices/java-app-best-practices.md
  media/best-practices/java-practice-1.png
  media/java-practice-1.png
Labels: needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, status/LGT1, translation/from-docs-cn

#4026 check conflicts ci job draft
  .circleci/config.yml
  scripts/check-conflicts.py
Labels: needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, status/LGT1, translation/doing

#4068 add doc for broadcast join
  tiflash/use-tiflash.md
Labels: needs-cherry-pick-4.0, size/small, status/LGT1, translation/from-docs-cn

#4069 ticdc: add more protocol in ticdc sink config
  ticdc/manage-ticdc.md
Labels: needs-cherry-pick-4.0, require-LGT1, size/small, status/LGT1, status/PTAL, status/can-merge, translation/from-docs-cn

#4070 add set-operators.md
  TOC.md
  functions-and-operators/set-operators.md
Labels: size/medium, status/LGT1, status/PTAL, translation/from-docs-cn, v5.0

#4074 ticdc: correct cyclic-sync-ddl usage
  ticdc/manage-ticdc.md
Labels: needs-cherry-pick-4.0, size/small, status/LGT1, status/PTAL, translation/from-docs-cn

#4058 Refine language for explain-walkthrough.md
  explain-walkthrough.md
Labels: needs-cherry-pick-4.0, size/small, status/LGT2, status/PTAL, status/can-merge, translation/done

#4078 adopters: add ZTO Express
  adopters.md
Labels: needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, size/small, status/LGT1, translation/no-need

#4083 Update quick-start-with-tidb.md
  quick-start-with-tidb.md
Labels: needs-cherry-pick-4.0, size/small, status/LGT1, translation/from-docs-cn

#4086 Add using EXPLAIN ANALYZE and Grafana to coprocessor cache
  coprocessor-cache.md
Labels: first-time-contributor, needs-cherry-pick-4.0, size/medium, status/LGT1, status/PTAL, translation/from-docs-cn

#4093 Add 6 aliases to fix dead links
  certificate-authentication.md
  information-schema/information-schema-sql-diagnostics.md
  optimistic-transaction.md
  releases/release-2.1.8.md
  sync-diff-inspector/sync-diff-inspector-overview.md
  tidb-binlog/bidirectional-replication-between-tidb-clusters.md
Labels: status/LGT1, translation/no-need, type/bug-fix

#4085 tidb-binlog: add decription for initial-commit-ts
  tidb-binlog/tidb-binlog-configuration-file.md
Labels: needs-cherry-pick-3.0, size/small, status/LGT1, translation/from-docs-cn

#4095 Remove unneccssary escape \ from `--advertise-status-addr`
  command-line-flags-for-tikv-configuration.md
Labels: needs-cherry-pick-4.0, size/small, status/LGT1, translation/from-docs-cn, type/bug-fix

#4089 adopters: add U-Next case studies
  adopters.md
Labels: status/LGT1

#4056 update the tidb configuration documents.
  command-line-flags-for-tidb-configuration.md
Labels: first-time-contributor, needs-cherry-pick-4.0, size/small, status/LGT2, status/PTAL, translation/doing

#4090 Make information in explain-walkthrough.md more accurate
  explain-walkthrough.md
Labels: needs-cherry-pick-4.0, size/small, status/LGT2, status/PTAL, translation/done

#4015 TiDB Dashboard: add metrics relation map doc
  TOC.md
  dashboard/dashboard-metrics-relation.md
  media/dashboard/dashboard-metrics-relation-example.png
  media/dashboard/dashboard-metrics-relation-home.png
  media/dashboard/dashboard-metrics-relation-node-example.png
  media/dashboard/dashboard-metrics-relation-node-example1.png
  media/dashboard/dashboard-metrics-relation-node-example2.png
  media/dashboard/dashboard-metrics-relation-relation-example1.png
  media/dashboard/dashboard-metrics-relation-relation-example2.png
Labels: needs-cherry-pick-4.0, size/large, status/LGT2, status/PTAL, translation/from-docs-cn

#4107 Fix sync-log description in 4.0
  tikv-configuration-file.md
Labels: status/LGT1, translation/from-docs-cn

#4105 add tidb_opt_prefer_range_scan variable
  system-variables.md
Labels: size/small, status/LGT1, translation/from-docs-cn, v5.0

#4108 Remove the experimental flag for TiDB Dashboard
  dashboard/dashboard-diagnostics-access.md
  dashboard/dashboard-intro.md
Labels: needs-cherry-pick-4.0, size/small, status/LGT1, translation/from-docs-cn

#4091 Introduce how to deploy on arm64
  tiup/tiup-cluster.md
Labels: needs-cherry-pick-4.0, size/small, status/LGT2, status/can-merge, translation/from-docs-cn

#4112 Add documentation about APPROX_PERCENTILE
  functions-and-operators/aggregate-group-by-functions.md
Labels: needs-cherry-pick-4.0, size/small, status/LGT1, translation/from-docs-cn
