Repository pingcap/docs, pull requests merged in 2020-11, with the labels that each got.

#4115 Update "Type system differences" for MySQL Compatibility
  mysql-compatibility.md
Labels: first-time-contributor, needs-cherry-pick-4.0, status/LGT2, translation/doing

#4116 AUTO_INCREMENT: Capitalize sql keywords
  auto-increment.md
Labels: first-time-contributor, hacktoberfest-accepted, needs-cherry-pick-4.0, size/small, status/LGT2, translation/doing

#4117 Capitalize sql keywords in several files
  auto-random.md
  backup-and-restore-using-dumpling-lightning.md
  backup-and-restore-using-mydumper-lightning.md
  basic-sql-operations.md
  blocklist-control-plan.md
  character-set-and-collation.md
Labels: first-time-contributor, hacktoberfest-accepted, needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, size/small, status/LGT2, version-specific-changes-required

#4102 Add documentation on integration with Confluent
  TOC.md
  ticdc/integrate-confluent-using-ticdc.md
  ticdc/manage-ticdc.md
Labels: first-time-contributor, needs-cherry-pick-4.0, size/large, status/LGT1, status/PTAL, translation/doing

#4111 Update config to include max-background-flushes
  tikv-configuration-file.md
Labels: needs-cherry-pick-4.0, size/small, status/LGT2, status/PTAL, translation/doing

#4125 Migrate contributor PRs with pending CLA
  sql-logical-optimization.md
  system-variables.md
Labels: needs-cherry-pick-4.0, size/small, status/LGT1, translation/from-docs-cn

#4128 Fix a typo in get-started-with-tispark.md
  get-started-with-tispark.md
Labels: needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, status/LGT1, type/bug-fix

#4130 ticdc: fix some typos in the open protocol
  ticdc/ticdc-open-protocol.md
Labels: needs-cherry-pick-4.0, size/small, status/LGT1, translation/from-docs-cn

#4134 .github: add an action to check stale issues
  .github/workflows/stale.yaml
Labels: status/LGT1, translation/no-need

#4135 .github: check connectivity of external links via GitHub action
  .circleci/config.yml
  .github/workflows/link-check.yaml
  adopters.md
  connectors-and-apis.md
  sql-statements/sql-statement-admin.md
  technical-writing-project-ideas.md
Labels: needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, translation/from-docs-cn

#4140 Update link-check.yaml
  .github/workflows/link-check.yaml
Labels: translation/no-need

#4142 update roadmap for tidb-operator
  roadmap.md
Labels: size/small, status/LGT2, status/PTAL, translation/from-docs-cn

#4143 Media:Update multi-data-centers-in-one-city-deployment-sample.png
  media/multi-data-centers-in-one-city-deployment-sample.png
Labels: needs-cherry-pick-4.0, status/LGT1, translation/done

#3922 explain: Add joins
  explain-joins.md
Labels: needs-cherry-pick-4.0, size/large, status/LGT2, status/PTAL, status/can-merge, translation/doing

#4146 config: hide & deprecate enable-streaming
  sql-statements/sql-statement-show-variables.md
  system-variables.md
  tidb-configuration-file.md
Labels: needs-cherry-pick-3.0, needs-cherry-pick-4.0, size/small, status/LGT1, translation/from-docs-cn, version-specific-changes-required

#4149 Update role-based-access-control.md
  role-based-access-control.md
Labels: needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, size/small, status/LGT1, translation/from-docs-cn

#4148 Add metric of TiFlash Coprocessor
  tiflash/monitor-tiflash.md
Labels: needs-cherry-pick-4.0, size/small, status/LGT1, translation/from-docs-cn

#4155 Fix a typo in pd-configuration-file.md
  pd-configuration-file.md
Labels: needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, status/LGT1, translation/done, type/bug-fix

#4161 Add missing PD dashboard items in 3.1/3.0/2.1
  grafana-overview-dashboard.md
  media/grafana-monitor-overview.png
Labels: needs-cherry-pick-2.1, needs-cherry-pick-3.0, size/small, status/LGT1, translation/from-docs-cn

#4144 readme: add google translate links of French, Japanese, Korean
  README.md
Labels: needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, status/LGT2, status/PTAL, status/can-merge, translation/no-need

#4165 tidb: update autocommit behavior description of pessimistic transactions
  pessimistic-transaction.md
Labels: needs-cherry-pick-4.0, size/small, status/LGT1, translation/from-docs-cn, version-specific-changes-required

#4173 filter several external links to pass ci check
  .github/workflows/link-check.yaml
  adopters.md
Labels: needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, status/LGT1, translation/from-docs-cn

#4175 Update a value in tikv-configuration-file.md
  tikv-configuration-file.md
Labels: needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, require-LGT1, status/LGT1, status/can-merge, translation/done

#4185 quick-start-with-tidb: remove Wasm-related content
  quick-start-with-tidb.md
Labels: needs-cherry-pick-4.0, size/small, status/LGT1, status/PTAL, translation/done

#4184 Fix a typo in the `admin` statement
  sql-statements/sql-statement-admin-cancel-ddl.md
  sql-statements/sql-statement-admin-show-ddl.md
Labels: needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, status/LGT1, status/PTAL, translation/done

#4163 ticdc: update time-zone, add without valid index replic, update cdc c…
  ticdc/manage-ticdc.md
  ticdc/ticdc-overview.md
Labels: needs-cherry-pick-4.0, size/medium, status/LGT2, status/PTAL, status/can-merge, translation/from-docs-cn

#3948 explain: add subqueries
  explain-subqueries.md
Labels: needs-cherry-pick-4.0, size/large, status/LGT1, status/PTAL, translation/doing

#4174 tidb: update docs for new transaction features in 5.0
  tidb-configuration-file.md
Labels: size/medium, status/LGT1, status/require-change, translation/from-docs-cn, v5.0

#4194 tikv: remove storage.scheduler-notify-capacity
  tikv-configuration-file.md
Labels: needs-cherry-pick-3.1, needs-cherry-pick-4.0, status/LGT1, status/PTAL, translation/doing

#4193 add how to dump to amazon s3 for dumpling
  dumpling-overview.md
Labels: needs-cherry-pick-4.0, size/small, status/LGT2, status/PTAL, translation/from-docs-cn

#4198 Update tiflash-configuration.md
  tiflash/tiflash-configuration.md
Labels: needs-cherry-pick-4.0, size/small, status/LGT1, status/PTAL, translation/from-docs-cn

#4200 Unify tikv port
  information-schema/information-schema-cluster-load.md
  tikv-control.md
Labels: needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, size/small, status/LGT1, status/PTAL, translation/doing

#4199 tikv: add `grpc-memory-pool-quota` config
  tikv-configuration-file.md
Labels: needs-cherry-pick-4.0, size/medium, status/LGT1, status/PTAL, translation/doing

#4208 Media: Update syncer-sharding.png
  media/syncer-sharding.png
  media/syncer_sharding.png
  syncer-overview.md
Labels: needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, status/LGT1, translation/done

#3933 explain: add indexes
  explain-indexes.md
Labels: needs-cherry-pick-4.0, size/large, status/LGT1, status/PTAL, translation/doing

#4215 sql: fix display errors
  sql-statements/sql-statement-admin.md
Labels: needs-cherry-pick-4.0, size/small, status/LGT1, translation/doing, type/bug-fix

#4214 toc: reorder br docs
  TOC.md
  br/backup-and-restore-storages.md
Labels: needs-cherry-pick-4.0, status/LGT1, translation/from-docs-cn

#4218 tidb binlog: refine relay log description
  tidb-binlog/tidb-binlog-relay-log.md
Labels: needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, size/small, status/LGT2, status/PTAL, translation/from-docs-cn

#4220 adopters: add palfish
  adopters.md
Labels: needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, status/LGT1, translation/no-need

#4229 sync-diff-inspector: add a command to download docker image
  sync-diff-inspector/sync-diff-inspector-overview.md
Labels: needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, size/small, status/LGT1, status/PTAL, translation/from-docs-cn

#4234 sql: replace backticks with <code> for the inline code
  sql-statements/sql-statement-admin.md
Labels: needs-cherry-pick-4.0, size/small, status/LGT1, status/PTAL, translation/from-docs-cn

#4221 br: update backup-and-restore-use-cases.md
  br/backup-and-restore-use-cases.md
Labels: needs-cherry-pick-3.1, needs-cherry-pick-4.0, size/small, status/LGT1, translation/from-docs-cn

#4071 update doc for explain analyze
  sql-statements/sql-statement-explain-analyze.md
Labels: needs-cherry-pick-4.0, size/large, status/LGT2, status/require-change, translation/from-docs-cn

#4241 tiflash: update TiFlash's pushdown expression list
  tiflash/use-tiflash.md
Labels: needs-cherry-pick-4.0, size/small, status/LGT1, translation/from-docs-cn

#4183 CI: update conflicts check to support all file formats
  .circleci/config.yml
Labels: needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, require-LGT1, status/LGT1, status/PTAL, status/can-merge, translation/no-need

#4247 tools: add some description of log and check result for diff
  sync-diff-inspector/sync-diff-inspector-overview.md
Labels: needs-cherry-pick-4.0, size/small, status/LGT2, status/PTAL, translation/doing

#4250 Fix wrong default value in tiflash config doc
  partitioned-table.md
  tiflash/tiflash-configuration.md
Labels: needs-cherry-pick-4.0, size/small, status/LGT1, status/PTAL, translation/from-docs-cn

#4236 dumpling: update and refine dumpling doc
  TOC.md
  _index.md
  br/backup-and-restore-tool.md
  dumpling-overview.md
  faq/migration-tidb-faq.md
  get-started-with-tidb-lightning.md
  migrate-from-mysql-dumpling-files.md
  migration-overview.md
  tidb-lightning/deploy-tidb-lightning.md
  tidb-lightning/tidb-lightning-configuration.md
  tidb-lightning/tidb-lightning-faq.md
  tidb-lightning/tidb-lightning-overview.md
  troubleshoot-tidb-lightning.md
Labels: needs-cherry-pick-4.0, size/large, status/LGT1, status/PTAL, translation/from-docs-cn, version-specific-changes-required

#4253 Add 2 links in collation-related docs
  character-set-and-collation.md
  sql-statements/sql-statement-show-collation.md
Labels: needs-cherry-pick-4.0, size/small, status/LGT1, status/PTAL, translation/from-docs-cn

#4162 Update docs about explain-analyze and slow logs
  identify-slow-queries.md
Labels: needs-cherry-pick-4.0, size/medium, status/LGT1, status/PTAL, translation/from-docs-cn

#4240 ticdc, toc: gather TiCDC docs together in TOC
  TOC.md
  ticdc/deploy-ticdc.md
  ticdc/integrate-confluent-using-ticdc.md
  ticdc/manage-ticdc.md
  ticdc/ticdc-overview.md
Labels: needs-cherry-pick-4.0, size/medium, status/LGT1, status/PTAL, translation/from-docs-cn

#4257 Update adopters.md
  adopters.md
Labels: needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, status/LGT1, translation/no-need

#4262 br: update adaptive GC description
  br/backup-and-restore-use-cases.md
Labels: needs-cherry-pick-4.0, size/small, status/LGT1, status/PTAL, translation/from-docs-cn

#4035 add a new document about how to analyze slow queries
  TOC.md
  _index.md
  analyze-slow-queries.md
  media/performance-map.png
Labels: needs-cherry-pick-4.0, size/large, status/LGT1, status/PTAL, translation/from-docs-cn

#4207 Add synchronous replication docs
  TOC.md
  pd-configuration-file.md
  pd-control.md
  synchronous-replication.md
Labels: size/large, status/LGT1, status/PTAL, translation/doing, v5.0

#4160 contributing: add guide of signing CLA
  .github/pull_request_template.md
  CONTRIBUTING.md
Labels: needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, status/LGT2, status/PTAL, status/can-merge, translation/doing

#4263 Media: Update shard-table-replica.png
  media/shard-table-replica-1.png
  media/shard-table-replica-2.png
Labels: needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, status/LGT1, translation/from-docs-cn

#4274 Fix a typo in analyze-slow-queries.md
  analyze-slow-queries.md
Labels: needs-cherry-pick-4.0, size/small, status/LGT1, translation/from-docs-cn, type/bug-fix

#4096 TiDB Ansible: clarify in the warning against using Ansible since 4.0
  offline-deployment-using-ansible.md
  online-deployment-using-ansible.md
Labels: needs-cherry-pick-4.0, size/small, status/LGT3, status/PTAL, translation/doing

#4277 Add instruction on how to connect to mysql
  quick-start-with-tidb.md
Labels: needs-cherry-pick-4.0, status/LGT1, status/PTAL, translation/from-docs-cn

#4278 Remove dbdeployer and homebrew deployment methods
  deploy-tidb-from-dbdeployer.md
  deploy-tidb-from-homebrew.md
  production-deployment-using-tiup.md
Labels: needs-cherry-pick-4.0, status/LGT1, status/PTAL, translation/no-need, version-specific-changes-required

#4281 chore: remove copyable code snippet when generate PDF
  scripts/merge_by_toc.py
Labels: needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, status/LGT1, translation/done

#4287 Fix a typo in character-set-and-collation.md
  character-set-and-collation.md
Labels: needs-cherry-pick-4.0, size/small, status/LGT1, translation/from-docs-cn, type/bug-fix

#4248 media: refine 3 images
  media/deploy-3dc-dr.png
  media/deploy-3dc-optimize.png
  media/deploy-3dc.png
Labels: needs-cherry-pick-4.0, size/small, status/LGT1, status/PTAL, translation/doing

#4286 Add descriptions of output files in dumpling-overview.md
  dumpling-overview.md
Labels: needs-cherry-pick-4.0, size/small, status/LGT2, status/PTAL, translation/from-docs-cn

#4297 ticdc: add "apache" before "kafka"
  ticdc/integrate-confluent-using-ticdc.md
Labels: needs-cherry-pick-4.0, size/small, status/LGT1, translation/done
