Repository pingcap/docs, pull requests merged in 2020-01, with the labels that each got.

#1740 reference: improve usability of certificate-based authentication doc
  dev/reference/security/cert-based-authentication.md
  v3.0/reference/security/cert-based-authentication.md
Labels: aligned-in-docs-cn

#1742 reference/security: fix a typo
  dev/reference/security/cert-based-authentication.md
  v3.0/reference/security/cert-based-authentication.md
Labels: align-N/A

#1736 tidb-in-k8s: update outdated content
  dev/tidb-in-kubernetes/maintain/auto-failover.md
  dev/tidb-in-kubernetes/upgrade/tidb-cluster.md
  v3.0/tidb-in-kubernetes/maintain/auto-failover.md
  v3.0/tidb-in-kubernetes/upgrade/tidb-cluster.md
  v3.1/tidb-in-kubernetes/maintain/auto-failover.md
  v3.1/tidb-in-kubernetes/upgrade/tidb-cluster.md
Labels: DNM, aligned-with-docs-cn, dev, tidb-in-k8s

#1743 architecture: refine architecture doc
  dev/architecture.md
  v2.1/architecture.md
  v3.0/architecture.md
  v3.1/architecture.md
Labels: align-N/A

#1728 reference/tools: add FAQs and update mydumper doc
  dev/reference/tools/mydumper.md
  v2.1/reference/tools/mydumper.md
  v3.0/reference/tools/mydumper.md
  v3.1/reference/tools/mydumper.md
Labels: aligned-with-docs-cn

#1721 alert-rules: refine duplicate tidb binlog alerting rules docs
  dev/reference/alert-rules.md
  dev/reference/tidb-binlog/monitor.md
  v2.1/reference/alert-rules.md
  v2.1/reference/tidb-binlog/monitor.md
  v3.0/reference/alert-rules.md
  v3.0/reference/tidb-binlog/monitor.md
  v3.1/reference/alert-rules.md
  v3.1/reference/tidb-binlog/monitor.md
Labels: aligned-with-docs-cn

#1720 tidb-binlog: update docs about checkpoint & initial-commit-ts
  dev/reference/tidb-binlog/deploy.md
  v3.0/reference/tidb-binlog/deploy.md
  v3.1/reference/tidb-binlog/deploy.md
Labels: aligned-with-docs-cn

#1744 benchmark: make code blocks copyable without prefix symbols
  dev/benchmark/how-to-run-sysbench.md
  dev/benchmark/how-to-run-tpcc.md
  dev/benchmark/sysbench-in-k8s.md
  dev/benchmark/sysbench-v4.md
  dev/benchmark/sysbench.md
  dev/benchmark/tpcc.md
  v2.1/benchmark/dm-v1-alpha.md
  v2.1/benchmark/how-to-run-sysbench.md
  v2.1/benchmark/sysbench.md
  v3.0/benchmark/dm-v1-alpha.md
  v3.0/benchmark/how-to-run-sysbench.md
  v3.0/benchmark/how-to-run-tpcc.md
  v3.0/benchmark/sysbench-in-k8s.md
  v3.0/benchmark/sysbench-v4.md
  v3.0/benchmark/sysbench.md
  v3.0/benchmark/tpcc.md
Labels: aligned-with-docs-cn

#1690 reference: update the transaction-related docs
  dev/reference/configuration/tidb-server/tidb-specific-variables.md
  dev/reference/transactions/overview.md
  dev/reference/transactions/transaction-isolation.md
  dev/reference/transactions/transaction-model.md
  v2.1-legacy/sql/mysql-compatibility.md
  v2.1-legacy/sql/transaction-isolation.md
  v2.1/reference/configuration/tidb-server/tidb-specific-variables.md
  v2.1/reference/transactions/overview.md
  v2.1/reference/transactions/transaction-isolation.md
  v2.1/reference/transactions/transaction-model.md
  v3.0/reference/configuration/tidb-server/tidb-specific-variables.md
  v3.0/reference/transactions/overview.md
  v3.0/reference/transactions/transaction-isolation.md
  v3.0/reference/transactions/transaction-model.md
  v3.1/reference/configuration/tidb-server/tidb-specific-variables.md
  v3.1/reference/transactions/overview.md
  v3.1/reference/transactions/transaction-isolation.md
  v3.1/reference/transactions/transaction-model.md
Labels: aligned-with-docs-cn, dev, v2.1, v3.0, v3.1

#1745 reference/security: refine language of certificate-based authentication document
  dev/reference/security/cert-based-authentication.md
  v3.0/reference/security/cert-based-authentication.md
Labels: align-N/A, small

#1661 tidb-binlog: add trouble shooting and error handling docs
  dev/TOC.md
  dev/reference/tidb-binlog/troubleshoot/binlog.md
  dev/reference/tidb-binlog/troubleshoot/error-handling.md
  v2.1/TOC.md
  v2.1/reference/tidb-binlog/troubleshoot/binlog.md
  v2.1/reference/tidb-binlog/troubleshoot/error-handling.md
  v3.0/TOC.md
  v3.0/reference/tidb-binlog/troubleshoot/binlog.md
  v3.0/reference/tidb-binlog/troubleshoot/error-handling.md
  v3.1/TOC.md
  v3.1/reference/tidb-binlog/troubleshoot/binlog.md
  v3.1/reference/tidb-binlog/troubleshoot/error-handling.md
Labels: aligned-with-docs-cn, dev, v2.1, v3.0, v3.1

#1756 reference/tools: fix the link of DM's configuration file
  dev/reference/tools/data-migration/configure/task-configuration-file.md
  v2.1/reference/tools/data-migration/configure/task-configuration-file.md
  v3.0/reference/tools/data-migration/configure/task-configuration-file.md
  v3.1/reference/tools/data-migration/configure/task-configuration-file.md
Labels: aligned-with-docs-cn

#1760 *: CSDN's are all with SSL
  dev/faq/tidb.md
  templates/template.tex
  v1.0/FAQ.md
  v1.0/templates/template.tex
  v2.0/FAQ.md
  v2.0/templates/template.tex
  v2.1-legacy/FAQ.md
  v2.1-legacy/templates/template.tex
  v2.1/faq/tidb.md
  v3.0/faq/tidb.md
  v3.1/faq/tidb.md
Labels: aligned-with-docs-cn

#1729 reference/tools/download: update br-related docs
  dev/how-to/maintain/backup-and-restore/br.md
  dev/reference/tools/download.md
  v3.1/how-to/maintain/backup-and-restore/br.md
  v3.1/reference/tools/download.md
Labels: DNM, aligned-with-docs-cn, dev, small, v3.1

#1761 faq,tidb-lightning: update tidb lightning docs in other versions
  dev/faq/tidb-lightning.md
  dev/reference/tools/tidb-lightning/deployment.md
  v2.1/reference/tools/tidb-lightning/config.md
  v2.1/reference/tools/tidb-lightning/deployment.md
  v2.1/reference/tools/tidb-lightning/monitor.md
  v2.1/reference/tools/tidb-lightning/overview.md
  v2.1/reference/tools/tidb-lightning/web.md
  v3.0/faq/tidb-lightning.md
  v3.0/how-to/troubleshoot/tidb-lightning.md
  v3.0/reference/tools/tidb-lightning/config.md
  v3.0/reference/tools/tidb-lightning/deployment.md
  v3.0/reference/tools/tidb-lightning/monitor.md
  v3.0/reference/tools/tidb-lightning/web.md
  v3.1/faq/tidb-lightning.md
  v3.1/how-to/troubleshoot/tidb-lightning.md
  v3.1/reference/tools/tidb-lightning/config.md
  v3.1/reference/tools/tidb-lightning/deployment.md
  v3.1/reference/tools/tidb-lightning/monitor.md
  v3.1/reference/tools/tidb-lightning/web.md
Labels: align-N/A, dev, status/can-merge, v3.0, v3.1

#1763 dev, v3.1: add 3.1.0-beta.1 release notes
  dev/TOC.md
  dev/releases/3.1.0-beta.1.md
  dev/releases/rn.md
  v3.1/TOC.md
  v3.1/releases/3.1.0-beta.1.md
  v3.1/releases/rn.md
Labels: DNM until Ansible tag is ready, aligned-with-docs-cn

#1752 tidb-in-kubernetes: update doc for net.ipv4.tcp_keepalive_time config
  dev/tidb-in-kubernetes/troubleshoot.md
  v3.0/tidb-in-kubernetes/troubleshoot.md
  v3.1/tidb-in-kubernetes/troubleshoot.md
Labels: aligned-with-docs-cn, small, status/can-merge, tidb-in-k8s

#1755 tools: add concurrent dump chapter in mydumper document
  dev/reference/tools/mydumper.md
  v2.1/reference/tools/mydumper.md
  v3.0/reference/tools/mydumper.md
  v3.1/reference/tools/mydumper.md
Labels: aligned-with-docs-cn, small, status/can-merge

#1770 reference/security: add cert-based authentication doc for v3.1
  v3.1/TOC.md
  v3.1/reference/security/cert-based-authentication.md
Labels: v3.1

#1769 releases, TOC: add TiDB 3.0.9 Release Notes
  dev/TOC.md
  dev/releases/3.0.9.md
  dev/releases/rn.md
  v3.0/TOC.md
  v3.0/releases/3.0.9.md
  v3.0/releases/rn.md
  v3.1/TOC.md
  v3.1/releases/3.0.9.md
  v3.1/releases/rn.md
Labels: dev, status/can-merge, v3.0, v3.1

#1771 releases: add a note to the 3.0.9 release notes
  dev/releases/3.0.9.md
  v3.0/releases/3.0.9.md
  v3.1/releases/3.0.9.md
Labels: aligned-with-docs-cn, dev, v3.0, v3.1

#1773 toc: add newly-added docs to the toc
  dev/TOC.md
  v2.1/TOC.md
  v3.0/TOC.md
  v3.1/TOC.md
Labels: align-N/A, dev, status/can-merge, v2.1, v3.0, v3.1

#1753 faq: make code blocks copyable without prefix symbols
  dev/faq/tidb-lightning.md
  dev/faq/tidb.md
  dev/faq/upgrade.md
  v2.1/faq/tidb-lightning.md
  v2.1/faq/tidb.md
  v2.1/faq/upgrade.md
  v3.0/faq/tidb-lightning.md
  v3.0/faq/tidb.md
  v3.0/faq/upgrade.md
  v3.1/faq/tidb-lightning.md
  v3.1/faq/tidb.md
  v3.1/faq/upgrade.md
Labels: aligned-with-docs-cn, status/can-merge

#1757 reference: update the description of SQL mode
  dev/reference/mysql-compatibility.md
  v2.1/reference/mysql-compatibility.md
  v3.0/reference/mysql-compatibility.md
  v3.1/reference/mysql-compatibility.md
Labels: aligned-with-docs-cn

#1774 pull_request_template: create checkboxes to reduce manual effort of typing words
  .github/pull_request_template.md
Labels: aligned-with-docs-cn, status/can-merge

#1653 tools: update query-status descriptions of dm
  dev/how-to/get-started/data-migration.md
  dev/how-to/migrate/from-aurora.md
  dev/reference/tools/data-migration/deploy.md
  dev/reference/tools/data-migration/query-status.md
  v2.1/how-to/get-started/data-migration.md
  v2.1/how-to/migrate/from-aurora.md
  v2.1/reference/tools/data-migration/deploy.md
  v2.1/reference/tools/data-migration/query-status.md
  v3.0/how-to/get-started/data-migration.md
  v3.0/how-to/migrate/from-aurora.md
  v3.0/reference/tools/data-migration/deploy.md
  v3.0/reference/tools/data-migration/query-status.md
  v3.1/how-to/get-started/data-migration.md
  v3.1/how-to/migrate/from-aurora.md
  v3.1/reference/tools/data-migration/deploy.md
  v3.1/reference/tools/data-migration/query-status.md
Labels: aligned-with-docs-cn, dev, v2.1, v3.0, v3.1

#1776 tidb-in-kubernetes: refine the format
  dev/tidb-in-kubernetes/get-started/deploy-tidb-from-kubernetes-gke.md
  v3.0/tidb-in-kubernetes/get-started/deploy-tidb-from-kubernetes-gke.md
  v3.1/tidb-in-kubernetes/get-started/deploy-tidb-from-kubernetes-gke.md
Labels: dev, status/can-merge, tidb-in-k8s, v3.0, v3.1

#1777 how-to/deploy: fix the note format of hardware recommendations
  dev/how-to/deploy/hardware-recommendations.md
  v2.1/how-to/deploy/hardware-recommendations.md
  v3.0/how-to/deploy/hardware-recommendations.md
  v3.1/how-to/deploy/hardware-recommendations.md
Labels: align-N/A

#1781 releases, toc: add 4.0.0-beta release notes
  dev/TOC.md
  dev/releases/4.0.0-beta.md
  dev/releases/rn.md
Labels: DNM until Ansible tag is ready, aligned-with-docs-cn, dev, v4.0

#1784 releases: improve format of 4.0.0-beta release notes
  dev/releases/4.0.0-beta.md
Labels: aligned-in-docs-cn, dev, v4.0

#1775 how-to/deploy: delete enable_slow_query_log
  dev/how-to/deploy/orchestrated/ansible.md
  v3.0/how-to/deploy/orchestrated/ansible.md
  v3.1/how-to/deploy/orchestrated/ansible.md
Labels: aligned-with-docs-cn, status/can-merge

#1772 *: add Grafana monitoring best practices
  dev/TOC.md
  dev/reference/best-practices/grafana-monitor.md
  media/best-practices/add-avg-function-check-trend.jpg
  media/best-practices/add-avg-function.jpeg
  media/best-practices/add-instance-dimension.jpeg
  media/best-practices/axes-scale-linear.jpg
  media/best-practices/default-axes-scale.jpg
  media/best-practices/default-y-min.jpeg
  media/best-practices/edit-expression-check-dimensions.jpg
  media/best-practices/graph-tooltip-shared-crosshair.jpeg
  media/best-practices/graph-tooltip-shared-tooltip.jpg
  media/best-practices/graph-tooltip.jpeg
  media/best-practices/manually-input-check-metric.jpeg
  media/best-practices/metric-board-edit-entry.png
  media/best-practices/metric-board-expression.jpeg
  media/best-practices/prometheus-api-interface.jpg
  media/best-practices/y-min-auto.jpg
  v2.1/TOC.md
  v2.1/reference/best-practices/grafana-monitor.md
  v3.0/TOC.md
  v3.0/reference/best-practices/grafana-monitor.md
  v3.1/TOC.md
  v3.1/reference/best-practices/grafana-monitor.md
Labels: aligned-with-docs-cn, best-practices

#1758 how-to: make code blocks copyable without prefix symbols
  v3.0/how-to/configure/memory-control.md
  v3.0/how-to/configure/time-zone.md
  v3.0/how-to/deploy/data-migration-with-ansible.md
  v3.0/how-to/deploy/from-tarball/production-environment.md
  v3.0/how-to/deploy/from-tarball/testing-environment.md
  v3.0/how-to/deploy/orchestrated/ansible-operations.md
  v3.0/how-to/deploy/orchestrated/ansible.md
  v3.0/how-to/deploy/orchestrated/docker.md
  v3.0/how-to/get-started/data-migration.md
  v3.0/how-to/get-started/deploy-tidb-from-binary.md
  v3.0/how-to/get-started/deploy-tidb-from-homebrew.md
  v3.0/how-to/get-started/import-example-database.md
  v3.0/how-to/get-started/read-historical-data.md
  v3.0/how-to/get-started/tidb-binlog.md
  v3.0/how-to/get-started/tispark.md
  v3.0/how-to/maintain/backup-and-restore.md
  v3.0/how-to/migrate/from-aurora.md
  v3.0/how-to/migrate/from-mysql.md
  v3.0/how-to/migrate/incrementally-from-mysql.md
  v3.0/how-to/monitor/monitor-a-cluster.md
  v3.0/how-to/scale/horizontally.md
  v3.0/how-to/scale/with-ansible.md
  v3.0/how-to/secure/enable-tls-between-components.md
  v3.0/how-to/secure/enable-tls-clients.md
  v3.0/how-to/secure/generate-self-signed-certificates.md
  v3.0/how-to/troubleshoot/tidb-lightning.md
  v3.0/how-to/upgrade/from-previous-version.md
Labels: aligned-with-docs-cn, status/can-merge

#1723 tools: add a glossary for dm
  dev/TOC.md
  dev/reference/tools/data-migration/glossary.md
  v2.1/TOC.md
  v2.1/reference/tools/data-migration/glossary.md
  v3.0/TOC.md
  v3.0/reference/tools/data-migration/glossary.md
  v3.1/TOC.md
  v3.1/reference/tools/data-migration/glossary.md
Labels: aligned-with-docs-cn, dev, medium, v3.0, v3.1
