Repository pingcap/docs, pull requests merged in 2021-09, with the labels that each got.

#6368 Fix 2 broken links of tiup config files
  production-offline-deployment-using-tiup.md
  upgrade-tidb-using-tiup.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT1, size/XS

#6369 Fix TOC display error
  TOC.md
Labels: type/bug-fix, status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/XS

#6377 sql: fix the correctness problem about kill
  sql-statements/sql-statement-kill.md
Labels: type/bug-fix, translation/done, status/can-merge, status/LGT1, require-LGT1, size/XS, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2

#6299 change expressions related to statement summary tables
  system-variables.md
  tidb-configuration-file.md
Labels: type/enhancement, requires-version-specific-changes, translation/from-docs-cn, status/can-merge, status/LGT2, needs-cherry-pick-release-4.0, needs-cherry-pick-release-5.0, size/S, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2

#6388 Update grafana-pd-dashboard.md
  grafana-pd-dashboard.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, first-time-contributor, size/XS, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2

#6389 system variables: update description about `tidb_opt_prefer_range_scan`
  system-variables.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT2, size/XS, sig/docs, sig/planner

#6339 chore: use py scripts in docs/master
  .circleci/config.yml
Labels: translation/doing, status/can-merge, needs-cherry-pick-release-2.1, needs-cherry-pick-release-3.0, needs-cherry-pick-release-3.1, status/LGT1, needs-cherry-pick-release-4.0, require-LGT1, needs-cherry-pick-release-5.0, needs-cherry-pick-release-5.1

#6376 Update alert rule for low space
  alert-rules.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT1, needs-cherry-pick-release-4.0, require-LGT1, needs-cherry-pick-release-5.0, size/S, sig/docs, sig/engine, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2

#6398 Modify a typo
  releases/release-2.1.17.md
Labels: type/bug-fix, status/can-merge, status/LGT1, translation/no-need, first-time-contributor, size/XS

#6404 chore: add dispatch back
  .github/workflows/dispatch.yml
Labels: translation/done, status/can-merge, status/LGT1, require-LGT1, size/S

#6375 Add description for TiKV Ready handled panel
  grafana-tikv-dashboard.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT2, needs-cherry-pick-release-5.0, size/XS, sig/docs, sig/engine, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2

#6371 TiKV config: fix wrong description about `compaction-readahead-size`
  tikv-configuration-file.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XS, sig/docs, sig/engine, needs-cherry-pick-release-5.2

#6158 update transaction doc
  optimistic-transaction.md
  transaction-isolation-levels.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT2, size/XS, sig/docs, sig/transaction, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2

#6263 BR FAQ: add a warning about multi br importing
  br/backup-and-restore-faq.md
  br/use-br-command-line-tool.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT2, size/S, sig/docs, sig/migrate

#6370 Configuration Options: remove two TiDB's command options
  command-line-flags-for-tidb-configuration.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, needs-cherry-pick-release-4.0, needs-cherry-pick-release-5.0, size/S, sig/docs, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, sig/bigdata

#6406 modify a typo-2
  releases/release-2.1.17.md
Labels: status/can-merge, status/LGT1, translation/no-need, require-LGT1, first-time-contributor, size/XS

#6374 system-variables: improve noop functions warning
  system-variables.md
Labels: type/enhancement, translation/doing, status/can-merge, status/LGT2, needs-cherry-pick-release-5.0, size/XS, sig/docs, sig/sql-infra, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2

#6422 add doc links to overview.md
  overview.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, needs-cherry-pick-release-4.0, require-LGT1, first-time-contributor, needs-cherry-pick-release-5.0, size/XS, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2

#6428 chore: fix byte encode
  scripts/check-conflicts.py
  scripts/check-control-char.py
  scripts/check-file-encoding.py
  scripts/check-manual-line-breaks.py
  scripts/check-tags.py
Labels: status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/S

#6418 performance_schema -> information_schema
  statement-summary-tables.md
Labels: type/bug-fix, translation/doing, status/can-merge, status/LGT2, needs-cherry-pick-release-4.0, needs-cherry-pick-release-5.0, size/XS, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2

#6429 chore: update ci scripts
  scripts/check-file-encoding.py
Labels: status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/XS

#6427 Enhance TiDB login descriptions - EN
  dashboard/dashboard-access.md
  post-installation-check.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, needs-cherry-pick-release-5.0, size/XS, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2

#6438 release-notes: add 5.2.1 release notes
  TOC.md
  download-ecosystem-tools.md
  pd-control.md
  pd-recover.md
  production-deployment-using-tiup.md
  quick-start-with-tidb.md
  releases/release-5.2.0.md
  releases/release-5.2.1.md
  releases/release-notes.md
  scale-tidb-using-tiup.md
  ticdc/manage-ticdc.md
  tiup/tiup-component-cluster-deploy.md
  tiup/tiup-component-management.md
  tiup/tiup-mirror.md
  tiup/tiup-playground.md
  upgrade-tidb-using-tiup.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/L, sig/docs, sig/planner, sig/scheduling, needs-cherry-pick-release-5.2

#6130 basic features: add feature matrix
  basic-features.md
Labels: type/enhancement, translation/doing, status/can-merge, status/LGT2, needs-cherry-pick-release-5.0, size/L, sig/docs, sig/migrate, sig/sql-infra, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2

#6405 release note: add a check item for feedback-probability
  releases/release-5.0.0.md
  releases/release-5.1.0.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, status/PTAL, require-LGT1, needs-cherry-pick-release-5.0, size/XS, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2

#6224 Update system variables for correctness
  system-variables.md
Labels: type/enhancement, translation/doing, status/can-merge, status/LGT2, size/M, sig/docs, sig/sql-infra, needs-cherry-pick-release-5.2

#6152 encryption-at-rest: Update
  encryption-at-rest.md
Labels: type/enhancement, translation/doing, status/can-merge, status/LGT2, size/M, sig/docs, sig/engine, needs-cherry-pick-release-5.2

#6452 basic-features: collapse charset and collations
  basic-features.md
Labels: type/enhancement, status/can-merge, status/LGT1, require-LGT1, needs-cherry-pick-release-5.0, size/S, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2

#6451 system-variables: update from generated source
  system-variables.md
Labels: type/enhancement, translation/doing, status/can-merge, status/LGT2, size/XS

#6403 fix-enable-compaction-filter-in-tikv-configuration-file
  tikv-configuration-file.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, first-time-contributor, needs-cherry-pick-release-5.0, size/XS, sig/docs, sig/engine, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2

#6434 Update the related variable description for CREATE INDEX
  sql-statements/sql-statement-create-index.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, needs-cherry-pick-release-4.0, needs-cherry-pick-release-5.0, size/XS, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2

#6372 TiKV config: add 7 log-related congifurations
  tikv-configuration-file.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT2, needs-cherry-pick-release-4.0, needs-cherry-pick-release-5.0, size/M, sig/docs, sig/engine, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2

#6450 Configure placement rules: fix placement doc
  configure-placement-rules.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT2, needs-cherry-pick-release-5.0, size/XS, sig/docs, sig/scheduling, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2

#6443 adopters: add Pinterest
  adopters.md
Labels: status/can-merge, needs-cherry-pick-release-2.1, needs-cherry-pick-release-3.0, needs-cherry-pick-release-3.1, status/LGT1, translation/no-need, needs-cherry-pick-release-4.0, require-LGT1, needs-cherry-pick-release-5.0, size/XS, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2

#6344 release-5.2.0: Add info about caching_sha2
  releases/release-5.2.0.md
Labels: type/enhancement, translation/doing, status/can-merge, status/LGT2, size/XS, sig/docs, sig/sql-infra, needs-cherry-pick-release-5.2

#6453 faq: add info for schema is changed error
  faq/sql-faq.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, needs-cherry-pick-release-4.0, require-LGT1, needs-cherry-pick-release-5.0, size/XS, sig/docs, sig/sql-infra, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2

#6493 Update enable-tls-between-clients-and-servers.md
  enable-tls-between-clients-and-servers.md
Labels: type/bug-fix, status/can-merge, status/LGT1, translation/no-need, needs-cherry-pick-release-4.0, require-LGT1, needs-cherry-pick-release-5.0, size/XS, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2

#6501 adopters: remove Pinterest
  adopters.md
Labels: status/can-merge, needs-cherry-pick-release-2.1, needs-cherry-pick-release-3.0, needs-cherry-pick-release-3.1, status/LGT2, translation/no-need, needs-cherry-pick-release-4.0, require-LGT1, needs-cherry-pick-release-5.0, size/XS, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2

#6511 Fix wrong wording in mysql-compatibility.md
  mysql-compatibility.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT1, needs-cherry-pick-release-4.0, require-LGT1, needs-cherry-pick-release-5.0, size/XS, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2

#6516 adopters: add Huya Live
  adopters.md
Labels: status/can-merge, needs-cherry-pick-release-2.1, needs-cherry-pick-release-3.0, needs-cherry-pick-release-3.1, status/LGT1, needs-cherry-pick-release-4.0, require-LGT1, needs-cherry-pick-release-5.0, missing-translation-status, size/XS, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2

#6526 tidb-configuration-file: correct the default value of committer-concurrency
  tidb-configuration-file.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT2, needs-cherry-pick-release-5.0, size/XS, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2

#6531 Tune TiKV: change the default value of `grpc-concurrency`
  tune-tikv-thread-performance.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, needs-cherry-pick-release-5.0, size/XS, sig/docs, sig/engine, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2

#6545 For 4.0.15: tikv(cdc): dynamic online change cdc configuration
  dynamic-config.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, size/XS, sig/docs, sig/migrate, type/compatibility-or-feature-change

#6557 Test dumpling video
  dumpling-overview.md
  scripts/verify-link-anchors.sh
Labels: status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/XS

#6562 bump version for v4.0.15
  download-ecosystem-tools.md
  pd-recover.md
  production-deployment-using-tiup.md
  production-offline-deployment-using-tiup.md
  quick-start-with-tidb.md
  scale-tidb-using-tiup.md
  ticdc/manage-ticdc.md
  tiup/tiup-component-cluster-deploy.md
  upgrade-tidb-using-tiup.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, size/M

#6561 bump version for 5.0.4
  download-ecosystem-tools.md
  pd-recover.md
  production-deployment-using-tiup.md
  quick-start-with-tidb.md
  ticdc/manage-ticdc.md
  tiup/tiup-component-cluster-deploy.md
  upgrade-tidb-using-tiup.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, size/M

#6560 Bump version for 5.1.2
  download-ecosystem-tools.md
  pd-control.md
  pd-recover.md
  production-deployment-using-tiup.md
  quick-start-with-tidb.md
  ticdc/manage-ticdc.md
  tiup/tiup-component-management.md
  tiup/tiup-mirror.md
  tiup/tiup-playground.md
  upgrade-tidb-using-tiup.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, size/M

#6563 remove a note about `raftstore.sync-log`
  tune-tikv-thread-performance.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, needs-cherry-pick-release-5.0, size/XS, sig/engine, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2

#6524 Add desc of "Storage Write Stall" row in the TiFlash grafana
  tiflash/monitor-tiflash.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, needs-cherry-pick-release-5.0, size/S, sig/docs, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, sig/bigdata

#6525 system variables: update tidb_enable_noop_functions behavior
  system-variables.md
Labels: translation/from-docs-cn, contribution, status/can-merge, status/LGT2, first-time-contributor, for-future-release, size/XS, sig/sql-infra, type/compatibility-or-feature-change

#6502 system variables: document last_insert_id
  system-variables.md
Labels: type/enhancement, translation/doing, status/can-merge, status/LGT2, for-future-release, size/XS, sig/sql-infra

#6510 docs: update pd-configuration about upgrade
  pd-configuration-file.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/S, sig/docs, sig/scheduling, needs-cherry-pick-release-5.1, type/compatibility-or-feature-change, needs-cherry-pick-release-5.2

#6499 fix example for expression index
  sql-statements/sql-statement-create-index.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT2, size/S, sig/docs, sig/sql-infra, needs-cherry-pick-release-5.2

#6498 tidb: fix default value of performance.committer-concurrency
  tidb-configuration-file.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XS, sig/docs, sig/planner, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2

#6577 chore: remove circleci config
  .circleci/config.yml
Labels: status/can-merge, needs-cherry-pick-release-2.1, needs-cherry-pick-release-3.0, needs-cherry-pick-release-3.1, status/LGT1, translation/no-need, needs-cherry-pick-release-4.0, require-LGT1, needs-cherry-pick-release-5.0, size/L, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2

#6582 Delete config.yml
  .circleci/config.yml
Labels: status/can-merge, status/LGT1, translation/no-need, size/L

#6584 Delete config.yml
  .circleci/config.yml
Labels: status/can-merge, status/LGT1, translation/no-need, size/L

#6578 Delete config.yml
  .circleci/config.yml
Labels: status/can-merge, status/LGT1, translation/no-need, size/L

#6579 Delete config.yml
  .circleci/config.yml
Labels: status/can-merge, status/LGT1, translation/no-need, size/L

#6580 Delete config.yml
  .circleci/config.yml
Labels: status/can-merge, status/LGT1, translation/no-need, size/L

#6583 Delete config.yml
  .circleci/config.yml
Labels: status/can-merge, status/LGT1, translation/no-need, size/L

#6581 Delete config.yml
  .circleci/config.yml
Labels: status/can-merge, status/LGT1, translation/no-need, size/L

#6485 Document missing sysvars
  functions-and-operators/aggregate-group-by-functions.md
  functions-and-operators/date-and-time-functions.md
  functions-and-operators/encryption-and-compression-functions.md
  system-variables.md
Labels: type/enhancement, translation/doing, status/can-merge, status/LGT2, size/M, sig/docs, sig/sql-infra, needs-cherry-pick-release-5.2

#6491 system-variables: add skip-name-resolve
  system-variables.md
Labels: type/enhancement, translation/doing, status/can-merge, status/LGT2, size/S, sig/sql-infra, needs-cherry-pick-release-5.2

#6492 Document a few more system variables
  system-variables.md
Labels: type/enhancement, translation/doing, status/can-merge, status/LGT2, size/M, sig/sql-infra, needs-cherry-pick-release-5.2
