Repository pingcap/docs, pull requests merged in 2021-03, with the labels that each got.

#4741 faq, sysvars: add tidb_multi_statement_mode
  faq/tidb-faq.md
  system-variables.md
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0, size/medium, status/LGT1, status/PTAL, translation/doing, version-specific-changes-required

#4941 Fix a typo in 4.0.11 release notes
  releases/release-4.0.11.md
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0, status/LGT1, translation/no-need, type/bug-fix

#4952 tispark: add a description in tispark overview
  tispark-overview.md
Labels: needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, needs-cherry-pick-5.0, size/small, status/LGT1, translation/from-docs-cn

#4961 fix typo `bootsrap` in pd-recover.md
  pd-recover.md
Labels: needs-cherry-pick-3.0, status/LGT1, status/PTAL, translation/from-docs-cn

#4958 Remove a config that does not exists
  benchmark/benchmark-sysbench-v4-vs-v3.md
  benchmark/v4.0-performance-benchmarking-with-tpcc.md
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0, size/small, status/LGT1, status/PTAL, translation/doing

#4946 Remove notes & aliases for deprecated Ansible in TiUP docs
  maintain-tidb-using-tiup.md
  production-deployment-using-tiup.md
  production-offline-deployment-using-tiup.md
  scale-tidb-using-tiup.md
  upgrade-tidb-using-tiup.md
Labels: status/LGT2, status/PTAL, status/can-merge, translation/doing, type/enhancement

#4947 Add dev Ansible aliases to v4.0 Ansible docs
  maintain-tidb-using-ansible.md
  offline-deployment-using-ansible.md
  online-deployment-using-ansible.md
  scale-tidb-using-ansible.md
  upgrade-tidb-using-ansible.md
Labels: status/LGT2, status/PTAL, translation/doing, type/enhancement

#4942 dumpling: Update tidb-mem-quota-query configuration instructions
  dumpling-overview.md
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0, status/LGT1, translation/from-docs-cn

#4940 Update BR automatic GC version
  br/use-br-command-line-tool.md
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0, size/small, status/LGT1, translation/from-docs-cn

#4966 Correct the default memory threshold for a single SQL statement
  tidb-troubleshooting-map.md
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0, size/small, status/LGT1, translation/from-docs-cn

#4939 Add tidb-backend necessary instructions
  migrate-from-mysql-dumpling-files.md
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0, size/small, status/LGT1, translation/from-docs-cn

#4936 tidb-lightning: add filtering parameters and their descriptions
  get-started-with-tidb-lightning.md
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0, size/small, status/LGT1, translation/from-docs-cn

#4935 Update compatibility for temporary tables in dev
  sql-statements/sql-statement-create-table.md
  system-variables.md
Labels: first-time-contributor, size/small, status/LGT2, translation/doing

#4948 ticdc: using canal or maxwell protocol will not throw an exception
  ticdc/troubleshoot-ticdc.md
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0, size/small, status/LGT1, translation/from-docs-cn

#4949 Add details about `table-column-count-limit` and `index-limit`
  tidb-configuration-file.md
  tidb-limitations.md
Labels: needs-cherry-pick-5.0, size/small, status/LGT1, status/require-change, translation/from-docs-cn

#4888 ticdc: add a faq
  ticdc/ticdc-overview.md
Labels: needs-cherry-pick-5.0, size/medium, status/LGT1, translation/from-docs-cn

#4981 ticdc: Update ticdc mysql sink description
  ticdc/ticdc-overview.md
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0, size/small, status/LGT1, translation/from-docs-cn

#4959 Fix a typo in optimistic-transaction.md
  optimistic-transaction.md
Labels: needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, needs-cherry-pick-5.0, size/small, status/LGT1, status/PTAL, translation/doing

#4985 Add configuration item description 'committer-concurrency'
  credits.md
  tidb-configuration-file.md
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0, size/small, status/LGT1, status/PTAL, translation/from-docs-cn

#4993 Move tidb-best-practices.md to the correct directory
  TOC.md
  best-practices/tidb-best-practices.md
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0, status/LGT1, translation/no-need

#4994 Log redact on TiFlash
  log-redaction.md
  tiflash/tiflash-configuration.md
Labels: needs-cherry-pick-5.0, status/LGT1, translation/from-docs-cn

#4997 Log redact on TiFlash and PD (4.0)
  log-redaction.md
  pd-configuration-file.md
  tiflash/tiflash-configuration.md
Labels: status/LGT1, status/PTAL, translation/from-docs-cn

#5001 *: refine alert-rules.md and the titles of several migration docs
  TOC.md
  alert-rules.md
  migrate-from-aurora-mysql-database.md
  migrate-from-mysql-dumpling-files.md
  tidb-lightning/tidb-lightning-faq.md
Labels: needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, needs-cherry-pick-5.0, size/small, status/LGT1, status/PTAL, translation/doing

#4979 tiup: add command docs of clean, install and status
  tiup/tiup-command-clean.md
  tiup/tiup-command-install.md
  tiup/tiup-command-status.md
  tiup/tiup-component-management.md
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0, status/LGT2, translation/from-docs-cn

#4960 tiup: add tiup-command-env.md and tiup-command-help.md
  tiup/tiup-command-env.md
  tiup/tiup-command-help.md
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0, status/LGT2, status/can-merge, translation/from-docs-cn

#4965 tiup: add documents of completion, mirror clone, and list command
  tiup/tiup-command-completion.md
  tiup/tiup-command-list.md
  tiup/tiup-command-mirror-clone.md
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0, size/L, status/LGT2, status/PTAL, status/can-merge, translation/from-docs-cn

#5011 system-variable: correct the heading level for a variable
  system-variables.md
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0, size/XS, size/small, status/LGT2, status/PTAL, status/can-merge, translation/done

#5019 adopters: add kunlun case study
  adopters.md
Labels: needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, needs-cherry-pick-5.0, size/XS, status/LGT2, status/can-merge, translation/no-need

#5020 tidb-configuration-file: fix wrong location of max-txn-ttl
  tidb-configuration-file.md
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0, size/S, status/LGT2, status/can-merge, translation/from-docs-cn

#5030 docs: remove some config fields for copr cache
  tidb-configuration-file.md
Labels: needs-cherry-pick-5.0, size/S, status/LGT2, status/can-merge, translation/from-docs-cn, v5.0

#5034 media: fix a cross-version image display error
  get-started-with-tidb-lightning.md
  media/tidb-lightning-architecture-v2.1.png
  media/tidb-lightning-architecture.png
  tidb-lightning/tidb-lightning-overview.md
Labels: needs-cherry-pick-2.1, needs-cherry-pick-3.0, size/XS, status/LGT1, status/PTAL, status/can-merge, translation/from-docs-cn

#5035 .github: delete stale workflow
  .github/workflows/stale.yaml
Labels: size/S, status/LGT2, status/can-merge, translation/from-docs-cn

#5032 benchmark: add description to explain the non-index test result
  benchmark/v4.0-performance-benchmarking-with-tpch.md
  geo-distributed-deployment-topology.md
  hybrid-deployment-topology.md
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0, size/XS, status/LGT2, status/PTAL, status/can-merge, translation/from-docs-cn

#5046 Correct the title level of Concentrated reads or writes
  dashboard/dashboard-key-visualizer.md
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0, size/XS, status/LGT2, status/can-merge, translation/from-docs-cn

#5041 link-check.yaml: filter one false external broken link
  .github/workflows/link-check.yaml
  connectors-and-apis.md
Labels: needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, needs-cherry-pick-5.0, size/XS, status/LGT1, status/PTAL, translation/no-need

#4552 Update garbage collection docs
  alert-rules.md
  backup-and-restore-using-dumpling-lightning.md
  br/backup-and-restore-tool.md
  br/backup-and-restore-use-cases.md
  br/use-br-command-line-tool.md
  dumpling-overview.md
  error-codes.md
  faq/migration-tidb-faq.md
  faq/sql-faq.md
  faq/tidb-faq.md
  garbage-collection-configuration.md
  garbage-collection-overview.md
  read-historical-data.md
  sql-statements/sql-statement-flashback-table.md
  system-variables.md
  tidb-troubleshooting-map.md
Labels: needs-cherry-pick-5.0, size/XL, status/LGT2, status/can-merge, status/require-change, translation/doing

#5056 Add declaration for scopes of transaction related variables and configurations
  system-variables.md
  transaction-overview.md
Labels: needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, needs-cherry-pick-5.0, size/S, status/LGT2, status/can-merge, translation/from-docs-cn

#5063 adopters: add Ninja Van
  adopters.md
Labels: needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, needs-cherry-pick-5.0, require-LGT1, size/XS, status/LGT1, status/can-merge, translation/no-need

#5007 Revert "prepared plan cache: Enable by default (#4036)"
  dashboard/dashboard-faq.md
  optimizer-hints.md
  sql-prepare-plan-cache.md
  tidb-configuration-file.md
Labels: needs-cherry-pick-5.0, size/S, status/LGT2, status/can-merge, translation/doing, v5.0

#5071 Update compatibility for temporary tables
  sql-statements/sql-statement-create-table.md
Labels: needs-cherry-pick-5.0, size/XS, status/LGT2, status/can-merge, translation/from-docs-cn, v5.0, version-specific-changes-required

#5073 sql-statements: delete the file that does not apply for v4.0
  sql-statements/sql-statement-alter-index.md
Labels: size/L, status/LGT1, status/can-merge, translation/no-need

#5047 tiup: add 3 docs
  tiup/tiup-component-cluster-clean.md
  tiup/tiup-component-cluster-deploy.md
  tiup/tiup-component-cluster-edit-config.md
Labels: follow-up, needs-cherry-pick-4.0, needs-cherry-pick-5.0, size/L, status/LGT2, status/can-merge, translation/from-docs-cn

#5072 enable compaction filter by default
  garbage-collection-configuration.md
Labels: needs-cherry-pick-5.0, size/XS, status/LGT2, status/can-merge, translation/from-docs-cn, v5.0, version-specific-changes-required

#5079 sysvars: add tidb_skip_ascii_check
  system-variables.md
Labels: first-time-contributor, needs-cherry-pick-5.0, require-LGT1, size/XS, status/LGT1, status/can-merge, translation/from-docs-cn, v5.0, version-specific-changes-required

#5089 chore: stop building v5 temporary
  .circleci/config.yml
  .github/workflows/dispatch.yml
Labels: missing-translation-status, size/M, status/LGT1, status/can-merge

#5091 chore: trigger preview build
  .github/workflows/dispatch.yml
Labels: missing-translation-status, size/XS, status/LGT1

#5081 Update the default value of joint consensus
  pd-configuration-file.md
Labels: size/XS, status/LGT1, status/PTAL, status/can-merge, translation/from-docs-cn, v5.0

#5076 sysvars: add docs for tidb_enable_strict_double_type_check
  system-variables.md
Labels: needs-cherry-pick-5.0, size/S, status/LGT2, status/can-merge, translation/doing, v5.0

#4797 Update TiFlash related info in quickstart page
  quick-start-with-tidb.md
Labels: first-time-contributor, needs-cherry-pick-5.0, needs-cherry-pick-master, size/S, status/LGT1, status/can-merge, status/require-change, translation/doing

#5029 remove system variable `tidb_track_aggregate_memory_usage`
  system-variables.md
Labels: needs-cherry-pick-5.0, size/S, status/LGT2, status/can-merge, translation/from-docs-cn, v5.0

#5086 Remove private info in TiUP document
  tiup/tiup-bench.md
  tiup/tiup-cluster.md
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0, require-LGT1, size/S, status/LGT1, status/can-merge, translation/from-docs-cn

#4781 system variable: add tidb_allow_fallback_to_tikv
  system-variables.md
Labels: first-time-contributor, needs-cherry-pick-5.0, size/XS, status/LGT2, status/can-merge, translation/from-docs-cn, v5.0

#5104 .github: enable manual rebase
  .github/workflows/rebase.yml
Labels: needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, needs-cherry-pick-5.0, size/S, status/LGT2, status/can-merge, translation/from-docs-cn

#5112 Update statistics.md to remove the duplicate the
  statistics.md
Labels: first-time-contributor, needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-5.0, needs-cherry-pick-master, require-LGT1, size/XS, status/LGT1, status/can-merge, translation/no-need

#5111 doc: fix doc typo
  character-set-and-collation.md
Labels: needs-cherry-pick-5.0, require-LGT1, size/XS, status/LGT1, status/can-merge, translation/from-docs-cn

#5092 SQL variables: add a new variable `tidb_enable_parallel_apply`
  system-variables.md
Labels: needs-cherry-pick-5.0, require-LGT1, size/XS, status/LGT1, status/can-merge, translation/from-docs-cn, v5.0

#5098 update load base split config
  configure-load-base-split.md
  dynamic-config.md
Labels: needs-cherry-pick-5.0, require-LGT1, size/S, status/LGT1, status/can-merge, translation/from-docs-cn, v5.0

#5075 hide the config global-kill
  explain-joins.md
  explain-subqueries.md
  optimizer-hints.md
  sql-statements/sql-statement-kill.md
  tidb-configuration-file.md
Labels: needs-cherry-pick-5.0, require-LGT1, size/L, status/LGT1, status/can-merge, translation/from-docs-cn, v5.0

#5074 tikv: add ttl configuration
  tikv-configuration-file.md
Labels: needs-cherry-pick-5.0, require-LGT1, requires-version-specific-changes, size/S, status/LGT1, status/PTAL, status/can-merge, translation/from-docs-cn, v5.0

#5114 update async commit related documentation
  releases/release-5.0.0-rc.md
  sql-statements/sql-statement-start-transaction.md
  system-variables.md
  tidb-configuration-file.md
  transaction-overview.md
Labels: needs-cherry-pick-5.0, require-LGT1, requires-version-specific-changes, size/L, status/LGT1, status/can-merge, translation/from-docs-cn, v5.0

#5130 lightning: update config in get started
  get-started-with-tidb-lightning.md
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0, require-LGT1, size/XS, status/LGT1, status/can-merge, translation/from-docs-cn

#5087 update doc for list partition table
  partitioned-table.md
  system-variables.md
Labels: needs-cherry-pick-5.0, require-LGT1, requires-version-specific-changes, size/L, status/LGT1, status/can-merge, translation/from-docs-cn, v5.0

#5113 write document for mpp #5702
  system-variables.md
  tiflash/use-tiflash.md
Labels: needs-cherry-pick-5.0, require-LGT1, size/M, status/LGT1, status/can-merge, translation/from-docs-cn, v5.0

#5128 add V4.0 tidb binlog restriction
  tidb-binlog/tidb-binlog-overview.md
Labels: size/XS, status/LGT1, status/can-merge, translation/from-docs-cn

#5138 Update sql-statement-load-data.md
  sql-statements/sql-statement-load-data.md
Labels: needs-cherry-pick-5.0, needs-cherry-pick-master, size/S, size/small, status/LGT1, status/can-merge, translation/welcome

#5105 *: remove alter-primary-key configuration
  auto-random.md
  constraints.md
  dynamic-config.md
  mysql-compatibility.md
  sql-statements/sql-statement-add-index.md
  sql-statements/sql-statement-create-index.md
  sql-statements/sql-statement-drop-index.md
  sql-statements/sql-statement-show-config.md
  tidb-configuration-file.md
  troubleshoot-hot-spot-issues.md
Labels: needs-cherry-pick-5.0, require-LGT1, size/M, status/LGT1, status/can-merge, translation/from-docs-cn, v5.0

#5123 EXPLAIN: add document for explain/explain analyze of mpp query
  TOC.md
  explain-mpp.md
Labels: needs-cherry-pick-5.0, require-LGT1, size/L, status/LGT1, status/PTAL, status/can-merge, translation/from-docs-cn, v5.0

#5136 Update the default GC scan lock mode back to LEGACY
  alert-rules.md
  error-codes.md
  faq/sql-faq.md
  faq/tidb-faq.md
  garbage-collection-configuration.md
  garbage-collection-overview.md
  read-historical-data.md
  sql-statements/sql-statement-flashback-table.md
  system-variables.md
  tidb-troubleshooting-map.md
Labels: needs-cherry-pick-5.0, size/M, status/LGT2, status/can-merge, translation/from-docs-cn, v5.0

#5148 Synchronize two changes in docs-cn/pull/5856
  error-codes.md
  system-variables.md
Labels: needs-cherry-pick-5.0, require-LGT1, size/XS, status/LGT1, status/can-merge, translation/from-docs-cn, v5.0

#5088 SPM: update DML SQL Bind and baseline capture description
  sql-plan-management.md
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0, require-LGT1, size/L, status/LGT1, status/PTAL, status/can-merge, translation/from-docs-cn, v5.0

#5093 cdc: add more description about Unified Sorter
  ticdc/manage-ticdc.md
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0, require-LGT1, requires-version-specific-changes, size/S, status/LGT1, status/PTAL, status/can-merge, translation/from-docs-cn, v5.0

#5129 update clustered indexes docs
  clustered-indexes.md
  system-variables.md
Labels: needs-cherry-pick-5.0, size/XL, status/LGT2, status/can-merge, translation/from-docs-cn, v5.0

#5099 Tiup 5.0: update deploy, upgrade, maintain docs
  TOC.md
  benchmark/benchmark-tidb-using-sysbench.md
  benchmark/benchmark-tidb-using-tpcc.md
  check-before-deployment.md
  dashboard/dashboard-ops-reverse-proxy.md
  post-installation-check.md
  production-deployment-using-tiup.md
  production-offline-deployment-using-tiup.md
  quick-start-with-tidb.md
  scale-tidb-using-tiup.md
  schedule-replicas-by-topology-labels.md
  ticdc/deploy-ticdc.md
  ticdc/manage-ticdc.md
  tiup/tiup-mirror.md
  upgrade-tidb-using-tiup-offline.md
  upgrade-tidb-using-tiup.md
Labels: needs-cherry-pick-5.0, require-LGT1, requires-followup, requires-version-specific-changes, size/XXL, status/LGT1, status/PTAL, status/can-merge, translation/from-docs-cn, v5.0

#5016 TiCDC: add trouble shooting info about DDL failures
  ticdc/troubleshoot-ticdc.md
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0, require-LGT1, requires-version-specific-changes, size/S, status/LGT1, status/PTAL, status/can-merge, translation/from-docs-cn

#5125 add binlog usage restrictions
  tidb-binlog/tidb-binlog-overview.md
Labels: needs-cherry-pick-5.0, require-LGT1, size/S, status/LGT1, status/can-merge, translation/from-docs-cn, v5.0

#4617 Delete tidb roadmap from v5.0
  TOC.md
  roadmap.md
Labels: status/LGT1, status/PTAL, status/can-merge, translation/from-docs-cn

#5160 update the local storage description from 'mocktikv' to 'unistore'
  command-line-flags-for-tidb-configuration.md
  sql-statements/sql-statement-backup.md
  sql-statements/sql-statement-restore.md
Labels: needs-cherry-pick-5.0, require-LGT1, size/S, size/small, status/LGT1, status/can-merge, translation/from-docs-cn, v5.0

#5163 config: update default value of `max-txn-ttl`
  grafana-tidb-dashboard.md
  pessimistic-transaction.md
  tidb-configuration-file.md
  troubleshoot-lock-conflicts.md
Labels: needs-cherry-pick-5.0, require-LGT1, size/XS, status/LGT1, status/PTAL, status/can-merge, translation/done, v5.0

#5165 tidb: Fix default value of grpc-connection-count
  tidb-configuration-file.md
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0, require-LGT1, size/XS, size/small, status/LGT1, status/can-merge, translation/from-docs-cn

#5038 tiup: add documents of mirror-set and uninstall and update command
  tiup/tiup-command-mirror-set.md
  tiup/tiup-command-uninstall.md
  tiup/tiup-command-update.md
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0, require-LGT1, size/L, status/LGT1, status/can-merge, translation/from-docs-cn, v5.0

#5040 tiup: add tiup-mirror-reference.md
  tiup/tiup-mirror-reference.md
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0, require-LGT1, size/XL, status/LGT1, status/PTAL, status/can-merge, translation/from-docs-cn, v5.0
