Repository pingcap/docs, pull requests merged in 2021-08, with the labels that each got.

#6073 deploy-tidb-binlog: make the expression on deployment clearer
  tidb-binlog/deploy-tidb-binlog.md
Labels: needs-cherry-pick-release-5.1, require-LGT1, size/XS, status/LGT1, status/can-merge, translation/from-docs-cn, type/enhancement

#6071 Add documentation on how to modify gcttl by tiup
  ticdc/manage-ticdc.md
Labels: needs-cherry-pick-release-5.0, needs-cherry-pick-release-5.1, require-LGT1, size/M, status/LGT1, status/can-merge, translation/from-docs-cn

#6076 remove useless variable
  benchmark/v5.1-performance-benchmarking-with-tpch.md
Labels: needs-cherry-pick-release-5.1, require-LGT1, status/LGT1, status/can-merge, translation/from-docs-cn, type/bug-fix

#6072 ticdc: add mysql sink user privilege
  ticdc/troubleshoot-ticdc.md
Labels: require-LGT1, size/S, status/LGT1, status/can-merge, translation/from-docs-cn, type/enhancement

#6079 deleted roadmap.md
  TOC.md
  roadmap.md
Labels: first-time-contributor, needs-cherry-pick-release-5.1, require-LGT1, size/M, status/LGT1, status/can-merge, translation/from-docs-cn

#6081 TiDB Monitoring Metrics: remove a line
  grafana-tidb-dashboard.md
Labels: needs-cherry-pick-master, size/XS, status/LGT2, status/can-merge, translation/from-docs-cn

#6080 TiDB configuration: add a security option `require-secure-transport`
  tidb-configuration-file.md
Labels: size/XS, status/LGT2, status/can-merge, translation/from-docs-cn, type/enhancement

#6089 chore: lock plugin versions
  scripts/verify-link-anchors.sh
Labels: needs-cherry-pick-release-2.1, needs-cherry-pick-release-3.0, needs-cherry-pick-release-3.1, needs-cherry-pick-release-4.0, needs-cherry-pick-release-5.0, needs-cherry-pick-release-5.1, require-LGT1, size/XS, status/LGT1, status/can-merge, translation/from-docs-cn

#6086 cdc: add compatibility notes for sort-dir
  ticdc/ticdc-overview.md
Labels: needs-cherry-pick-release-4.0, needs-cherry-pick-release-5.0, needs-cherry-pick-release-5.1, require-LGT1, sig/docs, sig/migrate, size/S, status/LGT1, status/can-merge, translation/from-docs-cn, type/compatibility-or-feature-change

#6088 Delete a line set @@tidb_opt_broadcast_join=0;
  benchmark/v5.0-performance-benchmarking-with-tpch.md
Labels: require-LGT1, size/XS, status/LGT1, status/can-merge, translation/done

#6102 Add gc ttl
  config-templates/complex-cdc.yaml
Labels: needs-cherry-pick-master, needs-cherry-pick-release-5.1, size/XS, status/LGT1, status/can-merge, translation/from-docs-cn, type/enhancement

#6106 5.1.0 release notes: Fix link to telemetry docs
  releases/release-5.1.0.md
Labels: needs-cherry-pick-release-5.1, require-LGT1, size/XS, status/LGT1, status/can-merge, translation/no-need, type/bug-fix

#6085 sql-statement-select: Add '...FOR UPDATE NOWAIT'
  sql-statements/sql-statement-select.md
Labels: size/XS, status/LGT2, status/can-merge, translation/doing, type/enhancement

#6055 TiCDC: update a golang demo link
  ticdc/ticdc-open-protocol.md
Labels: needs-cherry-pick-release-4.0, needs-cherry-pick-release-5.0, needs-cherry-pick-release-5.1, require-LGT1, size/XS, status/LGT1, status/can-merge, translation/from-docs-cn, type/bug-fix

#6000 br/use-br-command-line-tool: supplement br note
  br/use-br-command-line-tool.md
Labels: needs-cherry-pick-release-4.0, needs-cherry-pick-release-5.0, needs-cherry-pick-release-5.1, require-LGT1, size/XS, status/LGT1, status/PTAL, status/can-merge, translation/from-docs-cn

#6042 pr_template: Provides tips for cherry-pick
  .github/pull_request_template.md
  CONTRIBUTING.md
Labels: needs-cherry-pick-release-2.1, needs-cherry-pick-release-3.0, needs-cherry-pick-release-3.1, needs-cherry-pick-release-4.0, needs-cherry-pick-release-5.0, needs-cherry-pick-release-5.1, require-LGT1, size/M, status/LGT1, status/can-merge, translation/from-docs-cn

#6110 TiDB monitoring: add table storage info status api
  tidb-monitoring-api.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT2, size/M

#6053 update doc for Oracle translate function
  functions-and-operators/string-functions.md
Labels: translation/done, status/can-merge, status/LGT2, size/L, v5.2

#6109 Add print the bad sst files and related information for tikv-ctl
  tikv-control.md
Labels: type/enhancement, translation/done, status/can-merge, status/LGT2, size/M, v5.2

#6129 add a missing note
  tikv-control.md
Labels: type/bug-fix, status/can-merge, status/LGT1, translation/no-need, require-LGT1

#6125 Add docs for auto-tls setting
  tidb-configuration-file.md
Labels: translation/doing, status/can-merge, status/LGT2, size/XS, v5.2

#6133 TiFlash: remove outdated tune advise
  tiflash/tune-tiflash-performance.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, needs-cherry-pick-release-5.0, size/S, needs-cherry-pick-release-5.1, type/compatibility-or-feature-change

#6132 TiDB lightning: remove default backend setting
  tidb-lightning/tidb-lightning-backends.md
  tidb-lightning/tidb-lightning-configuration.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/S, type/compatibility-or-feature-change, v5.2

#6140 tidb-scheduling: fix typo
  tidb-scheduling.md
Labels: status/can-merge, status/LGT1, translation/no-need, needs-cherry-pick-release-4.0, require-LGT1, needs-cherry-pick-release-5.0, needs-cherry-pick-release-5.1

#6147 Suggest Log Redaction when using TDE
  encryption-at-rest.md
Labels: type/enhancement, translation/doing, status/can-merge, status/LGT2, size/XS

#6139 Add infoschema.referential_constraints
  TOC.md
  information-schema/information-schema-referential-constraints.md
  information-schema/information-schema.md
Labels: type/enhancement, translation/doing, status/can-merge, status/LGT2, size/M

#6001 Add steps to get lightning goroutine
  tidb-lightning/tidb-lightning-faq.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT2, status/PTAL, size/S

#6150 chore: update pdf version tag
  .circleci/config.yml
Labels: status/can-merge, status/LGT2, missing-translation-status, size/XS

#6151 chore: update PDF version tag
  .circleci/config.yml
Labels: status/can-merge, status/LGT2, missing-translation-status, size/XS

#6157 Deleted description about not supporting some features.
  tiflash/use-tiflash.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XS, v5.2

#6161 high-concurrency-best-practices: fix the support info of follower read
  best-practices/high-concurrency-best-practices.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XS, needs-cherry-pick-release-5.1

#6165 Update function list pushed down to tiflash
  tiflash/use-tiflash.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/XS, v5.2

#6168 The `log_dir` should be the log directory
  tiup/tiup-cluster-topology-reference.md
Labels: type/bug-fix, translation/doing, status/can-merge, status/LGT1, require-LGT1, first-time-contributor, size/XS

#6177 add detail version support for APPROX_PERCENTILE function in aggregate-group-by-functions.md
  functions-and-operators/aggregate-group-by-functions.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, first-time-contributor, size/XS, type/compatibility-or-feature-change

#6178 Make IP address of Monitoring & Grafana for Minimal Topology consistent
  minimal-deployment-topology.md
Labels: type/bug-fix, translation/doing, status/can-merge, status/LGT1, require-LGT1, size/XS

#6173 tikv: add storage flow control doc
  tikv-configuration-file.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/S, v5.2

#6172 TiDB configuration: update the default value of `stmt_max_count`
  tidb-configuration-file.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, status/PTAL, size/XS, v5.2

#6186 ticdc-open-api: add ticdc open api doc
  TOC.md
  ticdc/manage-ticdc.md
  ticdc/ticdc-open-api.md
  ticdc/ticdc-overview.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, status/PTAL, size/XXL, v5.2

#6181 System variables: update `broadcast_join_threshold_count` and `broadc…
  system-variables.md
  tiflash/use-tiflash.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/S, v5.2

#6180 Update tikv-configuration-file.md
  tikv-configuration-file.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/S, v5.2

#6176 TiFlash configuration: update `io_rate_limit`
  tiflash/tiflash-configuration.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/M, v5.2

#6171 Add information of hashAgg for memory control
  configure-memory-usage.md
  troubleshoot-write-conflicts.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/M, v5.2

#6160 Update description on rule based index selection
  choose-index.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/M, v5.2

#6182 add dr auto sync
  TOC.md
  media/two-dc-replication-1.png
  pd-configuration-file.md
  pd-control.md
  synchronous-replication.md
  three-data-centers-in-two-cities-deployment.md
  two-data-centers-in-one-city-deployment.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/XL, v5.2

#6146 update doc for SPM
  sql-plan-management.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/M, v5.2

#6183 docs: update rereject leader docs
  config-templates/geo-redundancy-deployment.yaml
  geo-distributed-deployment-topology.md
  multi-data-centers-in-one-city-deployment.md
  three-data-centers-in-two-cities-deployment.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT2, size/S, v5.2

#6185 SQL statement, system variables: update expression indexes
  sql-statements/sql-statement-create-index.md
  system-variables.md
  tidb-configuration-file.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/L, v5.2

#6184 Updated sql-plan-management.md
  sql-plan-management.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT2, status/PTAL, size/M, v5.2

#6159 Introduced 2 new variables
  system-variables.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, status/PTAL, size/S, v5.2

#6196 Fix broken link in error codes doc and support doc
  error-codes.md
  support.md
Labels: type/bug-fix, translation/doing, status/can-merge, status/LGT1, needs-cherry-pick-release-4.0, require-LGT1, needs-cherry-pick-release-5.0, size/XS, needs-cherry-pick-release-5.1

#6197 docs: fix format for TiKV and PD configuration file template invalid.
  scale-tidb-using-tiup.md
Labels: type/bug-fix, translation/doing, status/can-merge, status/LGT2, needs-cherry-pick-release-4.0, first-time-contributor, needs-cherry-pick-release-5.0, size/S, needs-cherry-pick-release-5.1

#6205 docs: separate query statement and result in two text boxes. (#6204)
  basic-sql-operations.md
Labels: type/enhancement, translation/doing, status/can-merge, status/LGT1, require-LGT1, size/XS

#6207 adopters: add zhihu case study
  adopters.md
Labels: status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/XS

#6174 Added descriptions about slow node detection
  best-practices/pd-scheduling-best-practices.md
  pd-control.md
  tikv-configuration-file.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, status/PTAL, size/S, v5.2

#6148 pd-control: add new config of balance-hot-region-scheduler
  pd-control.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, status/WIP, size/M, v5.2

#6099 add notice about scaling in pd node
  scale-tidb-using-tiup.md
Labels: type/enhancement, requires-version-specific-changes, translation/from-docs-cn, status/can-merge, status/LGT2, status/PTAL, needs-cherry-pick-release-4.0, needs-cherry-pick-release-5.0, size/XS, needs-cherry-pick-release-5.1, type/compatibility-or-feature-change

#6215 add example for expression index
  sql-statements/sql-statement-create-index.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XS, sig/docs, sig/sql-infra, v5.2

#6214 adopters: remove 404 links
  adopters.md
Labels: status/can-merge, needs-cherry-pick-release-2.1, needs-cherry-pick-release-3.0, needs-cherry-pick-release-3.1, status/LGT1, translation/no-need, needs-cherry-pick-release-4.0, require-LGT1, needs-cherry-pick-release-5.0, size/M, needs-cherry-pick-release-5.1

#6231 ticdc: fix wording
  TOC.md
  ticdc/manage-ticdc.md
  ticdc/ticdc-open-api.md
  ticdc/ticdc-overview.md
  tidb-configuration-file.md
Labels: type/bug-fix, translation/done, status/can-merge, status/LGT1, require-LGT1, size/S, sig/docs, sig/migrate, v5.2

#6232 Revert "System variables: update `broadcast_join_threshold_count` and `broadc…"
  system-variables.md
  tiflash/use-tiflash.md
  tikv-configuration-file.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/S, v5.2

#6179 Update documents of lock view for sprint 4
  functions-and-operators/tidb-functions.md
  information-schema/information-schema-data-lock-waits.md
  information-schema/information-schema-deadlocks.md
  information-schema/information-schema-tidb-trx.md
  tidb-configuration-file.md
  troubleshoot-lock-conflicts.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/XXL, v5.2

#6239 ticdc-open-api: correct some error
  ticdc/ticdc-open-api.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT2, size/XS, sig/docs, sig/migrate, v5.2

#6136 best practices: add timeout options for Java best practices
  best-practices/java-app-best-practices.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT2, size/XS

#6166 update PR template for v5.2
  .github/pull_request_template.md
  CONTRIBUTING.md
  README.md
Labels: translation/from-docs-cn, status/can-merge, needs-cherry-pick-release-2.1, needs-cherry-pick-release-3.0, needs-cherry-pick-release-3.1, status/LGT1, needs-cherry-pick-release-4.0, require-LGT1, needs-cherry-pick-release-5.0, size/XS, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2

#6252 chore: stop building temporary
  .github/workflows/dispatch.yml
Labels: translation/done, status/can-merge, status/LGT1, require-LGT1, size/S

#6248 fix typo for sql-plan-management.md
  sql-plan-management.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT2, first-time-contributor, size/XS, v5.2, needs-cherry-pick-release-5.2

#6250 alert rules: update some descriptions
  alert-rules.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT2, needs-cherry-pick-release-4.0, needs-cherry-pick-release-5.0, size/XS, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2

#6149 Quick start: update version and TiUP playground supports M1 silicon
  quick-start-with-tidb.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/M, v5.2, needs-cherry-pick-release-5.2

#6235 fix typo: relaod -> reload
  ticdc/manage-ticdc.md
  tiup/tiup-component-dm-edit-config.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, needs-cherry-pick-release-4.0, needs-cherry-pick-release-5.0, size/XS, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2

#6169 Fix image display error
  benchmark/v5.1-performance-benchmarking-with-tpch.md
  media/tidb-v5.1-tpch-100-vs-gp-spark.png
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT1, size/XS

#6324 Fix title typo
  releases/release-5.2.0.md
Labels: type/bug-fix, status/can-merge, status/LGT2, translation/no-need, require-LGT1, needs-cherry-pick-release-5.2

#6325 release note: update feature description
  releases/release-5.2.0.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/XS, needs-cherry-pick-release-5.2

#6303 adopters: add xiaomi
  adopters.md
Labels: status/can-merge, needs-cherry-pick-release-2.1, needs-cherry-pick-release-3.0, needs-cherry-pick-release-3.1, status/LGT1, translation/no-need, needs-cherry-pick-release-4.0, require-LGT1, needs-cherry-pick-release-5.0, size/XS, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2

#6336 correct a default value
  tidb-configuration-file.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT1, size/XS

#6337 add release notes information
  tidb-configuration-file.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT1, size/XS

#6338 chore: migrate scripts to docs
  .circleci/config.yml
  scripts/check-conflicts.py
  scripts/check-control-char.py
  scripts/check-file-encoding.py
  scripts/check-manual-line-breaks.py
  scripts/check-tags.py
  scripts/check-zh-punctuation.py
  scripts/file-format-lint.py
  scripts/get-issue-number.py
Labels: status/can-merge, status/LGT2, translation/no-need, size/XXL

#6111 credits: update links to the full list of code and docs contributors
  credits.md
Labels: translation/from-docs-cn, requires-followup, status/can-merge, status/LGT2, needs-cherry-pick-release-5.0, size/L, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2

#6131 (4.0) tiup: add notice about importing cluster
  upgrade-tidb-using-tiup.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT1, size/XS

#6137 TiUP: add instructions for offline mirror
  production-deployment-using-tiup.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT2, size/M, needs-cherry-pick-release-5.2

#6234 tune tikv memory performance: remove description for sync-log
  tune-tikv-memory-performance.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, needs-cherry-pick-release-5.0, size/XS, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2

#6189 dashboard statement list: add a note to explain the blue bar and yellow line
  dashboard/dashboard-statement-list.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XS, needs-cherry-pick-release-5.2

#6222 release 5.1.0: add compatibility change for `tidb_enable_noop_functions`
  releases/release-5.1.0.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XS, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2

#6300 modify configuration online: remove unsupported parameters
  dynamic-config.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, needs-cherry-pick-release-5.0, size/XS, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2

#6301 modify configuration online: change a name for consistency
  dynamic-config.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT1, needs-cherry-pick-release-4.0, require-LGT1, needs-cherry-pick-release-5.0, size/XS, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2

#6335 Migrate from Aurora: update Aurora MySQL dumpling command
  migrate-from-aurora-using-lightning.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, needs-cherry-pick-release-5.0, size/XS, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2

#6302 PD configuration file: add log level
  pd-configuration-file.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT1, needs-cherry-pick-release-4.0, require-LGT1, needs-cherry-pick-release-5.0, size/XS, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2

#6340 TiDB Binlog config: update "syncer.to.checkpoint" info
  tidb-binlog/tidb-binlog-configuration-file.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/S, needs-cherry-pick-release-5.2

#6163 update doc on wal-recovery-mode and use-direct-io-for-flush-and-compaction
  tikv-configuration-file.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT2, first-time-contributor, size/XS, needs-cherry-pick-release-5.2
