Repository pingcap/docs, pull requests merged in 2021-06, with the labels that each got.

#5283 check-before-deployment: Add info about chronyd/chronyc on CentOS 8
  check-before-deployment.md
Labels: needs-cherry-pick-release-4.0, needs-cherry-pick-release-5.0, require-LGT1, size/M, status/LGT2, status/can-merge, translation/doing

#5728 adopters: add PatSnap
  adopters.md
Labels: needs-cherry-pick-release-2.1, needs-cherry-pick-release-3.0, needs-cherry-pick-release-3.1, needs-cherry-pick-release-4.0, needs-cherry-pick-release-5.0, require-LGT1, size/XS, status/LGT1, status/can-merge, translation/no-need

#5676 update TiDB 6MB limit
  best-practices/tidb-best-practices.md
  error-codes.md
  faq/migration-tidb-faq.md
  storage-engine/titan-overview.md
  tidb-limitations.md
Labels: needs-cherry-pick-release-4.0, needs-cherry-pick-release-5.0, require-LGT1, requires-version-specific-changes, size/S, status/LGT1, status/can-merge, translation/from-docs-cn

#5740 Fix typo: tispark-overview.md
  tispark-overview.md
Labels: contribution, first-time-contributor, needs-cherry-pick-release-2.1, needs-cherry-pick-release-3.0, needs-cherry-pick-release-3.1, needs-cherry-pick-release-4.0, needs-cherry-pick-release-5.0, require-LGT1, size/XS, status/LGT1, status/can-merge, translation/from-docs-cn

#5748 Update default value for RocksDB soft-pending-compaction-bytes-limit
  tikv-configuration-file.md
Labels: size/XS, status/LGT2, status/can-merge, translation/doing, v5.1

#5747 minor wording changes on sem docs
  system-variables.md
  tidb-configuration-file.md
Labels: require-LGT1, size/S, status/LGT1, status/can-merge, translation/done

#5699 Add documentation for TiDB specific SQL functions
  TOC.md
  functions-and-operators/information-functions.md
  functions-and-operators/tidb-functions.md
Labels: needs-cherry-pick-release-5.0, size/L, status/LGT2, status/can-merge, translation/doing

#5726 Update pd-configuration-file.md
  pd-configuration-file.md
Labels: needs-cherry-pick-master, needs-cherry-pick-release-4.0, size/S, status/LGT2, status/can-merge, translation/doing

#5729 tikv: add configuration docs for I/O rate limiter
  tikv-configuration-file.md
Labels: size/S, status/LGT2, status/can-merge, translation/doing, v5.1

#5077 Add docs for dynamic privileges
  privilege-management.md
Labels: requires-followup, sig/docs, sig/sql-infra, size/L, status/LGT2, status/can-merge, translation/done, v5.1

#5756 system-variables: add warning count
  system-variables.md
Labels: needs-cherry-pick-release-4.0, needs-cherry-pick-release-5.0, size/XS, status/LGT2, status/can-merge, translation/doing

#5563 Add docs for sysvar cache
  system-variables.md
Labels: requires-followup, requires-version-specific-changes, size/XS, status/LGT2, status/can-merge, translation/doing, v5.1

#5762 Fix typos in 4.0.13 release notes
  releases/release-4.0.13.md
Labels: needs-cherry-pick-release-4.0, needs-cherry-pick-release-5.0, require-LGT1, size/S, status/LGT1, status/can-merge, translation/from-docs-cn

#5750 Enhance descriptions of the Split Region section
  sql-statements/sql-statement-split-region.md
Labels: needs-cherry-pick-release-5.0, size/M, status/LGT2, status/can-merge, translation/from-docs-cn

#5768 Change pr to issue
  releases/release-5.0.2.md
Labels: needs-cherry-pick-release-5.0, require-LGT1, size/XS, status/LGT1, status/can-merge, translation/from-docs-cn

#5767 mpp support new ops
  tiflash/use-tiflash.md
Labels: require-LGT1, size/XS, status/LGT1, status/can-merge, translation/from-docs-cn, v5.1

#5757 Add new telemetry feature
  telemetry.md
Labels: needs-cherry-pick-release-5.0, require-LGT1, requires-version-specific-changes, size/XS, status/LGT1, status/can-merge, translation/from-docs-cn

#5775 system variables: add system variable cte_max_recursion_depth
  system-variables.md
Labels: require-LGT1, size/XS, status/LGT1, status/can-merge, translation/from-docs-cn, v5.1

#5770 Add document for CTE
  TOC.md
  sql-statements/sql-statement-with.md
Labels: size/L, status/LGT2, status/can-merge, translation/from-docs-cn, v5.1

#5773 Update tiflash supported pushdown expression list
  tiflash/use-tiflash.md
Labels: needs-cherry-pick-release-5.0, require-LGT1, size/S, status/LGT1, status/can-merge, translation/from-docs-cn, v5.1

#5784 config: update the default value of `feedback-probability`
  statistics.md
  tidb-configuration-file.md
Labels: needs-cherry-pick-release-4.0, needs-cherry-pick-release-5.0, require-LGT1, requires-version-specific-changes, status/LGT1, status/can-merge, translation/from-docs-cn

#5755 system-variables: add init connect
  system-variables.md
Labels: size/XS, status/LGT2, status/can-merge, translation/doing, v5.1

#5777 update tiflash documents about cartesian join support
  tiflash/use-tiflash.md
Labels: size/XS, status/LGT2, status/can-merge, translation/from-docs-cn, v5.1

#5779 tidb-binlog: support binlog for clustered index
  clustered-indexes.md
  tidb-binlog/tidb-binlog-overview.md
  upgrade-tidb-using-tiup.md
Labels: needs-cherry-pick-release-5.0, requires-version-specific-changes, size/S, status/LGT2, status/can-merge, translation/from-docs-cn, v5.1

#5771 update permissions required for BACKUP and RESTORE
  sql-statements/sql-statement-backup.md
  sql-statements/sql-statement-restore.md
Labels: size/XS, status/LGT2, status/can-merge, translation/doing, v5.1

#5780 tikv: update cdc config
  tikv-configuration-file.md
Labels: needs-cherry-pick-release-4.0, needs-cherry-pick-release-5.0, size/S, status/LGT2, status/can-merge, translation/from-docs-cn, v5.1

#5778 fix system table replica doc
  tiflash/use-tiflash.md
Labels: size/XS, status/LGT2, status/can-merge, translation/from-docs-cn, v5.1

#5752 system-variables: update from generated source
  system-variables.md
Labels: needs-cherry-pick-release-5.0, require-LGT1, size/XL, status/LGT1, status/can-merge, translation/doing, type/enhancement

#5787 modify the column type change doc
  mysql-compatibility.md
  sql-statements/sql-statement-change-column.md
  sql-statements/sql-statement-modify-column.md
Labels: sig/docs, sig/sql-infra, size/L, status/LGT2, status/can-merge, translation/from-docs-cn, v5.1

#5792 resolevd-ts: add resolved-ts related config doc
  tikv-configuration-file.md
Labels: size/S, status/LGT2, status/can-merge, translation/from-docs-cn, v5.1

#5795 TiKV config: add abort-on-panic
  tikv-configuration-file.md
Labels: needs-cherry-pick-release-5.0, requires-version-specific-changes, size/S, status/LGT2, status/can-merge, translation/from-docs-cn, v5.1

#5797 br: add a document for backup restore systables
  br/backup-and-restore-faq.md
  br/backup-and-restore-tool.md
Labels: size/S, status/LGT2, status/can-merge, translation/from-docs-cn, v5.1

#5801 Adopters: add China Zheshang Bank
  adopters.md
Labels: needs-cherry-pick-release-2.1, needs-cherry-pick-release-3.0, needs-cherry-pick-release-3.1, needs-cherry-pick-release-4.0, needs-cherry-pick-release-5.0, require-LGT1, size/XS, status/LGT1, status/can-merge, translation/no-need

#5789 tikv config: hibernate region GA
  best-practices/massive-regions-best-practices.md
  experimental-features.md
  system-variables.md
  ticdc/ticdc-overview.md
  tikv-configuration-file.md
Labels: needs-cherry-pick-release-5.0, size/S, status/LGT2, status/can-merge, translation/from-docs-cn

#5794 ticdc: update a changefeed state transfer doc
  media/ticdc-state-transfer.png
  ticdc/manage-ticdc.md
Labels: size/M, status/LGT2, status/can-merge, translation/from-docs-cn, v5.1

#5781 optimizer: modify docs for analyze behavior
  statistics.md
Labels: size/S, status/LGT2, status/can-merge, translation/from-docs-cn, v5.1

#5799 Update the tools part in roadmap.md
  roadmap.md
Labels: requires-followup, size/S, status/LGT2, status/can-merge, translation/from-docs-cn, v5.1

#5808 *: update PD configuration
  pd-configuration-file.md
  pd-control.md
Labels: size/S, status/LGT2, status/can-merge, translation/from-docs-cn, v5.1

#5810 update docs related to partition table dynamic mode
  experimental-features.md
  partitioned-table.md
  system-variables.md
Labels: size/L, status/LGT2, status/can-merge, translation/from-docs-cn, v5.1

#5814 Correct the region IDs in the show table example #6480
  sql-statements/sql-statement-show-table-regions.md
Labels: needs-cherry-pick-release-4.0, needs-cherry-pick-release-5.0, require-LGT1, size/XS, status/LGT2, status/can-merge, translation/from-docs-cn

#5811 add docs for enforce mpp
  system-variables.md
  tidb-configuration-file.md
  tiflash/use-tiflash.md
Labels: needs-cherry-pick-release-5.1, size/L, status/LGT2, status/can-merge, translation/from-docs-cn, v5.1

#5070 Update tidb-configuration-file.md
  tidb-configuration-file.md
Labels: first-time-contributor, needs-cherry-pick-release-5.1, require-LGT1, size/XS, status/LGT1, status/PTAL, status/can-merge, translation/from-docs-cn, v5.1

#5798 Add Lock View documents
  TOC.md
  information-schema/information-schema-data-lock-waits.md
  information-schema/information-schema-deadlocks.md
  information-schema/information-schema-tidb-trx.md
  information-schema/information-schema.md
  tidb-configuration-file.md
  troubleshoot-lock-conflicts.md
Labels: needs-cherry-pick-release-5.1, size/XXL, status/LGT2, status/can-merge, translation/from-docs-cn, v5.1

#5827 Fix typos
  sql-statements/sql-statement-with.md
Labels: needs-cherry-pick-release-5.1, require-LGT1, status/LGT1, status/can-merge, translation/from-docs-cn

#5830 Delete docker deployment docs
  deploy-test-cluster-using-docker-compose.md
  dev-guide/deploy.md
  faq/deploy-and-maintain-faq.md
  production-deployment-using-tiup.md
  test-deployment-using-docker.md
Labels: needs-cherry-pick-release-5.0, needs-cherry-pick-release-5.1, requires-version-specific-changes, size/XL, status/LGT2, status/can-merge, translation/from-docs-cn

#5833 Fix ebnf display
  sql-statements/sql-statement-with.md
Labels: needs-cherry-pick-release-5.1, require-LGT1, status/LGT1, status/can-merge, translation/from-docs-cn

#5825 tidb-configuration-file: add graceful-wait-before-shutdown
  tidb-configuration-file.md
Labels: needs-cherry-pick-release-5.0, needs-cherry-pick-release-5.1, size/XS, status/LGT2, status/can-merge, translation/doing

#5820 lightning: fix a lightning config bug
  migrate-from-aurora-using-lightning.md
Labels: needs-cherry-pick-release-4.0, needs-cherry-pick-release-5.0, needs-cherry-pick-release-5.1, require-LGT1, size/XS, status/LGT1, status/can-merge, translation/from-docs-cn

#5813 Update content about upgrade
  upgrade-tidb-using-tiup.md
Labels: needs-cherry-pick-release-5.1, size/M, status/LGT2, status/can-merge, translation/from-docs-cn, v5.1

#5817 change docs configs to release-5.1
  .circleci/config.yml
  .github/workflows/dispatch.yml
Labels: size/S, status/LGT1, status/can-merge, translation/from-docs-cn

#5842 add v510 benchmark doc
  TOC.md
  benchmark/benchmark-sysbench-v5.1.0-vs-v5.0.2.md
  benchmark/v5.1-performance-benchmarking-with-tpcc.md
  media/sysbench_v510vsv502_point_select.png
  media/sysbench_v510vsv502_read_write.png
  media/sysbench_v510vsv502_update_index.png
  media/sysbench_v510vsv502_update_non_index.png
  media/tpcc_v510_vs_v502.png
Labels: needs-cherry-pick-release-5.1, size/XL, status/LGT2, status/can-merge, translation/from-docs-cn, v5.1

#5824 system variables: add tidb_analyze_version
  statistics.md
  system-variables.md
Labels: needs-cherry-pick-release-5.1, size/S, status/LGT2, status/can-merge, translation/from-docs-cn, v5.1

#5847 Add alias for 5.0 mpp test report in dev
  benchmark/v5.0-performance-benchmarking-with-tpch.md
Labels: size/XS, status/LGT2, status/can-merge, translation/from-docs-cn

#5843 Add note about stale read
  as-of-timestamp.md
  experimental-features.md
  stale-read.md
Labels: needs-cherry-pick-release-5.1, require-LGT1, size/S, status/LGT1, status/can-merge, translation/from-docs-cn, v5.1

#5844 Add v5.1 mpp tpch test report
  TOC.md
  benchmark/v5.1-performance-benchmarking-with-tpch.md
  media/tidb-v5-tpch-100-vs-gp-spark.png
Labels: needs-cherry-pick-release-5.1, require-LGT1, size/S, status/LGT1, status/can-merge, translation/from-docs-cn, v5.1

#5849 Bump version for v5.1.0
  download-ecosystem-tools.md
  pd-control.md
  pd-recover.md
  production-deployment-using-tiup.md
  quick-start-with-tidb.md
  scale-tidb-using-tiup.md
  ticdc/manage-ticdc.md
  tiup/tiup-bench.md
  tiup/tiup-command-mirror-rotate.md
  tiup/tiup-component-cluster-deploy.md
  tiup/tiup-component-management.md
  tiup/tiup-mirror.md
  tiup/tiup-playground.md
Labels: needs-cherry-pick-release-5.1, require-LGT1, size/M, status/LGT1, status/can-merge, translation/from-docs-cn, v5.1

#5840 Add the release note for TiDB v5.1
  TOC.md
  _index.md
  releases/release-5.1.0.md
  releases/release-notes.md
  tikv-configuration-file.md
Labels: needs-cherry-pick-release-5.1, size/XL, status/LGT2, status/can-merge, translation/from-docs-cn, v5.1

#5854 Update v5.1 release notes for lint issues
  releases/release-5.1.0.md
Labels: needs-cherry-pick-release-5.1, size/S, status/LGT2, status/can-merge, translation/no-need

#5857 Fix the display issues of two lists
  releases/release-5.1.0.md
Labels: needs-cherry-pick-release-5.1, size/S, translation/no-need

#5859 fix a display issue in dev
  releases/release-5.1.0.md
Labels: missing-translation-status, size/XS

#5861 Add 5.1 to the release notes TOC
  TOC.md
Labels: missing-translation-status, size/XS

#5862 Add 5.1 to the release notes TOC
  TOC.md
Labels: size/XS, translation/no-need

#5863 Add a missing sentence in 5.1 rn
  releases/release-5.1.0.md
Labels: needs-cherry-pick-release-5.1, require-LGT1, size/S, status/LGT1, status/can-merge, translation/no-need

#5746 Overhauling TiKV RocksDB configuration file
  tikv-configuration-file.md
Labels: needs-cherry-pick-release-2.1, needs-cherry-pick-release-3.0, needs-cherry-pick-release-3.1, needs-cherry-pick-release-4.0, needs-cherry-pick-release-5.0, needs-cherry-pick-release-5.1, requires-version-specific-changes, size/L, status/LGT2, status/can-merge, translation/doing

#5880 Update tiup-bench.md
  tiup/tiup-bench.md
Labels: needs-cherry-pick-release-4.0, needs-cherry-pick-release-5.0, needs-cherry-pick-release-5.1, require-LGT1, size/XS, status/LGT1, status/can-merge, translation/doing

#5878 Not support to set Tombstone
  scale-tidb-using-tiup.md
Labels: needs-cherry-pick-release-5.0, needs-cherry-pick-release-5.1, require-LGT1, size/S, status/LGT1, status/can-merge, translation/from-docs-cn

#5877 tidb-functions: extend tidb_decode_key docs
  functions-and-operators/tidb-functions.md
Labels: needs-cherry-pick-release-5.0, needs-cherry-pick-release-5.1, size/M, status/LGT2, status/can-merge, translation/doing

#5888 *: upadate roadmap
  roadmap.md
Labels: needs-cherry-pick-release-5.1, size/XS, status/LGT2, status/can-merge, translation/from-docs-cn

#5761 system-variables: add datadir and license
  system-variables.md
Labels: needs-cherry-pick-release-4.0, needs-cherry-pick-release-5.0, needs-cherry-pick-release-5.1, size/S, status/LGT2, status/can-merge, translation/doing
