Repository pingcap/docs, pull requests merged in 2021-12, with the labels that each got.

#7076 release-5.3.0: Fix level for 'Telemetry'
  releases/release-5.3.0.md
Labels: status/can-merge, status/LGT2, translation/no-need, size/XS, needs-cherry-pick-release-5.3

#6674 tikv: Documentation for `cert-allowed-cn` configuration directive
  tikv-configuration-file.md
Labels: type/enhancement, translation/doing, contribution, status/can-merge, status/LGT2, area/security, first-time-contributor, size/XS, sig/engine, needs-cherry-pick-release-5.3

#7082 Remove a redundant space in a command
  best-practices/haproxy-best-practices.md
Labels: type/bug-fix, translation/doing, status/can-merge, status/LGT1, require-LGT1, size/XS, sig/sql-infra, needs-cherry-pick-release-5.3

#7086 release note 5.3.0: fix RPO and RTO wrong description #7764
  releases/release-5.3.0.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT2, size/S, needs-cherry-pick-release-5.3

#7085 experimental-features: add OpenAPI feature #7763
  experimental-features.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/XS, needs-cherry-pick-release-5.3

#7089 fix RPO and RTO in v5.3.0 release note
  releases/release-5.3.0.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/XS, needs-cherry-pick-release-5.3

#7090 Corrected RTO and RPO in manage-ticdc.md
  ticdc/manage-ticdc.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT2, size/XS, sig/migrate, needs-cherry-pick-release-5.3

#7061 releases: add tidb 5.2.3 release note
  TOC.md
  releases/release-5.2.3.md
  releases/release-notes.md
  releases/release-timeline.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/S, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3

#7062 releases: add tidb 5.0.5 release notes
  TOC.md
  releases/release-5.0.5.md
  releases/release-notes.md
  releases/release-timeline.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, needs-cherry-pick-release-5.0, size/S, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3

#7104 link-check: exclude funyours.co.jp
  .github/workflows/link-check.yaml
Labels: status/can-merge, status/LGT1, translation/no-need, needs-cherry-pick-release-4.0, require-LGT1, needs-cherry-pick-release-5.0, size/XS, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3

#7060 releases: add TiDB 5.1.3 release notes
  TOC.md
  releases/release-5.1.3.md
  releases/release-notes.md
  releases/release-timeline.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/S, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3

#7115 Update release-5.3.0.md
  releases/release-5.3.0.md
Labels: status/can-merge, status/LGT2, first-time-contributor, missing-translation-status, size/XS

#7114 Update haproxy-best-practices.md
  best-practices/haproxy-best-practices.md
Labels: type/bug-fix, translation/from-docs-cn, contribution, status/can-merge, status/LGT2, size/XS, sig/sql-infra, needs-cherry-pick-release-5.3

#6980 Update the description of pessimistic transaction #7247
  benchmark/benchmark-tidb-using-sysbench.md
  best-practices/tidb-best-practices.md
  mysql-compatibility.md
  optimistic-transaction.md
  pessimistic-transaction.md
  releases/release-3.0-ga.md
  releases/release-3.0.0-rc.2.md
  releases/release-3.0.8.md
  sql-statements/sql-statement-begin.md
  sql-statements/sql-statement-select.md
  system-variables.md
  transaction-isolation-levels.md
  transaction-overview.md
  troubleshoot-write-conflicts.md
  whats-new-in-tidb-4.0.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/M, sig/transaction, needs-cherry-pick-release-5.3

#6968 Add warning about data_lock_waits table won't record optimistic transaction blocked by pessimistic transaction
  information-schema/information-schema-data-lock-waits.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT2, size/XS, sig/transaction, needs-cherry-pick-release-5.3

#6974 update max-backups desc #7347
  tidb-configuration-file.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT2, needs-cherry-pick-release-4.0, needs-cherry-pick-release-5.0, size/XS, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3

#7129 lightning: update config description of checksum and analyze
  tidb-lightning/tidb-lightning-configuration.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, needs-cherry-pick-release-4.0, needs-cherry-pick-release-5.0, size/M, sig/migrate, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3

#6970 Correct the description about the default transaction mode
  benchmark/benchmark-tidb-using-sysbench.md
Labels: translation/from-docs-cn, status/can-merge, needs-cherry-pick-release-3.1, status/LGT2, size/XS, sig/transaction, ONCALL

#6973 Update transaction types panel name
  grafana-tidb-dashboard.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, status/PTAL, size/XS, sig/transaction, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3

#7095 Move part of SELECT incompatibility to detailed page
  mysql-compatibility.md
  sql-statements/sql-statement-select.md
Labels: type/bug-fix, translation/doing, status/can-merge, status/LGT2, needs-cherry-pick-release-4.0, needs-cherry-pick-release-5.0, size/XS, sig/sql-infra, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3

#6791 Move telemetry note to the top
  production-deployment-using-tiup.md
  quick-start-with-tidb.md
Labels: type/enhancement, translation/doing, status/can-merge, status/LGT2, needs-cherry-pick-release-5.0, size/S, sig/tiup, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3

#7154 fix: remove empty line
  TOC.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/XS

#7156 fix: remove empty line
  TOC.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/XS

#6724 Update version info about default enabled Placement Rules
  configure-placement-rules.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT2, needs-cherry-pick-release-5.0, size/XS, sig/scheduling, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3

#7167 cdc: add advice for how to use kafka sink in ticdc
  ticdc/manage-ticdc.md
Labels: translation/from-docs-cn, requires-followup, status/can-merge, status/LGT2, needs-cherry-pick-release-4.0, size/S, sig/migrate, type/compatibility-or-feature-change

#7174 Fix format of 5.3.0 release notes
  releases/release-5.3.0.md
Labels: type/bug-fix, status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/M, needs-cherry-pick-release-5.3

#7188 Add a lark bot for PR reminder
  .github/workflows/bot.yaml
  scripts/pr_reminder.py
Labels: type/enhancement, status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/XL

#7190 .github: add env for lark bot
  .github/workflows/bot.yaml
Labels: status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/XS

#7163 mysql-compatibility: Update details on partitioning
  mysql-compatibility.md
Labels: type/enhancement, translation/doing, status/can-merge, status/LGT2, size/XS, sig/sql-infra, needs-cherry-pick-release-5.3

#7118 chore: update dispatch for latest docs site
  .github/workflows/dispatch.yml
Labels: status/can-merge, needs-cherry-pick-release-2.1, needs-cherry-pick-release-3.0, needs-cherry-pick-release-3.1, status/LGT2, needs-cherry-pick-release-4.0, needs-cherry-pick-release-5.0, size/S, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3

#7203 Fix error on conversion between date and time types
  data-type-date-and-time.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, needs-cherry-pick-release-4.0, require-LGT1, needs-cherry-pick-release-5.0, size/XS, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, ONCALL

#7153 Fix TiDB alert rule
  alert-rules.md
Labels: type/bug-fix, translation/doing, status/can-merge, status/LGT2, needs-cherry-pick-master, needs-cherry-pick-release-5.0, size/XS, sig/scheduling, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, ONCALL

#6999 Add a sub title for tiup-cluster-scale-in
  scale-tidb-using-tiup.md
  tiup/tiup-component-cluster-scale-in.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, needs-cherry-pick-release-4.0, needs-cherry-pick-release-5.0, size/XS, sig/tiup, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, ONCALL

#7201 tidb-binlog: update kafka-max-message-size configuration
  tidb-binlog/deploy-tidb-binlog.md
  tidb-binlog/tidb-binlog-configuration-file.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT2, needs-cherry-pick-release-5.0, size/XS, sig/migrate, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3

#7183 Update tiup component cluster scale-in
  tiup/tiup-component-cluster-scale-in.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, needs-cherry-pick-release-4.0, needs-cherry-pick-release-5.0, size/XS, sig/tiup, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3

#7032 Optimize wording for tidb-computing
  tidb-computing.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT1, needs-cherry-pick-release-4.0, require-LGT1, needs-cherry-pick-release-5.0, size/XS, sig/sql-infra, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3

#7237 Fix a typo in upgrade-tidb-using-tiup
  upgrade-tidb-using-tiup.md
Labels: type/bug-fix, status/can-merge, status/LGT1, translation/no-need, sig/tiup

#7166 New docs: add new entry for TiDB DM and TiDB in Kubernetes
  TOC.md
  dm/dm-overview.md
  media/dm/dm-core-features.png
  tidb-in-kubernetes.md
Labels: type/enhancement, requires-version-specific-changes, translation/from-docs-cn, status/can-merge, needs-cherry-pick-release-2.1, needs-cherry-pick-release-3.0, needs-cherry-pick-release-3.1, status/LGT2, needs-cherry-pick-release-4.0, needs-cherry-pick-release-5.0, size/L, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3

#7249 TiDB: remove invalid log format
  tidb-configuration-file.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, needs-cherry-pick-release-5.1, type/compatibility-or-feature-change, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3

#7253 Update the description for Prepare Plan Cache
  tidb-configuration-file.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XS, needs-cherry-pick-release-5.3

#6923 statistics: Add a note about the solution of a potential OOM issue
  statistics.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/S, sig/planner, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, ONCALL

#6838 system-variables: update from generated source
  releases/release-5.3.0.md
  system-variables.md
Labels: type/enhancement, translation/doing, status/can-merge, status/LGT2, for-future-release, size/M, sig/sql-infra

#6983 Correct cronyd to chronyd and add a description
  check-before-deployment.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, needs-cherry-pick-release-4.0, needs-cherry-pick-release-5.0, size/S, sig/tiup, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3

#7267 Remove a note in release-5.0.5.md
  releases/release-5.0.5.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT2, needs-cherry-pick-release-5.0, size/S, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3

#7259 Move TiUP docs to TiDB Tools and add entry for TiDB Operator
  TOC.md
  download-ecosystem-tools.md
  ecosystem-tool-user-case.md
  ecosystem-tool-user-guide.md
  tidb-operator-overview.md
Labels: translation/from-docs-cn, status/can-merge, needs-cherry-pick-release-3.0, needs-cherry-pick-release-3.1, status/LGT2, needs-cherry-pick-release-4.0, needs-cherry-pick-release-5.0, size/L, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3

#7189 Update the order of starting and stopping components by using tiup
  maintain-tidb-using-tiup.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT2, needs-cherry-pick-release-4.0, needs-cherry-pick-release-5.0, size/XS, sig/tiup, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3

#6911 auto_increment: improve description of monotonic
  auto-increment.md
Labels: type/enhancement, translation/doing, status/can-merge, status/LGT2, needs-cherry-pick-release-5.0, size/M, sig/sql-infra, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3

#6695 sql-statements: update claims on optimizer/explain compatibility
  mysql-compatibility.md
  sql-statements/sql-statement-explain.md
Labels: translation/doing, status/can-merge, status/LGT2, needs-cherry-pick-release-5.0, size/S, sig/sql-infra, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3

#7173 changed github.com/pingcap/ticdc to github.com/pingcap/tiflow
  br/backup-and-restore-faq.md
  releases/release-4.0-ga.md
  releases/release-4.0.0-rc.1.md
  releases/release-4.0.0-rc.2.md
  releases/release-4.0.0-rc.md
  releases/release-4.0.10.md
  releases/release-4.0.11.md
  releases/release-4.0.12.md
  releases/release-4.0.13.md
  releases/release-4.0.14.md
  releases/release-4.0.15.md
  releases/release-4.0.2.md
  releases/release-4.0.3.md
  releases/release-4.0.5.md
  releases/release-4.0.6.md
  releases/release-4.0.7.md
  releases/release-4.0.8.md
  releases/release-4.0.9.md
  ticdc/ticdc-open-protocol.md
  ticdc/ticdc-overview.md
Labels: status/can-merge, status/LGT2, translation/no-need, size/XL, sig/migrate

#7175 changed github.com/pingcap/ticdc to github.com/pingcap/tiflow
  br/backup-and-restore-faq.md
  credits.md
  releases/release-4.0-ga.md
  releases/release-4.0.0-rc.1.md
  releases/release-4.0.0-rc.2.md
  releases/release-4.0.0-rc.md
  releases/release-4.0.10.md
  releases/release-4.0.11.md
  releases/release-4.0.12.md
  releases/release-4.0.13.md
  releases/release-4.0.14.md
  releases/release-4.0.15.md
  releases/release-4.0.2.md
  releases/release-4.0.3.md
  releases/release-4.0.5.md
  releases/release-4.0.6.md
  releases/release-4.0.7.md
  releases/release-4.0.8.md
  releases/release-4.0.9.md
  releases/release-5.0.0.md
  releases/release-5.0.1.md
  releases/release-5.0.2.md
  releases/release-5.0.3.md
  releases/release-5.0.4.md
  releases/release-5.1.0.md
  releases/release-5.1.1.md
  releases/release-5.1.2.md
  releases/release-5.2.0.md
  releases/release-5.2.2.md
  releases/release-5.3.0.md
  ticdc/ticdc-open-protocol.md
  ticdc/ticdc-overview.md
Labels: status/can-merge, status/LGT2, translation/no-need, size/XXL, sig/migrate

#7168 changed github.com/pingcap/ticdc to github.com/pingcap/tiflow
  br/backup-and-restore-faq.md
  credits.md
  releases/release-4.0-ga.md
  releases/release-4.0.0-rc.1.md
  releases/release-4.0.0-rc.2.md
  releases/release-4.0.0-rc.md
  releases/release-4.0.10.md
  releases/release-4.0.11.md
  releases/release-4.0.12.md
  releases/release-4.0.13.md
  releases/release-4.0.14.md
  releases/release-4.0.15.md
  releases/release-4.0.2.md
  releases/release-4.0.3.md
  releases/release-4.0.5.md
  releases/release-4.0.6.md
  releases/release-4.0.7.md
  releases/release-4.0.8.md
  releases/release-4.0.9.md
  releases/release-5.0.0.md
  releases/release-5.0.1.md
  releases/release-5.0.2.md
  releases/release-5.0.3.md
  releases/release-5.0.4.md
  releases/release-5.1.0.md
  releases/release-5.1.1.md
  releases/release-5.1.2.md
  releases/release-5.2.0.md
  releases/release-5.2.2.md
  ticdc/ticdc-open-protocol.md
  ticdc/ticdc-overview.md
Labels: status/can-merge, status/LGT2, translation/no-need, size/XXL, sig/migrate

#7170 changed github.com/pingcap/ticdc to github.com/pingcap/tiflow
  br/backup-and-restore-faq.md
  credits.md
  releases/release-4.0-ga.md
  releases/release-4.0.0-rc.1.md
  releases/release-4.0.0-rc.2.md
  releases/release-4.0.0-rc.md
  releases/release-4.0.10.md
  releases/release-4.0.11.md
  releases/release-4.0.12.md
  releases/release-4.0.13.md
  releases/release-4.0.14.md
  releases/release-4.0.15.md
  releases/release-4.0.2.md
  releases/release-4.0.3.md
  releases/release-4.0.5.md
  releases/release-4.0.6.md
  releases/release-4.0.7.md
  releases/release-4.0.8.md
  releases/release-4.0.9.md
  releases/release-5.0.0.md
  releases/release-5.0.1.md
  releases/release-5.0.2.md
  releases/release-5.0.3.md
  releases/release-5.0.4.md
  releases/release-5.1.0.md
  releases/release-5.1.1.md
  releases/release-5.1.2.md
  ticdc/ticdc-open-protocol.md
  ticdc/ticdc-overview.md
Labels: status/can-merge, status/LGT2, translation/no-need, size/XXL, sig/migrate

#7169 changed github.com/pingcap/ticdc to github.com/pingcap/tiflow
  br/backup-and-restore-faq.md
  credits.md
  releases/release-4.0-ga.md
  releases/release-4.0.0-rc.1.md
  releases/release-4.0.0-rc.2.md
  releases/release-4.0.0-rc.md
  releases/release-4.0.10.md
  releases/release-4.0.11.md
  releases/release-4.0.12.md
  releases/release-4.0.13.md
  releases/release-4.0.14.md
  releases/release-4.0.15.md
  releases/release-4.0.2.md
  releases/release-4.0.3.md
  releases/release-4.0.5.md
  releases/release-4.0.6.md
  releases/release-4.0.7.md
  releases/release-4.0.8.md
  releases/release-4.0.9.md
  releases/release-5.0.0.md
  releases/release-5.0.1.md
  releases/release-5.0.2.md
  releases/release-5.0.3.md
  releases/release-5.0.4.md
  releases/release-5.1.0.md
  releases/release-5.1.1.md
  releases/release-5.1.2.md
  releases/release-5.2.0.md
  releases/release-5.2.2.md
  releases/release-5.3.0.md
  ticdc/ticdc-open-protocol.md
  ticdc/ticdc-overview.md
Labels: status/can-merge, status/LGT2, translation/no-need, size/XXL, sig/migrate

#7171 changed github.com/pingcap/ticdc to github.com/pingcap/tiflow
  br/backup-and-restore-faq.md
  credits.md
  releases/release-4.0-ga.md
  releases/release-4.0.0-rc.1.md
  releases/release-4.0.0-rc.2.md
  releases/release-4.0.0-rc.md
  releases/release-4.0.10.md
  releases/release-4.0.11.md
  releases/release-4.0.12.md
  releases/release-4.0.13.md
  releases/release-4.0.14.md
  releases/release-4.0.15.md
  releases/release-4.0.2.md
  releases/release-4.0.3.md
  releases/release-4.0.5.md
  releases/release-4.0.6.md
  releases/release-4.0.7.md
  releases/release-4.0.8.md
  releases/release-4.0.9.md
  releases/release-5.0.0.md
  releases/release-5.0.1.md
  releases/release-5.0.2.md
  releases/release-5.0.3.md
  releases/release-5.0.4.md
  ticdc/ticdc-open-protocol.md
  ticdc/ticdc-overview.md
Labels: status/can-merge, status/LGT2, translation/no-need, size/XL, sig/migrate

#7260 chore: add v5.4 reminder to py
  scripts/pr_reminder.py
Labels: status/can-merge, status/LGT2, translation/no-need, size/XL

#7318 Add two intro videos to "Overview"
  overview.md
Labels: type/enhancement, status/can-merge, status/LGT2, translation/no-need, size/XS, needs-cherry-pick-release-5.3

#7321 chore: fix typos in pr_reminder
  scripts/pr_reminder.py
Labels: status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/XS

#7320 Revise the video place in "Overview"
  overview.md
Labels: type/enhancement, status/can-merge, status/LGT2, translation/no-need, size/XS, needs-cherry-pick-release-5.3

#7315 changed github.com/pingcap/ticdc to github.com/pingcap/tiflow
  dm/dm-overview.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/XS

#7306 changed github.com/pingcap/ticdc to github.com/pingcap/tiflow
  credits.md
  dm/dm-overview.md
  releases/release-4.0.16.md
Labels: status/can-merge, status/LGT2, translation/no-need, size/M

#7308 Ticdc tiflow v5.3
  dm/dm-overview.md
  releases/release-4.0.16.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/M

#7309 changed github.com/pingcap/ticdc to github.com/pingcap/tiflow
  credits.md
  dm/dm-overview.md
  releases/release-4.0.16.md
Labels: status/can-merge, status/LGT2, translation/no-need

#7310 changed github.com/pingcap/ticdc to github.com/pingcap/tiflow
  credits.md
  dm/dm-overview.md
  releases/release-4.0.16.md
Labels: status/can-merge, status/LGT2, translation/no-need, size/M

#7311 changed github.com/pingcap/ticdc to github.com/pingcap/tiflow
  credits.md
  dm/dm-overview.md
  releases/release-4.0.16.md
Labels: status/can-merge, status/LGT2, translation/no-need

#7312 changed github.com/pingcap/ticdc to github.com/pingcap/tiflow
  dm/dm-overview.md
  releases/release-4.0.16.md
Labels: status/can-merge, status/LGT2, translation/no-need

#7313 changed github.com/pingcap/ticdc to github.com/pingcap/tiflow
  dm/dm-overview.md
Labels: status/can-merge, status/LGT2, translation/no-need

#7314 changed github.com/pingcap/ticdc to github.com/pingcap/tiflow
  dm/dm-overview.md
Labels: status/can-merge, status/LGT2, translation/no-need, size/XS

#6663 Add the explanation of TSO
  glossary.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT2, size/XS, sig/scheduling, needs-cherry-pick-release-5.3

#7299 Bump version for v4.0.16
  download-ecosystem-tools.md
  pd-recover.md
  production-deployment-using-tiup.md
  production-offline-deployment-using-tiup.md
  quick-start-with-tidb.md
  scale-tidb-using-tiup.md
  ticdc/manage-ticdc.md
  tiup/tiup-component-cluster-deploy.md
  upgrade-tidb-using-tiup.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1

#7326 chore: Fix typo in script
  scripts/pr_reminder.py
Labels: status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/XS

#7328 TiUP playground: fix wrong command-line flags
  tiup/tiup-playground.md
Labels: status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/XS, sig/tiup, needs-cherry-pick-release-5.3

#7331 TiUP playground: add missed blanks
  tiup/tiup-playground.md
Labels: type/bug-fix, status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/XS, sig/tiup

#7330 Updated the code repo link of TiCDC
  ticdc/ticdc-overview.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/XS, needs-cherry-pick-release-5.3

#7334 chore: add v5.4 to pr template
  .github/pull_request_template.md
Labels: translation/done, status/can-merge, needs-cherry-pick-release-2.1, needs-cherry-pick-release-3.0, needs-cherry-pick-release-3.1, status/LGT1, needs-cherry-pick-release-4.0, require-LGT1, needs-cherry-pick-release-5.0, size/XS, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3

#7225 Add migration-tools.md
  migration-tools.md
Labels: translation/from-docs-cn, status/LGT1, size/L, refactor-migration-docs

#7344 Update dumpling --row description
  dumpling-overview.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT2, size/XS, sig/migrate, needs-cherry-pick-release-5.3

#7068 Changed the alert rule of TiKV_thread_apply_worker_cpu_seconds
  alert-rules.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT2, size/XS, sig/engine, needs-cherry-pick-release-5.3, ONCALL

#7345 chore: add area dm to pr reminder
  scripts/pr_reminder.py
Labels: status/can-merge, status/LGT1, translation/no-need, require-LGT1

#7147 data-migration: add doc for migrate from csv files and from aurora
  data-migration/migrate-aurora-tidb-from-snapshot.md
  data-migration/migrate-flat-file-tidb.md
  migrate-from-aurora-mysql-database.md
  migrate-from-aurora-using-lightning.md
  tidb-lightning/migrate-from-csv-using-tidb-lightning.md
  tidb-lightning/tidb-lightning-faq.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, status/PTAL, require-LGT1, size/XXL, refactor-migration-docs

#7181 data-migration: add doc for migrate from mysql to tidb above tb
  data-migration/migrate-mysql-tidb-above-tb.md
Labels: translation/from-docs-cn, status/LGT1, status/PTAL, size/XL, refactor-migration-docs

#7349 chore: remove useless aliases for DM Dev docs
  dm/deploy-a-dm-cluster-using-tiup.md
  dm/dm-alert-rules.md
  dm/dm-benchmark-v5.3.0.md
  dm/dm-command-line-flags.md
  dm/dm-config-overview.md
  dm/dm-create-task.md
  dm/dm-daily-check.md
  dm/dm-enable-tls.md
  dm/dm-error-handling.md
  dm/dm-export-import-config.md
  dm/dm-faq.md
  dm/dm-generate-self-signed-certificates.md
  dm/dm-glossary.md
  dm/dm-handle-alerts.md
  dm/dm-handle-performance-issues.md
  dm/dm-hardware-and-software-requirements.md
  dm/dm-key-features.md
  dm/dm-manage-schema.md
  dm/dm-manage-source.md
  dm/dm-open-api.md
  dm/dm-overview.md
  dm/dm-pause-task.md
  dm/dm-performance-test.md
  dm/dm-precheck.md
  dm/dm-query-status.md
  dm/dm-resume-task.md
  dm/dm-source-configuration-file.md
  dm/dm-stop-task.md
  dm/dm-task-configuration-guide.md
  dm/dm-tune-configuration.md
  dm/dmctl-introduction.md
  dm/feature-online-ddl.md
  dm/handle-failed-ddl-statements.md
  dm/maintain-dm-using-tiup.md
  dm/manually-handling-sharding-ddl-locks.md
  dm/migrate-data-using-dm.md
  dm/quick-start-create-task.md
  dm/quick-start-with-dm.md
  dm/task-configuration-file-full.md
  dm/usage-scenario-simple-migration.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT2, size/M

#7248 data-migration: add doc for migrate data to a downstream TiDB table with more columns
  data-migration/migrate-with-more-columns-downstream.md
Labels: translation/from-docs-cn, status/LGT2, size/L, refactor-migration-docs

#7200 Add Data Migration Overview
  data-migration/migration-overview.md
Labels: translation/from-docs-cn, status/LGT1, size/M, refactor-migration-docs

#7164 Add how to filter binlog events using SQL expressions
  data-migration/migrate-with-binlog-sql-expression-filter.md
Labels: translation/from-docs-cn, status/LGT1, status/PTAL, size/M, refactor-migration-docs

#7261 data-migration: add two docs - migrate from SQL less than 1TiB and from SQL files
  data-migration/migrate-from-sql-files-to-tidb.md
  data-migration/migrate-small-mysql-to-tidb.md
  media/dm/migrate-with-dm.png
Labels: translation/from-docs-cn, size/L, refactor-migration-docs

#7350 chore: add a new pr reminder based on github id
  .github/workflows/bot.yaml
  scripts/pr_reminder.py
  scripts/pr_reminder_basedon_assignee.py
Labels: status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/XXL

#7353 chore: fix typos in py
  scripts/pr_reminder_basedon_assignee.py
Labels: status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/XS

#7202 Refactor data migration docs
  TOC.md
  _index.md
  filter-binlog-event.md
  filter-dml-event.md
  media/migrate-shard-tables-within-1tb-en.png
  media/shard-merge-using-lightning-en.png
  migrate-aurora-to-tidb.md
  migrate-from-aurora-mysql-database.md
  migrate-from-aurora-using-lightning.md
  migrate-from-csv-files-to-tidb.md
  migrate-from-mysql-dumpling-files.md
  migrate-from-sql-files-to-tidb.md
  migrate-large-mysql-shards-to-tidb.md
  migrate-large-mysql-to-tidb.md
  migrate-small-mysql-shards-to-tidb.md
  migrate-small-mysql-to-tidb.md
  migrate-with-more-columns-downstream.md
  migrate-with-pt-ghost.md
  migration-overview.md
  migration-tools.md
  releases/release-5.0.0.md
  tidb-lightning/tidb-lightning-faq.md
  tidb-lightning/tidb-lightning-overview.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/XXL, sig/migrate, needs-cherry-pick-release-5.3
