Repository pingcap/docs, pull requests merged in 2021-05, with the labels that each got.

#5564 remove json_unquote() from expressions-pushed-down.md
  functions-and-operators/expressions-pushed-down.md
Labels: needs-cherry-pick-4.0, needs-cherry-pick-master, size/XS, status/LGT1, status/can-merge, translation/doing

#5547 ticdc: update caveats of cyclic replication
  ticdc/manage-ticdc.md
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0, require-LGT1, sig/docs, sig/migrate, size/XS, status/LGT1, status/can-merge, translation/from-docs-cn

#5570 Remove the description of --sql-mode
  sql-mode.md
Labels: needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, needs-cherry-pick-5.0, require-LGT1, size/XS, status/LGT1, status/can-merge, translation/from-docs-cn

#5575 media: remove gray line in tidb-architecture
  media/tidb-architecture-v3.1.png
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0, require-LGT1, size/XS, status/LGT1, status/can-merge, translation/doing

#5228 Update hardware-and-software-requirements.md
  hardware-and-software-requirements.md
Labels: needs-cherry-pick-5.0, needs-cherry-pick-master, size/XS, status/LGT1, status/can-merge, translation/doing

#5336 tiup-mirror: Add a hint about how to use a tiup mirror
  tiup/tiup-mirror.md
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0, size/XS, status/LGT2, status/can-merge, translation/doing

#5311 geo-distributed-deployment-topology: Explain dc and zone names
  config-templates/geo-redundancy-deployment.yaml
  geo-distributed-deployment-topology.md
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0, require-LGT1, size/S, status/LGT1, status/PTAL, status/can-merge, translation/doing

#5351 Add read only to noop functions
  system-variables.md
Labels: for-future-release, size/XS, status/LGT2, status/PTAL, status/can-merge, translation/doing

#5585 Fix wrong table name
  explain-mpp.md
Labels: needs-cherry-pick-5.0, require-LGT1, size/XS, status/LGT1, status/can-merge, translation/from-docs-cn

#5559 add 'tiup cluster import’ in tidb-using-tiup
  upgrade-tidb-using-tiup.md
Labels: size/XS, status/LGT1, status/can-merge, translation/from-docs-cn

#5588 fix tiup ctl with cluster version
  pd-control.md
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0, require-LGT1, size/XS, status/LGT1, status/can-merge, translation/from-docs-cn

#5540 update tiup document (non-5.0-feature)
  tiup/tiup-cluster-topology-reference.md
  tiup/tiup-command-status.md
  tiup/tiup-component-cluster-check.md
  tiup/tiup-component-cluster-disable.md
  tiup/tiup-component-cluster-display.md
  tiup/tiup-component-cluster-enable.md
  tiup/tiup-component-cluster-patch.md
  tiup/tiup-component-cluster-reload.md
  tiup/tiup-component-cluster-replay.md
  tiup/tiup-component-cluster-start.md
  tiup/tiup-component-cluster-stop.md
  tiup/tiup-component-cluster-template.md
  tiup/tiup-component-cluster-upgrade.md
  tiup/tiup-component-cluster.md
  tiup/tiup-component-dm-disable.md
  tiup/tiup-component-dm-enable.md
  tiup/tiup-component-dm-patch.md
  tiup/tiup-component-dm-reload.md
  tiup/tiup-component-dm-replay.md
  tiup/tiup-component-dm-scale-in.md
  tiup/tiup-component-dm-start.md
  tiup/tiup-component-dm-stop.md
  tiup/tiup-component-dm-template.md
  tiup/tiup-component-dm-upgrade.md
  tiup/tiup-component-dm.md
  tiup/tiup-dm-topology-reference.md
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0, size/XL, status/LGT2, status/can-merge, translation/from-docs-cn

#5350 dumpling-overview: Add info about how to install with TiUP
  dumpling-overview.md
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0, size/XS, status/LGT2, status/can-merge, translation/doing

#5595 mysql-compatibility: Document LOAD DATA compatibility
  mysql-compatibility.md
  sql-statements/sql-statement-load-data.md
Labels: needs-cherry-pick-5.0, sig/docs, sig/execution, size/XS, status/LGT2, translation/doing

#5606 tidb: Add time format description
  literal-values.md
Labels: needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, needs-cherry-pick-5.0, require-LGT1, size/XS, status/LGT1, status/can-merge, translation/from-docs-cn

#5615 Remove the legacy unsupported info for VISIBLE/INVISIBLE index
  sql-statements/sql-statement-add-index.md
Labels: needs-cherry-pick-release-5.0, require-LGT1, size/XS, status/LGT1, status/can-merge, translation/from-docs-cn

#5551 tikv-ctl: Add more information for compact and remove-fail-stores
  tikv-control.md
Labels: needs-cherry-pick-release-4.0, needs-cherry-pick-release-5.0, size/S, status/LGT2, status/can-merge, translation/from-docs-cn

#5613 Add tab panels to TiDB Quick Start page and optimize content and structure
  dashboard/dashboard-ops-deploy.md
  quick-start-with-tidb.md
Labels: needs-cherry-pick-release-4.0, needs-cherry-pick-release-5.0, requires-followup, size/L, status/LGT2, status/can-merge, translation/doing

#5622 Fix a typo in tidb-computing.md
  tidb-computing.md
Labels: needs-cherry-pick-release-4.0, needs-cherry-pick-release-5.0, require-LGT1, size/XS, status/LGT1, status/can-merge, translation/from-docs-cn

#5625 Add a link to the CDC configurable field
  ticdc/deploy-ticdc.md
Labels: needs-cherry-pick-release-4.0, needs-cherry-pick-release-5.0, require-LGT1, size/XS, status/LGT1, status/can-merge, translation/from-docs-cn

#5635 Fix a display failure of copyable snippt
  certificate-authentication.md
Labels: needs-cherry-pick-release-4.0, needs-cherry-pick-release-5.0, require-LGT1, size/XS, status/LGT1, status/can-merge, translation/doing

#5638 Fix a display failure of copyable snippt
  enable-tls-between-components.md
Labels: needs-cherry-pick-release-4.0, needs-cherry-pick-release-5.0, require-LGT1, size/XS, status/LGT1, status/can-merge, translation/no-need

#5562 add a better clarification on how sysvar changes "propagate"
  system-variables.md
Labels: needs-cherry-pick-release-4.0, size/XS, status/LGT2, status/can-merge, translation/doing

#5642 Fix a display error of code snippit
  enable-tls-between-components.md
Labels: needs-cherry-pick-release-4.0, needs-cherry-pick-release-5.0, require-LGT1, status/LGT1, status/can-merge, translation/no-need

#5646 sql-mode: remove 'full support' for 'PAD_CHAR_TO_FULL_LENGTH'
  sql-mode.md
Labels: needs-cherry-pick-release-3.0, needs-cherry-pick-release-3.1, needs-cherry-pick-release-4.0, needs-cherry-pick-release-5.0, size/XS, status/LGT2, status/can-merge, translation/doing

#5630 br: add br faq NotFound description
  br/backup-and-restore-faq.md
Labels: needs-cherry-pick-release-4.0, needs-cherry-pick-release-5.0, require-LGT1, size/XS, status/LGT1, status/can-merge, translation/from-docs-cn

#5605 Remove tarball deployment docs
  deploy-tidb-from-binary.md
  production-deployment-from-binary-tarball.md
  production-deployment-using-tiup.md
  test-deployment-from-binary-tarball.md
  tidb-binlog/get-started-with-tidb-binlog.md
Labels: needs-cherry-pick-release-4.0, needs-cherry-pick-release-5.0, require-LGT1, requires-version-specific-changes, size/XL, status/LGT1, status/can-merge, translation/no-need

#5580 br: update tiflash related docs on nfs
  br/backup-and-restore-use-cases.md
Labels: needs-cherry-pick-release-4.0, needs-cherry-pick-release-5.0, require-LGT1, size/XS, status/LGT1, status/can-merge, translation/from-docs-cn

#5645 Update status-port description
  tidb-lightning/tidb-lightning-backends.md
Labels: needs-cherry-pick-release-4.0, needs-cherry-pick-release-5.0, require-LGT1, size/S, status/LGT1, status/can-merge, translation/from-docs-cn

#5653 dumpling: update dumpling doc
  dumpling-overview.md
Labels: needs-cherry-pick-release-4.0, needs-cherry-pick-release-5.0, size/S, status/LGT2, status/can-merge, translation/from-docs-cn

#5648 Add some more docs about async commit not used
  system-variables.md
Labels: needs-cherry-pick-release-5.0, require-LGT1, size/XS, status/LGT1, status/can-merge, translation/from-docs-cn

#5662 *: update doc for explain for connection
  sql-statements/sql-statement-explain.md
Labels: needs-cherry-pick-release-4.0, needs-cherry-pick-release-5.0, require-LGT1, size/XS, status/LGT1, status/can-merge, translation/from-docs-cn

#5670 cdc: fix config typo
  config-templates/complex-cdc.yaml
Labels: needs-cherry-pick-release-5.0, require-LGT1, size/XS, status/LGT1, status/can-merge, translation/from-docs-cn

#5600 read-historical-data: Add practical advise about how to use this feature
  read-historical-data.md
Labels: needs-cherry-pick-release-5.0, sig/docs, sig/sql-infra, size/S, status/LGT2, status/PTAL, status/can-merge, translation/doing

#5669 tiup: clarify the pd-ctl command usage
  scale-tidb-using-tiup.md
Labels: needs-cherry-pick-release-4.0, needs-cherry-pick-release-5.0, require-LGT1, size/S, status/LGT1, status/can-merge, translation/from-docs-cn

#5663 add detailes about whether mpp takes effect
  tiflash/use-tiflash.md
Labels: needs-cherry-pick-release-5.0, require-LGT1, size/XS, status/LGT1, status/can-merge, translation/from-docs-cn

#5681 tikv-config: add value range and type for stack-size
  tikv-configuration-file.md
Labels: needs-cherry-pick-release-5.0, require-LGT1, size/XS, status/LGT2, status/can-merge, translation/doing

#5684 tikv-config: fix a typo for stack-size
  tikv-configuration-file.md
Labels: needs-cherry-pick-release-5.0, require-LGT1, size/XS, status/LGT1, status/can-merge, translation/no-need

#5686 binlog: fix typo
  tidb-binlog/upgrade-tidb-binlog.md
Labels: needs-cherry-pick-release-2.1, needs-cherry-pick-release-3.0, needs-cherry-pick-release-3.1, needs-cherry-pick-release-4.0, needs-cherry-pick-release-5.0, require-LGT1, size/XS, status/LGT1, status/can-merge, translation/from-docs-cn

#5627 add --sort-engine default values
  ticdc/manage-ticdc.md
Labels: needs-cherry-pick-release-5.0, require-LGT1, size/XS, status/LGT1, status/can-merge, translation/from-docs-cn

#5119 Highlight TiFlash does not support Lightning
  tidb-lightning/tidb-lightning-overview.md
Labels: needs-cherry-pick-release-4.0, needs-cherry-pick-release-5.0, requires-version-specific-changes, size/XS, status/LGT2, status/can-merge, translation/from-docs-cn

#5520 ticdc: Include local:// and s3:// sink support
  br/use-br-command-line-tool.md
  ticdc/manage-ticdc.md
  ticdc/ticdc-overview.md
Labels: needs-cherry-pick-release-5.0, sig/docs, sig/migrate, size/M, status/LGT2, status/PTAL, status/can-merge, translation/doing

#5695 ticdc: update troubleshoot for ddl skip
  ticdc/troubleshoot-ticdc.md
Labels: needs-cherry-pick-release-4.0, needs-cherry-pick-release-5.0, require-LGT1, requires-version-specific-changes, size/XS, status/LGT1, status/can-merge, translation/from-docs-cn

#5647 Add documentation for SEM
  system-variables.md
  tidb-configuration-file.md
Labels: for-future-release, sig/docs, sig/sql-infra, size/S, status/LGT2, status/can-merge, translation/doing

#5454 TOC: Fix BR related issues in the TOC
  TOC.md
Labels: needs-cherry-pick-release-4.0, needs-cherry-pick-release-5.0, size/XS, status/LGT2, status/can-merge, translation/doing

#5702 Fix typos in complex-tidb-binlog.yaml
  config-templates/complex-tidb-binlog.yaml
Labels: needs-cherry-pick-release-4.0, needs-cherry-pick-release-5.0, require-LGT1, size/XS, status/LGT1, status/can-merge, translation/from-docs-cn

#5705 Add v5.1 in pull_request_template.md
  .github/pull_request_template.md
Labels: needs-cherry-pick-release-2.1, needs-cherry-pick-release-3.0, needs-cherry-pick-release-3.1, needs-cherry-pick-release-4.0, needs-cherry-pick-release-5.0, require-LGT1, size/XS, status/LGT1, status/can-merge, translation/from-docs-cn

#5711 system-variables: ensure alphabetical order
  system-variables.md
  telemetry.md
  tidb-configuration-file.md
  tiflash/tune-tiflash-performance.md
Labels: needs-cherry-pick-release-5.0, size/M, status/LGT2, status/can-merge, translation/doing

#5721 Fix description about hot-region-cache-hits-threshold
  pd-control.md
Labels: needs-cherry-pick-release-4.0, needs-cherry-pick-release-5.0, require-LGT1, size/XS, status/LGT1, status/can-merge, translation/from-docs-cn

#5719 ticdc: add more docs about unified sorter
  ticdc/deploy-ticdc.md
  ticdc/manage-ticdc.md
Labels: needs-cherry-pick-release-4.0, needs-cherry-pick-release-5.0, requires-version-specific-changes, size/M, status/LGT2, status/can-merge, translation/from-docs-cn
