Repository pingcap/docs, pull requests merged in 2021-11, with the labels that each got.

#6665 system-variables: update permitted ranges
  system-variables.md
Labels: type/bug-fix, translation/doing, priority/P1, status/can-merge, status/LGT2, size/S, sig/docs, sig/sql-infra

#6677 *: update add columns features
  basic-features.md
Labels: type/bug-fix, translation/doing, status/can-merge, status/LGT2, needs-cherry-pick-release-5.0, size/XS, sig/sql-infra, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2

#6696 Bump-version-for-5.2.2
  download-ecosystem-tools.md
  pd-control.md
  pd-recover.md
  production-deployment-using-tiup.md
  quick-start-with-tidb.md
  scale-tidb-using-tiup.md
  ticdc/manage-ticdc.md
  tiup/tiup-component-cluster-deploy.md
  tiup/tiup-component-management.md
  tiup/tiup-mirror.md
  tiup/tiup-playground.md
  upgrade-tidb-using-tiup.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/M, needs-cherry-pick-release-5.2

#6669 lightning: add description for tidb backend
  get-started-with-tidb-lightning.md
  tidb-lightning/tidb-lightning-backends.md
  tidb-lightning/tidb-lightning-checkpoints.md
  tidb-lightning/tidb-lightning-configuration.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT2, size/L, sig/migrate, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2

#6694 release notes: minor wording changes
  releases/release-5.2.2.md
Labels: status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/S, needs-cherry-pick-release-5.2

#6707 Update tidb-lightning-configuration.md to make sure consistency
  tidb-lightning/tidb-lightning-configuration.md
Labels: type/enhancement, status/can-merge, status/LGT2, translation/no-need, needs-cherry-pick-release-5.0, size/S, sig/migrate, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2

#6649 Add docs for version_compile_* variables
  system-variables.md
Labels: type/enhancement, translation/doing, status/can-merge, status/LGT2, size/S, sig/docs, sig/sql-infra

#6619 dumpling: add a note about compression
  dumpling-overview.md
Labels: type/enhancement, translation/doing, status/can-merge, status/LGT2, size/XS, sig/migrate

#6664 system-variables: add configuration tip based on units
  system-variables.md
Labels: type/enhancement, translation/doing, status/can-merge, status/LGT2, needs-cherry-pick-release-5.0, size/S, sig/docs, sig/sql-infra, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2

#6715 Corrected the default values of checksum and analyze in Lightning.
  tidb-lightning/tidb-lightning-configuration.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT2, needs-cherry-pick-release-5.0, size/S, sig/migrate, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2

#6721 chore: stop building temporary
  .github/workflows/dispatch.yml
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/S

#6650 Add auth_socket support
  security-compatibility-with-mysql.md
Labels: translation/doing, status/can-merge, status/LGT2, area/security, size/XS, v5.3

#6723 update functions supported by TiFlash
  tiflash/use-tiflash.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/S, sig/bigdata, v5.3

#6730 chore: update pr template for v5.3
  .github/pull_request_template.md
  CONTRIBUTING.md
  README.md
Labels: translation/from-docs-cn, status/can-merge, needs-cherry-pick-release-2.1, needs-cherry-pick-release-3.0, needs-cherry-pick-release-3.1, status/LGT1, needs-cherry-pick-release-4.0, require-LGT1, needs-cherry-pick-release-5.0, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2

#6714 Lightning: add character set conversion configuration instructions
  tidb-lightning/tidb-lightning-configuration.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/S, sig/migrate, v5.3, needs-cherry-pick-release-5.3

#6741 Fix a broken link format
  generated-columns.md
Labels: type/bug-fix, status/can-merge, status/LGT1, translation/no-need, require-LGT1, needs-cherry-pick-release-5.0, size/XS, sig/sql-infra, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2

#6739 Update SHAREit into Adopters
  adopters.md
Labels: status/can-merge, needs-cherry-pick-release-2.1, needs-cherry-pick-release-3.0, needs-cherry-pick-release-3.1, status/LGT1, translation/no-need, needs-cherry-pick-release-4.0, require-LGT1, needs-cherry-pick-release-5.0, size/XS, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2

#6455 ticdc: update interruption FAQs-EN
  ticdc/manage-ticdc.md
  ticdc/troubleshoot-ticdc.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT2, needs-cherry-pick-release-4.0, needs-cherry-pick-release-5.0, size/L, sig/docs, sig/migrate, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2

#6740 Refine the layout of basic-features.md
  basic-features.md
Labels: type/bug-fix, status/can-merge, status/LGT1, translation/no-need, area/general, require-LGT1, needs-cherry-pick-release-5.0, size/M, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2

#6618 Add docs for placement rules in SQL
  TOC.md
  configure-placement-rules.md
  information-schema/information-schema-placement-rules.md
  information-schema/information-schema.md
  placement-rules-in-sql.md
  schedule-replicas-by-topology-labels.md
  sql-statements/sql-statement-alter-placement-policy.md
  sql-statements/sql-statement-create-placement-policy.md
  sql-statements/sql-statement-drop-placement-policy.md
  sql-statements/sql-statement-show-create-placement-policy.md
  sql-statements/sql-statement-show-placement-for.md
  sql-statements/sql-statement-show-placement-labels.md
  sql-statements/sql-statement-show-placement.md
  system-variables.md
Labels: translation/doing, status/can-merge, status/LGT2, size/XXL, sig/sql-infra, v5.3

#6623 Lightning distributed import
  TOC.md
  media/parallel-import-shard-tables-en.png
  media/parallel-import-single-tables-en.png
  tidb-lightning/tidb-lightning-distributed-import.md
  tidb-lightning/tidb-lightning-prechecks.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, needs-cherry-pick-master, size/L, sig/migrate, v5.3, needs-cherry-pick-release-5.3

#6775 system-variable.md: remove tmp_table_size
  system-variables.md
Labels: type/bug-fix, status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/XS, sig/sql-infra, needs-cherry-pick-release-5.2

#6761 PD config: update some default values of PD configurations
  best-practices/pd-scheduling-best-practices.md
  pd-configuration-file.md
  pd-control.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/S, sig/transaction, v5.3

#6777 PD control: remove store limit scene
  pd-control.md
Labels: requires-version-specific-changes, translation/from-docs-cn, status/can-merge, status/LGT1, needs-cherry-pick-release-4.0, require-LGT1, needs-cherry-pick-release-5.0, size/M, sig/scheduling, needs-cherry-pick-release-5.1, type/compatibility-or-feature-change, needs-cherry-pick-release-5.2, v5.3

#6782 chore: add link check ci
  .github/workflows/ci.yaml
  .github/workflows/link-check.yaml
Labels: translation/from-docs-cn, status/can-merge, needs-cherry-pick-release-2.1, needs-cherry-pick-release-3.0, needs-cherry-pick-release-3.1, status/LGT1, needs-cherry-pick-release-4.0, require-LGT1, needs-cherry-pick-release-5.0, size/M, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2

#6767 ticdc: add SASL config item
  ticdc/manage-ticdc.md
Labels: translation/done, status/can-merge, status/LGT2, first-time-contributor, needs-cherry-pick-release-5.0, size/XS, sig/migrate, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2

#6792 releases: add TiDB release timeline
  TOC.md
  _index.md
  releases/release-5.2.2.md
  releases/release-notes.md
  releases/release-rc.2.md
  releases/release-rc.3.md
  releases/release-timeline.md
Labels: translation/done, status/can-merge, status/LGT2, area/general, needs-cherry-pick-release-5.0, size/L, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2

#6729 add usage for eventually consistent replication
  ticdc/manage-ticdc.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/M, v5.3

#6717 tidb-lightning: document max-error and duplicate-resolution
  TOC.md
  tidb-lightning/tidb-lightning-configuration.md
  tidb-lightning/tidb-lightning-error-resolution.md
Labels: translation/done, status/can-merge, status/LGT2, size/XL, sig/migrate, v5.3

#6760 TiKV config: update the description of `reserve-space`
  tikv-configuration-file.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/XS, sig/engine, v5.3

#6771 Update pessimistic-transaction.md #7412
  media/sqlgram/SelectLockOpt.png
  pessimistic-transaction.md
  sql-statements/sql-statement-select.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/S, sig/transaction, v5.3

#6666 pd-recover: fix inappropriate commands
  pd-recover.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT2, needs-cherry-pick-release-4.0, needs-cherry-pick-release-5.0, size/XS, sig/scheduling, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2

#6770 system variables: add two TSO related variables
  system-variables.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/M, sig/scheduling, v5.3

#6725 change the default value of prepared plan cache.capacity from 100 to 1000
  tidb-configuration-file.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/XS, type/compatibility-or-feature-change, v5.3

#6790 br: update doc for encrypt
  br/use-br-command-line-tool.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/M, sig/migrate, v5.3

#6386 tidb-lightning: update docs of the CSV settings
  tidb-lightning/migrate-from-csv-using-tidb-lightning.md
  tidb-lightning/tidb-lightning-configuration.md
Labels: requires-version-specific-changes, translation/doing, status/can-merge, status/LGT2, status/PTAL, needs-cherry-pick-release-4.0, needs-cherry-pick-release-5.0, size/M, sig/docs, sig/migrate, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2

#6810 fix the default value of duplicate-resolution
  tidb-lightning/tidb-lightning-configuration.md
  tidb-lightning/tidb-lightning-error-resolution.md
Labels: type/bug-fix, status/can-merge, status/LGT2, translation/no-need, size/XS, sig/migrate, v5.3

#6766 Refine placement rules in sql
  TOC.md
  placement-rules-in-sql.md
Labels: type/bug-fix, translation/done, status/can-merge, status/LGT2, size/M, sig/sql-infra

#6794 add a user doc "Table Attribute"
  TOC.md
  table-attributes.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, status/PTAL, size/L, sig/scheduling, v5.3

#6818 placement rules: fix bad wording
  placement-rules-in-sql.md
Labels: type/bug-fix, translation/done, status/can-merge, status/LGT2, size/XS, sig/sql-infra, v5.3

#6773 system variables: add `tidb_log_file_max_days`
  system-variables.md
Labels: type/enhancement, translation/done, status/can-merge, status/LGT2, size/XS, sig/sql-infra, v5.3

#6727 Update Prometheus version in deploy-monitoring-services.md
  deploy-monitoring-services.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT2, size/XS, sig/tiup, v5.3

#6807 Add online unsafe recovery related documents
  TOC.md
  experimental-features.md
  online-unsafe-recovery.md
  pd-control.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/L, sig/engine, v5.3

#6774 update sync_diff_inspector: sync_diff_inspector v2.0
  TOC.md
  media/shard-table-replica-1.png
  sync-diff-inspector/dm-diff.md
  sync-diff-inspector/route-diff.md
  sync-diff-inspector/shard-diff.md
  sync-diff-inspector/sync-diff-inspector-overview.md
  sync-diff-inspector/upstream-downstream-diff.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/XXL, sig/migrate, v5.3

#6765 system-variables: add tidb_enable_pseudo_for_outdated_stats
  system-variables.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/XS, sig/planner, v5.3

#6759 sql-plan-replayer: add sql-plan-replayer doc
  TOC.md
  sql-plan-replayer.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, status/PTAL, size/L, sig/planner, v5.3

#6758 statistics: add the updates of the new grammar
  sql-statements/sql-statement-analyze-table.md
  statistics.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, status/PTAL, size/M, sig/planner, v5.3

#6822 fix a typo in the SQL example for troubleshoot-write-conflicts.md
  troubleshoot-write-conflicts.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, needs-cherry-pick-release-5.0, sig/transaction, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, ONCALL

#6821 Deleted tidb-lightning: max-error and duplicate-resolution
  TOC.md
  tidb-lightning/tidb-lightning-configuration.md
  tidb-lightning/tidb-lightning-error-resolution.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/XL, sig/migrate, v5.3

#6820 Deleted "Configure sink URI with cdclog"
  ticdc/manage-ticdc.md
Labels: status/can-merge, status/LGT2, translation/no-need, needs-cherry-pick-release-4.0, needs-cherry-pick-release-5.0, size/S, sig/migrate, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2

#6726 planner: update the document about Plan-Cache
  sql-prepare-plan-cache.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, status/PTAL, size/M, sig/planner, v5.3

#6756 Add dashboard user doc
  TOC.md
  dashboard/dashboard-access.md
  dashboard/dashboard-ops-security.md
  dashboard/dashboard-user.md
  media/dashboard/dashboard-user-insufficient-privileges.png
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT2, size/L, sig/diagnosis, v5.3

#6757 Add temporary table docs
  TOC.md
  br/backup-and-restore-tool.md
  mysql-compatibility.md
  sql-statements/sql-statement-create-table-like.md
  sql-statements/sql-statement-create-table.md
  sql-statements/sql-statement-drop-table.md
  system-variables.md
  temporary-table.md
  ticdc/ticdc-overview.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/XL, sig/sql-infra, v5.3

#6668 Remove cyclic replication feature
  experimental-features.md
  media/cdc-cyclic-replication.png
  releases/release-5.0.0.md
  ticdc/manage-ticdc.md
  ticdc/ticdc-overview.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT2, size/L, sig/migrate, v5.3

#6832 br: Add the tag of experimental-feature into encrypt-br
  br/use-br-command-line-tool.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT2, size/S, sig/migrate, v5.3

#6833 Change file name from temporary table to temp tables
  TOC.md
  mysql-compatibility.md
  system-variables.md
  temporary-tables.md
  ticdc/ticdc-overview.md
Labels: type/bug-fix, translation/done, status/can-merge, status/LGT2, size/S, sig/sql-infra, v5.3

#6819 Improve csv separator notes
  dumpling-overview.md
  tidb-lightning/migrate-from-csv-using-tidb-lightning.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, needs-cherry-pick-release-5.0, size/XS, sig/migrate, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2

#6769 statistics: Add example and note about local infile
  statistics.md
Labels: type/enhancement, translation/doing, status/can-merge, status/LGT2, status/PTAL, size/S, sig/planner

#6795 ticdc: update max-batch-size
  ticdc/manage-ticdc.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, needs-cherry-pick-release-5.0, size/XS, sig/migrate, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3

#6793 Added TiCDC Alert Rules
  TOC.md
  alert-rules.md
  ticdc/ticdc-alert-rules.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, needs-cherry-pick-master, needs-cherry-pick-release-5.0, size/L, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2

#6852 chore: list as the first child in TOC
  TOC.md
Labels: translation/doing, status/can-merge, needs-cherry-pick-release-2.1, needs-cherry-pick-release-3.0, needs-cherry-pick-release-3.1, status/LGT1, needs-cherry-pick-release-4.0, require-LGT1, needs-cherry-pick-release-5.0, size/XXL, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2

#6837 Fix broken links
  .github/workflows/link-check.yaml
  adopters.md
  connectors-and-apis.md
  tidb-binlog/binlog-consumer-client.md
  tidb-binlog/tidb-binlog-overview.md
Labels: type/bug-fix, translation/doing, status/can-merge, status/LGT1, require-LGT1, size/XS

#6872 Fix typos in v5.1-performance-benchmarking-with-tpcc.md
  benchmark/v5.1-performance-benchmarking-with-tpcc.md
Labels: type/bug-fix, status/can-merge, status/LGT2, translation/no-need, size/XS

#6870 Fix a typo in v5.2-performance-benchmarking-with-tpcc.md
  benchmark/v5.2-performance-benchmarking-with-tpcc.md
Labels: type/bug-fix, status/can-merge, status/LGT2, translation/no-need, size/XS, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3

#6869 system-variables: document tidb-enable-alter-placement
  system-variables.md
Labels: type/enhancement, translation/doing, status/can-merge, status/LGT2, size/S, sig/sql-infra, needs-cherry-pick-release-5.3

#6840 Update tidb-lightning-faq.md from OnCALL
  tidb-lightning/tidb-lightning-faq.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT2, needs-cherry-pick-release-5.0, size/S, sig/migrate, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, ONCALL

#6853 Update the description and warning notes for unsafe recovery
  tikv-control.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT2, needs-cherry-pick-release-4.0, needs-cherry-pick-release-5.0, size/M, sig/scheduling, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, ONCALL

#6862 Add some warnings about the use of the Tombstone API
  scale-tidb-using-tiup.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT2, needs-cherry-pick-release-4.0, size/S, sig/scheduling, ONCALL

#6891 add version information
  TOC.md
  tidb-lightning/tidb-lightning-distributed-import.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT2, size/S, sig/migrate, v5.3, needs-cherry-pick-release-5.3

#6893 change the download link for sync-diff-inspector
  sync-diff-inspector/sync-diff-inspector-overview.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT2, size/XS, sig/migrate, ONCALL

#6890 Update migrate-from-csv-using-tidb-lightning.md
  tidb-lightning/migrate-from-csv-using-tidb-lightning.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT2, needs-cherry-pick-release-4.0, needs-cherry-pick-release-5.0, size/XS, sig/migrate, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3

#6836 remove stale configuration
  dynamic-config.md
  tikv-configuration-file.md
Labels: translation/doing, status/can-merge, status/LGT2, size/XS, type/compatibility-or-feature-change, v5.3, needs-cherry-pick-release-5.3

#6589 Fix dumpling parameter typo in overview page
  dumpling-overview.md
Labels: type/bug-fix, status/can-merge, status/LGT2, translation/no-need, first-time-contributor, size/XS, sig/migrate, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3

#6620 ticdc: add data_dir to examples
  scale-tidb-using-tiup.md
  tiup/tiup-cluster-topology-reference.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT2, needs-cherry-pick-release-4.0, needs-cherry-pick-release-5.0, size/S, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3

#6876 ticdc: GA TiCDC open API
  ticdc/ticdc-open-api.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/S, sig/migrate, v5.3, needs-cherry-pick-release-5.3

#6864 Add v5.3 TPCH report
  TOC.md
  benchmark/v5.3-performance-benchmarking-with-tpch.md
  media/tidb-v5.2-tpch-100-vs-gp-spark.png
  media/tidb-v5.3-tpch-100-vs-gp-spark.png
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/S, v5.3, needs-cherry-pick-release-5.3

#6866 Add aliases to v5.2 TPCH report
  benchmark/v5.2-performance-benchmarking-with-tpch.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT2, size/XS

#6903 fix the declaration about INNODB_TEMP_TABLE_INFO
  temporary-tables.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XS, sig/sql-infra, v5.3, needs-cherry-pick-release-5.3

#6878 Add description for --log-file parameter
  tidb-lightning/tidb-lightning-configuration.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT2, size/XS, sig/migrate, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3

#6772 Update continuous-profiling & dashboard-profiling
  TOC.md
  dashboard/continuous-profiling.md
  dashboard/dashboard-profiling.md
  experimental-features.md
  media/dashboard/dashboard-conprof-access.png
  media/dashboard/dashboard-conprof-download.png
  media/dashboard/dashboard-conprof-history.png
  media/dashboard/dashboard-conprof-single.png
  media/dashboard/dashboard-conprof-start.png
  media/dashboard/dashboard-conprof-stop.png
  media/dashboard/dashboard-profiling-access.png
  tiup/tiup-cluster-topology-reference.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/L, v5.3, needs-cherry-pick-release-5.3

#6817 Update the value of txn-local-latches from enable to enabled
  tidb-configuration-file.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, needs-cherry-pick-release-5.0, sig/tiup, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, ONCALL

#6834 cdc:modify descriptions related to Unified Sorter and data_dir
  ticdc/deploy-ticdc.md
  ticdc/manage-ticdc.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, needs-cherry-pick-release-4.0, needs-cherry-pick-release-5.0, size/S, sig/migrate, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3

#6930 sql: align multiple PRs from docs-cn
  best-practices/tidb-best-practices.md
  faq/migration-tidb-faq.md
  information-schema/information-schema-statistics.md
  releases/release-5.0.0-rc.md
  releases/release-5.0.0.md
  sql-plan-management.md
  sql-statements/sql-statement-show-indexes.md
  sql-statements/sql-statement-show-processlist.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, needs-cherry-pick-release-5.0, size/M, sig/sql-infra, sig/planner, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3

#6931 make some correction for tidb_opt_insubq_to_join_and_agg
  releases/release-4.0.15.md
  system-variables.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT1, needs-cherry-pick-release-4.0, require-LGT1, needs-cherry-pick-release-5.0, size/XS, sig/planner, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3

#6868 system variables: correct the description of `tidb_allow_fallback_to_tikv`
  system-variables.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT2, needs-cherry-pick-release-5.0, size/XS, sig/engine, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3

#6879 optimization config desc
  ticdc/manage-ticdc.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT2, needs-cherry-pick-release-4.0, needs-cherry-pick-release-5.0, size/S, sig/migrate, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3

#6662 add `max-grpc-send-msg-len` configuration
  tikv-configuration-file.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT2, needs-cherry-pick-release-5.0, size/XS, sig/engine, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3

#6958 update the download link for sync-diff-inspector
  sync-diff-inspector/sync-diff-inspector-overview.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT2, size/XS, sig/migrate

#6835 ticdc: add description about gc-ttl
  ticdc/deploy-ticdc.md
  ticdc/manage-ticdc.md
  ticdc/troubleshoot-ticdc.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT2, needs-cherry-pick-release-4.0, needs-cherry-pick-release-5.0, size/S, sig/migrate, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3

#6959 sync-diff-inspector: add annontation for option configuration items
  sync-diff-inspector/sync-diff-inspector-overview.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT2, size/M, sig/migrate, needs-cherry-pick-release-5.3

#6957 replace `./pd-ctl` with `tiup ctl pd`
  enable-tls-between-components.md
  pd-control.md
  troubleshoot-lock-conflicts.md
  troubleshoot-write-conflicts.md
Labels: translation/doing, status/can-merge, status/LGT2, size/S, needs-cherry-pick-release-5.3, ONCALL

#6830 Bump version for v5.3.0 - ecosystem tools
  download-ecosystem-tools.md
  ticdc/manage-ticdc.md
  tiup/tiup-component-dm-import.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/S, v5.3, needs-cherry-pick-release-5.3

#6966 sync-diff-inspector: update docker link
  sync-diff-inspector/sync-diff-inspector-overview.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/XS, sig/migrate, needs-cherry-pick-release-5.3, ONCALL

#6952 update ticdc recommended disk size
  hardware-and-software-requirements.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT2, needs-cherry-pick-release-4.0, needs-cherry-pick-release-5.0, size/XS, sig/migrate, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3

#6981 fix: remove blanks in TOC
  TOC.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/XS

#6984 chore: update generate pdf scripts
  scripts/merge_by_toc.py
Labels: status/can-merge, needs-cherry-pick-release-2.1, needs-cherry-pick-release-3.0, needs-cherry-pick-release-3.1, status/LGT1, translation/no-need, needs-cherry-pick-release-4.0, require-LGT1, needs-cherry-pick-release-5.0, size/M, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3

#6993 ticdc: update java example link
  ticdc/ticdc-open-protocol.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT2, size/XS, sig/migrate

#6829 Fix a typo in tidb-monitoring-api.md
  tidb-monitoring-api.md
Labels: type/bug-fix, translation/done, status/can-merge, status/LGT1, needs-cherry-pick-release-4.0, require-LGT1, needs-cherry-pick-release-5.0, size/S, sig/diagnosis, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3

#6705 Fix a mistaken link
  system-variables.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, needs-cherry-pick-release-5.0, size/XS, sig/sql-infra, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3

#7000 Align 3 PRs from docs-cn
  configure-memory-usage.md
  sql-plan-replayer.md
  tidb-configuration-file.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/S, sig/planner, needs-cherry-pick-release-5.3

#6909 tikv(cdc): dynamic online change cdc configuration
  dynamic-config.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, needs-cherry-pick-release-5.0, size/XS, sig/migrate, needs-cherry-pick-release-5.1, type/compatibility-or-feature-change, needs-cherry-pick-release-5.2

#7005 Align 2 prs from docs-cn (sql and planner)
  optimizer-hints.md
  sql-statements/sql-statement-create-sequence.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, needs-cherry-pick-release-4.0, require-LGT1, needs-cherry-pick-release-5.0, size/S, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3

#6608 Correct description about DELETE space release
  faq/sql-faq.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT1, status/PTAL, require-LGT1, size/XS, sig/docs, sig/sql-infra, sig/engine, sig/scheduling, needs-cherry-pick-release-5.2

#7015 update sort-dir supported version
  ticdc/ticdc-overview.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT2, needs-cherry-pick-release-4.0, needs-cherry-pick-release-5.0, size/XS, sig/migrate, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3

#7023 Add the TPC-H result graphics
  media/tidb-v5-tpch-100-vs-gp-spark.png
  media/tidb-v5.2-tpch-100-vs-gp-spark.png
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT2, size/XS

#7017 tidb: warn about the limitations of placement rules dict syntax
  placement-rules-in-sql.md
Labels: translation/doing, status/can-merge, status/LGT2, size/XS, sig/sql-infra, v5.3, needs-cherry-pick-release-5.3

#6950 table-attributes: minor fixes
  table-attributes.md
Labels: type/bug-fix, translation/done, status/can-merge, status/LGT2, size/M, sig/scheduling, v5.3, needs-cherry-pick-release-5.3

#6607 rename quick-install-guide.md
  TOC.md
  data-migration/aurora/from-snapshot.md
  data-migration/aurora/increment-aurora.md
  quick-install-tools.md
Labels: translation/doing, first-time-contributor, size/M, refactor-migration-docs

#7026 update some alert rules
  alert-rules.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT2, needs-cherry-pick-release-4.0, needs-cherry-pick-release-5.0, size/XS, sig/scheduling, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3

#7034 lightning: fix lightning distribute import config
  tidb-lightning/tidb-lightning-distributed-import.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT2, size/XS, sig/migrate, needs-cherry-pick-release-5.3

#7039 Add a missing note to v4.0.9 release notes
  releases/release-4.0.9.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, needs-cherry-pick-release-4.0, needs-cherry-pick-release-5.0, size/XS, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, ONCALL

#6768 Update basic-features.md for v5.3
  basic-features.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/L, v5.3, needs-cherry-pick-release-5.3

#6839 releases: add TiDB 5.3.0 release notes
  TOC.md
  _index.md
  pd-control.md
  pd-recover.md
  releases/release-5.3.0.md
  releases/release-notes.md
  releases/release-timeline.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/XL, v5.3, needs-cherry-pick-release-5.3

#6982 Update experimental features for v5.3
  experimental-features.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/S, v5.3, needs-cherry-pick-release-5.3

#6918 Bump versions for tiup related content for 5.3.0
  production-deployment-using-tiup.md
  quick-start-with-tidb.md
  scale-tidb-using-tiup.md
  tiup/tiup-component-cluster-deploy.md
  tiup/tiup-component-management.md
  tiup/tiup-mirror.md
  tiup/tiup-playground.md
  upgrade-tidb-using-tiup.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/L, sig/tiup, v5.3, needs-cherry-pick-release-5.3

#7045 add v530 benchmark documents
  TOC.md
  benchmark/benchmark-sysbench-v5.3.0-vs-v5.2.2.md
  benchmark/v5.3-performance-benchmarking-with-tpcc.md
  media/sysbench_v522vsv530_point_select.png
  media/sysbench_v522vsv530_read_write.png
  media/sysbench_v522vsv530_update_index.png
  media/sysbench_v522vsv530_update_non_index.png
  media/tpcc_v522_vs_v530.png
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/XL, v5.3, needs-cherry-pick-release-5.3

#7035 Add doc for raftstore asynchronous write IO
  tikv-configuration-file.md
  tune-tikv-thread-performance.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/M, sig/engine, v5.3, needs-cherry-pick-release-5.3

#7038 fix the expression about creating sql user when enabling sem
  dashboard/dashboard-user.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT2, sig/diagnosis, v5.3, needs-cherry-pick-release-5.3

#7047 change-tiup-related-content
  quick-start-with-tidb.md
  tiup/tiup-playground.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT2, size/M, sig/tiup, v5.3, needs-cherry-pick-release-5.3

#7058 add newly added configuration items and their links
  releases/release-5.3.0.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XS, v5.3, needs-cherry-pick-release-5.3

#7052 Delete a duplicated line in the example in explain-indexes.md
  explain-indexes.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT2, needs-cherry-pick-release-4.0, needs-cherry-pick-release-5.0, size/XS, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, ONCALL

#7046 Update haproxy best practices using haproxy2.5.0
  best-practices/haproxy-best-practices.md
Labels: type/enhancement, translation/doing, contribution, status/can-merge, status/LGT2, first-time-contributor, size/M, sig/sql-infra, needs-cherry-pick-release-5.3, ONCALL

#7070 test simpletab
  quick-start-with-tidb.md
Labels: status/can-merge, status/LGT2, missing-translation-status, size/S

#6873 chore: update dispatch in release-5.3
  .github/workflows/dispatch.yml
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/S

#7071 Fix a rendering failure caused by wrong format
  .github/workflows/dispatch.yml
  releases/release-5.3.0.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/S, v5.3, needs-cherry-pick-release-5.3

#7073 update release notes info in TOC
  TOC.md
Labels: status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/XS, v5.3, needs-cherry-pick-release-5.3
