Repository pingcap/docs, pull requests merged in 2021-04, with the labels that each got.

#5028 update use tiup client access database
  quick-start-with-tidb.md
Labels: needs-cherry-pick-5.0, needs-cherry-pick-master, require-LGT1, requires-version-specific-changes, size/S, status/LGT1, status/PTAL, status/can-merge, translation/doing, v5.0

#5045 BR, TiCDC: update br, cdc's docs and FAQ
  br/backup-and-restore-faq.md
  br/backup-and-restore-use-cases.md
  ticdc/troubleshoot-ticdc.md
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0, size/L, status/LGT2, status/can-merge, translation/from-docs-cn, v5.0

#5169 Add docs for enable-tcp4-only
  tidb-configuration-file.md
Labels: needs-cherry-pick-5.0, require-LGT1, size/XS, status/LGT2, status/can-merge, translation/doing, v5.0

#5172 tikv: change default value for pessimistic-txn.pipelined
  tikv-configuration-file.md
Labels: needs-cherry-pick-5.0, require-LGT1, size/XS, status/LGT1, status/can-merge, translation/doing, v5.0

#5186 Update grafana-tikv-dashboard.md
  grafana-tikv-dashboard.md
Labels: needs-cherry-pick-5.0, require-LGT1, size/XS, status/LGT1, status/can-merge, translation/from-docs-cn, v5.0

#5175 tiflash: add more explanation for parameter `bg_task_io_rate_limit`
  tiflash/tiflash-configuration.md
Labels: needs-cherry-pick-5.0, require-LGT1, size/XS, status/LGT1, status/can-merge, translation/from-docs-cn, v5.0

#5061 tiup: add three docs
  tiup/tiup-command-telemetry.md
  tiup/tiup-component-cluster-audit.md
  tiup/tiup-component-cluster-destroy.md
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0, size/L, status/LGT2, status/can-merge, translation/from-docs-cn, v5.0

#5143 pd-ctl: add more jq examples
  pd-control.md
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0, require-LGT1, size/S, status/LGT1, status/can-merge, translation/from-docs-cn

#5197 Update release-4.0.12.md
  releases/release-4.0.12.md
Labels: require-LGT1, size/XS, status/LGT1, status/can-merge, translation/done

#5199 revert 4.0.12 release notes
  TOC.md
  releases/release-notes.md
Labels: size/XS, status/LGT1, translation/from-docs-cn

#5204 releases: correct the order of notes
  quick-start-with-tidb.md
  releases/release-4.0.12.md
Labels: needs-cherry-pick-5.0, require-LGT1, size/XS, status/LGT1, status/can-merge, translation/from-docs-cn

#5205 add apply-cache
  system-variables.md
Labels: needs-cherry-pick-5.0, size/S, status/LGT2, status/can-merge, translation/from-docs-cn, v5.0

#5208 *: update all 5.0-rc descriptions to v5.0
  error-codes.md
  faq/sql-faq.md
  faq/tidb-faq.md
  garbage-collection-configuration.md
  garbage-collection-overview.md
  log-redaction.md
  partitioned-table.md
  pd-configuration-file.md
  read-historical-data.md
  releases/release-5.0.0-rc.md
  sql-plan-management.md
  sql-statements/sql-statement-flashback-table.md
  system-variables.md
  ticdc/manage-ticdc.md
  tidb-binlog/tidb-binlog-overview.md
  tidb-configuration-file.md
  tidb-limitations.md
  tidb-troubleshooting-map.md
  tiflash/tiflash-configuration.md
  tiflash/use-tiflash.md
  tikv-configuration-file.md
  tiup/tiup-playground.md
  transaction-overview.md
Labels: needs-cherry-pick-5.0, require-LGT1, size/L, status/LGT1, status/can-merge, translation/from-docs-cn, v5.0

#5194 Update the descriptions of BR, telemetry, hot spot issues, and TiKV thread pool for 5.0 GA
  br/backup-and-restore-use-cases.md
  telemetry.md
  troubleshoot-hot-spot-issues.md
  tune-tikv-thread-performance.md
Labels: needs-cherry-pick-5.0, require-LGT1, size/S, status/LGT2, status/can-merge, translation/from-docs-cn, v5.0

#5168 tikv: change default store/apply max-batch-size
  tikv-configuration-file.md
Labels: needs-cherry-pick-5.0, require-LGT1, size/XS, status/LGT1, status/can-merge, translation/from-docs-cn, v5.0

#5206 update default oom action of TiDB
  configure-memory-usage.md
Labels: needs-cherry-pick-5.0, size/S, status/LGT2, status/can-merge, translation/from-docs-cn, v5.0

#5198 update the scope of 'tidb_enable_clustered_index' and add cdc server …
  clustered-indexes.md
  config-templates/complex-cdc.yaml
  system-variables.md
  ticdc/deploy-ticdc.md
Labels: needs-cherry-pick-5.0, require-LGT1, size/XS, status/LGT1, status/PTAL, status/can-merge, translation/from-docs-cn, v5.0

#5200 add the rsa generating command in check-before-deployment.md
  check-before-deployment.md
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0, require-LGT1, size/XS, status/LGT1, status/PTAL, status/can-merge, translation/from-docs-cn, v5.0

#5203 tiflash: add limitation for TiFlash usage
  tiflash/use-tiflash.md
Labels: needs-cherry-pick-5.0, require-LGT1, size/M, status/LGT1, status/PTAL, status/can-merge, translation/from-docs-cn, v5.0

#5188 update doc to match config default value with TiKV codebase.
  tikv-configuration-file.md
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0, require-LGT1, requires-version-specific-changes, size/M, status/LGT1, status/can-merge, translation/from-docs-cn, v5.0

#5217 update configuration page for enable-enum-length-limit
  tidb-configuration-file.md
Labels: needs-cherry-pick-5.0, require-LGT1, size/XS, status/LGT1, status/PTAL, status/can-merge, translation/from-docs-cn, v5.0

#5224 link-check.yaml: disables external link check
  .github/workflows/link-check.yaml
Labels: needs-cherry-pick-5.0, require-LGT1, status/LGT1, status/can-merge, translation/from-docs-cn

#5062 information-schema: add client errors docs
  TOC.md
  information-schema/client-errors-summary-by-host.md
  information-schema/client-errors-summary-by-user.md
  information-schema/client-errors-summary-global.md
  information-schema/information-schema.md
Labels: needs-cherry-pick-5.0, require-LGT1, size/L, status/LGT1, status/can-merge, translation/doing, v5.0

#5222 fix grammar mistakes
  clustered-indexes.md
  system-variables.md
Labels: needs-cherry-pick-5.0, require-LGT1, size/XS, status/LGT1, status/PTAL, status/can-merge, translation/no-need

#5231 update tiflash config: add proxy log level
  tiflash/tiflash-configuration.md
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0, require-LGT1, size/XS, status/LGT1, status/can-merge, translation/from-docs-cn

#5234 tikv: update CDC config
  tikv-configuration-file.md
Labels: needs-cherry-pick-5.0, require-LGT1, size/S, status/LGT1, status/can-merge, translation/from-docs-cn, v5.0

#5235 Update the way of configlocation-labels if tiflash enable
  tiflash/tiflash-configuration.md
Labels: needs-cherry-pick-5.0, require-LGT1, size/XS, status/LGT1, status/can-merge, translation/from-docs-cn, v5.0

#5238 fix a typo in clustered-indexes.md
  clustered-indexes.md
Labels: needs-cherry-pick-5.0, require-LGT1, size/XS, status/LGT1, status/PTAL, status/can-merge, translation/from-docs-cn

#5240 pd: remove the experimental flag for the enable-joint-consensus config
  pd-configuration-file.md
Labels: needs-cherry-pick-5.0, require-LGT1, size/XS, status/LGT1, status/can-merge, translation/from-docs-cn

#5176 tiup: add 3 docs disable/display/list
  tiup/tiup-component-cluster-disable.md
  tiup/tiup-component-cluster-display.md
  tiup/tiup-component-cluster-list.md
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0, require-LGT1, size/L, status/LGT1, status/can-merge, translation/from-docs-cn

#5227 partitioned-table: Correct the variable name for list partitioning
  partitioned-table.md
Labels: needs-cherry-pick-5.0, require-LGT1, size/XS, status/LGT2, status/PTAL, status/can-merge, translation/done

#5147 5.0 GA: update release notes, experimental features, roadmap
  TOC.md
  _index.md
  experimental-features-4.0.md
  experimental-features.md
  releases/release-5.0.0-rc.md
  releases/release-5.0.0.md
  releases/release-notes.md
  roadmap.md
Labels: needs-cherry-pick-5.0, requires-version-specific-changes, size/XXL, status/LGT2, status/can-merge, translation/from-docs-cn, v5.0

#5245 refine TiFlash doc to add executor pushdown white list
  tiflash/use-tiflash.md
Labels: needs-cherry-pick-5.0, require-LGT1, size/M, status/LGT1, status/can-merge, translation/from-docs-cn

#5144 chore: update PDF version tag
  .circleci/config.yml
  .github/workflows/dispatch.yml
Labels: size/M, status/LGT1, status/can-merge, translation/no-need

#5145 chore: update PDF version tag
  .circleci/config.yml
Labels: size/XS, status/LGT1, status/can-merge, translation/no-need

#5249 update pipelined lock default value
  pessimistic-transaction.md
Labels: needs-cherry-pick-5.0, require-LGT1, size/XS, status/LGT1, status/can-merge, translation/from-docs-cn, v5.0

#5244 Add TPC-H 100GB on TiDB 5.0 with MPP benchmark
  TOC.md
  benchmark/v5.0-performance-benchmarking-with-tpch.md
  media/tidb-v5-tpch-100-vs-gp-spark.png
Labels: needs-cherry-pick-5.0, require-LGT1, size/L, status/LGT1, status/PTAL, status/can-merge, translation/from-docs-cn, v5.0

#5252 fix default value of pipelined lock
  tikv-configuration-file.md
Labels: require-LGT1, size/XS, status/LGT1, status/can-merge, translation/from-docs-cn

#5258 Add a note in upgrade-tidb-using-tiup.md
  upgrade-tidb-using-tiup.md
Labels: needs-cherry-pick-5.0, size/XS, status/LGT1, translation/from-docs-cn, v5.0

#5251 Fix typos in information-schemas
  information-schema/client-errors-summary-by-host.md
  information-schema/client-errors-summary-by-user.md
  information-schema/client-errors-summary-global.md
Labels: needs-cherry-pick-5.0, require-LGT1, size/XS, status/LGT1, status/can-merge, translation/done

#5255 Added the EN version of the Benchmark reports
  TOC.md
  benchmark/benchmark-sysbench-v5-vs-v4.md
  benchmark/v5.0-performance-benchmarking-with-tpcc.md
  media/sysbench_v5vsv4_point_select.png
  media/sysbench_v5vsv4_read_write.png
  media/sysbench_v5vsv4_update_index.png
  media/sysbench_v5vsv4_update_non_index.png
  media/tpcc_v5vsv4.png
Labels: needs-cherry-pick-5.0, require-LGT1, size/XL, status/LGT1, status/can-merge, translation/from-docs-cn, v5.0

#5262 lightning: update lightning example binary version and download link #5897
  get-started-with-tidb-lightning.md
  tidb-lightning/deploy-tidb-lightning.md
Labels: needs-cherry-pick-5.0, require-LGT1, size/S, status/LGT1, status/can-merge, translation/from-docs-cn, v5.0

#5265 Update release-5.0.0.md
  releases/release-5.0.0.md
Labels: needs-cherry-pick-5.0, require-LGT1, size/XS, status/LGT1, status/PTAL, status/can-merge, translation/from-docs-cn

#5266 docs: remove some config fields for copr cache
  tidb-configuration-file.md
Labels: needs-cherry-pick-5.0, size/XS, status/LGT2, status/can-merge, translation/from-docs-cn, v5.0

#5184 tiup: add documents of publish, grant, and genkey
  tiup/tiup-command-mirror-genkey.md
  tiup/tiup-command-mirror-grant.md
  tiup/tiup-command-mirror-publish.md
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0, require-LGT1, size/L, status/LGT1, status/can-merge, translation/from-docs-cn

#5264 add stable aliases for deleted docs in dev
  backup-and-restore-using-mydumper-lightning.md
  experimental-features-4.0.md
  loader-overview.md
  maintain-tidb-using-ansible.md
  mydumper-overview.md
  offline-deployment-using-ansible.md
  online-deployment-using-ansible.md
  production-offline-deployment-using-tiup.md
  scale-tidb-using-ansible.md
  syncer-overview.md
  upgrade-tidb-using-ansible.md
  upgrade-tidb-using-tiup-offline.md
Labels: require-LGT1, size/S, status/LGT1, status/can-merge, translation/done

#5278 Clarify Local-backend in tidb-lightning-backends.md
  tidb-lightning/tidb-lightning-backends.md
Labels: needs-cherry-pick-4.0, needs-cherry-pick-master, size/XS, status/LGT1, translation/doing

#5281 Document the TABLE statement
  TOC.md
  sql-statements/sql-statement-table.md
Labels: needs-cherry-pick-5.0, require-LGT1, size/L, status/LGT1, status/can-merge, translation/doing

#5292 mirrir -> mirror
  tiup/tiup-mirror-reference.md
Labels: needs-cherry-pick-4.0, needs-cherry-pick-master, require-LGT1, size/XS, status/LGT1, status/can-merge, translation/doing

#5276 Add the New in v5.0 mark in system-variables.md
  releases/release-5.0.0.md
  system-variables.md
Labels: needs-cherry-pick-5.0, size/XS, status/LGT2, status/can-merge, translation/done, v5.0

#5297 Fix a typo in statistics.md
  statistics.md
Labels: needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, needs-cherry-pick-5.0, require-LGT1, size/XS, status/LGT1, status/can-merge, translation/from-docs-cn

#5299 Update the default value of grpc-raft-conn-num
  tikv-configuration-file.md
  tune-tikv-performance.md
Labels: needs-cherry-pick-3.0, require-LGT1, size/XS, status/LGT1, status/PTAL, status/can-merge, translation/from-docs-cn

#5287 update system-variable for statements-summary and fixes statements
  system-variables.md
  tikv-configuration-file.md
Labels: needs-cherry-pick-5.0, require-LGT1, requires-version-specific-changes, size/S, status/LGT1, status/PTAL, status/can-merge, translation/from-docs-cn

#5298 update a dumpling faq
  faq/migration-tidb-faq.md
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0, size/XS, status/LGT2, status/PTAL, status/can-merge, translation/from-docs-cn

#5286 *: generalize and link to the external storage docs from Lightning
  TOC.md
  br/backup-and-restore-storages.md
  br/backup-and-restore-tool.md
  dumpling-overview.md
  faq/migration-tidb-faq.md
  sql-statements/sql-statement-backup.md
  sql-statements/sql-statement-restore.md
  table-filter.md
  tidb-lightning/monitor-tidb-lightning.md
  tidb-lightning/tidb-lightning-checkpoints.md
  tidb-lightning/tidb-lightning-configuration.md
  tidb-lightning/tidb-lightning-faq.md
  tidb-lightning/tidb-lightning-glossary.md
  tidb-lightning/tidb-lightning-overview.md
  tidb-troubleshooting-map.md
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0, requires-followup, requires-version-specific-changes, size/L, status/LGT2, status/PTAL, status/can-merge, translation/from-docs-cn

#5306 release-5.0.0: Fix 'tidb_enable_clustered_index' values
  releases/release-5.0.0.md
Labels: needs-cherry-pick-5.0, size/XS, status/LGT2, status/can-merge, translation/no-need

#5320 update the rule for gc can't work alert
  alert-rules.md
Labels: needs-cherry-pick-5.0, require-LGT1, size/XS, status/LGT1, status/can-merge, translation/from-docs-cn

#5324 update grafana panels for TiKV GC
  grafana-tikv-dashboard.md
Labels: needs-cherry-pick-5.0, require-LGT1, size/XS, status/LGT1, status/can-merge, translation/doing

#5271 tiup: add 3 docs dm-deploy/destroy/audit
  tiup/tiup-command-status.md
  tiup/tiup-component-cluster-deploy.md
  tiup/tiup-component-cluster-destroy.md
  tiup/tiup-component-cluster-edit-config.md
  tiup/tiup-component-dm-audit.md
  tiup/tiup-component-dm-deploy.md
  tiup/tiup-component-dm-destroy.md
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0, sig/docs, sig/tiup, size/L, status/LGT2, status/can-merge, translation/from-docs-cn

#5221 tiup: add 3 docs component-help/prune/upgrade
  tiup/tiup-component-cluster-deploy.md
  tiup/tiup-component-cluster-help.md
  tiup/tiup-component-cluster-prune.md
  tiup/tiup-component-cluster-upgrade.md
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0, sig/docs, sig/tiup, size/L, status/LGT2, status/can-merge, translation/from-docs-cn

#5308 tiup: add 4 docs dm-prune/start/stop/reload
  tiup/tiup-component-dm-prune.md
  tiup/tiup-component-dm-reload.md
  tiup/tiup-component-dm-start.md
  tiup/tiup-component-dm-stop.md
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0, sig/docs, sig/tiup, size/L, status/LGT2, status/can-merge, translation/from-docs-cn

#5346 *: update some sentences.
  error-codes.md
  sql-statements/sql-statement-admin.md
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0, require-LGT1, size/XS, status/LGT1, status/can-merge, translation/doing

#5352 error-codes: refine a sentence
  error-codes.md
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0, require-LGT1, size/XS, status/LGT1, status/can-merge, translation/doing

#5314 add tiup-cluster-topology-reference.md
  tiup/tiup-cluster-topology-reference.md
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0, require-LGT1, size/XXL, status/LGT1, status/PTAL, status/can-merge, translation/from-docs-cn

#5270 TiUP: add three documents for cluster import, scale-in, and dm list
  tiup/tiup-component-cluster-import.md
  tiup/tiup-component-cluster-scale-in.md
  tiup/tiup-component-dm-list.md
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0, require-LGT1, size/L, status/LGT1, status/PTAL, status/can-merge, translation/from-docs-cn

#5323 tiup: add 3 docs cluster-rename/cluster-restart/dm-import
  tiup/tiup-component-cluster-rename.md
  tiup/tiup-component-cluster-restart.md
  tiup/tiup-component-dm-import.md
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0, require-LGT1, sig/docs, sig/tiup, size/L, status/LGT1, status/can-merge, translation/from-docs-cn

#5291 TiUP: Add three docs about tiup dm display, upgrade, and cluster check
  tiup/tiup-component-cluster-check.md
  tiup/tiup-component-dm-display.md
  tiup/tiup-component-dm-upgrade.md
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0, require-LGT1, size/XL, status/LGT1, status/PTAL, status/can-merge, translation/from-docs-cn

#5277 TiUP: add three docs for cluster start, stop, and more info
  tiup/tiup-component-cluster-start.md
  tiup/tiup-component-cluster-stop.md
  tiup/tiup-component-cluster.md
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0, require-LGT1, size/L, status/LGT1, status/PTAL, status/can-merge, translation/from-docs-cn

#5328 dumpling-overview: Suggest 256 MB or less as file size
  dumpling-overview.md
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0, size/XS, status/LGT2, status/can-merge, translation/doing

#5318 TiUP: Add tiup-dm-topology-reference.md
  tiup/tiup-dm-topology-reference.md
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0, require-LGT1, size/XL, status/LGT1, status/PTAL, status/can-merge, translation/from-docs-cn

#5325 tiup: add TiUP DM introduction and docs for command `dm-restart` and `dm-patch`
  tiup/tiup-component-dm-patch.md
  tiup/tiup-component-dm-restart.md
  tiup/tiup-component-dm.md
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0, require-LGT1, sig/docs, sig/tiup, size/L, status/LGT1, status/can-merge, translation/from-docs-cn

#5322 tiup: add tiup-reference.md
  tiup/tiup-command-list.md
  tiup/tiup-command-mirror-clone.md
  tiup/tiup-command-mirror-genkey.md
  tiup/tiup-command-mirror-publish.md
  tiup/tiup-command-uninstall.md
  tiup/tiup-command-update.md
  tiup/tiup-component-cluster-audit.md
  tiup/tiup-component-cluster-clean.md
  tiup/tiup-component-cluster-deploy.md
  tiup/tiup-component-cluster-destroy.md
  tiup/tiup-component-cluster-disable.md
  tiup/tiup-component-cluster-display.md
  tiup/tiup-component-cluster-edit-config.md
  tiup/tiup-component-cluster-list.md
  tiup/tiup-reference.md
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0, require-LGT1, size/L, status/LGT1, status/can-merge, translation/from-docs-cn

#5331 tiup: align rest files in docs-cn#4868
  TOC.md
  geo-distributed-deployment-topology.md
  hybrid-deployment-topology.md
  minimal-deployment-topology.md
  ticdc-deployment-topology.md
  tidb-binlog-deployment-topology.md
  tiflash-deployment-topology.md
  tispark-deployment-topology.md
  tiup/tiup-cluster.md
  tiup/tiup-documentation-guide.md
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0, require-LGT1, size/M, status/LGT1, status/PTAL, status/can-merge, translation/from-docs-cn

#5349 explain: add hint about disabling line wrapping with less
  explain-overview.md
  sql-statements/sql-statement-explain.md
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0, size/S, status/LGT2, status/can-merge, translation/doing

#5375 tiup: batch uncomment links
  tiup/tiup-command-mirror-rotate.md
  tiup/tiup-command-mirror.md
  tiup/tiup-component-cluster-check.md
  tiup/tiup-component-cluster-deploy.md
  tiup/tiup-component-cluster-edit-config.md
  tiup/tiup-component-cluster-patch.md
  tiup/tiup-component-cluster-prune.md
  tiup/tiup-component-cluster-scale-out.md
  tiup/tiup-component-cluster.md
  tiup/tiup-component-dm-deploy.md
  tiup/tiup-component-dm-edit-config.md
  tiup/tiup-component-dm-reload.md
  tiup/tiup-component-dm-scale-in.md
  tiup/tiup-component-dm-scale-out.md
  tiup/tiup-component-dm-start.md
  tiup/tiup-component-dm-stop.md
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0, require-LGT1, size/M, status/LGT1, status/can-merge, translation/no-need

#5309 dumpling: update dumpling document on how to reduce memory usage
  dumpling-overview.md
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0, require-LGT1, size/S, status/LGT2, status/PTAL, status/can-merge, translation/from-docs-cn

#5288 br:tidy up the incompatible issues in using BR tools
  br/backup-and-restore-tool.md
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0, require-LGT1, requires-version-specific-changes, size/M, status/LGT1, status/can-merge, translation/from-docs-cn

#5384 Update quick-start-with-tidb.md
  quick-start-with-tidb.md
Labels: contribution, first-time-contributor, needs-cherry-pick-4.0, needs-cherry-pick-5.0, require-LGT1, size/XS, status/LGT1, status/can-merge, translation/from-docs-cn

#5385 TiUP: Fix broken links and errors
  tiup/tiup-component-cluster-start.md
  tiup/tiup-component-cluster-stop.md
  tiup/tiup-component-dm-display.md
  tiup/tiup-component-dm-upgrade.md
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0, require-LGT1, size/S, status/LGT1, status/can-merge, translation/no-need

#5268 user-defined-variables: Add note about SELECT...INTO <var>
  user-defined-variables.md
Labels: needs-cherry-pick-5.0, require-LGT1, size/XS, status/LGT1, status/can-merge, translation/doing

#5345 Update pd-control.md
  pd-control.md
Labels: needs-cherry-pick-5.0, require-LGT1, size/XS, status/LGT1, status/can-merge, translation/from-docs-cn

#5395 Add the 5.0 branch info to CONTRIBUTING.md
  CONTRIBUTING.md
Labels: needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, needs-cherry-pick-5.0, size/XS, status/LGT2, status/can-merge, translation/no-need

#5321 Update backup-and-restore-storages.md
  br/backup-and-restore-storages.md
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0, requires-version-specific-changes, size/XS, status/LGT2, status/can-merge, translation/from-docs-cn

#5404 batch add v4.0 aliases
  backup-and-restore-using-dumpling-lightning.md
  explain-overview.md
  information-schema/information-schema-cluster-config.md
  information-schema/information-schema-cluster-hardware.md
  information-schema/information-schema-cluster-info.md
  information-schema/information-schema-cluster-load.md
  information-schema/information-schema-cluster-log.md
  information-schema/information-schema-cluster-systeminfo.md
  information-schema/information-schema-inspection-result.md
  information-schema/information-schema-inspection-summary.md
  information-schema/information-schema-metrics-summary.md
  information-schema/information-schema-metrics-tables.md
  information-schema/information-schema-sql-diagnostics.md
  information-schema/information-schema.md
  loader-overview.md
  metrics-schema.md
  mysql-schema.md
  system-variables.md
  tidb-architecture.md
  tidb-lightning/tidb-lightning-backends.md
  tidb-lightning/tidb-lightning-faq.md
Labels: require-LGT1, size/M, status/LGT1, status/can-merge, translation/doing

#5284 Update use-br-command-line-tool.md
  br/use-br-command-line-tool.md
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0, require-LGT1, size/XS, status/LGT1, status/can-merge, translation/from-docs-cn

#5407 explain: update the expression of the hint about disabling line wrapping with less
  sql-statements/sql-statement-explain.md
Labels: require-LGT1, size/XS, status/LGT1, status/can-merge, translation/done

#5410 update the external links
  tidb-scheduling.md
Labels: require-LGT1, size/XS, status/LGT1, status/can-merge, translation/from-docs-cn

#5412 update the external links that contains master to release-4.0
  best-practices/pd-scheduling-best-practices.md
  information-schema/information-schema-cluster-info.md
  pd-configuration-file.md
  production-deployment-using-tiup.md
  sync-diff-inspector/sync-diff-inspector-overview.md
  ticdc/ticdc-open-protocol.md
  tidb-binlog/binlog-consumer-client.md
  tidb-binlog/binlog-control.md
  tidb-binlog/maintain-tidb-binlog-cluster.md
  tidb-binlog/tidb-binlog-overview.md
  tidb-configuration-file.md
  tidb-scheduling.md
  tikv-configuration-file.md
  tispark-deployment-topology.md
  tiup/tiup-faq.md
  tiup/tiup-playground.md
  troubleshoot-lock-conflicts.md
Labels: require-LGT1, size/M, status/LGT1, status/can-merge, translation/from-docs-cn

#5202 Fix typos in tiup-cluster.md
  tiup/tiup-cluster.md
Labels: missing-translation-status, needs-cherry-pick-5.0, needs-cherry-pick-master, require-LGT1, size/XS, status/LGT1, status/PTAL, status/can-merge

#5414 no server.request-batch-enable-cross-command in V5.0.0
  benchmark/benchmark-sysbench-v5-vs-v4.md
Labels: first-time-contributor, needs-cherry-pick-master, sig/docs, sig/transaction, size/XS, status/LGT1, status/can-merge, translation/doing

#5421 comment-syntax: Correct the note about `--comments`
  comment-syntax.md
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0, size/XS, status/LGT2, status/can-merge, translation/doing

#5401 correct a tikv config name
  tikv-configuration-file.md
Labels: contribution, first-time-contributor, needs-cherry-pick-4.0, needs-cherry-pick-master, size/XS, status/LGT1, status/can-merge, translation/from-docs-cn

#5423 Remove a missing F1 mention in docs
  tidb-computing.md
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0, require-LGT1, size/XS, status/LGT1, status/can-merge, translation/done

#5415 update the external links that contains master to release-5.0
  best-practices/pd-scheduling-best-practices.md
  expression-syntax.md
  functions-and-operators/precision-math.md
  geo-distributed-deployment-topology.md
  hybrid-deployment-topology.md
  information-schema/information-schema-cluster-info.md
  minimal-deployment-topology.md
  pd-configuration-file.md
  production-deployment-using-tiup.md
  sync-diff-inspector/sync-diff-inspector-overview.md
  ticdc-deployment-topology.md
  ticdc/ticdc-open-protocol.md
  tidb-binlog-deployment-topology.md
  tidb-binlog/binlog-consumer-client.md
  tidb-binlog/tidb-binlog-configuration-file.md
  tidb-binlog/tidb-binlog-overview.md
  tidb-configuration-file.md
  tidb-scheduling.md
  tiflash-deployment-topology.md
  tiflash/tiflash-configuration.md
  tikv-configuration-file.md
  tispark-deployment-topology.md
  tiup/tiup-faq.md
  tiup/tiup-playground.md
  troubleshoot-lock-conflicts.md
Labels: require-LGT1, size/M, status/LGT1, status/can-merge, translation/from-docs-cn

#5033 update doc for split region
  best-practices/pd-scheduling-best-practices.md
  partitioned-table.md
  sql-statements/sql-statement-split-region.md
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0, require-LGT1, size/S, status/LGT1, status/can-merge, translation/from-docs-cn

#4607 Added attention to online parameter changes
  dynamic-config.md
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0, require-LGT1, size/S, status/LGT1, status/can-merge, translation/from-docs-cn

#5438 adopters: rm 2 case study articles
  adopters.md
Labels: needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, needs-cherry-pick-5.0, require-LGT1, size/XS, status/LGT1, status/can-merge, translation/no-need

#5445 tidb-config: add value range for token-limit
  tidb-configuration-file.md
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0, sig/docs, sig/sql-infra, size/XS, status/LGT2, status/can-merge, translation/doing

#5448 Fix a typo in Update character-set-and-collation.md
  character-set-and-collation.md
Labels: needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, needs-cherry-pick-5.0, require-LGT1, size/XS, status/LGT1, status/can-merge, translation/done

#5444 add full backup ftwrl details in dumpling-overview.md
  dumpling-overview.md
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0, size/XS, status/LGT2, status/can-merge, translation/from-docs-cn

#5460 Update release-5.0.1.md
  releases/release-5.0.1.md
Labels: needs-cherry-pick-5.0, require-LGT1, size/XS, status/LGT1, status/can-merge, translation/from-docs-cn

#5462 releases: add a lighting note to br in 5.0.1
  releases/release-5.0.1.md
Labels: needs-cherry-pick-5.0, require-LGT1, sig/docs, sig/migrate, size/XS, status/LGT1, status/can-merge, translation/from-docs-cn

#5459 pd: align the language of similar items between docs
  command-line-flags-for-pd-configuration.md
Labels: needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, needs-cherry-pick-5.0, require-LGT1, sig/docs, sig/scheduling, size/S, status/LGT1, status/can-merge, translation/no-need

#5425 Clarify telemetry on Dashboard
  telemetry.md
Labels: first-time-contributor, needs-cherry-pick-5.0, needs-cherry-pick-master, size/XS, status/LGT1, status/can-merge, translation/no-need

#5416 Add tips for the limitation of statements summary history table
  statement-summary-tables.md
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0, sig/docs, sig/sql-infra, size/XS, status/LGT2, status/can-merge, translation/from-docs-cn

#5473 fix the incorrect tpcc resul and v5 parameters
  benchmark/benchmark-sysbench-v5-vs-v4.md
  benchmark/v5.0-performance-benchmarking-with-tpcc.md
  media/tpcc_v5vsv4_corrected.png
Labels: first-time-contributor, needs-cherry-pick-5.0, require-LGT1, size/XS, status/LGT1, status/can-merge, translation/doing

#5408 ticdc: fix kafka message size limit
  ticdc/troubleshoot-ticdc.md
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0, requires-version-specific-changes, size/XS, status/LGT2, status/can-merge, translation/from-docs-cn

#5477 Move the position of a note
  statistics.md
Labels: needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, needs-cherry-pick-5.0, require-LGT1, size/XS, status/LGT1, status/can-merge, translation/from-docs-cn

#5388 add tispark batch write document
  tispark-overview.md
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0, require-LGT1, sig/docs, size/M, status/LGT1, status/can-merge, translation/from-docs-cn

#5409 Add details for Hexadecimal Literals
  literal-values.md
Labels: needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, needs-cherry-pick-5.0, size/XS, status/LGT2, status/can-merge, translation/from-docs-cn

#5492 improve the benchmark result
  benchmark/benchmark-sysbench-v5-vs-v4.md
  benchmark/v5.0-performance-benchmarking-with-tpcc.md
  media/tpcc_v5vsv4_corrected_v2.png
Labels: needs-cherry-pick-5.0, require-LGT1, size/XS, status/LGT1, status/can-merge, translation/done

#5478 Update use br command line tool
  br/use-br-command-line-tool.md
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0, require-LGT1, size/XS, status/LGT1, status/can-merge, translation/from-docs-cn

#5422 mention mysql replication
  mysql-compatibility.md
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0, size/XS, status/LGT2, status/can-merge, translation/from-docs-cn

#5411 br: update some faq from oncall
  br/backup-and-restore-faq.md
  br/backup-and-restore-use-cases.md
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0, requires-version-specific-changes, size/XS, status/LGT2, status/can-merge, translation/from-docs-cn

#5495 Update oudated description in quick-start-with-tidb.md
  quick-start-with-tidb.md
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0, require-LGT1, size/XS, status/LGT1, status/can-merge, translation/doing

#5435 ctl: add a note for all ctl docs
  pd-control.md
  tidb-binlog/binlog-control.md
  tidb-control.md
  tikv-control.md
Labels: needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, needs-cherry-pick-5.0, require-LGT1, size/S, status/LGT1, status/can-merge, translation/from-docs-cn

#5463 dumpling: update table-filter.md
  dumpling-overview.md
  table-filter.md
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0, require-LGT1, size/XS, status/LGT1, status/PTAL, status/can-merge, translation/from-docs-cn

#5503 Fix misinformation in geo-distributed-deployment-topology.md
  geo-distributed-deployment-topology.md
Labels: needs-cherry-pick-5.0, needs-cherry-pick-master, require-LGT1, size/XS, status/LGT1, status/can-merge, translation/from-docs-cn

#5500 Correct the sample of Pulsar sink url auth param config.md
  ticdc/manage-ticdc.md
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0, require-LGT1, size/XS, status/LGT1, status/can-merge, translation/from-docs-cn

#5523 Add a note that TiUP Playground doesn't support M1
  quick-start-with-tidb.md
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0, require-LGT1, size/XS, status/LGT1, status/can-merge, translation/from-docs-cn

#5526 Refine a description for PD scheduling best practices
  best-practices/pd-scheduling-best-practices.md
Labels: needs-cherry-pick-3.1, needs-cherry-pick-4.0, needs-cherry-pick-5.0, require-LGT1, size/XS, status/LGT1, status/can-merge, translation/from-docs-cn

#5530 pd-config: add value range and type for store-balance-rate
  pd-configuration-file.md
Labels: needs-cherry-pick-5.0, sig/docs, sig/scheduling, size/XS, status/LGT2, status/can-merge, translation/doing

#5521 Move the part of parameter description in dumpling-overview.md
  dumpling-overview.md
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0, require-LGT1, size/XS, status/LGT1, status/can-merge, translation/no-need

#5531 sql-statements: use EBNF to render syntax diagrams - second batch
  sql-statements/sql-statement-begin.md
  sql-statements/sql-statement-change-column.md
  sql-statements/sql-statement-commit.md
  sql-statements/sql-statement-create-binding.md
  sql-statements/sql-statement-create-database.md
  sql-statements/sql-statement-create-index.md
  sql-statements/sql-statement-create-role.md
  sql-statements/sql-statement-create-sequence.md
  sql-statements/sql-statement-create-table-like.md
  sql-statements/sql-statement-create-table.md
  sql-statements/sql-statement-create-user.md
  sql-statements/sql-statement-create-view.md
  sql-statements/sql-statement-deallocate.md
  sql-statements/sql-statement-delete.md
  sql-statements/sql-statement-do.md
  sql-statements/sql-statement-drop-binding.md
  sql-statements/sql-statement-drop-column.md
  sql-statements/sql-statement-drop-database.md
  sql-statements/sql-statement-drop-index.md
  sql-statements/sql-statement-drop-role.md
  sql-statements/sql-statement-drop-sequence.md
  sql-statements/sql-statement-drop-stats.md
  sql-statements/sql-statement-drop-table.md
  sql-statements/sql-statement-drop-user.md
  sql-statements/sql-statement-drop-view.md
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0, require-LGT1, requires-version-specific-changes, size/XXL, status/LGT1, status/can-merge, translation/from-docs-cn

#5538 master/5.0: remove low-version descriptions
  mysql-compatibility.md
  tiflash/maintain-tiflash.md
Labels: needs-cherry-pick-5.0, require-LGT1, size/S, status/LGT1, status/can-merge, translation/from-docs-cn, v5.0

#5494 add an faq about async commit or 1PC not working
  faq/deploy-and-maintain-faq.md
Labels: needs-cherry-pick-5.0, require-LGT1, size/XS, status/LGT1, status/can-merge, translation/from-docs-cn

#5499 Add some Tiflash tune instructions.md
  tiflash/tune-tiflash-performance.md
Labels: needs-cherry-pick-5.0, size/S, status/LGT2, status/can-merge, translation/from-docs-cn

#5544 Fix typos in the document
  alert-rules.md
  tidb-configuration-file.md
  tiflash/tiflash-configuration.md
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0, require-LGT1, size/XS, status/LGT1, status/can-merge, translation/no-need

#5541 update description about SPM and SQL Bind
  sql-plan-management.md
  sql-statements/sql-statement-create-binding.md
  sql-statements/sql-statement-drop-binding.md
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0, require-LGT1, size/S, status/LGT1, status/can-merge, translation/from-docs-cn

#5548 Update basic-sql-operations
  basic-sql-operations.md
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0, require-LGT1, size/XS, status/LGT1, status/can-merge, translation/from-docs-cn

#5554 sql-statements: use EBNF to render syntax diagrams - third batch
  sql-statements/sql-statement-execute.md
  sql-statements/sql-statement-explain-analyze.md
  sql-statements/sql-statement-explain.md
  sql-statements/sql-statement-flashback-table.md
  sql-statements/sql-statement-flush-privileges.md
  sql-statements/sql-statement-flush-status.md
  sql-statements/sql-statement-flush-tables.md
  sql-statements/sql-statement-grant-privileges.md
  sql-statements/sql-statement-grant-role.md
  sql-statements/sql-statement-insert.md
  sql-statements/sql-statement-kill.md
  sql-statements/sql-statement-load-data.md
  sql-statements/sql-statement-load-stats.md
  sql-statements/sql-statement-modify-column.md
  sql-statements/sql-statement-prepare.md
  sql-statements/sql-statement-recover-table.md
  sql-statements/sql-statement-rename-index.md
  sql-statements/sql-statement-rename-table.md
  sql-statements/sql-statement-replace.md
  sql-statements/sql-statement-revoke-privileges.md
  sql-statements/sql-statement-revoke-role.md
  sql-statements/sql-statement-rollback.md
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0, require-LGT1, size/XXL, status/LGT1, status/can-merge, translation/from-docs-cn

#5533 master/5.0: bump version and links to v5.0.0
  README.md
  download-ecosystem-tools.md
  maintain-tidb-using-tiup.md
  pd-control.md
  pd-recover.md
  post-installation-check.md
  quick-start-with-tidb.md
  scale-tidb-using-tiup.md
  tiup/tiup-cluster.md
  tiup/tiup-component-management.md
Labels: needs-cherry-pick-5.0, require-LGT1, requires-version-specific-changes, size/M, status/LGT1, status/can-merge, translation/from-docs-cn
