Repository pingcap/docs, pull requests merged in 2021-02, with the labels that each got.

#4728 add optimal parameter configurations
  check-before-deployment.md
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0, status/LGT1, status/PTAL, translation/from-docs-cn

#4722 sql-statements: use EBNF to render syntax diagrams for ADD, ALTER and ANALYZE statements
  expression-syntax.md
  sql-statements/sql-statement-add-column.md
  sql-statements/sql-statement-add-index.md
  sql-statements/sql-statement-admin-cancel-ddl.md
  sql-statements/sql-statement-admin-check-table-index.md
  sql-statements/sql-statement-admin-checksum-table.md
  sql-statements/sql-statement-admin-show-ddl.md
  sql-statements/sql-statement-admin.md
  sql-statements/sql-statement-alter-database.md
  sql-statements/sql-statement-alter-index.md
  sql-statements/sql-statement-alter-instance.md
  sql-statements/sql-statement-alter-table.md
  sql-statements/sql-statement-alter-user.md
  sql-statements/sql-statement-analyze-table.md
Labels: needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, needs-cherry-pick-5.0, status/LGT1, status/PTAL, translation/from-docs-cn, version-specific-changes-required

#4711 ticdc: add metrics doc
  TOC.md
  media/ticdc/ticdc-dashboard-changefeed-1.png
  media/ticdc/ticdc-dashboard-changefeed-2.png
  media/ticdc/ticdc-dashboard-changefeed-3.png
  media/ticdc/ticdc-dashboard-events-1.png
  media/ticdc/ticdc-dashboard-events-2.png
  media/ticdc/ticdc-dashboard-events-3.png
  media/ticdc/ticdc-dashboard-overview.png
  media/ticdc/ticdc-dashboard-server.png
  media/ticdc/ticdc-dashboard-tikv-1.png
  media/ticdc/ticdc-dashboard-tikv-2.png
  ticdc/monitor-ticdc.md
  tidb-monitoring-framework.md
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0, status/LGT1, status/PTAL, translation/from-docs-cn

#4774 Filter 5 external links to pass ci check
  .github/workflows/link-check.yaml
Labels: needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, needs-cherry-pick-5.0, status/LGT1, translation/no-need

#4773 *: add multiple interrelated links and update description
  _index.md
  overview.md
  ticdc-deployment-topology.md
  tidb-binlog-deployment-topology.md
  tidb-scheduling.md
  tidb-storage.md
  tiflash-deployment-topology.md
  tispark-deployment-topology.md
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0, status/LGT2, translation/from-docs-cn, type/enhancement

#4784 Fix a typo in a statement example
  sql-plan-management.md
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0, size/small, status/LGT1, translation/from-docs-cn

#4787 media: use sentence case in tidb-architecture.png
  media/tidb-architecture.png
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0, status/LGT1, translation/doing

#4666 CI: add file format lint script to check manual line breaks and file encoding
  .circleci/config.yml
  dashboard/dashboard-diagnostics-usage.md
  deploy-test-cluster-using-docker-compose.md
  error-codes.md
  grafana-overview-dashboard.md
  grafana-pd-dashboard.md
  identify-slow-queries.md
  releases/release-2.0.11.md
  releases/release-2.1.12.md
  releases/release-2.1.2.md
  releases/release-3.0.4.md
  scripts/check-conflicts.py
  scripts/check-tags.py
  sql-prepare-plan-cache.md
  sql-statements/sql-statement-drop-user.md
  sql-statements/sql-statement-flush-privileges.md
  sql-statements/sql-statement-grant-privileges.md
  sql-statements/sql-statement-revoke-privileges.md
  sql-statements/sql-statement-set-role.md
  sql-statements/sql-statement-set-variable.md
  system-variables.md
  tidb-lightning/deploy-tidb-lightning.md
  tidb-lightning/migrate-from-csv-using-tidb-lightning.md
  tidb-lightning/tidb-lightning-backends.md
  tidb-lightning/tidb-lightning-faq.md
  tidb-lightning/tidb-lightning-web-interface.md
  tikv-control.md
  tikv-overview.md
  tispark-overview.md
  troubleshoot-tidb-cluster.md
  tune-tikv-memory-performance.md
Labels: needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, needs-cherry-pick-5.0, status/LGT1, status/PTAL, translation/doing

#4790 Filter 5 external links to pass CI check
  .github/workflows/link-check.yaml
Labels: needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, needs-cherry-pick-5.0, status/LGT1, translation/no-need

#4780 .github: add slack links in issue templates
  .github/ISSUE_TEMPLATE/change-request.md
  .github/ISSUE_TEMPLATE/error-report.md
  .github/ISSUE_TEMPLATE/question.md
Labels: needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, needs-cherry-pick-5.0, require-LGT1, status/LGT1, status/can-merge, translation/from-docs-cn

#4799 Delete Grant privilege in privilege-management.md
  privilege-management.md
Labels: needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, needs-cherry-pick-5.0, status/LGT2, translation/from-docs-cn

#4813 toc: remove confusing "recommended"
  TOC.md
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0, size/small, status/LGT2, status/PTAL, translation/doing

#4821 doc: fix ddl reorg priority scope problem
  system-variables.md
Labels: needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, needs-cherry-pick-5.0, size/small, translation/doing

#4830 ticdc: the default value of old value is true
  ticdc/manage-ticdc.md
  ticdc/troubleshoot-ticdc.md
Labels: needs-cherry-pick-5.0, size/small, status/LGT1, translation/from-docs-cn

#4832 adopters: add Autohome
  adopters.md
Labels: needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, needs-cherry-pick-5.0, size/small, status/LGT1, translation/no-need

#4829 ticdc: update pd parameters in cdc cli command
  ticdc/manage-ticdc.md
  ticdc/troubleshoot-ticdc.md
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0, size/small, status/LGT1, translation/from-docs-cn

#4840 Correct the max column count in tidb-limitations.md
  tidb-limitations.md
Labels: size/small, status/LGT1, translation/from-docs-cn

#4833 add a new tidb configuration of coprocessor cache
  tidb-configuration-file.md
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0, size/small, status/LGT1, status/PTAL, translation/from-docs-cn

#4810 BR: reorganize content about BR tool
  TOC.md
  backup-and-restore-using-dumpling-lightning.md
  br/backup-and-restore-faq.md
  br/backup-and-restore-tool.md
  br/backup-and-restore-use-cases.md
  br/use-br-command-line-tool.md
  ecosystem-tool-user-case.md
  releases/release-5.0.0-rc.md
  ticdc/troubleshoot-ticdc.md
Labels: needs-cherry-pick-3.1, needs-cherry-pick-4.0, needs-cherry-pick-5.0, status/LGT2, status/can-merge, translation/from-docs-cn

#4769 metrics: update docs
  grafana-tidb-dashboard.md
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0, size/small, status/LGT1, translation/from-docs-cn

#4852 update tiflash pushdown whitelist
  tiflash/use-tiflash.md
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0, status/LGT1, translation/from-docs-cn

#4859 Media: Update tidb-architecture.png
  media/tidb-architecture.png
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0, status/LGT1

#4858 br: add minimum requirements
  br/backup-and-restore-tool.md
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0, size/small, status/LGT1, translation/from-docs-cn

#4865 media: update the TiDB architecture image
  media/tidb-architecture.png
Labels: needs-cherry-pick-3.1, needs-cherry-pick-4.0, needs-cherry-pick-5.0, status/LGT1

#4868 media: update the TiDB architecture image
  media/tidb-architecture.png
Labels: status/LGT1

#4843 Fix a wrong version mark and descrption in system-variable.md
  system-variables.md
Labels: needs-cherry-pick-5.0, status/LGT1, translation/done

#4851 Add config of TiFlash coprocessor thread pool
  tiflash/tiflash-configuration.md
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0, size/small, status/LGT1, status/PTAL, translation/from-docs-cn

#4856 Distinguish `explain <table_name>` and `explain table <table_name>`.
  sql-statements/sql-statement-show-columns-from.md
Labels: needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, needs-cherry-pick-5.0, status/LGT1, translation/from-docs-cn

#4877 Add `tiup ctl pd` command in tiup page
  scale-tidb-using-tiup.md
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0, size/small, status/LGT1, translation/from-docs-cn

#4880 tiup: update version info in scale-tidb-using-tiup.md
  scale-tidb-using-tiup.md
Labels: needs-cherry-pick-5.0, status/LGT1, translation/from-docs-cn, type/bug-fix

#4882 adopters: add meituan case study #2
  adopters.md
Labels: needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, needs-cherry-pick-5.0, status/LGT1, translation/no-need

#4889 `--consistency auto` description change
  dumpling-overview.md
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0, size/small, status/LGT1, translation/from-docs-cn

#4890 Fix a wrong tikv config name
  best-practices/massive-regions-best-practices.md
  garbage-collection-configuration.md
  tikv-configuration-file.md
Labels: needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, needs-cherry-pick-5.0, status/LGT1, translation/done, type/bug-fix

#4828 tools: update tools faq
  tidb-binlog/tidb-binlog-faq.md
  tidb-lightning/tidb-lightning-faq.md
Labels: needs-cherry-pick-3.0, needs-cherry-pick-4.0, needs-cherry-pick-5.0, size/large, status/LGT1, status/require-change, translation/from-docs-cn

#4898 adopters: update Meituan post link and JD Cloud
  adopters.md
Labels: status/LGT1

#4907 Update parameter type description
  tidb-configuration-file.md
Labels: first-time-contributor, needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, needs-cherry-pick-5.0, size/small, status/LGT1, status/PTAL, translation/from-docs-cn

#4908 fix some typos detected by Vale
  choose-index.md
  command-line-flags-for-pd-configuration.md
  dashboard/dashboard-diagnostics-report.md
  download-ecosystem-tools.md
  literal-values.md
  privilege-management.md
  releases/release-2.0.6.md
  releases/release-3.0.0-rc.3.md
  releases/release-4.0.5.md
  sql-statements/sql-statement-recover-table.md
  ticdc/manage-ticdc.md
  ticdc/ticdc-open-protocol.md
  tidb-troubleshooting-map.md
Labels: needs-cherry-pick-2.1, needs-cherry-pick-3.0, needs-cherry-pick-3.1, needs-cherry-pick-4.0, needs-cherry-pick-5.0, status/LGT1, status/PTAL, translation/no-need

#4891 Fix an external broken link
  tiup/tiup-cluster.md
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0, status/LGT1, translation/done, type/bug-fix

#4857 lightning: add using lighting to migrate aurora data tutorial
  TOC.md
  _index.md
  migrate-from-aurora-using-lightning.md
  migration-overview.md
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0, size/large, status/LGT1, status/PTAL, translation/from-docs-cn

#4924 media: rename tidb-architecture.png
  architecture.md
  media/tidb-architecture-v3.1.png
  media/tidb-architecture.png
Labels: status/LGT1, translation/from-docs-cn

#4911 Add TiCDC glossary and update upgrade-tidb-using-tiup
  TOC.md
  glossary.md
  ticdc/ticdc-glossary.md
  upgrade-tidb-using-tiup.md
Labels: follow-up, needs-cherry-pick-4.0, needs-cherry-pick-5.0, size/medium, status/LGT1, translation/doing

#4927 media: rename image to avoid display confusion
  media/tidb-architecture-v3.1.png
  media/tidb-architecture.png
  tidb-architecture.md
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0, status/LGT1, translation/doing

#4932 tiup: fix a broken link
  maintain-tidb-using-tiup.md
  production-deployment-using-tiup.md
  production-offline-deployment-using-tiup.md
  tiup/tiup-cluster.md
  upgrade-tidb-using-tiup.md
Labels: needs-cherry-pick-4.0, needs-cherry-pick-5.0, status/LGT2, status/PTAL, translation/from-docs-cn
