Repository pingcap/docs, pull requests merged in 2022-06, with the labels that each got.

#8781 remove obsolete condition for `enable-tidb-extension`
  ticdc/ticdc-canal-json.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XS, area/ticdc

#8775 Update tidb-cloud-poc.md
  tidb-cloud/tidb-cloud-poc.md
Labels: status/can-merge, status/LGT1, translation/no-need, require-LGT1, first-time-contributor, size/S, area/tidb-cloud

#8770 cloud: cross region replication
  media/tidb-cloud/changefeed-replication-deployment.png
  tidb-cloud/changefeed-overview.md
  tidb-cloud/changefeed-replication.md
  tidb-cloud/changefeed-sink-to-apache-kafka.md
  tidb-cloud/changefeed-sink-to-mysql.md
Labels: status/can-merge, status/LGT2, translation/no-need, size/L, area/tidb-cloud

#8783 Delete a limitation description
  dashboard/top-sql.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/XS, area/diagnosis, v6.1

#8782 chore: test doc filtering
  TOC-cloud.md
  basic-sql-operations.md
Labels: status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/XS, area/tidb-cloud

#8780 cloud: update docs for project setting changes
  tidb-cloud/create-tidb-cluster.md
  tidb-cloud/manage-user-access.md
  tidb-cloud/monitor-built-in-alerting.md
  tidb-cloud/monitor-datadog-integration.md
  tidb-cloud/monitor-prometheus-and-grafana-integration.md
  tidb-cloud/monitor-tidb-cluster.md
  tidb-cloud/set-up-vpc-peering-connections.md
Labels: status/can-merge, status/LGT2, translation/no-need, size/L, area/tidb-cloud

#8638 Fix install, upgrade, deploy, and manage issues
  faq/deploy-and-maintain-faq.md
  faq/manage-cluster-faq.md
  faq/upgrade-faq.md
  hardware-and-software-requirements.md
Labels: type/bug-fix, translation/done, status/can-merge, status/LGT2, area/general, size/M, area/tiup, area/sql-infra, ONCALL, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.0

#8697 tikv: add some new online configs
  dynamic-config.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/XS, area/engine, v6.1

#8721 Add description for Kafka multi-topic feature
  ticdc/manage-ticdc.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/L, area/ticdc, v6.1

#8695 system variable: add the switch control for outer join reorder
  join-reorder.md
  system-variables.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/S, area/planner, v6.1

#8707 system-variables: add the description of tidb_enable_new_only_full_gr…
  system-variables.md
Labels: translation/doing, status/can-merge, status/LGT1, require-LGT1, size/XS, area/planner, type/compatibility-or-feature-change, v6.1

#8767 Add Kafka authentication and authorization description in TiCDC
  ticdc/manage-ticdc.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/M, area/ticdc, v6.1

#8740 ticdc: add ticdc-avro-protocol.md
  TOC.md
  ticdc/ticdc-avro-protocol.md
  ticdc/ticdc-canal-json.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, status/LGT2, size/L, area/ticdc, v6.1

#8747 update manage-ticdc for avro
  ticdc/manage-ticdc.md
Labels: translation/doing, status/can-merge, status/LGT2, size/S, area/ticdc, v6.1

#8763 dm: update doc for optimistic shard ddl
  dm/feature-shard-merge-optimistic.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/S, area/dm, v6.1

#8791 fix a typo: change rockdb.defaultcf to rocksdb.defaultcf
  alert-rules.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT1, area/general, require-LGT1, size/XS

#8749 update doc for memory management of prepared plan cache
  dashboard/dashboard-faq.md
  grafana-tidb-dashboard.md
  optimizer-hints.md
  sql-prepared-plan-cache.md
  system-variables.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/S, area/planner, v6.1

#8700 Add max-store-preparing-time in pd-ctl
  pd-configuration-file.md
  pd-control.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/S, area/scheduling, v6.1

#8797 Modify the default value of `tidb_enable_list_partition` to `ON` in v6.1.0
  system-variables.md
Labels: translation/done, status/can-merge, status/LGT2, size/XS, v6.1, needs-cherry-pick-release-6.1

#8799 tiflash: correct window desc name.
  tiflash/use-tiflash.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XS, v6.1, needs-cherry-pick-release-6.1

#8804 glossary update
  TOC-tidb-cloud.md
  _index.md
  overview.md
  quick-start-with-tidb.md
  releases/release-5.0.0.md
  tidb-cloud/_index.md
  tidb-cloud/backup-and-restore.md
  tidb-cloud/changefeed-replication.md
  tidb-cloud/changefeed-sink-to-apache-kafka.md
  tidb-cloud/changefeed-sink-to-mysql.md
  tidb-cloud/connect-to-tidb-cluster.md
  tidb-cloud/create-tidb-cluster.md
  tidb-cloud/export-data-from-tidb-cloud.md
  tidb-cloud/high-availability-with-multi-az.md
  tidb-cloud/import-csv-files.md
  tidb-cloud/import-parquet-files.md
  tidb-cloud/limitations-and-quotas.md
  tidb-cloud/manage-user-access.md
  tidb-cloud/migrate-data-into-tidb.md
  tidb-cloud/migrate-from-amazon-s3-or-gcs.md
  tidb-cloud/migrate-from-aurora-bulk-import.md
  tidb-cloud/monitor-built-in-alerting.md
  tidb-cloud/monitor-datadog-integration.md
  tidb-cloud/monitor-prometheus-and-grafana-integration.md
  tidb-cloud/monitor-tidb-cluster.md
  tidb-cloud/release-notes-2020.md
  tidb-cloud/release-notes-2021.md
  tidb-cloud/release-notes-2022.md
  tidb-cloud/scale-tidb-cluster.md
  tidb-cloud/select-cluster-tier.md
  tidb-cloud/set-up-vpc-peering-connections.md
  tidb-cloud/size-your-cluster.md
  tidb-cloud/tidb-cloud-auditing.md
  tidb-cloud/tidb-cloud-billing-tcu.md
  tidb-cloud/tidb-cloud-billing.md
  tidb-cloud/tidb-cloud-faq.md
  tidb-cloud/tidb-cloud-glossary.md
  tidb-cloud/tidb-cloud-intro.md
  tidb-cloud/tidb-cloud-poc.md
  tidb-cloud/tidb-cloud-quickstart.md
  tidb-cloud/tidb-cloud-support.md
  tidb-cloud/upgrade-tidb-cluster.md
  tidb-cloud/use-htap-cluster.md
Labels: status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/XL

#8772 Update online unsafe recovery doc
  online-unsafe-recovery.md
  pd-control.md
  tikv-control.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/L, area/engine, v6.1, needs-cherry-pick-release-6.1

#8742 tikv: add a new config item `background-error-recovery-window`
  tikv-configuration-file.md
  tikv-control.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/S, area/engine, type/compatibility-or-feature-change, v6.1, needs-cherry-pick-release-6.1

#8773 update docs about global kill #9499
  sql-statements/sql-statement-kill.md
  tidb-configuration-file.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/M, area/sql-infra, type/compatibility-or-feature-change, v6.1, needs-cherry-pick-release-6.1

#8805 cloud: make FAQs as an independent chapter
  TOC-tidb-cloud.md
Labels: type/enhancement, status/can-merge, status/LGT1, translation/no-need, area/tidb-cloud

#8777 tidb-functions: update tidb-functions.md doc
  functions-and-operators/tidb-functions.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/M, area/engine, needs-cherry-pick-release-6.0, v6.1, needs-cherry-pick-release-6.1

#8720 system-variables: add system variable tidb_gc_max_wait_time
  garbage-collection-configuration.md
  system-variables.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/S, area/transaction, type/compatibility-or-feature-change, v6.1, needs-cherry-pick-release-6.1

#8741 docs: add the usage for the join order hint
  optimizer-hints.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/M, area/planner, v6.1, needs-cherry-pick-release-6.1

#8671 Add optimized batch update of hotspot indexes to release-6.0.0-dmr
  releases/release-6.0.0-dmr.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/XS, area/engine, needs-cherry-pick-release-6.0, needs-cherry-pick-release-6.1

#8796 cloud: Add password policy
  tidb-cloud/manage-user-access.md
  tidb-cloud/tidb-cloud-billing.md
Labels: status/can-merge, status/LGT2, translation/no-need, require-LGT2, size/S, area/tidb-cloud

#8792 cloud: update PoC entries
  tidb-cloud/release-notes-2022.md
  tidb-cloud/tidb-cloud-poc.md
  tidb-cloud/tidb-cloud-quickstart.md
Labels: status/can-merge, status/LGT2, translation/no-need, do-not-merge/hold, size/S, area/tidb-cloud

#8762 json-functions: Update status and links
  functions-and-operators/json-functions.md
Labels: type/enhancement, translation/doing, status/can-merge, status/LGT2, size/S, area/sql-infra, ONCALL

#8822 Revert "Changed format_version default value to 4"
  tiflash/tiflash-configuration.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XS, type/compatibility-or-feature-change, area/bigdata, v6.1, needs-cherry-pick-release-6.1

#8774 update doc about show analyze status #9497
  information-schema/information-schema-analyze-status.md
  mysql-schema.md
  sql-statements/sql-statement-show-analyze-status.md
  statistics.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/L, area/sql-infra, v6.1, needs-cherry-pick-release-6.1

#8827 disable dispatch 6.1 for now
  .github/workflows/dispatch.yml
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XS

#8776 use customized region size
  TOC.md
  best-practices/massive-regions-best-practices.md
  tikv-configuration-file.md
  tune-region-performance.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/M, area/engine, v6.1, needs-cherry-pick-release-6.1

#8705 Add non-transactional DML statement
  TOC.md
  error-codes.md
  non-transactional-dml.md
  sql-statements/sql-statement-batch.md
  system-variables.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/XL, area/transaction, v6.1, needs-cherry-pick-release-6.1

#8831 add back a missing default value
  tidb-configuration-file.md
Labels: type/bug-fix, status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/XS, needs-cherry-pick-release-6.0, needs-cherry-pick-release-6.1

#8778 docs: analyze memory quota
  statistics.md
  system-variables.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/M, area/planner, type/compatibility-or-feature-change, v6.1, needs-cherry-pick-release-6.1

#8806 add docContentPipeline
  package-lock.json
  package.json
  scripts/concatMdByToc.js
  scripts/docContentPipeline.js
  scripts/filterCloudDoc.js
  scripts/utils.js
Labels: status/can-merge, status/LGT1, translation/no-need, require-LGT1, do-not-merge/hold, size/XXL

#8835 cloud: Update storage size for dev tier
  tidb-cloud/release-notes-2021.md
  tidb-cloud/select-cluster-tier.md
Labels: status/can-merge, status/LGT2, translation/no-need, size/XS, type/compatibility-or-feature-change, area/tidb-cloud

#8842 Refine custom content scripts
  scripts/docContentPipeline.js
  scripts/merge_by_toc.py
Labels: status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/L

#8843 v6.1: add experimental warning
  system-variables.md
  tidb-configuration-file.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, v6.1, needs-cherry-pick-release-6.1

#8846 Add scripts
  latest_commit.json
  package-lock.json
  package.json
  scripts/concatMdByToc.js
  scripts/filterCloudDoc.js
  scripts/filterUpdateFiles.js
  scripts/merge_by_toc.py
  scripts/utils.js
Labels: status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/XXL

#8844 tikv: Fix storage.api-version position
  tikv-configuration-file.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT2, size/M, v6.1, needs-cherry-pick-release-6.1

#8850 fix 404 caused by deleting adopters.md
  _index.md
Labels: type/bug-fix, status/can-merge, status/LGT1, translation/no-need, size/XS

#8849 cloud: Update basic-sql-operations.md
  TOC-tidb-cloud.md
  basic-sql-operations.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/S, area/tidb-cloud

#8847 add-daily-i18n-translation-update
  .github/workflows/cron.yml
  .gitignore
Labels: status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/M

#8834 remove links to tidb-ansible
  best-practices/high-concurrency-best-practices.md
  deploy-monitoring-services.md
  tidb-troubleshooting-map.md
Labels: type/enhancement, translation/doing, status/can-merge, status/LGT2, size/M, ONCALL, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1

#8857 add dispatch
  .github/workflows/dispatch.yml
Labels: status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/S

#8852 Ci: update exclude-links and add download step from docs repo
  .github/exclude-links.txt
  .github/workflows/link.yaml
Labels: status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/M

#8859 Add experimental warning for customized region size
  tikv-configuration-file.md
  tune-region-performance.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/XS, area/engine, v6.1, needs-cherry-pick-release-6.1

#8860 add 6.1.0 benchmark reports
  TOC.md
  benchmark/benchmark-sysbench-v6.1.0-vs-v6.0.0.md
  benchmark/v6.1-performance-benchmarking-with-tpcc.md
  benchmark/v6.1-performance-benchmarking-with-tpch.md
  media/sysbench_v600vsv610_point_select.png
  media/sysbench_v600vsv610_read_write.png
  media/sysbench_v600vsv610_update_index.png
  media/sysbench_v600vsv610_update_non_index.png
  media/tpcc_v600_vs_v610.png
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XL, v6.1, needs-cherry-pick-release-6.1

#8790 add system variable tidb_max_auto_analyze_time
  statistics.md
  system-variables.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/S, area/sql-infra, v6.1, needs-cherry-pick-release-6.1

#8868 tiup: bump version to v6.1
  production-deployment-using-tiup.md
  quick-start-with-tidb.md
  scale-tidb-using-tiup.md
  tiup/tiup-cluster.md
  tiup/tiup-component-cluster-deploy.md
  tiup/tiup-component-management.md
  tiup/tiup-mirror.md
  tiup/tiup-playground.md
  upgrade-tidb-using-tiup.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, v6.1, needs-cherry-pick-release-6.1

#8745 docs: details for dynamic mode and globalstats
  statistics.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, status/LGT2, size/M, area/planner, v6.1, needs-cherry-pick-release-6.1

#8851 Fix broken link
  .github/exclude-links.txt
  develop/dev-guide-schema-design-overview.md
Labels: type/bug-fix, status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/XS, needs-cherry-pick-release-6.1

#8681 clinic: update the data downloading link with description
  clinic/clinic-user-guide-for-tiup.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT2, size/S, area/clinic, needs-cherry-pick-release-6.0, needs-cherry-pick-release-6.1

#8771 docs: stats guide for setting static to dynamic
  partitioned-table.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, status/LGT2, size/L, area/planner, v6.1, needs-cherry-pick-release-6.1

#8752 performance tuning: overview + OLTP practices
  TOC.md
  media/performance/user_response_time_en.png
  performance-tuning-overview.md
  performance-tuning-practices.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/XXL, area/diagnosis, v6.1, needs-cherry-pick-release-6.1

#8821 fix two sysvars' default values
  releases/release-6.0.0-dmr.md
  system-variables.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/S, needs-cherry-pick-release-6.0, v6.1, needs-cherry-pick-release-6.1

#8889 [Debug] outdated code and table name
  develop/dev-guide-bookshop-schema-design.md
  develop/dev-guide-create-table.md
  develop/dev-guide-delete-data.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/S, area/develop, needs-cherry-pick-release-6.1

#8814 add 6.1.0 release notes
  TOC.md
  _index.md
  releases/release-6.1.0.md
  releases/release-notes.md
  releases/release-timeline.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/XL, v6.1, needs-cherry-pick-release-6.1

#8828 add description of how to modify TiKV configuration
  tune-tikv-memory-performance.md
Labels: type/enhancement, requires-version-specific-changes, translation/from-docs-cn, status/can-merge, status/LGT2, size/XS, area/engine, ONCALL, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.0, needs-cherry-pick-release-6.1

#8902 DP: replace ecosystem tools with migration tools
  best-practices/tidb-best-practices.md
  cached-tables.md
  clustered-indexes.md
  migration-tools.md
  releases/release-5.3.0.md
  releases/release-6.0.0-dmr.md
  table-filter.md
  temporary-tables.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT1, status/LGT2, size/M, area/migrate, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.0, needs-cherry-pick-release-6.1

#8858 add glossary for v6.1
  glossary.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XS, v6.1, needs-cherry-pick-release-6.1

#8888 bump version in all docs
  check-before-deployment.md
  dm/quick-start-create-task.md
  download-ecosystem-tools.md
  replicate-data-to-kafka.md
  ticdc/manage-ticdc.md
  tidb-binlog/get-started-with-tidb-binlog.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/S, v6.1, needs-cherry-pick-release-6.1

#8910 add description for locking function when timeout = -1
  functions-and-operators/locking-functions.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XS, area/sql-infra, v6.1, needs-cherry-pick-release-6.1

#8788 performance tuning: Key metrics on performance overview
  TOC.md
  grafana-overview-dashboard.md
  grafana-pd-dashboard.md
  grafana-performance-overview-dashboard.md
  grafana-tidb-dashboard.md
  grafana-tikv-dashboard.md
  performance-tuning-practices.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, status/LGT2, size/L, area/diagnosis, v6.1, needs-cherry-pick-release-6.1

#8894 ci: Use lycheeignore to check broken links
  .github/exclude-links.txt
  .github/workflows/link.yaml
  .lycheeignore
Labels: status/can-merge, status/LGT2, translation/no-need, size/M

#8915 6.1: modify the value of a non-txn dml variable
  system-variables.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XS, v6.1, needs-cherry-pick-release-6.1

#8914 fix release notes and update release date
  releases/release-6.1.0.md
  releases/release-timeline.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/M, v6.1, needs-cherry-pick-release-6.1

#8917 ticdc: make kafka topic rule clear for avro codec
  ticdc/manage-ticdc.md
  ticdc/ticdc-avro-protocol.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, status/LGT2, size/M, area/ticdc, v6.1, needs-cherry-pick-release-6.1

#8920 dev-guide: update Cloud signup URL
  develop/dev-guide-build-cluster-in-cloud.md
Labels: translation/done, status/can-merge, status/LGT1, require-LGT1, size/XS, area/develop, needs-cherry-pick-release-6.1

#8913 cloud: update password reset policy
  tidb-cloud/manage-user-access.md
  tidb-cloud/release-notes-2022.md
Labels: status/can-merge, status/LGT1, translation/no-need, type/compatibility-or-feature-change, area/tidb-cloud

#8866 Update experimental features for v6.1
  basic-features.md
  experimental-features.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/L, v6.1, needs-cherry-pick-release-6.1

#8895 performance tuning: add doc for tuning methods
  TOC.md
  performance-tuning-methods.md
  performance-tuning-overview.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, status/LGT2, size/XL, area/diagnosis, v6.1, needs-cherry-pick-release-6.1

#8928 trigger pdf
  tidb-in-kubernetes.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, size/XS, needs-cherry-pick-release-5.4

#8930 trigger dispatch
  .github/workflows/dispatch.yml
Labels: status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/XS, v6.1, needs-cherry-pick-release-6.1

#8810 Add outdated docs
  TOC.md
  develop/dev-guide-outdated-for-django.md
  develop/dev-guide-outdated-for-go-sql-driver-mysql.md
  develop/dev-guide-outdated-for-gorm.md
  develop/dev-guide-outdated-for-hibernate-orm.md
  develop/dev-guide-outdated-for-laravel.md
  develop/dev-guide-outdated-for-python-mysql-connector.md
  develop/dev-guide-outdated-for-sqlalchemy.md
  develop/dev-guide-overview.md
Labels: status/can-merge, status/LGT2, translation/no-need, size/XXL, area/develop, needs-cherry-pick-release-6.1

#8935 Remove experimental of List COLUMNS partitioning
  partitioned-table.md
Labels: translation/done, status/can-merge, status/LGT1, status/LGT2, size/XS, area/sql-infra, needs-cherry-pick-release-6.1

#8932 Update cron.yml
  .github/workflows/cron.yml
Labels: status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/M

#8786 cloud: add auditing fields
  tidb-cloud/tidb-cloud-auditing.md
Labels: type/enhancement, status/can-merge, status/LGT2, translation/no-need, require-LGT2, size/M, area/tidb-cloud

#8926 performance: add link to tuning methods
  grafana-performance-overview-dashboard.md
Labels: status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/S, area/diagnosis, needs-cherry-pick-release-6.1

#8941 add vale rule to check chinese punctuation
  styles/PingCAP/ZhPunctuation.yml
Labels: type/enhancement, status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/XS, needs-cherry-pick-release-6.1

#8946 tispark: remove description of not supporting Spark 3.x
  explore-htap.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, needs-cherry-pick-release-5.2, area/bigdata, needs-cherry-pick-release-5.3, ONCALL, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.0, needs-cherry-pick-release-6.1

#8921 TiDB Dashboard: Add help for ngm using TiUP Playground
  dashboard/dashboard-faq.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/S, area/diagnosis, needs-cherry-pick-release-6.0, needs-cherry-pick-release-6.1

#8937 Add link to `tidb_max_auto_analyze_time` system variables
  releases/release-6.1.0.md
Labels: type/enhancement, translation/doing, status/can-merge, status/LGT2, size/XS, needs-cherry-pick-release-6.1

#8957 DM: fix 404 caused by removing a dm doc without aliases to stable
  migrate-aurora-to-tidb.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, area/migrate

#8870 cloud: modifying project settings
  tidb-cloud/connect-to-tidb-cluster.md
  tidb-cloud/monitor-built-in-alerting.md
  tidb-cloud/monitor-datadog-integration.md
  tidb-cloud/monitor-prometheus-and-grafana-integration.md
  tidb-cloud/monitor-tidb-cluster.md
  tidb-cloud/release-notes-2022.md
  tidb-cloud/set-up-vpc-peering-connections.md
  tidb-cloud/tidb-cloud-poc.md
Labels: status/can-merge, status/LGT2, translation/no-need, size/M, type/compatibility-or-feature-change, area/tidb-cloud

#8603 deploy using tiup: align three PRs
  clinic/clinic-user-guide-for-tiup.md
  hardware-and-software-requirements.md
  migration-tools.md
  production-deployment-using-tiup.md
  scale-tidb-using-tiup.md
  tiup/tiup-cluster.md
  upgrade-tidb-using-tiup.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT1, status/LGT2, size/XL, area/tiup, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.0, needs-cherry-pick-release-6.1

#8964 br: fix 404 caused by removing a doc without adding aliases
  backup-and-restore-using-dumpling-lightning.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XS, area/br

#8939 Use 'Rails' not 'RoR' to talk about Ruby on Rails
  releases/release-6.1.0.md
Labels: type/bug-fix, translation/doing, status/can-merge, status/LGT1, require-LGT1, size/XS, area/sql-infra, needs-cherry-pick-release-6.1

#8959 ci: remove exclude github.com and add excluded links
  .github/workflows/link.yaml
  .lycheeignore
Labels: status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/S

#8966 Fix format in partitioned-table.md
  partitioned-table.md
Labels: type/bug-fix, status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/XS, needs-cherry-pick-release-6.1

#8958 Clinic: add quick-start-with-clinic
  TOC.md
  clinic/quick-start-with-clinic.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, status/LGT2, size/L, area/clinic, needs-cherry-pick-release-6.0, needs-cherry-pick-release-6.1

#8976 Remove aliases from master
  develop/dev-guide-outdated-for-django.md
  develop/dev-guide-outdated-for-go-sql-driver-mysql.md
  develop/dev-guide-outdated-for-gorm.md
  develop/dev-guide-outdated-for-hibernate-orm.md
  develop/dev-guide-outdated-for-laravel.md
  develop/dev-guide-outdated-for-python-mysql-connector.md
  develop/dev-guide-outdated-for-sqlalchemy.md
  develop/dev-guide-overview.md
Labels: status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/XS, area/develop

#8977 add aliases for v6.1
  develop/dev-guide-outdated-for-django.md
  develop/dev-guide-outdated-for-go-sql-driver-mysql.md
  develop/dev-guide-outdated-for-gorm.md
  develop/dev-guide-outdated-for-hibernate-orm.md
  develop/dev-guide-outdated-for-laravel.md
  develop/dev-guide-outdated-for-python-mysql-connector.md
  develop/dev-guide-outdated-for-sqlalchemy.md
  develop/dev-guide-overview.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/XS, area/develop

#8973 chore: add 6.2 to and remove 6.0 and 4.0 from pr template
  .github/pull_request_template.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/XS

#8967 cloud: Update cluster creation steps
  tidb-cloud/connect-to-tidb-cluster.md
  tidb-cloud/create-tidb-cluster.md
  tidb-cloud/release-notes-2022.md
  tidb-cloud/tidb-cloud-quickstart.md
Labels: status/can-merge, status/LGT2, translation/no-need, size/L, type/compatibility-or-feature-change, area/tidb-cloud

#8980 ci: set vale ambiguous word rule to suggestion alert level
  .vale.ini
  styles/PingCAP/Ambiguous.yml
Labels: status/can-merge, status/LGT1, translation/no-need, require-LGT1, needs-cherry-pick-release-5.0, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1

#8983 chore: disable 6.1 bot
  .github/workflows/bot.yaml
Labels: status/can-merge, status/LGT1, translation/no-need, require-LGT1, needs-cherry-pick-release-6.1

#8992 Fix a TOC display issue
  TOC.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XS, needs-cherry-pick-release-6.1

#8634 develop: add dev guide playground gitpod
  TOC.md
  develop/dev-guide-playground-gitpod.md
  media/develop/playground-gitpod-summary.png
  media/develop/playground-gitpod-workspace-init.png
  media/develop/playground-gitpod-workspace-ready.png
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/L, area/develop, needs-cherry-pick-release-6.1

#8998 refine toc
  TOC.md
Labels: status/can-merge, status/LGT2, translation/no-need, size/XS, area/develop

#8995 ci: Modify .lycheeignore with Rust Regex pattern
  .lycheeignore
Labels: type/bug-fix, status/can-merge, status/LGT2, translation/no-need, size/S

#8982 sync-diff/ update sync-diff upstream-downstream-diff.md document
  sync-diff-inspector/upstream-downstream-diff.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT2, size/S, ONCALL, needs-cherry-pick-release-5.4, area/sync-diff-inspector, needs-cherry-pick-release-6.1

#8981 tiup: describe how to merge two offline mirrors when upgrading tidb using tiup
  tiup/tiup-component-cluster-check.md
  upgrade-tidb-using-tiup.md
Labels: type/bug-fix, type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT1, status/LGT2, size/S, ONCALL, area/deploy-upgrade-maintain, needs-cherry-pick-release-6.1

#8838 Add deploy `tidb-test` step before `tiup cluster exec tidb-test`
  check-before-deployment.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, status/LGT2, size/M, area/tiup, ONCALL, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.0, needs-cherry-pick-release-6.1

#8903 Fix a typo in v5.4-performance-benchmarking-with-tpcc
  benchmark/v5.4-performance-benchmarking-with-tpcc.md
Labels: type/bug-fix, contribution, status/can-merge, status/LGT1, status/LGT2, translation/no-need, first-time-contributor, needs-cherry-pick-release-5.0, size/XS, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.0, needs-cherry-pick-release-6.1

#8991 update the maximum size of transaction
  transaction-overview.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XS, area/transaction, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1

#9028 ticdc: add aliases for incremental replication in 6.1
  migrate-from-tidb-to-tidb.md
Labels: type/bug-fix, status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/XS, area/ticdc

#8315 Rewrite scripts/get-issue-number.py
  scripts/get-issue-number.py
Labels: status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/M, needs-cherry-pick-release-6.1

#8955 Update clinic-data-instruction-for-tiup.md
  clinic/clinic-data-instruction-for-tiup.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, status/LGT2, size/XS, area/clinic, needs-cherry-pick-release-6.0, needs-cherry-pick-release-6.1

#7587 tiup bench: Add clean up instruction for tpcc
  tiup/tiup-bench.md
Labels: type/enhancement, translation/doing, status/can-merge, status/LGT1, status/LGT2, size/XS, area/tiup, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1

#8954 tidbcloud: update TCU billing for gcp/asia-east1
  tidb-cloud/tidb-cloud-billing-tcu.md
Labels: status/can-merge, status/LGT2, translation/no-need, size/XS, type/compatibility-or-feature-change, area/tidb-cloud

#8970 cloud: remove the bucket region field from the import interface
  tidb-cloud/import-csv-files.md
  tidb-cloud/import-parquet-files.md
  tidb-cloud/import-sample-data.md
  tidb-cloud/migrate-from-aurora-bulk-import.md
  tidb-cloud/tidb-cloud-quickstart.md
Labels: status/can-merge, status/LGT2, translation/no-need, size/M, type/compatibility-or-feature-change, area/tidb-cloud

#8969 cloud: manage user profiles
  TOC-tidb-cloud.md
  tidb-cloud/backup-and-restore.md
  tidb-cloud/connect-to-tidb-cluster.md
  tidb-cloud/create-tidb-cluster.md
  tidb-cloud/manage-user-access.md
  tidb-cloud/release-notes-2022.md
  tidb-cloud/tidb-cloud-billing.md
  tidb-cloud/tidb-cloud-quickstart.md
Labels: status/can-merge, status/LGT2, translation/no-need, size/M, type/compatibility-or-feature-change, area/tidb-cloud

#9163 cloud: Update current ip
  tidb-cloud/connect-to-tidb-cluster.md
Labels: type/bug-fix, status/can-merge, status/LGT1, translation/no-need, require-LGT1, area/tidb-cloud

#9206 ambiguous-words: clarify ambiguous words
  alert-rules.md
  best-practices/java-app-best-practices.md
  br/backup-and-restore-use-cases.md
  daily-check.md
  dm/deploy-a-dm-cluster-using-tiup.md
  dumpling-overview.md
  faq/manage-cluster-faq.md
  migrate-large-mysql-to-tidb.md
  pd-control.md
  releases/release-5.3.0.md
  schedule-replicas-by-topology-labels.md
  shard-row-id-bits.md
  sql-plan-management.md
  statement-summary-tables.md
  storage-engine/titan-overview.md
  system-variables.md
  ticdc/troubleshoot-ticdc.md
  tidb-configuration-file.md
  tidb-lightning/tidb-lightning-distributed-import.md
  tidb-lightning/tidb-lightning-prechecks.md
  tidb-troubleshooting-map.md
  tiflash/troubleshoot-tiflash.md
  tikv-configuration-file.md
  troubleshoot-hot-spot-issues.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT2, size/L, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, ambiguous-words

#9034 cloud: update TOC-tidb-cloud for data migration and backup/restore scenarios
  TOC-tidb-cloud.md
  tidb-cloud/_index.md
Labels: type/enhancement, status/can-merge, status/LGT2, translation/no-need, size/S, area/tidb-cloud

#9268 6.1: delete tidb_enable_batch_dml
  releases/release-6.1.0.md
  sql-statements/sql-statement-show-variables.md
  system-variables.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, type/compatibility-or-feature-change, ONCALL, needs-cherry-pick-release-6.1

#9301 Fix a wrong issue numer in 6.1 rn
  releases/release-6.1.0.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, needs-cherry-pick-release-6.1

#9299 release and tiflash: remove description about downgrade
  releases/release-5.4.0.md
  tiflash/tiflash-configuration.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT1, status/LGT2, size/XS, ONCALL, needs-cherry-pick-release-5.4, area/deploy-upgrade-maintain, needs-cherry-pick-release-6.1

#9270 sql: align 3 oncall prs
  generated-columns.md
  partitioned-table.md
  system-variables.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/S, area/sql-infra, ONCALL, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.0

#9317 chore: refine pr reminder bot
  scripts/pr_reminder.py
  scripts/pr_reminder_basedon_assignee.py
Labels: status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/S

#9314 Fix typos in placement-rules-in-sql.md
  placement-rules-in-sql.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XS, area/sql-infra, needs-cherry-pick-release-6.0, needs-cherry-pick-release-6.1

#9315 fix length limitations of longtext and longblob
  data-type-string.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT1, needs-cherry-pick-release-4.0, require-LGT1, needs-cherry-pick-release-5.0, size/XS, area/sql-infra, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.0, needs-cherry-pick-release-6.1

#9244 cloud: update the faq for migration path
  tidb-cloud/tidb-cloud-faq.md
Labels: type/bug-fix, status/can-merge, status/LGT2, translation/no-need, area/tidb-cloud

#9310 Align 8 PRs
  auto-increment.md
  explain-subqueries.md
  functions-and-operators/aggregate-group-by-functions.md
  functions-and-operators/window-functions.md
  grafana-tidb-dashboard.md
  mysql-compatibility.md
  placement-rules-in-sql.md
  schedule-replicas-by-topology-labels.md
  sql-statements/sql-statement-add-column.md
  statistics.md
  tiflash-deployment-topology.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/L, ONCALL, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.0, needs-cherry-pick-release-6.1

#9336 migration-tidb-faq: update now there is support for `load data ... replace into`
  faq/migration-tidb-faq.md
Labels: translation/doing, status/can-merge, status/LGT1, require-LGT1, size/XS, area/sql-infra, needs-cherry-pick-release-6.0, needs-cherry-pick-release-6.1

#9329 Correct the default value of enable-timestamp
  tidb-configuration-file.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XS, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, ONCALL, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.0, needs-cherry-pick-release-6.1

#9004 ci: update exclude link pattern in .lycheeignore
  .lycheeignore
Labels: status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/XS, ONCALL

#9349 Refine ci of internal link checks
  .github/workflows/ci.yaml
  scripts/filterCloudDoc.js
  scripts/filterNonCloudDoc.js
  scripts/utils.js
Labels: status/can-merge, status/LGT1, translation/no-need, size/L, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1

#9166 ticdc: adjust TOC and reorganize troubleshooting & faq
  TOC.md
  faq/migration-tidb-faq.md
  migrate-from-tidb-to-tidb.md
  production-deployment-using-tiup.md
  replicate-betwwen-primary-and-secondary-clusters.md
  ticdc/deploy-ticdc.md
  ticdc/ticdc-faq.md
  ticdc/ticdc-overview.md
  ticdc/troubleshoot-ticdc.md
Labels: type/refactor, translation/from-docs-cn, status/can-merge, status/LGT2, size/XXL, area/ticdc, needs-cherry-pick-release-6.1

#9361 fix broken links
  dm/dm-overview.md
  releases/release-2.1-ga.md
  releases/release-3.0.0-beta.1.md
  releases/release-3.0.0-rc.1.md
Labels: type/bug-fix, status/can-merge, status/LGT1, translation/no-need, require-LGT1, needs-cherry-pick-release-6.1

#9356 Delete performance.max-memory
  tidb-configuration-file.md
Labels: type/bug-fix, status/can-merge, status/LGT1, require-LGT1, needs-cherry-pick-release-5.0, size/XS, area/planner, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, ONCALL, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.0, needs-cherry-pick-release-6.1

#9357 Add a note to some tikv configs
  tikv-configuration-file.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/S, area/engine, ONCALL

#9359 sync base backoff time for troubleshoot-lock-conflicts.md
  troubleshoot-lock-conflicts.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XS, needs-cherry-pick-release-5.4, area/deploy-upgrade-maintain, needs-cherry-pick-release-6.0, needs-cherry-pick-release-6.1

#9316 Update data-type-numeric.md
  data-type-numeric.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XS, area/sql-infra, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.0, needs-cherry-pick-release-6.1

#9358 Update an outdated TiKV alert in v5.3
  alert-rules.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XS, area/engine, ONCALL

#9355 Fix a typo in 6.0 release notes
  releases/release-6.0.0-dmr.md
  sql-statements/sql-statement-show-collation.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/S, ONCALL, needs-cherry-pick-release-6.0, needs-cherry-pick-release-6.1

#9351 Fix the format of issue number
  releases/release-2.0.9.md
  releases/release-3.0.0-beta.1.md
  releases/release-3.0.16.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XS, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.0, needs-cherry-pick-release-6.1

#9386 fix description about no collation framework
  character-set-and-collation.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XS, area/sql-infra, needs-cherry-pick-release-6.0, needs-cherry-pick-release-6.1

#9318 tikv-configuration-file: add unit for raftstore.capacity
  tikv-configuration-file.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT2, size/XS, area/engine, needs-cherry-pick-release-6.1

#9404 Revert "chore: refine pr reminder bot"
  scripts/pr_reminder.py
  scripts/pr_reminder_basedon_assignee.py
Labels: status/can-merge, status/LGT1, translation/no-need, require-LGT1

#9394 cloud: update release-notes-2022
  tidb-cloud/release-notes-2022.md
Labels: status/can-merge, status/LGT2, translation/no-need, size/M, type/compatibility-or-feature-change, area/tidb-cloud

#9385 add warning for system variable tidb_skip_utf8_check
  best-practices/haproxy-best-practices.md
  character-set-and-collation.md
  system-variables.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/S, area/sql-infra, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1

#9335 [Debug] hide real url
  develop/dev-guide-build-cluster-in-cloud.md
  develop/dev-guide-sample-application-java.md
  develop/dev-guide-sample-application-spring-boot.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/S, area/develop, needs-cherry-pick-release-6.1

#9403 develop: delete archived docs dev-guide-outdated-for-hibernate-orm.md from master
  TOC.md
  develop/dev-guide-outdated-for-hibernate-orm.md
  develop/dev-guide-sample-application-java.md
Labels: type/enhancement, status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/XL, area/develop
