Repository pingcap/docs, pull requests merged in 2022-11, with the labels that each got.

#11100 sysvar: correct sysvar information
  releases/release-6.2.0.md
  releases/release-6.3.0.md
  system-variables.md
Labels: type/bug-fix, requires-version-specific-changes, translation/doing, status/can-merge, status/LGT2, size/L, needs-cherry-pick-release-6.2, needs-cherry-pick-release-6.3

#10874 tikv: modify TiKV & PD config docs for TiKV API v2
  experimental-features.md
  pd-configuration-file.md
  tikv-configuration-file.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/M, area/engine, type/compatibility-or-feature-change, v6.4

#11024 PD: modify the rank-formula-version from experimental to GA
  experimental-features.md
  pd-control.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/S, type/compatibility-or-feature-change, v6.4

#11104 Update the processlist column information
  information-schema/information-schema-processlist.md
Labels: type/bug-fix, translation/done, status/can-merge, status/LGT2, size/S, area/sql-infra, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.3

#11107 cloud: add beta to serverless tier
  develop/dev-guide-build-cluster-in-cloud.md
  tidb-cloud/backup-and-restore.md
  tidb-cloud/built-in-monitoring.md
  tidb-cloud/changefeed-sink-to-apache-kafka.md
  tidb-cloud/connect-to-tidb-cluster.md
  tidb-cloud/delete-tidb-cluster.md
  tidb-cloud/monitor-built-in-alerting.md
  tidb-cloud/monitor-datadog-integration.md
  tidb-cloud/monitor-prometheus-and-grafana-integration.md
  tidb-cloud/monitor-tidb-cluster.md
  tidb-cloud/pause-or-resume-tidb-cluster.md
  tidb-cloud/release-notes-2021.md
  tidb-cloud/release-notes-2022.md
  tidb-cloud/scale-tidb-cluster.md
  tidb-cloud/select-cluster-tier.md
  tidb-cloud/size-your-cluster.md
  tidb-cloud/third-party-monitoring-integrations.md
  tidb-cloud/tidb-cloud-billing.md
  tidb-cloud/tidb-cloud-poc.md
  tidb-cloud/tidb-cloud-quickstart.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/M, area/tidb-cloud

#10930 Update scale-tidb-cluster.md
  tidb-cloud/scale-tidb-cluster.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/S, area/tidb-cloud

#11073 ticdc: recommand user to use ticdc
  ecosystem-tool-user-case.md
  migration-tools.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT1, status/LGT2, size/XS, area/ticdc, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2, needs-cherry-pick-release-6.3

#10977 dm: update precheck
  dm/dm-precheck.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/S, area/dm, v6.4

#11101 lightning: add a faq about placement rules in sql
  media/lightning-faq-situation-1.jpg
  media/lightning-faq-situation-2.jpg
  media/lightning-faq-source-cluster-topology.jpg
  tidb-lightning/tidb-lightning-faq.md
Labels: translation/doing, status/can-merge, status/LGT2, size/M, area/tidb-lightning, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.3

#10990 cloud: add a new article about naming conventions for data import
  TOC-tidb-cloud.md
  tidb-cloud/naming-conventions-for-data-import.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/L, area/tidb-cloud

#11102 *: remove TiSpark from TiDB architecture diagrams
  media/tidb-architecture-v6.png
  media/tidb-storage-architecture-1.png
  tidb-architecture.md
  tidb-storage.md
  tiflash/tiflash-overview.md
Labels: translation/doing, status/can-merge, status/LGT2, size/XS

#10966 dm: add extend columns routes usage
  dm/dm-key-features.md
  migrate-small-mysql-shards-to-tidb.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/L, area/dm, v6.4

#11098 pitr: support restart log-backup task and remove several know issues
  br/br-log-command-line.md
  br/pitr-known-issues.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, status/LGT2, size/M, area/br, v6.4

#10783 tidb: add document for external timestamp read
  TOC.md
  stale-read.md
  system-variables.md
  tidb-external-ts.md
Labels: translation/done, status/can-merge, status/LGT2, size/L, area/scheduling, type/compatibility-or-feature-change, v6.4

#11096 dm: add description about mysql-instance.meta
  dm/task-configuration-file-full.md
  migrate-aurora-to-tidb.md
  migrate-large-mysql-shards-to-tidb.md
  migrate-large-mysql-to-tidb.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/XS, area/dm, v6.4

#10458 update information-schema/information-schema-tiflash-replica.md
  information-schema/information-schema-tiflash-replica.md
  quick-start-with-htap.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/S, area/bigdata, v6.4

#11118 Update OS info
  hardware-and-software-requirements.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT2, size/XS, area/deploy-upgrade-maintain

#10910 config, sysvar: update descriptions about instance sysvars
  character-set-and-collation.md
  configure-memory-usage.md
  dashboard/dashboard-slow-query.md
  enable-disk-spill-encrypt.md
  explain-joins.md
  faq/manage-cluster-faq.md
  faq/sql-faq.md
  identify-slow-queries.md
  security-compatibility-with-mysql.md
  system-variables.md
  tidb-configuration-file.md
  tiup/tiup-cluster-topology-reference.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/L, area/sql-infra, type/compatibility-or-feature-change, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2, needs-cherry-pick-release-6.3

#11123 dm: add some query status
  dm/dm-query-status.md
  dm/handle-failed-ddl-statements.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, status/LGT2, size/L, area/dm, v6.4

#11130 cloud: Add TLS constrict in select-cluster-tier.md
  tidb-cloud/select-cluster-tier.md
Labels: status/can-merge, status/LGT1, translation/no-need, first-time-contributor, size/XS

#11132 command-line-flags-for-tidb-configuration: Add missing flags
  command-line-flags-for-tidb-configuration.md
Labels: translation/doing, status/can-merge, status/LGT2, size/S, area/sql-infra, needs-cherry-pick-release-6.1, add-missing-docs, needs-cherry-pick-release-6.3

#9580 migration-tools: avoid wide table
  migrate-from-sql-files-to-tidb.md
  migration-tools.md
  releases/release-5.2.0.md
  releases/release-5.4.0.md
  tidb-cloud/migrate-data-into-tidb.md
  tidb-lightning/tidb-lightning-faq.md
Labels: type/enhancement, translation/doing, status/can-merge, status/LGT2, size/L, area/migrate, area/tidb-lightning, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2, needs-cherry-pick-release-6.3

#11135 Update troubleshoot-tiflash.md
  tiflash/troubleshoot-tiflash.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT1, status/LGT2, size/XS, area/bigdata, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.3

#11142 Update troubleshoot-ticdc.md
  ticdc/troubleshoot-ticdc.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT2, size/XS, area/ticdc, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.3

#10512 dm: update cluster name
  dm/deploy-a-dm-cluster-using-tiup.md
Labels: status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/XS, area/dm, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.3

#11147 ticdc: fix typos
  ticdc/manage-ticdc.md
  ticdc/ticdc-faq.md
  ticdc/ticdc-overview.md
  ticdc/troubleshoot-ticdc.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, area/ticdc, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.3

#10928 complement errors relating to lazy uniqueness check
  character-set-and-collation.md
  constraints.md
  log-redaction.md
  system-variables.md
  transaction-overview.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/M, v6.4

#10943 json: add document for json_storage_free
  functions-and-operators/json-functions.md
Labels: translation/done, status/can-merge, status/LGT2, size/XS, v6.4

#11152 remove json path restrictions
  data-type-json.md
Labels: translation/done, status/can-merge, status/LGT2, size/XS, v6.4

#11145 add external read doc
  sync-diff-inspector/upstream-downstream-diff.md
  ticdc/manage-ticdc.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/S, area/ticdc, v6.4

#11153 fix ngm port
  hardware-and-software-requirements.md
  tiup/tiup-cluster-topology-reference.md
Labels: translation/done, status/can-merge, status/LGT2, size/XS, ONCALL, needs-cherry-pick-release-6.0, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2, needs-cherry-pick-release-6.3

#10809 align 2 PR from docs-cn (2)
  sql-statements/sql-statement-drop-index.md
  tidb-configuration-file.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/S, ONCALL, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.0, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2, needs-cherry-pick-release-6.3

#11131 collation: remove a redundant sentence
  faq/high-reliability-faq.md
  tidb-configuration-file.md
Labels: type/bug-fix, translation/done, status/can-merge, status/LGT2, size/XS, ONCALL, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.3

#10804 align 2 PR from docs-cn
  TOC.md
  pd-configuration-file.md
  releases/release-5.1.0.md
  sql-statements/sql-statement-rename-user.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, needs-cherry-pick-release-5.0, size/M, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, ONCALL, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.0, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2, needs-cherry-pick-release-6.3

#11129 add chunk alloc system variable
  system-variables.md
  tidb-configuration-file.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/M, area/engine, type/compatibility-or-feature-change, v6.4

#10808 align 4 PR from docs-cn
  TOC.md
  functions-and-operators/miscellaneous-functions.md
  information-schema/information-schema-tidb-indexes.md
  sql-statements/sql-statement-alter-table.md
  sql-statements/sql-statement-create-database.md
  sql-statements/sql-statement-create-table.md
  sql-statements/sql-statement-show-create-database.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/L, area/sql-infra, ONCALL, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2, needs-cherry-pick-release-6.3

#10888 sql: add flashback cluster doc
  TOC.md
  experimental-features.md
  sql-statements/sql-statement-flashback-to-timestamp.md
  system-variables.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/L, area/sql-infra, type/compatibility-or-feature-change, v6.4

#11146 Change compatibility description for add index acceleration&PiTR
  system-variables.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XS, needs-cherry-pick-release-6.3

#11068 update sql-statement-alter-table-compact.md
  sql-statements/sql-statement-alter-table-compact.md
  sql-statements/sql-statement-alter-table.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/M, area/sql-infra, v6.4

#11037 add back tiflash sm4 encryption support
  encryption-at-rest.md
  tiflash/tiflash-configuration.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, area/security, size/S, v6.4

#10908 Add docs for global memory control
  TOC.md
  configure-memory-usage.md
  experimental-features.md
  information-schema/information-schema-memory-usage-ops-history.md
  information-schema/information-schema-memory-usage.md
  information-schema/information-schema.md
  system-variables.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/L, type/compatibility-or-feature-change, v6.4

#11110 Add descriptions of new panels and update the plan cache doc
  grafana-tidb-dashboard.md
  media/planCache-memoryUsage-planNum-panels.png
  sql-prepared-plan-cache.md
  system-variables.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/M, area/diagnosis, v6.4

#11120 auto-increment: update doc for the new implementation
  auto-increment.md
  experimental-features.md
  mysql-compatibility.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/M, area/sql-infra, v6.4

#10934 optimizer-hints, correlated-subquery-optimization: add docs for no_de…
  correlated-subquery-optimization.md
  optimizer-hints.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/L, area/planner, v6.4

#11124 Add tidb_auto_analyze_partition_batch_size variable
  system-variables.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/S, v6.4

#11180 add version to tiup ctl to make the command work
  best-practices/three-nodes-hybrid-deployment.md
  clinic/clinic-data-instruction-for-tiup.md
  dashboard/dashboard-ops-deploy.md
  enable-tls-between-components.md
  pd-control.md
  scale-tidb-using-tiup.md
  three-data-centers-in-two-cities-deployment.md
  ticdc/manage-ticdc.md
  tidb-control.md
  tiflash/tiflash-configuration.md
  tikv-control.md
  tiup/tiup-cluster.md
  troubleshoot-lock-conflicts.md
  troubleshoot-write-conflicts.md
Labels: type/bug-fix, translation/done, status/can-merge, status/LGT1, status/LGT2, size/M, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.3

#11186 add version to tiup ctl (2)
  dashboard/dashboard-ops-deploy.md
  migrate-from-tidb-to-mysql.md
  replicate-data-to-kafka.md
  ticdc/integrate-confluent-using-ticdc.md
Labels: type/bug-fix, translation/done, status/can-merge, status/LGT1, require-LGT1, size/S, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.3

#11189 treat Serverless Tier & Dedicated Tier traffic filter rule different
  tidb-cloud/integrate-tidbcloud-with-vercel.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/XS, area/tidb-cloud

#11184 release note: add the TiDB downloading info
  releases/release-6.1.0.md
  releases/release-6.1.1.md
  releases/release-6.1.2.md
  releases/release-6.2.0.md
  releases/release-6.3.0.md
Labels: requires-version-specific-changes, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/S, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2, needs-cherry-pick-release-6.3

#11084 Add description about user ATTRIBUTE
  TOC.md
  information-schema/information-schema-user-attributes.md
  information-schema/information-schema.md
  sql-statements/sql-statement-alter-user.md
  sql-statements/sql-statement-create-user.md
  sql-statements/sql-statement-show-columns-from.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/L, area/sql-infra, v6.4

#11119 Add description about tidb_auth_token authentication
  keywords.md
  security-compatibility-with-mysql.md
  system-variables.md
  tidb-configuration-file.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, area/security, size/S, type/compatibility-or-feature-change, v6.4

#11185 toc: remove recommended from tiup deployment
  TOC.md
  _index.md
Labels: translation/doing, status/can-merge, status/LGT1, require-LGT1, needs-cherry-pick-release-5.0, size/XS, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, area/deploy-upgrade-maintain, needs-cherry-pick-release-6.0, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2, needs-cherry-pick-release-6.3

#11206 Fix the PDF build failure caused by a special character
  tispark-overview.md
Labels: type/bug-fix, translation/doing, status/can-merge, status/LGT2, size/XS, area/bigdata

#11141 system variables: add global scope for `tidb_opt_agg_push_down`
  system-variables.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/XS, type/compatibility-or-feature-change, v6.4, for-release

#11218 learning path: updated links in learning path for 5.3
  _index.md
Labels: type/bug-fix, status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/M

#11083 docs: add config "raftstore.appy-yield-msg-size"
  dynamic-config.md
  tikv-configuration-file.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/XS, v6.4

#11088 join reorder: add missing part for dp algorithm
  join-reorder.md
  media/join-reorder-1.png
  media/join-reorder-2.png
  media/join-reorder-3.png
  media/join-reorder-4.png
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/S, area/planner, v6.4

#11103 add doc for record OOM alarm
  configure-memory-usage.md
  system-variables.md
  tidb-configuration-file.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/L, v6.4

#11225 dm: update full doc about extend routes
  dm/task-configuration-file-full.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/S, type/compatibility-or-feature-change, area/dm, v6.4

#11125 Adapt Serverless Tier in Developer Guide
  TOC-tidb-cloud.md
  TOC.md
  develop/dev-guide-build-cluster-in-cloud.md
  develop/dev-guide-sample-application-golang.md
  develop/dev-guide-sample-application-java.md
  develop/dev-guide-sample-application-spring-boot.md
Labels: type/enhancement, translation/done, status/can-merge, status/LGT2, size/L, area/develop, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2, needs-cherry-pick-release-6.3, needs-cherry-pick-release-6.4

#11233 ticdc: fix a typo
  ticdc/manage-ticdc.md
Labels: type/bug-fix, status/can-merge, status/LGT1, translation/no-need, needs-cherry-pick-release-4.0, require-LGT1, needs-cherry-pick-release-5.0, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, area/ticdc, needs-cherry-pick-release-6.0, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2, needs-cherry-pick-release-6.3

#11091 add system variable tidb_opt_prefix_index_single_scan
  system-variables.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/M, area/planner, v6.4

#11226 cloud: update release notes for 20221108
  tidb-cloud/release-notes-2022.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/S, area/tidb-cloud, for-cloud-release

#11190 optimizer: enable tidb_stats_load_sync_wait by default
  experimental-features.md
  statistics.md
  system-variables.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/S, area/planner, v6.4

#11248 *: replace the wording "modify configuration online""
  TOC.md
  configure-placement-rules.md
  dynamic-config.md
  garbage-collection-configuration.md
  pd-configuration-file.md
  pessimistic-transaction.md
  releases/release-5.1.1.md
  releases/release-6.1.0.md
  releases/release-6.2.0.md
  storage-engine/titan-configuration.md
  tikv-control.md
  tune-tikv-memory-performance.md
Labels: type/enhancement, status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/M, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.3

#11013 metrics: Add the `PD_cluster_unhealthy_tikv_nums` alert
  alert-rules.md
Labels: type/enhancement, translation/done, status/can-merge, status/LGT2, size/S, area/scheduling, v6.4

#11227 sql: add doc for flashback database
  TOC.md
  sql-statements/sql-statement-flashback-database.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/M, area/sql-infra, v6.4, for-release

#11254 pull_request_template: add v6.5
  .github/pull_request_template.md
Labels: status/can-merge, status/LGT1, translation/no-need, require-LGT1

#11228 clustered-indexes.md: change the system variable default value to ON
  clustered-indexes.md
  system-variables.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/XS, area/sql-infra, type/compatibility-or-feature-change, v6.4, for-release

#11155 data-type-string: Corrections
  data-type-string.md
Labels: translation/doing, status/can-merge, status/LGT2, size/S, area/sql-infra, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.3

#11252 transaction: add a link
  non-transactional-dml.md
Labels: type/enhancement, translation/doing, status/can-merge, status/LGT2, size/XS, area/transaction, ONCALL, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.3

#11259 Change tiflash_fine_grained_shuffle_batch_size description
  system-variables.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XS, type/compatibility-or-feature-change, v6.4, for-release

#11253 cloud: fix wrong command in dumpling export doc
  tidb-cloud/export-data-from-tidb-cloud.md
Labels: type/bug-fix, status/can-merge, status/LGT1, translation/no-need, size/M, area/tidb-cloud

#11224 k8s: in k8s -> on k8s
  TOC.md
  _index.md
  br/backup-and-restore-faq.md
  clinic/clinic-introduction.md
  clinic/clinic-user-guide-for-tiup.md
  clinic/quick-start-with-clinic.md
  ecosystem-tool-user-case.md
  ecosystem-tool-user-guide.md
  faq/faq-overview.md
  faq/manage-cluster-faq.md
  faq/upgrade-faq.md
  quick-start-with-tidb.md
  telemetry.md
  tidb-in-kubernetes.md
  tidb-operator-overview.md
  tiflash-620-upgrade-guide.md
Labels: status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/M, area/k8s, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.3

#10822 cloud integration: add dbt doc in integration section
  TOC-tidb-cloud.md
  tidb-cloud/_index.md
  tidb-cloud/integrate-tidbcloud-with-dbt.md
Labels: status/can-merge, status/LGT1, translation/no-need, first-time-contributor, size/XL, area/tidb-cloud

#11244 scale tiflash: add a SQL to check tiflash table replica
  scale-tidb-using-tiup.md
  troubleshoot-lock-conflicts.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/S, area/bigdata, ONCALL, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.3

#8144 Update CentOS 8 related info
  hardware-and-software-requirements.md
  tiflash/troubleshoot-tiflash.md
Labels: type/enhancement, translation/doing, status/can-merge, status/LGT2, size/XS, area/deploy-upgrade-maintain

#10310 hardware-and-software-requirements: Correct CentOS info
  hardware-and-software-requirements.md
Labels: translation/doing, status/can-merge, status/LGT2, size/XS, area/deploy-upgrade-maintain

#11274 clustered index: add error information about dropping primary key
  information-schema/information-schema-tables.md
Labels: type/enhancement, translation/doing, status/can-merge, status/LGT1, require-LGT1, size/XS, area/sql-infra, ONCALL, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.3

#11273 sysvar: add type info and correct some other info
  system-variables.md
Labels: type/enhancement, translation/doing, status/can-merge, status/LGT2, require-LGT1, size/M, area/sql-infra

#11281 fix a broken link
  exporting-grafana-snapshots.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XS, area/diagnosis, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2, needs-cherry-pick-release-6.3

#10935 add system variable tidb_opt_range_max_size
  system-variables.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/L, area/planner, type/compatibility-or-feature-change, v6.4, needs-cherry-pick-release-6.3

#11229 sysvar: add variables in 6.4 doc
  system-variables.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/M, type/compatibility-or-feature-change, v6.4, for-release

#11263 add config item pessimistic-txn.constraint-check-in-place-pessimistic
  system-variables.md
  tidb-configuration-file.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/S, area/transaction, type/compatibility-or-feature-change, v6.4

#11283 Refine the style of MySQL Compatibility
  mysql-compatibility.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XS, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.0, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2, needs-cherry-pick-release-6.3

#11271 tikv: Fix some words for TiKV API v2
  tikv-configuration-file.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT2, size/S, area/engine, from-doc-test, v6.4

#10870 add sequelize to 3rd party tools incompatibility
  develop/dev-guide-third-party-tools-compatibility.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, size/M, area/develop

#11278 system-variables: update tidb_enable_paging, tidb_min_paging_size, tidb_max_paging_size
  media/paging-size-impact-on-tpch.png
  system-variables.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/S, area/sql-infra, type/compatibility-or-feature-change, v6.4

#10864 *: update the row count display of probe side of IndexJoin and Apply
  correlated-subquery-optimization.md
  explain-joins.md
  explain-overview.md
  explain-subqueries.md
  optimizer-hints.md
  partitioned-table.md
  sql-statements/sql-statement-explain.md
  subquery-optimization.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XL, area/planner, v6.4, for-release

#11302 Add aliases for configuration files
  config-templates/complex-cdc.yaml
  config-templates/complex-mini.yaml
  config-templates/complex-tidb-binlog.yaml
  config-templates/complex-tiflash.yaml
  config-templates/complex-tispark.yaml
  pd-configuration-file.md
  tidb-configuration-file.md
  tikv-configuration-file.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, needs-cherry-pick-master, size/M

#11305 sysvar: delete two sysvar that has been removed from code
  system-variables.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/S, v6.4

#11280 explain-overview: update a description to consider tiflash mpp cases
  explain-overview.md
Labels: type/enhancement, translation/doing, status/can-merge, status/LGT2, size/XS, area/planner, ONCALL, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.3

#11000 add pitr and dual region doc
  tidb-cloud/backup-and-restore.md
  tidb-cloud/tidb-cloud-faq.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/L, area/tidb-cloud, for-cloud-release

#11264 Improve the database audit log feature
  TOC-tidb-cloud.md
  tidb-cloud/tidb-cloud-auditing.md
Labels: status/can-merge, status/LGT2, translation/no-need, size/S, area/tidb-cloud, for-cloud-release

#11295 cloud: update release notes for 20221115
  tidb-cloud/release-notes-2022.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/S, area/tidb-cloud, for-cloud-release

#11301 cloud: update roadmap for 202211
  tidb-cloud/tidb-cloud-roadmap.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/L, area/tidb-cloud

#11317 cloud: fix typo in roadmap
  tidb-cloud/tidb-cloud-roadmap.md
Labels: status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/XS, area/tidb-cloud

#11316 cloud: fix indentation for release note
  tidb-cloud/release-notes-2022.md
Labels: type/bug-fix, status/can-merge, status/LGT1, translation/no-need, size/XS, area/tidb-cloud

#11309 sysvar: update tidb_guarantee_linearizability information
  system-variables.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT2, size/XS, ONCALL, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2, needs-cherry-pick-release-6.3

#11304 dm: fix capitalization in heading
  dm/dm-manage-schema.md
Labels: status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/XS, area/dm, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2, needs-cherry-pick-release-6.3

#11325 cloud: update roadmap table layout
  tidb-cloud/tidb-cloud-roadmap.md
Labels: status/can-merge, status/LGT1, translation/no-need, area/tidb-cloud

#11299 Update os supports for dmr versions
  br/br-deployment.md
  hardware-and-software-requirements.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/M, area/deploy-upgrade-maintain, needs-cherry-pick-release-6.2, needs-cherry-pick-release-6.3, needs-cherry-pick-release-6.4

#11321 update server name
  clinic/clinic-data-instruction-for-tiup.md
  clinic/clinic-introduction.md
  clinic/clinic-user-guide-for-tiup.md
  clinic/quick-start-with-clinic.md
Labels: status/can-merge, status/LGT2, translation/no-need, size/M, area/clinic, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2, needs-cherry-pick-release-6.3, needs-cherry-pick-release-6.4

#11011 Add details about sysbench and the SQL Plan Cache
  benchmark/benchmark-tidb-using-sysbench.md
  media/performance/sql_plan_cache.png
  sql-prepared-plan-cache.md
Labels: translation/doing, status/can-merge, status/LGT1, status/LGT2, size/M, area/diagnosis, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.4

#11085 Added LINEAR HASH/KEY mysql compatibility
  mysql-compatibility.md
  partitioned-table.md
Labels: translation/done, status/can-merge, status/LGT2, size/S, area/sql-infra, v6.4, needs-cherry-pick-release-6.4

#11328 v6.4: update _index.md
  _index.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/M, v6.4

#11336 tiup: bump version to 6.4
  production-deployment-using-tiup.md
  scale-tidb-using-tiup.md
  tiup/tiup-cluster.md
  tiup/tiup-component-cluster-deploy.md
  tiup/tiup-component-management.md
  tiup/tiup-mirror.md
  tiup/tiup-playground.md
  upgrade-tidb-using-tiup.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/L, area/tiup, v6.4, for-release

#11339 v6.4: bump version for tools
  backup-and-restore-use-cases-for-maintain.md
  br/backup-and-restore-use-cases.md
  dm/quick-start-create-task.md
  pd-control.md
  quick-start-with-tidb.md
  ticdc/manage-ticdc.md
  tidb-binlog/get-started-with-tidb-binlog.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/M, v6.4, for-release, needs-cherry-pick-release-6.4

#11314 update the basic feature tables for v6.4
  basic-features.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/L, v6.4, needs-cherry-pick-release-6.4

#11245 add v6.4 release notes
  TOC.md
  releases/release-6.4.0.md
  releases/release-notes.md
  releases/release-timeline.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/XL, v6.4, for-release, needs-cherry-pick-release-6.4

#11093 pitr: uncommenting the annotation in the known-issues: pitr truncate
  br/pitr-known-issues.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, status/LGT2, size/XS, area/br, v6.4

#11347 Remove "v" from release notes titles
  releases/release-6.2.0.md
  releases/release-6.4.0.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XS, needs-cherry-pick-release-6.2, needs-cherry-pick-release-6.3, needs-cherry-pick-release-6.4

#11353 tikv: Fix RawKV CDC link
  tikv-configuration-file.md
Labels: type/bug-fix, status/can-merge, status/LGT2, translation/no-need, size/XS, area/engine, needs-cherry-pick-release-6.2, needs-cherry-pick-release-6.3, needs-cherry-pick-release-6.4

#11352 release notes: update TiDB download links
  releases/release-6.1.0.md
  releases/release-6.1.1.md
  releases/release-6.1.2.md
  releases/release-6.2.0.md
  releases/release-6.3.0.md
  releases/release-6.4.0.md
Labels: requires-version-specific-changes, status/can-merge, status/LGT1, translation/no-need, require-LGT1, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2, needs-cherry-pick-release-6.3, needs-cherry-pick-release-6.4

#11362 remove arg -B in tiup
  tiup/tiup-overview.md
  tiup/tiup-reference.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT2, size/XS, ONCALL, needs-cherry-pick-release-5.4, area/deploy-upgrade-maintain, needs-cherry-pick-release-6.0, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2, needs-cherry-pick-release-6.3, needs-cherry-pick-release-6.4

#11370 Update TOC-tidb-cloud.md
  TOC-tidb-cloud.md
  develop/dev-guide-third-party-tools-compatibility.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/S, area/develop, area/tidb-cloud

#11342 Refine word in statistics
  statistics.md
Labels: type/enhancement, status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/XS, ONCALL, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.4

#11387 chore: update bot for 6.5
  scripts/pr_reminder_basedon_assignee.py
Labels: status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/L

#11272 update according to terraform 0.1.0
  tidb-cloud/terraform-get-tidbcloud-provider.md
  tidb-cloud/terraform-tidbcloud-provider-overview.md
  tidb-cloud/terraform-use-backup-resource.md
  tidb-cloud/terraform-use-cluster-resource.md
  tidb-cloud/terraform-use-restore-resource.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/M, area/tidb-cloud

#11398 tiflash: Add instructions to improve replica sync performance
  tiflash/create-tiflash-replicas.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/M, area/bigdata, needs-cherry-pick-release-6.3, needs-cherry-pick-release-6.4

#11117 cloud: add a new article about migration job
  TOC-tidb-cloud.md
  media/tidb-cloud/migration-job-select-all.png
  media/tidb-cloud/migration-job-select-db-blacklist1.png
  media/tidb-cloud/migration-job-select-db-blacklist2.png
  media/tidb-cloud/migration-job-select-db.png
  media/tidb-cloud/migration-job-select-tables.png
  tidb-cloud/migrate-data-into-tidb.md
  tidb-cloud/migrate-from-mysql-using-data-migration.md
  tidb-cloud/tidb-cloud-migration-overview.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/L, area/migrate, area/tidb-cloud, for-cloud-release

#11122 cloud: update cloud node status
  tidb-cloud/monitor-tidb-cluster.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/M, area/tidb-cloud, for-cloud-release

#11401 [release-6.1] tiflash: Add instructions to improve replica sync performance
  tiflash/create-tiflash-replicas.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/M, area/bigdata

#11402 [release-5.4] tiflash: Add instructions to improve replica sync performance
  tiflash/use-tiflash.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, needs-cherry-pick-release-5.0, size/M, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, area/bigdata, needs-cherry-pick-release-5.3

#11407 cloud: delete singapore region
  tidb-cloud/migrate-from-mysql-using-data-migration.md
  tidb-cloud/release-notes-2022.md
Labels: type/enhancement, status/can-merge, status/LGT1, translation/no-need, size/XS, area/tidb-cloud

#11376 Serverless FAQ and limitations
  TOC-tidb-cloud.md
  tidb-cloud/select-cluster-tier.md
  tidb-cloud/serverless-tier-faqs.md
  tidb-cloud/serverless-tier-limitations.md
  tidb-cloud/tidb-cloud-faq.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/L, area/tidb-cloud

#11384 cloud: updated dscription about getting gcp gsutil uri
  media/tidb-cloud/gcp-bucket-uri01.png
  media/tidb-cloud/gcp-bucket-uri02.png
  tidb-cloud/config-s3-and-gcs-access.md
Labels: type/enhancement, status/can-merge, status/LGT1, translation/no-need, size/S, area/tidb-cloud

#11265 *: address github issues
  faq/sql-faq.md
  mysql-compatibility.md
Labels: translation/doing, status/can-merge, status/LGT2, size/XS, area/sql-infra, ONCALL, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.3, needs-cherry-pick-release-6.4

#11415 cloud: delete a screenshot
  tidb-cloud/config-s3-and-gcs-access.md
Labels: type/bug-fix, status/can-merge, status/LGT1, translation/no-need, require-LGT1, area/tidb-cloud

#11416 cloud: add singapore region
  tidb-cloud/migrate-from-mysql-using-data-migration.md
  tidb-cloud/release-notes-2022.md
Labels: type/enhancement, status/can-merge, status/LGT1, translation/no-need, size/XS, area/tidb-cloud

#11341 add 5.3.4 release notes
  TOC.md
  releases/release-5.3.4.md
  releases/release-notes.md
  releases/release-timeline.md
Labels: translation/done, status/can-merge, status/LGT2, size/M, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.0, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2, needs-cherry-pick-release-6.3, needs-cherry-pick-release-6.4

#11429 cloud: update roadmap for release 1122
  tidb-cloud/tidb-cloud-roadmap.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/XS, area/tidb-cloud

#11421 tiup: remove restriction for enable_tls
  tiup/tiup-cluster-topology-reference.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT1, status/LGT2, needs-cherry-pick-release-5.0, size/XS, area/tiup, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.4

#11441 Add one more DDL supported by metadata lock
  metadata-lock.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XS, area/sql-infra, ONCALL, needs-cherry-pick-release-6.3, needs-cherry-pick-release-6.4

#11430 tiup: update docs of tiup-bench
  benchmark/benchmark-tidb-using-tpcc.md
  tiup/tiup-bench.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/L, area/tiup, needs-cherry-pick-release-6.4

#11452 cloud: updated a limitation description and TOC
  TOC-tidb-cloud.md
  tidb-cloud/migrate-from-mysql-using-data-migration.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/XS, area/tidb-cloud

#11453 Update create-tidb-cluster.md
  tidb-cloud/create-tidb-cluster.md
Labels: status/can-merge, status/LGT1, translation/no-need, area/tidb-cloud

#11455 Fix admonition style
  dm/dm-open-api.md
  non-transactional-dml.md
  tidb-configuration-file.md
Labels: type/bug-fix, status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/XS, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.4

#11458 add ticdc split transaction release note
  releases/release-6.4.0.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/XS, v6.4, needs-cherry-pick-release-6.4

#11440 cloud: Support billing from cloud provider
  TOC-tidb-cloud.md
  tidb-cloud/create-tidb-cluster.md
  tidb-cloud/tidb-cloud-billing.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/M, area/tidb-cloud, for-cloud-release

#11454 cloud: update release notes for 1129
  tidb-cloud/release-notes-2022.md
  tidb-cloud/tidb-cloud-roadmap.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/S, area/tidb-cloud, for-cloud-release

#11463 *: change NewSQL to distributed SQL
  _docHome.md
  _index.md
  faq/deploy-and-maintain-faq.md
  faq/tidb-faq.md
  hardware-and-software-requirements.md
  multi-data-centers-in-one-city-deployment.md
  overview.md
Labels: type/enhancement, status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/S, area/sql-infra, needs-cherry-pick-release-6.1

#11391 br refactor: translate br Command-line Manual
  br/use-br-command-line-tool.md
Labels: type/refactor, translation/from-docs-cn, status/can-merge, status/LGT1, status/LGT2, size/L, area/br, needs-cherry-pick-release-6.4

#11392 br refactor: translate snapshot br
  br-usage-backup-for-maintain.md
  br-usage-restore-for-maintain.md
  br/br-snapshot-architecture.md
  br/br-snapshot-guide.md
  br/br-snapshot-manual.md
  br/br-usage-backup.md
  br/br-usage-restore.md
  media/br/br-snapshot-arch.png
  media/br/br-snapshot-backup-ts.png
  media/br/br-snapshot-restore-ts.png
Labels: type/refactor, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XXL, area/br

#11395 br refactor: translate log backup and pitr
  br/br-log-architecture.md
  br/br-log-command-line.md
  br/br-pitr-guide.md
  br/br-pitr-manual.md
  br/pitr-usage.md
  media/br/br-log-arch.png
  media/br/br-log-backup-ts.png
  media/br/pitr-ts.png
Labels: type/refactor, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XXL, area/br

#11462 bump version for v5.3.4
  download-ecosystem-tools.md
  pd-control.md
  pd-recover.md
  production-deployment-using-tiup.md
  quick-start-with-tidb.md
  scale-tidb-using-tiup.md
  sync-diff-inspector/sync-diff-inspector-overview.md
  ticdc/manage-ticdc.md
  tiup/tiup-cluster.md
  tiup/tiup-component-cluster-deploy.md
  tiup/tiup-component-management.md
  tiup/tiup-mirror.md
  tiup/tiup-playground.md
  upgrade-tidb-using-tiup.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/L

#11300 br refactor (1): translate backup storages
  br/backup-and-restore-storages.md
  br/backup-storage-S3.md
  br/backup-storage-azblob.md
  br/backup-storage-gcs.md
Labels: type/refactor, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XXL, area/br

#11379 br refactor (3): translate use cases, faq, increment br, monitor, batch create, and auto tune
  br/backup-and-restore-faq.md
  br/backup-and-restore-use-cases.md
  br/br-auto-tune.md
  br/br-batch-create-table.md
  br/br-incremental-guide.md
  br/br-monitoring-and-alert.md
  br/external-storage.md
  br/pitr-known-issues.md
  br/pitr-troubleshoot.md
  faq/backup-and-restore-faq.md
Labels: type/refactor, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XXL, area/br

#11313 br refactor (2): translate br overview, design overview, and use overview
  br/backup-and-restore-design.md
  br/backup-and-restore-overview.md
  br/br-deployment.md
  br/br-use-overview.md
  br/point-in-time-recovery.md
Labels: type/refactor, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XL, area/br

#11469 dm in cloud: refined some contents
  media/tidb-cloud/migration-job-accept-endpoint-request.png
  media/tidb-cloud/migration-job-select-all.png
  media/tidb-cloud/migration-job-select-db-blacklist1.png
  media/tidb-cloud/migration-job-select-db-blacklist2.png
  media/tidb-cloud/migration-job-select-db.png
  media/tidb-cloud/migration-job-select-tables.png
  tidb-cloud/migrate-from-mysql-using-data-migration.md
Labels: type/bug-fix, status/can-merge, status/LGT1, size/S, area/tidb-cloud
