Repository pingcap/docs, pull requests merged in 2022-12, with the labels that each got.

#11468 *: add annotations for l10n
  _docHome.md
  _index.md
  faq/deploy-and-maintain-faq.md
  faq/tidb-faq.md
  hardware-and-software-requirements.md
  multi-data-centers-in-one-city-deployment.md
  overview.md
Labels: status/can-merge, status/LGT1, translation/no-need, area/general, require-LGT1, size/M, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.4

#11477 Fix incorrect description of a ticdc improvement in 6.3 RN
  releases/release-6.3.0.md
Labels: type/bug-fix, translation/done, status/can-merge, status/LGT2, size/XS, ONCALL, needs-cherry-pick-release-6.3, needs-cherry-pick-release-6.4

#11439 planner: update docs for auto analyze
  statistics.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT2, size/XS, area/planner, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2, needs-cherry-pick-release-6.3, needs-cherry-pick-release-6.4

#11490 slow log: fix an error in slow log
  identify-slow-queries.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, area/sql-infra, needs-cherry-pick-release-6.3, needs-cherry-pick-release-6.4

#11480 tikv: updated description of region size
  tidb-storage.md
  tikv-overview.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XS, area/engine, ONCALL, needs-cherry-pick-release-6.1

#11444 sysvar: add a note to disable tidb_enable_rate_limit_action
  configure-memory-usage.md
  system-variables.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, needs-cherry-pick-release-4.0, require-LGT1, needs-cherry-pick-release-5.0, size/XS, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, ONCALL, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1

#11459 br: backup checkpoint
  TOC.md
  br/br-checkpoint.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, status/LGT2, size/M, area/br, v6.5

#11409 lightning: disk quota GA
  experimental-features.md
  tidb-lightning/tidb-lightning-configuration.md
  tidb-lightning/tidb-lightning-physical-import-mode-usage.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/S, area/tidb-lightning, v6.5

#11418 dumpling, lightning: add document for compressed files support
  dumpling-overview.md
  tidb-lightning/tidb-lightning-data-source.md
  tidb-lightning/troubleshoot-tidb-lightning.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/S, area/tidb-lightning, area/dumpling, v6.5

#11408 data migration: continuous data validation goes GA
  dm/dm-continuous-data-validation.md
  experimental-features.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, require-LGT1, size/XS, area/dm, v6.5

#11361 enable metadata lock by default
  experimental-features.md
  metadata-lock.md
  sql-statements/sql-statement-commit.md
  system-variables.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/S, area/sql-infra, type/compatibility-or-feature-change, v6.5

#11249 AUTO_INCREMENT: MySQL compatibility mode GA
  auto-increment.md
  experimental-features.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/XS, area/sql-infra, v6.5

#11505 Update option name for cloud serverless integration
  develop/dev-guide-proxysql-integration.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/XS, area/tidb-cloud

#11516 add some description for GOMEMLIMIT
  configure-memory-usage.md
  media/configure-memory-usage-612-oom.png
  media/configure-memory-usage-613-no-oom.png
  media/configure-memory-usage-oom-example.png
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, status/LGT2, size/S, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2, needs-cherry-pick-release-6.3, needs-cherry-pick-release-6.4

#11445 add 6.1.3 release notes
  TOC.md
  releases/release-6.1.3.md
  releases/release-notes.md
  releases/release-timeline.md
Labels: translation/done, status/can-merge, status/LGT1, status/LGT2, size/M, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2, needs-cherry-pick-release-6.3, needs-cherry-pick-release-6.4

#11511 add br checkpoint to TOC
  TOC.md
Labels: status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/XS, area/br

#11067 add tiflash regexp functions #11702
  tiflash/tiflash-supported-pushdown-calculations.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/XS, area/bigdata, v6.5

#11506 Add tikv-br link
  br/rawkv-backup-and-restore.md
  releases/release-6.4.0.md
  tikv-configuration-file.md
Labels: translation/done, status/can-merge, status/LGT1, status/LGT2, first-time-contributor, size/M, v6.5

#11507 rawkv: rawkv: change the deprecation statement back to experiment statement
  br/rawkv-backup-and-restore.md
  experimental-features.md
  releases/release-6.2.0.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT1, status/LGT2, size/S, needs-cherry-pick-release-6.3, needs-cherry-pick-release-6.4

#11420 sync-diff: update passwd description
  sync-diff-inspector/sync-diff-inspector-overview.md
  ticdc/manage-ticdc.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/M, area/sync-diff-inspector, v6.5

#11419 Add docs for global memory control GA
  configure-memory-usage.md
  experimental-features.md
  system-variables.md
  tidb-configuration-file.md
  troubleshoot-tidb-oom.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/M, v6.5

#11470 explain-index-merge, optimizer-hints: introduce intersection type Ind…
  explain-index-merge.md
  optimizer-hints.md
  system-variables.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/L, area/planner, v6.5

#11525 ddl: Add some options for add index fast way usage.
  system-variables.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XS, v6.5

#11375 Correct the order of bad-ssts and --data-dir
  tikv-control.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT2, size/XS, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.0, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2, needs-cherry-pick-release-6.3, needs-cherry-pick-release-6.4

#11509 tiflash: support pushing down json extract
  tiflash/tiflash-supported-pushdown-calculations.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/XS, area/bigdata, v6.5

#11471 sql: update doc for json format explain
  sql-statements/sql-statement-explain.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/M, area/planner, v6.5

#11512 add newer go version to environment requirements
  hardware-and-software-requirements.md
Labels: translation/done, status/can-merge, status/LGT1, status/LGT2, area/general, size/XS

#11539 add a ticdc bug fix to 6.1.3 RN
  releases/release-6.1.3.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, status/LGT2, size/XS, ONCALL, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2, needs-cherry-pick-release-6.3, needs-cherry-pick-release-6.4

#9575 tikv: change cdc.min-ts-interval from 1s to 200ms
  tikv-configuration-file.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/XS, area/engine, type/compatibility-or-feature-change, for-release, v6.5

#11449 add content about nt-dml for insert and update
  non-transactional-dml.md
  sql-statements/sql-statement-batch.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/L, area/sql-infra, v6.5

#11545 chore: add v6.6 checkbox in pr template
  .github/pull_request_template.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XS

#11526 tikv-control.md: update tikv-control.md for raft region
  tikv-control.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/L, area/engine, for-release, v6.5

#11529 cloud: add release notes for 1206
  tidb-cloud/release-notes-2022.md
  tidb-cloud/tidb-cloud-support.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/XS, area/tidb-cloud, for-cloud-release

#11099 ticdc: add doc for bi-directional replication
  media/ticdc/ticdc-bidirectional-replication.png
  system-variables.md
  ticdc/manage-ticdc.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/M, area/ticdc, v6.5

#11503 docs: add explain analyze info for TableFullScan on TiFlash, and update related sample case
  develop/dev-guide-create-table.md
  explain-mpp.md
  sql-statements/sql-statement-explain-analyze.md
  tiflash/use-tidb-to-read-tiflash.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/M, area/bigdata, v6.5

#11504 dashboard: deploy tidb dashboard as a separate pod
  dashboard/dashboard-access.md
  dashboard/dashboard-intro.md
  dashboard/dashboard-ops-deploy.md
  dashboard/dashboard-ops-security.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, status/LGT2, size/S, area/diagnosis, v6.5

#11075 planner: update documents about cost model
  cost-model.md
  experimental-features.md
  system-variables.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/S, area/planner, type/compatibility-or-feature-change, v6.5

#9878 develop: add non-transactional delete
  develop/dev-guide-delete-data.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/M, area/develop, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2, needs-cherry-pick-release-6.3, needs-cherry-pick-release-6.4

#11530 system variable: refine description of txn-total-size-limit and tidb_mem_quota_query
  system-variables.md
  tidb-configuration-file.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/S, v6.5

#11555 cdc: fix a typo
  system-variables.md
  ticdc/manage-ticdc.md
Labels: type/bug-fix, status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/XS, area/ticdc

#11369 FAQ: update deploy-and-maintain.md
  faq/deploy-and-maintain-faq.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/M, area/deploy-upgrade-maintain, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2, needs-cherry-pick-release-6.3, needs-cherry-pick-release-6.4

#11564 sql: fix statement bug
  sql-statements/sql-statement-create-user.md
Labels: type/bug-fix, translation/done, status/can-merge, status/LGT2, size/XS, ONCALL, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.4

#11397 *: flashback to timestamp delete experimental flag
  experimental-features.md
  sql-statements/sql-statement-flashback-to-timestamp.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XS, v6.5

#11562 add doc for experimental variable tidb_store_batch_size
  system-variables.md
Labels: translation/from-docs-cn, contribution, status/can-merge, status/LGT2, size/S, type/compatibility-or-feature-change, for-release, v6.5

#11372 Add zapier doc
  TOC-tidb-cloud.md
  media/tidb-cloud/zapier/zapier-fill-in-tidbcloud-triggers-data.png
  media/tidb-cloud/zapier/zapier-set-up-tidbcloud-columns.png
  media/tidb-cloud/zapier/zapier-set-up-tidbcloud-databse.png
  media/tidb-cloud/zapier/zapier-set-up-tidbcloud-project-and-cluster.png
  media/tidb-cloud/zapier/zapier-tidbcloud-account.png
  media/tidb-cloud/zapier/zapier-tidbcloud-choose-account.png
  media/tidb-cloud/zapier/zapier-tidbcloud-create-table-ddl.png
  media/tidb-cloud/zapier/zapier-tidbcloud-find-and-create.png
  media/tidb-cloud/zapier/zapier-tidbcloud-publish.png
  tidb-cloud/integrate-tidbcloud-with-zapier.md
Labels: status/can-merge, status/LGT2, translation/no-need, size/L, area/tidb-cloud

#11450 security: add doc for password management
  TOC.md
  functions-and-operators/encryption-and-compression-functions.md
  mysql-schema.md
  password-management.md
  security-compatibility-with-mysql.md
  sql-statements/sql-statement-alter-user.md
  sql-statements/sql-statement-create-user.md
  system-variables.md
  tidb-configuration-file.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, area/security, size/XXL, v6.5

#11563 cloud: add windows ca path
  tidb-cloud/secure-connections-to-serverless-tier-clusters.md
Labels: status/can-merge, status/LGT2, translation/no-need, first-time-contributor, size/XS, area/tidb-cloud

#11546 tidb: update the description of closest-adaptive
  follower-read.md
  system-variables.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/S, v6.5

#11580 br: incorrect description of batch create table
  br/br-batch-create-table.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, first-time-contributor, size/XS, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2, needs-cherry-pick-release-6.3, needs-cherry-pick-release-6.4

#11573 cloud: add doc for sql editor
  develop/dev-guide-tidb-crud-sql.md
  tidb-cloud/tidb-cloud-quickstart.md
Labels: status/LGT1, translation/no-need, size/L, area/tidb-cloud, for-cloud-release

#11547 cloud: remove sql shell for serverless
  tidb-cloud/connect-to-tidb-cluster.md
Labels: status/LGT1, translation/no-need, size/S, area/tidb-cloud, for-cloud-release

#11570 Refactor ticdc
  TOC.md
  enable-tls-between-components.md
  migrate-from-tidb-to-mysql.md
  migrate-from-tidb-to-tidb.md
  production-deployment-using-tiup.md
  releases/release-5.0.0.md
  releases/release-5.3.0.md
  releases/release-6.0.0-dmr.md
  releases/release-6.1.0.md
  releases/release-6.2.0.md
  releases/release-6.3.0.md
  replicate-between-primary-and-secondary-clusters.md
  replicate-data-to-kafka.md
  sync-diff-inspector/upstream-downstream-diff.md
  system-variables.md
  ticdc/deploy-ticdc.md
  ticdc/integrate-confluent-using-ticdc.md
  ticdc/manage-ticdc.md
  ticdc/ticdc-bidirectional-replication.md
  ticdc/ticdc-changefeed-config.md
  ticdc/ticdc-changefeed-overview.md
  ticdc/ticdc-compatibility.md
  ticdc/ticdc-faq.md
  ticdc/ticdc-filter.md
  ticdc/ticdc-manage-changefeed.md
  ticdc/ticdc-open-api.md
  ticdc/ticdc-overview.md
  ticdc/ticdc-server-config.md
  ticdc/ticdc-sink-to-kafka.md
  ticdc/ticdc-sink-to-mysql.md
  ticdc/troubleshoot-ticdc.md
Labels: type/refactor, translation/from-docs-cn, status/can-merge, status/LGT1, status/LGT2, size/XXL, area/ticdc

#11577 cloud: top navigation pr
  tidb-cloud/create-tidb-cluster.md
  tidb-cloud/manage-user-access.md
  tidb-cloud/tidb-cloud-billing.md
  tidb-cloud/tidb-cloud-poc.md
  tidb-cloud/tidb-cloud-support.md
Labels: status/LGT2, translation/no-need, size/M, area/tidb-cloud, for-cloud-release

#11587 add aliases for br v6.4 versions
  br/backup-and-restore-overview.md
  br/backup-and-restore-storages.md
  br/backup-and-restore-use-cases.md
  br/br-pitr-guide.md
  br/br-pitr-manual.md
  br/br-snapshot-guide.md
  br/br-use-overview.md
  faq/backup-and-restore-faq.md
Labels: type/bug-fix, status/can-merge, status/LGT1, status/LGT2, translation/no-need, size/XS

#11579 bump version for 6.1.3
  br/backup-and-restore-use-cases.md
  check-before-deployment.md
  dm/quick-start-create-task.md
  download-ecosystem-tools.md
  pd-control.md
  production-deployment-using-tiup.md
  quick-start-with-tidb.md
  scale-tidb-using-tiup.md
  ticdc/manage-ticdc.md
  tidb-binlog/get-started-with-tidb-binlog.md
  tidb-cloud/export-data-from-tidb-cloud.md
  tiflash/create-tiflash-replicas.md
  tiup/tiup-cluster.md
  tiup/tiup-component-cluster-deploy.md
  tiup/tiup-component-management.md
  tiup/tiup-mirror.md
  tiup/tiup-playground.md
  upgrade-tidb-using-tiup.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/L

#11585 docs: add tidb_enable_amend_pessimistic_txn depreciation
  TOC-tidb-cloud.md
  system-variables.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/XS, for-release, v6.5

#11588 cloud: improve connect exp
  tidb-cloud/connect-to-tidb-cluster.md
  tidb-cloud/secure-connections-to-serverless-tier-clusters.md
  tidb-cloud/select-cluster-tier.md
Labels: status/LGT1, translation/no-need, size/S, area/tidb-cloud, for-cloud-release

#11575 zapier optimize
  media/tidb-cloud/zapier/zapier-set-up-tidbcloud-databse.png
  media/tidb-cloud/zapier/zapier-set-up-tidbcloud-project-and-cluster.png
  tidb-cloud/integrate-tidbcloud-with-zapier.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/S, area/tidb-cloud

#11572 refresh steps for vercel connection after add prisma
  tidb-cloud/integrate-tidbcloud-with-vercel.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/S, area/tidb-cloud

#11568 cloud: update doc for left navigation
  develop/dev-guide-bookshop-schema-design.md
  develop/dev-guide-build-cluster-in-cloud.md
  tidb-cloud/backup-and-restore.md
  tidb-cloud/built-in-monitoring.md
  tidb-cloud/changefeed-replication.md
  tidb-cloud/config-s3-and-gcs-access.md
  tidb-cloud/configure-security-settings.md
  tidb-cloud/connect-to-tidb-cluster.md
  tidb-cloud/create-tidb-cluster.md
  tidb-cloud/delete-tidb-cluster.md
  tidb-cloud/export-data-from-tidb-cloud.md
  tidb-cloud/import-csv-files.md
  tidb-cloud/import-parquet-files.md
  tidb-cloud/import-sample-data.md
  tidb-cloud/migrate-data-into-tidb.md
  tidb-cloud/migrate-from-amazon-s3-or-gcs.md
  tidb-cloud/migrate-from-aurora-bulk-import.md
  tidb-cloud/migrate-from-mysql-using-data-migration.md
  tidb-cloud/migrate-sql-shards.md
  tidb-cloud/monitor-built-in-alerting.md
  tidb-cloud/monitor-datadog-integration.md
  tidb-cloud/monitor-prometheus-and-grafana-integration.md
  tidb-cloud/monitor-tidb-cluster.md
  tidb-cloud/pause-or-resume-tidb-cluster.md
  tidb-cloud/scale-tidb-cluster.md
  tidb-cloud/set-up-private-endpoint-connections.md
  tidb-cloud/set-up-vpc-peering-connections.md
  tidb-cloud/third-party-monitoring-integrations.md
  tidb-cloud/tidb-cloud-poc.md
  tidb-cloud/tidb-cloud-quickstart.md
  tidb-cloud/tidb-cloud-sql-tuning-overview.md
  tidb-cloud/tidb-cloud-tune-performance-overview.md
  tidb-cloud/troubleshoot-import-access-denied-error.md
  tidb-cloud/tune-performance.md
Labels: status/LGT2, translation/no-need, size/L, area/tidb-cloud, for-cloud-release

#11601 Fix CustomContent format in note
  TOC-tidb-cloud.md
  develop/dev-guide-choose-driver-or-orm.md
  develop/dev-guide-third-party-tools-compatibility.md
Labels: type/bug-fix, status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/M, area/develop, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2, needs-cherry-pick-release-6.3, needs-cherry-pick-release-6.4

#11599 add a ticdc compability change to 6.4 RN
  releases/release-6.4.0.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, status/LGT2, size/XS, needs-cherry-pick-release-6.4

#11600 add a ticdc compatibility change to 6.1.3 RN
  releases/release-6.1.3.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, status/LGT2, size/XS, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2, needs-cherry-pick-release-6.3, needs-cherry-pick-release-6.4

#11596 cloud: add release notes for 1213
  tidb-cloud/release-notes-2022.md
  tidb-cloud/tidb-cloud-roadmap.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/M, area/tidb-cloud, for-cloud-release

#11617 faq: fix an outdated description
  faq/sql-faq.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XS, area/sql-infra, ONCALL, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.4

#10989 cloud: migrate data from on-premises tidb to tidb cloud
  TOC-tidb-cloud.md
  media/tidb-cloud/edit_traffic_filter_rules.png
  media/tidb-cloud/normal_status_in_replication_task.png
  media/tidb-cloud/op-to-cloud-copy-region-info.png
  media/tidb-cloud/op-to-cloud-copy-s3-uri.png
  media/tidb-cloud/op-to-cloud-create-access-key01.png
  media/tidb-cloud/op-to-cloud-create-access-key02.png
  media/tidb-cloud/op-to-cloud-get-role-arn.png
  media/tidb-cloud/start_ts_in_metadata.png
  tidb-cloud/migrate-from-op-tidb.md
Labels: status/can-merge, status/LGT2, translation/no-need, size/XL, area/migrate, area/tidb-cloud

#11622 sysvar: correct a default value
  system-variables.md
Labels: type/bug-fix, status/can-merge, status/LGT1, require-LGT1, size/S, ONCALL

#11621 cloud dm: add troubleshooting tips
  tidb-cloud/migrate-from-mysql-using-data-migration.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/M, area/dm, area/tidb-cloud

#11574 translate ticdc architecture and overview
  TOC.md
  media/ticdc/ticdc-architecture-1.jpg
  media/ticdc/ticdc-architecture-2.jpg
  media/ticdc/ticdc-architecture-3.PNG
  media/ticdc/ticdc-architecture-4.jpg
  media/ticdc/ticdc-architecture-5.jpg
  mysql-compatibility.md
  ticdc/ticdc-architecture.md
  ticdc/ticdc-overview.md
Labels: type/refactor, translation/from-docs-cn, status/can-merge, status/LGT1, status/LGT2, size/XL, area/ticdc

#11625 v6.5: add lock stats docs
  TOC.md
  experimental-features.md
  sql-statements/sql-statement-lock-stats.md
  sql-statements/sql-statement-show-stats-locked.md
  sql-statements/sql-statement-unlock-stats.md
  statistics.md
  system-variables.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/XL, area/planner, v6.5

#11569 sysvar: add v6.5 sysvar
  system-variables.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/S, area/planner, for-release, v6.5

#11632 vale: Add a lint rule to unify the expression of different consoles
  .github/workflows/ci.yaml
  styles/PingCAP/console.yml
Labels: type/enhancement, status/can-merge, status/LGT2, translation/no-need, size/S, needs-cherry-pick-release-6.1

#11637 Add one more limitation to serverless tier to document
  tidb-cloud/serverless-tier-limitations.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/XS, area/tidb-cloud

#11633 chore: refine get duplicated notes
  scripts/get-duplicated-notes.py
Labels: status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/S

#11638 Serverless limitation transaction limit on FAQ page
  tidb-cloud/serverless-tier-faqs.md
  tidb-cloud/serverless-tier-limitations.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/XS, area/tidb-cloud

#11589 add config import.memory-use-ratio
  tikv-configuration-file.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, status/LGT2, size/S, type/compatibility-or-feature-change, v6.5

#11640 cloud: add release notes for 1220
  tidb-cloud/release-notes-2022.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/XS, area/tidb-cloud, for-cloud-release

#11624 cloud: add csv config
  TOC-tidb-cloud.md
  media/tidb-cloud/import-data-csv-config.png
  tidb-cloud/csv-config-for-import-data.md
  tidb-cloud/import-csv-files.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/L, area/tidb-cloud

#11643 chore: refine var name in bot reminder
  scripts/pr_reminder_basedon_assignee.py
Labels: status/can-merge, status/LGT1, translation/no-need, require-LGT1

#11641 add ticdc best pratice and FAQ
  ticdc/ticdc-faq.md
  ticdc/ticdc-open-protocol.md
  ticdc/ticdc-overview.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, status/LGT2, size/M, area/ticdc

#11635 dm in cloud: add billing for dm in cloud
  media/tidb-cloud/dm-billing-cross-az-fees.png
  media/tidb-cloud/dm-billing-cross-region-and-az-fees.png
  media/tidb-cloud/dm-billing-cross-region-fees.png
  tidb-cloud/migrate-from-mysql-using-data-migration.md
  tidb-cloud/tidb-cloud-billing-dm.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/M, area/dm, area/tidb-cloud, for-cloud-release

#11649 Revert "dm in cloud: add billing for dm in cloud"
  media/tidb-cloud/dm-billing-cross-az-fees.png
  media/tidb-cloud/dm-billing-cross-region-and-az-fees.png
  media/tidb-cloud/dm-billing-cross-region-fees.png
  tidb-cloud/migrate-from-mysql-using-data-migration.md
  tidb-cloud/tidb-cloud-billing-dm.md
Labels: status/can-merge, status/LGT1, missing-translation-status, size/M

#11417 cloud: split connection docs
  TOC-tidb-cloud.md
  tidb-cloud/connect-to-tidb-cluster.md
  tidb-cloud/connect-via-sql-shell.md
  tidb-cloud/connect-via-standard-connection.md
  tidb-cloud/integrate-tidbcloud-with-airbyte.md
  tidb-cloud/integrate-tidbcloud-with-vercel.md
  tidb-cloud/migrate-from-op-tidb.md
  tidb-cloud/release-notes-2022.md
  tidb-cloud/secure-connections-to-serverless-tier-clusters.md
  tidb-cloud/select-cluster-tier.md
  tidb-cloud/serverless-tier-limitations.md
  tidb-cloud/set-up-private-endpoint-connections.md
  tidb-cloud/set-up-vpc-peering-connections.md
Labels: type/refactor, status/can-merge, status/LGT1, translation/no-need, size/XL, area/tidb-cloud, from-doc-test

#11650 dm in cloud: add billing for dm in cloud
  media/tidb-cloud/dm-billing-cross-az-fees.png
  media/tidb-cloud/dm-billing-cross-region-and-az-fees.png
  media/tidb-cloud/dm-billing-cross-region-fees.png
  tidb-cloud/tidb-cloud-billing-dm.md
Labels: status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/M, area/dm, area/tidb-cloud, for-cloud-release

#11657 Fix the format of default value to prevent PDF generation errors
  tidb-cloud/csv-config-for-import-data.md
Labels: type/bug-fix, status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/XS, area/tidb-cloud

#11644 Delete 2 pd parameters that have been deleted in code
  pd-control.md
Labels: translation/doing, status/can-merge, status/LGT1, needs-cherry-pick-release-4.0, require-LGT1, needs-cherry-pick-release-5.0, size/XS, area/scheduling, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.0, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2, needs-cherry-pick-release-6.3, needs-cherry-pick-release-6.4

#11586 update go version to v1.19
  pd-control.md
  pd-recover.md
  tidb-control.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XS, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2, needs-cherry-pick-release-6.3, needs-cherry-pick-release-6.4

#11647 Delete a deprecated tiup command-line arg
  tiup/tiup-mirror.md
  tiup/tiup-overview.md
  tiup/tiup-reference.md
Labels: translation/doing, status/can-merge, status/LGT2, size/S, area/tiup, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2, needs-cherry-pick-release-6.3, needs-cherry-pick-release-6.4

#11642 ticdc: replica changelog to snowflake, add a part about ETL in snowflake
  ticdc/integrate-confluent-using-ticdc.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, status/LGT2, size/L, area/ticdc, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.4

#7182 add missing TiKV configuration items
  tikv-configuration-file.md
Labels: type/enhancement, translation/doing, status/can-merge, status/LGT2, status/PTAL, size/XL, area/scheduling, ONCALL

#11646 Delete deprecated tiflash configs
  tiflash/tiflash-configuration.md
Labels: translation/doing, status/can-merge, status/LGT1, require-LGT1, size/XS, needs-cherry-pick-release-5.2, area/bigdata, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.0, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2, needs-cherry-pick-release-6.3, needs-cherry-pick-release-6.4

#11438 cloud: use aws dms to migrate mysql to tidb cloud
  TOC-tidb-cloud.md
  media/tidb-cloud/aws-dms-tidb-cloud/aws-dms-to-tidb-cloud-ca.png
  media/tidb-cloud/aws-dms-tidb-cloud/aws-dms-to-tidb-cloud-choose-class.PNG
  media/tidb-cloud/aws-dms-tidb-cloud/aws-dms-to-tidb-cloud-connect.png
  media/tidb-cloud/aws-dms-tidb-cloud/aws-dms-to-tidb-cloud-connection.png
  media/tidb-cloud/aws-dms-tidb-cloud/aws-dms-to-tidb-cloud-copy-ip.png
  media/tidb-cloud/aws-dms-tidb-cloud/aws-dms-to-tidb-cloud-create-button.png
  media/tidb-cloud/aws-dms-tidb-cloud/aws-dms-to-tidb-cloud-create-instance.png
  media/tidb-cloud/aws-dms-tidb-cloud/aws-dms-to-tidb-cloud-create-task.png
  media/tidb-cloud/aws-dms-tidb-cloud/aws-dms-to-tidb-cloud-endpoint-config.png
  media/tidb-cloud/aws-dms-tidb-cloud/aws-dms-to-tidb-cloud-endpoint.png
  media/tidb-cloud/aws-dms-tidb-cloud/aws-dms-to-tidb-cloud-rules.png
  media/tidb-cloud/aws-dms-tidb-cloud/aws-dms-to-tidb-cloud-select-rds.png
  media/tidb-cloud/aws-dms-tidb-cloud/aws-dms-to-tidb-cloud-table-mappings.png
  media/tidb-cloud/aws-dms-tidb-cloud/aws-dms-to-tidb-cloud-target-endpoint.png
  media/tidb-cloud/aws-dms-tidb-cloud/aws-dms-to-tidb-cloud-target-endpoint2.png
  media/tidb-cloud/aws-dms-tidb-cloud/aws-dms-to-tidb-cloud-target-endpoint3.png
  media/tidb-cloud/aws-dms-tidb-cloud/aws-dms-to-tidb-cloud-task-config.png
  media/tidb-cloud/aws-dms-tidb-cloud/aws-dms-to-tidb-cloud-task-mappings.png
  media/tidb-cloud/aws-dms-tidb-cloud/aws-dms-to-tidb-cloud-task-settings.png
  media/tidb-cloud/aws-dms-tidb-cloud/aws-dms-to-tidb-cloud-task-status.png
  media/tidb-cloud/aws-dms-tidb-cloud/aws-dms-to-tidb-cloud-traffic-filter.png
  media/tidb-cloud/aws-dms-tidb-cloud/aws-dms-to-tidb-cloud-troubleshooting.png
  media/tidb-cloud/aws-dms-tidb-cloud/aws-dms-to-tidb-cloud-upload-ca.png
  media/tidb-cloud/aws-dms-tidb-cloud/aws-dms-to-tidb-cloud-vpc-peering-info.png
  media/tidb-cloud/aws-dms-tidb-cloud/aws-dms-to-tidb-cloud-vpc-peering.png
  media/tidb-cloud/aws-dms-tidb-cloud/aws-dms-to-tidb-cloud-vpc.PNG
  tidb-cloud/migrate-from-mysql-using-aws-dms.md
  tidb-cloud/tidb-cloud-migration-overview.md
Labels: type/enhancement, status/can-merge, status/LGT2, translation/no-need, size/L, area/tidb-cloud

#11645 Delete 3 tidb configs that have been deleted in code
  benchmark/benchmark-sysbench-v4-vs-v3.md
  benchmark/benchmark-sysbench-v5-vs-v4.md
  benchmark/v4.0-performance-benchmarking-with-tpcc.md
  benchmark/v5.0-performance-benchmarking-with-tpcc.md
  upgrade-tidb-using-tiup.md
Labels: translation/doing, status/can-merge, status/LGT1, require-LGT1, needs-cherry-pick-release-5.0, size/S, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.0, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2, needs-cherry-pick-release-6.3, needs-cherry-pick-release-6.4

#11501 tidb-cloud: add doc about using aws dms migrate data from oracle to tidb
  TOC-tidb-cloud.md
  media/tidb-cloud/aws-dms-from-oracle-to-tidb-0.png
  media/tidb-cloud/aws-dms-from-oracle-to-tidb-1.png
  media/tidb-cloud/aws-dms-from-oracle-to-tidb-10.png
  media/tidb-cloud/aws-dms-from-oracle-to-tidb-11.png
  media/tidb-cloud/aws-dms-from-oracle-to-tidb-12.png
  media/tidb-cloud/aws-dms-from-oracle-to-tidb-13.png
  media/tidb-cloud/aws-dms-from-oracle-to-tidb-14.png
  media/tidb-cloud/aws-dms-from-oracle-to-tidb-2.png
  media/tidb-cloud/aws-dms-from-oracle-to-tidb-3.png
  media/tidb-cloud/aws-dms-from-oracle-to-tidb-4.png
  media/tidb-cloud/aws-dms-from-oracle-to-tidb-5.png
  media/tidb-cloud/aws-dms-from-oracle-to-tidb-6.png
  media/tidb-cloud/aws-dms-from-oracle-to-tidb-7.png
  media/tidb-cloud/aws-dms-from-oracle-to-tidb-8.png
  media/tidb-cloud/aws-dms-from-oracle-to-tidb-9.png
  media/tidb-cloud/aws-dms-to-tidb-cloud-create-task.png
  media/tidb-cloud/aws-dms-to-tidb-cloud-troubleshooting.png
  tidb-cloud/migrate-from-mysql-using-aws-dms.md
  tidb-cloud/migrate-from-oracle-using-aws-dms.md
  tidb-cloud/tidb-cloud-migration-overview.md
Labels: status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/L, area/migrate, area/tidb-cloud

#11685 cached-tables: add description about mysql.table_cache_meta table
  cached-tables.md
  mysql-schema.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/S, area/sql-infra, ONCALL, needs-cherry-pick-release-6.2, needs-cherry-pick-release-6.3, needs-cherry-pick-release-6.4

#11680 PITR: replace tikv_log_backup_store_checkpoint_ts for tidb_log_backup…
  br/br-monitoring-and-alert.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, status/LGT2, size/S, area/br, needs-cherry-pick-release-6.3, needs-cherry-pick-release-6.4

#11684 Add observability for ALTER TABLE ... COMPACT
  sql-statements/sql-statement-alter-table-compact.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/L, area/bigdata, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2, needs-cherry-pick-release-6.3, needs-cherry-pick-release-6.4

#11576 Updated Security faq of TIDB Cloud FAQ
  tidb-cloud/secure-connections-to-serverless-tier-clusters.md
  tidb-cloud/tidb-cloud-faq.md
Labels: status/can-merge, status/LGT2, translation/no-need, area/security, size/M, area/tidb-cloud

#11659 add the reason for changing the default value
  releases/release-6.1.3.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XS, ONCALL, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2, needs-cherry-pick-release-6.3, needs-cherry-pick-release-6.4

#11723 allowed to create five Serverless clusters per account
  tidb-cloud/select-cluster-tier.md
  tidb-cloud/serverless-tier-faqs.md
  tidb-cloud/serverless-tier-limitations.md
Labels: contribution, status/can-merge, status/LGT1, translation/no-need, first-time-contributor, size/XS, area/tidb-cloud

#11724 TiDB Cloud API and Terraform Integration are available for Serverless…
  tidb-cloud/serverless-tier-limitations.md
Labels: contribution, status/can-merge, status/LGT1, first-time-contributor, missing-translation-status, size/XS

#11655 tidb: update follower read guide
  develop/dev-guide-use-follower-read.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/S, v6.5

#11658 add the reason for changing the default value
  releases/release-6.4.0.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XS, ONCALL, needs-cherry-pick-release-6.4

#11656 system_vars: re-set default value to ON for outer join reorder
  join-reorder.md
  system-variables.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/S, area/sql-infra, v6.5

#11631 Use a consistent expression for different console
  mysql-compatibility.md
  tidb-cloud/migrate-from-amazon-s3-or-gcs.md
  tidb-cloud/migrate-from-aurora-bulk-import.md
  tidb-cloud/monitor-built-in-alerting.md
  tidb-cloud/monitor-datadog-integration.md
  tidb-cloud/monitor-prometheus-and-grafana-integration.md
  tidb-cloud/release-notes-2022.md
  tidb-cloud/serverless-tier-faqs.md
  tidb-cloud/set-up-private-endpoint-connections.md
  tidb-cloud/set-up-vpc-peering-connections.md
  tidb-cloud/third-party-monitoring-integrations.md
  tidb-cloud/tidb-cloud-auditing.md
  tidb-cloud/tidb-cloud-console-auditing.md
  tidb-cloud/tidb-cloud-roadmap.md
  tidb-cloud/tidb-cloud-tune-performance-overview.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/M, area/tidb-cloud

#11726 cloud: update arch image to include privatelink
  media/tidb-cloud/tidb-cloud-architecture.png
Labels: status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/XS, area/tidb-cloud

#11730 add a title for best practices for better findability
  ticdc/ticdc-sink-to-kafka.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XS, ONCALL, area/ticdc

#11729 cloud: customize content about GC configuration for cloud
  garbage-collection-configuration.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/S, type/cherry-pick-for-master, needs-cherry-pick-release-6.2, needs-cherry-pick-release-6.3, needs-cherry-pick-release-6.4

#11639 update metric: CPS by instance
  best-practices/java-app-best-practices.md
  develop/dev-guide-connection-parameters.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/S, ONCALL, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2, needs-cherry-pick-release-6.3, needs-cherry-pick-release-6.4

#11709 add doc for multiple changefeeds and edit changefeed for tidb cloud
  TOC-tidb-cloud.md
  tidb-cloud/changefeed-overview.md
  tidb-cloud/changefeed-sink-to-apache-kafka.md
  tidb-cloud/changefeed-sink-to-mysql.md
  tidb-cloud/pause-or-resume-tidb-cluster.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/L, area/tidb-cloud, for-cloud-release

#11671 import in cloud: add the doc about how to upload local files
  TOC-tidb-cloud.md
  media/tidb-cloud/tidb-cloud-upload-local-files.png
  tidb-cloud/import-csv-files.md
  tidb-cloud/import-parquet-files.md
  tidb-cloud/import-sample-data.md
  tidb-cloud/tidb-cloud-import-local-files.md
  tidb-cloud/tidb-cloud-migration-overview.md
Labels: status/can-merge, translation/no-need, size/L, status/LGT4, area/tidb-cloud, for-cloud-release

#11556 support PITR switch
  tidb-cloud/backup-and-restore.md
Labels: status/can-merge, status/LGT2, translation/no-need, size/S, area/tidb-cloud, for-cloud-release

#11744 cloud: add release notes for 20221227
  tidb-cloud/release-notes-2022.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/M, area/tidb-cloud, for-cloud-release

#11747 cloud: roll back default TiDB version of serverless tier clusters
  tidb-cloud/release-notes-2022.md
Labels: status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/XS

#11748 dev-v6.2: remove stats feedback
  basic-features.md
  statistics.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, area/planner, needs-cherry-pick-release-6.2, needs-cherry-pick-release-6.3, needs-cherry-pick-release-6.4, needs-cherry-pick-release-6.5

#11749 v6.1-v5.4: emphasize deprecation for stats feedback
  statistics.md
  tidb-configuration-file.md
Labels: type/bug-fix, status/can-merge, status/LGT1, require-LGT1, size/XS, area/planner, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.0

#11750 v5.3-v5.0: emphasize experimental for stats feedback
  statistics.md
  tidb-configuration-file.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, needs-cherry-pick-release-5.0, size/XS, area/planner, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2

#11743 add cluster commands
  TOC.md
  tiup/tiup-component-cluster-meta-backup.md
  tiup/tiup-component-cluster-meta-restore.md
  tiup/tiup-component-cluster-start.md
  tiup/tiup-component-cluster.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT2, size/M, area/tiup, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2, needs-cherry-pick-release-6.3, needs-cherry-pick-release-6.4, needs-cherry-pick-release-6.5

#11737 cloud: update the Security Settings UI description
  develop/dev-guide-build-cluster-in-cloud.md
  media/tidb-cloud/aws-dms-from-oracle-to-tidb-4.png
  media/tidb-cloud/aws-dms-from-oracle-to-tidb-5.png
  media/tidb-cloud/aws-dms-from-oracle-to-tidb-6.png
  media/tidb-cloud/aws-dms-from-oracle-to-tidb-7.png
  tidb-cloud/backup-and-restore.md
  tidb-cloud/configure-security-settings.md
  tidb-cloud/connect-to-tidb-cluster.md
  tidb-cloud/create-tidb-cluster.md
  tidb-cloud/migrate-from-oracle-using-aws-dms.md
  tidb-cloud/tidb-cloud-quickstart.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT1, size/M, area/tidb-cloud

#11628 planner: support create binding from existing plan
  experimental-features.md
  sql-plan-management.md
  sql-statements/sql-statement-create-binding.md
  sql-statements/sql-statement-drop-binding.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/L, area/planner, v6.5, needs-cherry-pick-release-6.5

#11653 Add tiflash cdc for performance overview
  grafana-performance-overview-dashboard.md
  media/performance/grafana_performance_overview.png
  media/performance/high_disconnections.png
  media/performance/htap_tiflash_mpp.png
  media/performance/internal_stats.png
  media/performance/prepared_statement_leaking.png
  media/performance/tpcc_qps.png
  media/performance/tpcc_source_sql.png
  performance-tuning-methods.md
  performance-tuning-overview.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/L, area/diagnosis, v6.5, needs-cherry-pick-release-6.5

#11768 change tidb_enable_gc_aware_memory_track default value to off
  system-variables.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, type/compatibility-or-feature-change, v6.5, needs-cherry-pick-release-6.5

#11746 Remove functions related to MySQL Enterprise
  functions-and-operators/encryption-and-compression-functions.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, area/security, needs-cherry-pick-release-4.0, needs-cherry-pick-release-5.0, size/S, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, ONCALL, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.0, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2, needs-cherry-pick-release-6.3, needs-cherry-pick-release-6.4, needs-cherry-pick-release-6.5

#11629 add v5.1.5 release notes
  TOC.md
  releases/release-5.1.5.md
  releases/release-notes.md
  releases/release-timeline.md
Labels: translation/done, status/can-merge, status/LGT2, size/L, for-release

#11718 bump version for 5.1.5
  br/backup-and-restore-use-cases.md
  download-ecosystem-tools.md
  pd-control.md
  pd-recover.md
  production-deployment-using-tiup.md
  quick-start-with-tidb.md
  scale-tidb-using-tiup.md
  tiup/tiup-cluster.md
  tiup/tiup-component-cluster-deploy.md
  tiup/tiup-component-management.md
  tiup/tiup-mirror.md
  tiup/tiup-playground.md
  upgrade-tidb-using-tiup.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/L

#11785 format: use the standard ASCII vertical bar in table
  functions-and-operators/encryption-and-compression-functions.md
Labels: type/bug-fix, translation/done, status/can-merge, status/LGT1, area/security, require-LGT1, size/XS, needs-cherry-pick-release-6.5

#10998 Support cloud storage sink
  TOC.md
  ticdc/ticdc-avro-protocol.md
  ticdc/ticdc-changefeed-config.md
  ticdc/ticdc-csv.md
  ticdc/ticdc-sink-to-cloud-storage.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, status/LGT2, size/XL, area/ticdc, v6.5, needs-cherry-pick-release-6.5

#11508 sql: add doc for time to live
  TOC-tidb-cloud.md
  TOC.md
  develop/dev-guide-delete-data.md
  experimental-features.md
  glossary.md
  grafana-tidb-dashboard.md
  sql-statements/sql-statement-alter-table.md
  sql-statements/sql-statement-create-table.md
  system-variables.md
  time-to-live.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/XL, area/sql-infra, v6.5, needs-cherry-pick-release-6.5

#11784 index page: bump up to v6.5
  _index.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, size/M, for-release, v6.5

#11614 TiDB Cloud Security for identity access management
  TOC-tidb-cloud.md
  tidb-cloud/_index.md
  tidb-cloud/integrate-tidbcloud-with-vercel.md
  tidb-cloud/manage-user-access.md
  tidb-cloud/release-notes-2022.md
  tidb-cloud/tidb-cloud-auditing.md
  tidb-cloud/tidb-cloud-password-authentication.md
  tidb-cloud/tidb-cloud-poc.md
Labels: status/can-merge, status/LGT2, translation/no-need, size/XL, area/tidb-cloud

#11796 ticdc: fix cdc wording in bidirectional replication
  ticdc/ticdc-bidirectional-replication.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XS, area/ticdc, v6.5, needs-cherry-pick-release-6.5

#11540 v6.5: update basic-features.md
  basic-features.md
  experimental-features.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, area/general, size/XL, for-release, v6.5, needs-cherry-pick-release-6.5

#11554 add v6.5.0 release notes
  TOC.md
  releases/release-6.5.0.md
  releases/release-notes.md
  releases/release-timeline.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/XL, for-release, v6.5, needs-cherry-pick-release-6.5

#11783 v6.5: bump version for tools
  br/backup-and-restore-use-cases.md
  dm/quick-start-create-task.md
  pd-control.md
  quick-start-with-tidb.md
  ticdc/deploy-ticdc.md
  tidb-binlog/get-started-with-tidb-binlog.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/S, for-release, v6.5, needs-cherry-pick-release-6.5

#11782 TiUP: bump version to 6.5
  production-deployment-using-tiup.md
  scale-tidb-using-tiup.md
  tiup/tiup-cluster.md
  tiup/tiup-component-cluster-deploy.md
  tiup/tiup-component-management.md
  tiup/tiup-mirror.md
  tiup/tiup-playground.md
  upgrade-tidb-using-tiup.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/L, for-release, v6.5, needs-cherry-pick-release-6.5

#11805 Update release-6.5.0.md
  releases/release-6.5.0.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XS, needs-cherry-pick-release-6.5

#11804 cloud: Update _index.md
  tidb-cloud/_index.md
Labels: status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/XS

#11736 Add storage sink consumer developing guide
  TOC.md
  media/ticdc/ticdc-storage-consumer-overview.png
  ticdc/ticdc-storage-consumer-dev-guide.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, status/LGT2, size/L, area/ticdc, v6.5, needs-cherry-pick-release-6.5

#11393 cloud: add Netlify integration
  TOC-tidb-cloud.md
  media/tidb-cloud/integration-netlify-environment-variables.jpg
  tidb-cloud/integrate-tidbcloud-with-netlify.md
Labels: status/can-merge, status/LGT1, translation/no-need, first-time-contributor, size/M, area/tidb-cloud

#11797 placement rules: add a role "voter"
  configure-placement-rules.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, needs-cherry-pick-release-5.0, size/XS, area/scheduling, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, ONCALL, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.0, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2, needs-cherry-pick-release-6.3, needs-cherry-pick-release-6.4, needs-cherry-pick-release-6.5

#11728 refine the document of metadata lock
  metadata-lock.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/M, area/sql-infra, needs-cherry-pick-release-6.3, needs-cherry-pick-release-6.4, needs-cherry-pick-release-6.5

#11824 Update OS info for v6.5
  hardware-and-software-requirements.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, size/M, area/deploy-upgrade-maintain, for-release, v6.5

#11826 add aliases for manage-ticdc
  ticdc/ticdc-manage-changefeed.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XS

#11808 update description in user account management
  user-account-management.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/S, area/sql-infra, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5

#11827 modify release notes 5.1.5
  releases/release-5.1.5.md
Labels: translation/done, status/can-merge, status/LGT1, require-LGT1, size/XS, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.0, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2, needs-cherry-pick-release-6.3, needs-cherry-pick-release-6.4, needs-cherry-pick-release-6.5

#11825 troubleshoot: refine doc TOC
  TOC.md
  tidb-troubleshooting-map.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/M, needs-cherry-pick-release-6.4, needs-cherry-pick-release-6.5

#11846 Add index merge to TOC
  TOC.md
Labels: status/can-merge, status/LGT1, translation/no-need, require-LGT1, needs-cherry-pick-release-5.0, size/XS, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.0, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2, needs-cherry-pick-release-6.3, needs-cherry-pick-release-6.4, needs-cherry-pick-release-6.5

#11807 Update the command and output in SQL statements
  functions-and-operators/set-operators.md
  sql-statements/sql-statement-admin-checksum-table.md
  sql-statements/sql-statement-create-role.md
  sql-statements/sql-statement-drop-role.md
  sql-statements/sql-statement-grant-role.md
  sql-statements/sql-statement-revoke-role.md
  sql-statements/sql-statement-set-default-role.md
  sql-statements/sql-statement-table.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XXL, area/sql-infra, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.4, needs-cherry-pick-release-6.5

#11861 docs: add-fix-index-acceleration-compatibility
  releases/release-6.5.0.md
  system-variables.md
Labels: requires-version-specific-changes, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XS, needs-cherry-pick-release-6.3, v6.5, needs-cherry-pick-release-6.4, needs-cherry-pick-release-6.5
