Repository pingcap/docs, pull requests merged in 2022-05, with the labels that each got.

#8381 Document four unsupported mysql syntax and statements
  mysql-compatibility.md
Labels: type/bug-fix, translation/done, status/can-merge, status/LGT2, size/XS, area/sql-infra, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.0

#8423 Trans choose driver or orm
  develop/choose-driver-or-orm.md
Labels: translation/no-need, size/L, area/develop

#8419 [Translate] build-cluster-in-cloud
  develop/build-cluster-in-cloud.md
Labels: translation/from-docs-cn, size/L, area/develop

#8425 [Translate] connect-to-tidb
  develop/connect-to-tidb.md
Labels: translation/no-need, first-time-contributor, size/L, area/develop

#8426 [Translate] connection-parameters
  develop/connection-parameters.md
Labels: translation/no-need, first-time-contributor, size/XL, area/develop

#8428 [Translate] create-database
  develop/create-database.md
Labels: translation/no-need, first-time-contributor, size/L, area/develop

#8432 [Translate] feat-developer-guide-overview
  develop/developer-guide-overview.md
Labels: translation/no-need, first-time-contributor, size/M, area/develop

#8438 [Translate] sample-application-java
  develop/build-cluster-in-cloud.md
  develop/sample-application-java.md
Labels: translation/no-need, first-time-contributor, size/XXL, area/develop

#8443 [Translate] sample-application-spring-boot
  develop/sample-application-spring-boot.md
Labels: translation/no-need, size/XXL, area/develop

#8446 [Translate] schema-design-overview
  develop/schema-design-overview.md
Labels: translation/no-need, size/L, area/develop

#8447 [Translate] tidb-crud-sql
  develop/tidb-crud-sql.md
Labels: translation/no-need, size/L, area/develop

#8431 Troubleshoot hotspot issues: add hotspot scenarios
  troubleshoot-hot-spot-issues.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT2, size/XS, area/scheduling, ONCALL, needs-cherry-pick-release-6.0

#8375 TiKV Config: add override information about some configuration items
  tikv-configuration-file.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, status/PTAL, size/S, area/engine, type/compatibility-or-feature-change, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.0

#8374 Refine the format of JSON and add methods to change PD configuration
  two-data-centers-in-one-city-deployment.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT2, size/L, area/scheduling, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.0

#8403 develop: add en doc for read data
  TOC.md
  develop/bookshop-schema-design.md
  develop/create-table.md
  develop/get-data-from-single-table.md
  develop/hybrid-oltp-and-olap-queries.md
  develop/join-tables.md
  develop/paginate-results.md
  develop/use-common-table-expression.md
  develop/use-follower-read.md
  develop/use-stale-read.md
  develop/use-subqueries.md
  develop/use-temporary-tables.md
  develop/use-views.md
Labels: translation/no-need, size/XXL, area/develop

#8389 Updata the contact info from slack to internals
  CONTRIBUTING.md
  README.md
  dm/dm-overview.md
  ticdc/troubleshoot-ticdc.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT1, status/LGT2, needs-cherry-pick-release-4.0, first-time-contributor, needs-cherry-pick-release-5.0, size/S, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.0

#8458 Trans create table
  develop/create-database.md
  develop/create-table.md
  develop/hybrid-oltp-and-olap-queries.md
  develop/object-naming-guidelines.md
  develop/sql-development-specification.md
Labels: translation/no-need, size/XL, area/develop

#8471 [Translate] create-secondary-indexes
  develop/create-secondary-indexes.md
Labels: translation/no-need, size/L, area/develop

#8472 [Translate] insert-data
  develop/insert-data.md
Labels: size/L, area/develop

#8475 [Debug] remove chinese
  develop/sample-application-java.md
  develop/sample-application-spring-boot.md
Labels: first-time-contributor, missing-translation-status, size/XS

#8474 add aliases for a deleted tispark file
  tispark-overview.md
Labels: type/bug-fix, status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/XS, area/bigdata

#8473 Remove `/bin` from toolkit commands
  deploy-monitoring-services.md
  dm/deploy-a-dm-cluster-using-binary.md
  dm/quick-start-create-task.md
  get-started-with-tidb-lightning.md
  sync-diff-inspector/sync-diff-inspector-overview.md
  tidb-binlog/deploy-tidb-binlog.md
  tidb-binlog/get-started-with-tidb-binlog.md
  tidb-binlog/tidb-binlog-reparo.md
  tidb-lightning/deploy-tidb-lightning.md
Labels: type/bug-fix, status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/M, needs-cherry-pick-release-6.0

#8417 add description of ignore-checking-items
  dm/dm-precheck.md
  dm/task-configuration-file-full.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/S, type/compatibility-or-feature-change, area/dm, needs-cherry-pick-release-6.0

#8479 [Translate] prepared-statement
  develop/prepared-statement.md
Labels: translation/no-need, area/develop

#8478 [Translate] delete-data
  develop/delete-data.md
Labels: translation/no-need, first-time-contributor, size/L, area/develop

#8476 [Translate] update-data
  develop/update-data.md
Labels: translation/no-need, first-time-contributor, size/XL, area/develop

#8487 [Translate] transaction-restraints
  develop/transaction-restraints.md
Labels: translation/no-need, size/XL, area/develop

#8494 [Translate] object-naming-guidelines
  develop/object-naming-guidelines.md
Labels: translation/no-need, first-time-contributor, size/M, area/develop

#8484 ticdc: fix sinkURI typo
  ticdc/manage-ticdc.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT1, status/LGT2, size/XS, needs-cherry-pick-release-5.4, area/ticdc, needs-cherry-pick-release-6.0

#8490 [Translate] implicit-type-conversion
  develop/implicit-type-conversion.md
Labels: translation/no-need, first-time-contributor, size/M, area/develop

#8491 [Translate] unique-serial-number-generation
  develop/unique-serial-number-generation.md
Labels: translation/no-need, size/M, area/develop

#8492 [Translate] timeouts-in-tidb
  develop/timeouts-in-tidb.md
Labels: translation/no-need, size/M, area/develop

#8493 [Translate] unstable-result-set
  develop/unstable-result-set.md
Labels: translation/no-need, size/L, area/develop

#8495 Trans sql development specification
  develop/sql-development-specification.md
Labels: translation/no-need, size/M, area/develop

#8422 [Translate] optimistic-and-pessimistic-transaction
  develop/optimistic-and-pessimistic-transaction.md
Labels: translation/no-need, size/XXL, area/develop

#8429 [Translate] transaction overview
  develop/transaction-overview.md
Labels: translation/no-need, size/L, area/develop

#8499 tpch: Correct aliases
  benchmark/v5.4-performance-benchmarking-with-tpch.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XS, area/bigdata, ONCALL

#8498 Add back 5.4 tpch report
  benchmark/v5.4-performance-benchmarking-with-tpch.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/L, area/bigdata, ONCALL

#8502 dev: update temporary table dev doc
  develop/use-temporary-tables.md
Labels: type/enhancement, translation/from-docs-cn, size/S, ONCALL, area/develop

#8503 add missing alias to fix broken link
  whats-new-in-tidb-4.0.md
Labels: type/bug-fix, translation/done, status/can-merge, status/LGT1, size/XS, ONCALL

#8467 add a rollback step
  two-data-centers-in-one-city-deployment.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT2, size/S, area/scheduling, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.0

#8508 tiflash: update some topoloy
  config-templates/complex-tiflash.yaml
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT2, needs-cherry-pick-release-4.0, needs-cherry-pick-release-5.0, size/XS, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, area/bigdata, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.0

#8517 [Update] hide real url
  develop/sample-application-java.md
Labels: first-time-contributor, missing-translation-status, size/XS

#7889 Update plan cache doc
  sql-prepared-plan-cache.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XS, area/planner, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.0

#7891 Align several PRs
  choose-index.md
  identify-slow-queries.md
  optimizer-hints.md
  sql-statements/sql-statement-admin-show-ddl.md
  sql-statements/sql-statement-explain-analyze.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/M, area/planner, needs-cherry-pick-release-6.0

#8363 v5.2.4: Bump version for v5.2 docs
  download-ecosystem-tools.md
  pd-control.md
  pd-recover.md
  production-deployment-using-tiup.md
  quick-start-with-tidb.md
  scale-tidb-using-tiup.md
  sync-diff-inspector/sync-diff-inspector-overview.md
  ticdc/manage-ticdc.md
  tiup/tiup-cluster.md
  tiup/tiup-component-cluster-deploy.md
  tiup/tiup-component-management.md
  tiup/tiup-mirror.md
  tiup/tiup-playground.md
  upgrade-tidb-using-tiup.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, area/general

#8457 fix typo and unify the description
  migrate-from-tidb-to-tidb.md
  replicate-betwwen-primary-and-secondary-clusters.md
  replicate-data-to-kafka.md
Labels: type/bug-fix, status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/M, area/ticdc, needs-cherry-pick-release-6.0

#8388 Add minimum disk space requirements for the components
  hardware-and-software-requirements.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, status/LGT2, area/general, size/S, ONCALL, needs-cherry-pick-release-6.0

#8501 Remove `platform` from `Linux OS Platform`
  dm/dm-hardware-and-software-requirements.md
  faq/deploy-and-maintain-faq.md
  hardware-and-software-requirements.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XS, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.0

#8516 develop: use users table as the NONCLUSTERED paginate example
  develop/paginate-results.md
Labels: translation/no-need, status/LGT3, size/M, area/develop

#8485 develop: refine read data codes
  develop/use-common-table-expression.md
  develop/use-temporary-tables.md
Labels: translation/from-docs-cn, size/S, area/develop

#8488 [Translate]: troubleshoot
  develop/transaction-troubleshoot.md
  develop/troubleshoot-overview.md
Labels: translation/from-docs-cn, size/L, area/develop

#8489 [Translate]: optimize
  develop/index-best-practice.md
  develop/optimize-sql-best-practices.md
  develop/optimize-sql-overview.md
  develop/optimize-sql.md
Labels: translation/from-docs-cn, size/XXL, area/develop

#8526 [Delete] rest chinese
  develop/implicit-type-conversion.md
  develop/transaction-restraints.md
Labels: type/bug-fix, translation/no-need, first-time-contributor, size/XS, area/develop

#8525 Move Glossary after Release Notes
  TOC.md
Labels: type/enhancement, translation/done, status/can-merge, status/LGT2, needs-cherry-pick-release-4.0, needs-cherry-pick-release-5.0, size/XS, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.0

#8470 Update HAProxy deploy operating system introduction
  best-practices/haproxy-best-practices.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/M, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.0

#8536 ticdc: remove unsupported kafka auth type
  ticdc/manage-ticdc.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT1, status/LGT2, needs-cherry-pick-release-4.0, needs-cherry-pick-release-5.0, size/XS, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, area/ticdc, needs-cherry-pick-release-6.0

#8546 tidb-configuration-file: fix typo
  enable-tls-between-clients-and-servers.md
Labels: type/bug-fix, status/can-merge, status/LGT1, translation/no-need, area/security, require-LGT1, size/XS, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.0

#8549 Update vale linter
  styles/Vocab/PingCAP/reject.txt
Labels: status/can-merge, status/LGT1, translation/no-need, needs-cherry-pick-release-4.0, require-LGT1, needs-cherry-pick-release-5.0, size/M, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.0

#8424 lightning: update config description of web interface and server mode
  tidb-lightning/tidb-lightning-configuration.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT1, needs-cherry-pick-release-4.0, require-LGT1, needs-cherry-pick-release-5.0, size/XS, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, area/tidb-lightning, needs-cherry-pick-release-6.0

#8535 [Update] update to inner link
  develop/bookshop-schema-design.md
  develop/build-cluster-in-cloud.md
  develop/choose-driver-or-orm.md
  develop/connect-to-tidb.md
  develop/connection-parameters.md
  develop/create-database.md
  develop/create-secondary-indexes.md
  develop/create-table.md
  develop/delete-data.md
  develop/developer-guide-overview.md
  develop/get-data-from-single-table.md
  develop/hybrid-oltp-and-olap-queries.md
  develop/index-best-practice.md
  develop/insert-data.md
  develop/join-tables.md
  develop/optimize-sql-best-practices.md
  develop/optimize-sql-overview.md
  develop/optimize-sql.md
  develop/paginate-results.md
  develop/prepared-statement.md
  develop/sample-application-java.md
  develop/sample-application-spring-boot.md
  develop/schema-design-overview.md
  develop/sql-development-specification.md
  develop/tidb-crud-sql.md
  develop/timeouts-in-tidb.md
  develop/transaction-troubleshoot.md
  develop/troubleshoot-overview.md
  develop/update-data.md
  develop/use-common-table-expression.md
  develop/use-follower-read.md
  develop/use-stale-read.md
  develop/use-subqueries.md
  develop/use-temporary-tables.md
  develop/use-views.md
Labels: status/can-merge, status/LGT2, translation/no-need, size/XL, area/develop

#8430 remove legacy versions from pr template
  .github/pull_request_template.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, needs-cherry-pick-release-4.0, require-LGT1, needs-cherry-pick-release-5.0, size/XS, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.0

#8569 tikv: fix a format in tikv config
  tikv-configuration-file.md
Labels: type/bug-fix, status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/XS, area/engine, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.0

#8580 tiup: update how to config initial-commit-ts on tiup v1.9.2
  tiup/tiup-cluster-topology-reference.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, status/LGT2, size/XS, area/tiup, type/compatibility-or-feature-change, needs-cherry-pick-release-6.0

#8583 add dev guide prefix
  .github/workflows/ci.yaml
  TOC.md
  develop/dev-guide-bookshop-schema-design.md
  develop/dev-guide-build-cluster-in-cloud.md
  develop/dev-guide-choose-driver-or-orm.md
  develop/dev-guide-client-connection-parameters.md
  develop/dev-guide-connect-to-tidb.md
  develop/dev-guide-connection-parameters.md
  develop/dev-guide-create-database.md
  develop/dev-guide-create-secondary-indexes.md
  develop/dev-guide-create-table.md
  develop/dev-guide-delete-data.md
  develop/dev-guide-get-data-from-single-table.md
  develop/dev-guide-hybrid-oltp-and-olap-queries.md
  develop/dev-guide-implicit-type-conversion.md
  develop/dev-guide-index-best-practice.md
  develop/dev-guide-insert-data.md
  develop/dev-guide-join-tables.md
  develop/dev-guide-object-naming-guidelines.md
  develop/dev-guide-optimistic-and-pessimistic-transaction.md
  develop/dev-guide-optimize-sql-best-practices.md
  develop/dev-guide-optimize-sql-overview.md
  develop/dev-guide-optimize-sql.md
  develop/dev-guide-overview.md
  develop/dev-guide-paginate-results.md
  develop/dev-guide-prepared-statement.md
  develop/dev-guide-sample-application-java.md
  develop/dev-guide-sample-application-spring-boot.md
  develop/dev-guide-schema-design-overview.md
  develop/dev-guide-sql-development-specification.md
  develop/dev-guide-supported-by-community.md
  develop/dev-guide-supported-by-pingcap.md
  develop/dev-guide-tidb-crud-sql.md
  develop/dev-guide-timeouts-in-tidb.md
  develop/dev-guide-transaction-overview.md
  develop/dev-guide-transaction-restraints.md
  develop/dev-guide-transaction-troubleshoot.md
  develop/dev-guide-troubleshoot-overview.md
  develop/dev-guide-unique-serial-number-generation.md
  develop/dev-guide-unstable-result-set.md
  develop/dev-guide-update-data.md
  develop/dev-guide-use-common-table-expression.md
  develop/dev-guide-use-follower-read.md
  develop/dev-guide-use-stale-read.md
  develop/dev-guide-use-subqueries.md
  develop/dev-guide-use-temporary-tables.md
  develop/dev-guide-use-views.md
  scripts/verify-duplicated-file-name.sh
Labels: status/LGT2, translation/no-need, size/XL, area/develop

#8586 Paragraph reform
  develop/dev-guide-create-database.md
  develop/dev-guide-create-secondary-indexes.md
  develop/dev-guide-create-table.md
  develop/dev-guide-insert-data.md
  develop/dev-guide-optimize-sql-best-practices.md
  develop/dev-guide-overview.md
Labels: translation/no-need, size/L, area/develop

#8587 Update tiflash architecture image
  tiflash/tiflash-overview.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT1, status/LGT2, needs-cherry-pick-release-4.0, needs-cherry-pick-release-5.0, size/XS, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, area/bigdata, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.0

#8604 Follow-up for #7077
  releases/release-5.3.0.md
Labels: status/can-merge, status/LGT2, translation/no-need, size/XS, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.0

#6951 tools: update the usage of region startkey to region keys
  pd-control.md
Labels: translation/from-docs-cn, contribution, status/can-merge, status/LGT2, first-time-contributor, size/S, area/scheduling, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.0

#8268 update statement summary variables scope
  statement-summary-tables.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XS, area/sql-infra, needs-cherry-pick-release-6.0

#8469 Add log redaction info into clinic doc
  clinic/clinic-user-guide-for-tiup.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT2, size/XS, area/clinic, needs-cherry-pick-release-6.0

#8614 Fix typo by replacing `Exection` with `Execution`
  basic-features.md
Labels: type/bug-fix, status/can-merge, status/LGT1, translation/no-need, require-LGT1, needs-cherry-pick-release-5.0, size/XS, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.0

#8602 Paragraph reform
  develop/dev-guide-create-database.md
  develop/dev-guide-create-secondary-indexes.md
  develop/dev-guide-create-table.md
Labels: status/LGT1, translation/no-need, first-time-contributor, size/M, area/develop

#8625 Add missing protocol argument and experimental warning for Pulsar URI
  ticdc/manage-ticdc.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, ONCALL, needs-cherry-pick-release-5.4, area/ticdc, needs-cherry-pick-release-6.0

#8399 dm: custom osc tool's table names
  dm/feature-online-ddl.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT2, size/M, area/dm, needs-cherry-pick-release-6.0

#8608 v5.4.1: Bump version for v5.4 docs
  download-ecosystem-tools.md
  pd-control.md
  pd-recover.md
  production-deployment-using-tiup.md
  quick-start-with-tidb.md
  scale-tidb-using-tiup.md
  sync-diff-inspector/sync-diff-inspector-overview.md
  ticdc/manage-ticdc.md
  tiup/tiup-cluster.md
  tiup/tiup-component-cluster-deploy.md
  tiup/tiup-component-management.md
  tiup/tiup-mirror.md
  tiup/tiup-playground.md
  upgrade-tidb-using-tiup.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, area/general, require-LGT1, size/L

#8639 Update a TiDB FAQ about supported storage engine
  faq/tidb-faq.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/S, area/sql-infra, area/engine, ONCALL, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.0

#8529 Add `GROUP BY <expr> ASC|DESC` syntax as controlled by tidb_enable_noop_functions
  system-variables.md
Labels: translation/doing, status/can-merge, status/LGT2, size/XS, area/sql-infra, type/compatibility-or-feature-change

#8636 statement-summary-tables: fix a broken link
  statement-summary-tables.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT1, needs-cherry-pick-release-4.0, require-LGT1, needs-cherry-pick-release-5.0, area/sql-infra, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.0

#8609 Refine table partition description
  mysql-compatibility.md
Labels: type/bug-fix, translation/done, status/can-merge, status/LGT1, require-LGT1, size/XS, area/sql-infra, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.0

#7893 Update the memory usage size of a transaction #8316
  pessimistic-transaction.md
  transaction-overview.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT1, status/LGT2, status/PTAL, needs-cherry-pick-release-5.0, size/S, area/transaction, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.0

#8661 Update auto-random.md
  auto-random.md
Labels: type/bug-fix, status/can-merge, status/LGT2, translation/no-need, size/XS, area/sql-infra, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.0

#8486 add tidb versioning doc
  TOC.md
  releases/versioning.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT1, status/PTAL, area/general, require-LGT1, size/L, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.0

#8672 tikv: fix some error for tikv config
  tikv-configuration-file.md
Labels: type/bug-fix, translation/doing, status/can-merge, status/LGT1, status/LGT2, size/S, area/engine, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.0

#8679 ci: pause master build
  .github/workflows/dispatch.yml
Labels: status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/XS

#8584 ticdc: synchronize data in the new collations
  ticdc/manage-ticdc.md
  ticdc/troubleshoot-ticdc.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT1, status/LGT2, needs-cherry-pick-release-5.0, size/S, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, area/ticdc, needs-cherry-pick-release-6.0

#8682 Add warnings for consistency check
  dynamic-config.md
  tikv-configuration-file.md
  tikv-control.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/XS, area/engine, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.0

#8440 add docs for GET_LOCK
  TOC.md
  functions-and-operators/locking-functions.md
  mysql-compatibility.md
  system-variables.md
Labels: translation/doing, status/can-merge, status/LGT2, size/M, area/sql-infra, v6.1

#8662 Changed format_version default value to 4
  tiflash/tiflash-configuration.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, status/LGT2, first-time-contributor, size/XS, type/compatibility-or-feature-change, area/bigdata, v6.1

#8692 chore: enable v6.1 pr bot
  .github/workflows/bot.yaml
  scripts/pr_reminder_basedon_assignee.py
Labels: status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/L, missing-translation-status

#8677 Enable Raft Engine by default
  tikv-configuration-file.md
Labels: translation/doing, status/can-merge, status/LGT2, size/XS, area/engine, type/compatibility-or-feature-change, v6.1

#8637 develop: optimize overview and spring boot
  develop/dev-guide-overview.md
  develop/dev-guide-sample-application-spring-boot.md
  media/develop/develop-spring-initializr-configuration.png
Labels: type/enhancement, status/LGT1, translation/no-need, size/XL, area/develop

#8665 develop: 4 docs for optimizing sql
  develop/dev-guide-implicit-type-conversion.md
  develop/dev-guide-optimize-sql-best-practices.md
  develop/dev-guide-optimize-sql-overview.md
  develop/dev-guide-optimize-sql.md
Labels: type/enhancement, status/LGT1, translation/no-need, size/L, area/develop

#8696 dm: add a missing section
  dm/shard-merge-best-practices.md
Labels: type/bug-fix, status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/XS, area/dm, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.0

#8673 dm: deprecate useless config
  dm/dm-source-configuration-file.md
  dm/relay-log.md
  dm/task-configuration-file-full.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/S, type/compatibility-or-feature-change, area/dm, v6.1

#8581 Review dev data write docs
  develop/dev-guide-delete-data.md
  develop/dev-guide-insert-data.md
  develop/dev-guide-prepared-statement.md
  develop/dev-guide-update-data.md
Labels: status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/XL, area/develop

#8630 Review dev troubleshooting docs
  develop/dev-guide-timeouts-in-tidb.md
  develop/dev-guide-troubleshoot-overview.md
  develop/dev-guide-unstable-result-set.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/L, area/develop

#8610 Review dev transaction docs
  develop/dev-guide-join-tables.md
  develop/dev-guide-optimistic-and-pessimistic-transaction.md
  develop/dev-guide-transaction-overview.md
  develop/dev-guide-transaction-restraints.md
  develop/dev-guide-transaction-troubleshoot.md
  media/develop/full-outer-join.png
  media/develop/inner-join.png
  media/develop/left-outer-join.png
  media/develop/right-outer-join.png
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XL, area/develop

#8702 TiDB Lightning: Fix a typo
  migrate-from-csv-files-to-tidb.md
  migrate-large-mysql-to-tidb.md
Labels: type/bug-fix, status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/XS, needs-cherry-pick-release-5.4, area/tidb-lightning, needs-cherry-pick-release-6.0

#8668 Add a warning for MetricsTool
  exporting-grafana-snapshots.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT2, size/XS, area/clinic, v6.1

#8642 develop: review bookshop schema design
  develop/dev-guide-bookshop-schema-design.md
  develop/dev-guide-create-table.md
  develop/dev-guide-get-data-from-single-table.md
  develop/dev-guide-hybrid-oltp-and-olap-queries.md
  develop/dev-guide-optimize-sql.md
Labels: type/enhancement, status/can-merge, status/LGT1, status/LGT2, translation/no-need, size/L, area/develop

#8676 developer: refine create table document
  develop/dev-guide-create-table.md
  develop/dev-guide-hybrid-oltp-and-olap-queries.md
  develop/dev-guide-insert-data.md
  develop/dev-guide-optimize-sql-best-practices.md
Labels: status/LGT1, translation/no-need, size/L, area/develop

#8708 TiFlash: Fix incorrect values of isolation_read_engines
  tiflash/use-tiflash.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT1, needs-cherry-pick-release-4.0, require-LGT1, needs-cherry-pick-release-5.0, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, area/bigdata, needs-cherry-pick-release-5.3, ONCALL, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.0

#8678 develop: refine 2 docs
  develop/dev-guide-create-table.md
  develop/dev-guide-sql-development-specification.md
  develop/dev-guide-unique-serial-number-generation.md
Labels: type/enhancement, status/LGT1, translation/no-need, size/M, area/develop

#8701 dm: update dm webui guide
  dm/dm-webui-guide.md
  media/dm/dm-webui-preview-en.png
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/M, area/dm, v6.1

#8680 Dev guide: review reference
  develop/dev-guide-create-table.md
  develop/dev-guide-index-best-practice.md
  develop/dev-guide-object-naming-guidelines.md
Labels: type/enhancement, status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/L, area/develop

#8644 Dev guide: database schema design
  develop/dev-guide-create-database.md
  develop/dev-guide-create-secondary-indexes.md
  develop/dev-guide-schema-design-overview.md
Labels: status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/L, area/develop

#8629 develop-guide: Connect to TiDB
  develop/dev-guide-choose-driver-or-orm.md
  develop/dev-guide-connect-to-tidb.md
  develop/dev-guide-connection-parameters.md
Labels: status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/L, area/develop

#8723 chore: remove test file ref from cloud TOC
  TOC-cloud.md
  common/sql-statements/sql-statement-add-column.md
  common/sql-statements/sql-statement-add-index.md
Labels: status/LGT1, translation/no-need, size/L

#8667 Dev guide: review quick start
  develop/dev-guide-build-cluster-in-cloud.md
  develop/dev-guide-sample-application-java.md
  develop/dev-guide-tidb-crud-sql.md
Labels: type/enhancement, status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/XL, area/develop

#8666 Dev guide: review read data
  develop/dev-guide-get-data-from-single-table.md
  develop/dev-guide-hybrid-oltp-and-olap-queries.md
  develop/dev-guide-paginate-results.md
  develop/dev-guide-use-common-table-expression.md
  develop/dev-guide-use-follower-read.md
  develop/dev-guide-use-stale-read.md
  develop/dev-guide-use-subqueries.md
  develop/dev-guide-use-temporary-tables.md
  develop/dev-guide-use-views.md
Labels: type/enhancement, status/can-merge, status/LGT1, translation/no-need, require-LGT1, do-not-merge/work-in-progress, size/XXL, area/develop

#8547 Refine ci for cloud and common
  .github/workflows/ci.yaml
  .gitignore
  package-lock.json
  package.json
  scripts/filterCloudDoc.js
  scripts/generate_cloud_pdf.sh
  scripts/merge_by_toc.py
Labels: status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/XXL, area/develop

#8725 delete adopters.md
  TOC.md
  _index.md
  adopters.md
Labels: status/can-merge, needs-cherry-pick-release-2.1, needs-cherry-pick-release-3.0, needs-cherry-pick-release-3.1, status/LGT1, translation/no-need, needs-cherry-pick-release-4.0, require-LGT1, needs-cherry-pick-release-5.0, size/L, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.0

#8735 [Copy] developer guide en edition
  TOC.md
  develop/dev-guide-choose-driver-or-orm.md
  develop/dev-guide-client-connection-parameters.md
  develop/dev-guide-create-database.md
  develop/dev-guide-create-secondary-indexes.md
  develop/dev-guide-create-table.md
  develop/dev-guide-delete-data.md
  develop/dev-guide-index-best-practice.md
  develop/dev-guide-overview.md
  develop/dev-guide-prepared-statement.md
  develop/dev-guide-sample-application-spring-boot.md
  develop/dev-guide-schema-design-overview.md
  develop/dev-guide-supported-by-community.md
  develop/dev-guide-supported-by-pingcap.md
  develop/dev-guide-unique-serial-number-generation.md
  develop/dev-guide-update-data.md
  develop/dev-guide-use-common-table-expression.md
  develop/dev-guide-use-views.md
Labels: status/can-merge, status/LGT2, translation/no-need, first-time-contributor, size/L, area/develop

#8717 tiflash: update function list supported by TiFlash
  tiflash/use-tiflash.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, status/LGT2, size/XS, area/bigdata, v6.1

#8744 Master typo
  TOC.md
  develop/dev-guide-overview.md
  develop/dev-guide-troubleshoot-overview.md
Labels: type/bug-fix, translation/doing, status/can-merge, status/LGT1, require-LGT1, size/S, area/develop

#8746 add doc for raft engine memory limit
  tikv-configuration-file.md
Labels: translation/doing, status/can-merge, status/LGT1, require-LGT1, size/XS, type/compatibility-or-feature-change, v6.1

#8743 [Debug] typo
  TOC.md
  develop/dev-guide-overview.md
  develop/dev-guide-troubleshoot-overview.md
Labels: type/bug-fix, status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/S, area/develop

#8738 Make list partitioning GA (remove Experimental)
  basic-features.md
  experimental-features.md
  partitioned-table.md
  placement-rules-in-sql.md
  system-variables.md
Labels: translation/doing, status/can-merge, status/LGT2, size/M, area/sql-infra, v6.1

#8689 Update tidb-configuration and system variables for 6.1
  benchmark/benchmark-tidb-using-sysbench.md
  best-practices/three-nodes-hybrid-deployment.md
  command-line-flags-for-tidb-configuration.md
  configure-memory-usage.md
  dashboard/dashboard-faq.md
  dynamic-config.md
  enable-disk-spill-encrypt.md
  enable-tls-between-clients-and-servers.md
  error-codes.md
  faq/sql-faq.md
  grafana-tidb-dashboard.md
  identify-expensive-queries.md
  optimizer-hints.md
  releases/release-4.0.10.md
  releases/release-5.0.0.md
  releases/release-5.0.1.md
  releases/release-5.1.0.md
  sql-prepared-plan-cache.md
  system-variables.md
  tidb-configuration-file.md
  tidb-troubleshooting-map.md
Labels: translation/doing, status/can-merge, status/LGT2, size/XXL, area/sql-infra, type/compatibility-or-feature-change, v6.1

#8466 remove EXPERIMENTAL for tidb_partition_prune_mode = 'dynamic'
  partitioned-table.md
  system-variables.md
  tiflash/use-tiflash.md
Labels: translation/doing, status/can-merge, status/LGT2, size/L, area/sql-infra, area/bigdata, v6.1

#8753 [Update] update TOC
  TOC.md
Labels: status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/XS, area/develop

#8754 [Update] update TOC
  TOC.md
Labels: translation/doing, status/can-merge, status/LGT1, require-LGT1, size/XS, area/develop

#8757 add parameters for tidb_stats_cache_mem_quota
  system-variables.md
  tidb-configuration-file.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/S, area/planner, type/compatibility-or-feature-change, v6.1

#8761 fix a wrong ref in memory control
  configure-memory-usage.md
Labels: type/bug-fix, status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/XS, area/sql-infra, v6.1

#8758 [Update] add dev-guide-index-best-practice.md
  TOC.md
Labels: status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/XS, area/develop

#8718 ticdc: Add support for GBK charset in TiCDC
  character-set-gbk.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, status/LGT2, size/S, area/ticdc, v6.1

#8716 tiflash: add docs about window function push down to tiflash
  tiflash/use-tiflash.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, status/LGT2, size/XS, area/bigdata, v6.1

#8706 Update continuous-profiling.md
  dashboard/continuous-profiling.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, status/LGT2, size/XS, area/diagnosis, v6.1

#8765 cloud: add info about backup files for cluster deletion
  tidb-cloud/backup-and-restore.md
  tidb-cloud/delete-tidb-cluster.md
Labels: status/can-merge, status/LGT1, translation/no-need, require-LGT1, area/tidb-cloud

#8766 auditing: enhance the example of audit log filename
  tidb-cloud/tidb-cloud-auditing.md
Labels: type/bug-fix, status/can-merge, status/LGT1, translation/no-need, require-LGT1, area/tidb-cloud

#8769 Add cloud scripts
  .github/workflows/ci.yaml
  .gitignore
  package-lock.json
  package.json
  scripts/filterCloudDoc.js
  scripts/generate_cloud_pdf.sh
  scripts/merge_by_toc.py
  scripts/verify-duplicated-file-name.sh
Labels: status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/XXL

#8764 system-variables: Add type information, range info for float
  system-variables.md
Labels: type/enhancement, translation/doing, status/can-merge, status/LGT2, size/L, area/sql-infra
