Repository pingcap/docs, pull requests merged in 2022-08, with the labels that each got.

#9768 cloud: add a release note for security setting updates
  tidb-cloud/configure-security-settings.md
  tidb-cloud/release-notes-2022.md
Labels: status/can-merge, status/LGT1, translation/no-need, type/compatibility-or-feature-change, area/tidb-cloud

#9694 tiflash: add a new configuration dt_enable_read_thread
  tiflash/tiflash-configuration.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XS, area/bigdata, v6.2

#9769 sql: Add placement columns for `show table regions`
  sql-statements/sql-statement-show-table-regions.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/M, area/sql-infra, v6.2

#9782 releases: add a link to release support policy
  releases/versioning.md
Labels: translation/done, status/can-merge, status/LGT1, require-LGT1, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1

#8901 deprecate gc-merge-rewrite
  tikv-configuration-file.md
Labels: translation/done, status/can-merge, status/LGT2, size/XS, area/engine, type/compatibility-or-feature-change, v6.2

#9680 v6.2: add TiKV minimal version limit
  tidb-limitations.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XS, type/compatibility-or-feature-change, v6.2

#9773 cloud: update for the cluster creation UI
  develop/dev-guide-build-cluster-in-cloud.md
  tidb-cloud/backup-and-restore.md
  tidb-cloud/config-s3-and-gcs-access.md
  tidb-cloud/configure-security-settings.md
  tidb-cloud/connect-to-tidb-cluster.md
  tidb-cloud/create-tidb-cluster.md
  tidb-cloud/delete-tidb-cluster.md
  tidb-cloud/import-csv-files.md
  tidb-cloud/import-parquet-files.md
  tidb-cloud/import-sample-data.md
  tidb-cloud/migrate-data-into-tidb.md
  tidb-cloud/migrate-from-amazon-s3-or-gcs.md
  tidb-cloud/migrate-from-aurora-bulk-import.md
  tidb-cloud/scale-tidb-cluster.md
  tidb-cloud/select-cluster-tier.md
  tidb-cloud/set-up-vpc-peering-connections.md
  tidb-cloud/tidb-cloud-quickstart.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/L, area/tidb-cloud

#9772 cloud: update support doc for support plans
  tidb-cloud/tidb-cloud-support.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/M, area/tidb-cloud

#9771 cloud: update steps of importing CSV and Parquet files
  tidb-cloud/import-csv-files.md
  tidb-cloud/import-parquet-files.md
  tidb-cloud/import-sample-data.md
  tidb-cloud/migrate-from-aurora-bulk-import.md
  tidb-cloud/tidb-cloud-quickstart.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/L, type/compatibility-or-feature-change, area/tidb-cloud

#9774 Add built-in monitoring
  TOC-tidb-cloud.md
  tidb-cloud/_index.md
  tidb-cloud/built-in-monitoring.md
  tidb-cloud/monitor-tidb-cluster.md
  tidb-cloud/select-cluster-tier.md
  tidb-cloud/tune-performance.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/L, type/compatibility-or-feature-change, area/tidb-cloud

#9778 cloud: regulate region names
  tidb-cloud/backup-and-restore.md
  tidb-cloud/release-notes-2022.md
  tidb-cloud/size-your-cluster.md
  tidb-cloud/tidb-cloud-billing-tcu.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/L, type/compatibility-or-feature-change, area/tidb-cloud

#9797 cloud: Update built-in-monitoring.md
  tidb-cloud/built-in-monitoring.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/XS, area/tidb-cloud

#9794 develop: update DevTier to Developer Tier
  TOC.md
  develop/dev-guide-build-cluster-in-cloud.md
  develop/dev-guide-create-database.md
  develop/dev-guide-create-secondary-indexes.md
  develop/dev-guide-create-table.md
  develop/dev-guide-delete-data.md
  develop/dev-guide-get-data-from-single-table.md
  develop/dev-guide-insert-data.md
  develop/dev-guide-optimistic-and-pessimistic-transaction.md
  develop/dev-guide-optimize-sql-overview.md
  develop/dev-guide-overview.md
  develop/dev-guide-sql-development-specification.md
  develop/dev-guide-tidb-crud-sql.md
  develop/dev-guide-update-data.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT2, size/M, area/develop, needs-cherry-pick-release-6.1

#9756 lightning: add docs for disk quota
  tidb-lightning/tidb-lightning-physical-import-mode-usage.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/S, area/tidb-lightning, v6.2

#9718 Add tidb_super_read_only
  system-variables.md
Labels: type/enhancement, translation/doing, status/can-merge, status/LGT2, size/S, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.0, needs-cherry-pick-release-6.1, v6.2

#9662 sql: manual compact GA
  sql-statements/sql-statement-alter-table-compact.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/S, area/sql-infra, v6.2

#9560 *: add docs homepage and TiDB learning path
  _docHome.md
Labels: translation/done, status/can-merge, status/LGT2, area/general, size/L

#9803 correct experimental information in docs
  basic-features.md
  experimental-features.md
  placement-rules-in-sql.md
  statistics.md
Labels: type/bug-fix, requires-version-specific-changes, translation/doing, status/can-merge, status/LGT2, needs-cherry-pick-release-4.0, needs-cherry-pick-release-5.0, size/S, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1

#9824 *: add docs home link in toc
  TOC.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, area/general, require-LGT1

#9827 cloud: add tidb cloud learning path for 6.1
  tidb-cloud/_index.md
Labels: type/enhancement, status/can-merge, status/LGT1, translation/no-need, require-LGT1, area/tidb-cloud

#9828 tidb: add tidb learnig path
  tidb-cloud/_index.md
Labels: status/can-merge, status/LGT1, translation/no-need, area/general, needs-cherry-pick-release-4.0, require-LGT1, needs-cherry-pick-release-5.0, size/L, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.0, needs-cherry-pick-release-6.1

#9837 Corrected content in tidb cloud learning path
  tidb-cloud/_index.md
Labels: type/bug-fix, status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/L, area/tidb-cloud

#9838 tidb: add the latest content for tidb learning path
  _index.md
Labels: type/enhancement, status/can-merge, status/LGT1, translation/no-need, needs-cherry-pick-release-4.0, require-LGT1, needs-cherry-pick-release-5.0, size/L, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.0, needs-cherry-pick-release-6.1

#9826 develop: dev-guide-transaction-troubleshoot-typo.md fix typo
  develop/dev-guide-transaction-troubleshoot.md
Labels: type/bug-fix, status/can-merge, status/LGT2, translation/no-need, size/XS, ONCALL, area/develop, needs-cherry-pick-release-6.1

#9641 Update the multi-schema change DDL limitation
  mysql-compatibility.md
  sql-statements/sql-statement-add-column.md
  sql-statements/sql-statement-add-index.md
  sql-statements/sql-statement-alter-table.md
  sql-statements/sql-statement-change-column.md
  sql-statements/sql-statement-drop-column.md
  sql-statements/sql-statement-modify-column.md
  system-variables.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/M, type/compatibility-or-feature-change, v6.2

#9656 tikv: update the Load Base Split introduction
  configure-load-base-split.md
  dynamic-config.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/S, area/scheduling, v6.2

#9672 tikv: add a new dynamic config
  dynamic-config.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT2, size/XS, area/engine, v6.2

#9848 cloud: update TOC for backup and restore
  TOC-tidb-cloud.md
Labels: type/enhancement, status/can-merge, status/LGT1, translation/no-need, size/XS, area/tidb-cloud

#9777 tikv: add command line flag --config-info
  command-line-flags-for-tikv-configuration.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/S, area/engine, v6.2

#9849 tidb learning path: updated TiDB learning path, and added docs home in toc
  TOC.md
  _index.md
Labels: type/enhancement, status/can-merge, status/LGT1, translation/no-need, require-LGT1

#9850 toc: add docs home in tidb toc and tidb cloud toc
  TOC-tidb-cloud.md
  TOC.md
Labels: type/refactor, status/can-merge, status/LGT1, translation/no-need, require-LGT1

#9822 Add note for tidb_restricted_read_only
  system-variables.md
Labels: type/enhancement, translation/doing, status/can-merge, status/LGT1, size/XS, area/sql-infra

#9683 planner: update the doc for merge hint
  basic-features.md
  develop/dev-guide-use-common-table-expression.md
  optimizer-hints.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/S, area/planner, v6.2

#9776 config: add description of report-min-resolved-ts-interval
  tikv-configuration-file.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XS, area/engine, type/compatibility-or-feature-change, v6.2

#9781 system-variables: add description for `tidb_default_string_match_selectivity`
  system-variables.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/S, area/planner, type/compatibility-or-feature-change, v6.2

#9533 Update doc for DATA_LOCK_WAITS
  information-schema/information-schema-data-lock-waits.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT2, first-time-contributor, size/XS, area/transaction, v6.2

#9593 add doc for savepoint
  TOC.md
  best-practices/java-app-best-practices.md
  develop/dev-guide-choose-driver-or-orm.md
  develop/dev-guide-transaction-restraints.md
  mysql-compatibility.md
  sql-statements/sql-statement-rollback.md
  sql-statements/sql-statement-savepoint.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/L, area/transaction, v6.2

#9696 system-variables: add fine_grained_shuffle
  system-variables.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/S, type/compatibility-or-feature-change, area/bigdata, v6.2

#9802 planner: add documents for cost model variables
  TOC.md
  cost-model.md
  media/cost-model.png
  sql-physical-optimization.md
  system-variables.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/M, area/planner, type/compatibility-or-feature-change, v6.2

#9676 cloud: add developer guides
  TOC-tidb-cloud.md
  develop/dev-guide-bookshop-schema-design.md
  develop/dev-guide-build-cluster-in-cloud.md
  develop/dev-guide-connect-to-tidb.md
  develop/dev-guide-connection-parameters.md
  develop/dev-guide-create-secondary-indexes.md
  develop/dev-guide-create-table.md
  develop/dev-guide-delete-data.md
  develop/dev-guide-get-data-from-single-table.md
  develop/dev-guide-hybrid-oltp-and-olap-queries.md
  develop/dev-guide-insert-data.md
  develop/dev-guide-optimize-sql-best-practices.md
  develop/dev-guide-optimize-sql-overview.md
  develop/dev-guide-overview.md
  develop/dev-guide-sample-application-golang.md
  develop/dev-guide-sample-application-java.md
  develop/dev-guide-sample-application-spring-boot.md
  develop/dev-guide-schema-design-overview.md
  develop/dev-guide-transaction-troubleshoot.md
  develop/dev-guide-troubleshoot-overview.md
  develop/dev-guide-update-data.md
  develop/dev-guide-use-follower-read.md
  media/develop/tidb-cloud-connect.png
  non-transactional-dml.md
  tidb-cloud/tidb-cloud-sql-tuning-overview.md
Labels: type/enhancement, status/can-merge, status/LGT1, translation/no-need, type/master-cherry-pick, size/XXL, area/tidb-cloud

#9630 v6.2: add doc for auto analyze auto tune support
  dynamic-config.md
  sql-statements/sql-statement-show-config.md
  tikv-configuration-file.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/M, area/scheduling, type/compatibility-or-feature-change, v6.2

#9780 add doc for @@tidb_enable_noop_variables
  system-variables.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/S, area/sql-infra, v6.2

#9787 tikv: add config item "raw-min-ts-outlier-threshold"
  tikv-configuration-file.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/S, area/engine, type/compatibility-or-feature-change, v6.2

#9734 planner: add the doc for the SEMI_JOIN_REWRITE hint
  optimizer-hints.md
  subquery-optimization.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/M, area/planner, v6.2

#9731 v6.2: add a few sysvars
  dynamic-config.md
  system-variables.md
  tikv-configuration-file.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/M, area/sql-infra, type/compatibility-or-feature-change, v6.2

#9697 planner: update the doc for the leading hint
  optimizer-hints.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/XS, area/planner, v6.2

#9857 learning path: fix broken links
  _index.md
Labels: type/bug-fix, status/can-merge, status/LGT1, translation/no-need, area/general, size/S

#9855 cloud: add develop doc links to the learning path
  TOC-tidb-cloud.md
  develop/dev-guide-build-cluster-in-cloud.md
  tidb-cloud/_index.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/S, area/tidb-cloud

#9851 cloud: improve release notes by adding reference links
  tidb-cloud/release-notes-2022.md
Labels: type/enhancement, status/can-merge, status/LGT1, translation/no-need, size/M, area/tidb-cloud

#9853 cloud: Update select-cluster-tier.md
  tidb-cloud/select-cluster-tier.md
Labels: type/enhancement, status/can-merge, status/LGT1, translation/no-need, size/XS, area/tidb-cloud

#9681 system variable: add tidb_opt_skew_distinct_agg
  system-variables.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/S, area/planner, type/compatibility-or-feature-change, v6.2

#9699 sql: add fast mode
  TOC.md
  develop/dev-guide-read-in-fast-mode.md
  information-schema/information-schema-tiflash-replica.md
  sql-statements/sql-statement-set-tiflash-mode.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/L, area/sql-infra, v6.2

#9869 cloud: add tidb cloud dve guide
  _docHome.md
Labels: status/can-merge, status/LGT2, translation/no-need, area/general, size/S

#9852 update the limitations of multi-schema change
  mysql-compatibility.md
  sql-statements/sql-statement-alter-table.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XS, v6.2

#9862 ci: add link fail fast
  .github/workflows/link-fail-fast.yaml
  .github/workflows/link.yaml
  .lycheeignore
Labels: translation/doing, status/can-merge, status/LGT1, require-LGT1, size/M, needs-cherry-pick-release-6.1

#9813 system-veriables: add @@tidb_min_paging_size and @@tidb_max_paging_size
  system-variables.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/S, type/compatibility-or-feature-change, v6.2

#9790 add multi-schema change to experimental feature page
  experimental-features.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, needs-cherry-pick-release-5.0, size/XS, area/sql-infra, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, add-missing-sysvar-experimental-docs

#9876 delete experimental for tidb_analyze_version
  system-variables.md
Labels: translation/done, status/can-merge, status/LGT1, require-LGT1, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, add-missing-sysvar-experimental-docs

#9798 add doc for information_schema.variable_info
  TOC.md
  information-schema/information-schema-variables-info.md
  information-schema/information-schema.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/M, v6.2

#9875 add doc for tidb_track_aggregate_memory_usage
  system-variables.md
Labels: translation/doing, status/can-merge, status/LGT2, size/S, add-missing-sysvar-experimental-docs

#9809 tidb-configuration-file: remove the query feedback related configuration
  releases/release-5.0.0.md
  releases/release-5.1.0.md
  releases/release-5.2.0.md
  statistics.md
  tidb-configuration-file.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/S, type/compatibility-or-feature-change, v6.2

#9893 Revert "config: add description of report-min-resolved-ts-interval"
  tikv-configuration-file.md
Labels: status/can-merge, status/LGT2, translation/no-need, size/XS, v6.2

#9709 cloud: refine vpc peering doc from doc test
  media/tidb-cloud/vpc-peering/vpc-peering-creating-infos.png
  tidb-cloud/set-up-vpc-peering-connections.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/S, area/tidb-cloud, from-doc-test

#9868 cloud: change the position of Security Settings button
  tidb-cloud/configure-security-settings.md
  tidb-cloud/tidb-cloud-billing.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/S, area/tidb-cloud

#9871 cloud: support GCP region Osaka
  tidb-cloud/backup-and-restore.md
  tidb-cloud/release-notes-2022.md
  tidb-cloud/tidb-cloud-billing-tcu.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/XS, type/compatibility-or-feature-change, area/tidb-cloud

#9761 cloud: Create migrate-incremental-data-from-mysql.md
  TOC-tidb-cloud.md
  tidb-cloud/migrate-data-into-tidb.md
  tidb-cloud/migrate-incremental-data-from-mysql.md
Labels: type/refactor, status/can-merge, status/LGT1, translation/no-need, size/XL, area/tidb-cloud

#9887 Update config-s3-and-gcs-access.md
  tidb-cloud/config-s3-and-gcs-access.md
Labels: type/enhancement, status/can-merge, status/LGT1, translation/no-need, size/XS, area/tidb-cloud

#9888 sql-statements: add explanation for explain format = "brief"
  sql-statements/sql-statement-explain.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, needs-cherry-pick-release-5.0, size/S, area/planner, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1

#9796 Add description of --overwrite-checkpoint-ts for changefeed resume
  ticdc/manage-ticdc.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/XS, area/ticdc, v6.2

#9793 dm: add doc for continuous data validation
  TOC.md
  dm/dm-continuous-data-validation.md
  dm/task-configuration-file-full.md
  media/dm/dm-validator-lifecycle.jpeg
  media/dm/dm-validator-summary.jpeg
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/XL, area/dm, v6.2

#9795 br: add doc for restoring sys privilege tables
  br/backup-and-restore-faq.md
  br/backup-and-restore-overview.md
  br/br-usage-restore.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/M, area/br, v6.2

#9905 Add fast analyze to experimental document
  experimental-features.md
Labels: translation/done, status/can-merge, status/LGT1, needs-cherry-pick-release-4.0, require-LGT1, needs-cherry-pick-release-5.0, size/XS, area/planner, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, add-missing-sysvar-experimental-docs

#9330 Add `max-days` and `max-backups` default value 0 means for PD
  pd-configuration-file.md
Labels: type/enhancement, translation/done, status/can-merge, status/LGT2, size/XS, area/scheduling, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.0, needs-cherry-pick-release-6.1

#9779 system variable: add doc for tidb_remove_orderby_in_subquery, tidb_opt_projection_push_down, tidb_opt_mpp_outer_join_fixed_build_side
  system-variables.md
Labels: translation/doing, status/can-merge, status/LGT2, first-time-contributor, size/S, add-missing-sysvar-experimental-docs

#9810 dashboard: add the monitoring page
  TOC.md
  dashboard/dashboard-monitoring.md
  media/dashboard/dashboard-monitoring.png
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, status/LGT2, size/L, area/diagnosis, v6.2

#9757 remove s3.region parameter
  br/backup-and-restore-storages.md
  br/backup-storage-S3.md
  dm/task-configuration-file-full.md
  dumpling-overview.md
  encryption-at-rest.md
  migrate-aurora-to-tidb.md
  migrate-from-csv-files-to-tidb.md
  migrate-from-sql-files-to-tidb.md
  migrate-large-mysql-to-tidb.md
  sql-statements/sql-statement-backup.md
  sql-statements/sql-statement-restore.md
  sql-statements/sql-statement-show-backups.md
  tidb-cloud/migrate-from-aurora-bulk-import.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/M, area/migrate, area/dm, area/br, area/tidb-lightning, area/dumpling, v6.2

#9892 v6.2: bump version for tools
  br/backup-and-restore-use-cases.md
  dm/quick-start-create-task.md
  download-ecosystem-tools.md
  quick-start-with-tidb.md
  ticdc/manage-ticdc.md
  tidb-binlog/get-started-with-tidb-binlog.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/S, area/migrate, v6.2

#9759 ticdc: add doc for row filter config
  ticdc/manage-ticdc.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/M, area/ticdc, v6.2

#9821 dashboard: add description about visual execution plans
  dashboard/dashboard-slow-query.md
  dashboard/dashboard-statement-details.md
  media/dashboard/dashboard-slow-queries-access-v620.png
  media/dashboard/dashboard-slow-queries-detail1-v620.png
  media/dashboard/dashboard-slow-queries-detail2-v620.png
  media/dashboard/dashboard-slow-queries-list1-v620.png
  media/dashboard/dashboard-slow-queries-list2-v620.png
  media/dashboard/dashboard-slow-queries-list3-v620.png
  media/dashboard/dashboard-statement-detail-v620.png
  media/dashboard/dashboard-visual-plan-2.png
  media/dashboard/dashboard-visual-plan-popup.png
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, status/LGT2, size/M, area/diagnosis, v6.2

#9918 fix broken link in binlog-consumer-client.md
  tidb-binlog/binlog-consumer-client.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XS, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1

#9895 Not recommend setting tiflash logical split since 6.2
  tiflash/tiflash-configuration.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, status/LGT2, size/XS, type/compatibility-or-feature-change, v6.2

#9921 tidb overview: updated video links
  overview.md
Labels: type/enhancement, status/can-merge, status/LGT1, translation/no-need, area/general, require-LGT1, size/XS

#9924 tiflash: add some config item for PageStorage V3
  tiflash/tiflash-configuration.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, status/LGT2, size/XS, type/compatibility-or-feature-change, area/bigdata, v6.2

#9812 *: add description about the binary plan
  identify-slow-queries.md
  information-schema/information-schema-slow-query.md
  statement-summary-tables.md
  system-variables.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, status/LGT2, size/XL, area/sql-infra, v6.2

#9854 Add Cascades Planner to experimental-features
  experimental-features.md
Labels: translation/done, status/can-merge, status/LGT1, needs-cherry-pick-release-4.0, require-LGT1, first-time-contributor, needs-cherry-pick-release-5.0, size/XS, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, add-missing-sysvar-experimental-docs

#9938 overview: refine the size of the intro video
  overview.md
Labels: type/enhancement, status/can-merge, status/LGT1, translation/no-need, area/general, require-LGT1, size/XS, needs-cherry-pick-release-6.1

#9873 cloud: add a note for scaling 4C cluster
  tidb-cloud/scale-tidb-cluster.md
Labels: type/enhancement, status/can-merge, status/LGT2, translation/no-need, size/XS, area/tidb-cloud

#9914 Add alert rules for PD_cluster_slow_tikv_nums
  alert-rules.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/S, area/scheduling, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.0, needs-cherry-pick-release-6.1

#9904 sysvar: add description in INSTANCE sysvars
  system-variables.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT2, first-time-contributor, size/S, area/sql-infra, ONCALL, needs-cherry-pick-release-6.1

#9890 br: update tikv config for pitr
  tikv-configuration-file.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, status/LGT2, size/M, area/br, v6.2

#9951 chore: disable release-6.2
  .github/workflows/dispatch.yml
Labels: status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/XS

#9929 Add desc for variable `tidb_batch_pending_tiflash_count`
  system-variables.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XS, area/bigdata, add-missing-sysvar-experimental-docs

#9950 Syncing tab choices using groupId
  clinic/clinic-user-guide-for-tiup.md
  clinic/quick-start-with-clinic.md
  develop/dev-guide-delete-data.md
  develop/dev-guide-get-data-from-single-table.md
  develop/dev-guide-join-tables.md
  develop/dev-guide-optimistic-and-pessimistic-transaction.md
  develop/dev-guide-paginate-results.md
  develop/dev-guide-prepared-statement.md
  develop/dev-guide-sample-application-golang.md
  develop/dev-guide-sample-application-java.md
  develop/dev-guide-transaction-restraints.md
  develop/dev-guide-update-data.md
  develop/dev-guide-use-common-table-expression.md
  develop/dev-guide-use-follower-read.md
  develop/dev-guide-use-stale-read.md
  develop/dev-guide-use-temporary-tables.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT2, size/XL, area/clinic, area/develop, needs-cherry-pick-release-6.1

#9896 add descriptions for two system variables
  system-variables.md
Labels: translation/doing, status/can-merge, status/LGT3, first-time-contributor, size/S, area/transaction, add-missing-sysvar-experimental-docs

#9897 add document for system variable tidb_read_consistency
  system-variables.md
Labels: translation/doing, status/can-merge, status/LGT3, first-time-contributor, size/S, area/transaction, add-missing-sysvar-experimental-docs

#9750 [Update] add PE link
  develop/dev-guide-overview.md
Labels: status/can-merge, status/LGT2, translation/no-need, size/XS, area/develop, needs-cherry-pick-release-6.1

#9866 ticdc: add doc for integrating with Confluent
  media/integrate/add-snowflake-sink-connector.png
  media/integrate/authentication.png
  media/integrate/configuration.png
  media/integrate/confluent-topics.PNG
  media/integrate/credentials.png
  media/integrate/data-preview.png
  media/integrate/results.png
  media/integrate/select-from-orders.png
  media/integrate/topic-selection.png
  ticdc/integrate-confluent-using-ticdc.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, status/LGT2, size/XL, area/ticdc, needs-cherry-pick-release-6.1

#9962 Revert "ticdc: add doc for integrating with Confluent (#9866)"
  media/integrate/add-snowflake-sink-connector.png
  media/integrate/authentication.png
  media/integrate/configuration.png
  media/integrate/confluent-topics.PNG
  media/integrate/credentials.png
  media/integrate/data-preview.png
  media/integrate/results.png
  media/integrate/select-from-orders.png
  media/integrate/topic-selection.png
  ticdc/integrate-confluent-using-ticdc.md
Labels: status/can-merge, status/LGT1, translation/no-need, area/ticdc

#9963 revert several lines that caused build failure
  clinic/clinic-user-guide-for-tiup.md
Labels: type/bug-fix, status/can-merge, status/LGT1, translation/no-need, size/XS

#9965 Update dev-guide-sample-application-java.md
  develop/dev-guide-sample-application-java.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/XS, area/develop

#9964 Revert "Revert "ticdc: add doc for integrating with Confluent (#9866)""
  media/integrate/add-snowflake-sink-connector.png
  media/integrate/authentication.png
  media/integrate/configuration.png
  media/integrate/confluent-topics.PNG
  media/integrate/credentials.png
  media/integrate/data-preview.png
  media/integrate/results.png
  media/integrate/select-from-orders.png
  media/integrate/topic-selection.png
  ticdc/integrate-confluent-using-ticdc.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/XL, area/ticdc

#9937 change fastmode to fastscan in dev-guide
  TOC.md
  develop/dev-guide-read-in-fast-mode.md
  develop/dev-guide-use-fastscan.md
  sql-statements/sql-statement-set-tiflash-mode.md
Labels: translation/done, status/can-merge, status/LGT2, first-time-contributor, size/L, area/bigdata, v6.2, needs-cherry-pick-release-6.2

#9969 fix simpletab
  clinic/clinic-user-guide-for-tiup.md
  develop/dev-guide-sample-application-java.md
Labels: type/bug-fix, status/can-merge, status/LGT2, translation/no-need, size/XS, needs-cherry-pick-release-6.2

#9971 chore: update wording for pr reminder bot
  scripts/pr_reminder.py
  scripts/pr_reminder_basedon_assignee.py
Labels: status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/XS

#9972 clinic/clinic-user-guide-for-tiup: add groupid
  clinic/clinic-user-guide-for-tiup.md
Labels: type/bug-fix, status/can-merge, status/LGT1, translation/no-need, size/XS

#9966 ci: filter md in linkcheck
  .github/workflows/link-fail-fast.yaml
Labels: status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/XS, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2

#9976 cloud: remove a customer name
  tidb-cloud/tidb-cloud-faq.md
Labels: status/can-merge, status/LGT1, translation/no-need, needs-cherry-pick-master, size/XS, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, area/tidb-cloud, needs-cherry-pick-release-6.2

#9977 use scale-in to manually remove a TiFlash node
  scale-tidb-using-tiup.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XS, area/bigdata, ONCALL, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.0, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2

#9423 dm: fix a 404 link
  dm/dm-overview.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, size/XS, area/dm, needs-cherry-pick-release-6.2

#9981 Fix description for tidb_opt_mpp_outer_join_fixed_build_side
  system-variables.md
Labels: type/bug-fix, translation/done, status/can-merge, status/LGT2, size/XS, needs-cherry-pick-release-6.2, add-missing-sysvar-experimental-docs

#9988 Fix typo in stale-read.md
  stale-read.md
Labels: contribution, status/can-merge, status/LGT2, translation/no-need, first-time-contributor, size/XS, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2

#9758 proxysql integration
  TOC.md
  develop/dev-guide-proxysql-integration.md
  media/develop/proxysql_config_flow.png
  media/develop/proxysql_config_layer.png
Labels: status/can-merge, status/LGT2, translation/no-need, size/XXL, area/develop, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2

#9939 add missing doc for enable-forwarding
  tidb-configuration-file.md
  tikv-configuration-file.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, needs-cherry-pick-release-4.0, needs-cherry-pick-release-5.0, size/S, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2, add-missing-sysvar-experimental-docs

#9999 develop/dev-guide-proxysql-integration.md: fix groupid
  develop/dev-guide-proxysql-integration.md
Labels: type/bug-fix, status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/XS, area/develop, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2

#9762 update tikv control doc
  tikv-control.md
Labels: type/enhancement, translation/doing, status/can-merge, status/LGT2, size/S, area/engine, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2

#9688 sync_diff_inspector: update unsupport types
  sync-diff-inspector/sync-diff-inspector-overview.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT1, status/LGT2, needs-cherry-pick-release-5.0, size/XS, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, area/sync-diff-inspector, needs-cherry-pick-release-6.1

#10014 *: align description about pd-control with Chinese
  pd-control.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, status/LGT2, size/S, v6.2, needs-cherry-pick-release-6.2

#9689 add configuration description about isolation-read.engines & proxy-pr…
  best-practices/haproxy-best-practices.md
  tidb-configuration-file.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT1, status/LGT2, size/M, area/sql-infra, type/compatibility-or-feature-change, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2

#9925 cloud: add credit docs
  TOC-tidb-cloud.md
  media/tidb-cloud/poc-points.png
  tidb-cloud/_index.md
  tidb-cloud/release-notes-2022.md
  tidb-cloud/tidb-cloud-billing.md
  tidb-cloud/tidb-cloud-glossary.md
  tidb-cloud/tidb-cloud-poc.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/M, type/compatibility-or-feature-change, area/tidb-cloud

#10029 br: rename three br docs under maintain for better search experience
  TOC.md
  backup-and-restore-use-cases-for-maintain.md
  br-usage-backup-for-maintain.md
  br-usage-restore-for-maintain.md
Labels: type/enhancement, translation/done, status/can-merge, status/LGT1, require-LGT1, size/XXL, area/br, needs-cherry-pick-release-6.0, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2

#8803 tiflash: add 6.2.0 upgrade guide
  TOC.md
  tiflash-620-upgrade-guide.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/M, area/bigdata, v6.2, needs-cherry-pick-release-6.2

#10008 tiup: bump version for 6.2
  production-deployment-using-tiup.md
  scale-tidb-using-tiup.md
  tiup/tiup-cluster.md
  tiup/tiup-component-cluster-deploy.md
  tiup/tiup-component-management.md
  tiup/tiup-mirror.md
  tiup/tiup-playground.md
  upgrade-tidb-using-tiup.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, status/LGT2, size/L, area/deploy-upgrade-maintain, v6.2, needs-cherry-pick-release-6.2

#10028 tiup bench: modify command from --output to --output-dir
  tiup/tiup-bench.md
Labels: translation/done, status/can-merge, status/LGT2, needs-cherry-pick-release-4.0, needs-cherry-pick-release-5.0, size/S, area/tiup, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, ONCALL, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.0, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2

#9989 *: add a doc for binary package and update download tools page
  TOC.md
  binary-package.md
  download-ecosystem-tools.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, status/LGT2, size/M, area/deploy-upgrade-maintain, v6.2, needs-cherry-pick-release-6.2

#9943 planner: add docs for some variables
  system-variables.md
Labels: translation/done, status/can-merge, status/LGT2, size/L, area/planner, needs-cherry-pick-release-6.2, add-missing-sysvar-experimental-docs

#9998 sysvar: debug expressions
  system-variables.md
Labels: type/bug-fix, status/can-merge, status/LGT1, require-LGT1, area/transaction, needs-cherry-pick-release-6.2, add-missing-sysvar-experimental-docs

#10052 faq: remove error codes content from tidb faq
  error-codes.md
  faq/deploy-and-maintain-faq.md
  faq/manage-cluster-faq.md
  faq/monitor-faq.md
  faq/tidb-faq.md
  sql-statements/sql-statement-load-data.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/L, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2

#10059 Add TiDB Cloud intro video
  tidb-cloud/tidb-cloud-intro.md
Labels: type/enhancement, status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/XS, area/tidb-cloud

#9858 update basic features and experimental features for v6.2
  basic-features.md
  experimental-features.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/XL, v6.2, needs-cherry-pick-release-6.2

#10030 v6.2: bump version for learning path
  _index.md
Labels: translation/done, status/can-merge, status/LGT1, size/M, v6.2

#10060 PD Recover: update Go version from v1.13 to v1.16
  pd-recover.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT1, needs-cherry-pick-release-4.0, require-LGT1, needs-cherry-pick-release-5.0, size/XS, area/scheduling, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, ONCALL, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.0, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2

#10048 add tidb_txn_commit_batch_size
  system-variables.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/S, area/transaction, v6.2, needs-cherry-pick-release-6.2

#10075 ticdc: highlight integrate with snowflake
  TOC.md
  system-variables.md
  ticdc/integrate-confluent-using-ticdc.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT1, status/LGT2, size/M, area/ticdc, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2

#9692 ticdc: add data integration docs
  TOC.md
  integration-overview.md
  media/integrate/sql-query-result.png
  migrate-aurora-to-tidb.md
  migrate-from-csv-files-to-tidb.md
  migrate-from-sql-files-to-tidb.md
  migrate-from-tidb-to-mysql.md
  migrate-from-tidb-to-tidb.md
  migrate-large-mysql-shards-to-tidb.md
  migrate-large-mysql-to-tidb.md
  migrate-small-mysql-shards-to-tidb.md
  migrate-small-mysql-to-tidb.md
  migrate-with-more-columns-downstream.md
  replicate-between-primary-and-secondary-clusters.md
  replicate-data-to-kafka.md
  ticdc/integrate-confluent-using-ticdc.md
Labels: type/refactor, translation/from-docs-cn, status/can-merge, status/LGT1, status/LGT2, size/XXL, area/ticdc, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2

#10082 ticdc: emphasize integrating with snowflake
  integration-overview.md
Labels: translation/doing, status/can-merge, status/LGT1, require-LGT1, size/XS, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2

#10085 migrate: update descriptions
  migrate-from-tidb-to-mysql.md
  migrate-from-tidb-to-tidb.md
Labels: status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/S, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2

#10074 add 6.2 benchmark reports
  TOC.md
  benchmark/benchmark-sysbench-v6.2.0-vs-v6.1.0.md
  benchmark/v6.2-performance-benchmarking-with-tpcc.md
  benchmark/v6.2-performance-benchmarking-with-tpch.md
  media/sysbench_v610vsv620_point_select.png
  media/sysbench_v610vsv620_read_write.png
  media/sysbench_v610vsv620_update_index.png
  media/sysbench_v610vsv620_update_non_index.png
  media/tpcc_v610_vs_v620.png
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XL, v6.2, needs-cherry-pick-release-6.2

#10099 migration: add ticdc in migration overview
  migration-overview.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XS, area/migrate, needs-cherry-pick-release-6.2

#10105 lightning: delete contents about diagrams in lightning
  tidb-lightning/tidb-lightning-distributed-import.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XS, area/migrate, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4

#9823 br: add docs for PiTR
  TOC.md
  br/br-log-command-line.md
  br/pitr-known-issues.md
  br/pitr-monitoring-and-alert.md
  br/pitr-troubleshoot.md
  br/pitr-usage.md
  br/point-in-time-recovery.md
  media/br/br-log-arch.png
  media/br/pitr-usage.png
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/XXL, area/br, v6.2, needs-cherry-pick-release-6.2

#10110 Compatibility update for outer join reorder
  join-reorder.md
  system-variables.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, require-LGT1, type/compatibility-or-feature-change, needs-cherry-pick-release-6.1, v6.2, needs-cherry-pick-release-6.2

#9906 *: add 6.2.0 release notes
  TOC.md
  releases/release-6.2.0.md
  releases/release-notes.md
  releases/release-timeline.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/XL, v6.2, needs-cherry-pick-release-6.2

#10109 br: add pitr known issues
  br/pitr-known-issues.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/M, area/br, v6.2, needs-cherry-pick-release-6.2

#10116 chore: enable build of release 6.2
  .github/workflows/dispatch.yml
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XS

#10047 cloud: refine performance reference
  TOC-tidb-cloud.md
  tidb-cloud/size-your-cluster.md
  tidb-cloud/tidb-cloud-performance-reference.md
Labels: type/enhancement, status/can-merge, status/LGT1, translation/no-need, size/XXL, area/tidb-cloud

#9770 add doc for tidb_last_query_info and tidb_shard_allocate_step
  system-variables.md
Labels: translation/doing, status/can-merge, status/LGT2, size/S, area/sql-infra, type/compatibility-or-feature-change, needs-cherry-pick-release-6.2, add-missing-sysvar-experimental-docs

#10104 lightning: fix format
  tidb-lightning/tidb-lightning-requirements.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT2, size/XS, area/tidb-lightning, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2

#10121 chore: enable build of the master branch
  .github/workflows/dispatch.yml
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XS

#10098 cloud: add api overview
  TOC-tidb-cloud.md
  tidb-cloud/api-overview.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/M, area/tidb-cloud

#10125 refine 6.2.0 release docs
  TOC.md
  releases/release-6.2.0.md
  releases/release-notes.md
  releases/release-timeline.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/S, needs-cherry-pick-release-6.2
