Repository pingcap/docs, pull requests merged in 2022-10, with the labels that each got.

#10627 Fix typo by replacing `deos` with `does`
  functions-and-operators/string-functions.md
Labels: status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/XS, needs-cherry-pick-release-6.3

#10575 *: refine TiDB product basic FAQs descriptions
  faq/tidb-faq.md
  tidb-architecture.md
  user-account-management.md
Labels: type/enhancement, translation/doing, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/S, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.3

#10586 faq: refine the writing style of 3 faqs
  faq/high-availability-faq.md
  faq/high-reliability-faq.md
  faq/sql-faq.md
  tidb-troubleshooting-map.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/L, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.3

#10639 learning path: add reference in TiDB learning path
  _index.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT1, area/general, require-LGT1

#10640 learning path: add reference in TiDB learning path for v6.3
  _index.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT1, area/general, require-LGT1

#10641 learning path: add reference in TiDB learning path for v6.1
  _index.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT1, area/general, require-LGT1

#10642 learning path: add reference in TiDB Cloud learning path
  tidb-cloud/_index.md
Labels: type/enhancement, status/can-merge, status/LGT1, translation/no-need, area/tidb-cloud

#9171 Update download-ecosystem-tools.md
  download-ecosystem-tools.md
  pd-control.md
Labels: type/bug-fix, requires-version-specific-changes, translation/from-docs-cn, status/can-merge, status/LGT1, area/general, require-LGT1, size/S, needs-cherry-pick-release-6.0, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2, needs-cherry-pick-release-6.3

#10645 Cloud API: remove the description of private beta
  tidb-cloud/pause-or-resume-tidb-cluster.md
  tidb-cloud/scale-tidb-cluster.md
Labels: type/enhancement, status/can-merge, status/LGT1, translation/no-need, size/XS, area/tidb-cloud

#10525 system-variables: add documents for `error_count` and `max_connections`
  system-variables.md
Labels: translation/doing, status/can-merge, status/LGT2, size/M, area/sql-infra, type/compatibility-or-feature-change, needs-cherry-pick-release-6.2, add-missing-sysvar-experimental-docs, needs-cherry-pick-release-6.3

#10652 tidb cloud:updated learning path and a description about csv config
  tidb-cloud/_index.md
  tidb-cloud/import-csv-files.md
  tidb-cloud/migrate-sql-shards.md
Labels: type/enhancement, status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/XS, area/tidb-cloud

#10660 learning path: fix a format erorr
  _index.md
Labels: type/bug-fix, status/can-merge, status/LGT1, translation/no-need, area/general, require-LGT1, size/XS

#9864 clarify the meaning of small transaction for TTL
  tidb-troubleshooting-map.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT2, size/XS, area/transaction, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.0, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2, needs-cherry-pick-release-6.3

#10658 Release notes: add release date
  releases/release-notes.md
Labels: type/enhancement, translation/done, status/can-merge, status/LGT2, size/XL, needs-cherry-pick-release-6.1

#10631 Update release-6.3.0.md
  releases/release-6.3.0.md
Labels: translation/doing, status/can-merge, status/LGT1, status/LGT2, needs-cherry-pick-master, size/XS

#10430 cloud: modify the cluster quota
  tidb-cloud/limitations-and-quotas.md
Labels: status/can-merge, status/LGT2, translation/no-need, size/XS, area/tidb-cloud

#10676 Fix customcontent label
  TOC-tidb-cloud.md
  sql-physical-optimization.md
Labels: type/bug-fix, status/can-merge, status/LGT1, translation/no-need, size/XS

#10678 tools: updated ecosystem-tool-user-guide as chinese version
  ecosystem-tool-user-guide.md
  sql-statements/sql-statement-recover-table.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/L, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2, needs-cherry-pick-release-6.3

#10684 Fix the data dir of monitored instance
  config-templates/complex-multi-instance.yaml
Labels: type/bug-fix, translation/done, status/can-merge, status/LGT2, needs-cherry-pick-release-5.0, size/XS, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, ONCALL, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.0, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2, needs-cherry-pick-release-6.3

#10662 sysvar: add 2 sysvars
  system-variables.md
Labels: requires-version-specific-changes, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/S, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2, add-missing-sysvar-experimental-docs, needs-cherry-pick-release-6.3

#10695 cloud: add private endpoint security group configuration
  tidb-cloud/set-up-private-endpoint-connections.md
Labels: status/can-merge, status/LGT1, translation/no-need, first-time-contributor, size/XS, area/tidb-cloud

#9863 Update the data index inconsistency docs
  troubleshoot-data-inconsistency-errors.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT2, size/S, area/transaction, needs-cherry-pick-release-6.0, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2, needs-cherry-pick-release-6.3

#10694 faq: correct description about TiDB versions
  faq/manage-cluster-faq.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT1, status/LGT2, size/S, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.3

#10709 chore: update bot for 6.4
  scripts/pr_reminder_basedon_assignee.py
Labels: status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/L

#10549 system variables: add docs for `signing_cert` and `signing_key`
  system-variables.md
Labels: translation/doing, status/can-merge, status/LGT2, size/S, needs-cherry-pick-release-6.2, add-missing-sysvar-experimental-docs, needs-cherry-pick-release-6.3

#10699 add tiflash label settings example
  config-templates/complex-tiflash.yaml
  schedule-replicas-by-topology-labels.md
  tiflash/create-tiflash-replicas.md
  tiflash/tiflash-configuration.md
  tiup/tiup-cluster.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, status/LGT2, size/L, area/bigdata, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2, needs-cherry-pick-release-6.3

#10530 Update dm-compatibility-catalog.md
  dm/dm-compatibility-catalog.md
Labels: type/bug-fix, translation/done, status/can-merge, status/LGT1, require-LGT1, size/XS, area/dm, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.0, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2, needs-cherry-pick-release-6.3

#10561 cloud: optimize 2 docs according to usability tests
  tidb-cloud/create-tidb-cluster.md
  tidb-cloud/manage-user-access.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/M, area/tidb-cloud

#10566 system-variable: add document for tx_isolation_one_shot
  system-variables.md
Labels: translation/doing, status/can-merge, status/LGT2, size/XS, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2, add-missing-sysvar, needs-cherry-pick-release-6.3

#9305 update configure-placement-rules.md
  configure-placement-rules.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT2, needs-cherry-pick-release-5.0, size/S, area/scheduling, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, ONCALL, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2, needs-cherry-pick-release-6.3

#10404 Add a link to explain how to change weight
  best-practices/pd-scheduling-best-practices.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/XS, area/scheduling, ONCALL, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2, needs-cherry-pick-release-6.3

#10127 sysvar, config: improve force-priority
  system-variables.md
  tidb-configuration-file.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XS, ONCALL, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2, needs-cherry-pick-release-6.3

#10449 tiflash: fix config value of tidb_allow_mpp
  tiflash/use-tiflash-mpp-mode.md
Labels: type/bug-fix, status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/XS, area/bigdata, ONCALL, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2, needs-cherry-pick-release-6.3

#10723 tiup: fix a broken link
  tiup/tiup-faq.md
Labels: type/bug-fix, status/can-merge, status/LGT1, translation/no-need, require-LGT1, needs-cherry-pick-release-5.0, size/XS, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, ONCALL, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.0, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2, needs-cherry-pick-release-6.3

#10103 clinic: add dm-cluster some desc
  TOC.md
  clinic/clinic-introduction.md
  clinic/clinic-user-guide-for-tiup.md
  clinic/quick-start-with-clinic.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT2, size/M, ONCALL, area/clinic, needs-cherry-pick-release-6.0, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2, needs-cherry-pick-release-6.3

#10535 br: add missing sections for pitr
  br/point-in-time-recovery.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/M, area/br, needs-cherry-pick-release-6.2, needs-cherry-pick-release-6.3

#10683 tiup: add a notice to tiup dm import
  tiup/tiup-component-dm-import.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT1, needs-cherry-pick-release-4.0, require-LGT1, needs-cherry-pick-release-5.0, size/XS, area/tiup, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, area/dm, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.0, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2, needs-cherry-pick-release-6.3

#10413 revise explain format by list
  sql-statements/sql-statement-explain.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT2, size/S, ONCALL, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.3

#9549 tikv-control: make a parameter in right places
  tikv-control.md
Labels: type/enhancement, translation/done, translation/from-docs-cn, status/can-merge, status/LGT2, size/S, area/engine, ONCALL, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2, needs-cherry-pick-release-6.3

#10779 add adding index acceleration to key feature
  releases/release-6.3.0.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, status/LGT2, size/XS, v6.3, needs-cherry-pick-release-6.3

#10700 cloud: update billing details page
  tidb-cloud/tidb-cloud-billing.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/XS, area/tidb-cloud

#10736 cloud: add release notes for 20221011
  tidb-cloud/release-notes-2022.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/S, area/tidb-cloud

#10782 sysvar: fix wrong variables names
  system-variables.md
Labels: type/bug-fix, translation/done, status/can-merge, status/LGT1, require-LGT1, size/XS, needs-cherry-pick-release-6.2, add-missing-sysvar, needs-cherry-pick-release-6.3

#10786 backup: change the location for s3-multi-part-size
  tikv-configuration-file.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/S, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, area/br, needs-cherry-pick-release-6.0, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2, needs-cherry-pick-release-6.3

#10794 Bump version for v6.1.1
  br/backup-and-restore-use-cases.md
  check-before-deployment.md
  develop/dev-guide-proxysql-integration.md
  dm/quick-start-create-task.md
  download-ecosystem-tools.md
  migrate-from-tidb-to-mysql.md
  production-deployment-using-tiup.md
  quick-start-with-tidb.md
  replicate-data-to-kafka.md
  scale-tidb-using-tiup.md
  ticdc/integrate-confluent-using-ticdc.md
  ticdc/manage-ticdc.md
  tidb-binlog/get-started-with-tidb-binlog.md
  tiup/tiup-cluster.md
  tiup/tiup-component-cluster-deploy.md
  tiup/tiup-component-management.md
  tiup/tiup-mirror.md
  tiup/tiup-playground.md
  upgrade-tidb-using-tiup.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/L

#10724 troubleshooting: add TiDB OOM troubleshooting tips
  TOC.md
  tidb-troubleshooting-map.md
  troubleshoot-tidb-oom.md
Labels: type/enhancement, translation/from-docs-cn, area/best-practices, status/can-merge, status/LGT2, size/L, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2, needs-cherry-pick-release-6.3

#10800 Add an example for byte-threshold and region-cpu-overload-threshold-ratio adjustment
  cached-tables.md
  certificate-authentication.md
  configure-load-base-split.md
  dynamic-config.md
  sql-statements/sql-statement-recover-table.md
  sql-statements/sql-statement-show-engines.md
  sql-statements/sql-statement-show-profiles.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/M, area/scheduling, ONCALL, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2, needs-cherry-pick-release-6.3

#10820 cloud: add a note for standard connection
  tidb-cloud/connect-to-tidb-cluster.md
Labels: status/can-merge, status/LGT1, translation/no-need, area/tidb-cloud, from-doc-test

#10556 Bump version for v5.4.3
  check-before-deployment.md
  download-ecosystem-tools.md
  pd-control.md
  pd-recover.md
  production-deployment-using-tiup.md
  quick-start-with-tidb.md
  scale-tidb-using-tiup.md
  sync-diff-inspector/sync-diff-inspector-overview.md
  ticdc/manage-ticdc.md
  tiup/tiup-cluster.md
  tiup/tiup-component-cluster-deploy.md
  tiup/tiup-component-management.md
  tiup/tiup-mirror.md
  tiup/tiup-playground.md
  upgrade-tidb-using-tiup.md
Labels: translation/done, status/can-merge, status/LGT1, require-LGT1, size/L

#10477 [Update] 3rd party tools compatibility
  TOC.md
  develop/dev-guide-third-party-tools-compatibility.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/L, area/develop, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2, needs-cherry-pick-release-6.3

#10830 Fix admonitions syntax in release-5.4
  comment-syntax.md
  sql-prepared-plan-cache.md
  sql-statements/sql-statement-create-index.md
  system-variables.md
  tidb-lightning/tidb-lightning-backends.md
  tiflash/tiflash-configuration.md
  tiflash/use-tiflash.md
  tikv-control.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/S

#10835 Change default value of tidb_enable_clustered_index back to INT_ONLY
  clustered-indexes.md
  releases/release-6.3.0.md
  system-variables.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XS, type/compatibility-or-feature-change, ONCALL, needs-cherry-pick-release-6.3

#10595 Add RHE Linux 8 stream and AWS linux to software requirement doc
  hardware-and-software-requirements.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, size/XS, area/deploy-upgrade-maintain

#9006 dm: improve binlog schema description
  dm/dm-manage-schema.md
  migrate-with-more-columns-downstream.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT2, size/M, area/migrate, area/dm, needs-cherry-pick-release-6.0, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2, needs-cherry-pick-release-6.3

#10529 Add Golang at Choose Driver or ORM
  develop/dev-guide-choose-driver-or-orm.md
  develop/dev-guide-third-party-support.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/L, ONCALL, area/develop, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2, needs-cherry-pick-release-6.3

#10799 sysvar: add 1 var
  system-variables.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XS, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2, add-missing-sysvar, needs-cherry-pick-release-6.3

#10842 cloud: remove description about lightning backend
  tidb-cloud/migrate-data-into-tidb.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/XS, area/tidb-lightning, area/tidb-cloud

#10856 fix typos in performance tuning methods
  performance-tuning-methods.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XS, ONCALL, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2, needs-cherry-pick-release-6.3

#10563 Add TiDB Cloud Terraform Doc
  TOC-tidb-cloud.md
  tidb-cloud/terraform-get-tidbcloud-provider.md
  tidb-cloud/terraform-tidbcloud-provider-overview.md
  tidb-cloud/terraform-use-backup-resource.md
  tidb-cloud/terraform-use-cluster-resource.md
  tidb-cloud/terraform-use-restore-resource.md
Labels: status/can-merge, status/LGT2, translation/no-need, size/XXL, area/tidb-cloud

#10861 fix terraform doc error
  tidb-cloud/terraform-use-cluster-resource.md
Labels: type/bug-fix, status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/S, area/tidb-cloud

#10869 Update release-6.3.0.md
  releases/release-6.3.0.md
  tiflash/tiflash-supported-pushdown-calculations.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XS, needs-cherry-pick-release-6.3

#10562 cloud: update quickstart according to tests
  tidb-cloud/tidb-cloud-quickstart.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/L, area/tidb-cloud

#10875 Fix the docs-merge pipeline failure issue
  develop/dev-guide-third-party-tools-compatibility.md
  grafana-tidb-dashboard.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT2, size/XS, area/develop, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2, needs-cherry-pick-release-6.3

#10843 ticdc: add three ticdc faqs
  ticdc/ticdc-faq.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT1, status/LGT2, size/S, area/ticdc, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.3

#10818 cloud: add the contract tab to billings
  tidb-cloud/tidb-cloud-billing.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/M, type/compatibility-or-feature-change, area/tidb-cloud, for-cloud-release

#10644 cloud: update tikv/tiflash node storage
  tidb-cloud/size-your-cluster.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/S, area/tidb-cloud, for-cloud-release

#10873 cloud: add release notes for 20221018
  tidb-cloud/release-notes-2022.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/S, area/tidb-cloud, for-cloud-release

#10872 add the variables of batch-dml
  non-transactional-dml.md
  system-variables.md
Labels: translation/doing, status/can-merge, status/LGT2, size/M, area/transaction, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2, add-missing-sysvar, needs-cherry-pick-release-6.3

#10889 sysvar: fix typos
  sql-statements/sql-statement-flashback-table.md
  system-variables.md
Labels: status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/S, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2, add-missing-sysvar, needs-cherry-pick-release-6.3

#10881 drainer: add read-timeout configuration explanation
  tidb-binlog/tidb-binlog-configuration-file.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT2, needs-cherry-pick-release-5.0, size/XS, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, ONCALL, needs-cherry-pick-release-5.4, area/tidb-binlog, needs-cherry-pick-release-6.0, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2, needs-cherry-pick-release-6.3

#10411 Add Vercel Integration tutorial
  TOC-tidb-cloud.md
  tidb-cloud/integrate-tidbcloud-with-vercel.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/L, area/tidb-cloud

#10053 ADMIN related statements: add more links and fix format
  error-codes.md
  explain-walkthrough.md
  faq/deploy-and-maintain-faq.md
  identify-slow-queries.md
  information-schema/information-schema-ddl-jobs.md
  online-unsafe-recovery.md
  sql-statements/sql-statement-admin-cancel-ddl.md
  sql-statements/sql-statement-admin.md
  system-variables.md
  tidb-lightning/tidb-lightning-faq.md
  troubleshoot-data-inconsistency-errors.md
Labels: type/enhancement, translation/done, status/can-merge, status/LGT1, require-LGT1, size/M, area/sql-infra, ONCALL, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2, needs-cherry-pick-release-6.3

#10902 cloud: add 20221019 release notes
  tidb-cloud/release-notes-2022.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/S, area/tidb-cloud, for-cloud-release

#10905 Fix typos in partitioned-table.md
  partitioned-table.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, needs-cherry-pick-release-5.0, size/XS, area/sql-infra, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.0, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2, needs-cherry-pick-release-6.3

#10907 Add backup and restore content for tiup-cluster.md
  tiup/tiup-cluster.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/S, area/tiup, needs-cherry-pick-release-6.1

#10904 Add TiCDC TSO acquisition in sync-diff-inspector doc
  sync-diff-inspector/upstream-downstream-diff.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, status/LGT2, size/XS, area/sync-diff-inspector, needs-cherry-pick-release-6.3

#10929 sql-mode: fix wrong description
  sql-mode.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XS, area/sql-infra, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.3

#10924 cloud: added integrations
  TOC-tidb-cloud.md
  mysql-compatibility.md
  tidb-cloud/_index.md
  tidb-cloud/monitor-datadog-integration.md
  tidb-cloud/monitor-prometheus-and-grafana-integration.md
  tidb-cloud/monitor-tidb-cluster.md
  tidb-cloud/terraform-tidbcloud-provider-overview.md
  tidb-cloud/third-party-monitoring-integrations.md
  tidb-cloud/tidb-cloud-poc.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/L, area/tidb-cloud

#7640 Add UUID best practices
  TOC.md
  best-practices/uuid.md
  media/best-practices/uuid_keyviz.png
Labels: type/enhancement, translation/doing, area/best-practices, status/can-merge, status/LGT2, size/M, needs-cherry-pick-release-6.1

#10882 *: add docs of backup and restore using Dumpling and Lightning
  TOC.md
  backup-and-restore-using-dumpling-lightning.md
  br-usage-backup-for-maintain.md
  br-usage-restore-for-maintain.md
  br/br-usage-backup.md
  br/br-usage-restore.md
Labels: type/refactor, translation/from-docs-cn, status/can-merge, status/LGT1, status/LGT2, size/L, area/br, needs-cherry-pick-release-6.0, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2, needs-cherry-pick-release-6.3

#10906 planner: add docs for some variables
  system-variables.md
Labels: translation/done, status/can-merge, status/LGT2, size/L, area/planner, add-missing-sysvar, needs-cherry-pick-release-6.3

#10945 remove tiflash and placement in sql incompatible description
  placement-rules-in-sql.md
Labels: type/enhancement, translation/done, status/can-merge, status/LGT1, require-LGT1, size/XS, area/sql-infra

#8779 Correct MySQL Shell/Client section
  develop/dev-guide-connect-to-tidb.md
Labels: type/enhancement, translation/doing, status/can-merge, status/LGT2, size/S, area/develop, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2, needs-cherry-pick-release-6.3

#10949 Add white space after ANALYZE TABLE
  statistics.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT2, size/XS, area/planner, ONCALL, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.0, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2, needs-cherry-pick-release-6.3

#10955 sysvar: add a description for a sysvar
  system-variables.md
Labels: translation/done, status/can-merge, status/LGT1, require-LGT1, size/XS, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2, add-missing-sysvar

#10862 add document for the block_encryption_mode function
  system-variables.md
Labels: translation/doing, status/can-merge, status/LGT1, require-LGT1, size/XS, area/transaction, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2, add-missing-sysvar, needs-cherry-pick-release-6.3

#10962 Modify the recommended way as the first tab
  develop/dev-guide-sample-application-golang.md
  develop/dev-guide-sample-application-java.md
  develop/dev-guide-sample-application-spring-boot.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT2, size/XXL, area/develop, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2, needs-cherry-pick-release-6.3

#10958 sysvar: add a sysvar
  system-variables.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/S, needs-cherry-pick-release-6.2, add-missing-sysvar, needs-cherry-pick-release-6.3

#10937 Fix tiup scale-in commands after online unsafe recovery
  online-unsafe-recovery.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/S, area/engine, ONCALL, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.3

#10979 Update TOC.md
  TOC.md
Labels: status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/XS, needs-cherry-pick-release-6.3

#10492 tispark_userguide
  tispark-overview.md
Labels: translation/doing, status/can-merge, status/LGT1, status/LGT2, size/XXL, area/bigdata

#10883 add v6.1.2 release notes
  TOC.md
  releases/release-6.1.2.md
  releases/release-notes.md
  releases/release-timeline.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/L, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2, needs-cherry-pick-release-6.3

#10884 Bump version for v6.1.2
  br/backup-and-restore-use-cases.md
  check-before-deployment.md
  develop/dev-guide-proxysql-integration.md
  dm/quick-start-create-task.md
  download-ecosystem-tools.md
  migrate-from-tidb-to-mysql.md
  pd-control.md
  production-deployment-using-tiup.md
  quick-start-with-tidb.md
  replicate-data-to-kafka.md
  scale-tidb-using-tiup.md
  ticdc/integrate-confluent-using-ticdc.md
  ticdc/manage-ticdc.md
  tidb-binlog/get-started-with-tidb-binlog.md
  tiup/tiup-cluster.md
  tiup/tiup-component-cluster-deploy.md
  tiup/tiup-component-management.md
  tiup/tiup-mirror.md
  tiup/tiup-playground.md
  upgrade-tidb-using-tiup.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/L

#10778 [Update] use link to replace fixed props
  best-practices/java-app-best-practices.md
  develop/dev-guide-connection-parameters.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/S, area/transaction, needs-cherry-pick-release-6.0, area/develop, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2, needs-cherry-pick-release-6.3

#10988 develop: fix paging sql with multiple columns for cluster index table
  develop/dev-guide-paginate-results.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/S, area/develop, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2, needs-cherry-pick-release-6.3

#11001 remove the info about configuring tolerant-size-ratio
  three-data-centers-in-two-cities-deployment.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, needs-cherry-pick-release-5.0, size/XS, area/scheduling, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.0, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2, needs-cherry-pick-release-6.3

#10999 cloud: add release notes for 20221025
  tidb-cloud/release-notes-2022.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/M, area/tidb-cloud, for-cloud-release

#10981 cloud: changed bucket URL to bucket URI
  develop/dev-guide-bookshop-schema-design.md
  tidb-cloud/config-s3-and-gcs-access.md
  tidb-cloud/import-csv-files.md
  tidb-cloud/import-parquet-files.md
  tidb-cloud/import-sample-data.md
  tidb-cloud/migrate-from-amazon-s3-or-gcs.md
  tidb-cloud/migrate-from-aurora-bulk-import.md
  tidb-cloud/migrate-sql-shards.md
  tidb-cloud/release-notes-2022.md
  tidb-cloud/tidb-cloud-auditing.md
  tidb-cloud/tidb-cloud-poc.md
  tidb-cloud/tidb-cloud-quickstart.md
  tidb-cloud/troubleshoot-import-access-denied-error.md
Labels: type/bug-fix, status/can-merge, status/LGT1, translation/no-need, size/M, area/tidb-cloud

#10629 tidb-configuration-file: add more notes to txn-entry-size-limit
  tidb-configuration-file.md
  tidb-limitations.md
Labels: type/enhancement, translation/doing, status/can-merge, status/LGT2, size/S, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.3

#10519 dm: update headings and minor errors
  dm/dm-command-line-flags.md
  dm/dm-daily-check.md
  dm/dm-error-handling.md
  dm/dm-generate-self-signed-certificates.md
  dm/dm-handle-alerts.md
  dm/dm-handle-performance-issues.md
  dm/dm-hardware-and-software-requirements.md
  dm/dm-key-features.md
  dm/dm-manage-schema.md
  dm/dm-manage-source.md
  dm/dm-overview.md
  dm/dm-query-status.md
  dm/dm-source-configuration-file.md
  dm/handle-failed-ddl-statements.md
  dm/quick-start-create-source.md
  dm/table-selector.md
Labels: translation/doing, status/can-merge, status/LGT1, require-LGT1, size/M, area/dm, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2, needs-cherry-pick-release-6.3

#9872 Update HAProxy to v2.6.2
  best-practices/haproxy-best-practices.md
Labels: translation/doing, area/best-practices, status/can-merge, status/LGT2, size/M

#10936 pd: add rank-formula-version config for hot scheduler
  experimental-features.md
  pd-control.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/S, needs-cherry-pick-release-6.3

#10983 v6.3 release notes: Add HAProxy note
  releases/release-6.3.0.md
Labels: translation/done, status/can-merge, status/LGT1, status/LGT2, size/XS, needs-cherry-pick-release-6.3

#11025 fix the default value of slow-threshold
  tidb-configuration-file.md
Labels: type/bug-fix, translation/done, status/can-merge, status/LGT1, require-LGT1, size/XS, ONCALL, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2, needs-cherry-pick-release-6.3

#11019 Update configure-placement-rules.md
  configure-placement-rules.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XS, area/scheduling, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2, needs-cherry-pick-release-6.3

#11032 dm: update prerequisites for webui
  dm/dm-webui-guide.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XS, area/dm, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2, needs-cherry-pick-release-6.3

#10987 develop: update tidb cloud import steps
  develop/dev-guide-bookshop-schema-design.md
Labels: translation/done, status/can-merge, status/LGT2, size/M, area/develop, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2, needs-cherry-pick-release-6.3

#11039 cloud: change Role-ARN to Role ARN
  tidb-cloud/import-csv-files.md
  tidb-cloud/import-parquet-files.md
  tidb-cloud/import-sample-data.md
  tidb-cloud/migrate-from-amazon-s3-or-gcs.md
  tidb-cloud/migrate-from-aurora-bulk-import.md
  tidb-cloud/migrate-sql-shards.md
  tidb-cloud/tidb-cloud-quickstart.md
Labels: status/can-merge, status/LGT2, translation/no-need, size/S, area/tidb-cloud

#10925 Update clinic-user-guide-for-tiup.md
  clinic/clinic-user-guide-for-tiup.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT2, size/XS, area/clinic, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2, needs-cherry-pick-release-6.3

#11046 fix table format
  sql-statements/sql-statement-admin.md
Labels: type/bug-fix, status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/S, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2, needs-cherry-pick-release-6.3

#10909 cloud: Add secure-connections-to-serverless-tier-clusters.md
  TOC-tidb-cloud.md
  tidb-cloud/connect-to-tidb-cluster.md
  tidb-cloud/secure-connections-to-serverless-tier-clusters.md
Labels: status/can-merge, status/LGT1, translation/no-need, first-time-contributor, size/L, area/tidb-cloud, for-cloud-release

#11056 add description for enable-table-lock
  experimental-features.md
  tidb-configuration-file.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/S, add-missing-docs, needs-cherry-pick-release-6.3

#11062 add description for enable-table-lock
  experimental-features.md
  tidb-configuration-file.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/S, add-missing-docs

#11063 add description for enable-table-lock
  experimental-features.md
  tidb-configuration-file.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/S, add-missing-docs

#11065 add description for enable-table-lock
  experimental-features-4.0.md
  tidb-configuration-file.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/S, add-missing-docs

#11064 add description for enable-table-lock
  experimental-features.md
  tidb-configuration-file.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/S, add-missing-docs

#11057 add description for enable-table-lock
  experimental-features.md
  tidb-configuration-file.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/S, add-missing-docs

#11060 add description for enable-table-lock
  experimental-features.md
  tidb-configuration-file.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/S, add-missing-docs

#11061 add description for enable-table-lock
  experimental-features.md
  tidb-configuration-file.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/S, add-missing-docs

#11058 add description for enable-table-lock
  experimental-features.md
  tidb-configuration-file.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/S, add-missing-docs

#11059 add description for enable-table-lock
  experimental-features.md
  tidb-configuration-file.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/S, add-missing-docs

#10824 Change developer tier to serverless tier
  TOC-tidb-cloud.md
  TOC.md
  develop/dev-guide-build-cluster-in-cloud.md
  develop/dev-guide-create-database.md
  develop/dev-guide-create-secondary-indexes.md
  develop/dev-guide-create-table.md
  develop/dev-guide-delete-data.md
  develop/dev-guide-insert-data.md
  develop/dev-guide-proxysql-integration.md
  develop/dev-guide-tidb-crud-sql.md
  develop/dev-guide-update-data.md
  tidb-cloud/backup-and-restore.md
  tidb-cloud/built-in-monitoring.md
  tidb-cloud/changefeed-sink-to-apache-kafka.md
  tidb-cloud/connect-to-tidb-cluster.md
  tidb-cloud/create-tidb-cluster.md
  tidb-cloud/delete-tidb-cluster.md
  tidb-cloud/import-sample-data.md
  tidb-cloud/monitor-built-in-alerting.md
  tidb-cloud/monitor-datadog-integration.md
  tidb-cloud/monitor-prometheus-and-grafana-integration.md
  tidb-cloud/monitor-tidb-cluster.md
  tidb-cloud/pause-or-resume-tidb-cluster.md
  tidb-cloud/release-notes-2021.md
  tidb-cloud/release-notes-2022.md
  tidb-cloud/scale-tidb-cluster.md
  tidb-cloud/select-cluster-tier.md
  tidb-cloud/set-up-private-endpoint-connections.md
  tidb-cloud/size-your-cluster.md
  tidb-cloud/terraform-use-backup-resource.md
  tidb-cloud/terraform-use-restore-resource.md
  tidb-cloud/third-party-monitoring-integrations.md
  tidb-cloud/tidb-cloud-auditing.md
  tidb-cloud/tidb-cloud-billing.md
  tidb-cloud/tidb-cloud-glossary.md
  tidb-cloud/tidb-cloud-poc.md
  tidb-cloud/tidb-cloud-quickstart.md
  tidb-cloud/use-htap-cluster.md
Labels: status/can-merge, status/LGT1, translation/no-need, first-time-contributor, size/L, area/tidb-cloud, for-cloud-release

#11070 Fix create time for serverless
  tidb-cloud/create-tidb-cluster.md
Labels: status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/XS, needs-cherry-pick-release-6.1

#11072 remove unncessary steps in create serverless clusters
  tidb-cloud/create-tidb-cluster.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/XS, area/tidb-cloud

#11076 [Update] remove cloud picture link in the doc
  develop/dev-guide-build-cluster-in-cloud.md
Labels: translation/done, status/can-merge, status/LGT2, size/XS, area/develop, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2, needs-cherry-pick-release-6.3

#10823 cloud: Add Airbyte doc in integrations section
  TOC-tidb-cloud.md
  media/tidb-cloud/integration-airbyte-connection.jpg
  media/tidb-cloud/integration-airbyte-parameters.jpg
  media/tidb-cloud/integration-airbyte-ready.jpg
  media/tidb-cloud/integration-airbyte-sync.jpg
  tidb-cloud/_index.md
  tidb-cloud/integrate-tidbcloud-with-airbyte.md
Labels: status/can-merge, status/LGT1, translation/no-need, first-time-contributor, size/L, area/tidb-cloud

#11082 cloud: Update integrate-tidbcloud-with-airbyte.md
  tidb-cloud/integrate-tidbcloud-with-airbyte.md
Labels: status/can-merge, status/LGT1, translation/no-need, first-time-contributor, size/XS

#11090 cloud: update the step number for querying data
  tidb-cloud/tidb-cloud-quickstart.md
Labels: status/can-merge, status/LGT1, translation/no-need, area/tidb-cloud

#11092 cloud: Update integrate-tidbcloud-with-airbyte.md
  media/tidb-cloud/integration-airbyte-ready.jpg
  tidb-cloud/integrate-tidbcloud-with-airbyte.md
Labels: status/can-merge, status/LGT1, translation/no-need, first-time-contributor, size/S, area/tidb-cloud

#10974 add workaround for charset error when migrate data
  dm/dm-faq.md
  tidb-lightning/troubleshoot-tidb-lightning.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/XS, area/dm, v6.4

#11036 dashboard: remove warnings on diagnostics page
  basic-features.md
  dashboard/dashboard-diagnostics-access.md
  experimental-features.md
  information-schema/information-schema-sql-diagnostics.md
Labels: translation/done, status/can-merge, status/LGT2, size/M, area/diagnosis, v6.4

#11055 Support kafka 3
  ticdc/manage-ticdc.md
Labels: translation/done, status/can-merge, status/LGT1, status/LGT2, size/XS, area/ticdc, v6.4
