Repository pingcap/docs, pull requests merged in 2022-07, with the labels that each got.

#9418 fix format: remove >> in code block
  best-practices/massive-regions-best-practices.md
  pd-control.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/M, area/scheduling, ONCALL, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1

#9397 clinic: update the clinic-user-guide-for-tiup
  TOC.md
  clinic/clinic-introduction.md
  clinic/clinic-user-guide-for-tiup.md
  clinic/quick-start-with-clinic.md
  media/clinic-get-token.png
Labels: type/enhancement, translation/done, status/can-merge, status/LGT1, require-LGT1, size/S, area/clinic, needs-cherry-pick-release-6.0, needs-cherry-pick-release-6.1

#9311 Add description about report-region-buckets-tick-interval
  tikv-configuration-file.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT2, require-LGT1, size/XS, area/engine, needs-cherry-pick-release-6.1

#9439 statistics: fix typo
  statistics.md
Labels: contribution, status/can-merge, status/LGT1, translation/no-need, require-LGT1, first-time-contributor, needs-cherry-pick-release-5.0, size/XS, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1

#9164 cloud: Determine cluster size
  tidb-cloud/size-your-cluster.md
Labels: type/enhancement, status/can-merge, status/LGT1, translation/no-need, size/L, needs-cherry-pick-release-6.1, area/tidb-cloud

#9456 fix broken link in release-3.0.0-beta.1
  releases/release-3.0.0-beta.1.md
Labels: type/bug-fix, status/can-merge, needs-cherry-pick-release-3.0, status/LGT1, translation/no-need, require-LGT1, size/XS, ONCALL

#9457 Add stable aliases in two new BR docs
  br/backup-and-restore-overview.md
  br/backup-storage-azblob.md
Labels: type/bug-fix, status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/XS, ONCALL

#9450 Fix typos in placement rules command
  configure-placement-rules.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, needs-cherry-pick-release-5.0, size/XS, area/scheduling, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, ONCALL, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.0, needs-cherry-pick-release-6.1

#9468 ci: use concurrency to cancel previous workflow
  .github/workflows/ci.yaml
Labels: status/can-merge, status/LGT2, translation/no-need, needs-cherry-pick-release-5.0, size/XS, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.0, needs-cherry-pick-release-6.1

#9467 dashboard: update status of continuous profiling
  dashboard/continuous-profiling.md
Labels: type/enhancement, translation/done, status/can-merge, status/LGT2, first-time-contributor, size/XS, area/diagnosis, needs-cherry-pick-release-6.1

#9001 cloud: add SQL related docs
  TOC-tidb-cloud.md
  agg-distinct-optimization.md
  auto-increment.md
  auto-random.md
  certificate-authentication.md
  character-set-and-collation.md
  character-set-gbk.md
  clustered-indexes.md
  coprocessor-cache.md
  enable-tls-between-components.md
  explain-mpp.md
  explain-views.md
  explain-walkthrough.md
  information-schema/information-schema-deadlocks.md
  information-schema/information-schema-slow-query.md
  information-schema/information-schema-tidb-hot-regions-history.md
  information-schema/information-schema.md
  mysql-compatibility.md
  mysql-schema.md
  optimizer-hints.md
  pessimistic-transaction.md
  read-historical-data.md
  security-compatibility-with-mysql.md
  sql-prepared-plan-cache.md
  sql-statements/sql-statement-admin.md
  sql-statements/sql-statement-backup.md
  sql-statements/sql-statement-create-index.md
  sql-statements/sql-statement-create-table.md
  sql-statements/sql-statement-explain-analyze.md
  sql-statements/sql-statement-kill.md
  sql-statements/sql-statement-recover-table.md
  sql-statements/sql-statement-restore.md
  sql-statements/sql-statement-select.md
  sql-statements/sql-statement-split-region.md
  stale-read.md
  statistics.md
  system-variables.md
  table-attributes.md
  tidb-architecture.md
  tidb-cloud/tidb-cloud-glossary.md
  tidb-cloud/use-htap-cluster.md
  tidb-limitations.md
  tidb-scheduling.md
  tiflash/tiflash-overview.md
  transaction-isolation-levels.md
Labels: type/enhancement, status/can-merge, status/LGT2, translation/no-need, size/XXL, needs-cherry-pick-release-6.1, area/tidb-cloud

#9481 We should never recommend slow storage for TiKV
  configure-placement-rules.md
  placement-rules-in-sql.md
Labels: type/bug-fix, translation/doing, status/can-merge, status/LGT2, size/S, area/sql-infra, ONCALL, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1

#9485 add missing description in a table
  releases/release-6.1.0.md
Labels: type/bug-fix, status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/XS, needs-cherry-pick-release-6.1

#9478 tidb-cloud: Fix table formatting on import-sample-data.md
  tidb-cloud/import-sample-data.md
Labels: status/can-merge, status/LGT2, translation/no-need, size/S, area/tidb-cloud

#9482 cloud: add HTAP quick start guide
  TOC-tidb-cloud.md
  tidb-cloud/tidb-cloud-htap-quickstart.md
Labels: type/enhancement, status/can-merge, status/LGT2, translation/no-need, size/L, needs-cherry-pick-release-5.4, area/tidb-cloud

#9375 cloud: support scaling up storage size
  tidb-cloud/backup-and-restore.md
  tidb-cloud/create-tidb-cluster.md
  tidb-cloud/high-availability-with-multi-az.md
  tidb-cloud/monitor-built-in-alerting.md
  tidb-cloud/monitor-datadog-integration.md
  tidb-cloud/monitor-prometheus-and-grafana-integration.md
  tidb-cloud/monitor-tidb-cluster.md
  tidb-cloud/release-notes-2020.md
  tidb-cloud/release-notes-2021.md
  tidb-cloud/release-notes-2022.md
  tidb-cloud/scale-tidb-cluster.md
  tidb-cloud/select-cluster-tier.md
  tidb-cloud/size-your-cluster.md
  tidb-cloud/tidb-cloud-billing-tcu.md
  tidb-cloud/tidb-cloud-billing.md
  tidb-cloud/tidb-cloud-glossary.md
  tidb-cloud/tidb-cloud-poc.md
  tidb-cloud/tidb-cloud-quickstart.md
  tidb-cloud/use-htap-cluster.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/XL, type/compatibility-or-feature-change, needs-cherry-pick-release-6.1, area/tidb-cloud

#9487 tiflash: update command-line-flags.md
  tiflash/tiflash-command-line-flags.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT1, status/LGT2, size/XS, area/bigdata

#9493 v5.0: trigger website build
  dashboard/dashboard-diagnostics-report.md
  system-variables.md
Labels: type/bug-fix, status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/M

#9352 use stable link for tidb in k8s docs
  _index.md
Labels: type/enhancement, status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/XS, area/k8s, needs-cherry-pick-release-6.1

#9432 move dm architecture in toc
  TOC.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XS, area/dm, needs-cherry-pick-release-6.1

#9502 fix typo in SHOW BACKUPS|RESTORES command
  br/br-deployment.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XS, ONCALL, area/br, needs-cherry-pick-release-6.0, needs-cherry-pick-release-6.1

#9505 table filter: remove unfriendly special symbols
  table-filter.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, needs-cherry-pick-release-5.0, area/migrate, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, ONCALL, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1

#9512 Change the position of the intro video
  overview.md
Labels: status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/XS, needs-cherry-pick-release-6.1

#9520 bump versions for v5.4.2
  download-ecosystem-tools.md
  pd-control.md
  pd-recover.md
  production-deployment-using-tiup.md
  quick-start-with-tidb.md
  releases/release-5.4.1.md
  scale-tidb-using-tiup.md
  sync-diff-inspector/sync-diff-inspector-overview.md
  ticdc/manage-ticdc.md
  tiup/tiup-cluster.md
  tiup/tiup-component-cluster-deploy.md
  tiup/tiup-component-management.md
  tiup/tiup-mirror.md
  tiup/tiup-playground.md
  upgrade-tidb-using-tiup.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, size/L

#9452 tiflash refactor: split use-tiflash into multiple docs
  TOC.md
  develop/dev-guide-create-table.md
  develop/dev-guide-hybrid-oltp-and-olap-queries.md
  develop/dev-guide-sql-development-specification.md
  explain-mpp.md
  explore-htap.md
  production-deployment-using-tiup.md
  quick-start-with-htap.md
  quick-start-with-tidb.md
  releases/release-5.0.0.md
  releases/release-5.4.0.md
  releases/release-6.0.0-dmr.md
  releases/release-6.1.0.md
  scale-tidb-using-tiup.md
  system-variables.md
  tiflash/create-tiflash-replicas.md
  tiflash/tiflash-compatibility.md
  tiflash/tiflash-data-validation.md
  tiflash/tiflash-overview.md
  tiflash/tiflash-supported-pushdown-calculations.md
  tiflash/use-tidb-to-read-tiflash.md
  tiflash/use-tiflash-mpp-mode.md
  tiflash/use-tiflash.md
  tiflash/use-tispark-to-read-tiflash.md
Labels: type/refactor, translation/doing, status/can-merge, status/LGT2, size/XXL, area/bigdata, needs-cherry-pick-release-6.1

#9525 trigger pdf build
  dumpling-overview.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/XS

#9530 cloud: update TiFlash replica number description
  tidb-cloud/use-htap-cluster.md
Labels: type/bug-fix, status/can-merge, status/LGT1, translation/no-need, size/XS, ONCALL, area/tidb-cloud

#9501 Adjust the description of Audit logging for Database
  tidb-cloud/tidb-cloud-auditing.md
Labels: status/can-merge, status/LGT1, translation/no-need, first-time-contributor, size/XS, needs-cherry-pick-release-6.1, area/tidb-cloud

#9535 delete outdated document `App Development for Laravel`
  TOC.md
  develop/dev-guide-outdated-for-laravel.md
  develop/dev-guide-overview.md
Labels: type/enhancement, status/can-merge, status/LGT2, translation/no-need, size/XL, area/develop, needs-cherry-pick-release-6.1

#9537 system variable: remove unnecessary examples
  system-variables.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XS, ONCALL

#9401 Add Operator links in clinic-introduction.md
  clinic/clinic-introduction.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT2, size/S, area/clinic, needs-cherry-pick-release-6.0, needs-cherry-pick-release-6.1

#9541 ci: Fix the regex in .lycheeignore
  .lycheeignore
Labels: type/bug-fix, status/can-merge, status/LGT2, translation/no-need, size/S

#9334 Update tiup-cluster.md
  tiup/tiup-cluster.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, first-time-contributor, size/M, needs-cherry-pick-release-6.1

#9532 cloud: add validation before data import
  tidb-cloud/import-csv-files.md
  tidb-cloud/import-parquet-files.md
  tidb-cloud/import-sample-data.md
  tidb-cloud/migrate-from-aurora-bulk-import.md
  tidb-cloud/tidb-cloud-quickstart.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/M, type/compatibility-or-feature-change, area/tidb-cloud

#9531 cloud: add billing profile
  tidb-cloud/release-notes-2022.md
  tidb-cloud/tidb-cloud-billing.md
Labels: status/can-merge, status/LGT2, translation/no-need, size/M, type/compatibility-or-feature-change, area/tidb-cloud

#9550 Update tispark-deployment-topology.md
  tispark-deployment-topology.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, first-time-contributor, size/XS, area/bigdata, ONCALL

#9313 cloud: add TiFlash FAQ
  tidb-cloud/tidb-cloud-faq.md
Labels: type/enhancement, status/can-merge, status/LGT2, translation/no-need, size/S, needs-cherry-pick-release-6.1, area/tidb-cloud

#9459 cloud: add data import access denied troubleshoot
  TOC-tidb-cloud.md
  tidb-cloud/migrate-from-amazon-s3-or-gcs.md
  tidb-cloud/troubleshoot-import-permission-error.md
Labels: type/enhancement, status/can-merge, status/LGT1, translation/no-need, size/L, needs-cherry-pick-release-6.1, area/tidb-cloud

#9561 tiup: fix incorrect relationship between x86_64 and arm
  quick-start-with-tidb.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, status/LGT2, needs-cherry-pick-release-5.0, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, ONCALL, needs-cherry-pick-release-5.4, area/deploy-upgrade-maintain, needs-cherry-pick-release-6.0, needs-cherry-pick-release-6.1

#9576 cloud: update TOC for troubleshooting data access errors
  TOC-tidb-cloud.md
Labels: type/bug-fix, status/can-merge, status/LGT1, translation/no-need, size/XS, area/tidb-cloud

#9566 add content for clinic us server
  TOC.md
  clinic/clinic-data-instruction-for-tiup.md
  clinic/clinic-introduction.md
  clinic/clinic-user-guide-for-tiup.md
  clinic/quick-start-with-clinic.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, status/LGT2, size/L, type/compatibility-or-feature-change, area/clinic, needs-cherry-pick-release-6.0, needs-cherry-pick-release-6.1

#9579 chore: enable pr reminder bot for v6.2
  .github/workflows/bot.yaml
  scripts/pr_reminder_basedon_assignee.py
Labels: status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/L

#9581 Replace "bit" with "digit"
  data-type-numeric.md
Labels: type/bug-fix, status/can-merge, status/LGT2, translation/no-need, size/XS, area/sql-infra, needs-cherry-pick-release-5.3, ONCALL, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1

#9562 cloud: refine the instructions of AWS S3 access configurations
  media/tidb-cloud/aws-create-policy.png
  media/tidb-cloud/aws-create-role.png
  media/tidb-cloud/aws-role-arn.png
  media/tidb-cloud/copy-bucket-arn.png
  tidb-cloud/migrate-from-amazon-s3-or-gcs.md
  tidb-cloud/troubleshoot-import-access-denied-error.md
Labels: type/enhancement, status/can-merge, status/LGT1, translation/no-need, size/L, area/tidb-cloud

#9556 [Update] add CREATE INDEX statement in add index optmize doc
  develop/dev-guide-optimize-sql-best-practices.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/XS, ONCALL, area/develop, needs-cherry-pick-release-6.1

#9595 br: remove an unclear usage tip about checksum
  br/backup-and-restore-overview.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, status/LGT2, ONCALL, area/br, needs-cherry-pick-release-6.0, needs-cherry-pick-release-6.1

#9586 tidb lightning: fix old download location for lightning.json
  tidb-lightning/monitor-tidb-lightning.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT2, needs-cherry-pick-release-5.0, size/XS, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, ONCALL, needs-cherry-pick-release-5.4, area/tidb-lightning, needs-cherry-pick-release-6.0, needs-cherry-pick-release-6.1

#9451 [Update] golang example for developer guide
  TOC.md
  develop/dev-guide-delete-data.md
  develop/dev-guide-insert-data.md
  develop/dev-guide-optimistic-and-pessimistic-transaction.md
  develop/dev-guide-outdated-for-go-sql-driver-mysql.md
  develop/dev-guide-outdated-for-gorm.md
  develop/dev-guide-sample-application-golang.md
  develop/dev-guide-transaction-restraints.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/XXL, area/develop, needs-cherry-pick-release-6.1

#9453 [Update] Mybatis example code
  develop/dev-guide-sample-application-java.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XXL, area/develop, needs-cherry-pick-release-6.1

#9558 ticdc: update graph for ticdc state transfer
  media/ticdc/ticdc-state-transfer.png
Labels: type/enhancement, contribution, status/can-merge, status/LGT1, translation/no-need, require-LGT1, first-time-contributor, needs-cherry-pick-release-5.0, size/XS, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1

#9491 cloud: fix table alignment issues in the output
  tidb-cloud/import-sample-data.md
Labels: type/bug-fix, status/can-merge, status/LGT1, translation/no-need, size/M, area/tidb-cloud

#9592 add unit of schedule.max-merge-region-size
  dynamic-config.md
  pd-configuration-file.md
  pd-control.md
Labels: translation/done, status/can-merge, status/LGT1, status/LGT2, size/XS, area/scheduling, ONCALL, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1

#9626 cloud: fix simpletab issues
  tidb-cloud/tidb-cloud-auditing.md
  tidb-cloud/tidb-cloud-quickstart.md
Labels: type/bug-fix, status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/S, area/tidb-cloud

#9622 Remove GA features from experimental doc
  experimental-features.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, needs-cherry-pick-release-5.0, size/XS, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.0, needs-cherry-pick-release-6.1

#9624 cloud: remove graphics not used and update graphics
  media/tidb-cloud/Project-CIDR.png
  media/tidb-cloud/Project-CIDR1.png
  media/tidb-cloud/VPC-Peering1.png
  media/tidb-cloud/add-credit-card.png
  media/tidb-cloud/poc-points.png
  media/tidb-cloud/project-CIDR3.png
  media/tidb-cloud/statement-analysis.png
  tidb-cloud/set-up-vpc-peering-connections.md
  tidb-cloud/tidb-cloud-poc.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/XS, type/compatibility-or-feature-change, area/tidb-cloud

#9625 cloud: update validation steps
  tidb-cloud/import-csv-files.md
  tidb-cloud/import-parquet-files.md
  tidb-cloud/import-sample-data.md
  tidb-cloud/migrate-from-amazon-s3-or-gcs.md
  tidb-cloud/migrate-from-aurora-bulk-import.md
  tidb-cloud/tidb-cloud-quickstart.md
  tidb-cloud/troubleshoot-import-access-denied-error.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/M, type/compatibility-or-feature-change, area/tidb-cloud

#9642 sync-diff-inspector: fix typos
  sync-diff-inspector/sync-diff-inspector-overview.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT2, needs-cherry-pick-release-5.0, size/XS, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, area/sync-diff-inspector, needs-cherry-pick-release-6.1

#9649 [Debug] specification typo
  develop/dev-guide-sql-development-specification.md
Labels: type/bug-fix, status/can-merge, status/LGT2, translation/no-need, size/XS, ONCALL, area/develop, needs-cherry-pick-release-6.1

#9652 [Update] add golang example to TOC
  TOC.md
Labels: status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/XS, area/develop, needs-cherry-pick-release-6.1

#8823 cloud: update the supported collations
  tidb-cloud/migrate-data-into-tidb.md
Labels: type/bug-fix, status/can-merge, status/LGT1, translation/no-need, size/S, needs-cherry-pick-release-6.1, area/tidb-cloud

#9664 betwwen → between
  TOC.md
  replicate-between-primary-and-secondary-clusters.md
Labels: type/bug-fix, status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/XS, area/migrate

#9666 disable trigger website building from master
  .github/workflows/dispatch.yml
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XS

#9621 develop: fix simpletab
  develop/dev-guide-bookshop-schema-design.md
  develop/dev-guide-build-cluster-in-cloud.md
  develop/dev-guide-delete-data.md
  develop/dev-guide-get-data-from-single-table.md
  develop/dev-guide-hybrid-oltp-and-olap-queries.md
  develop/dev-guide-join-tables.md
  develop/dev-guide-optimistic-and-pessimistic-transaction.md
  develop/dev-guide-optimize-sql.md
  develop/dev-guide-paginate-results.md
  develop/dev-guide-prepared-statement.md
  develop/dev-guide-sample-application-golang.md
  develop/dev-guide-sample-application-java.md
  develop/dev-guide-transaction-restraints.md
  develop/dev-guide-update-data.md
  develop/dev-guide-use-stale-read.md
  develop/dev-guide-use-temporary-tables.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/L, area/develop, needs-cherry-pick-release-6.1

#9661 Delete a running backup job
  tidb-cloud/backup-and-restore.md
Labels: translation/doing, status/can-merge, status/LGT2, size/S, area/tidb-cloud

#9668 remove SimpleTab tag
  production-deployment-using-tiup.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/S, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.0, needs-cherry-pick-release-6.1

#9663 Update tidb-cloud-auditing.md
  tidb-cloud/tidb-cloud-auditing.md
Labels: type/bug-fix, status/can-merge, status/LGT2, translation/no-need, first-time-contributor, size/XS, area/tidb-cloud

#9494 cloud: refine the scaling a cluster doc
  tidb-cloud/scale-tidb-cluster.md
Labels: type/enhancement, status/can-merge, status/LGT1, translation/no-need, size/L, area/tidb-cloud

#9528 [Debug] bulk-delete description error
  develop/dev-guide-delete-data.md
Labels: type/bug-fix, status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/XS, ONCALL, area/develop, needs-cherry-pick-release-6.1

#9659 cloud: refine description in quick start
  tidb-cloud/set-up-vpc-peering-connections.md
  tidb-cloud/tidb-cloud-quickstart.md
Labels: type/enhancement, status/can-merge, status/LGT1, translation/no-need, size/XS, area/tidb-cloud

#9631 cloud: correct interface description according to doc validation
  tidb-cloud/troubleshoot-import-access-denied-error.md
Labels: type/bug-fix, status/can-merge, status/LGT2, translation/no-need, size/M, area/tidb-cloud, from-doc-test

#9684 cloud: add a note for storage size changes
  tidb-cloud/scale-tidb-cluster.md
Labels: type/enhancement, status/can-merge, status/LGT1, translation/no-need, size/XS, area/tidb-cloud

#9679 cloud: add performance tune overview and sql tune overview
  TOC-tidb-cloud.md
  media/tidb-cloud/tidb-cloud-troubleshoot-hotspot-index.png
  media/tidb-cloud/tidb-cloud-troubleshoot-hotspot.png
  media/tidb-cloud/tidb-cloud-troubleshoot-read-hotspot.png
  media/tidb-cloud/tidb-cloud-troubleshoot-write-hotspot.png
  tidb-cloud/tidb-cloud-poc.md
  tidb-cloud/tidb-cloud-sql-tuning-overview.md
  tidb-cloud/tidb-cloud-tune-performance-overview.md
Labels: type/enhancement, status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/L, area/tidb-cloud

#9685 cloud: fix an erorr in cloud toc
  TOC-tidb-cloud.md
Labels: type/bug-fix, status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/XS, area/tidb-cloud

#9686 cloud: replace an image
  media/tidb-cloud/tidb-cloud-troubleshoot-read-hotspot-new.png
  tidb-cloud/tidb-cloud-tune-performance-overview.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/XS, area/tidb-cloud

#9591 tiup: modify the scale-in --force warning
  tiup/tiup-component-cluster-scale-in.md
Labels: type/enhancement, translation/doing, status/can-merge, status/LGT1, status/LGT2, size/XS, area/tiup, needs-cherry-pick-release-6.1

#9703 Update dispatch.yml
  .github/workflows/dispatch.yml
Labels: type/bug-fix, status/can-merge, status/LGT1, translation/no-need, size/S

#9704 Update dispatch.yml
  .github/workflows/dispatch.yml
Labels: status/can-merge, status/LGT1, translation/no-need, size/XS

#9700 add TiSpark 3.0
  tispark-overview.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT2, size/XS, area/bigdata, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1

#9691 br: synchronize the usage tips of the latest version to 5.4
  br/backup-and-restore-tool.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT1, status/LGT2, needs-cherry-pick-master, size/S, ONCALL, area/br, needs-cherry-pick-release-6.1

#9612 [Translate] Third-Party libiary support level
  TOC.md
  develop/dev-guide-third-party-support.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/M, area/develop, needs-cherry-pick-release-6.1

#9623 tidb-lightning: add lightning physical import mode usage
  TOC.md
  tidb-lightning/tidb-lightning-physical-import-mode-usage.md
  tidb-lightning/tidb-lightning-physical-import-mode.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/L, area/tidb-lightning, needs-cherry-pick-release-6.1

#9712 [Update] spring-data-jpa using hibernate, hibernate already tested
  develop/dev-guide-third-party-support.md
Labels: status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/XS, area/develop, needs-cherry-pick-release-6.1

#9716 cloud: Update set-up-vpc-peering-connections.md
  tidb-cloud/set-up-vpc-peering-connections.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/XS, area/tidb-cloud

#9559 cloud: add api overview
  TOC-tidb-cloud.md
  tidb-cloud/_index.md
  tidb-cloud/api-overview.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/M, area/tidb-cloud

#9717 Fix spelling of 'true'
  releases/release-5.0.0-rc.md
Labels: translation/done, status/can-merge, status/LGT1, require-LGT1, size/XS

#9673 Console Audit logging feature introduction
  tidb-cloud/tidb-cloud-auditing.md
  tidb-cloud/tidb-cloud-console-auditing.md
Labels: status/can-merge, status/LGT1, translation/no-need, area/security, first-time-contributor, size/L, area/tidb-cloud

#9587 cloud: support always-on dev tier
  tidb-cloud/backup-and-restore.md
  tidb-cloud/connect-to-tidb-cluster.md
  tidb-cloud/delete-tidb-cluster.md
  tidb-cloud/export-data-from-tidb-cloud.md
  tidb-cloud/import-csv-files.md
  tidb-cloud/import-parquet-files.md
  tidb-cloud/migrate-from-amazon-s3-or-gcs.md
  tidb-cloud/migrate-from-aurora-bulk-import.md
  tidb-cloud/release-notes-2022.md
  tidb-cloud/select-cluster-tier.md
Labels: status/can-merge, status/LGT2, translation/no-need, size/M, type/compatibility-or-feature-change, area/tidb-cloud

#9726 cloud: remove api docs
  TOC-tidb-cloud.md
  tidb-cloud/release-notes-2022.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/S, type/compatibility-or-feature-change, area/tidb-cloud

#9727 cloud: delete api-overview.md
  tidb-cloud/_index.md
  tidb-cloud/api-overview.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/S, area/tidb-cloud

#9728 cloud: remove api reference
  tidb-cloud/_index.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/XS

#9730 cloud: update hibernation condition
  tidb-cloud/release-notes-2022.md
  tidb-cloud/select-cluster-tier.md
Labels: type/enhancement, status/can-merge, status/LGT1, translation/no-need, size/XS, area/tidb-cloud

#9729 remote the avro support from experimental feature list
  experimental-features.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, status/LGT2, size/XS, type/compatibility-or-feature-change, area/ticdc

#9736 cloud: add limitations-and-quotas.md to TOC
  TOC-tidb-cloud.md
Labels: type/enhancement, status/can-merge, status/LGT2, translation/no-need, area/tidb-cloud

#9715 cloud: update limitations-and-quotas.md
  tidb-cloud/limitations-and-quotas.md
Labels: translation/doing, status/can-merge, status/LGT2, size/XS, area/tidb-cloud

#9737 Update dispatch.yml
  .github/workflows/dispatch.yml
Labels: status/can-merge, status/LGT1, translation/no-need, size/S

#9739 Update dispatch.yml
  .github/workflows/dispatch.yml
Labels: status/can-merge, status/LGT1, translation/no-need, size/S

#9740 Update dispatch.yml
  .github/workflows/dispatch.yml
Labels: status/can-merge, status/LGT1, translation/no-need, size/S

#9738 Update dispatch.yml
  .github/workflows/dispatch.yml
Labels: status/can-merge, status/LGT1, translation/no-need, size/S

#9742 Update dispatch.yml
  .github/workflows/dispatch.yml
Labels: status/can-merge, status/LGT1, translation/no-need, size/S

#9743 Update dispatch.yml
  .github/workflows/dispatch.yml
Labels: status/can-merge, status/LGT1, translation/no-need, size/S

#9741 Update dispatch.yml
  .github/workflows/dispatch.yml
Labels: status/can-merge, status/LGT1, translation/no-need, size/S

#9745 Update dispatch.yml
  .github/workflows/dispatch.yml
Labels: status/can-merge, status/LGT1, translation/no-need, size/S

#9746 Update dispatch.yml
  .github/workflows/dispatch.yml
Labels: status/can-merge, status/LGT1, translation/no-need, size/S

#9419 [Debug] jdbc version 5.1.49
  develop/dev-guide-choose-driver-or-orm.md
Labels: status/can-merge, status/LGT2, translation/no-need, size/S, area/develop, needs-cherry-pick-release-6.1

#9744 Update dispatch.yml
  .github/workflows/dispatch.yml
Labels: status/can-merge, status/LGT1, translation/no-need, size/S

#9747 Update dispatch.yml
  .github/workflows/dispatch.yml
Labels: status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/XS

#9527 [Debug] wait_timeout default value changed
  develop/dev-guide-connection-parameters.md
  develop/dev-guide-timeouts-in-tidb.md
Labels: type/bug-fix, status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/XS, ONCALL, area/develop, needs-cherry-pick-release-6.1

#9752 Update rawkv-backup-and-restore.md
  br/rawkv-backup-and-restore.md
Labels: type/bug-fix, status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/XS, area/br, needs-cherry-pick-release-6.0

#9675 lightning: update doc for table-level physical import mode
  tidb-lightning/tidb-lightning-backends.md
  tidb-lightning/tidb-lightning-configuration.md
  tidb-lightning/tidb-lightning-faq.md
  tidb-lightning/tidb-lightning-overview.md
  tidb-lightning/tidb-lightning-physical-import-mode-usage.md
  tidb-lightning/tidb-lightning-physical-import-mode.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/L, area/tidb-lightning, v6.2

#9733 br: deprecate rawkv backup and restore
  br/rawkv-backup-and-restore.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, status/LGT2, size/XS, type/compatibility-or-feature-change, area/br, v6.2

#9755 cloud: add username prefix
  tidb-cloud/connect-to-tidb-cluster.md
  tidb-cloud/release-notes-2022.md
  tidb-cloud/select-cluster-tier.md
  tidb-cloud/tidb-cloud-quickstart.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/M, type/compatibility-or-feature-change, area/tidb-cloud

#9687 cloud: add table filters and dumpling docs
  TOC-tidb-cloud.md
  dumpling-overview.md
  read-historical-data.md
  sql-plan-management.md
  table-filter.md
  tidb-cloud/changefeed-sink-to-mysql.md
  tidb-cloud/import-csv-files.md
  tidb-cloud/import-parquet-files.md
  tidb-cloud/migrate-data-into-tidb.md
  tidb-cloud/migrate-from-amazon-s3-or-gcs.md
  tidb-cloud/migrate-from-aurora-bulk-import.md
  tidb-cloud/tidb-cloud-poc.md
Labels: type/enhancement, status/can-merge, status/LGT1, translation/no-need, size/L, area/tidb-cloud

#9760 cloud: add security settings
  TOC-tidb-cloud.md
  tidb-cloud/_index.md
  tidb-cloud/configure-security-settings.md
  tidb-cloud/manage-user-access.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/M, type/compatibility-or-feature-change, area/tidb-cloud

#9658 tiflash: Change format_version default value to 4
  tiflash/tiflash-configuration.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/XS, area/bigdata, v6.2

#9765 cloud: update_cloud_docs in maser
  TOC-tidb-cloud.md
  media/tidb-cloud/Project-CIDR.png
  media/tidb-cloud/Project-CIDR1.png
  media/tidb-cloud/VPC-Peering1.png
  media/tidb-cloud/add-credit-card.png
  media/tidb-cloud/aws-create-policy.png
  media/tidb-cloud/aws-create-role.png
  media/tidb-cloud/aws-role-arn.png
  media/tidb-cloud/copy-bucket-arn.png
  media/tidb-cloud/poc-points.png
  media/tidb-cloud/project-CIDR3.png
  media/tidb-cloud/statement-analysis.png
  media/tidb-cloud/tidb-cloud-troubleshoot-hotspot-index.png
  media/tidb-cloud/tidb-cloud-troubleshoot-hotspot.png
  media/tidb-cloud/tidb-cloud-troubleshoot-read-hotspot-new.png
  media/tidb-cloud/tidb-cloud-troubleshoot-write-hotspot.png
  tidb-cloud/_index.md
  tidb-cloud/backup-and-restore.md
  tidb-cloud/changefeed-sink-to-mysql.md
  tidb-cloud/configure-security-settings.md
  tidb-cloud/connect-to-tidb-cluster.md
  tidb-cloud/create-tidb-cluster.md
  tidb-cloud/delete-tidb-cluster.md
  tidb-cloud/export-data-from-tidb-cloud.md
  tidb-cloud/high-availability-with-multi-az.md
  tidb-cloud/import-csv-files.md
  tidb-cloud/import-parquet-files.md
  tidb-cloud/import-sample-data.md
  tidb-cloud/limitations-and-quotas.md
  tidb-cloud/manage-user-access.md
  tidb-cloud/migrate-data-into-tidb.md
  tidb-cloud/migrate-from-amazon-s3-or-gcs.md
  tidb-cloud/migrate-from-aurora-bulk-import.md
  tidb-cloud/monitor-built-in-alerting.md
  tidb-cloud/monitor-datadog-integration.md
  tidb-cloud/monitor-prometheus-and-grafana-integration.md
  tidb-cloud/monitor-tidb-cluster.md
  tidb-cloud/release-notes-2020.md
  tidb-cloud/release-notes-2021.md
  tidb-cloud/release-notes-2022.md
  tidb-cloud/scale-tidb-cluster.md
  tidb-cloud/select-cluster-tier.md
  tidb-cloud/set-up-vpc-peering-connections.md
  tidb-cloud/size-your-cluster.md
  tidb-cloud/tidb-cloud-auditing.md
  tidb-cloud/tidb-cloud-billing-tcu.md
  tidb-cloud/tidb-cloud-billing.md
  tidb-cloud/tidb-cloud-console-auditing.md
  tidb-cloud/tidb-cloud-faq.md
  tidb-cloud/tidb-cloud-glossary.md
  tidb-cloud/tidb-cloud-htap-quickstart.md
  tidb-cloud/tidb-cloud-poc.md
  tidb-cloud/tidb-cloud-quickstart.md
  tidb-cloud/tidb-cloud-sql-tuning-overview.md
  tidb-cloud/tidb-cloud-tune-performance-overview.md
  tidb-cloud/troubleshoot-import-access-denied-error.md
  tidb-cloud/use-htap-cluster.md
Labels: status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/XXL, area/tidb-cloud

#9766 cloud: update cloud docs in v5.4
  TOC-tidb-cloud.md
  media/tidb-cloud/Project-CIDR.png
  media/tidb-cloud/Project-CIDR1.png
  media/tidb-cloud/VPC-Peering1.png
  media/tidb-cloud/add-credit-card.png
  media/tidb-cloud/aws-create-policy.png
  media/tidb-cloud/aws-create-role.png
  media/tidb-cloud/aws-role-arn.png
  media/tidb-cloud/copy-bucket-arn.png
  media/tidb-cloud/poc-points.png
  media/tidb-cloud/project-CIDR3.png
  media/tidb-cloud/statement-analysis.png
  media/tidb-cloud/tidb-cloud-troubleshoot-hotspot-index.png
  media/tidb-cloud/tidb-cloud-troubleshoot-hotspot.png
  media/tidb-cloud/tidb-cloud-troubleshoot-read-hotspot-new.png
  media/tidb-cloud/tidb-cloud-troubleshoot-write-hotspot.png
  tidb-cloud/_index.md
  tidb-cloud/backup-and-restore.md
  tidb-cloud/changefeed-sink-to-mysql.md
  tidb-cloud/configure-security-settings.md
  tidb-cloud/connect-to-tidb-cluster.md
  tidb-cloud/delete-tidb-cluster.md
  tidb-cloud/export-data-from-tidb-cloud.md
  tidb-cloud/import-csv-files.md
  tidb-cloud/import-parquet-files.md
  tidb-cloud/import-sample-data.md
  tidb-cloud/limitations-and-quotas.md
  tidb-cloud/manage-user-access.md
  tidb-cloud/migrate-data-into-tidb.md
  tidb-cloud/migrate-from-amazon-s3-or-gcs.md
  tidb-cloud/migrate-from-aurora-bulk-import.md
  tidb-cloud/release-notes-2022.md
  tidb-cloud/scale-tidb-cluster.md
  tidb-cloud/select-cluster-tier.md
  tidb-cloud/set-up-vpc-peering-connections.md
  tidb-cloud/size-your-cluster.md
  tidb-cloud/tidb-cloud-auditing.md
  tidb-cloud/tidb-cloud-billing.md
  tidb-cloud/tidb-cloud-console-auditing.md
  tidb-cloud/tidb-cloud-faq.md
  tidb-cloud/tidb-cloud-htap-quickstart.md
  tidb-cloud/tidb-cloud-poc.md
  tidb-cloud/tidb-cloud-quickstart.md
  tidb-cloud/tidb-cloud-sql-tuning-overview.md
  tidb-cloud/tidb-cloud-tune-performance-overview.md
  tidb-cloud/troubleshoot-import-access-denied-error.md
  tidb-cloud/troubleshoot-import-permission-error.md
  tidb-cloud/use-htap-cluster.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/XXL, area/tidb-cloud

#9735 cloud: add aws s3 and gcs config
  TOC-tidb-cloud.md
  tidb-cloud/config-s3-and-gcs-access.md
  tidb-cloud/import-csv-files.md
  tidb-cloud/import-parquet-files.md
  tidb-cloud/migrate-data-into-tidb.md
  tidb-cloud/migrate-from-amazon-s3-or-gcs.md
  tidb-cloud/migrate-from-aurora-bulk-import.md
Labels: type/refactor, status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/L, area/tidb-cloud

#9655 tikv,v6.2: Introduce CDC for API v2
  tikv-configuration-file.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/XS, area/engine, v6.2

#9767 cloud: fix titile spelling
  tidb-cloud/config-s3-and-gcs-access.md
Labels: type/bug-fix, status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/XS, area/tidb-cloud
