Repository pingcap/docs, pull requests merged in 2023-09, with the labels that each got.

#14532 develop guide: add sample applications (nextjs and lambda)
  .github/workflows/ci.yaml
  TOC-tidb-cloud.md
  TOC.md
  develop/dev-guide-sample-application-aws-lambda.md
  develop/dev-guide-sample-application-nextjs.md
Labels: missing-translation-status, size/XXL, area/develop, approved, lgtm

#14690 Improve the description of password policy management
  sql-statements/sql-statement-create-user.md
Labels: translation/from-docs-cn, size/XS, ONCALL, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.2, needs-cherry-pick-release-7.3

#14622 develop: refactor PyMySQL dev guide
  develop/dev-guide-choose-driver-or-orm.md
  develop/dev-guide-insert-data.md
  develop/dev-guide-sample-application-python-pymysql.md
Labels: first-time-contributor, missing-translation-status, size/XL, area/develop, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.2, needs-cherry-pick-release-7.3

#14613 develop: add Django dev guide
  TOC-tidb-cloud.md
  TOC.md
  develop/dev-guide-outdated-for-django.md
  develop/dev-guide-sample-application-python-django.md
Labels: first-time-contributor, missing-translation-status, size/XXL, area/develop, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.2, needs-cherry-pick-release-7.3

#14632 develop: refactor MySQL Connector/Python dev guide
  develop/dev-guide-choose-driver-or-orm.md
  develop/dev-guide-insert-data.md
  develop/dev-guide-sample-application-python-mysql-connector.md
Labels: first-time-contributor, missing-translation-status, size/XL, area/develop, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.2, needs-cherry-pick-release-7.3

#14638 develop: refactor SQLAlchemy dev guide
  develop/dev-guide-choose-driver-or-orm.md
  develop/dev-guide-insert-data.md
  develop/dev-guide-sample-application-python-sqlalchemy.md
Labels: first-time-contributor, missing-translation-status, size/XL, area/develop, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.2, needs-cherry-pick-release-7.3

#14713 ci: filter md
  scripts/filterUpdateFiles.js
Labels: translation/no-need, size/XS, needs-1-more-lgtm, approved, lgtm

#14714 ci: filter md (#14713)
  scripts/filterUpdateFiles.js
Labels: translation/no-need, size/XS

#14717 replace autolinks in release-7.1
  CONTRIBUTING.md
  best-practices/tidb-best-practices.md
  dashboard/continuous-profiling.md
  dashboard/dashboard-access.md
  dashboard/dashboard-cluster-info.md
  dashboard/dashboard-key-visualizer.md
  dashboard/dashboard-ops-security.md
  dashboard/dashboard-profiling.md
  dashboard/dashboard-resource-manager.md
  dashboard/dashboard-slow-query.md
  dashboard/dashboard-statement-list.md
  dashboard/top-sql.md
  develop/dev-guide-playground-gitpod.md
  develop/dev-guide-sample-application-java-spring-boot.md
  dm/dm-daily-check.md
  dm/migrate-data-using-dm.md
  exporting-grafana-snapshots.md
  quick-start-with-tidb.md
  scale-tidb-using-tiup.md
  tidb-binlog/monitor-tidb-binlog-cluster.md
  tidb-cloud/config-s3-and-gcs-access.md
  tidb-cloud/data-service-oas-with-nextjs.md
  tidb-cloud/integrate-tidbcloud-with-airbyte.md
  tidb-cloud/integrate-tidbcloud-with-dbt.md
  tidb-cloud/monitor-datadog-integration.md
  tidb-cloud/set-up-private-endpoint-connections-serverless.md
  tidb-cloud/set-up-private-endpoint-connections.md
  tidb-troubleshooting-map.md
Labels: translation/no-need, size/L, area/develop, needs-1-more-lgtm, approved, lgtm

#13813 cloud: replace the DM supported region list with a link
  tidb-cloud/migrate-from-mysql-using-data-migration.md
Labels: translation/no-need, size/S, area/tidb-cloud, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm

#14723 cloud: add sao paulo as a region
  tidb-cloud/changefeed-sink-to-tidb-cloud.md
Labels: translation/no-need, size/XS, area/tidb-cloud, for-cloud-release, needs-1-more-lgtm, approved, lgtm

#14647 serverless support cluster events
  tidb-cloud/serverless-limitations.md
  tidb-cloud/tidb-cloud-events.md
Labels: contribution, translation/no-need, first-time-contributor, size/S, area/tidb-cloud, for-cloud-release, approved, lgtm

#14661 cloud: Update ip filter
  tidb-cloud/configure-ip-access-list.md
Labels: translation/no-need, size/XS, area/tidb-cloud, for-cloud-release, approved, lgtm

#14727 cloud: add release notes about the IP access list changes
  tidb-cloud/tidb-cloud-release-notes.md
Labels: translation/no-need, size/XS, area/tidb-cloud, needs-1-more-lgtm, approved, lgtm

#14637 add serverless faq for import data
  tidb-cloud/serverless-faqs.md
Labels: translation/no-need, first-time-contributor, size/XS, area/tidb-cloud, needs-cherry-pick-release-7.1, approved, lgtm

#14730 TOC: update the title form Errors Codes to Error Codes
  TOC.md
Labels: type/bug-fix, translation/no-need, size/XS, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.2, needs-cherry-pick-release-7.3

#14742 Update check-keywords.sh
  scripts/check-keywords.sh
Labels: translation/no-need, needs-1-more-lgtm, approved, lgtm

#14648 Use support.md instead of direct links to GitHub
  dr-secondary-cluster.md
  sql-statements/sql-statement-admin-check-table-index.md
  sql-statements/sql-statement-alter-database.md
  sql-statements/sql-statement-create-database.md
  sql-statements/sql-statement-create-role.md
  sql-statements/sql-statement-create-table-like.md
  sql-statements/sql-statement-deallocate.md
  sql-statements/sql-statement-delete.md
  sql-statements/sql-statement-do.md
  sql-statements/sql-statement-drop-database.md
  sql-statements/sql-statement-drop-role.md
  sql-statements/sql-statement-drop-view.md
  sql-statements/sql-statement-execute.md
  sql-statements/sql-statement-flush-privileges.md
  sql-statements/sql-statement-grant-role.md
  sql-statements/sql-statement-insert.md
  sql-statements/sql-statement-load-data.md
  sql-statements/sql-statement-prepare.md
  sql-statements/sql-statement-rename-index.md
  sql-statements/sql-statement-rename-table.md
  sql-statements/sql-statement-rename-user.md
  sql-statements/sql-statement-replace.md
  sql-statements/sql-statement-revoke-role.md
  sql-statements/sql-statement-set-default-role.md
  sql-statements/sql-statement-set-names.md
  sql-statements/sql-statement-set-password.md
  sql-statements/sql-statement-set-role.md
  sql-statements/sql-statement-show-character-set.md
  sql-statements/sql-statement-show-collation.md
  sql-statements/sql-statement-show-columns-from.md
  sql-statements/sql-statement-show-create-database.md
  sql-statements/sql-statement-show-create-table.md
  sql-statements/sql-statement-show-databases.md
  sql-statements/sql-statement-show-errors.md
  sql-statements/sql-statement-show-grants.md
  sql-statements/sql-statement-show-indexes.md
  sql-statements/sql-statement-show-plugins.md
  sql-statements/sql-statement-show-privileges.md
  sql-statements/sql-statement-show-table-status.md
  sql-statements/sql-statement-show-tables.md
  sql-statements/sql-statement-show-variables.md
  sql-statements/sql-statement-show-warnings.md
  sql-statements/sql-statement-shutdown.md
  sql-statements/sql-statement-truncate.md
  sql-statements/sql-statement-use.md
  support.md
  troubleshoot-tidb-cluster.md
Labels: translation/doing, size/L, approved, lgtm

#14616 Document performance_schema.session_connect_attrs system table
  TOC-tidb-cloud.md
  TOC.md
  performance-schema/performance-schema-session-connect-attrs.md
  performance-schema/performance-schema.md
Labels: translation/doing, size/L, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.2, needs-cherry-pick-release-7.3

#12827 tidb-lightning-faq: Add item for copying a schema
  tidb-lightning/tidb-lightning-faq.md
Labels: type/enhancement, translation/doing, status/LGT1, size/M, area/tidb-lightning, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.2, needs-cherry-pick-release-7.3

#14748 develop: include Django in Python ORM
  develop/dev-guide-choose-driver-or-orm.md
Labels: translation/from-docs-cn, size/S, area/develop, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.2, needs-cherry-pick-release-7.3

#14695 dm: update contents about wildcards
  dm/dm-binlog-event-filter.md
  dm/dm-block-allow-table-lists.md
  dm/dm-table-routing.md
Labels: type/bug-fix, translation/from-docs-cn, size/S, area/dm, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.2, needs-cherry-pick-release-7.3

#14746 Add window function push down restriction
  tiflash/tiflash-supported-pushdown-calculations.md
Labels: translation/done, size/XS, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.2

#14728 fix the size description of the statement summary table
  statement-summary-tables.md
Labels: type/bug-fix, translation/from-docs-cn, size/XS, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, ONCALL, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.2, needs-cherry-pick-release-7.3

#14716 translate: simplify examples for java documents from the docs-cn
  develop/dev-guide-insert-data.md
  develop/dev-guide-playground-gitpod.md
  develop/dev-guide-prepared-statement.md
  develop/dev-guide-sample-application-java-hibernate.md
  develop/dev-guide-sample-application-java-jdbc.md
  develop/dev-guide-sample-application-java-mybatis.md
  develop/dev-guide-sample-application-java-spring-boot.md
Labels: translation/from-docs-cn, size/XXL, area/develop, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.2, needs-cherry-pick-release-7.3

#14740 Add FLOAT4, FLOAT8 and MIDDLEINT to the docs
  keywords.md
Labels: translation/doing, size/XS, needs-1-more-lgtm, approved, lgtm

#14718 Add deprecate-integer-display-length to TIDB Config
  tidb-configuration-file.md
Labels: translation/doing, size/XS, approved, lgtm

#14779 mysql-compatibility: Remove FLOAT4/FLOAT8 from the not supported list
  mysql-compatibility.md
Labels: translation/doing, size/XS, needs-1-more-lgtm, approved, lgtm, v7.4

#14642 feat: add ruby-mysql2 & rails dev guide
  TOC-tidb-cloud.md
  TOC.md
  develop/dev-guide-sample-application-ruby-mysql2.md
  develop/dev-guide-sample-application-ruby-rails.md
Labels: translation/doing, size/XXL, area/develop, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.2, needs-cherry-pick-release-7.3

#14722 develop: add typeorm quickstart
  TOC-tidb-cloud.md
  TOC.md
  develop/dev-guide-sample-application-nodejs-typeorm.md
Labels: translation/doing, size/XL, area/develop, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.2, needs-cherry-pick-release-7.3

#14781 add keywords ROLLUP and HYPO
  keywords.md
Labels: translation/doing, area/general, size/XS, approved, lgtm, needs-cherry-pick-release-7.2, needs-cherry-pick-release-7.3

#14524 tikv: add the user's guide of stale read and safe ts
  TOC.md
  grafana-tidb-dashboard.md
  grafana-tikv-dashboard.md
  media/stale-read/example-ops.png
  media/stale-read/example-ts-gap.png
  media/stale-read/metrics-hit-miss.png
  media/stale-read/metrics-ops.png
  media/stale-read/traffic.png
  releases/release-6.5.4.md
  releases/release-7.3.0.md
  stale-read.md
  tikv-control.md
  troubleshoot-stale-read.md
Labels: translation/doing, size/XL, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.3

#14798 chore(.github): suspend JP translation cronjob
  .github/workflows/cron.yml
Labels: translation/no-need, first-time-contributor, size/XS, i18n-ja, needs-1-more-lgtm, approved, lgtm

#14724 translate: simplify examples for golang documents from the docs-cn
  develop/dev-guide-choose-driver-or-orm.md
  develop/dev-guide-insert-data.md
  develop/dev-guide-sample-application-golang-gorm.md
  develop/dev-guide-sample-application-golang-sql-driver.md
Labels: translation/from-docs-cn, size/XXL, area/develop, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.2, needs-cherry-pick-release-7.3

#14511 ticdc: fix date-separator config of storage sink
  ticdc/ticdc-changefeed-config.md
  ticdc/ticdc-sink-to-cloud-storage.md
Labels: requires-version-specific-changes, translation/from-docs-cn, size/XS, area/ticdc, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.2, needs-cherry-pick-release-7.3

#14510 ticdc: update storage sink doc
  ticdc/ticdc-sink-to-cloud-storage.md
Labels: translation/from-docs-cn, size/M, area/ticdc, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.2, needs-cherry-pick-release-7.3

#14817 use discord in doc home
  _docHome.md
Labels: translation/no-need, size/XS, needs-1-more-lgtm, approved, lgtm

#14808 Add 9/26 maintanence notification
  TOC-tidb-cloud.md
  tidb-cloud/notification-2023-09-26-console-maintenance.md
Labels: translation/no-need, size/M, area/tidb-cloud, approved, lgtm

#14821 cloud: Cdc/fix changefeed version
  tidb-cloud/changefeed-overview.md
  tidb-cloud/changefeed-sink-to-apache-kafka.md
  tidb-cloud/changefeed-sink-to-mysql.md
  tidb-cloud/changefeed-sink-to-tidb-cloud.md
Labels: translation/no-need, size/XS, area/tidb-cloud, needs-1-more-lgtm, approved, lgtm

#14799 snapshot br: restore execution plan bindings
  br/br-snapshot-manual.md
Labels: type/enhancement, translation/from-docs-cn, size/M, area/br, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.2, needs-cherry-pick-release-7.3

#14822 fix dev guide dialog info
  develop/dev-guide-sample-application-ruby-mysql2.md
Labels: translation/no-need, size/XS, area/develop, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.2, needs-cherry-pick-release-7.3

#14802 Update explore-htap.md, add tiflash recommendation
  explore-htap.md
Labels: type/enhancement, translation/from-docs-cn, size/S, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.2, needs-cherry-pick-release-7.3

#14818 Add blank lines to mdx tags
  faq/faq-overview.md
  hardware-and-software-requirements.md
  migration-tools.md
  releases/release-5.4.0.md
  releases/release-6.0.0-dmr.md
  releases/release-6.1.0.md
  releases/versioning.md
  tidb-cloud/set-up-private-endpoint-connections-on-google-cloud.md
  tidb-lightning/tidb-lightning-overview.md
  tidb-lightning/tidb-lightning-physical-import-mode-usage.md
  tiup/tiup-component-dm-import.md
Labels: translation/no-need, size/XXL, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm

#14800 docs: fix br tools compatibility
  br/backup-and-restore-overview.md
Labels: translation/from-docs-cn, size/S, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.2, needs-cherry-pick-release-7.3

#14843 cloud: clarify the retention period for automatic backup
  tidb-cloud/backup-and-restore.md
  tidb-cloud/tidb-cloud-glossary.md
Labels: translation/no-need, size/XS, ONCALL, area/tidb-cloud, needs-1-more-lgtm, approved, lgtm

#14847 fix tiflash resource usage picture error
  tiflash-performance-tuning-methods.md
Labels: translation/from-docs-cn, size/XS, ONCALL, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.2, needs-cherry-pick-release-7.3

#14863 sql planner: add ORDER_INDEX and NO_ORDER_INDEX hints for planner
  optimizer-hints.md
Labels: translation/from-docs-cn, size/M, ONCALL, approved, lgtm

#14866 terraform: remove 2C8G in spec datasource
  tidb-cloud/terraform-use-cluster-resource.md
Labels: translation/no-need, size/S, needs-1-more-lgtm, approved, lgtm

#14639 *: Replace `Instance Number` with `Number of Instances`
  hardware-and-software-requirements.md
Labels: translation/no-need, size/XS, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.2, needs-cherry-pick-release-7.3

#14612 add serverless-driver
  TOC-tidb-cloud.md
  tidb-cloud/connect-to-tidb-cluster-serverless.md
  tidb-cloud/serverless-driver-config.md
  tidb-cloud/serverless-driver.md
Labels: translation/no-need, size/XL, area/tidb-cloud, for-cloud-release, approved, lgtm

#14715 delete 2 vCPU description.
  tidb-cloud/scale-tidb-cluster.md
  tidb-cloud/size-your-cluster.md
  tidb-cloud/tidb-cloud-performance-reference.md
Labels: translation/no-need, size/M, area/tidb-cloud, for-cloud-release, approved, lgtm

#14870 add cloud release notes
  tidb-cloud/tidb-cloud-release-notes.md
Labels: translation/no-need, size/S, area/tidb-cloud, for-cloud-release, needs-1-more-lgtm, approved, lgtm

#14871 dumpling: add PROCESS privilege
  dumpling-overview.md
Labels: translation/from-docs-cn, size/XS, ONCALL, area/dumpling, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.2, needs-cherry-pick-release-7.3

#14875 FastScan: rename dev-guide-use-fastscan to use-fastscan
  TOC-tidb-cloud.md
  TOC.md
  basic-features.md
  releases/release-6.2.0.md
  releases/release-6.3.0.md
  system-variables.md
  tiflash-620-upgrade-guide.md
  tiflash/use-fastscan.md
Labels: translation/from-docs-cn, contribution, size/S, needs-1-more-lgtm, approved, lgtm

#14876 Update forum in the issue template to Discord
  .github/ISSUE_TEMPLATE/config.yml
Labels: translation/no-need, size/XS, needs-1-more-lgtm, approved, lgtm

#14879 sql: fix a typo
  explain-index-merge.md
Labels: type/bug-fix, translation/from-docs-cn, area/sql-infra, ONCALL, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.2, needs-cherry-pick-release-7.3

#14846 add release notes for v6.5.5
  TOC.md
  releases/release-6.5.4.md
  releases/release-6.5.5.md
  releases/release-notes.md
  releases/release-timeline.md
Labels: translation/from-docs-cn, size/M, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.2, needs-cherry-pick-release-7.3

#14877 Add encode note in serverless driver
  tidb-cloud/serverless-driver-config.md
Labels: translation/no-need, size/XS, area/tidb-cloud, approved, lgtm

#14477 Add missing field in deploy example yaml file
  config-templates/complex-tiflash.yaml
Labels: translation/from-docs-cn, size/XS, needs-1-more-lgtm, approved, lgtm

#14848 Add bump version to 6.5.5
  br/backup-and-restore-use-cases.md
  dm/maintain-dm-using-tiup.md
  dm/quick-start-create-task.md
  pd-control.md
  production-deployment-using-tiup.md
  quick-start-with-tidb.md
  scale-tidb-using-tiup.md
  ticdc/deploy-ticdc.md
  ticdc/ticdc-changefeed-overview.md
  tidb-binlog/get-started-with-tidb-binlog.md
  tiflash/create-tiflash-replicas.md
  tiup/tiup-cluster.md
  tiup/tiup-component-cluster-deploy.md
  tiup/tiup-component-cluster-patch.md
  tiup/tiup-component-cluster-upgrade.md
  tiup/tiup-component-dm-upgrade.md
  tiup/tiup-component-management.md
  tiup/tiup-mirror.md
  tiup/tiup-playground.md
  upgrade-tidb-using-tiup.md
Labels: translation/from-docs-cn, size/L, needs-1-more-lgtm, approved, lgtm

#14890 br: update description of session token
  br/backup-and-restore-storages.md
Labels: translation/from-docs-cn, size/XS, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.2, needs-cherry-pick-release-7.3

#14481 dm: Cleanup typo in feature-online-ddl and update dm-faq
  dm/dm-faq.md
  dm/dm-online-ddl-tool-support.md
  dm/feature-online-ddl.md
Labels: translation/doing, contribution, first-time-contributor, size/S, approved, lgtm

#14895 sql: delete restriction about some sql statement
  configure-memory-usage.md
Labels: translation/no-need, ONCALL, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.2, needs-cherry-pick-release-7.3

#14896 docs: fix inline code typo in dumpling-overview.md
  dumpling-overview.md
Labels: contribution, translation/no-need, size/XS, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.2, needs-cherry-pick-release-7.3

#14894 Opt branching github integration doc
  tidb-cloud/branch-github-integration.md
Labels: translation/no-need, size/XS, area/tidb-cloud, approved, lgtm

#14910 br: remove pitr limitation on tikv's resource
  tidb-cloud/backup-and-restore.md
Labels: contribution, translation/no-need, first-time-contributor, size/XS, area/tidb-cloud, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm

#14908 top sql: remove experimental warning
  system-variables.md
Labels: type/bug-fix, translation/from-docs-cn, size/XS, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.2, needs-cherry-pick-release-7.3

#14797 resource_control: add background task resource control
  sql-statements/sql-statement-alter-resource-group.md
  sql-statements/sql-statement-create-resource-group.md
  tidb-resource-control.md
Labels: translation/from-docs-cn, size/L, needs-1-more-lgtm, approved, lgtm, v7.4

#14921 Update notification-2023-09-26-console-maintenance.md
  tidb-cloud/notification-2023-09-26-console-maintenance.md
Labels: translation/no-need, size/XS, area/tidb-cloud, needs-1-more-lgtm, approved, lgtm

#14705 develop guide: add sample applications - sequelize
  TOC-tidb-cloud.md
  TOC.md
  develop/dev-guide-sample-application-nodejs-sequelize.md
Labels: translation/doing, size/XL, area/develop, approved, lgtm

#14917 TiFlash resource control and pipeline execution model: update docs link and refine wording
  releases/release-7.2.0.md
  sql-statements/sql-statement-calibrate-resource.md
  system-variables.md
  tidb-resource-control.md
  tiflash/tiflash-configuration.md
  tiflash/tiflash-pipeline-model.md
Labels: translation/no-need, size/M

#14790 optimizer hints: add docs for hint SET_VAR
  optimizer-hints.md
  system-variables.md
Labels: translation/from-docs-cn, size/XL, approved, lgtm, v7.4

#13016 Update MySQL Reference Manuals to use 8.0
  character-set-and-collation.md
  comment-syntax.md
  data-type-date-and-time.md
  data-type-numeric.md
  data-type-string.md
  develop/dev-guide-connect-to-tidb.md
  develop/dev-guide-use-stale-read.md
  dm/dm-block-allow-table-lists.md
  dm/dm-enable-tls.md
  dm/dm-glossary.md
  dm/dm-worker-intro.md
  dm/handle-failed-ddl-statements.md
  dm/shard-merge-best-practices.md
  dm/usage-scenario-master-slave-switch.md
  enable-tls-between-clients-and-servers.md
  functions-and-operators/aggregate-group-by-functions.md
  functions-and-operators/bit-functions-and-operators.md
  functions-and-operators/cast-functions-and-operators.md
  functions-and-operators/control-flow-functions.md
  functions-and-operators/date-and-time-functions.md
  functions-and-operators/encryption-and-compression-functions.md
  functions-and-operators/expressions-pushed-down.md
  functions-and-operators/functions-and-operators-overview.md
  functions-and-operators/information-functions.md
  functions-and-operators/json-functions.md
  functions-and-operators/locking-functions.md
  functions-and-operators/miscellaneous-functions.md
  functions-and-operators/numeric-functions-and-operators.md
  functions-and-operators/operators.md
  functions-and-operators/precision-math.md
  functions-and-operators/string-functions.md
  functions-and-operators/type-conversion-in-expression-evaluation.md
  literal-values.md
  mysql-compatibility.md
  partitioned-table.md
  password-management.md
  schema-object-names.md
  scripts/update_mysql_ref.py
  statement-summary-tables.md
  tidb-cloud/tidb-cloud-dm-precheck-and-troubleshooting.md
  tidb-lightning/tidb-lightning-faq.md
  user-defined-variables.md
Labels: translation/done, status/LGT1, size/XXL, approved, lgtm, v7.4

#14673 resources: add doc templates
  .github/pull_request_template.md
  CONTRIBUTING.md
  resources/doc-templates/template-concept.md
  resources/doc-templates/template-new-feature.md
  resources/doc-templates/template-reference.md
  resources/doc-templates/template-task.md
  resources/doc-templates/template-troubleshooting.md
Labels: missing-translation-status, size/XL, needs-1-more-lgtm, approved, lgtm

#14719 Add TIDB_PARSE_TSO_LOGICAL()
  functions-and-operators/tidb-functions.md
Labels: translation/done, size/XS, approved, lgtm, v7.4

#14930 metricstool: fix a broken link
  exporting-grafana-snapshots.md
Labels: type/bug-fix, translation/done, needs-cherry-pick-release-5.0, size/XS, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, ONCALL, needs-cherry-pick-release-5.4, needs-1-more-lgtm, approved, lgtm

#14929 explain joins: fix the TableReader operator
  explain-joins.md
Labels: type/bug-fix, translation/from-docs-cn, size/XS, ONCALL, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.2, needs-cherry-pick-release-7.3, needs-cherry-pick-release-7.4

#14654 planner: update document about non-prepared plan cache
  optimizer-fix-controls.md
  sql-non-prepared-plan-cache.md
  sql-prepared-plan-cache.md
  system-variables.md
Labels: translation/from-docs-cn, size/M, approved, lgtm, v7.4

#14588 system-variables: add docs for new variable `tidb_opt_objective`
  system-variables.md
Labels: translation/from-docs-cn, size/S, approved, lgtm, v7.4

#14909 update tidb_stats_cache_mem_quota description
  system-variables.md
  tidb-configuration-file.md
Labels: translation/from-docs-cn, size/S, type/compatibility-or-feature-change, for-release, needs-1-more-lgtm, approved, lgtm, v7.4

#14878 ticdc: add ticdc to pulsar doc
  TOC.md
  ticdc/ticdc-changefeed-config.md
  ticdc/ticdc-sink-to-pulsar.md
Labels: size/XL, type/compatibility-or-feature-change, needs-1-more-lgtm, approved, lgtm, v7.4

#14807 *: update go to v1.21
  hardware-and-software-requirements.md
  pd-control.md
  pd-recover.md
  tidb-control.md
Labels: translation/from-docs-cn, area/general, size/XS, needs-1-more-lgtm, approved, lgtm, v7.4

#14725 add doc for sysvar `tidb_session_alias`
  system-variables.md
Labels: translation/from-docs-cn, size/S, type/compatibility-or-feature-change, approved, lgtm, v7.4

#14942 Update ticdc sink configuration
  ticdc/ticdc-changefeed-config.md
  ticdc/ticdc-overview.md
Labels: type/enhancement, translation/from-docs-cn, size/S, area/ticdc, approved, lgtm

#14949 release-6.5.4: add missing fix note
  releases/release-6.5.4.md
Labels: translation/from-docs-cn, size/XS, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.2, needs-cherry-pick-release-7.3

#14780 Add docs for information_schema.CHECK_CONSTRAINTS
  TOC-tidb-cloud.md
  TOC.md
  information-schema/information-schema-check-constraints.md
Labels: translation/done, size/M, approved, lgtm, v7.4

#14860 add table style plan on tidb dashboard
  dashboard/dashboard-slow-query.md
  dashboard/dashboard-statement-details.md
  media/dashboard/dashboard-slow-queries-detail-plans-basic.png
  media/dashboard/dashboard-slow-queries-detail-plans-cop-read.png
  media/dashboard/dashboard-slow-queries-detail-plans-time.png
  media/dashboard/dashboard-slow-queries-detail-plans-transaction.png
  media/dashboard/dashboard-slow-queries-detail1-v740.png
  media/dashboard/dashboard-slow-queries-detail2-v740.png
  media/dashboard/dashboard-statement-detail-v740.png
  media/dashboard/dashboard-table-plan-columnpicker.png
  media/dashboard/dashboard-table-plan.png
  releases/release-6.2.0.md
Labels: translation/from-docs-cn, size/L, area/diagnosis, needs-1-more-lgtm, approved, lgtm, v7.4

#14944 cloud: add doc for api v1beta1
  TOC-tidb-cloud.md
  tidb-cloud/api-overview.md
  tidb-cloud/tidb-cloud-release-notes.md
Labels: translation/no-need, size/S, area/tidb-cloud, for-cloud-release, approved, lgtm
