Repository pingcap/docs, pull requests merged in 2023-07, with the labels that each got.

#14042 add encode password description for ticdc doc
  ticdc/ticdc-open-api.md
  ticdc/ticdc-sink-to-kafka.md
Labels: translation/from-docs-cn, require-LGT1, size/XS, ONCALL, area/ticdc, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6, needs-1-more-lgtm, approved, lgtm

#13793 chore for release notes table script: fix two matching issues for repo name and PR number
  scripts/release_notes_update_pr_author_info_add_dup.py
Labels: translation/no-need, size/S, needs-1-more-lgtm, approved, lgtm

#14038 Update command-line-flags-for-tidb-configuration.md
  command-line-flags-for-tidb-configuration.md
  tidb-configuration-file.md
Labels: translation/from-docs-cn, require-LGT1, size/XS, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6, needs-cherry-pick-release-7.0, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.2

#14039 ticdc: add a faq for ticdc
  ticdc/ticdc-faq.md
Labels: translation/from-docs-cn, size/M, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.0, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.2

#13849 ticdc: add kafka oauth configurations
  ticdc/ticdc-changefeed-config.md
Labels: translation/from-docs-cn, size/S, area/ticdc, needs-cherry-pick-release-6.5, approved, lgtm, needs-cherry-pick-release-7.2

#14081 resource_control: ru consistent with serverless
  tidb-resource-control.md
Labels: type/enhancement, translation/from-docs-cn, size/M, needs-cherry-pick-release-6.6, needs-cherry-pick-release-7.0, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.2

#14102 br: fix the backup code example
  br/backup-and-restore-storages.md
Labels: type/bug-fix, translation/no-need, size/XS, ONCALL, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6, needs-cherry-pick-release-7.0, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.2

#14041 include warning in tidb control
  tidb-control.md
Labels: translation/done, size/XS, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6, needs-cherry-pick-release-7.0, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.2

#14053 cloud: add Beta to metrics integration docs
  TOC-tidb-cloud.md
  tidb-cloud/monitor-datadog-integration.md
  tidb-cloud/monitor-new-relic-integration.md
  tidb-cloud/monitor-prometheus-and-grafana-integration.md
  tidb-cloud/third-party-monitoring-integrations.md
Labels: translation/no-need, size/M, area/tidb-cloud, for-cloud-release, approved, lgtm

#13976 cloud: TiDB Serverless supports PITR
  tidb-cloud/backup-and-restore-serverless.md
  tidb-cloud/tidb-cloud-faq.md
Labels: translation/no-need, size/M, area/tidb-cloud, for-cloud-release, needs-1-more-lgtm, approved, lgtm

#14089 cloud: update navigation steps according to UI
  tidb-cloud/backup-and-restore.md
  tidb-cloud/built-in-monitoring.md
  tidb-cloud/config-s3-and-gcs-access.md
  tidb-cloud/configure-maintenance-window.md
  tidb-cloud/configure-security-settings.md
  tidb-cloud/connect-via-sql-shell.md
  tidb-cloud/connect-via-standard-connection.md
  tidb-cloud/create-tidb-cluster.md
  tidb-cloud/explore-data-with-chat2query.md
  tidb-cloud/import-csv-files.md
  tidb-cloud/import-parquet-files.md
  tidb-cloud/import-sample-data.md
  tidb-cloud/integrate-tidbcloud-with-airbyte.md
  tidb-cloud/integrate-tidbcloud-with-dbt.md
  tidb-cloud/integrate-tidbcloud-with-n8n.md
  tidb-cloud/integrate-tidbcloud-with-netlify.md
  tidb-cloud/integrate-tidbcloud-with-vercel.md
  tidb-cloud/manage-serverless-spend-limit.md
  tidb-cloud/manage-user-access.md
  tidb-cloud/migrate-data-into-tidb.md
  tidb-cloud/migrate-from-amazon-s3-or-gcs.md
  tidb-cloud/migrate-from-aurora-bulk-import.md
  tidb-cloud/migrate-from-mysql-using-data-migration.md
  tidb-cloud/migrate-incremental-data-from-mysql-using-data-migration.md
  tidb-cloud/migrate-sql-shards.md
  tidb-cloud/monitor-built-in-alerting.md
  tidb-cloud/monitor-datadog-integration.md
  tidb-cloud/monitor-new-relic-integration.md
  tidb-cloud/monitor-prometheus-and-grafana-integration.md
  tidb-cloud/set-up-private-endpoint-connections.md
  tidb-cloud/set-up-vpc-peering-connections.md
  tidb-cloud/third-party-monitoring-integrations.md
  tidb-cloud/tidb-cloud-billing.md
  tidb-cloud/tidb-cloud-console-auditing.md
  tidb-cloud/tidb-cloud-events.md
  tidb-cloud/tidb-cloud-import-local-files.md
  tidb-cloud/tidb-cloud-org-sso-authentication.md
  tidb-cloud/tidb-cloud-password-authentication.md
  tidb-cloud/tidb-cloud-poc.md
  tidb-cloud/tidb-cloud-release-notes.md
  tidb-cloud/tidb-cloud-support.md
  tidb-cloud/use-chat2query-api.md
Labels: translation/no-need, size/XL, area/tidb-cloud, for-cloud-release, needs-1-more-lgtm, approved, lgtm

#13979 cloud: update Serverless usage spend limit
  tidb-cloud/manage-serverless-spend-limit.md
  tidb-cloud/select-cluster-tier.md
  tidb-cloud/serverless-limitations.md
  tidb-cloud/tidb-cloud-htap-quickstart.md
Labels: translation/no-need, size/S, area/tidb-cloud, for-cloud-release, needs-1-more-lgtm, approved, lgtm

#14087 cloud: release notes for 0704
  tidb-cloud/tidb-cloud-release-notes.md
Labels: translation/no-need, size/S, area/tidb-cloud, for-cloud-release, approved, lgtm

#14086 cloud: remove beta from serverless docs
  develop/dev-guide-aws-appflow-integration.md
  develop/dev-guide-build-cluster-in-cloud.md
  information-schema/information-schema-slow-query.md
  sql-statements/sql-statement-flashback-to-timestamp.md
  statement-summary-tables.md
  system-variables.md
  tidb-cloud/changefeed-overview.md
  tidb-cloud/changefeed-sink-to-apache-kafka.md
  tidb-cloud/changefeed-sink-to-cloud-storage.md
  tidb-cloud/changefeed-sink-to-mysql.md
  tidb-cloud/connect-via-sql-shell.md
  tidb-cloud/data-service-get-started.md
  tidb-cloud/data-service-overview.md
  tidb-cloud/delete-tidb-cluster.md
  tidb-cloud/explore-data-with-chat2query.md
  tidb-cloud/get-started-with-cli.md
  tidb-cloud/monitor-datadog-integration.md
  tidb-cloud/monitor-new-relic-integration.md
  tidb-cloud/monitor-prometheus-and-grafana-integration.md
  tidb-cloud/monitor-tidb-cluster.md
  tidb-cloud/pause-or-resume-tidb-cluster.md
  tidb-cloud/release-notes-2021.md
  tidb-cloud/release-notes-2022.md
  tidb-cloud/scale-tidb-cluster.md
  tidb-cloud/select-cluster-tier.md
  tidb-cloud/serverless-faqs.md
  tidb-cloud/serverless-limitations.md
  tidb-cloud/set-up-vpc-peering-connections.md
  tidb-cloud/size-your-cluster.md
  tidb-cloud/third-party-monitoring-integrations.md
  tidb-cloud/ticloud-cluster-connect-info.md
  tidb-cloud/ticloud-cluster-create.md
  tidb-cloud/ticloud-connect.md
  tidb-cloud/ticloud-import-start-local.md
  tidb-cloud/ticloud-import-start-mysql.md
  tidb-cloud/tidb-cloud-billing.md
  tidb-cloud/tidb-cloud-encrypt-cmek.md
  tidb-cloud/tidb-cloud-guide-sample-application-java.md
  tidb-cloud/tidb-cloud-poc.md
  tidb-cloud/tidb-cloud-quickstart.md
  tidb-cloud/tidb-cloud-release-notes.md
  tidb-cloud/tune-performance.md
  tidb-cloud/use-chat2query-api.md
  time-to-live.md
Labels: translation/no-need, size/L, area/tidb-cloud, for-cloud-release, needs-1-more-lgtm, approved, lgtm

#14095 *: remove serverless beta from urls
  develop/dev-guide-aws-appflow-integration.md
  develop/dev-guide-build-cluster-in-cloud.md
  information-schema/information-schema-resource-groups.md
  information-schema/information-schema-slow-query.md
  releases/release-7.0.0.md
  sql-statements/sql-statement-alter-resource-group.md
  sql-statements/sql-statement-calibrate-resource.md
  sql-statements/sql-statement-create-resource-group.md
  sql-statements/sql-statement-drop-resource-group.md
  sql-statements/sql-statement-flashback-to-timestamp.md
  sql-statements/sql-statement-load-data.md
  sql-statements/sql-statement-set-resource-group.md
  sql-statements/sql-statement-show-create-resource-group.md
  statement-summary-tables.md
  system-variables.md
  tidb-cloud/changefeed-sink-to-mysql.md
  tidb-cloud/tune-performance.md
  tidb-resource-control.md
  time-to-live.md
Labels: translation/no-need, size/M, for-cloud-release, approved, lgtm

#14096 *: remove serverless beta from urls
  develop/dev-guide-aws-appflow-integration.md
  develop/dev-guide-build-cluster-in-cloud.md
  information-schema/information-schema-resource-groups.md
  information-schema/information-schema-slow-query.md
  releases/release-7.0.0.md
  sql-statements/sql-statement-alter-resource-group.md
  sql-statements/sql-statement-calibrate-resource.md
  sql-statements/sql-statement-create-resource-group.md
  sql-statements/sql-statement-drop-resource-group.md
  sql-statements/sql-statement-flashback-to-timestamp.md
  sql-statements/sql-statement-load-data.md
  sql-statements/sql-statement-set-resource-group.md
  sql-statements/sql-statement-show-create-resource-group.md
  statement-summary-tables.md
  system-variables.md
  tidb-cloud/changefeed-sink-to-mysql.md
  tidb-cloud/tune-performance.md
  tidb-resource-control.md
  time-to-live.md
Labels: translation/no-need, size/M, for-cloud-release, approved, lgtm

#14097 *: remove serverless beta from urls
  develop/dev-guide-aws-appflow-integration.md
  develop/dev-guide-build-cluster-in-cloud.md
  information-schema/information-schema-resource-groups.md
  information-schema/information-schema-slow-query.md
  releases/release-7.0.0.md
  sql-statements/sql-statement-alter-resource-group.md
  sql-statements/sql-statement-calibrate-resource.md
  sql-statements/sql-statement-create-resource-group.md
  sql-statements/sql-statement-drop-resource-group.md
  sql-statements/sql-statement-flashback-to-timestamp.md
  sql-statements/sql-statement-load-data.md
  sql-statements/sql-statement-set-resource-group.md
  sql-statements/sql-statement-show-create-resource-group.md
  statement-summary-tables.md
  system-variables.md
  tidb-cloud/changefeed-sink-to-mysql.md
  tidb-cloud/tune-performance.md
  tidb-resource-control.md
  time-to-live.md
Labels: translation/no-need, size/M, for-cloud-release, needs-1-more-lgtm, approved, lgtm

#14099 *: remove serverless beta from urls
  develop/dev-guide-aws-appflow-integration.md
  develop/dev-guide-build-cluster-in-cloud.md
  information-schema/information-schema-resource-groups.md
  information-schema/information-schema-slow-query.md
  releases/release-7.0.0.md
  sql-statements/sql-statement-alter-resource-group.md
  sql-statements/sql-statement-calibrate-resource.md
  sql-statements/sql-statement-create-resource-group.md
  sql-statements/sql-statement-drop-resource-group.md
  sql-statements/sql-statement-flashback-to-timestamp.md
  sql-statements/sql-statement-load-data.md
  sql-statements/sql-statement-set-resource-group.md
  sql-statements/sql-statement-show-create-resource-group.md
  statement-summary-tables.md
  system-variables.md
  tidb-cloud/changefeed-sink-to-mysql.md
  tidb-cloud/tune-performance.md
  tidb-resource-control.md
  time-to-live.md
Labels: translation/no-need, size/M, for-cloud-release, needs-1-more-lgtm, approved, lgtm

#14101 *: remove serverless beta from urls
  develop/dev-guide-aws-appflow-integration.md
  develop/dev-guide-build-cluster-in-cloud.md
  information-schema/information-schema-resource-groups.md
  information-schema/information-schema-slow-query.md
  sql-statements/sql-statement-alter-resource-group.md
  sql-statements/sql-statement-create-resource-group.md
  sql-statements/sql-statement-drop-resource-group.md
  sql-statements/sql-statement-flashback-to-timestamp.md
  sql-statements/sql-statement-show-create-resource-group.md
  statement-summary-tables.md
  system-variables.md
  tidb-resource-control.md
  time-to-live.md
Labels: translation/no-need, size/M, for-cloud-release, needs-1-more-lgtm, approved, lgtm

#14116 feat: change django support level to full cause of we added test cases to pipeline already
  develop/dev-guide-third-party-support.md
Labels: translation/from-docs-cn, size/XS, area/develop, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6, needs-cherry-pick-release-7.0, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.2

#14090 ticdc: add Golang examples for checksum verification
  TOC.md
  ticdc/ticdc-avro-checksum-verification.md
  ticdc/ticdc-integrity-check.md
Labels: translation/from-docs-cn, size/XXL, area/ticdc, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.2

#14108 lightning: add a note for physical import mode
  migrate-large-mysql-to-tidb.md
Labels: translation/from-docs-cn, size/XS, area/tidb-lightning, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.2

#14098 Update lastest default version description on FAQ doc
  tidb-cloud/tidb-cloud-faq.md
Labels: translation/no-need, size/XS, area/tidb-cloud, approved, lgtm

#14051 import into: add known issue
  sql-statements/sql-statement-import-into.md
Labels: translation/from-docs-cn, size/XS, approved, lgtm, needs-cherry-pick-release-7.2

#14137 mysql compatibility: fix render issue
  mysql-compatibility.md
Labels: type/bug-fix, translation/no-need, size/XS, approved, lgtm, needs-cherry-pick-release-7.2

#14017 cloud: optimize quick start
  tidb-cloud/tidb-cloud-quickstart.md
Labels: translation/no-need, size/M, area/tidb-cloud, needs-1-more-lgtm, approved, lgtm

#14040 fix range columns examples
  partitioned-table.md
Labels: type/bug-fix, translation/from-docs-cn, size/S, area/sql-infra, ONCALL, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6, needs-cherry-pick-release-7.0, needs-1-more-lgtm, approved, lgtm

#14146 .github: add 7.3 in pr template
  .github/pull_request_template.md
Labels: translation/done, approved, lgtm

#14100 Update TiDB Serverless FAQ
  TOC-tidb-cloud.md
  tidb-cloud/create-tidb-cluster-serverless.md
  tidb-cloud/manage-serverless-spend-limit.md
  tidb-cloud/select-cluster-tier.md
  tidb-cloud/serverless-faqs.md
  tidb-cloud/serverless-limitations.md
  tidb-cloud/tidb-cloud-console-auditing.md
  tidb-cloud/tidb-cloud-glossary.md
  tidb-cloud/tidb-cloud-release-notes.md
Labels: translation/no-need, size/L, area/tidb-cloud, for-cloud-release, approved, lgtm

#13947 *: optimize 4 docs descriptions
  _docHome.md
  quick-start-with-tidb.md
  sql-statements/sql-statement-flush-privileges.md
  ticdc/ticdc-overview.md
Labels: translation/doing, size/L, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.2

#13970 Update TiDB Serverless limitations
  TOC-tidb-cloud.md
  tidb-cloud/limited-sql-features.md
  tidb-cloud/serverless-limitations.md
Labels: translation/no-need, size/XL, area/tidb-cloud, for-cloud-release, approved, lgtm

#14132 add calibrate resource error for 7.1
  dashboard/dashboard-resource-manager.md
  sql-statements/sql-statement-calibrate-resource.md
Labels: translation/from-docs-cn, size/S, area/sql-infra, approved, lgtm

#14152 dispatch.yml: remove the achvied release-v6.6
  .github/workflows/dispatch.yml
Labels: translation/from-docs-cn, size/XS, approved, lgtm

#14153 v6.3/v6.4/v6.6 release notes: add archive info
  .github/pull_request_template.md
  releases/release-6.3.0.md
  releases/release-6.4.0.md
  releases/release-6.6.0.md
Labels: translation/from-docs-cn, size/S, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.0, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.2

#14147 lightning: refine desciption about analyze
  tidb-lightning/data-import-best-practices.md
Labels: type/bug-fix, translation/done, size/XS, ONCALL, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.2

#14160 add experimental label to smooth upgrade
  releases/release-7.1.0.md
Labels: translation/from-docs-cn, size/XS, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.2

#13654 lightning: fix all grammar and format issues in log msg explanation
  tidb-lightning/tidb-lightning-log-message-explanation.md
Labels: translation/done, size/L, area/tidb-lightning, approved, lgtm

#14166 tidb-cloud: update a changefeed note to remove outdated info
  tidb-cloud/changefeed-sink-to-apache-kafka.md
  tidb-cloud/changefeed-sink-to-mysql.md
Labels: translation/no-need, size/XS, needs-1-more-lgtm, approved, lgtm

#14167 lightning: apply comments in log msg explanation
  tidb-lightning/tidb-lightning-log-message-explanation.md
Labels: translation/no-need, size/XS, approved, lgtm

#14052 Update dashboard-slow-query.md
  dashboard/dashboard-slow-query.md
  media/dashboard/dashboard-slow-queries-export-v651.png
Labels: translation/from-docs-cn, size/XS, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.0, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.2

#13604 Update exporting-grafana-snapshots.md
  exporting-grafana-snapshots.md
Labels: translation/from-docs-cn, size/XS, area/diagnosis, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.0, approved, lgtm, needs-cherry-pick-release-7.2

#14055 release-7.2.0: refine the highlight description of Import Into
  releases/release-7.2.0.md
Labels: translation/no-need, size/XS, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.2

#13986 release-6.5.0.md: correct TiCDC throughput description
  releases/release-6.5.0.md
Labels: translation/no-need, area/ticdc, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.0, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.2

#13812 update ticdc alert rule
  ticdc/ticdc-alert-rules.md
Labels: translation/from-docs-cn, size/S, ONCALL, area/ticdc, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.2

#13880 cli branch
  TOC-tidb-cloud.md
  tidb-cloud/cli-reference.md
  tidb-cloud/ticloud-branch-connect-info.md
  tidb-cloud/ticloud-branch-create.md
  tidb-cloud/ticloud-branch-delete.md
  tidb-cloud/ticloud-branch-describe.md
  tidb-cloud/ticloud-branch-list.md
  tidb-cloud/ticloud-connect.md
Labels: translation/no-need, size/XL, area/tidb-cloud, for-cloud-release, approved, lgtm

#14088 sql-statements: update the compability comment for SHOW INDEX
  sql-statements/sql-statement-show-indexes.md
Labels: translation/from-docs-cn, size/XS, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.2

#14140 cloud: update steps of modifying clusters according to UI
  tidb-cloud/backup-and-restore.md
  tidb-cloud/release-notes-2022.md
  tidb-cloud/scale-tidb-cluster.md
  tidb-cloud/size-your-cluster.md
  tidb-cloud/terraform-use-cluster-resource.md
  tidb-cloud/tidb-cloud-dm-precheck-and-troubleshooting.md
  tidb-cloud/tidb-cloud-release-notes.md
Labels: translation/no-need, size/L, area/tidb-cloud, for-cloud-release, needs-1-more-lgtm, approved, lgtm

#13965 cloud: weekly schedule for backup
  tidb-cloud/backup-and-restore.md
  tidb-cloud/configure-maintenance-window.md
Labels: translation/no-need, size/S, area/tidb-cloud, for-cloud-release, needs-1-more-lgtm, approved, lgtm

#14164 cloud: July 11 release notes
  tidb-cloud/tidb-cloud-release-notes.md
Labels: translation/no-need, size/S, area/tidb-cloud, for-cloud-release, approved, lgtm

#14198 system-variables: fix a typo for "GROUP"
  releases/release-6.1.0.md
  system-variables.md
Labels: translation/from-docs-cn, size/XS, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.0, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.2

#14151 release: add v6.1.7 release notes
  TOC.md
  releases/release-6.1.7.md
  releases/release-7.2.0.md
  releases/release-notes.md
  releases/release-timeline.md
Labels: translation/from-docs-cn, size/L, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.0, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.2

#13906 Update Warning Section For FastScan
  tiflash/use-fastscan.md
Labels: type/enhancement, translation/from-docs-cn, size/M, area/bigdata, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.2

#14212 tikv config: correct location of report-region-buckets-tick-interval
  tikv-configuration-file.md
Labels: translation/from-docs-cn, size/S, area/engine, ONCALL, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.0, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.2

#14196 sql statements: optimize the description of MySQL compatibility section
  sql-statements/sql-statement-alter-database.md
  sql-statements/sql-statement-create-database.md
  sql-statements/sql-statement-create-role.md
  sql-statements/sql-statement-create-table-like.md
  sql-statements/sql-statement-deallocate.md
  sql-statements/sql-statement-delete.md
  sql-statements/sql-statement-do.md
  sql-statements/sql-statement-drop-database.md
  sql-statements/sql-statement-drop-role.md
  sql-statements/sql-statement-drop-view.md
  sql-statements/sql-statement-execute.md
  sql-statements/sql-statement-flush-privileges.md
  sql-statements/sql-statement-grant-role.md
  sql-statements/sql-statement-insert.md
  sql-statements/sql-statement-prepare.md
  sql-statements/sql-statement-rename-index.md
  sql-statements/sql-statement-rename-table.md
  sql-statements/sql-statement-replace.md
  sql-statements/sql-statement-revoke-role.md
  sql-statements/sql-statement-set-default-role.md
  sql-statements/sql-statement-set-names.md
  sql-statements/sql-statement-set-password.md
  sql-statements/sql-statement-set-role.md
  sql-statements/sql-statement-show-character-set.md
  sql-statements/sql-statement-show-collation.md
  sql-statements/sql-statement-show-columns-from.md
  sql-statements/sql-statement-show-create-table.md
  sql-statements/sql-statement-show-databases.md
  sql-statements/sql-statement-show-errors.md
  sql-statements/sql-statement-show-grants.md
  sql-statements/sql-statement-show-plugins.md
  sql-statements/sql-statement-show-privileges.md
  sql-statements/sql-statement-show-table-status.md
  sql-statements/sql-statement-show-tables.md
  sql-statements/sql-statement-show-variables.md
  sql-statements/sql-statement-show-warnings.md
  sql-statements/sql-statement-truncate.md
  sql-statements/sql-statement-use.md
Labels: translation/no-need, size/M, area/sql-infra, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.2

#14223 releases: fix the issue and contributor format in release notes
  releases/release-5.1.0.md
  releases/release-5.2.2.md
  releases/release-5.3.0.md
  releases/release-6.1.6.md
  releases/release-6.3.0.md
  releases/release-6.5.0.md
  releases/release-6.5.1.md
  releases/release-6.5.2.md
  releases/release-6.6.0.md
  releases/release-7.2.0.md
Labels: translation/from-docs-cn, size/M, needs-cherry-pick-release-7.1, approved, lgtm

#14219 *: modify some deprecated configuration items
  dashboard/dashboard-overview.md
  dashboard/dashboard-slow-query.md
  dynamic-config.md
  faq/deploy-and-maintain-faq.md
  quick-start-with-tidb.md
  tidb-configuration-file.md
Labels: translation/from-docs-cn, size/S, area/sql-infra, ONCALL, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.2

#14240 feat: SQLAlchemy and Sequelize were added to test pipeline
  develop/dev-guide-choose-driver-or-orm.md
  develop/dev-guide-third-party-support.md
  develop/dev-guide-third-party-tools-compatibility.md
Labels: translation/done, size/S, area/develop, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.0, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.2

#14242 feat: MySQL Connector/Python example add some log to give some instructions
  develop/dev-guide-sample-application-python-mysql-connector.md
Labels: translation/done, size/XS, area/develop, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.0, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.2

#14232 ci: update the git diff command in the prevent deletion workflow to improve accuracy
  .github/workflows/prevent-deletion.yaml
Labels: translation/no-need, size/XS, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.0, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.2

#14238 lightning: refine description about --check-requirements *bool*
  tidb-lightning/tidb-lightning-command-line-full.md
Labels: translation/from-docs-cn, size/XS, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.0, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.2

#14239 lightning: refine dsecription of check-requirements
  tidb-lightning/tidb-lightning-configuration.md
Labels: translation/from-docs-cn, needs-cherry-pick-release-5.0, size/XS, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, area/tidb-lightning, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.0, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.2

#14241 lightning: refine description about checksum-via-sql
  tidb-lightning/tidb-lightning-configuration.md
Labels: translation/from-docs-cn, size/XS, area/tidb-lightning, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.2

#14280 cdc matcher rule explaination example
  ticdc/ticdc-sink-to-kafka.md
Labels: type/bug-fix, translation/from-docs-cn, size/S, ONCALL, area/ticdc, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.2

#14281 Add audit log for branch
  tidb-cloud/tidb-cloud-console-auditing.md
Labels: translation/no-need, size/L, area/tidb-cloud, for-cloud-release, approved, lgtm

#13860 cloud dm: update docs as per new UI
  media/tidb-cloud/import-data-csv-config.png
  tidb-cloud/csv-config-for-import-data.md
  tidb-cloud/import-csv-files.md
  tidb-cloud/import-parquet-files.md
  tidb-cloud/import-sample-data.md
  tidb-cloud/import-snapshot-files.md
  tidb-cloud/tidb-cloud-import-local-files.md
Labels: type/enhancement, translation/no-need, size/L, area/dm, area/tidb-cloud, for-cloud-release, needs-1-more-lgtm, approved, lgtm

#14236 cloud: Admin -> Project Settings
  tidb-cloud/backup-and-restore.md
  tidb-cloud/configure-maintenance-window.md
  tidb-cloud/monitor-built-in-alerting.md
  tidb-cloud/monitor-datadog-integration.md
  tidb-cloud/monitor-new-relic-integration.md
  tidb-cloud/monitor-prometheus-and-grafana-integration.md
  tidb-cloud/set-up-private-endpoint-connections.md
  tidb-cloud/set-up-vpc-peering-connections.md
  tidb-cloud/third-party-monitoring-integrations.md
Labels: translation/no-need, size/M, area/tidb-cloud, for-cloud-release, approved, lgtm

#14233 cloud: update docs for RBAC support
  tidb-cloud/_index.md
  tidb-cloud/branch-manage.md
  tidb-cloud/create-tidb-cluster-serverless.md
  tidb-cloud/create-tidb-cluster.md
  tidb-cloud/integrate-tidbcloud-with-vercel.md
  tidb-cloud/manage-user-access.md
  tidb-cloud/migrate-from-op-tidb.md
  tidb-cloud/third-party-monitoring-integrations.md
  tidb-cloud/tidb-cloud-auditing.md
  tidb-cloud/tidb-cloud-billing.md
  tidb-cloud/tidb-cloud-console-auditing.md
  tidb-cloud/tidb-cloud-glossary.md
  tidb-cloud/tidb-cloud-org-sso-authentication.md
Labels: translation/no-need, size/L, area/tidb-cloud, for-cloud-release, needs-1-more-lgtm, approved, lgtm

#14163 Improve the UI capability of CMEK
  TOC-tidb-cloud.md
  tidb-cloud/tidb-cloud-encrypt-cmek.md
Labels: translation/no-need, size/M, area/tidb-cloud, for-cloud-release, approved, lgtm

#14288 cloud import: refine description about mapping settings
  tidb-cloud/import-csv-files.md
Labels: type/enhancement, translation/no-need, size/S, area/tidb-cloud, needs-1-more-lgtm, approved, lgtm

#14260 cloud: release notes 20230718
  tidb-cloud/tidb-cloud-release-notes.md
  tidb-cloud/tidb-cloud-roadmap.md
Labels: size/S, area/tidb-cloud, for-cloud-release, approved, lgtm

#14197 Add FAQ about deleting cluster confirmation
  tidb-cloud/tidb-cloud-faq.md
Labels: translation/no-need, size/XS, area/tidb-cloud, approved, lgtm

#14295 briefly update the grafana tikv dashboard doc
  grafana-tikv-dashboard.md
  media/tikv-dashboard-raft-process.png
Labels: translation/from-docs-cn, size/M, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.0, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.2

#14224 v7.1.1: support ARM 64 for openEuler
  hardware-and-software-requirements.md
Labels: translation/from-docs-cn, size/XS, approved, lgtm

#14297 v7.1.1: introduce two optimizer fix control 44823 and 44855
  optimizer-fix-controls.md
  sql-non-prepared-plan-cache.md
Labels: translation/from-docs-cn, size/S, area/planner, needs-1-more-lgtm, approved, lgtm

#14290 release v7.1.1
  TOC.md
  releases/release-7.1.0.md
  releases/release-7.1.1.md
  releases/release-notes.md
  releases/release-timeline.md
Labels: translation/from-docs-cn, size/L, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.2

#14222 system variable: add tidb_lock_unchanged_keys
  system-variables.md
Labels: translation/from-docs-cn, size/S, needs-1-more-lgtm, approved, lgtm

#14231 bump version to v7.1.1
  br/backup-and-restore-use-cases.md
  dm/maintain-dm-using-tiup.md
  dm/quick-start-create-task.md
  information-schema/information-schema-tidb-servers-info.md
  pd-control.md
  post-installation-check.md
  production-deployment-using-tiup.md
  quick-start-with-tidb.md
  scale-tidb-using-tiup.md
  ticdc/deploy-ticdc.md
  ticdc/ticdc-changefeed-overview.md
  ticdc/ticdc-open-api-v2.md
  tidb-binlog/get-started-with-tidb-binlog.md
  tidb-monitoring-api.md
  tiflash/create-tiflash-replicas.md
  tiup/tiup-cluster.md
  tiup/tiup-component-cluster-deploy.md
  tiup/tiup-component-cluster-patch.md
  tiup/tiup-component-cluster-upgrade.md
  tiup/tiup-component-dm-upgrade.md
  tiup/tiup-component-management.md
  tiup/tiup-mirror.md
  tiup/tiup-playground.md
  upgrade-tidb-using-tiup.md
Labels: translation/from-docs-cn, size/L, needs-1-more-lgtm, approved, lgtm

#14317 cloud: Remove dup spending limit in TOC
  TOC-tidb-cloud.md
Labels: translation/no-need, size/XS, area/tidb-cloud, approved, lgtm

#14316 Fix the description of connect command
  tidb-cloud/get-started-with-cli.md
Labels: first-time-contributor, missing-translation-status, size/XS, area/tidb-cloud, for-cloud-release, needs-1-more-lgtm, approved, lgtm

#14319 cdc update release-note about fix avro handle incorrect enum type value
  releases/release-7.1.1.md
Labels: translation/from-docs-cn, size/XS, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.2

#14314 Update benchmark-tidb-using-sysbench.md
  benchmark/benchmark-tidb-using-sysbench.md
Labels: type/enhancement, translation/from-docs-cn, size/S, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.0, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.2

#14320 sql: fix an error in sql-statement-select.md
  sql-statements/sql-statement-select.md
Labels: translation/done, size/XS, area/sql-infra, ONCALL, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.2

#14330 Update TiSpark close telemetry time
  telemetry.md
Labels: translation/from-docs-cn, needs-cherry-pick-master, size/XS, ONCALL, approved, lgtm, needs-cherry-pick-release-7.2

#14209 Update tidb-lightning-physical-import-mode.md
  tidb-lightning/tidb-lightning-physical-import-mode.md
Labels: type/enhancement, translation/from-docs-cn, size/XS, area/tidb-lightning, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.2

#14335 Fix formatting of v620 release notes
  releases/release-6.2.0.md
Labels: translation/doing, size/XS, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.0, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.2

#14304 cloud: refine the get help menu
  tidb-cloud/changefeed-replication.md
  tidb-cloud/manage-user-access.md
  tidb-cloud/tidb-cloud-auditing.md
  tidb-cloud/tidb-cloud-console-auditing.md
  tidb-cloud/tidb-cloud-org-sso-authentication.md
  tidb-cloud/tidb-cloud-poc.md
  tidb-cloud/tidb-cloud-support.md
Labels: type/enhancement, size/S, area/tidb-cloud, for-cloud-release, approved, lgtm

#14318 cloud: release notes for July 25 2023
  tidb-cloud/tidb-cloud-release-notes.md
Labels: translation/no-need, size/S, area/tidb-cloud, for-cloud-release, needs-1-more-lgtm, approved, lgtm

#14117 cloud: add faq about how to import specified columns, and delete outdated files
  develop/dev-guide-insert-data.md
  tidb-cloud/changefeed-sink-to-tidb-cloud.md
  tidb-cloud/export-data-from-tidb-cloud.md
  tidb-cloud/import-csv-files.md
  tidb-cloud/migrate-data-into-tidb.md
  tidb-cloud/migrate-from-amazon-s3-or-gcs.md
  tidb-cloud/migrate-from-aurora-bulk-import.md
  tidb-cloud/migrate-from-mysql-using-data-migration.md
  tidb-cloud/migrate-from-op-tidb.md
  tidb-cloud/migrate-incremental-data-from-mysql.md
  tidb-cloud/release-notes-2021.md
  tidb-cloud/tidb-cloud-faq.md
  tidb-cloud/tidb-cloud-import-local-files.md
  tidb-cloud/tidb-cloud-migration-overview.md
  tidb-cloud/tidb-cloud-poc.md
  tidb-cloud/troubleshoot-import-access-denied-error.md
Labels: translation/no-need, size/XXL, area/migrate, area/tidb-cloud, needs-1-more-lgtm, approved, lgtm

#14235 privilege check on temp-dir
  check-before-deployment.md
  hardware-and-software-requirements.md
  system-variables.md
  tidb-configuration-file.md
  tidb-distributed-execution-framework.md
Labels: type/enhancement, translation/from-docs-cn, size/M, area/sql-infra, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.0, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.2

#14186 Add SELECT ... INTO OUTFILE to limited sql on TiDB Cloud
  tidb-cloud/limited-sql-features.md
Labels: translation/no-need, size/XS, area/tidb-cloud, needs-1-more-lgtm, approved, lgtm

#14353 Remove the variables that are already readonly
  tidb-cloud/limited-sql-features.md
Labels: translation/no-need, size/XS, area/tidb-cloud, approved, lgtm

#14244 cloud: support generating endpoints automatically
  tidb-cloud/data-service-api-key.md
  tidb-cloud/data-service-app-config-files.md
  tidb-cloud/data-service-get-started.md
  tidb-cloud/data-service-manage-data-app.md
  tidb-cloud/data-service-manage-endpoint.md
  tidb-cloud/data-service-response-and-status-code.md
  tidb-cloud/tidb-cloud-release-notes.md
  tidb-cloud/use-chat2query-api.md
Labels: translation/no-need, size/L, area/tidb-cloud, for-cloud-release, approved, lgtm

#14357 revert "change compaction-guard-min-output-file-size to 1MB"
  releases/release-7.1.1.md
Labels: translation/from-docs-cn, size/XS, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.2

#14349 cloud: customize doc content for TiDB Cloud in v7.1
  TOC-tidb-cloud.md
  ddl-introduction.md
  information-schema/information-schema-tiflash-segments.md
  information-schema/information-schema-tiflash-tables.md
  sql-statements/sql-statement-load-data.md
  sql-statements/sql-statement-lock-tables-and-unlock-tables.md
  system-variables.md
  tidb-resource-control.md
Labels: requires-version-specific-changes, translation/no-need, needs-cherry-pick-master, size/M, area/tidb-cloud, needs-1-more-lgtm, approved, lgtm

#14363 cloud: sync release-7.1 Cloud docs to the latest ones
  develop/dev-guide-insert-data.md
  tidb-cloud/changefeed-replication.md
  tidb-cloud/changefeed-sink-to-tidb-cloud.md
  tidb-cloud/data-service-api-key.md
  tidb-cloud/data-service-app-config-files.md
  tidb-cloud/data-service-get-started.md
  tidb-cloud/data-service-manage-data-app.md
  tidb-cloud/data-service-manage-endpoint.md
  tidb-cloud/data-service-response-and-status-code.md
  tidb-cloud/export-data-from-tidb-cloud.md
  tidb-cloud/get-started-with-cli.md
  tidb-cloud/import-csv-files.md
  tidb-cloud/limited-sql-features.md
  tidb-cloud/manage-user-access.md
  tidb-cloud/migrate-data-into-tidb.md
  tidb-cloud/migrate-from-amazon-s3-or-gcs.md
  tidb-cloud/migrate-from-aurora-bulk-import.md
  tidb-cloud/migrate-from-mysql-using-data-migration.md
  tidb-cloud/migrate-from-op-tidb.md
  tidb-cloud/migrate-incremental-data-from-mysql.md
  tidb-cloud/release-notes-2021.md
  tidb-cloud/tidb-cloud-auditing.md
  tidb-cloud/tidb-cloud-console-auditing.md
  tidb-cloud/tidb-cloud-faq.md
  tidb-cloud/tidb-cloud-import-local-files.md
  tidb-cloud/tidb-cloud-migration-overview.md
  tidb-cloud/tidb-cloud-org-sso-authentication.md
  tidb-cloud/tidb-cloud-poc.md
  tidb-cloud/tidb-cloud-release-notes.md
  tidb-cloud/tidb-cloud-support.md
  tidb-cloud/troubleshoot-import-access-denied-error.md
  tidb-cloud/use-chat2query-api.md
Labels: translation/no-need, size/XXL, area/tidb-cloud, needs-1-more-lgtm, approved, lgtm

#14355 Partitioned Raft KV: add incompatibility with TiFlash
  partitioned-raft-kv.md
  releases/release-7.1.0.md
Labels: translation/from-docs-cn, size/XS, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.2

#14359 cloud: remove hyphen from the automatically generated endpoint name
  tidb-cloud/data-service-manage-endpoint.md
Labels: translation/no-need, size/XS, area/tidb-cloud, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm

#14374 cloud: Alter branch pic size
  tidb-cloud/branch-github-integration.md
Labels: translation/no-need, size/XS, area/tidb-cloud, approved, lgtm

#14321 update wording in multi-valued indexes
  basic-features.md
  choose-index.md
  releases/release-6.6.0.md
  releases/release-7.1.0.md
  sql-statements/sql-statement-create-index.md
  system-variables.md
Labels: translation/from-docs-cn, size/M, needs-cherry-pick-release-7.0, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.2

#14300 fix pd dashboard
  grafana-pd-dashboard.md
Labels: translation/from-docs-cn, size/XS, ONCALL, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.0, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.2

#14301 *: remove unnecessary character from sql examples
  character-set-and-collation.md
  partitioned-table.md
  sql-statements/sql-statement-create-binding.md
  sql-statements/sql-statement-create-table.md
  sql-statements/sql-statement-drop-binding.md
  sql-statements/sql-statement-show-bindings.md
  tidb-cloud/migrate-sql-shards.md
  transaction-overview.md
Labels: translation/from-docs-cn, size/L, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.0, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.2
