Repository pingcap/docs, pull requests merged in 2023-12, with the labels that each got.

#15372 update hardware-and-software-requirements for v7.5
  hardware-and-software-requirements.md
Labels: translation/from-docs-cn, needs-cherry-pick-master, size/L, needs-1-more-lgtm, approved, lgtm, v7.5

#15250 releases: add release notes for v7.5.0
  TOC.md
  releases/release-7.5.0.md
  releases/release-notes.md
  releases/release-timeline.md
Labels: translation/from-docs-cn, size/XL, for-release, approved, lgtm, v7.5, needs-cherry-pick-release-7.5

#15588 chore(.github): add workflow for JA full translation by gcp
  .github/workflows/ja-full-translation-google.yaml
Labels: translation/no-need, missing-translation-status, size/M, needs-1-more-lgtm, approved, lgtm

#15589 chore(.github): fix `ja-full-translation-google` workflow
  .github/workflows/ja-full-translation-google.yaml
Labels: translation/no-need, size/XS, needs-1-more-lgtm, approved, lgtm

#15363 Update SHOW STATUS docs
  TOC-tidb-cloud.md
  TOC.md
  sql-statements/sql-statement-flush-status.md
  sql-statements/sql-statement-show-status.md
  status-variables.md
  system-variables.md
Labels: translation/doing, size/L, needs-1-more-lgtm, approved, lgtm

#15443 Update keywords
  keywords.md
  scripts/check-keywords.sh
Labels: translation/done, size/L, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.5

#15590 update serverless connect steps
  develop/dev-guide-build-cluster-in-cloud.md
  develop/dev-guide-gui-datagrip.md
  develop/dev-guide-gui-dbeaver.md
  develop/dev-guide-gui-mysql-workbench.md
  develop/dev-guide-gui-navicat.md
  develop/dev-guide-gui-vscode-sqltools.md
  develop/dev-guide-sample-application-aws-lambda.md
  develop/dev-guide-sample-application-golang-gorm.md
  develop/dev-guide-sample-application-golang-sql-driver.md
  develop/dev-guide-sample-application-java-hibernate.md
  develop/dev-guide-sample-application-java-jdbc.md
  develop/dev-guide-sample-application-java-mybatis.md
  develop/dev-guide-sample-application-java-spring-boot.md
  develop/dev-guide-sample-application-nextjs.md
  develop/dev-guide-sample-application-nodejs-mysql2.md
  develop/dev-guide-sample-application-nodejs-mysqljs.md
  develop/dev-guide-sample-application-nodejs-prisma.md
  develop/dev-guide-sample-application-nodejs-sequelize.md
  develop/dev-guide-sample-application-nodejs-typeorm.md
  develop/dev-guide-sample-application-python-django.md
  develop/dev-guide-sample-application-python-mysql-connector.md
  develop/dev-guide-sample-application-python-mysqlclient.md
  develop/dev-guide-sample-application-python-peewee.md
  develop/dev-guide-sample-application-python-pymysql.md
  develop/dev-guide-sample-application-python-sqlalchemy.md
  develop/dev-guide-sample-application-ruby-mysql2.md
  develop/dev-guide-sample-application-ruby-rails.md
  tidb-cloud/branch-manage.md
  tidb-cloud/connect-via-standard-connection-serverless.md
  tidb-cloud/import-with-mysql-cli.md
  tidb-cloud/migrate-from-oracle-using-aws-dms.md
  tidb-cloud/secure-connections-to-serverless-clusters.md
Labels: translation/no-need, size/XL, area/develop, for-cloud-release, approved, lgtm

#15598 Update timeout for tcds
  tidb-cloud/data-service-app-config-files.md
Labels: translation/no-need, first-time-contributor, size/XS, area/tidb-cloud, for-cloud-release, approved, lgtm

#15584 cloud: update the v2/chat2data endpoint
  tidb-cloud/use-chat2query-api.md
Labels: translation/no-need, size/S, area/tidb-cloud, for-cloud-release, needs-1-more-lgtm, approved, lgtm

#15597 cloud: add release notes for 20231205
  tidb-cloud/tidb-cloud-release-notes.md
Labels: translation/no-need, size/S, area/tidb-cloud, approved, lgtm

#6728 tidb-functions: add info about special start_key/end_key values
  functions-and-operators/tidb-functions.md
Labels: translation/welcome, size/M, area/sql-infra, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.5

#15561 resource_control: update resource control about background example
  releases/release-7.4.0.md
  system-variables.md
  tidb-resource-control.md
Labels: translation/from-docs-cn, size/M, approved, lgtm, v7.4, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5

#15587 update doc of `require_secure_transport`
  system-variables.md
Labels: translation/from-docs-cn, size/XS, needs-1-more-lgtm, approved, lgtm

#15568 cdc: add description about canal-json content-compatible
  ticdc/ticdc-canal-json.md
Labels: translation/from-docs-cn, size/XS, area/ticdc, needs-cherry-pick-release-6.5, needs-1-more-lgtm, approved, lgtm

#15608 flashback: flashback cluster support tso
  TOC-tidb-cloud.md
  TOC.md
  basic-features.md
  faq/backup-and-restore-faq.md
  releases/release-6.4.0.md
  releases/release-6.5.0.md
  sql-statements/sql-statement-flashback-cluster.md
  system-variables.md
  tikv-control.md
Labels: translation/from-docs-cn, needs-cherry-pick-master, size/L, needs-1-more-lgtm, approved, lgtm

#15576 v6.5.6: add release notes
  TOC.md
  releases/release-6.5.6.md
  releases/release-7.1.2.md
  releases/release-notes.md
  releases/release-timeline.md
Labels: translation/from-docs-cn, size/L, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.3, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5

#15619 Add cdc redo configuration
  ticdc/ticdc-changefeed-config.md
  ticdc/ticdc-open-api-v2.md
Labels: translation/from-docs-cn, size/XS, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.5

#15631 Update the introduced info for tidb_opt_enable_hash_join
  optimizer-hints.md
  releases/release-7.4.0.md
  system-variables.md
Labels: translation/from-docs-cn, size/S, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5

#15636 fix redundant quotation marks
  br/br-pitr-guide.md
Labels: translation/from-docs-cn, size/S, ONCALL, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.3, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5

#15647 fix typo
  system-variables.md
Labels: translation/doing, needs-cherry-pick-release-5.0, size/S, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, ONCALL, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-1-more-lgtm, approved, lgtm

#15654 fix version comment
  system-variables.md
Labels: translation/from-docs-cn, size/XS, ONCALL, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5

#15655 update the variable scope
  information-schema/information-schema-variables-info.md
Labels: translation/from-docs-cn, size/XS, ONCALL, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.3, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5

#15600 Table name typo fixed
  sql-non-prepared-plan-cache.md
Labels: translation/done, size/XS, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.3, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5

#15646 Update ddl-introduction.md
  ddl-introduction.md
Labels: translation/from-docs-cn, contribution, size/XS, ONCALL, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.3, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5

#15676 update: with wordpress connection panel
  tidb-cloud/dev-guide-wordpress.md
Labels: translation/no-need, size/XS, area/develop, area/tidb-cloud, needs-cherry-pick-release-7.1, approved, lgtm

#15666 tidb config doc: coprocessor request timeout
  releases/release-7.5.0.md
  tidb-configuration-file.md
Labels: translation/from-docs-cn, contribution, size/S, type/compatibility-or-feature-change, ONCALL, approved, lgtm, needs-cherry-pick-release-7.5

#15664 org sso: add a note about email configuration for IdP
  tidb-cloud/tidb-cloud-org-sso-authentication.md
Labels: translation/no-need, size/XS, area/tidb-cloud, for-cloud-release, needs-1-more-lgtm, approved, lgtm

#15632 Update tiflash-results-materialization.md
  tiflash/tiflash-results-materialization.md
Labels: translation/from-docs-cn, size/S, area/bigdata, ONCALL, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.3, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5

#15667 add doc for tidb_allow_tiflash_cop
  releases/release-7.3.0.md
  system-variables.md
Labels: translation/from-docs-cn, size/S, approved, lgtm, needs-cherry-pick-release-7.3, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5

#15242 sync-diff-inspector: add descriptions and examples of table routers
  sync-diff-inspector/route-diff.md
Labels: translation/done, size/L, approved, lgtm, needs-cherry-pick-release-7.5

#15592 update serverless connect steps
  develop/dev-guide-build-cluster-in-cloud.md
  develop/dev-guide-gui-datagrip.md
  develop/dev-guide-gui-dbeaver.md
  develop/dev-guide-gui-mysql-workbench.md
  develop/dev-guide-gui-navicat.md
  develop/dev-guide-gui-vscode-sqltools.md
  develop/dev-guide-sample-application-aws-lambda.md
  develop/dev-guide-sample-application-golang-gorm.md
  develop/dev-guide-sample-application-golang-sql-driver.md
  develop/dev-guide-sample-application-java-hibernate.md
  develop/dev-guide-sample-application-java-jdbc.md
  develop/dev-guide-sample-application-java-mybatis.md
  develop/dev-guide-sample-application-java-spring-boot.md
  develop/dev-guide-sample-application-nextjs.md
  develop/dev-guide-sample-application-nodejs-mysql2.md
  develop/dev-guide-sample-application-nodejs-mysqljs.md
  develop/dev-guide-sample-application-nodejs-prisma.md
  develop/dev-guide-sample-application-nodejs-sequelize.md
  develop/dev-guide-sample-application-nodejs-typeorm.md
  develop/dev-guide-sample-application-python-django.md
  develop/dev-guide-sample-application-python-mysql-connector.md
  develop/dev-guide-sample-application-python-mysqlclient.md
  develop/dev-guide-sample-application-python-peewee.md
  develop/dev-guide-sample-application-python-pymysql.md
  develop/dev-guide-sample-application-python-sqlalchemy.md
  develop/dev-guide-sample-application-ruby-mysql2.md
  develop/dev-guide-sample-application-ruby-rails.md
Labels: translation/from-docs-cn, size/L, area/develop, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.3, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5

#15704 cloud migration: add a limitation to migrating data using AWS DMS
  tidb-cloud/migrate-from-mysql-using-aws-dms.md
Labels: type/enhancement, translation/no-need, size/XS, area/tidb-cloud, needs-1-more-lgtm, approved, lgtm

#15700 ticdc: fix changefeed config doc
  ticdc/ticdc-changefeed-config.md
Labels: translation/from-docs-cn, size/S, needs-1-more-lgtm, approved, lgtm

#15701 br: restore json type
  data-type-json.md
Labels: type/enhancement, translation/from-docs-cn, size/XS, area/br, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.3, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5

#15695 feature doc template: update experimental feature description
  resources/doc-templates/template-new-feature.md
Labels: translation/from-docs-cn, size/XS, needs-1-more-lgtm, approved, lgtm

#15662 dm: optimize query status doc
  dm/dm-query-status.md
Labels: translation/doing, size/L, ONCALL, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.3, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5

#15721 dm: add new openapi config about import_mode
  dm/dm-open-api.md
Labels: translation/from-docs-cn, approved, lgtm, needs-cherry-pick-release-7.5

#15723 Update dm-open-api.md
  dm/dm-open-api.md
Labels: translation/done, contribution, size/S, approved, lgtm, needs-cherry-pick-release-7.5

#15725 use code format in basic features
  basic-features.md
Labels: translation/from-docs-cn, size/XS, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.3, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5

#15703 load data: update the notes about committing rows
  sql-statements/sql-statement-load-data.md
Labels: translation/from-docs-cn, size/S, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.3, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5

#15720 grafana: supply the explanation on the metrics of Flow-Control in TiKV.
  grafana-tikv-dashboard.md
  media/tikv-dashboard-flow-control.png
Labels: translation/from-docs-cn, size/S, ONCALL, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.3, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5

#15735 update the error message of OOM
  troubleshoot-tidb-oom.md
Labels: translation/from-docs-cn, size/XS, ONCALL, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.3, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5

#15585 v7.1.2: update doc of `require_secure_transport`
  system-variables.md
Labels: translation/from-docs-cn, size/XS, needs-1-more-lgtm, approved, lgtm

#15764 Update release-7.1.2.md
  releases/release-7.1.2.md
Labels: translation/from-docs-cn, size/XS, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.3, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5

#15765 tikv: update the screenshot of tikv-dashboard-flow-control.
  grafana-tikv-dashboard.md
  media/tikv-dashboard-flow-control.png
Labels: translation/from-docs-cn, size/XS, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.3, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5

#15736 update the foreign key feature description
  foreign-key.md
Labels: translation/done, size/XS, area/sql-infra, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.3, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5

#15748 Add bit reverse example to dev-guide-unique-serial-number-generation
  develop/dev-guide-unique-serial-number-generation.md
Labels: type/enhancement, contribution, translation/welcome, size/XS, area/develop, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.3, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5, 2024–tidb-docs-dash

#15787 DXF: add a limitation that adding indexes to columns of `TIMESTAMP` data type via the DXF is not supported
  mysql-schema.md
  tidb-distributed-execution-framework.md
Labels: translation/from-docs-cn, contribution, size/XS, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.3, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5

#15168 Explain `tidb_max_tiflash_threads` default value `-1` means
  system-variables.md
Labels: translation/welcome, size/XS, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.3, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5, 2024-tidb-docs-dash

#15792 Update tidb-lightning-physical-import-mode.md
  tidb-lightning/tidb-lightning-physical-import-mode.md
Labels: translation/from-docs-cn, contribution, size/XS, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.3, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5

#15602 Add/clarify SQL length limits
  dashboard/dashboard-slow-query.md
  information-schema/information-schema-slow-query.md
  system-variables.md
Labels: translation/welcome, size/S, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.5, 2024-tidb-docs-dash

#14578 cloud: support managing SQL users using the console
  tidb-cloud/configure-sql-users.md
  tidb-cloud/tidb-cloud-auditing.md
  tidb-cloud/tidb-cloud-org-sso-authentication.md
Labels: translation/no-need, size/L, area/tidb-cloud, for-cloud-release, needs-1-more-lgtm, approved, lgtm

#15811 Update release-6.5.4.md
  releases/release-6.5.4.md
Labels: translation/from-docs-cn, contribution, size/XS, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.3, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5

#13840 stats: clarify configuration persistence of analyze statement
  statistics.md
Labels: translation/welcome, size/XS, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.3, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5, 2024-tidb-docs-dash

#15808 add screenshot for data service GPTs
  media/tidb-cloud/data-service/GPTs1.png
  media/tidb-cloud/data-service/GPTs2.png
  tidb-cloud/data-service-manage-data-app.md
Labels: translation/no-need, first-time-contributor, size/S, area/tidb-cloud, approved, lgtm

#15763 cdc: change the default value of case_sensitive in v6.5.6 and v7.1.3,…
  ticdc/ticdc-canal-json.md
  ticdc/ticdc-changefeed-config.md
  ticdc/ticdc-open-api-v2.md
Labels: translation/from-docs-cn, size/M, needs-1-more-lgtm, approved, lgtm

#15601 Add missing explain formats
  sql-statements/sql-statement-explain.md
Labels: translation/doing, size/S, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.3, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5

#15824 ticdc: fix tiup cmd, change `tiup ctl:v<CLUSTER_VERSION> cdc` to `tiup cdc:v<CLUSTER_VERSION> cli`
  migrate-from-tidb-to-mysql.md
  replicate-data-to-kafka.md
  ticdc/deploy-ticdc.md
  ticdc/integrate-confluent-using-ticdc.md
  ticdc/ticdc-changefeed-overview.md
Labels: translation/from-docs-cn, contribution, size/S, ONCALL, area/ticdc, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.3, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5

#15730 fix(ci): max list depth when gen pdf
  scripts/generate_pdf.sh
  templates/deeplist.tex
Labels: translation/doing, size/S, needs-1-more-lgtm, approved, lgtm

#15674 add 7.1.3 release notes
  TOC.md
  releases/release-7.1.3.md
  releases/release-notes.md
  releases/release-timeline.md
Labels: translation/from-docs-cn, size/L, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.3, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5

#15809 bump version for 7.1.3
  br/backup-and-restore-use-cases.md
  develop/dev-guide-sample-application-nodejs-mysql2.md
  develop/dev-guide-sample-application-nodejs-mysqljs.md
  develop/dev-guide-sample-application-nodejs-typeorm.md
  develop/dev-guide-sample-application-ruby-mysql2.md
  develop/dev-guide-sample-application-ruby-rails.md
  dm/maintain-dm-using-tiup.md
  dm/quick-start-create-task.md
  information-schema/information-schema-tidb-servers-info.md
  pd-control.md
  post-installation-check.md
  production-deployment-using-tiup.md
  quick-start-with-tidb.md
  scale-tidb-using-tiup.md
  ticdc/deploy-ticdc.md
  ticdc/ticdc-changefeed-overview.md
  ticdc/ticdc-open-api-v2.md
  tidb-binlog/get-started-with-tidb-binlog.md
  tidb-monitoring-api.md
  tiflash/create-tiflash-replicas.md
  tiup/tiup-cluster.md
  tiup/tiup-component-cluster-deploy.md
  tiup/tiup-component-cluster-patch.md
  tiup/tiup-component-cluster-upgrade.md
  tiup/tiup-component-dm-upgrade.md
  tiup/tiup-component-management.md
  tiup/tiup-mirror.md
  tiup/tiup-playground.md
  upgrade-tidb-using-tiup.md
Labels: translation/done, size/L, area/develop, needs-1-more-lgtm, approved, lgtm

#15843 system variable: restored an overidden description about `tidb_restricted_read_only`
  system-variables.md
Labels: translation/no-need, size/XS, ONCALL, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.3, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5

#15794 Add info about compatibility issues with Connector/J 8.0 with TiDB v7.5
  develop/dev-guide-choose-driver-or-orm.md
Labels: translation/welcome, size/XS, area/develop, approved, lgtm, 2024-tidb-docs-dash

#15611 tikv: recorrect the descriptions on the feature `region-split-size` part.
  releases/release-6.1.0.md
  tune-region-performance.md
Labels: translation/from-docs-cn, size/S, area/engine, ONCALL, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.3, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5

#15862 changefeed: add the info about configuring SQL mode
  releases/release-6.5.6.md
  releases/release-7.1.3.md
  ticdc/ticdc-changefeed-config.md
Labels: translation/from-docs-cn, size/XS, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5

#15555 Documented resuming changefeed from Failed state
  media/ticdc/ticdc-changefeed-state-transfer.png
  ticdc/ticdc-changefeed-overview.md
Labels: contribution, translation/welcome, size/XS, approved, lgtm, 2024-tidb-docs-dash

#15653 Cloud: Support Org SSO
  TOC-tidb-cloud.md
  tidb-cloud/tidb-cloud-org-sso-authentication.md
  tidb-cloud/tidb-cloud-sso-authentication.md
Labels: translation/no-need, size/S, area/tidb-cloud, for-cloud-release, needs-1-more-lgtm, approved, lgtm

#15873 explicitly declare the scope of runway queries
  tidb-resource-control.md
Labels: translation/from-docs-cn, size/XS, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.3, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5

#15872 recommend eligible deployments for resource control test
  tidb-resource-control.md
Labels: translation/from-docs-cn, size/XS, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5

#15884 cloud: add an alias for flashback cluster
  sql-statements/sql-statement-flashback-cluster.md
  tidb-cloud/limited-sql-features.md
Labels: translation/no-need, size/XS, area/tidb-cloud, needs-1-more-lgtm, approved, lgtm

#15669 Update OS support page
  hardware-and-software-requirements.md
Labels: translation/doing, size/S, needs-1-more-lgtm, approved, lgtm

#15866 Update use-tidb-to-read-tiflash.md
  tiflash/use-tidb-to-read-tiflash.md
Labels: translation/from-docs-cn, size/XS, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.3, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5

#15859 Removed unsupported Azure Blob storage via import into
  external-storage-uri.md
  sql-statements/sql-statement-import-into.md
  tidb-lightning/tidb-lightning-overview.md
  tidb-lightning/tidb-lightning-physical-import-mode.md
Labels: translation/from-docs-cn, contribution, size/S, approved, lgtm, needs-cherry-pick-release-7.3, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5

#14358 Update tikv-ctl bad-ssts output
  tikv-control.md
Labels: translation/welcome, size/XS, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.3, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5, 2024-tidb-docs-dash

#15894 contribution guide: add info about TiDB Docs Dash 2024
  CONTRIBUTING.md
Labels: translation/no-need, size/M, needs-1-more-lgtm, approved, lgtm

#15810 *: improve a batch of summary in metadata
  benchmark/benchmark-sysbench-v2.md
  benchmark/benchmark-sysbench-v3.md
  benchmark/benchmark-sysbench-v5-vs-v4.md
  benchmark/benchmark-sysbench-v5.1.0-vs-v5.0.2.md
  benchmark/benchmark-sysbench-v5.2.0-vs-v5.1.1.md
  benchmark/benchmark-sysbench-v5.3.0-vs-v5.2.2.md
  benchmark/benchmark-sysbench-v5.4.0-vs-v5.3.0.md
  benchmark/benchmark-sysbench-v6.0.0-vs-v5.4.0.md
  benchmark/benchmark-sysbench-v6.1.0-vs-v6.0.0.md
  benchmark/benchmark-sysbench-v6.2.0-vs-v6.1.0.md
  benchmark/benchmark-tidb-using-sysbench.md
  benchmark/benchmark-tidb-using-tpcc.md
  benchmark/benchmark-tpch.md
  benchmark/v3.0-performance-benchmarking-with-sysbench.md
  benchmark/v3.0-performance-benchmarking-with-tpcc.md
  benchmark/v5.0-performance-benchmarking-with-tpcc.md
  benchmark/v5.1-performance-benchmarking-with-tpcc.md
  benchmark/v5.2-performance-benchmarking-with-tpcc.md
  benchmark/v5.3-performance-benchmarking-with-tpcc.md
  benchmark/v5.4-performance-benchmarking-with-tpcc.md
  benchmark/v5.4-performance-benchmarking-with-tpch.md
  benchmark/v6.0-performance-benchmarking-with-tpcc.md
  benchmark/v6.0-performance-benchmarking-with-tpch.md
  benchmark/v6.1-performance-benchmarking-with-tpcc.md
  benchmark/v6.1-performance-benchmarking-with-tpch.md
  benchmark/v6.2-performance-benchmarking-with-tpcc.md
  benchmark/v6.2-performance-benchmarking-with-tpch.md
  best-practices/grafana-monitor-best-practices.md
  best-practices/haproxy-best-practices.md
  best-practices/high-concurrency-best-practices.md
  best-practices/java-app-best-practices.md
  best-practices/massive-regions-best-practices.md
  best-practices/pd-scheduling-best-practices.md
  best-practices/readonly-nodes.md
  best-practices/three-dc-local-read.md
  best-practices/three-nodes-hybrid-deployment.md
  best-practices/tidb-best-practices.md
  best-practices/uuid.md
Labels: translation/no-need, size/M, needs-1-more-lgtm, approved, lgtm

#15906 add summary for benchmark and best-practices
  benchmark/benchmark-sysbench-v2.md
  benchmark/benchmark-sysbench-v3.md
  benchmark/benchmark-sysbench-v5-vs-v4.md
  benchmark/benchmark-sysbench-v5.1.0-vs-v5.0.2.md
  benchmark/benchmark-sysbench-v5.2.0-vs-v5.1.1.md
  benchmark/benchmark-sysbench-v5.3.0-vs-v5.2.2.md
  benchmark/benchmark-sysbench-v5.4.0-vs-v5.3.0.md
  benchmark/benchmark-sysbench-v6.0.0-vs-v5.4.0.md
  benchmark/benchmark-sysbench-v6.1.0-vs-v6.0.0.md
  benchmark/benchmark-sysbench-v6.2.0-vs-v6.1.0.md
  benchmark/benchmark-tidb-using-sysbench.md
  benchmark/benchmark-tidb-using-tpcc.md
  benchmark/benchmark-tpch.md
  benchmark/v3.0-performance-benchmarking-with-sysbench.md
  benchmark/v3.0-performance-benchmarking-with-tpcc.md
  benchmark/v5.0-performance-benchmarking-with-tpcc.md
  benchmark/v5.1-performance-benchmarking-with-tpcc.md
  benchmark/v5.2-performance-benchmarking-with-tpcc.md
  benchmark/v5.3-performance-benchmarking-with-tpcc.md
  benchmark/v5.4-performance-benchmarking-with-tpcc.md
  benchmark/v5.4-performance-benchmarking-with-tpch.md
  benchmark/v6.0-performance-benchmarking-with-tpcc.md
  benchmark/v6.0-performance-benchmarking-with-tpch.md
  benchmark/v6.1-performance-benchmarking-with-tpcc.md
  benchmark/v6.1-performance-benchmarking-with-tpch.md
  benchmark/v6.2-performance-benchmarking-with-tpcc.md
  benchmark/v6.2-performance-benchmarking-with-tpch.md
  best-practices/grafana-monitor-best-practices.md
  best-practices/haproxy-best-practices.md
  best-practices/high-concurrency-best-practices.md
  best-practices/java-app-best-practices.md
  best-practices/massive-regions-best-practices.md
  best-practices/pd-scheduling-best-practices.md
  best-practices/readonly-nodes.md
  best-practices/three-dc-local-read.md
  best-practices/three-nodes-hybrid-deployment.md
  best-practices/tidb-best-practices.md
  best-practices/uuid.md
Labels: translation/no-need, size/M, needs-1-more-lgtm, approved, lgtm

#15908 upgrade tidb: check DDL and backup status before checking cluster health status
  upgrade-tidb-using-tiup.md
Labels: translation/from-docs-cn, size/S, ONCALL, area/deploy-upgrade-maintain, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.3, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5

#15793 improve serverless dms doc
  TOC-tidb-cloud.md
  media/tidb-cloud/aws-dms-tidb-cloud/aws-dms-connect-configure-endpoint.png
  media/tidb-cloud/aws-dms-tidb-cloud/aws-dms-connect-connectivity-security.png
  media/tidb-cloud/aws-dms-tidb-cloud/aws-dms-connect-create-endpoint.png
  media/tidb-cloud/aws-dms-tidb-cloud/aws-dms-connect-replication-instances.png
  tidb-cloud/migrate-from-mysql-using-aws-dms.md
  tidb-cloud/migrate-from-oracle-using-aws-dms.md
  tidb-cloud/secure-connections-to-serverless-clusters.md
  tidb-cloud/tidb-cloud-connect-aws-dms.md
Labels: translation/no-need, size/L, area/tidb-cloud, approved, lgtm

#15885 Update use-tidb-to-read-tiflash.md
  tiflash/use-tidb-to-read-tiflash.md
Labels: missing-translation-status, size/XS, approved, lgtm
