Repository pingcap/docs, pull requests merged in 2023-03, with the labels that each got.

#12461 modify size cluster documents and performance data
  tidb-cloud/size-your-cluster.md
  tidb-cloud/tidb-cloud-performance-reference.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/XL, area/tidb-cloud

#12672 TiFlash: Revise the pushdown information
  functions-and-operators/expressions-pushed-down.md
  functions-and-operators/window-functions.md
  tiflash/tiflash-supported-pushdown-calculations.md
Labels: type/enhancement, translation/done, status/can-merge, status/LGT1, status/LGT2, size/L, area/bigdata, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6

#12705 config: add cdc configs to server_configs
  config-templates/complex-cdc.yaml
Labels: type/enhancement, translation/done, status/can-merge, status/LGT2, size/XS, ONCALL, area/ticdc, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6

#12701 changefeed: updated prerequisites for sink to mysql
  tidb-cloud/changefeed-sink-to-apache-kafka.md
  tidb-cloud/changefeed-sink-to-mysql.md
Labels: type/enhancement, status/can-merge, status/LGT1, translation/no-need, size/S, area/tidb-cloud

#12694 Add ddl introduction docs
  TOC.md
  ddl-introduction.md
  faq/sql-faq.md
  media/ddl-owner.png
  sql-statements/sql-statement-admin-cancel-ddl.md
  sql-statements/sql-statement-admin-show-ddl.md
  tidb-troubleshooting-map.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XL, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6

#12707 fix a dynamic config
  dynamic-config.md
Labels: type/enhancement, translation/done, status/can-merge, status/LGT2, size/XS, area/engine, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.4, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6

#12724 unify the format of system variable titles
  system-variables.md
Labels: status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/XXL, needs-cherry-pick-release-6.6

#12727 v6.5: unify the format of system variable titles
  system-variables.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/XXL

#12728 ticdc: fix the description of cdc_resolvedts_high_delay
  ticdc/ticdc-alert-rules.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, needs-cherry-pick-release-5.0, size/XS, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, area/ticdc, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6

#12731 Fix variable title format error
  system-variables.md
Labels: status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/S, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6

#12730 Replace `v6.6.6` with `v6.6.0`
  explain-mpp.md
Labels: type/bug-fix, status/can-merge, status/LGT2, translation/no-need, size/XS, needs-cherry-pick-release-6.6

#12743 system-variables: remove `` from variable section titles to fix the search link issues
  system-variables.md
Labels: status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/XXL, needs-cherry-pick-release-6.6

#12744 v6.5: remove `` from variable section titles to fix the search link issues
  system-variables.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/XXL

#12747 tiflash: fix a rendering error
  tiflash/tiflash-supported-pushdown-calculations.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, area/bigdata, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6

#12648 tikv config: align with Chinese
  tikv-configuration-file.md
Labels: type/enhancement, requires-version-specific-changes, status/can-merge, needs-cherry-pick-release-3.0, status/LGT2, translation/no-need, needs-cherry-pick-release-4.0, needs-cherry-pick-release-5.0, size/S, area/engine, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6

#12370 ticdc-sink-to-mysql: add note about path
  ticdc/ticdc-sink-to-mysql.md
Labels: type/enhancement, translation/doing, status/can-merge, status/LGT1, status/LGT2, size/XS, area/ticdc, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.4, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6

#12750 grafana-tidb-dashboard: update DDL related metrics
  grafana-tidb-dashboard.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT1, status/LGT2, needs-cherry-pick-release-5.0, size/XS, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, ONCALL, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6

#12765 Add description about `SUPER` privilege
  privilege-management.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT1, status/LGT2, size/XS, ONCALL, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6

#11974 update the Forgot root password
  user-account-management.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT1, status/LGT2, area/security, require-LGT1, size/M, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.4, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6

#12783 sql: update incorrect mysql compatibility info
  sql-statements/sql-statement-update.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT1, ONCALL

#12785 syncer: add a missing alias
  syncer-overview.md
Labels: type/bug-fix, status/can-merge, status/LGT1, translation/no-need

#12237 sql-faq: add missing DELAYED priority
  faq/sql-faq.md
Labels: type/enhancement, translation/doing, status/can-merge, status/LGT2, size/S, area/sql-infra, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.4, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6

#11894 partitioning: change formatting
  partition-pruning.md
  partitioned-table.md
Labels: translation/doing, status/can-merge, status/LGT1, status/LGT2, size/S, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6

#12154 lightning: clarify backends and import modes
  tidb-lightning/tidb-lightning-logical-import-mode.md
  tidb-lightning/tidb-lightning-overview.md
  tidb-lightning/tidb-lightning-physical-import-mode-usage.md
  tidb-lightning/tidb-lightning-physical-import-mode.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/S, area/tidb-lightning, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.4, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6

#12137 dm: support ignore online-ddl in precheck
  dm/dm-precheck.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XS, area/dm, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.4, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6

#12793 cloud: add release notes
  tidb-cloud/tidb-cloud-release-notes.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/XS, area/tidb-cloud

#12777 sql: add sql statements and document fields of TABLE_STORAGE_STATS
  TOC.md
  information-schema/information-schema-cluster-info.md
  information-schema/information-schema-table-storage-stats.md
  sql-statements/sql-statement-admin-cleanup.md
  sql-statements/sql-statement-admin-recover.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT1, status/LGT2, needs-cherry-pick-release-5.0, size/L, area/sql-infra, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, ONCALL, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6

#12819 cloud: support disabling auto backup
  tidb-cloud/backup-and-restore.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/S, area/tidb-cloud, for-cloud-release

#12820 resource_control: fix rfc link
  tidb-resource-control.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XS, needs-cherry-pick-release-6.6

#12808 Update jq usage on region check command
  pd-control.md
Labels: type/enhancement, translation/done, status/can-merge, status/LGT2, first-time-contributor, size/XS, area/scheduling, ONCALL, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6

#12715 Add stale read tikv configuration documentation
  as-of-timestamp.md
  stale-read.md
  tidb-read-staleness.md
  tikv-configuration-file.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/S, needs-cherry-pick-release-6.5, v7.0

#12818 sql-statements: add doc of lock tables and unlock tables
  TOC.md
  basic-features.md
  sql-statements/sql-statement-lock-tables-and-unlock-tables.md
  tidb-configuration-file.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, needs-cherry-pick-release-5.0, size/L, area/sql-infra, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, ONCALL, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6

#12825 tidb: add --proxy-protocol-fallbackable
  command-line-flags-for-tidb-configuration.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XS, needs-cherry-pick-release-6.5

#12828 tikv: update value range of max-thread-count
  tikv-configuration-file.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT2, size/XS, needs-cherry-pick-release-6.5

#12809 add v6.5.1 release notes
  TOC.md
  releases/release-6.5.1.md
  releases/release-notes.md
  releases/release-timeline.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/L, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6

#12822 v6.5: bump up version for v6.5.1
  br/backup-and-restore-use-cases.md
  dm/maintain-dm-using-tiup.md
  dm/quick-start-create-task.md
  pd-control.md
  production-deployment-using-tiup.md
  quick-start-with-tidb.md
  scale-tidb-using-tiup.md
  ticdc/deploy-ticdc.md
  ticdc/ticdc-changefeed-config.md
  ticdc/ticdc-changefeed-overview.md
  ticdc/ticdc-manage-changefeed.md
  ticdc/ticdc-sink-to-cloud-storage.md
  tidb-binlog/get-started-with-tidb-binlog.md
  tidb-cloud/export-data-from-tidb-cloud.md
  tiflash/create-tiflash-replicas.md
  tiup/tiup-cluster.md
  tiup/tiup-component-cluster-deploy.md
  tiup/tiup-component-cluster-upgrade.md
  tiup/tiup-component-dm-upgrade.md
  tiup/tiup-component-management.md
  tiup/tiup-mirror.md
  tiup/tiup-playground.md
  upgrade-tidb-using-tiup.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/L

#12845 fix typo in 6.5.1 release notes
  releases/release-6.5.1.md
Labels: status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/XS

#12846 [Update] new version of JPA adaption
  develop/dev-guide-sample-application-spring-boot.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/L, ONCALL, area/develop, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.4, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6

#11687 update the format, command, and output of information schemas
  information-schema/client-errors-summary-by-host.md
  information-schema/client-errors-summary-by-user.md
  information-schema/client-errors-summary-global.md
  information-schema/information-schema-character-sets.md
  information-schema/information-schema-collation-character-set-applicability.md
  information-schema/information-schema-columns.md
  information-schema/information-schema-deadlocks.md
  information-schema/information-schema-metrics-tables.md
  information-schema/information-schema-partitions.md
  information-schema/information-schema-referential-constraints.md
  information-schema/information-schema-sequences.md
  information-schema/information-schema-session-variables.md
  information-schema/information-schema-slow-query.md
  information-schema/information-schema-table-storage-stats.md
  information-schema/information-schema-tidb-servers-info.md
  information-schema/information-schema-tidb-trx.md
  information-schema/information-schema-tiflash-replica.md
  information-schema/information-schema-tikv-region-peers.md
  information-schema/information-schema-tikv-store-status.md
  information-schema/information-schema-user-privileges.md
  information-schema/information-schema-views.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XXL, area/sql-infra, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6

#12880 tidb-ctl: fix decoder command
  troubleshoot-lock-conflicts.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XS, ONCALL, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6

#12884 conprof: fix version desc
  dashboard/continuous-profiling.md
Labels: type/bug-fix, translation/done, status/can-merge, status/LGT2, size/XS, ONCALL, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.4, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6

#12885 cloud: add release notes
  tidb-cloud/tidb-cloud-release-notes.md
Labels: status/can-merge, status/LGT1, missing-translation-status, size/S

#12892 Various formatting fixes
  dumpling-overview.md
  releases/release-5.0.0.md
Labels: type/bug-fix, translation/done, status/can-merge, status/LGT2, size/XS, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5

#12890 pd control: add service-gc-safepoint command
  pd-control.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/S, area/scheduling, ONCALL, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.4, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6

#11326 update description about dumpling privileges
  dumpling-overview.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT1, status/LGT2, size/XS, area/dumpling, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6

#12877 br: add a note about GC
  br/br-snapshot-manual.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, ONCALL, area/br, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6

#12879 br: remove an inaccurate prerequisite
  br/backup-and-restore-use-cases.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, status/LGT2, size/XS, ONCALL, area/br

#12905 update the copyright date to 2023
  templates/copyright.tex
Labels: translation/from-docs-cn, status/can-merge, needs-cherry-pick-release-3.0, status/LGT1, needs-cherry-pick-release-4.0, require-LGT1, needs-cherry-pick-release-5.0, size/XS, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.4, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6

#12917 fix typo mis-spelled as 'custer'
  migration-tools.md
  tidb-cloud/backup-and-restore.md
Labels: type/bug-fix, contribution, status/can-merge, status/LGT1, translation/no-need, require-LGT1, first-time-contributor, size/XS, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6

#12891 Update docs of `SHARD_ROW_ID_BITS`
  clustered-indexes.md
  shard-row-id-bits.md
  troubleshoot-hot-spot-issues.md
Labels: translation/doing, translation/from-docs-cn, status/can-merge, status/LGT2, size/M, area/sql-infra, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6

#12872 replace "data center" and "city" with "AZ" and "region"
  TOC.md
  media/multi-data-centers-in-one-city-deployment-sample.png
  media/three-data-centers-in-two-cities-deployment-01.png
  media/three-data-centers-in-two-cities-deployment-02.png
  media/three-data-centers-in-two-cities-deployment-03.png
  multi-data-centers-in-one-city-deployment.md
  three-data-centers-in-two-cities-deployment.md
  two-data-centers-in-one-city-deployment.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XL, area/scheduling, ONCALL, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.4, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6

#12935 functions-and-operators: Correct support for `SOUNDS LIKE`
  functions-and-operators/operators.md
  functions-and-operators/string-functions.md
Labels: type/bug-fix, translation/doing, status/can-merge, status/LGT2, needs-cherry-pick-release-5.0, size/XS, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.4, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6

#12871 pitr: compatibility between pitr and accelerated indexing
  faq/backup-and-restore-faq.md
  system-variables.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/S, area/br, v7.0

#12869 [TiKV] Enable log recycling by default.
  tikv-configuration-file.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/XS, v7.0

#12945 planner: plan cache support subquery
  sql-prepared-plan-cache.md
  system-variables.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/S, area/planner, type/compatibility-or-feature-change, v7.0

#12867 FastScan GA
  TOC-tidb-cloud.md
  TOC.md
  basic-features.md
  releases/release-6.2.0.md
  releases/release-6.3.0.md
  system-variables.md
  tiflash-620-upgrade-guide.md
  tiflash/use-fastscan.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/M, area/bigdata, v7.0

#12831 tiflash: support null-aware semi join push down to TiFlash
  system-variables.md
  tiflash/tiflash-supported-pushdown-calculations.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT2, size/XS, area/bigdata, v7.0

#12944 planner: add variable tidb_enable_inl_join_inner_multi_pattern
  system-variables.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/XS, area/planner, type/compatibility-or-feature-change, v7.0

#12874 planner: add a new doc for non-prepared plan cache
  TOC-tidb-cloud.md
  TOC.md
  latency-breakdown.md
  media/tidb-non-prepared-plan-cache-metrics.png
  sql-non-prepared-plan-cache.md
  sql-prepared-plan-cache.md
  system-variables.md
  tidb-cloud/tidb-cloud-sql-tuning-overview.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/L, area/planner, type/compatibility-or-feature-change, v7.0

#12961 ddl: update fast ddl compatibility description
  system-variables.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/XS, area/sql-infra, v7.0

#12873 planner: add the doc for hint
  optimizer-hints.md
  system-variables.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/M, area/planner, v7.0

#12965 fix the typo in copyright.tex
  templates/copyright.tex
Labels: type/bug-fix, status/can-merge, needs-cherry-pick-release-3.0, status/LGT1, translation/no-need, needs-cherry-pick-release-4.0, require-LGT1, needs-cherry-pick-release-5.0, size/XS, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.4, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6

#12967 cloud: adjust toc to align the limits of dedicated and serverless
  TOC-tidb-cloud.md
  tidb-cloud/limitations-and-quotas.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/S, ONCALL, area/tidb-cloud

#12314 sql-statement-alter-table: Beter example for schema dependency
  sql-statements/sql-statement-alter-table.md
Labels: type/bug-fix, translation/done, status/can-merge, status/LGT2, size/XS, area/sql-infra, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6

#12936 lightning: set compress-kv-pairs as experimental
  releases/release-6.6.0.md
  tidb-lightning/tidb-lightning-configuration.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XS, area/tidb-lightning

#12868 add TiFlash spill doc
  tiflash/tiflash-configuration.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/XS, type/compatibility-or-feature-change, area/bigdata, v7.0

#12962 *: rename tikv config server.snap-max-write-bytes-per-sec
  dynamic-config.md
  tiflash/create-tiflash-replicas.md
  tikv-configuration-file.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/XS, for-release, v7.0

#12711 cloud: support data service
  TOC-tidb-cloud.md
  tidb-cloud/data-service-api-key.md
  tidb-cloud/data-service-get-started.md
  tidb-cloud/data-service-manage-data-app.md
  tidb-cloud/data-service-manage-endpoint.md
  tidb-cloud/data-service-overview.md
  tidb-cloud/data-service-response-and-status-code.md
  tidb-cloud/explore-data-with-chat2query.md
  tidb-cloud/tidb-cloud-glossary.md
  tidb-cloud/use-chat2query-api.md
Labels: status/LGT1, translation/no-need, size/XXL, area/tidb-cloud, for-cloud-release

#12640 tidb cloud: support decreasing the node size to scale in a Dedicated Tier
  tidb-cloud/release-notes-2022.md
  tidb-cloud/scale-tidb-cluster.md
  tidb-cloud/tidb-cloud-dm-precheck-and-troubleshooting.md
  tidb-cloud/tidb-cloud-release-notes.md
Labels: status/can-merge, status/LGT2, translation/no-need, size/M, area/tidb-cloud, for-cloud-release

#12690 Add doc for event page
  TOC-tidb-cloud.md
  tidb-cloud/serverless-tier-limitations.md
  tidb-cloud/tidb-cloud-events.md
Labels: status/can-merge, status/LGT2, translation/no-need, size/M, area/tidb-cloud, for-cloud-release

#12878 cloud: suport GCP Tokyo region for data migration
  tidb-cloud/migrate-from-mysql-using-data-migration.md
Labels: contribution, status/can-merge, status/LGT2, translation/no-need, first-time-contributor, size/M, area/tidb-cloud, for-cloud-release

#12985 resource_control: fix resource group rfc link
  tidb-resource-control.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XS, needs-cherry-pick-release-6.6, needs-cherry-pick-release-7.0

#12934 *: add a note to the `tidb_rc_read_check_ts` system variable
  system-variables.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XS, type/compatibility-or-feature-change, v7.0

#12948 lightning: add add-index-by-sql
  tidb-lightning/tidb-lightning-configuration.md
  tidb-lightning/tidb-lightning-logical-import-mode-usage.md
  tidb-lightning/tidb-lightning-physical-import-mode.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/S, type/compatibility-or-feature-change, area/tidb-lightning, v7.0

#12921 ticdc: add open api v2 doc
  TOC.md
  ticdc/ticdc-open-api-v2.md
  ticdc/ticdc-open-api.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XXL, area/ticdc, v7.0

#12938 ticdc: add index design for cdc storage sink
  ticdc/ticdc-csv.md
  ticdc/ticdc-sink-to-cloud-storage.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/M, area/ticdc, v7.0

#12870 ticdc: update changefeed scheduler configs
  ticdc/ticdc-changefeed-config.md
  ticdc/ticdc-sink-to-kafka.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/S, type/compatibility-or-feature-change, area/ticdc, v7.0

#12947 sql infra: update system variable changes about enhanced lock waiting model
  releases/release-6.6.0.md
  system-variables.md
  troubleshoot-lock-conflicts.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/S, area/transaction, type/compatibility-or-feature-change, v7.0

#12984 cloud: remove mumbai from DM support
  tidb-cloud/migrate-from-mysql-using-data-migration.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/XS, area/tidb-cloud

#12964 Explain the third party means
  develop/dev-guide-third-party-support.md
  develop/dev-guide-third-party-tools-compatibility.md
Labels: status/can-merge, status/LGT2, translation/no-need, size/XS, ONCALL, area/develop, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.4, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6

#12949 Add TiFlash disaggregate architecture and S3 support
  TOC.md
  media/tiflash/tiflash-s3.png
  tiflash/tiflash-configuration.md
  tiflash/tiflash-disaggregated-and-s3.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/L, area/bigdata, v7.0

#12994 cloud changefeed: updated the number of changefeeds from 10 to 5
  tidb-cloud/changefeed-sink-to-apache-kafka.md
  tidb-cloud/changefeed-sink-to-mysql.md
Labels: status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/XS, area/tidb-cloud, for-cloud-release

#12939 TiFlash late materialization
  TOC-tidb-cloud.md
  TOC.md
  system-variables.md
  tiflash/tiflash-late-materialization.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/L, type/compatibility-or-feature-change, v7.0

#12826 [TiKV] Introduce `raft-engine.prefill-for-recycle` configuration.
  tikv-configuration-file.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/XS, v7.0

#12982 tiflash: add doc for tiflash spill to disk
  TOC-tidb-cloud.md
  TOC.md
  system-variables.md
  tiflash/tiflash-spill-disk.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/L, area/bigdata, v7.0

#11742 develop: Develop Guide Python Examples - English Edition
  TOC-tidb-cloud.md
  TOC.md
  develop/dev-guide-choose-driver-or-orm.md
  develop/dev-guide-delete-data.md
  develop/dev-guide-insert-data.md
  develop/dev-guide-optimistic-and-pessimistic-transaction.md
  develop/dev-guide-outdated-for-python-mysql-connector.md
  develop/dev-guide-outdated-for-sqlalchemy.md
  develop/dev-guide-sample-application-python.md
  develop/dev-guide-third-party-support.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/XXL, area/develop, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.4, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6

#12963 Partition: add key-partition document
  mysql-compatibility.md
  partitioned-table.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/L, v7.0

#12999 release-6.5.1: remove batch update support description for TiCDC
  releases/release-6.5.1.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XS, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6

#12231 system-variables: Link various resources related to MAX_EXECUTION_TIME
  system-variables.md
Labels: type/enhancement, translation/done, status/can-merge, status/LGT2, size/S, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.4, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6

#12980 cloud: Update monitor-built-in-alerting.md
  tidb-cloud/monitor-built-in-alerting.md
Labels: status/can-merge, status/LGT2, translation/no-need, size/S, area/tidb-cloud, for-cloud-release

#12946 add docs for derive topn from window
  TOC-tidb-cloud.md
  TOC.md
  blocklist-control-plan.md
  derive-topn-from-window.md
  system-variables.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/L, type/compatibility-or-feature-change, v7.0

#13014 Update tiflash-disaggregated-and-s3.md
  tiflash/tiflash-disaggregated-and-s3.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XS, area/bigdata, v7.0

#12866 resource_control: add set resource group and resource group hint
  TOC-tidb-cloud.md
  TOC.md
  functions-and-operators/information-functions.md
  information-schema/information-schema-resource-groups.md
  optimizer-hints.md
  pd-configuration-file.md
  sql-statements/sql-statement-alter-resource-group.md
  sql-statements/sql-statement-calibrate-resource.md
  sql-statements/sql-statement-create-resource-group.md
  sql-statements/sql-statement-drop-resource-group.md
  sql-statements/sql-statement-set-resource-group.md
  sql-statements/sql-statement-show-create-resource-group.md
  system-variables.md
  tidb-resource-control.md
  tikv-configuration-file.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XXL, area/sql-infra, type/compatibility-or-feature-change, v7.0

#13018 develop: fix typo for stale
  develop/dev-guide-use-stale-read.md
Labels: contribution, status/can-merge, status/LGT2, translation/no-need, first-time-contributor, size/XS, area/develop, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.4, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6

#13024 resource control: fix a link
  tidb-resource-control.md
Labels: status/can-merge, status/LGT1, translation/no-need, require-LGT1, area/sql-infra, ONCALL

#13000 update tikv pushdownlist
  blocklist-control-plan.md
  functions-and-operators/expressions-pushed-down.md
  functions-and-operators/operators.md
  releases/release-6.0.0-dmr.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT2, size/XL, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6

#13025 tiflash-spill-disk: make SQL code stacked
  tiflash/tiflash-spill-disk.md
Labels: translation/done, status/can-merge, status/LGT1, require-LGT1, size/S, area/bigdata

#13010 lightning: update the default value of add-index-by-sql to false
  tidb-lightning/tidb-lightning-configuration.md
  tidb-lightning/tidb-lightning-logical-import-mode-usage.md
  tidb-lightning/tidb-lightning-physical-import-mode-usage.md
  tidb-lightning/tidb-lightning-physical-import-mode.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/S, area/tidb-lightning, v7.0

#12959 lightning: add load data doc
  TOC-tidb-cloud.md
  TOC.md
  error-codes.md
  mysql-schema.md
  sql-statements/sql-statement-load-data.md
  sql-statements/sql-statement-operate-load-data-job.md
  sql-statements/sql-statement-show-load-data.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XL, area/tidb-lightning, v7.0

#12875 system variable: add tidb_load_based_replica_read_threshold
  system-variables.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/S, area/transaction, type/compatibility-or-feature-change, v7.0

#11385 Added REORGANIZE PARTITION as a new feature
  mysql-compatibility.md
  partitioned-table.md
Labels: translation/done, status/can-merge, status/LGT2, size/L, area/bigdata, v7.0

#13039 resource_groups: add description about default resource group
  information-schema/information-schema-resource-groups.md
  sql-statements/sql-statement-create-resource-group.md
  sql-statements/sql-statement-set-resource-group.md
  tidb-resource-control.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/M, area/sql-infra, v7.0

#13041 update tidb_dml_batch_size for load data
  system-variables.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XS, area/dm, v7.0

#13032 fix a table issue for PDF generation
  functions-and-operators/expressions-pushed-down.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/S, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6

#13029 add sysvar tidb_enable_plan_replayer_continuous_capture
  sql-plan-replayer.md
  system-variables.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/M, area/planner, v7.0

#13004 dm: add newly added lightning kv configurations
  dm/task-configuration-file-full.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/S, area/dm, for-release, v7.0

#13036 cloud: update the aliases in _index.md
  tidb-cloud/_index.md
  tidb-cloud/scale-tidb-cluster.md
  tidb-cloud/select-cluster-tier.md
  tidb-cloud/tidb-cloud-quickstart.md
  tidb-cloud/tidb-cloud-release-notes.md
Labels: type/bug-fix, status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/XS, area/tidb-cloud

#12966 Update tidb-cloud-dm-precheck-and-troubleshooting.md
  tidb-cloud/tidb-cloud-dm-precheck-and-troubleshooting.md
Labels: status/can-merge, status/LGT1, translation/no-need, first-time-contributor, size/XS, area/dm, area/tidb-cloud, for-cloud-release

#13040 cloud: support two new GCP regions for data migration
  tidb-cloud/migrate-from-mysql-using-data-migration.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/XS, area/tidb-cloud, for-cloud-release

#13003 Update third-party-monitoring-integrations.md
  tidb-cloud/monitor-datadog-integration.md
  tidb-cloud/monitor-prometheus-and-grafana-integration.md
  tidb-cloud/third-party-monitoring-integrations.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/S, area/tidb-cloud

#13037 cloud: Sink to TiDB Cloud
  TOC-tidb-cloud.md
  tidb-cloud/changefeed-overview.md
  tidb-cloud/changefeed-sink-to-tidb-cloud.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/L, area/tidb-cloud, for-cloud-release

#12993 TiDB Cloud supports CMEK encryption
  tidb-cloud/tidb-cloud-encrypt-cmek.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/L, area/tidb-cloud, for-cloud-release

#13053 resource control: change resource control to experimental
  system-variables.md
  tidb-resource-control.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/S, area/sql-infra, v7.0

#13046 metrics: update resource manager panel
  grafana-resource-control-dashboard.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/S, v7.0

#13057 *: update absolute links in learning path and others
  _index.md
  dashboard/dashboard-user.md
  develop/dev-guide-third-party-support.md
  dm/task-configuration-file-full.md
  migrate-large-mysql-shards-to-tidb.md
  migrate-small-mysql-shards-to-tidb.md
  ticdc/ticdc-changefeed-config.md
  tidb-lightning/tidb-lightning-configuration.md
  tiflash/tiflash-configuration.md
Labels: translation/doing, status/can-merge, status/LGT1, size/L, v7.0

#13050 cloud: update RCU description
  tidb-cloud/tidb-cloud-billing-ticdc-rcu.md
Labels: status/can-merge, status/LGT2, translation/no-need, size/S, area/tidb-cloud, for-cloud-release

#13058 update readme for 7.0
  README.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XS, v7.0

#13059 cdc add description about avro float incompatible change
  ticdc/ticdc-avro-protocol.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/XS, area/ticdc, needs-cherry-pick-release-7.0

#13048 cloud learning path: add back up and restore
  tidb-cloud/_index.md
Labels: type/enhancement, status/can-merge, status/LGT2, translation/no-need, size/S, area/tidb-cloud

#13028 cloud Data Service: add API key role, linked clusters, and update the endpoint response
  tidb-cloud/data-service-api-key.md
  tidb-cloud/data-service-get-started.md
  tidb-cloud/data-service-manage-data-app.md
  tidb-cloud/data-service-manage-endpoint.md
  tidb-cloud/data-service-overview.md
  tidb-cloud/data-service-response-and-status-code.md
  tidb-cloud/tidb-cloud-release-notes.md
  tidb-cloud/tidb-cloud-roadmap.md
  tidb-cloud/use-chat2query-api.md
Labels: status/can-merge, status/LGT2, translation/no-need, size/L, area/tidb-cloud, for-cloud-release

#13062 lightning: add note about experimental feature for sql-statement-load-data
  sql-statements/sql-statement-load-data.md
  sql-statements/sql-statement-operate-load-data-job.md
  sql-statements/sql-statement-show-load-data.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/S, area/tidb-lightning, v7.0, needs-cherry-pick-release-7.0

#12941 releases: add tidb v7.0.0 release notes
  TOC.md
  releases/release-7.0.0.md
  releases/release-notes.md
  releases/release-timeline.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/XL, for-release, v7.0, needs-cherry-pick-release-7.0

#13052 bump version to 7.0
  production-deployment-using-tiup.md
  scale-tidb-using-tiup.md
  tiup/tiup-cluster.md
  tiup/tiup-component-cluster-deploy.md
  tiup/tiup-component-management.md
  tiup/tiup-mirror.md
  tiup/tiup-playground.md
  upgrade-tidb-using-tiup.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/L, for-release, v7.0, needs-cherry-pick-release-7.0

#13045 Update the LICENSE
  LICENSE
  README.md
Labels: translation/done, status/can-merge, status/LGT1, require-LGT1, size/XXL, v7.0, needs-cherry-pick-release-7.0

#13054 bump version for tool in v7.0
  br/backup-and-restore-use-cases.md
  dm/quick-start-create-task.md
  pd-control.md
  quick-start-with-tidb.md
  ticdc/deploy-ticdc.md
  tidb-binlog/get-started-with-tidb-binlog.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/S, for-release, v7.0, needs-cherry-pick-release-7.0

#13047 *: update basic features for 7.0
  basic-features.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, area/general, require-LGT1, size/XL, v7.0, needs-cherry-pick-release-7.0

#13069 fix a link in br docs
  faq/backup-and-restore-faq.md
Labels: type/bug-fix, status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/XS, ONCALL, area/br

#13017 cloud: update the user privileges output for the root user
  information-schema/information-schema-user-privileges.md
Labels: status/can-merge, status/LGT1, translation/no-need, needs-cherry-pick-master, size/M, area/tidb-cloud

#13038 import: improve file naming
  tidb-cloud/naming-conventions-for-data-import.md
Labels: type/enhancement, status/can-merge, status/LGT1, translation/no-need, size/S, ONCALL, area/tidb-cloud

#13061 [Update] tomcat-jdbc version update
  best-practices/java-app-best-practices.md
  develop/dev-guide-connection-parameters.md
Labels: status/can-merge, status/LGT2, translation/no-need, size/XS, ONCALL, area/develop, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.4, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6, needs-cherry-pick-release-7.0

#13079 migration tools: remove duplicate upstream
  migration-tools.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XS, ONCALL, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6, needs-cherry-pick-release-7.0
