Repository pingcap/docs, pull requests merged in 2023-10, with the labels that each got.

#14841 add doc for tiflash resource control
  releases/release-7.2.0.md
  sql-statements/sql-statement-calibrate-resource.md
  system-variables.md
  tidb-resource-control.md
  tiflash/tiflash-configuration.md
  tiflash/tiflash-pipeline-model.md
Labels: translation/from-docs-cn, size/L, approved, lgtm, v7.4

#14919 docs: add --with-sys-table detail description
  br/br-snapshot-guide.md
  br/br-snapshot-manual.md
Labels: translation/from-docs-cn, size/S, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.2, needs-cherry-pick-release-7.3

#14721 *: add doc for `tikv_client_read_timeout` system variable
  system-variables.md
Labels: translation/from-docs-cn, size/S, type/compatibility-or-feature-change, approved, lgtm, v7.4

#14948 add example in branching doc
  tidb-cloud/branch-github-integration.md
Labels: translation/no-need, size/XS, area/tidb-cloud, approved, lgtm

#14905 sysvar: add system variable `tidb_opt_enable_hash_join`
  optimizer-hints.md
  system-variables.md
Labels: translation/done, contribution, first-time-contributor, size/S, type/compatibility-or-feature-change, approved, lgtm, v7.4

#14940 cdc: add docs about the claim check.
  ticdc/ticdc-changefeed-config.md
  ticdc/ticdc-sink-to-kafka.md
Labels: translation/from-docs-cn, size/L, type/compatibility-or-feature-change, needs-1-more-lgtm, approved, lgtm, v7.4

#14939 *: refine statements doc
  dashboard/dashboard-statement-list.md
  media/dashboard/dashboard-statement-other-row.png
  statement-summary-tables.md
Labels: type/enhancement, translation/from-docs-cn, size/S, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.2, needs-cherry-pick-release-7.3, needs-cherry-pick-release-7.4

#14966 sql: refine description about compatibility with msql
  constraints.md
Labels: translation/from-docs-cn, contribution, size/XS, ONCALL, needs-cherry-pick-release-6.5, needs-1-more-lgtm, approved, lgtm

#14906 doc: add tidb rollup syntax
  TOC-tidb-cloud.md
  TOC.md
  explain-aggregation.md
  functions-and-operators/aggregate-group-by-functions.md
  functions-and-operators/group-by-modifier.md
  mysql-compatibility.md
  sql-statements/sql-statement-select.md
Labels: translation/from-docs-cn, size/L, needs-1-more-lgtm, approved, lgtm, v7.4

#14885 add doc for tiflash query level spill
  system-variables.md
  tiflash/tiflash-spill-disk.md
Labels: translation/from-docs-cn, size/L, needs-1-more-lgtm, approved, lgtm, v7.4

#14880 tiflash: add descriptions for some conf items under [flash] section
  tiflash/tiflash-configuration.md
Labels: translation/from-docs-cn, size/XS, area/bigdata, approved, lgtm, v7.4

#14859 Remove experimental note of tiflash disaggregated arch
  tiflash/tiflash-disaggregated-and-s3.md
Labels: translation/from-docs-cn, size/S, area/bigdata, approved, lgtm, v7.4

#14972 roadmap: add v7.4.0 release notes
  tidb-roadmap.md
Labels: translation/from-docs-cn, size/XS, needs-1-more-lgtm, approved, lgtm

#14640 Support MEMBER OF function pushdown to TiKV
  functions-and-operators/expressions-pushed-down.md
Labels: translation/from-docs-cn, size/XS, approved, lgtm, v7.4

#14973 Revert "roadmap: add v7.4.0 release notes"
  tidb-roadmap.md
Labels: contribution, translation/no-need, size/XS, approved, lgtm

#14975 hardware-and-software-requirements: clarify UOS name
  hardware-and-software-requirements.md
Labels: translation/from-docs-cn, size/XS, ONCALL, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.2, needs-cherry-pick-release-7.3

#14796 tidb: add a new system variable `tidb_service_scope`
  system-variables.md
  tidb-distributed-execution-framework.md
Labels: translation/from-docs-cn, first-time-contributor, size/M, type/compatibility-or-feature-change, approved, lgtm, v7.4

#14844 dumpling: add csv line terminator option
  dumpling-overview.md
Labels: translation/from-docs-cn, size/XS, type/compatibility-or-feature-change, area/dumpling, approved, lgtm, v7.4

#14945 resource_control: fix resource control limitation
  tidb-resource-control.md
Labels: translation/from-docs-cn, size/XS, approved, lgtm, v7.4

#14984 fix PDF build failure: escape special characters
  dumpling-overview.md
Labels: type/bug-fix, translation/from-docs-cn, size/XS, needs-1-more-lgtm, approved, lgtm

#13167 Added REMOVE PARTITIONING and ALTER TABLE t PARTITION BY
  partitioned-table.md
Labels: translation/done, status/LGT1, size/M, area/sql-infra, approved, lgtm, v7.4

#14982 cdc: update topic expression description
  ticdc/ticdc-sink-to-kafka.md
Labels: translation/from-docs-cn, size/XS, area/ticdc, needs-1-more-lgtm, approved, lgtm, v7.4

#14985 *: add doc for system variable tidb_schema_version_cache_limit
  system-variables.md
Labels: translation/from-docs-cn, size/S, type/compatibility-or-feature-change, approved, lgtm

#14941 Update lock stats docs
  privilege-management.md
  sql-statements/sql-statement-lock-stats.md
  sql-statements/sql-statement-show-stats-locked.md
  sql-statements/sql-statement-unlock-stats.md
  statistics.md
Labels: translation/from-docs-cn, size/XL, needs-1-more-lgtm, approved, lgtm, v7.4

#14947 ticdc: add ddl replication documents
  TOC.md
  ticdc/ticdc-changefeed-config.md
  ticdc/ticdc-ddl.md
  ticdc/ticdc-filter.md
Labels: translation/from-docs-cn, size/L, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm

#14801 Add global sort related docs.
  TOC-tidb-cloud.md
  TOC.md
  media/dist-task/global-sort.jpeg
  system-variables.md
  tidb-global-sort.md
Labels: translation/doing, size/L, approved, lgtm, v7.4

#14988 Update changefeed-overview.md
  tidb-cloud/changefeed-overview.md
Labels: contribution, translation/no-need, first-time-contributor, size/XS, area/tidb-cloud, needs-1-more-lgtm, approved, lgtm

#14858 DTFile use V3 version as default
  tiflash-upgrade-guide.md
  tiflash/tiflash-configuration.md
Labels: translation/from-docs-cn, first-time-contributor, size/S, area/bigdata, for-release, approved, lgtm, v7.4

#14965 cdc: remove description about the enable-old-value
  ticdc/ticdc-avro-protocol.md
  ticdc/ticdc-changefeed-config.md
  ticdc/ticdc-csv.md
  ticdc/ticdc-faq.md
  ticdc/ticdc-manage-changefeed.md
  ticdc/ticdc-open-api-v2.md
  ticdc/ticdc-open-api.md
  ticdc/ticdc-open-protocol.md
  ticdc/ticdc-sink-to-kafka.md
  ticdc/troubleshoot-ticdc.md
Labels: translation/from-docs-cn, size/L, needs-1-more-lgtm, approved, lgtm

#14990 add experimental warning for lock/unlock stats
  sql-statements/sql-statement-lock-stats.md
  sql-statements/sql-statement-show-stats-locked.md
  sql-statements/sql-statement-unlock-stats.md
  statistics.md
Labels: translation/from-docs-cn, size/S, needs-1-more-lgtm, approved, lgtm, v7.4, needs-cherry-pick-release-7.4

#14989 ticdc : async exec ddl doc update
  ticdc/ticdc-ddl.md
Labels: translation/from-docs-cn, size/S, area/ticdc, for-release, needs-1-more-lgtm, approved, lgtm, v7.4, needs-cherry-pick-release-7.4

#14994 cloud: Update changefeed-overview.md
  tidb-cloud/changefeed-overview.md
Labels: contribution, translation/no-need, first-time-contributor, size/XS, area/tidb-cloud, needs-1-more-lgtm, approved, lgtm

#13776 feat: hide the non-full support level drivers/ORMs
  develop/dev-guide-third-party-support.md
Labels: translation/no-need, size/L, area/develop, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.2, needs-cherry-pick-release-7.3, needs-cherry-pick-release-7.4

#14998 tidb-lightning: fix strategy number
  tidb-lightning/tidb-lightning-physical-import-mode-usage.md
Labels: translation/from-docs-cn, size/XS, ONCALL, area/tidb-lightning, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm

#14981 docs: add dual region backup
  tidb-cloud/backup-and-restore.md
  tidb-cloud/pause-or-resume-tidb-cluster.md
  tidb-cloud/tidb-cloud-faq.md
  tidb-cloud/tidb-cloud-poc.md
  tidb-cloud/tidb-cloud-release-notes.md
Labels: contribution, translation/no-need, size/L, area/tidb-cloud, for-cloud-release, approved, lgtm

#15005 cloud: add release notes for 20231010
  tidb-cloud/tidb-cloud-release-notes.md
Labels: translation/no-need, size/S, area/tidb-cloud, for-cloud-release, approved, lgtm

#15011 Revert "docs: add dual region backup"
  tidb-cloud/backup-and-restore.md
  tidb-cloud/pause-or-resume-tidb-cluster.md
  tidb-cloud/tidb-cloud-faq.md
  tidb-cloud/tidb-cloud-poc.md
  tidb-cloud/tidb-cloud-release-notes.md
Labels: translation/no-need, size/L, area/tidb-cloud, for-cloud-release, needs-1-more-lgtm, approved, lgtm

#15006 learning path: update learning path for v7.4
  _index.md
Labels: translation/from-docs-cn, size/M, needs-1-more-lgtm, approved, lgtm, v7.4

#14918 add 7.4 in basic features
  basic-features.md
Labels: translation/from-docs-cn, size/XL, approved, lgtm, v7.4, needs-cherry-pick-release-7.4

#14907 develop: update peewee guide
  develop/dev-guide-choose-driver-or-orm.md
  develop/dev-guide-insert-data.md
  develop/dev-guide-sample-application-python-peewee.md
Labels: translation/from-docs-cn, size/XL, area/develop, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.2, needs-cherry-pick-release-7.3, needs-cherry-pick-release-7.4

#15020 Update Vercel integration picture
  media/tidb-cloud/vercel/integration-link-cluster-page.png
  media/tidb-cloud/vercel/integration-vercel-configuration-page.png
Labels: translation/no-need, first-time-contributor, area/tidb-cloud, for-cloud-release, needs-1-more-lgtm, approved, lgtm

#14920 import into: add doc for 7.4
  sql-statements/sql-statement-import-into.md
Labels: translation/from-docs-cn, size/M, needs-1-more-lgtm, approved, lgtm, v7.4, needs-cherry-pick-release-7.4

#15019 docs: add dual region backup"
  tidb-cloud/backup-and-restore.md
  tidb-cloud/pause-or-resume-tidb-cluster.md
  tidb-cloud/tidb-cloud-faq.md
  tidb-cloud/tidb-cloud-poc.md
  tidb-cloud/tidb-cloud-release-notes.md
Labels: translation/no-need, size/L, area/tidb-cloud, for-cloud-release, needs-1-more-lgtm, approved, lgtm

#15010 cloud: add release notes for 20231011
  tidb-cloud/tidb-cloud-release-notes.md
Labels: translation/no-need, size/S, area/tidb-cloud, for-cloud-release, approved, lgtm

#14993 cloud: DM supports physical mode
  tidb-cloud/migrate-from-mysql-using-data-migration.md
Labels: translation/no-need, size/M, area/dm, area/tidb-cloud, for-cloud-release, needs-1-more-lgtm, approved, lgtm

#14834 add release notes for v7.4.0
  TOC.md
  releases/release-7.4.0.md
  releases/release-notes.md
  releases/release-timeline.md
Labels: translation/from-docs-cn, size/XL, needs-1-more-lgtm, approved, lgtm, v7.4, needs-cherry-pick-release-7.4

#14974 roadmap: add v7.4.0 release notes
  tidb-roadmap.md
Labels: translation/from-docs-cn, size/XS, needs-1-more-lgtm, approved, lgtm, v7.4

#14997 bump version to 7.4.0
  README.md
  br/backup-and-restore-use-cases.md
  develop/dev-guide-sample-application-nodejs-mysql2.md
  develop/dev-guide-sample-application-nodejs-mysqljs.md
  develop/dev-guide-sample-application-nodejs-typeorm.md
  develop/dev-guide-sample-application-ruby-mysql2.md
  develop/dev-guide-sample-application-ruby-rails.md
  dm/maintain-dm-using-tiup.md
  dm/quick-start-create-task.md
  information-schema/information-schema-tidb-servers-info.md
  pd-control.md
  post-installation-check.md
  production-deployment-using-tiup.md
  quick-start-with-tidb.md
  scale-tidb-using-tiup.md
  system-variables.md
  ticdc/deploy-ticdc.md
  ticdc/ticdc-changefeed-overview.md
  ticdc/ticdc-open-api-v2.md
  tidb-binlog/get-started-with-tidb-binlog.md
  tidb-monitoring-api.md
  tiflash/create-tiflash-replicas.md
  tiup/tiup-cluster.md
  tiup/tiup-component-cluster-deploy.md
  tiup/tiup-component-cluster-patch.md
  tiup/tiup-component-cluster-upgrade.md
  tiup/tiup-component-dm-upgrade.md
  tiup/tiup-component-management.md
  tiup/tiup-mirror.md
  tiup/tiup-playground.md
  upgrade-tidb-using-tiup.md
Labels: translation/from-docs-cn, size/L, area/develop, approved, lgtm, v7.4, needs-cherry-pick-release-7.4

#14963 Update Cloudflare workers
  tidb-cloud/integrate-tidbcloud-with-cloudflare.md
Labels: translation/no-need, size/L, missing-translation-status, area/tidb-cloud, needs-1-more-lgtm, approved, lgtm

#15025 fix PDF build failure: escape special characters
  releases/release-7.4.0.md
Labels: translation/done, size/XS, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.4

#14964 Update netlify
  tidb-cloud/integrate-tidbcloud-with-netlify.md
Labels: translation/no-need, size/M, area/tidb-cloud, needs-1-more-lgtm, approved, lgtm

#14856 Update the param size for mark cache and minmax index cache for TiFlash
  releases/release-7.0.0.md
  tiflash/tiflash-configuration.md
Labels: translation/from-docs-cn, first-time-contributor, size/XS, area/bigdata, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.2, needs-cherry-pick-release-7.3, needs-cherry-pick-release-7.4

#14689 feat: Developer Guide - GUI - DataGrip
  TOC-tidb-cloud.md
  TOC.md
  develop/dev-guide-gui-datagrip.md
  media/develop/datagrip-add-connection-button.jpg
  media/develop/datagrip-create-project.jpg
  media/develop/datagrip-data-source-select.jpg
  media/develop/datagrip-dedicated-advanced.jpg
  media/develop/datagrip-dedicated-connect.jpg
  media/develop/datagrip-dedicated-ssl.jpg
  media/develop/datagrip-dedicated-test-connection.jpg
  media/develop/datagrip-self-hosted-connect.jpg
  media/develop/datagrip-self-hosted-test-connection.jpg
  media/develop/datagrip-test-connection.jpg
  media/develop/datagrip-url-paste.jpg
Labels: translation/doing, size/L, area/develop, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.2, needs-cherry-pick-release-7.3, needs-cherry-pick-release-7.4

#14958 ticdc: add the Storage Sink feature to ticdc-overview.md
  media/ticdc/cdc-architecture.png
  migration-tools.md
  production-deployment-using-tiup.md
  ticdc-deployment-topology.md
  ticdc/ticdc-overview.md
Labels: translation/doing, size/XS, ONCALL, area/ticdc, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.2, needs-cherry-pick-release-7.3, needs-cherry-pick-release-7.4

#15022 Modify the relevant content of the Organization Console Audit Admin role
  tidb-cloud/manage-user-access.md
  tidb-cloud/tidb-cloud-console-auditing.md
Labels: translation/no-need, size/XS, ONCALL, area/tidb-cloud, approved, lgtm

#15051 add v7.5 to the PR template
  .github/pull_request_template.md
Labels: translation/from-docs-cn, size/XS, needs-1-more-lgtm, approved, lgtm, v7.5

#15048 update links to clustered index in basic feature
  basic-features.md
Labels: translation/from-docs-cn, size/XS, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.2, needs-cherry-pick-release-7.3

#15052 Update 7.4.0 release notes to add deprecation plan
  releases/release-7.4.0.md
Labels: translation/from-docs-cn, size/XS, approved, lgtm, needs-cherry-pick-release-7.4

#15060 v7.4: remove a note
  releases/release-7.4.0.md
Labels: translation/from-docs-cn, size/S, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.4

#15057 Update tidb-resource-control.md
  tidb-resource-control.md
Labels: translation/no-need, size/XS, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.2, needs-cherry-pick-release-7.3, needs-cherry-pick-release-7.4

#15069 keywords: add TPCH_10 and update the check-keywords.sh script
  keywords.md
  scripts/check-keywords.sh
Labels: translation/from-docs-cn, size/XS, needs-1-more-lgtm, approved, lgtm, v7.4, needs-cherry-pick-release-7.4

#15067 cloud: update the default value of tidb_analyze_version
  statistics.md
  system-variables.md
Labels: translation/no-need, needs-cherry-pick-master, size/S, area/develop, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm

#15068 add more desc about replicatuin-factor
  ticdc/ticdc-sink-to-kafka.md
Labels: translation/from-docs-cn, size/XS, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.2, needs-cherry-pick-release-7.3, needs-cherry-pick-release-7.4

#14943 Update ticdc canal json doc
  ticdc/ticdc-canal-json.md
  ticdc/ticdc-open-api-v2.md
Labels: translation/from-docs-cn, size/M, area/ticdc, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.2, needs-cherry-pick-release-7.3, needs-cherry-pick-release-7.4

#15087 fix a description in sql-plan-management.md
  sql-plan-management.md
Labels: translation/no-need, size/XS, ONCALL, needs-1-more-lgtm, approved, lgtm

#15083 release notes: add more items in 7.4
  releases/release-7.4.0.md
Labels: translation/done, contribution, size/XS, approved, lgtm, needs-cherry-pick-release-7.4

#15012 ticdc: Update cdc server config
  ticdc/ticdc-server-config.md
Labels: type/enhancement, translation/from-docs-cn, size/M, area/ticdc, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.4

#15050 ticdc: refine changefeed scheduler configuration description
  TOC.md
  releases/release-6.3.0.md
  sync-diff-inspector/sync-diff-inspector-overview.md
  ticdc/ticdc-changefeed-config.md
  ticdc/ticdc-upstream-downstream-check.md
Labels: translation/from-docs-cn, size/M, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.2, needs-cherry-pick-release-7.3, needs-cherry-pick-release-7.4

#15082 update some GitHub links for tidb repo reorganization
  .lycheeignore
  deploy-monitoring-services.md
  functions-and-operators/precision-math.md
  maintain-tidb-using-tiup.md
  performance-tuning-methods.md
  production-deployment-using-tiup.md
  tidb-binlog/binlog-consumer-client.md
  tidb-configuration-file.md
  troubleshoot-lock-conflicts.md
Labels: translation/from-docs-cn, size/S, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.2, needs-cherry-pick-release-7.3, needs-cherry-pick-release-7.4

#15032 statistics: add info about tidb_auto_analyze_partition_batch_size
  statistics.md
Labels: translation/from-docs-cn, size/XS, area/sql-infra, ONCALL, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.2, needs-cherry-pick-release-7.3, needs-cherry-pick-release-7.4

#14956 Add RU calcuation to explain docs
  sql-statements/sql-statement-explain-analyze.md
Labels: translation/done, contribution, first-time-contributor, size/M, approved, lgtm, needs-cherry-pick-release-7.2, needs-cherry-pick-release-7.3, needs-cherry-pick-release-7.4

#15031 cloud data service: support sample Data App
  tidb-cloud/data-service-get-started.md
Labels: translation/no-need, size/M, area/tidb-cloud, for-cloud-release, needs-1-more-lgtm, approved, lgtm

#14862 cloud: changed TiDB cluster to TiDB node, and updated pics
  media/tidb-cloud/dm-billing-cross-az-fees.png
  media/tidb-cloud/dm-billing-cross-region-and-az-fees.png
  media/tidb-cloud/dm-billing-cross-region-fees.png
  tidb-cloud/tidb-cloud-billing-dm.md
Labels: translation/no-need, size/S, ONCALL, area/tidb-cloud, needs-1-more-lgtm, approved, lgtm

#15129 fix serverless scale description
  tidb-cloud/scale-tidb-cluster.md
Labels: translation/no-need, size/XS, ONCALL, area/tidb-cloud, needs-1-more-lgtm, approved, lgtm

#15049 ticdc: refine changefeed overview
  media/ticdc/ticdc-changefeed-state-transfer.png
  media/ticdc/ticdc-state-transfer.png
  ticdc/ticdc-changefeed-overview.md
Labels: translation/from-docs-cn, size/S, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.3, needs-cherry-pick-release-7.4

#14904 *: fix 2 issues from GitHub feedback
  glossary.md
  media/tiflash/tiflash-mpp.png
  schedule-replicas-by-topology-labels.md
  tidb-cloud/tidb-cloud-glossary.md
  tiflash/use-tiflash-mpp-mode.md
Labels: translation/done, size/L, ONCALL, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.2, needs-cherry-pick-release-7.3

#15151 pull request template: remove v7.2 and v7.0
  .github/pull_request_template.md
Labels: translation/from-docs-cn, size/XS, needs-1-more-lgtm, approved, lgtm

#14927 feat: Developer Guide - GUI - DBeaver
  TOC-tidb-cloud.md
  TOC.md
  develop/dev-guide-gui-dbeaver.md
  develop/dev-guide-third-party-support.md
  media/develop/dbeaver-connection-settings-dedicated.jpg
  media/develop/dbeaver-connection-settings-self-hosted.jpg
  media/develop/dbeaver-connection-settings-serverless.jpg
  media/develop/dbeaver-connection-test.jpg
  media/develop/dbeaver-download-driver.jpg
  media/develop/dbeaver-select-database.jpg
Labels: translation/doing, size/L, area/develop, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.3, needs-cherry-pick-release-7.4

#15153 add an item in v6.5.5 release notes
  releases/release-6.5.5.md
Labels: translation/no-need, size/XS, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.3, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5

#15136 planner: update the SPM doc
  sql-plan-management.md
Labels: translation/from-docs-cn, size/M, approved, lgtm, needs-cherry-pick-release-7.4

#15141 changefeed: remove sink-to-kafka beta status
  tidb-cloud/changefeed-overview.md
  tidb-cloud/changefeed-sink-to-apache-kafka.md
Labels: translation/no-need, size/XS, area/tidb-cloud, for-cloud-release, needs-1-more-lgtm, approved, lgtm

#15137 v7.1.2: add release notes
  TOC.md
  releases/release-7.1.2.md
  releases/release-notes.md
  releases/release-timeline.md
Labels: translation/from-docs-cn, size/L, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.3, needs-cherry-pick-release-7.4

#15154 v7.1 docs: bump the example TiDB version to v7.1.2
  br/backup-and-restore-use-cases.md
  dm/maintain-dm-using-tiup.md
  dm/quick-start-create-task.md
  information-schema/information-schema-tidb-servers-info.md
  pd-control.md
  post-installation-check.md
  production-deployment-using-tiup.md
  quick-start-with-tidb.md
  scale-tidb-using-tiup.md
  ticdc/deploy-ticdc.md
  ticdc/ticdc-changefeed-overview.md
  ticdc/ticdc-open-api-v2.md
  tidb-binlog/get-started-with-tidb-binlog.md
  tidb-monitoring-api.md
  tiflash/create-tiflash-replicas.md
  tiup/tiup-cluster.md
  tiup/tiup-component-cluster-deploy.md
  tiup/tiup-component-cluster-patch.md
  tiup/tiup-component-cluster-upgrade.md
  tiup/tiup-component-dm-upgrade.md
  tiup/tiup-component-management.md
  tiup/tiup-mirror.md
  tiup/tiup-playground.md
  upgrade-tidb-using-tiup.md
Labels: translation/from-docs-cn, area/general, size/L, needs-1-more-lgtm, approved, lgtm

#15133 br: add dual region support for google cloud platform
  tidb-cloud/backup-and-restore.md
Labels: contribution, translation/no-need, size/XS, area/tidb-cloud, for-cloud-release, approved, lgtm

#15152 cloud: org sso supports the username and password authentication method
  tidb-cloud/tidb-cloud-org-sso-authentication.md
Labels: translation/no-need, size/XS, area/tidb-cloud, for-cloud-release, needs-1-more-lgtm, approved, lgtm

#15173 cloud: add release notes for 20231025
  tidb-cloud/tidb-cloud-release-notes.md
Labels: translation/no-need, size/S, area/tidb-cloud, for-cloud-release, needs-1-more-lgtm, approved, lgtm

#9433 clarify lightning post-restore description
  tidb-lightning/tidb-lightning-configuration.md
Labels: type/enhancement, requires-version-specific-changes, translation/from-docs-cn, needs-cherry-pick-release-4.0, needs-cherry-pick-release-5.0, size/S, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, area/tidb-lightning, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.3, needs-cherry-pick-release-7.4

#15188 release-7.1.2.md: fix an issue number
  releases/release-7.1.2.md
Labels: translation/from-docs-cn, size/XS, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.3, needs-cherry-pick-release-7.4

#15192 Connector/J: fix broken links
  best-practices/java-app-best-practices.md
  develop/dev-guide-choose-driver-or-orm.md
  develop/dev-guide-connect-to-tidb.md
  develop/dev-guide-connection-parameters.md
  develop/dev-guide-third-party-tools-compatibility.md
  system-variables.md
  tidb-cloud/secure-connections-to-serverless-clusters.md
  tidb-cloud/tidb-cloud-tls-connect-to-dedicated.md
  tispark-overview.md
Labels: translation/from-docs-cn, size/S, area/develop, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.4

#15165 dumpling: add URI formats
  TOC.md
  best-practices/pd-scheduling-best-practices.md
  br/backup-and-restore-overview.md
  br/br-incremental-guide.md
  br/br-pitr-manual.md
  br/br-snapshot-guide.md
  br/use-br-command-line-tool.md
  dumpling-overview.md
  error-codes.md
  external-storage-uri.md
  migrate-large-mysql-shards-to-tidb.md
  migrate-large-mysql-to-tidb.md
  sql-statements/sql-statement-backup.md
  sql-statements/sql-statement-import-into.md
  sql-statements/sql-statement-restore.md
  system-variables.md
  ticdc/ticdc-sink-to-cloud-storage.md
  ticdc/ticdc-sink-to-kafka.md
  tidb-lightning/tidb-lightning-command-line-full.md
  tidb-lightning/tidb-lightning-configuration.md
  tidb-lightning/tidb-lightning-data-source.md
  tidb-lightning/tidb-lightning-distributed-import.md
  tidb-lightning/tidb-lightning-overview.md
Labels: translation/from-docs-cn, size/L, area/dumpling, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.3, needs-cherry-pick-release-7.4

#15046 ticdc: update ticdc docs
  hardware-and-software-requirements.md
  ticdc/deploy-ticdc.md
  ticdc/ticdc-faq.md
  ticdc/ticdc-open-api-v2.md
  ticdc/ticdc-overview.md
  ticdc/troubleshoot-ticdc.md
Labels: requires-version-specific-changes, translation/from-docs-cn, size/M, area/ticdc, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm

#15209 tiup: add the GitHub link of release notes
  tiup/tiup-documentation-guide.md
Labels: translation/from-docs-cn, size/XS, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.3, needs-cherry-pick-release-7.4

#15204 tikv: update the default value of periodic-compaction and ttl
  releases/release-7.4.0.md
  tikv-configuration-file.md
Labels: translation/from-docs-cn, size/XS, area/engine, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.4

#15215 Update api-overview.md
  tidb-cloud/api-overview.md
Labels: translation/no-need, size/XS, needs-1-more-lgtm, approved, lgtm

#15059 system-variables: update docs for hint SET_VAR
  system-variables.md
Labels: translation/from-docs-cn, contribution, first-time-contributor, size/S, approved, lgtm, needs-cherry-pick-release-7.4

#15217 release notes: remove duplicate notes
  releases/release-6.5.3.md
  releases/release-6.5.5.md
Labels: translation/from-docs-cn, ONCALL, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.3, needs-cherry-pick-release-7.4
