Repository pingcap/docs, pull requests merged in 2023-02, with the labels that each got.

#12315 Fix plan binding status
  sql-plan-management.md
Labels: type/bug-fix, status/can-merge, status/LGT1, status/LGT2, translation/no-need, needs-cherry-pick-release-5.0, size/XS, area/planner, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.4, needs-cherry-pick-release-6.5

#12053 *: always enable block cache
  hybrid-deployment-topology.md
  tikv-configuration-file.md
  tune-tikv-memory-performance.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/S, type/compatibility-or-feature-change, for-release, v6.6

#12271 v6.0 and v6.2: add a note for docs archiving
  releases/release-6.0.0-dmr.md
  releases/release-6.2.0.md
Labels: requires-version-specific-changes, translation/from-docs-cn, status/can-merge, status/LGT2, area/general, size/XS, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.3, needs-cherry-pick-release-6.4, needs-cherry-pick-release-6.5

#12305 ALTER TABLE .. CHANGE COLUMS is affected by metadata lock
  metadata-lock.md
Labels: type/bug-fix, translation/done, status/can-merge, status/LGT2, size/XS, area/sql-infra, needs-cherry-pick-release-6.5

#12317 Avoid TiSpark in TiDB Cloud docs
  develop/dev-guide-create-table.md
  tiflash/tiflash-overview.md
Labels: status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/S, area/tidb-cloud, needs-cherry-pick-release-6.5

#12357 sysvar: correct a wrong sysvar default value
  system-variables.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT2, size/XS, ONCALL, needs-cherry-pick-release-6.3, needs-cherry-pick-release-6.4, needs-cherry-pick-release-6.5

#12354 *: move external storage to dumpling and lightning docs
  br/backup-and-restore-storages.md
  br/external-storage.md
  develop/dev-guide-insert-data.md
  dumpling-overview.md
  migrate-large-mysql-shards-to-tidb.md
  migrate-large-mysql-to-tidb.md
  sql-statements/sql-statement-backup.md
  sql-statements/sql-statement-restore.md
  tidb-lightning/tidb-lightning-command-line-full.md
  tidb-lightning/tidb-lightning-configuration.md
  tidb-lightning/tidb-lightning-data-source.md
  tidb-lightning/tidb-lightning-distributed-import.md
  tidb-lightning/tidb-lightning-faq.md
  tidb-lightning/tidb-lightning-overview.md
Labels: type/bug-fix, requires-version-specific-changes, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XL, needs-cherry-pick-release-6.4, needs-cherry-pick-release-6.5

#12111 cloud: add TiDB Cloud CLI docs
  TOC-tidb-cloud.md
  tidb-cloud/cli-reference.md
  tidb-cloud/get-started-with-cli.md
  tidb-cloud/ticloud-cluster-create.md
  tidb-cloud/ticloud-cluster-delete.md
  tidb-cloud/ticloud-cluster-describe.md
  tidb-cloud/ticloud-cluster-list.md
  tidb-cloud/ticloud-config-create.md
  tidb-cloud/ticloud-config-delete.md
  tidb-cloud/ticloud-config-describe.md
  tidb-cloud/ticloud-config-edit.md
  tidb-cloud/ticloud-config-list.md
  tidb-cloud/ticloud-config-set.md
  tidb-cloud/ticloud-config-use.md
  tidb-cloud/ticloud-import-cancel.md
  tidb-cloud/ticloud-import-describe.md
  tidb-cloud/ticloud-import-list.md
  tidb-cloud/ticloud-import-start-local.md
  tidb-cloud/ticloud-import-start-s3.md
  tidb-cloud/ticloud-project-list.md
  tidb-cloud/ticloud-update.md
  tidb-cloud/tidb-cloud-release-notes.md
Labels: status/can-merge, status/LGT1, first-time-contributor, size/XXL, area/tidb-cloud, for-cloud-release

#12121 br: add experimental warning for br incremental backup
  br/use-br-command-line-tool.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT1, needs-cherry-pick-release-5.0, size/XS, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, ONCALL, area/br

#12366 security: add TiCDC for certificate reloading descriptions
  enable-tls-between-components.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, area/security, needs-cherry-pick-master, size/XS

#12373 cloud: update learning path for integration docs
  tidb-cloud/_index.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/S, area/tidb-cloud

#12019 fix flow-round-by-digit in pd cfg docs
  pd-configuration-file.md
Labels: type/enhancement, translation/done, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/S, area/scheduling, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.3, needs-cherry-pick-release-6.4, needs-cherry-pick-release-6.5

#12355 chore: stop uploading media and pdf to aws
  .github/workflows/media.yml
  scripts/upload.py
Labels: translation/from-docs-cn, status/can-merge, needs-cherry-pick-release-3.0, status/LGT1, needs-cherry-pick-release-4.0, require-LGT1, needs-cherry-pick-release-5.0, size/S, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.3, needs-cherry-pick-release-6.4, needs-cherry-pick-release-6.5

#12189 tikv: support dynamic modifications on `raftstore.store-io-pool-size`
  dynamic-config.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/XS, v6.6

#12338 backup: refactor some docs for easier understanding
  br/backup-and-restore-overview.md
  br/backup-and-restore-storages.md
  br/br-pitr-guide.md
  br/br-snapshot-guide.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT2, size/M, ONCALL, area/br, needs-cherry-pick-release-6.4, needs-cherry-pick-release-6.5

#12386 Add minimum requirement in arm when deploying TiFlash
  hardware-and-software-requirements.md
  releases/release-6.3.0.md
  tiflash/tiflash-overview.md
  upgrade-tidb-using-tiup.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT1, status/LGT2, size/XS, area/bigdata, needs-cherry-pick-release-6.3, needs-cherry-pick-release-6.4, needs-cherry-pick-release-6.5

#12407 PingCAP Education Update Sub-domain
  develop/dev-guide-overview.md
Labels: status/can-merge, status/LGT2, translation/no-need, size/XS, area/develop, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.3, needs-cherry-pick-release-6.4, needs-cherry-pick-release-6.5

#12282 add v6.1.4 release notes
  TOC.md
  releases/release-6.1.4.md
  releases/release-notes.md
  releases/release-timeline.md
  tidb-configuration-file.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/L, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.3, for-release, needs-cherry-pick-release-6.4, needs-cherry-pick-release-6.5

#12384 add bump 6.1.4
  br/backup-and-restore-use-cases.md
  check-before-deployment.md
  dm/quick-start-create-task.md
  download-ecosystem-tools.md
  pd-control.md
  production-deployment-using-tiup.md
  quick-start-with-tidb.md
  scale-tidb-using-tiup.md
  ticdc/manage-ticdc.md
  tiflash/create-tiflash-replicas.md
  tiup/tiup-cluster.md
  tiup/tiup-component-cluster-deploy.md
  tiup/tiup-component-management.md
  tiup/tiup-mirror.md
  tiup/tiup-playground.md
  upgrade-tidb-using-tiup.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/L

#12408 deploy: move compatibility changes to a more noticeable position in upgrade guide
  upgrade-tidb-using-tiup.md
Labels: type/enhancement, translation/doing, status/can-merge, status/LGT1, require-LGT1, size/S, area/deploy-upgrade-maintain, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.4, needs-cherry-pick-release-6.5

#12306 Add description about --initialize-sql-file option
  command-line-flags-for-tidb-configuration.md
  tidb-configuration-file.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/S, type/compatibility-or-feature-change, v6.6

#12308 sync-diff: add description for the new parameter skip-non-existing-table
  sync-diff-inspector/sync-diff-inspector-overview.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, status/LGT2, size/M, type/compatibility-or-feature-change, area/sync-diff-inspector, v6.6

#12372 fix cdc redo log storage configuration
  ticdc/ticdc-sink-to-mysql.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, status/LGT2, size/S, type/compatibility-or-feature-change, area/ticdc, needs-cherry-pick-release-6.1, for-release, v6.6, needs-cherry-pick-release-6.5

#12430 br: fix an incorrect command in log backup flowchart
  media/br/br-log-backup-ts.png
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XS, ONCALL, area/br, needs-cherry-pick-release-6.4, needs-cherry-pick-release-6.5

#12434 *: enable video tracking in ga4
  overview.md
  tidb-cloud/tidb-cloud-intro.md
Labels: status/can-merge, status/LGT1, translation/no-need, area/general, require-LGT1, size/XS, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.4, needs-cherry-pick-release-6.5

#12438 *: fix youtube video tag
  overview.md
  tidb-cloud/tidb-cloud-intro.md
Labels: status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/XS, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.4, needs-cherry-pick-release-6.5

#12199 slow-query: add Warnings field to slow log and the slow query table
  identify-slow-queries.md
  information-schema/information-schema-slow-query.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/XS, v6.6

#12351 ticdc: add scale out for kafka changefeed
  ticdc/ticdc-changefeed-config.md
  ticdc/ticdc-sink-to-kafka.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/S, type/compatibility-or-feature-change, area/ticdc, v6.6

#12275 add foreign key doc
  TOC-tidb-cloud.md
  TOC.md
  constraints.md
  develop/dev-guide-third-party-tools-compatibility.md
  faq/tidb-faq.md
  foreign-key.md
  information-schema/information-schema-referential-constraints.md
  mysql-compatibility.md
  sql-statements/sql-statement-admin-check-table-index.md
  sql-statements/sql-statement-create-table.md
  system-variables.md
  tidb-cloud/tidb-cloud-faq.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/XL, area/sql-infra, type/compatibility-or-feature-change, v6.6

#12272 dm: update DM config to integrate with lightning
  dm/dm-precheck.md
  dm/monitor-a-dm-cluster.md
  dm/task-configuration-file-full.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/M, area/dm, v6.6

#12337 [TiDB] Add a new mode `prefer-leader` for `replica_read_mode`.
  develop/dev-guide-use-follower-read.md
  follower-read.md
  system-variables.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/XS, area/scheduling, v6.6

#11626 deprecate enable-statistics
  tikv-configuration-file.md
Labels: translation/done, status/can-merge, status/LGT2, size/XS, area/engine, type/compatibility-or-feature-change, for-release, v6.6

#12277 Add document for enanced pessimistic lock model
  system-variables.md
  troubleshoot-lock-conflicts.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/S, area/transaction, type/compatibility-or-feature-change, v6.6

#12309 *: add doc for multi-valued index
  choose-index.md
  functions-and-operators/json-functions.md
  sql-statements/sql-statement-create-index.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/XL, area/sql-infra, v6.6

#12385 sysvar: stabilize `tidb_store_batch_size`
  system-variables.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/XS, type/compatibility-or-feature-change, area/bigdata, v6.6

#12279 planner: binding from history GA user doc
  sql-plan-management.md
  sql-statements/sql-statement-create-binding.md
  sql-statements/sql-statement-drop-binding.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/S, area/planner, v6.6

#12387 update system-variables.md: add mpp_version and mpp_exchange_compres..
  explain-mpp.md
  system-variables.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/M, type/compatibility-or-feature-change, area/bigdata, v6.6

#12276 planner: update docs related to plan cache
  sql-prepared-plan-cache.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/M, area/planner, v6.6

#12079 remove tidb_enable_concurrent_ddl
  basic-features.md
  releases/release-6.2.0.md
  system-variables.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/S, type/compatibility-or-feature-change, v6.6

#12280 docc: add the doc for (no_)keep_order hint
  optimizer-hints.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/M, area/planner, v6.6

#12445 Refine TiDB features document
  basic-features.md
Labels: type/enhancement, status/can-merge, status/LGT1, area/general, require-LGT1, size/XL, needs-cherry-pick-release-6.5

#12369 Update stale_read doc for the support of TiFlash
  as-of-timestamp.md
  develop/dev-guide-use-stale-read.md
  stale-read.md
  tidb-external-ts.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/M, area/bigdata, v6.6

#12018 Add docs for gctuner in PD
  pd-configuration-file.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/M, area/scheduling, type/compatibility-or-feature-change, v6.6

#12446 *: update oudated repo links
  dumpling-overview.md
  tidb-lightning/tidb-lightning-overview.md
  tidb-troubleshooting-map.md
Labels: translation/doing, status/can-merge, status/LGT2, size/XS, area/tidb-lightning, area/dumpling, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.4, needs-cherry-pick-release-6.5

#12071 tiflash: update config description of max_memory_usage_for_all_queries
  tiflash/tiflash-configuration.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, status/LGT2, size/S, type/compatibility-or-feature-change, v6.6

#11620 dm: enhance description about error triggering condition
  dm/dm-handle-alerts.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT2, size/S, area/dm, v6.6

#12421 cloud changefeed: add a new section about "cloud_cdc_admin"
  tidb-cloud/changefeed-replication.md
  tidb-cloud/migrate-from-mysql-using-data-migration.md
  tidb-cloud/tidb-cloud-dm-precheck-and-troubleshooting.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/S, area/ticdc, area/tidb-cloud

#12443 dumpling: clarify some nuances about gc life time
  dumpling-overview.md
Labels: type/enhancement, translation/doing, status/can-merge, status/LGT2, size/S, area/dumpling, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.4, needs-cherry-pick-release-6.5

#12069 Add persistent statements summary
  statement-summary-tables.md
  tidb-configuration-file.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/L, area/diagnosis, type/compatibility-or-feature-change, v6.6

#12368 sql-statements: flashback cluster support through ddl history
  sql-statements/sql-statement-flashback-to-timestamp.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/M, area/sql-infra, v6.6

#12462 tikv: add raftstore.report-min-resolved-ts-interval
  tikv-configuration-file.md
Labels: type/enhancement, translation/doing, status/can-merge, status/LGT2, size/XS, area/engine, ONCALL, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.3, needs-cherry-pick-release-6.4, needs-cherry-pick-release-6.5

#12252 Support regexp_replace function in TiFlash
  tiflash/tiflash-supported-pushdown-calculations.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/XS, area/bigdata, v6.6

#12464 cloud changefeed: delete description about `cloud_cdc_admin`
  tidb-cloud/changefeed-replication.md
Labels: status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/S, area/ticdc, area/tidb-cloud

#12281 sql: add plan replayer capture
  sql-plan-replayer.md
  system-variables.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/M, area/planner, v6.6

#12427 lightning: support compression when sending kv pairs to tikv
  tidb-lightning/tidb-lightning-configuration.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/XS, area/tidb-lightning, v6.6

#12470 lock-cf-compact-interval: fix the default value to 10m
  tikv-configuration-file.md
Labels: type/bug-fix, status/can-merge, needs-cherry-pick-release-3.0, status/LGT1, translation/no-need, needs-cherry-pick-release-4.0, require-LGT1, needs-cherry-pick-release-5.0, size/XS, area/engine, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.3, needs-cherry-pick-release-6.4, needs-cherry-pick-release-6.5

#12454 ticdc: add required-acks configuration
  ticdc/ticdc-sink-to-kafka.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, status/LGT2, size/XS, v6.6

#12429 lightning: introduce a new parameter `header-schema-match`
  tidb-lightning/tidb-lightning-configuration.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/XS, area/tidb-lightning, v6.6

#12251 support reloading TLS certificates for TiFlash
  enable-tls-between-components.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, area/security, size/XS, v6.6

#12312 add backup faq for flashback
  faq/backup-and-restore-faq.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/XS, ONCALL, area/br, needs-cherry-pick-release-6.4, needs-cherry-pick-release-6.5

#12483 update tiup ctl:<version> to tiup clt:v<version>
  best-practices/three-nodes-hybrid-deployment.md
  clinic/clinic-data-instruction-for-tiup.md
  dashboard/dashboard-ops-deploy.md
  enable-tls-between-components.md
  migrate-from-tidb-to-mysql.md
  pd-control.md
  replicate-data-to-kafka.md
  scale-tidb-using-tiup.md
  three-data-centers-in-two-cities-deployment.md
  ticdc/deploy-ticdc.md
  ticdc/integrate-confluent-using-ticdc.md
  ticdc/ticdc-changefeed-overview.md
  tidb-control.md
  tiflash/create-tiflash-replicas.md
  tiflash/tiflash-configuration.md
  tikv-control.md
  tiup/tiup-cluster.md
  troubleshoot-lock-conflicts.md
  troubleshoot-write-conflicts.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/L, ONCALL, needs-cherry-pick-release-6.5

#12487 TiDB Monitoring Metrics: update key metrics from list to headings
  grafana-tidb-dashboard.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XL, area/diagnosis, ONCALL, needs-cherry-pick-release-6.5

#12482 Update information-schema slow query & Statement.md
  information-schema/information-schema-slow-query.md
  statement-summary-tables.md
  tidb-cloud/serverless-tier-limitations.md
  tidb-cloud/tune-performance.md
Labels: status/can-merge, status/LGT1, translation/no-need, needs-cherry-pick-master, size/S, area/tidb-cloud, for-cloud-release

#12046 cloud: tikv/tiflash scale in
  tidb-cloud/scale-tidb-cluster.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/S, area/tidb-cloud, for-cloud-release, needs-cherry-pick-release-6.5

#12453 cloud: support built-in monitoring for serverless tiers
  tidb-cloud/built-in-monitoring.md
  tidb-cloud/serverless-tier-limitations.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/S, area/tidb-cloud, for-cloud-release

#12463 cloud: optimize the message for built-in alerts
  tidb-cloud/monitor-built-in-alerting.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/S, area/tidb-cloud, for-cloud-release

#12489 cloud: add release notes for 0214
  tidb-cloud/tidb-cloud-release-notes.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/S, area/tidb-cloud, for-cloud-release

#12428 placementinsql: add the survival preferences docs
  placement-rules-in-sql.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/S, area/scheduling, v6.6

#12493 glossary: fix the heading level of raft engine
  glossary.md
Labels: type/bug-fix, translation/doing, status/can-merge, status/LGT1, area/general, require-LGT1, size/XS, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.4, needs-cherry-pick-release-6.5

#12499 sql: fix the number of supported columns in a single table
  sql-statements/sql-statement-create-table.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, needs-cherry-pick-release-5.0, area/sql-infra, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, ONCALL, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.3, needs-cherry-pick-release-6.4, needs-cherry-pick-release-6.5

#12510 sql: add a special keywords section
  keywords.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT1, status/LGT2, size/XS, area/sql-infra, ONCALL, needs-cherry-pick-release-6.4, needs-cherry-pick-release-6.5

#12500 tidb_analyze_version: describe default value difference between OP and Cloud
  statistics.md
  system-variables.md
Labels: status/can-merge, status/LGT2, translation/no-need, needs-cherry-pick-master, size/S, area/tidb-cloud

#12431 Add best practices doc for readonly nodes
  TOC.md
  best-practices/readonly-nodes.md
  follower-read.md
  system-variables.md
  tispark-overview.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/L, type/compatibility-or-feature-change, v6.6

#12516 fix the heading level of Credit
  tidb-cloud/tidb-cloud-glossary.md
Labels: type/bug-fix, status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/XS, area/tidb-cloud

#12388 tidb-dashboard: add doc for creating SQL binding from statement history
  dashboard/dashboard-statement-details.md
  media/dashboard/dashboard-quick-binding-entry-bound.png
  media/dashboard/dashboard-quick-binding-entry-notbound.png
  media/dashboard/dashboard-quick-binding-popup-bound.png
  media/dashboard/dashboard-quick-binding-popup-notbound.png
  media/dashboard/dashboard-statement-detail-v660.png
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/M, area/diagnosis, v6.6

#12318 update document about TTL
  grafana-tidb-dashboard.md
  releases/release-6.5.0.md
  sql-statements/sql-statement-alter-table.md
  sql-statements/sql-statement-create-table.md
  system-variables.md
  time-to-live.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/S, type/compatibility-or-feature-change, for-release, v6.6

#12400 ddl: add tidb_ddl_distribute_reorg to sys var
  system-variables.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/S, area/sql-infra, v6.6

#12514 stmtsummary: add system vars description
  system-variables.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, status/LGT2, size/L, area/diagnosis, v6.6

#12518 tikv config: remove note of grpc-compression-type
  tikv-configuration-file.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT2, require-LGT1, size/XS, area/engine, ONCALL, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.3, needs-cherry-pick-release-6.4, needs-cherry-pick-release-6.5

#12522 tiup: add examples for tiup version placehoder
  dm/maintain-dm-using-tiup.md
  quick-start-with-tidb.md
  ticdc/deploy-ticdc.md
  tiflash-620-upgrade-guide.md
  tiup/tiup-cluster.md
  tiup/tiup-component-cluster-upgrade.md
  tiup/tiup-component-dm-upgrade.md
  upgrade-tidb-using-tiup.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/M, area/tiup, ONCALL, needs-cherry-pick-release-6.5

#12356 *: update info on support resources
  TOC.md
  alert-rules.md
  clinic/clinic-introduction.md
  clinic/clinic-user-guide-for-tiup.md
  dashboard/dashboard-faq.md
  dm/dm-error-handling.md
  error-codes.md
  faq/migration-tidb-faq.md
  non-transactional-dml.md
  pessimistic-transaction.md
  sql-plan-management.md
  support.md
  tidb-binlog/monitor-tidb-binlog-cluster.md
  tidb-cloud/limitations-and-quotas.md
  tidb-cloud/tidb-cloud-poc.md
  tiflash/tiflash-alert-rules.md
  tiflash/troubleshoot-tiflash.md
  troubleshoot-data-inconsistency-errors.md
  two-data-centers-in-one-city-deployment.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/L, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.4, needs-cherry-pick-release-6.5

#12307 planner: prepared plan cache support limit
  sql-prepared-plan-cache.md
  system-variables.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, status/LGT2, size/S, v6.6

#9719 Add new syntax 'ADMIN SHOW DDL JOB QUERIES LIMIT m OFFSET n'
  sql-statements/sql-statement-admin-show-ddl.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/M, area/sql-infra, ONCALL, needs-cherry-pick-release-6.3, needs-cherry-pick-release-6.4, needs-cherry-pick-release-6.5

#12444 sysvar: change prepared-plan-cache variable names
  releases/release-6.3.0.md
  system-variables.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XS, type/compatibility-or-feature-change, for-release, v6.6

#12528 sysvar: introduce a new variable tidb_index_join_double_read_penalty_…
  system-variables.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/M, type/compatibility-or-feature-change, for-release, v6.6

#12536 explain for connection: fix the compatibility with MySQL
  sql-statements/sql-statement-explain.md
Labels: type/bug-fix, translation/done, status/can-merge, needs-cherry-pick-release-3.0, status/LGT1, needs-cherry-pick-release-4.0, require-LGT1, needs-cherry-pick-release-5.0, size/XS, area/sql-infra, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, ONCALL, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.3, needs-cherry-pick-release-6.4, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.0

#11930 Add lightning log message explanation doc
  TOC.md
  tidb-lightning/tidb-lightning-log-message-explanation.md
Labels: translation/doing, status/can-merge, status/LGT1, first-time-contributor, size/XL, area/tidb-lightning

#12554 update default value
  tikv-configuration-file.md
Labels: translation/done, status/can-merge, status/LGT1, require-LGT1, first-time-contributor, size/XS, type/compatibility-or-feature-change, v6.6

#12540 clinic: add Diag repo link
  clinic/clinic-data-instruction-for-tiup.md
  clinic/clinic-introduction.md
  clinic/clinic-user-guide-for-tiup.md
  clinic/quick-start-with-clinic.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT2, size/S, area/clinic, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6

#12557 tidb: fix the name of tidb-max-reuse-chunk and tidb-max-reuse-column
  releases/release-6.4.0.md
  tidb-configuration-file.md
Labels: type/bug-fix, translation/done, status/can-merge, status/LGT2, size/XS, ONCALL, needs-cherry-pick-release-6.4, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6

#12353 sql-infra: add resource control feature
  TOC-tidb-cloud.md
  TOC.md
  grafana-resource-control-dashboard.md
  grafana-tikv-dashboard.md
  information-schema/information-schema-processlist.md
  information-schema/information-schema-resource-groups.md
  mysql-compatibility.md
  privilege-management.md
  sql-statements/sql-statement-alter-resource-group.md
  sql-statements/sql-statement-alter-user.md
  sql-statements/sql-statement-create-resource-group.md
  sql-statements/sql-statement-create-user.md
  sql-statements/sql-statement-drop-resource-group.md
  sql-statements/sql-statement-show-create-resource-group.md
  sql-statements/sql-statement-show-privileges.md
  system-variables.md
  tidb-resource-control.md
  tikv-configuration-file.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/XXL, area/sql-infra, type/compatibility-or-feature-change, v6.6, needs-cherry-pick-release-6.6

#12399 Add `ticloud connect` doc
  TOC-tidb-cloud.md
  tidb-cloud/cli-reference.md
  tidb-cloud/get-started-with-cli.md
  tidb-cloud/ticloud-cluster-create.md
  tidb-cloud/ticloud-cluster-delete.md
  tidb-cloud/ticloud-cluster-describe.md
  tidb-cloud/ticloud-cluster-list.md
  tidb-cloud/ticloud-config-create.md
  tidb-cloud/ticloud-config-delete.md
  tidb-cloud/ticloud-config-describe.md
  tidb-cloud/ticloud-config-edit.md
  tidb-cloud/ticloud-config-list.md
  tidb-cloud/ticloud-config-set.md
  tidb-cloud/ticloud-config-use.md
  tidb-cloud/ticloud-connect.md
  tidb-cloud/ticloud-import-cancel.md
  tidb-cloud/ticloud-import-describe.md
  tidb-cloud/ticloud-import-list.md
  tidb-cloud/ticloud-import-start-local.md
  tidb-cloud/ticloud-import-start-s3.md
  tidb-cloud/ticloud-project-list.md
  tidb-cloud/ticloud-update.md
  tidb-cloud/tidb-cloud-release-notes.md
Labels: status/can-merge, status/LGT1, translation/no-need, first-time-contributor, size/L, area/tidb-cloud, for-cloud-release

#12442 lightning/br/dumpling: add session-token to external storage url
  br/backup-and-restore-overview.md
  br/backup-and-restore-storages.md
  br/br-incremental-guide.md
  br/br-pitr-manual.md
  br/br-snapshot-guide.md
  br/use-br-command-line-tool.md
  dumpling-overview.md
  migrate-aurora-to-tidb.md
  migrate-large-mysql-shards-to-tidb.md
  migrate-large-mysql-to-tidb.md
  sql-statements/sql-statement-backup.md
  sql-statements/sql-statement-restore.md
  ticdc/ticdc-sink-to-cloud-storage.md
  tidb-lightning/tidb-lightning-command-line-full.md
  tidb-lightning/tidb-lightning-configuration.md
  tidb-lightning/tidb-lightning-data-source.md
  tidb-lightning/tidb-lightning-distributed-import.md
  tidb-lightning/tidb-lightning-logical-import-mode-usage.md
  tidb-lightning/tidb-lightning-overview.md
  tidb-lightning/tidb-lightning-physical-import-mode-usage.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/L, area/tidb-lightning, v6.6, needs-cherry-pick-release-6.6

#12570 Tikv config
  tikv-configuration-file.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/XS, type/compatibility-or-feature-change, for-release, v6.6, needs-cherry-pick-release-6.6

#12572 system-variables: Correct links for tidb_enable_paging
  system-variables.md
Labels: type/bug-fix, translation/done, status/can-merge, status/LGT2, size/XS, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6

#12529 br: change the compatibility table
  br/backup-and-restore-overview.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/S, type/compatibility-or-feature-change, area/br, v6.6, needs-cherry-pick-release-6.6

#12541 sql: add missing dynamic privileges and update optm lock version
  faq/sql-faq.md
  privilege-management.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT1, status/LGT2, size/S, area/sql-infra, ONCALL, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.4, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6

#12584 update _index.md for v6.6
  _index.md
Labels: translation/done, status/can-merge, status/LGT1, for-release, v6.6

#12519 *: disable telemetry by default
  dashboard/dashboard-intro.md
  pd-configuration-file.md
  production-deployment-using-tiup.md
  quick-start-with-tidb.md
  system-variables.md
  telemetry.md
  tidb-configuration-file.md
  tispark-overview.md
  tiup/tiup-command-telemetry.md
  tiup/tiup-overview.md
  upgrade-tidb-using-tiup.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/M, for-release, v6.6, needs-cherry-pick-release-6.6

#12422 v6.6: bump version for tools
  br/backup-and-restore-use-cases.md
  dm/quick-start-create-task.md
  pd-control.md
  quick-start-with-tidb.md
  ticdc/deploy-ticdc.md
  tidb-binlog/get-started-with-tidb-binlog.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/S, for-release, v6.6, needs-cherry-pick-release-6.6

#12520 bump version 6.6 tiup
  production-deployment-using-tiup.md
  scale-tidb-using-tiup.md
  ticdc/deploy-ticdc.md
  tiup/tiup-cluster.md
  tiup/tiup-component-cluster-deploy.md
  tiup/tiup-component-management.md
  tiup/tiup-mirror.md
  tiup/tiup-playground.md
  upgrade-tidb-using-tiup.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/L, area/deploy-upgrade-maintain, for-release, v6.6, needs-cherry-pick-release-6.6

#12586 dev guide: fix a render issue
  develop/dev-guide-overview.md
Labels: type/bug-fix, status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/S, area/develop, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6

#12208 Add example about how to apply hotfix to dm cluster
  tiup/tiup-component-dm-patch.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT1, status/LGT2, size/L, needs-cherry-pick-release-5.3, area/dm, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.3, needs-cherry-pick-release-6.4, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6

#12575 Update dashboard-statement-details.md
  dashboard/dashboard-statement-details.md
  dashboard/dashboard-user.md
Labels: requires-version-specific-changes, translation/from-docs-cn, status/can-merge, status/LGT2, size/S, for-release, v6.6, needs-cherry-pick-release-6.6

#12269 Modify TiFlash's troubleshooting procedure to adapt current version
  tiflash/troubleshoot-tiflash.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT1, status/LGT2, size/M, area/bigdata, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.3, needs-cherry-pick-release-6.4, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6

#12513 basic-features: updates for v6.6
  basic-features.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, area/general, require-LGT1, size/XL, for-release, v6.6, needs-cherry-pick-release-6.6

#12321 add 6.6.0 release notes
  TOC.md
  _index.md
  releases/release-6.6.0.md
  releases/release-notes.md
  releases/release-timeline.md
  sql-statements/sql-statement-flashback-to-timestamp.md
  system-variables.md
  tikv-configuration-file.md
  upgrade-tidb-using-tiup.md
Labels: status/can-merge, status/LGT2, size/XXL, for-release, v6.6, needs-cherry-pick-release-6.6

#12606 trigger jenkins for pdf update
  deploy-monitoring-services.md
Labels: status/can-merge, status/LGT1, translation/no-need, require-LGT1

#12608 develop: use cross-references link instead of detailed tables
  develop/dev-guide-schema-design-overview.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT2, size/M, ONCALL, area/develop, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6

#12611 v6.6: add dmr to toc
  TOC.md
  releases/release-notes.md
  releases/release-timeline.md
Labels: status/can-merge, status/LGT1, require-LGT1, for-release, v6.6, needs-cherry-pick-release-6.6

#12571 Update built-in-monitoring.md
  tidb-cloud/built-in-monitoring.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/XS, area/tidb-cloud, for-cloud-release

#12448 cloud import: add descriptions about access keys
  tidb-cloud/config-s3-and-gcs-access.md
  tidb-cloud/import-csv-files.md
  tidb-cloud/import-parquet-files.md
  tidb-cloud/import-sample-data.md
  tidb-cloud/tidb-cloud-dm-precheck-and-troubleshooting.md
  tidb-cloud/troubleshoot-import-access-denied-error.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/L, area/dm, area/tidb-cloud, for-release

#12417 add more information to debug TTL
  grafana-tidb-dashboard.md
  media/ttl/delete-fast.png
  media/ttl/insert-fast.png
  media/ttl/scan-fast.png
  mysql-schema.md
  time-to-live.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/L, for-release, v6.6, needs-cherry-pick-release-6.6

#12565 lightning: add a limitation during data migration
  tidb-lightning/tidb-lightning-physical-import-mode.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/XS, area/tidb-lightning, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6

#12619 cloud: fix a tiny error
  tidb-cloud/tidb-cloud-dm-precheck-and-troubleshooting.md
Labels: type/bug-fix, status/can-merge, status/LGT1, translation/no-need, require-LGT1, area/dm, area/tidb-cloud

#12039 Update console audit log feature documentation
  TOC-tidb-cloud.md
  tidb-cloud/manage-user-access.md
  tidb-cloud/tidb-cloud-console-auditing.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/XL, area/tidb-cloud, for-cloud-release, needs-cherry-pick-release-6.5

#12567 cloud: Add `ticloud cluster connect-info` doc
  TOC-tidb-cloud.md
  tidb-cloud/cli-reference.md
  tidb-cloud/ticloud-cluster-connect-info.md
Labels: status/can-merge, status/LGT1, translation/no-need, first-time-contributor, size/M, area/tidb-cloud

#12449 add partitioned raft kv introduction page
  TOC.md
  partitioned-raft-kv.md
  releases/release-6.6.0.md
  tikv-configuration-file.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, first-time-contributor, size/M, v6.6, needs-cherry-pick-release-6.6

#12626 cloud: remove a note about event type
  tidb-cloud/tidb-cloud-console-auditing.md
Labels: status/can-merge, status/LGT1, translation/no-need, area/tidb-cloud

#12426 dr: add four dr solution docs
  TOC.md
  dr-backup-restore.md
  dr-multi-replica.md
  dr-secondary-cluster.md
  dr-solution-introduction.md
  media/dr/bdr-ticdc.png
  media/dr/br-dr.png
  media/dr/dr-backup-and-restore.png
  media/dr/dr-ticdc-secondary-cluster.png
  media/dr/multi-replica-dr.png
  media/dr/rto-rpo.png
  media/dr/ticdc-dr.png
  media/dr/ticdc-multi-replica-dr.png
  media/dr/tidb-architecture.png
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/XXL, area/br

#12627 chore: update pr bot for v7.0
  .github/pull_request_template.md
  scripts/pr_reminder_basedon_assignee.py
Labels: translation/done, status/can-merge, status/LGT1, require-LGT1, size/XS

#12456 index acceleration: not compatible with unique index
  system-variables.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT2, size/XS, area/sql-infra, needs-cherry-pick-release-6.3, needs-cherry-pick-release-6.4, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6

#12455 tidb_enable_ddl: modify the description from "run DDLs" to "become DDL owner"
  system-variables.md
  tidb-configuration-file.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT2, status/PTAL, size/XS, area/sql-infra, ONCALL, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6

#12255 tiup: specify a tag when using playground
  tiup/tiup-playground.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT1, status/LGT2, size/M, area/tiup, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6

#12645 fix format in dr-multi-replica
  dr-multi-replica.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XS, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6

#12643 add minimal storage for pd and tidb
  config-templates/complex-mini.yaml
  config-templates/simple-mini.yaml
  minimal-deployment-topology.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/S, ONCALL, area/deploy-upgrade-maintain, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6

#12655 alert rule: fix the rule of TiKV_scheduler_command_duration_seconds
  alert-rules.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT2, needs-cherry-pick-release-5.0, size/XS, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, ONCALL, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.4, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6

#12457 three dc: set tidb_replica_read to closest-replicas
  best-practices/three-dc-local-read.md
Labels: type/enhancement, requires-version-specific-changes, translation/from-docs-cn, area/best-practices, status/can-merge, status/LGT1, require-LGT1, size/XS, needs-cherry-pick-release-6.4, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6

#12383 Add terraform import resource
  TOC-tidb-cloud.md
  tidb-cloud/terraform-get-tidbcloud-provider.md
  tidb-cloud/terraform-tidbcloud-provider-overview.md
  tidb-cloud/terraform-use-backup-resource.md
  tidb-cloud/terraform-use-cluster-resource.md
  tidb-cloud/terraform-use-import-resource.md
  tidb-cloud/terraform-use-restore-resource.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/XL, area/tidb-cloud

#12669 foreign key: add more description after upgrading to v6.6.0
  constraints.md
  foreign-key.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT2, size/XS, area/sql-infra, needs-cherry-pick-release-6.6

#12673 cloud: update Terraform TOC
  TOC-tidb-cloud.md
  tidb-cloud/terraform-use-import-resource.md
Labels: status/can-merge, status/LGT1, translation/no-need, area/tidb-cloud

#12665 tikv: deprecate enable-statistics
  releases/release-6.6.0.md
  tikv-configuration-file.md
  tune-tikv-memory-performance.md
Labels: translation/done, status/can-merge, status/LGT2, size/S, area/engine, type/compatibility-or-feature-change, needs-cherry-pick-release-6.6

#12679 auto-random: support composite clustered primary key
  auto-random.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT2, size/XS, area/sql-infra, needs-cherry-pick-release-6.4, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6

#12677 ticdc: fix overview and 6.5 release notes
  releases/release-6.5.0.md
  ticdc/ticdc-overview.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT1, status/LGT2, size/XS, area/ticdc, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6

#12683 v6.1: bump version for v6.1.5
  br/backup-and-restore-use-cases.md
  check-before-deployment.md
  dm/quick-start-create-task.md
  download-ecosystem-tools.md
  pd-control.md
  production-deployment-using-tiup.md
  quick-start-with-tidb.md
  scale-tidb-using-tiup.md
  ticdc/manage-ticdc.md
  tidb-binlog/get-started-with-tidb-binlog.md
  tiflash/create-tiflash-replicas.md
  tiup/tiup-cluster.md
  tiup/tiup-component-cluster-deploy.md
  tiup/tiup-component-management.md
  tiup/tiup-mirror.md
  tiup/tiup-playground.md
  upgrade-tidb-using-tiup.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, area/general, size/L

#12671 add v6.1.5 release notes
  TOC.md
  releases/release-6.1.5.md
  releases/release-notes.md
  releases/release-timeline.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, size/M, needs-cherry-pick-release-6.4, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6

#12676 cloud: refine steps for creating access keys
  tidb-cloud/changefeed-sink-to-apache-kafka.md
  tidb-cloud/changefeed-sink-to-mysql.md
  tidb-cloud/config-s3-and-gcs-access.md
Labels: type/enhancement, status/can-merge, status/LGT1, translation/no-need, size/M, area/tidb-cloud

#12644 update build-in-alert doc
  tidb-cloud/monitor-built-in-alerting.md
  tidb-cloud/tidb-cloud-dm-precheck-and-troubleshooting.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/M, area/tidb-cloud, for-cloud-release

#12691 Update release-6.1.5.md to add a link for telemetry
  releases/release-6.1.5.md
Labels: status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/XS, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.4, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6

#12695 cloud: add imports to api resources
  tidb-cloud/api-overview.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/XS, area/tidb-cloud, for-cloud-release

#12649 cloud: update left navigation
  tidb-cloud/built-in-monitoring.md
  tidb-cloud/config-s3-and-gcs-access.md
  tidb-cloud/configure-security-settings.md
  tidb-cloud/connect-via-sql-shell.md
  tidb-cloud/connect-via-standard-connection.md
  tidb-cloud/create-tidb-cluster.md
  tidb-cloud/explore-data-with-chat2query.md
  tidb-cloud/import-csv-files.md
  tidb-cloud/import-parquet-files.md
  tidb-cloud/import-sample-data.md
  tidb-cloud/manage-user-access.md
  tidb-cloud/migrate-data-into-tidb.md
  tidb-cloud/migrate-from-amazon-s3-or-gcs.md
  tidb-cloud/migrate-from-aurora-bulk-import.md
  tidb-cloud/migrate-from-mysql-using-data-migration.md
  tidb-cloud/migrate-sql-shards.md
  tidb-cloud/tidb-cloud-import-local-files.md
  tidb-cloud/tidb-cloud-quickstart.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/M, area/tidb-cloud, for-cloud-release

#12678 cloud: add slow query page to serverless
  tidb-cloud/serverless-tier-limitations.md
  tidb-cloud/tune-performance.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/S, area/tidb-cloud, for-cloud-release

#12692 cloud: add release notes; update roadmap
  tidb-cloud/tidb-cloud-release-notes.md
  tidb-cloud/tidb-cloud-roadmap.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/M, area/tidb-cloud, for-cloud-release
