Repository pingcap/docs, pull requests merged in 2023-05, with the labels that each got.

#12979 select: Add tablesample
  sql-statements/sql-statement-select.md
  tiflash/tiflash-late-materialization.md
Labels: translation/doing, status/can-merge, status/LGT2, size/M, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6, needs-cherry-pick-release-7.0

#13049 Describe `auto_id_cache = 0` behavior
  auto-increment.md
Labels: type/enhancement, translation/doing, status/can-merge, status/LGT2, size/XS, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6, needs-cherry-pick-release-7.0

#13401 update lightning capability desc
  tidb-lightning/tidb-lightning-physical-import-mode.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XS, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6, needs-cherry-pick-release-7.0

#13297 add description about proxy protocol
  command-line-flags-for-tidb-configuration.md
Labels: translation/doing, status/can-merge, status/LGT2, size/XS, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6, needs-cherry-pick-release-7.0

#13409 translate two PRs from pingcap/docs-cn
  system-variables.md
  tidb-configuration-file.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/XS, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6, needs-cherry-pick-release-7.0

#13408 foreign-key: add a note about the usage
  foreign-key.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XS, area/sql-infra, needs-cherry-pick-release-6.6, needs-cherry-pick-release-7.0

#13422 system variable: clarify timezone for tidb_auto_analyze_time
  system-variables.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT2, size/XS, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6, needs-cherry-pick-release-7.0

#13407 chore: add v7.2 to the PR template
  .github/pull_request_template.md
Labels: status/can-merge, status/LGT2, translation/no-need, size/XS

#12746 cloud: update netlify doc
  media/tidb-cloud/integration-netlify-environment-variables.jpg
  tidb-cloud/integrate-tidbcloud-with-netlify.md
  tidb-cloud/ticloud-cluster-connect-info.md
Labels: status/can-merge, status/LGT1, translation/no-need, first-time-contributor, size/L, area/tidb-cloud

#10643 lightning: align error resolution; delete migrate-from-csv
  TOC.md
  ecosystem-tool-user-case.md
  migrate-from-csv-files-to-tidb.md
  tidb-lightning/deploy-tidb-lightning.md
  tidb-lightning/migrate-from-csv-using-tidb-lightning.md
  tidb-lightning/tidb-lightning-error-resolution.md
Labels: type/refactor, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XL, area/tidb-lightning, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6, needs-cherry-pick-release-7.0

#12960 chore: update bot author info and add dup notes for release notes
  scripts/release_notes_update_pr_author_info_add_dup.py
Labels: status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/L

#10982 Add description about PessimisticLockNotFound relating to lazy uniqueness check area/transaction Indicates that the Issue or PR belongs to the area of transaction
  constraints.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/XS, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6, needs-cherry-pick-release-7.0

#13411 update slow query doc
  identify-slow-queries.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT2, size/S, area/diagnosis

#13406 add configuration performance.force-init-stats
  releases/release-7.1.0.md
  tidb-configuration-file.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/XS, type/compatibility-or-feature-change, for-release, v7.1, needs-cherry-pick-release-7.1

#13410 add the doc for cache-prep-stmt
  ticdc/ticdc-sink-to-mysql.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/XS, area/ticdc, needs-cherry-pick-release-7.0

#13392 cloud: update data service docs for multi-region suppport
  tidb-cloud/data-service-get-started.md
  tidb-cloud/data-service-manage-endpoint.md
  tidb-cloud/tidb-cloud-release-notes.md
  tidb-cloud/use-chat2query-api.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/M, area/tidb-cloud, for-cloud-release

#13446 *: sort tools; remove binlog recommendation
  TOC.md
  _index.md
  migration-tools.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/L, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6, needs-cherry-pick-release-7.0

#13444 fix the scope of tidb_enable_gogc_tuner and tidb_gogc_tuner_threshold
  system-variables.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XS, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6, needs-cherry-pick-release-7.0

#13439 Remove TRUNCATE PARTITION as non-supported
  mysql-compatibility.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, needs-cherry-pick-release-3.0, status/LGT1, needs-cherry-pick-release-4.0, require-LGT1, needs-cherry-pick-release-5.0, size/XS, area/sql-infra, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, ONCALL, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6, needs-cherry-pick-release-7.0

#13450 br: change the permission for external storage when do restore
  br/backup-and-restore-storages.md
  br/backup-and-restore-use-cases.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, first-time-contributor, size/XS, v7.1

#13393 sync-diff-inspector: update report result
  sync-diff-inspector/sync-diff-inspector-overview.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/S, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6, needs-cherry-pick-release-7.0

#13482 Modify downstream database permissions
  dm/dm-worker-intro.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XS, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6, needs-cherry-pick-release-7.0

#13472 v7.0: revert default value changes for enable-partition-separator
  ticdc/ticdc-changefeed-config.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XS

#13483 lightning: update distributed import
  tidb-lightning/tidb-lightning-distributed-import.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/S, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6, needs-cherry-pick-release-7.0

#13492 statistics: refine format
  statistics.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/M, area/planner, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6, needs-cherry-pick-release-7.0

#13480 add notice for now usage in stale read
  develop/dev-guide-use-stale-read.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT2, size/XS, area/develop, needs-cherry-pick-release-6.5

#13481 Control Execution Plan: fix long sentences
  control-execution-plan.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XS, needs-cherry-pick-release-6.5

#13434 cloud: provide the SQL Statement tab for Serverless Tier
  tidb-cloud/serverless-tier-limitations.md
  tidb-cloud/tune-performance.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/M, area/tidb-cloud, for-cloud-release

#13432 cloud: Event page supports displaying more event types
  tidb-cloud/tidb-cloud-events.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/S, area/tidb-cloud, for-cloud-release

#13447 cloud: add compression formats
  tidb-cloud/import-csv-files.md
  tidb-cloud/import-sample-data.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/S, area/tidb-cloud, for-cloud-release

#13493 cloud: add release notes for 20230509 release
  tidb-cloud/tidb-cloud-release-notes.md
  tidb-cloud/tidb-cloud-roadmap.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/M, area/tidb-cloud, for-cloud-release

#13491 update description about compatible-kill-query configuration
  tidb-configuration-file.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/XS, area/sql-infra, ONCALL, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6, needs-cherry-pick-release-7.0

#12929 cloud: update Develop Applications Doc
  TOC-tidb-cloud.md
  TOC.md
  develop/dev-guide-choose-driver-or-orm.md
  develop/dev-guide-insert-data.md
  develop/dev-guide-overview.md
  develop/dev-guide-playground-gitpod.md
  develop/dev-guide-prepared-statement.md
  develop/dev-guide-sample-application-golang-gorm.md
  develop/dev-guide-sample-application-golang-sql-driver.md
  develop/dev-guide-sample-application-java-hibernate.md
  develop/dev-guide-sample-application-java-jdbc.md
  develop/dev-guide-sample-application-java-mybatis.md
  develop/dev-guide-sample-application-java-spring-boot.md
  develop/dev-guide-sample-application-python-mysql-connector.md
  develop/dev-guide-sample-application-python-mysqlclient.md
  develop/dev-guide-sample-application-python-peewee.md
  develop/dev-guide-sample-application-python-pymysql.md
  develop/dev-guide-sample-application-python-sqlalchemy.md
  develop/dev-guide-sample-application-python.md
  develop/dev-guide-third-party-support.md
  tidb-cloud/tidb-cloud-guide-sample-application-java.md
Labels: translation/doing, status/can-merge, status/LGT1, first-time-contributor, needs-cherry-pick-master, size/XXL, area/tidb-cloud

#13479 alert rules: update the solution of some rules
  alert-rules.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/S, area/scheduling, ONCALL, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6, needs-cherry-pick-release-7.0

#13533 tispark: remove the svg image
  tispark-overview.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XS, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6, needs-cherry-pick-release-7.0

#13507 change TiCDC to changefeed and label sink to kafka as beta
  TOC-tidb-cloud.md
  tidb-cloud/changefeed-overview.md
  tidb-cloud/changefeed-sink-to-apache-kafka.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/XS, area/tidb-cloud

#13445 ticdc: fix sink uri for storage sink
  ticdc/ticdc-sink-to-cloud-storage.md
  ticdc/ticdc-sink-to-kafka.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/M, ONCALL, area/ticdc, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.0

#13449 add doc for migrating parquet files
  TOC.md
  migrate-from-csv-files-to-tidb.md
  migrate-from-parquet-files-to-tidb.md
  migration-overview.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/L, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6, needs-cherry-pick-release-7.0

#13548 learning path: update the link for deployment on k8s
  _index.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, area/web, ONCALL, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6, needs-cherry-pick-release-7.0, needs-cherry-pick-release-7.1

#13546 add description about force-init-stats in introduction to statistics
  statistics.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT2, area/general, size/XS, v7.1

#13553 resource_control: fix resource group related ebnf syntax
  sql-statements/sql-statement-alter-resource-group.md
  sql-statements/sql-statement-create-resource-group.md
  sql-statements/sql-statement-drop-resource-group.md
  sql-statements/sql-statement-set-resource-group.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/S, needs-cherry-pick-release-7.0

#13518 Add note about SELECT CAST(MeN AS CHAR) incompatibility
  data-type-numeric.md
  functions-and-operators/cast-functions-and-operators.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT2, size/S, area/sql-infra, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6, needs-cherry-pick-release-7.0

#13565 update precision of DATETIME and TIMESTAMP values
  data-type-date-and-time.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/XS, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6, needs-cherry-pick-release-7.0

#13160 chore: migrate to new prow reviewing
  OWNERS
Labels: status/can-merge, needs-cherry-pick-release-3.0, status/LGT2, translation/no-need, needs-cherry-pick-release-4.0, first-time-contributor, needs-cherry-pick-release-5.0, size/M, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6, needs-cherry-pick-release-7.0

#13547 sql-plan-replayer: update description about plan replayer zip file GC strategy
  sql-plan-replayer.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/XS, for-release, v7.1

#13557 disable non-prep plan cache by default
  sql-non-prepared-plan-cache.md
  system-variables.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/S, area/planner, type/compatibility-or-feature-change, v7.1

#13554 Update built-in-monitoring.md
  TOC-tidb-cloud.md
  tidb-cloud/built-in-monitoring.md
  tidb-cloud/third-party-monitoring-integrations.md
  tidb-cloud/tidb-cloud-release-notes.md
  tidb-cloud/tidb-cloud-sql-tuning-overview.md
  tidb-cloud/tune-performance.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/M, area/tidb-cloud

#13581 cloud: add release notes for 20230516
  tidb-cloud/tidb-cloud-release-notes.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/S, area/tidb-cloud, for-cloud-release

#13563 cloud: org sso supports automatic invitation
  tidb-cloud/tidb-cloud-org-sso-authentication.md
Labels: status/can-merge, status/LGT2, translation/no-need, size/M, area/tidb-cloud, for-cloud-release

#13589 foreign_key: fix typo
  foreign-key.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XS, area/sql-infra, needs-cherry-pick-release-6.6, needs-cherry-pick-release-7.0

#13592 how-to-run-sysbench: update cmd
  benchmark/benchmark-tidb-using-sysbench.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XS, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6, needs-cherry-pick-release-7.0, area/performance

#13433 dm: update doc for relay log
  dm/dm-export-import-config.md
  dm/dm-handle-alerts.md
  dm/dm-source-configuration-file.md
  dm/maintain-dm-using-tiup.md
  dm/relay-log.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/L, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6, needs-cherry-pick-release-7.0

#13586 keywords: v7.1 add CLOSE;CONTINUE;CURSOR;DECLARE;ELSEIF;EXIT;FOUND;HA…
  keywords.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/S, for-release, v7.1

#13587 multirocks related config update
  configure-load-base-split.md
  releases/release-7.1.0.md
  tikv-configuration-file.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/M, type/compatibility-or-feature-change, for-release, v7.1

#13583 configuration: add document for the log.timeout configuration
  releases/release-7.1.0.md
  tidb-configuration-file.md
Labels: translation/done, status/can-merge, status/LGT2, size/XS, type/compatibility-or-feature-change, for-release, v7.1

#13412 ticdc: refine the ticdc changefeed configuration file.
  ticdc/ticdc-changefeed-config.md
Labels: translation/done, status/can-merge, status/LGT2, size/M, type/compatibility-or-feature-change, area/ticdc, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6, needs-cherry-pick-release-7.0

#13582 add some missing rocksdb options
  releases/release-6.2.0.md
  releases/release-7.1.0.md
  tikv-configuration-file.md
Labels: translation/done, status/can-merge, status/LGT2, size/S, type/compatibility-or-feature-change, for-release, v7.1

#13195 update reference-style links to inline links
  functions-and-operators/expressions-pushed-down.md
  functions-and-operators/json-functions.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XL

#13468 pd-recovery: add the new way to recover
  pd-recover.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/M, area/scheduling, ONCALL, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6, needs-cherry-pick-release-7.0

#13552 cdc: add some explanations about lossy DDL
  ticdc/ticdc-faq.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/S, area/ticdc, v7.1

#13585 update the behavior change about schedule.enable-diagnostic
  pd-configuration-file.md
  releases/release-7.1.0.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/XS, type/compatibility-or-feature-change, v7.1

#13614 Fix admonitions syntax
  partitioned-table.md
Labels: type/bug-fix, status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/XS

#13601 sql-statements: clarify mysql compatibility of load data
  sql-statements/sql-statement-load-data.md
Labels: translation/from-docs-cn, status/can-merge, needs-cherry-pick-release-3.0, status/LGT1, needs-cherry-pick-release-4.0, require-LGT1, needs-cherry-pick-release-5.0, size/XS, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6, needs-cherry-pick-release-7.0

#13602 tidb cloud: add compression formats
  tidb-cloud/naming-conventions-for-data-import.md
Labels: type/enhancement, status/can-merge, status/LGT1, translation/no-need, size/S, area/tidb-cloud

#13639 ja: fix translation of several system variables
  system-variables.md
Labels: missing-translation-status, size/S

#13606 Revert "sql: GA load data logical mode and add experimental physical mode"
  TOC-tidb-cloud.md
  TOC.md
  basic-features.md
  error-codes.md
  mysql-schema.md
  releases/release-7.0.0.md
  releases/release-7.1.0.md
  sql-statements/sql-statement-load-data.md
  sql-statements/sql-statement-operate-load-data-job.md
  sql-statements/sql-statement-show-load-data.md
  system-variables.md
  tidb-configuration-file.md
Labels: status/can-merge, status/LGT2, translation/no-need, require-LGT1, size/XL, needs-cherry-pick-release-7.0, v7.1

#13605 br: explain more about restore speed in test report
  br/br-pitr-guide.md
  br/use-br-command-line-tool.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT2, size/XS, area/br, needs-cherry-pick-release-6.5

#13637 update Golang version to 1.19
  hardware-and-software-requirements.md
  pd-control.md
  pd-recover.md
  tidb-control.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/XS, needs-cherry-pick-release-6.6

#13638 update Golang version to 1.20
  hardware-and-software-requirements.md
  pd-control.md
  pd-recover.md
  tidb-control.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/XS, needs-cherry-pick-release-7.0

#13540 update some desc about auto-analyze
  keywords.md
  statistics.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT2, size/S, area/planner

#13651 Fix cost time type
  tidb-cloud/tidb-cloud-auditing.md
Labels: type/bug-fix, status/can-merge, status/LGT1, translation/no-need, size/XS, area/tidb-cloud

#13584 ddl: add distributed framework
  TOC-tidb-cloud.md
  TOC.md
  media/dist-task/dist-task-architect.jpg
  system-variables.md
  tidb-distributed-execution-framework.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/L, v7.1

#13636 update issue template chooser
  .github/ISSUE_TEMPLATE/config.yml
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XS

#13258 cdc: the e2e checksum integrity check functionality
  TOC.md
  functions-and-operators/tidb-functions.md
  system-variables.md
  ticdc/ticdc-changefeed-config.md
  ticdc/ticdc-integrity-check.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/L, type/compatibility-or-feature-change, v7.1

#13655 fix: MySQL Connect/Python -> MySQL Connector/Python
  TOC-tidb-cloud.md
  TOC.md
Labels: type/bug-fix, status/can-merge, status/LGT2, translation/no-need, size/XS, area/develop, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6, needs-cherry-pick-release-7.0

#13653 cloud: update doc and release note for the column name rule of uploading csv files
  tidb-cloud/tidb-cloud-import-local-files.md
  tidb-cloud/tidb-cloud-release-notes.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/S, area/tidb-cloud, for-cloud-release

#13304 Add link how to address TiDB_tikvclient_region_err_total
  alert-rules.md
Labels: type/enhancement, translation/done, status/can-merge, status/LGT2, size/XS, area/engine

#13556 resource-control: add dashboard panel
  TOC.md
  dashboard/continuous-profiling.md
  dashboard/dashboard-cluster-info.md
  dashboard/dashboard-diagnostics-access.md
  dashboard/dashboard-intro.md
  dashboard/dashboard-key-visualizer.md
  dashboard/dashboard-log-search.md
  dashboard/dashboard-metrics-relation.md
  dashboard/dashboard-overview.md
  dashboard/dashboard-profiling.md
  dashboard/dashboard-resource-manager.md
  dashboard/dashboard-slow-query.md
  dashboard/dashboard-statement-list.md
  dashboard/top-sql.md
  media/dashboard/dashboard-resource-manager-calibrate-by-hardware.png
  media/dashboard/dashboard-resource-manager-calibrate-by-workload.png
  media/dashboard/dashboard-resource-manager-info.png
  releases/release-7.0.0.md
  releases/release-7.1.0.md
  tidb-resource-control.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/L, area/sql-infra, area/diagnosis, v7.1

#13562 lightning: add parameters to make it more stable to import large mount of data
  releases/release-6.2.0.md
  tidb-lightning/tidb-lightning-configuration.md
  tidb-lightning/tidb-lightning-physical-import-mode-usage.md
  tidb-lightning/tidb-lightning-physical-import-mode.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/M, type/compatibility-or-feature-change, area/tidb-lightning, for-release, v7.1

#13661 update the billing date for serverless
  tidb-cloud/serverless-tier-faqs.md
  tidb-cloud/tidb-cloud-billing.md
  tidb-cloud/tidb-cloud-release-notes.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/XS, area/tidb-cloud

#13501 auth, variables: add description about ldap authentication
  security-compatibility-with-mysql.md
  system-variables.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/L, type/compatibility-or-feature-change, v7.1

#13667 dashboard: fix a render issue
  dashboard/dashboard-resource-manager.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT2, size/XS

#13666 *: add instruction for editing config
  pd-configuration-file.md
  tidb-configuration-file.md
  tiflash/tiflash-configuration.md
  tikv-configuration-file.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/S, ONCALL, area/deploy-upgrade-maintain, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6, needs-cherry-pick-release-7.0

#13669 br: fix a command error
  br/backup-storage-gcs.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XS, ONCALL, area/br

#13675 tiflash: add description about behavior after executing ALTER DATABASE
  tiflash/create-tiflash-replicas.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/S, ONCALL, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6, needs-cherry-pick-release-7.0, needs-cherry-pick-release-7.1

#13664 ticdc: Fix some ticdc docs master 6.5
  ticdc/ticdc-changefeed-config.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/M, needs-cherry-pick-release-6.5

#13665 fix ticdc config descriptions in 6.1
  ticdc/manage-ticdc.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/S

#13663 add doc for smooth upgrade
  TOC.md
  faq/upgrade-faq.md
  smooth-upgrade-tidb.md
  upgrade-tidb-using-tiup.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/M, v7.1

#13660 *: update GCP name to Google Cloud
  basic-features.md
  faq/deploy-and-maintain-faq.md
  releases/release-6.3.0.md
  styles/Vocab/PingCAP/reject.txt
  tiflash/tiflash-configuration.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/S

#13683 auto-random.md: add description about max allocation times
  auto-random.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT2, size/S, ONCALL, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6, needs-cherry-pick-release-7.0

#13682 Fix doc wrong related with `substring` which can be pushed down now
  predicate-push-down.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT2, size/S, area/sql-infra, ONCALL, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6, needs-cherry-pick-release-7.0, needs-cherry-pick-release-7.1

#13561 support openEuler 22.03 LTS SP1 x86
  hardware-and-software-requirements.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/XS, for-release, v7.1

#13702 update hardware-and-software-requirements for v7.1
  hardware-and-software-requirements.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/M

#13698 update absolute links in learning path and others
  TOC.md
  _index.md
  dashboard/dashboard-user.md
  dm/task-configuration-file-full.md
  migrate-large-mysql-shards-to-tidb.md
  migrate-small-mysql-shards-to-tidb.md
  ticdc/ticdc-changefeed-config.md
  tidb-lightning/tidb-lightning-configuration.md
  tidb-roadmap.md
  tiflash/tiflash-configuration.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XL, for-release

#13707 update link for dev-guide-sample-application-python
  _index.md
  develop/dev-guide-sample-application-java-spring-boot.md
  develop/dev-guide-sample-application-python.md
Labels: status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/XXL, area/develop, needs-cherry-pick-release-7.1

#13694 Fix pages linking to the old MySQL Internals Manual
  best-practices/java-app-best-practices.md
  develop/dev-guide-connect-to-tidb.md
  dm/dm-glossary.md
  tidb-configuration-file.md
Labels: translation/done, status/can-merge, status/LGT1, require-LGT1, size/S, needs-cherry-pick-release-7.1

#13706 ticdc: add docs for insecure-skip-verify
  ticdc/ticdc-sink-to-kafka.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/XS, v7.1, needs-cherry-pick-release-7.1

#13274 update usage limitation of partitioned-raft-kv
  partitioned-raft-kv.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/XS, v7.1, needs-cherry-pick-release-7.1

#13693 Update tidb-cloud-events.md
  tidb-cloud/tidb-cloud-events.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/XS, area/tidb-cloud, for-cloud-release

#13681 cloud: remove playground
  tidb-cloud/tidb-cloud-glossary.md
  tidb-cloud/tidb-cloud-intro.md
  tidb-cloud/tidb-cloud-quickstart.md
  tidb-cloud/tidb-cloud-roadmap.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/M, area/tidb-cloud, for-cloud-release

#13704 cloud dm: add start position for incremental data migration
  TOC-tidb-cloud.md
  tidb-cloud/migrate-from-mysql-using-data-migration.md
  tidb-cloud/migrate-incremental-data-from-mysql-using-data-migration.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/XL, area/dm, area/tidb-cloud, for-cloud-release, needs-cherry-pick-release-7.1

#13714 cloud: add release notes for 20230530
  tidb-cloud/tidb-cloud-release-notes.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/S, area/tidb-cloud, for-cloud-release

#13705 update README for v7.1
  README.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XS, needs-cherry-pick-release-7.1

#13710 Revert "ddl: add admin pause/resume commands"
  basic-features.md
  ddl-introduction.md
  releases/release-7.1.0.md
  smooth-upgrade-tidb.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/S, v7.1, needs-cherry-pick-release-7.1

#13713 *: add a limit for smooth upgrade
  smooth-upgrade-tidb.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XS, v7.1, needs-cherry-pick-release-7.1

#13722 flashback: add alert msg in flashback statement
  sql-statements/sql-statement-flashback-to-timestamp.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, needs-cherry-pick-master, size/S, area/sql-infra, for-release, v7.1

#13696 /doc/tidb-cloud add tpcc 7.1 test result
  TOC-tidb-cloud.md
  media/tidb-cloud/v7.1.0-tpmC.png
  tidb-cloud/v7.1.0-performance-benchmarking-with-tpcc.md
Labels: status/can-merge, status/LGT2, translation/no-need, first-time-contributor, size/L, area/tidb-cloud, for-release, v7.1

#13517 basic features: update v7.1 features
  basic-features.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/S, for-release, v7.1, needs-cherry-pick-release-7.1

#13697 bump tool versions for v7.1
  br/backup-and-restore-use-cases.md
  dm/quick-start-create-task.md
  pd-control.md
  ticdc/deploy-ticdc.md
  tidb-binlog/get-started-with-tidb-binlog.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/S, for-release, v7.1, needs-cherry-pick-release-7.1

#13718 use sentence case for heading2
  tikv-overview.md
Labels: status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/XS

#13719 use sentence case for heading2
  tikv-overview.md
Labels: status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/XS
