Repository pingcap/docs, pull requests merged in 2023-01, with the labels that each got.

#11869 Update clinic-introduction.md
  clinic/clinic-introduction.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XS, area/clinic, needs-cherry-pick-release-6.0, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2, needs-cherry-pick-release-6.3, needs-cherry-pick-release-6.4, needs-cherry-pick-release-6.5

#11870 add aliases for br snapshot guide
  br/br-snapshot-guide.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XS, area/br

#11378 Integrate with Amazon AppFlow
  TOC-tidb-cloud.md
  TOC.md
  develop/dev-guide-aws-appflow-integration.md
  media/develop/aws-appflow-step-add-mapping-rule.png
  media/develop/aws-appflow-step-allow-salesforce.png
  media/develop/aws-appflow-step-complete-flow.png
  media/develop/aws-appflow-step-complete-step1.png
  media/develop/aws-appflow-step-connect-to-salesforce.png
  media/develop/aws-appflow-step-create-flow.png
  media/develop/aws-appflow-step-database.png
  media/develop/aws-appflow-step-filters.png
  media/develop/aws-appflow-step-lambda-dashboard.png
  media/develop/aws-appflow-step-mapping-a-rule.png
  media/develop/aws-appflow-step-name-flow.png
  media/develop/aws-appflow-step-register-connector-dialog.png
  media/develop/aws-appflow-step-register-connector.png
  media/develop/aws-appflow-step-review.png
  media/develop/aws-appflow-step-run-flow.png
  media/develop/aws-appflow-step-run-success.png
  media/develop/aws-appflow-step-salesforce-data.png
  media/develop/aws-appflow-step-salesforce-source.png
  media/develop/aws-appflow-step-show-all-mapping-rules.png
  media/develop/aws-appflow-step-tidb-connection-message.png
  media/develop/aws-appflow-step-tidb-dest.png
Labels: translation/doing, status/can-merge, status/LGT2, size/L, area/develop, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2, needs-cherry-pick-release-6.3, needs-cherry-pick-release-6.4, needs-cherry-pick-release-6.5

#11882 troubleshooting: add a few links to map
  tidb-troubleshooting-map.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT2, size/S, needs-cherry-pick-release-6.4, needs-cherry-pick-release-6.5

#11889 add aliases for br docs in 6.5 branch
  br/backup-and-restore-overview.md
  br/backup-and-restore-storages.md
  br/backup-and-restore-use-cases.md
  br/br-pitr-guide.md
  br/br-pitr-manual.md
  faq/backup-and-restore-faq.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XS

#11888 Update TiDB Cloud security docs organization
  TOC-tidb-cloud.md
Labels: status/can-merge, status/LGT2, translation/no-need, area/security, size/S, area/tidb-cloud

#11594 cloud: add n8n doc
  TOC-tidb-cloud.md
  media/tidb-cloud/integration-n8n-workflow-rss.jpg
  tidb-cloud/integrate-tidbcloud-with-n8n.md
Labels: status/can-merge, status/LGT1, translation/no-need, first-time-contributor, size/XL, area/tidb-cloud

#11887 add reasons why TLS 1.0 and TLS 1.1 not support
  tidb-cloud/secure-connections-to-serverless-tier-clusters.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/XS, area/tidb-cloud

#11892 cloud: update integrate-tidbcloud-with-netlify.md
  tidb-cloud/integrate-tidbcloud-with-netlify.md
Labels: status/can-merge, status/LGT1, translation/no-need, first-time-contributor, size/XS, area/tidb-cloud

#11884 releases: add summary and update wording
  releases/release-6.1.0.md
  releases/release-6.5.0.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/S, needs-cherry-pick-release-6.5

#11883 update steps for cluster page changes
  develop/dev-guide-bookshop-schema-design.md
  develop/dev-guide-build-cluster-in-cloud.md
  develop/dev-guide-insert-data.md
  develop/dev-guide-proxysql-integration.md
  media/tidb-cloud/aws-dms-tidb-cloud/aws-dms-to-tidb-cloud-ca.png
  media/tidb-cloud/aws-dms-tidb-cloud/aws-dms-to-tidb-cloud-connect.png
  media/tidb-cloud/aws-dms-tidb-cloud/aws-dms-to-tidb-cloud-traffic-filter.png
  media/tidb-cloud/aws-dms-tidb-cloud/aws-dms-to-tidb-cloud-vpc-peering.png
  media/tidb-cloud/tidb-cloud-upload-local-files.png
  tidb-cloud/backup-and-restore.md
  tidb-cloud/built-in-monitoring.md
  tidb-cloud/changefeed-overview.md
  tidb-cloud/changefeed-replication.md
  tidb-cloud/changefeed-sink-to-apache-kafka.md
  tidb-cloud/changefeed-sink-to-mysql.md
  tidb-cloud/config-s3-and-gcs-access.md
  tidb-cloud/configure-security-settings.md
  tidb-cloud/connect-to-tidb-cluster.md
  tidb-cloud/connect-via-sql-shell.md
  tidb-cloud/connect-via-standard-connection.md
  tidb-cloud/create-tidb-cluster.md
  tidb-cloud/delete-tidb-cluster.md
  tidb-cloud/export-data-from-tidb-cloud.md
  tidb-cloud/import-csv-files.md
  tidb-cloud/import-parquet-files.md
  tidb-cloud/import-sample-data.md
  tidb-cloud/integrate-tidbcloud-with-airbyte.md
  tidb-cloud/integrate-tidbcloud-with-dbt.md
  tidb-cloud/integrate-tidbcloud-with-netlify.md
  tidb-cloud/integrate-tidbcloud-with-vercel.md
  tidb-cloud/manage-user-access.md
  tidb-cloud/migrate-data-into-tidb.md
  tidb-cloud/migrate-from-amazon-s3-or-gcs.md
  tidb-cloud/migrate-from-aurora-bulk-import.md
  tidb-cloud/migrate-from-mysql-using-aws-dms.md
  tidb-cloud/migrate-from-mysql-using-data-migration.md
  tidb-cloud/migrate-from-oracle-using-aws-dms.md
  tidb-cloud/migrate-sql-shards.md
  tidb-cloud/monitor-built-in-alerting.md
  tidb-cloud/monitor-datadog-integration.md
  tidb-cloud/monitor-prometheus-and-grafana-integration.md
  tidb-cloud/monitor-tidb-cluster.md
  tidb-cloud/pause-or-resume-tidb-cluster.md
  tidb-cloud/scale-tidb-cluster.md
  tidb-cloud/select-cluster-tier.md
  tidb-cloud/set-up-private-endpoint-connections.md
  tidb-cloud/set-up-vpc-peering-connections.md
  tidb-cloud/third-party-monitoring-integrations.md
  tidb-cloud/tidb-cloud-import-local-files.md
  tidb-cloud/tidb-cloud-quickstart.md
Labels: status/can-merge, status/LGT2, translation/no-need, size/XXL, area/tidb-cloud

#11893 Update Vercel Integration Doc
  media/tidb-cloud/integration-vercel-configuration-page.png
  media/tidb-cloud/integration-vercel-environment-variables.png
  media/tidb-cloud/integration-vercel-link-page.png
  tidb-cloud/integrate-tidbcloud-with-vercel.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/M, area/tidb-cloud

#10821 cloud: support scale up for dedicated tiers
  tidb-cloud/scale-tidb-cluster.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/S, area/tidb-cloud, for-cloud-release

#11074 Update built-in-monitoring.md
  tidb-cloud/built-in-monitoring.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/XS, area/tidb-cloud, for-cloud-release

#11731 Update monitor-prometheus-and-grafana-integration.md
  tidb-cloud/monitor-prometheus-and-grafana-integration-grafana-dashboard-UI.json
  tidb-cloud/monitor-prometheus-and-grafana-integration.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/XXL, area/tidb-cloud, for-cloud-release

#11891 cloud: add release note 20230104
  TOC-tidb-cloud.md
  tidb-cloud/_index.md
  tidb-cloud/release-notes-2022.md
  tidb-cloud/serverless-tier-faqs.md
  tidb-cloud/tidb-cloud-faq.md
  tidb-cloud/tidb-cloud-release-notes.md
  tidb-cloud/tidb-cloud-roadmap.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/M, area/tidb-cloud, for-cloud-release

#11898 cloud: Fix dashboard json link
  tidb-cloud/monitor-prometheus-and-grafana-integration.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/XS, area/tidb-cloud

#11897 import: added a screenshot for importing local files
  media/tidb-cloud/tidb-cloud-upload-local-files.png
  tidb-cloud/tidb-cloud-import-local-files.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/XS, area/tidb-cloud

#11899 Upgrade Serverless Tier TiDB to 6.4
  tidb-cloud/tidb-cloud-release-notes.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/XS, area/tidb-cloud, for-cloud-release

#11901 fix a typo in subquery optimization
  subquery-optimization.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT1, status/LGT2, needs-cherry-pick-release-5.0, size/XS, area/planner, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, ONCALL, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5

#11910 [Update] Spring Boot reversion and remove all of the copyable marks
  develop/dev-guide-bookshop-schema-design.md
  develop/dev-guide-build-cluster-in-cloud.md
  develop/dev-guide-choose-driver-or-orm.md
  develop/dev-guide-connect-to-tidb.md
  develop/dev-guide-connection-parameters.md
  develop/dev-guide-create-database.md
  develop/dev-guide-create-secondary-indexes.md
  develop/dev-guide-create-table.md
  develop/dev-guide-delete-data.md
  develop/dev-guide-hybrid-oltp-and-olap-queries.md
  develop/dev-guide-implicit-type-conversion.md
  develop/dev-guide-index-best-practice.md
  develop/dev-guide-insert-data.md
  develop/dev-guide-join-tables.md
  develop/dev-guide-optimistic-and-pessimistic-transaction.md
  develop/dev-guide-optimize-sql-best-practices.md
  develop/dev-guide-optimize-sql.md
  develop/dev-guide-outdated-for-django.md
  develop/dev-guide-outdated-for-python-mysql-connector.md
  develop/dev-guide-outdated-for-sqlalchemy.md
  develop/dev-guide-paginate-results.md
  develop/dev-guide-prepared-statement.md
  develop/dev-guide-sample-application-golang.md
  develop/dev-guide-sample-application-java.md
  develop/dev-guide-sample-application-spring-boot.md
  develop/dev-guide-tidb-crud-sql.md
  develop/dev-guide-transaction-overview.md
  develop/dev-guide-transaction-restraints.md
  develop/dev-guide-unstable-result-set.md
  develop/dev-guide-update-data.md
  develop/dev-guide-use-common-table-expression.md
  develop/dev-guide-use-follower-read.md
  develop/dev-guide-use-stale-read.md
  develop/dev-guide-use-subqueries.md
  develop/dev-guide-use-temporary-tables.md
  develop/dev-guide-use-views.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/XXL, area/develop, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2, needs-cherry-pick-release-6.3, needs-cherry-pick-release-6.4, needs-cherry-pick-release-6.5

#11915 tidb configuration file: adjust the position of temp-dir
  tidb-configuration-file.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/S, ONCALL, needs-cherry-pick-release-6.3, needs-cherry-pick-release-6.4, needs-cherry-pick-release-6.5

#11931 Update serverless-tier-limitations.md
  tidb-cloud/serverless-tier-limitations.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/XS, area/tidb-cloud

#11922 Update production-deployment-using-tiup.md
  production-deployment-using-tiup.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/S, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.4, needs-cherry-pick-release-6.5

#11927 sql: fix ebnf diagram
  sql-statements/sql-statement-alter-user.md
  sql-statements/sql-statement-create-user.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XS, area/sql-infra, ONCALL, needs-cherry-pick-release-6.5

#11923 cloud dm: update description about internet fees
  tidb-cloud/csv-config-for-import-data.md
  tidb-cloud/tidb-cloud-billing-dm.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/XS, area/tidb-cloud

#11936 TiFlash: add a section of data compaction
  tiflash/tune-tiflash-performance.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, status/LGT2, size/S, area/bigdata, needs-cherry-pick-release-6.5

#11712 Update the variable max_prepared_stmt_count
  system-variables.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, status/LGT2, size/XS, area/planner, ONCALL, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2, needs-cherry-pick-release-6.3, needs-cherry-pick-release-6.4, needs-cherry-pick-release-6.5

#11942 More verbose status
  dashboard/dashboard-cluster-info.md
  tiup/tiup-command-status.md
  tiup/tiup-component-cluster-display.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, needs-cherry-pick-release-5.0, size/M, area/diagnosis, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, ONCALL, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5

#11648 Add cloudflare intergration
  TOC-tidb-cloud.md
  media/tidb-cloud/cloudflare/cloudflare-project.png
  media/tidb-cloud/cloudflare/cloudflare-start.png
  tidb-cloud/integrate-tidbcloud-with-cloudflare.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/L, area/tidb-cloud

#11961 fix cdc consistent config
  ticdc/ticdc-sink-to-mysql.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, status/LGT2, size/XS, area/ticdc, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5

#11686 split statement: add a description
  sql-statements/sql-statement-split-region.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XS, ONCALL, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.4, needs-cherry-pick-release-6.5

#11929 Add SSO Authentication description of TiDB Cloud
  TOC-tidb-cloud.md
  tidb-cloud/tidb-cloud-sso-authentication.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/M, area/tidb-cloud

#11951 mysql-compatibility: refined descriptions about lower_case_table_names
  mysql-compatibility.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT2, size/XS, ONCALL, needs-cherry-pick-release-6.5

#11960 docs: replace_ddl_fast_reorg_desc
  system-variables.md
Labels: type/enhancement, translation/doing, status/can-merge, status/LGT2, first-time-contributor, size/XS, needs-cherry-pick-release-6.5

#11959 cloud: add doc for Chat2Query
  TOC-tidb-cloud.md
  tidb-cloud/connect-to-tidb-cluster.md
  tidb-cloud/explore-data-with-chat2query.md
  tidb-cloud/tidb-cloud-quickstart.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/L, area/tidb-cloud

#11962 Update br compatibility
  br/backup-and-restore-overview.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, status/LGT2, size/S, area/br, needs-cherry-pick-release-6.5

#11937 cloud: update info about getting support
  tidb-cloud/tidb-cloud-poc.md
  tidb-cloud/tidb-cloud-support.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/M, area/tidb-cloud, for-release

#11966 dm in cloud: updated docs as per new ui changes
  tidb-cloud/import-csv-files.md
  tidb-cloud/import-parquet-files.md
  tidb-cloud/import-sample-data.md
  tidb-cloud/tidb-cloud-import-local-files.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/M, area/tidb-cloud

#11971 cloud: add release note for 20230110
  tidb-cloud/tidb-cloud-release-notes.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/S, area/tidb-cloud, for-release

#11963 tiup: update cluster display and add audit cleanup.md
  TOC.md
  dashboard/dashboard-cluster-info.md
  tiup/tiup-command-status.md
  tiup/tiup-component-cluster-audit-cleanup.md
  tiup/tiup-component-cluster-display.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/M, area/tiup, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.0, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2, needs-cherry-pick-release-6.3, needs-cherry-pick-release-6.4, needs-cherry-pick-release-6.5

#11990 develop: archived -> legacy
  TOC.md
  develop/dev-guide-outdated-for-django.md
  develop/dev-guide-outdated-for-python-mysql-connector.md
  develop/dev-guide-outdated-for-sqlalchemy.md
Labels: status/can-merge, status/LGT2, translation/no-need, size/XS, area/develop, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2, needs-cherry-pick-release-6.3, needs-cherry-pick-release-6.4, needs-cherry-pick-release-6.5

#11976 revise plan replayer load
  sql-plan-replayer.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/M, area/planner, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2, needs-cherry-pick-release-6.3, needs-cherry-pick-release-6.4, needs-cherry-pick-release-6.5

#11977 Update sql-statement-admin-show-ddl.md
  TOC-tidb-cloud.md
  TOC.md
  sql-statements/sql-statement-admin-cancel-ddl.md
  sql-statements/sql-statement-admin-show-ddl.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, needs-cherry-pick-release-5.0, area/sql-infra, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.0, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2, needs-cherry-pick-release-6.3, needs-cherry-pick-release-6.4, needs-cherry-pick-release-6.5

#11651 ticdc: refine some descriptions
  migrate-from-tidb-to-mysql.md
  migrate-from-tidb-to-tidb.md
  replicate-between-primary-and-secondary-clusters.md
  replicate-data-to-kafka.md
  ticdc/deploy-ticdc.md
  ticdc/integrate-confluent-using-ticdc.md
  ticdc/monitor-ticdc.md
  ticdc/ticdc-architecture.md
  ticdc/ticdc-avro-protocol.md
  ticdc/ticdc-canal-json.md
  ticdc/ticdc-changefeed-config.md
  ticdc/ticdc-compatibility.md
  ticdc/ticdc-faq.md
  ticdc/ticdc-manage-changefeed.md
  ticdc/ticdc-server-config.md
  ticdc/ticdc-sink-to-mysql.md
  ticdc/troubleshoot-ticdc.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT1, status/LGT2, size/L, area/ticdc, needs-cherry-pick-release-6.5

#12021 ttl: improve seo
  time-to-live.md
Labels: type/enhancement, translation/doing, status/can-merge, status/LGT1, require-LGT1, size/XS, area/sql-infra, needs-cherry-pick-release-6.5

#11999 Update usage scenarios for placement-rules-in-sql.md
  placement-rules-in-sql.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XS, area/sql-infra, needs-cherry-pick-release-6.0, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2, needs-cherry-pick-release-6.3, needs-cherry-pick-release-6.4, needs-cherry-pick-release-6.5

#11935 update a ddl command
  placement-rules-in-sql.md
  sql-statements/sql-statement-recover-table.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XS, area/sql-infra, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.0, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2, needs-cherry-pick-release-6.3, needs-cherry-pick-release-6.4, needs-cherry-pick-release-6.5

#11950 add IP access list of TiDB Cloud
  TOC-tidb-cloud.md
  tidb-cloud/configure-ip-access-list.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/M, area/tidb-cloud, needs-cherry-pick-release-6.5

#12042 add examples in tiflash docs
  tiflash/tiflash-results-materialization.md
  tiflash/tiflash-supported-pushdown-calculations.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT1, status/LGT2, size/L, area/bigdata, needs-cherry-pick-release-6.5

#12044 add tiflash execution tuning materials
  tiflash/tune-tiflash-performance.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, status/LGT2, size/L, area/bigdata, needs-cherry-pick-release-6.5

#11944 Update TLS Connect to Serverless Tier of TiDB Cloud
  TOC-tidb-cloud.md
  tidb-cloud/configure-security-settings.md
  tidb-cloud/connect-via-standard-connection.md
  tidb-cloud/export-data-from-tidb-cloud.md
  tidb-cloud/secure-connections-to-serverless-tier-clusters.md
  tidb-cloud/select-cluster-tier.md
  tidb-cloud/serverless-tier-faqs.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/L, area/tidb-cloud, needs-cherry-pick-release-6.5

#12055 ticdc:fix wrong jdbc sqlite url in ticdc confluent integration doc
  ticdc/integrate-confluent-using-ticdc.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, needs-cherry-pick-release-4.0, require-LGT1, needs-cherry-pick-release-5.0, size/XS, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, area/ticdc

#11287 Synchronise the syntax tree with drop stats
  sql-statements/sql-statement-drop-stats.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XS, needs-cherry-pick-release-6.5

#12043 dm: changed version to variable
  tidb-cloud/migrate-sql-shards.md
Labels: status/can-merge, status/LGT1, translation/no-need, area/dm, area/tidb-cloud, needs-cherry-pick-release-6.5

#11467 release note v6.3.0: reduce the impact of big queries
  releases/release-6.3.0.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XS, needs-cherry-pick-release-6.3, needs-cherry-pick-release-6.4, needs-cherry-pick-release-6.5

#12054 add desc for tiflash system tables
  TOC.md
  information-schema/information-schema-tiflash-segments.md
  information-schema/information-schema-tiflash-tables.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, status/LGT2, size/L, area/bigdata, ONCALL, needs-cherry-pick-release-6.5

#11979 cloud dm: add seoul region
  tidb-cloud/backup-and-restore.md
  tidb-cloud/migrate-from-mysql-using-data-migration.md
  tidb-cloud/tidb-cloud-billing-dm.md
  tidb-cloud/tidb-cloud-billing-ticdc-rcu.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/M, area/tidb-cloud, for-cloud-release, needs-cherry-pick-release-6.5

#12064 dumpling: refined as per cn doc
  backup-and-restore-using-dumpling-lightning.md
  dumpling-overview.md
  migrate-large-mysql-shards-to-tidb.md
  migrate-large-mysql-to-tidb.md
  read-historical-data.md
  tidb-cloud/migrate-sql-shards.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, needs-cherry-pick-release-4.0, require-LGT1, needs-cherry-pick-release-5.0, size/L, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, area/dumpling, needs-cherry-pick-release-6.0, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2, needs-cherry-pick-release-6.3, needs-cherry-pick-release-6.4, needs-cherry-pick-release-6.5

#12076 cloud dm: deleted not-null and null in csv config
  tidb-cloud/csv-config-for-import-data.md
  tidb-cloud/import-csv-files.md
  tidb-cloud/migrate-sql-shards.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/M, area/dm, area/tidb-cloud, needs-cherry-pick-release-6.5

#12080 Add compression to TiCDC Kafka sink config
  ticdc/ticdc-sink-to-kafka.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT2, size/XS, area/ticdc, needs-cherry-pick-release-6.5

#12081 Add compression to TiCDC Kafka sink config 5.0-6.4
  ticdc/manage-ticdc.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, status/LGT2, needs-cherry-pick-release-5.0, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, area/ticdc, needs-cherry-pick-release-6.0, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2, needs-cherry-pick-release-6.3

#12082 cloud: update quick start for Serverless Tier cluster creation
  develop/dev-guide-build-cluster-in-cloud.md
  tidb-cloud/tidb-cloud-quickstart.md
Labels: translation/doing, status/can-merge, status/LGT1, size/S, area/tidb-cloud, for-cloud-release, needs-cherry-pick-release-6.5

#12077 cloud: add release note for 20230117
  tidb-cloud/tidb-cloud-release-notes.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/S, area/tidb-cloud, for-release, needs-cherry-pick-release-6.5

#9036 slow_query: update the doc
  identify-slow-queries.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/S, area/diagnosis, needs-cherry-pick-release-6.0, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2, needs-cherry-pick-release-6.3, needs-cherry-pick-release-6.4, needs-cherry-pick-release-6.5

#12127 dumpling: fix a tag error
  dumpling-overview.md
Labels: type/bug-fix, status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/XS, needs-cherry-pick-release-5.4, area/dumpling

#11916 Update JDBC information
  best-practices/java-app-best-practices.md
  develop/dev-guide-choose-driver-or-orm.md
  develop/dev-guide-connection-parameters.md
  faq/tidb-faq.md
  tispark-overview.md
Labels: type/enhancement, translation/doing, status/can-merge, status/LGT2, size/S, area/develop, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2, needs-cherry-pick-release-6.3, needs-cherry-pick-release-6.4, needs-cherry-pick-release-6.5

#12041 cloud: add doc changes for v6.5
  TOC-tidb-cloud.md
  best-practices/uuid.md
  develop/dev-guide-choose-driver-or-orm.md
  explain-subqueries.md
  information-schema/information-schema.md
  optimizer-hints.md
  sql-prepared-plan-cache.md
  sql-statements/sql-statement-commit.md
  sql-statements/sql-statement-flashback-to-timestamp.md
  sql-statements/sql-statement-rollback.md
  stale-read.md
  statistics.md
  system-variables.md
  tidb-cloud/serverless-tier-limitations.md
Labels: status/can-merge, status/LGT2, translation/no-need, needs-cherry-pick-master, size/L, area/tidb-cloud

#10635 Update tiflash-overview.md
  tiflash/tiflash-overview.md
Labels: type/enhancement, translation/doing, status/can-merge, status/LGT1, status/LGT2, size/XS, needs-cherry-pick-release-6.4, needs-cherry-pick-release-6.5

#12124 lightning: fix a typo
  tidb-lightning/tidb-lightning-error-resolution.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XS, needs-cherry-pick-release-5.4, area/tidb-lightning, needs-cherry-pick-release-6.0, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2, needs-cherry-pick-release-6.3, needs-cherry-pick-release-6.4, needs-cherry-pick-release-6.5

#12152 add notice of tiflash avx2
  hardware-and-software-requirements.md
  upgrade-tidb-using-tiup.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT1, status/LGT2, size/XS, area/bigdata, needs-cherry-pick-release-6.3, needs-cherry-pick-release-6.4, needs-cherry-pick-release-6.5

#12108 adjust the order of titles under Reference in TOC
  TOC.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/M, needs-cherry-pick-release-6.5

#12120 Update upgrade-tidb-using-tiup.md
  upgrade-tidb-using-tiup.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, status/LGT2, size/XS, area/tiup, needs-cherry-pick-release-6.5

#12129 tiflash: clarify signature of function date_add push down
  releases/release-5.4.0.md
  tiflash/tiflash-supported-pushdown-calculations.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT1, status/LGT2, size/XS, area/bigdata, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2, needs-cherry-pick-release-6.3, needs-cherry-pick-release-6.4, needs-cherry-pick-release-6.5

#12123 tikv: fix anchor link
  tikv-configuration-file.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XS, needs-cherry-pick-release-6.0, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2, needs-cherry-pick-release-6.3, needs-cherry-pick-release-6.4, needs-cherry-pick-release-6.5

#12141 fix a typo of create_time
  tidb-lightning/tidb-lightning-error-resolution.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XS, ONCALL, needs-cherry-pick-release-5.4, area/tidb-lightning, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.4, needs-cherry-pick-release-6.5

#12136 cloud: support Microsoft SSO
  tidb-cloud/create-tidb-cluster.md
  tidb-cloud/manage-user-access.md
  tidb-cloud/tidb-cloud-password-authentication.md
  tidb-cloud/tidb-cloud-quickstart.md
  tidb-cloud/tidb-cloud-release-notes.md
  tidb-cloud/tidb-cloud-sso-authentication.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/M, area/tidb-cloud, for-release

#12083 dashboard: update console media to v6.5
  dashboard/dashboard-cluster-info.md
  dashboard/dashboard-diagnostics-access.md
  dashboard/dashboard-key-visualizer.md
  dashboard/dashboard-metrics-relation.md
  dashboard/dashboard-overview.md
  dashboard/dashboard-session-share.md
  media/dashboard/dashboard-cluster-info-access-v650.png
  media/dashboard/dashboard-cluster-info-disks-v650.png
  media/dashboard/dashboard-cluster-info-hosts-v650.png
  media/dashboard/dashboard-cluster-info-instances-v650.png
  media/dashboard/dashboard-diagnostics-access-v650.png
  media/dashboard/dashboard-diagnostics-gen-compare-report-v650.png
  media/dashboard/dashboard-diagnostics-gen-process-v650.png
  media/dashboard/dashboard-diagnostics-gen-report-v650.png
  media/dashboard/dashboard-keyviz-access-v650.png
  media/dashboard/dashboard-metrics-relation-home-v650.png
  media/dashboard/dashboard-overview-access-v650.png
  media/dashboard/dashboard-session-share-settings-1-v650.png
  media/dashboard/dashboard-session-share-settings-2-v650.png
  media/dashboard/dashboard-session-share-settings-3-v650.png
  media/dashboard/dashboard-session-share-signin-1-v650.png
  media/dashboard/dashboard-session-share-signin-2-v650.png
  media/dashboard/dashboard-session-share-signin-3-v650.png
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/M, area/diagnosis, needs-cherry-pick-release-6.5

#12179 develop: remove details of mysql compatibility
  develop/dev-guide-choose-driver-or-orm.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT2, size/S, area/develop, needs-cherry-pick-release-6.4, needs-cherry-pick-release-6.5

#11793 Update enable-tls-between-components and add TLS rotation description
  enable-tls-between-components.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, area/security, size/S, needs-cherry-pick-release-6.5

#12078 dm: split dm features into several docs
  TOC.md
  dm/dm-binlog-event-filter.md
  dm/dm-block-allow-table-lists.md
  dm/dm-faq.md
  dm/dm-glossary.md
  dm/dm-handle-performance-issues.md
  dm/dm-key-features.md
  dm/dm-online-ddl-tool-support.md
  dm/dm-overview.md
  dm/dm-shard-merge.md
  dm/dm-source-configuration-file.md
  dm/dm-table-routing.md
  dm/dm-task-configuration-guide.md
  dm/feature-shard-merge-pessimistic.md
  dm/shard-merge-best-practices.md
  dm/task-configuration-file-full.md
  migrate-small-mysql-shards-to-tidb.md
  releases/release-6.4.0.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XXL, ONCALL, area/dm, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.4, needs-cherry-pick-release-6.5

#12186 *: merge experimental-feature.md to basic-features.md
  TOC.md
  basic-features.md
  experimental-features.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT1, area/general, require-LGT1, size/L, needs-cherry-pick-release-6.5

#12074 add a tutorial of ycsb bench in TiUP
  tiup/tiup-bench.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/M, area/tiup, needs-cherry-pick-release-6.2

#12072 br: add aliases to export backup using dumpling
  backup-and-restore-using-dumpling-lightning.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XS

#12073 [Update] Add TiSpark telemetry
  telemetry.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT1, status/LGT2, size/S, area/diagnosis, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2, needs-cherry-pick-release-6.3, needs-cherry-pick-release-6.4, needs-cherry-pick-release-6.5

#12050 Add TLS Connect to Dedicated Tier of TiDB Cloud
  TOC-tidb-cloud.md
  tidb-cloud/secure-connections-to-serverless-tier-clusters.md
  tidb-cloud/tidb-cloud-tls-connect-to-dedicated-tier.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/XL, area/tidb-cloud, needs-cherry-pick-release-6.5

#12197 add more sql example for Tiflash perf tuning
  tiflash/tune-tiflash-performance.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT1, status/LGT2, size/XL, area/bigdata, needs-cherry-pick-release-6.5

#11912 statistics.md: update the content of analyze version2 OOM handling
  statistics.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/XS, area/planner, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, ONCALL, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.4, needs-cherry-pick-release-6.5

#11913 mysql-schema.md: update system tables
  mysql-schema.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT2, size/S, area/sql-infra, ONCALL, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.4, needs-cherry-pick-release-6.5

#12223 sql-plan-replayer.md: fix typo
  sql-plan-replayer.md
Labels: type/bug-fix, status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/XS, area/planner, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.4, needs-cherry-pick-release-6.5

#12119 fix typo in subquery optimization
  subquery-optimization.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, needs-cherry-pick-release-4.0, require-LGT1, needs-cherry-pick-release-5.0, size/XS, area/planner, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, ONCALL, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.0, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2, needs-cherry-pick-release-6.3, needs-cherry-pick-release-6.4, needs-cherry-pick-release-6.5

#12156 migrate: update config comments in migrate to aurora
  migrate-aurora-to-tidb.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XS, area/migrate, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.4, needs-cherry-pick-release-6.5

#12122 dm: fix duplicate content
  tidb-lightning/tidb-lightning-error-resolution.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/S, area/dm, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2, needs-cherry-pick-release-6.3, needs-cherry-pick-release-6.4, needs-cherry-pick-release-6.5

#12258 lightning: improve wording for the description of config on-duplicate
  tidb-lightning/tidb-lightning-configuration.md
Labels: requires-version-specific-changes, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XS, ONCALL, area/tidb-lightning, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.4, needs-cherry-pick-release-6.5

#12097 dm: add doc for dm's ddl compatibility
  TOC.md
  dm/dm-ddl-compatible.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/L, area/dm, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.2, needs-cherry-pick-release-6.3, needs-cherry-pick-release-6.4, needs-cherry-pick-release-6.5

#12135 tikv: add more description for config max-bytes-for-level-base
  tikv-configuration-file.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XS, area/engine, ONCALL, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5

#12250 Fix a typo in upgrade-tidb-using-tiup.md
  upgrade-tidb-using-tiup.md
Labels: type/bug-fix, status/can-merge, status/LGT1, translation/no-need, size/XS, ONCALL

#12257 Fix mistranslation in titan-overview.md
  storage-engine/titan-overview.md
Labels: type/bug-fix, status/can-merge, status/LGT2, translation/no-need, needs-cherry-pick-release-4.0, require-LGT1, needs-cherry-pick-release-5.0, size/XS, area/engine, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, ONCALL, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.4, needs-cherry-pick-release-6.5

#12274 cloud changefeed: add cloud changefeed states
  tidb-cloud/changefeed-overview.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/S, area/ticdc, area/tidb-cloud

#12254 tiflash: polish the format of dt_compression_level
  tiflash/tiflash-configuration.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT1, status/LGT2, size/XS, area/bigdata, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.3, needs-cherry-pick-release-6.4, needs-cherry-pick-release-6.5

#12256 binlog: add Create View to privileges required by Pump
  tidb-binlog/tidb-binlog-faq.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT2, needs-cherry-pick-release-5.0, size/XS, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, area/tidb-binlog, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.3, needs-cherry-pick-release-6.4, needs-cherry-pick-release-6.5

#12270 Update _index.md
  _index.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, area/general, require-LGT1, size/XS, needs-cherry-pick-release-6.5

#12253 cloud: add a note for requesting database audit logging
  tidb-cloud/tidb-cloud-auditing.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/XS, area/tidb-cloud

#12140 cloud dm: added instructions for configuring vpc peering and precheck messages
  TOC-tidb-cloud.md
  tidb-cloud/changefeed-overview.md
  tidb-cloud/import-sample-data.md
  tidb-cloud/migrate-from-mysql-using-data-migration.md
  tidb-cloud/tidb-cloud-dm-precheck-and-troubleshooting.md
  tidb-cloud/tidb-cloud-quickstart.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/L, area/dm, area/tidb-cloud

#12190 br: add a PITR FAQ to backup and restore FAQs
  faq/backup-and-restore-faq.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/XS, needs-cherry-pick-release-6.5

#12313 cloud dm: fix details format issue
  tidb-cloud/migrate-from-mysql-using-data-migration.md
Labels: type/bug-fix, status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/S, area/dm, area/tidb-cloud

#12319 ticdc: update architecture figure
  media/ticdc/ticdc-architecture-6.jpg
  ticdc/ticdc-architecture.md
Labels: type/bug-fix, translation/done, status/can-merge, status/LGT1, status/LGT2, size/XS, area/ticdc, needs-cherry-pick-release-6.5

#12273 [TiUP] add support check the yaml file before scale out
  tiup/tiup-component-cluster-check.md
Labels: type/enhancement, translation/done, status/can-merge, status/LGT1, status/LGT2, first-time-contributor, size/S, ONCALL, needs-cherry-pick-release-6.4, needs-cherry-pick-release-6.5
