Repository pingcap/docs, pull requests merged in 2023-04, with the labels that each got.

#12904 partitioned-table: fix a command
  partitioned-table.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/S, area/planner, ONCALL, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6, needs-cherry-pick-release-7.0

#13056 foreign-key: add note about inline references
  foreign-key.md
Labels: type/enhancement, translation/doing, status/can-merge, status/LGT2, size/S, area/sql-infra, needs-cherry-pick-release-6.6, needs-cherry-pick-release-7.0

#13092 TTL: fix SQL statement
  time-to-live.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT2, size/XS, ONCALL, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6, needs-cherry-pick-release-7.0

#13105 chore: update pr template for v7.1
  .github/pull_request_template.md
Labels: translation/done, status/can-merge, status/LGT1, require-LGT1, size/XS

#13107 bump version for upgrade guide
  upgrade-tidb-using-tiup.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XS, area/deploy-upgrade-maintain, needs-cherry-pick-release-7.0

#13099 import: adjust for new local import
  tidb-cloud/tidb-cloud-import-local-files.md
Labels: status/can-merge, status/LGT2, translation/no-need, size/XS, area/tidb-cloud, for-cloud-release, needs-cherry-pick-release-6.5

#13109 lightning: update descriptions of some parameters
  tidb-lightning/tidb-lightning-configuration.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/S, area/tidb-lightning, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.3, needs-cherry-pick-release-6.4, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.2, needs-cherry-pick-release-6.6, needs-cherry-pick-release-7.0

#13118 basic features: update user-level lock
  basic-features.md
Labels: type/bug-fix, status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/XS, needs-cherry-pick-release-7.0

#13088 fix statement summary table descriptions and add warning message of drop table
  sql-statements/sql-statement-drop-table.md
  statement-summary-tables.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT2, size/S, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.4, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6, needs-cherry-pick-release-7.0

#13087 translate four pingcap/docs-cn PRs
  benchmark/benchmark-tidb-using-ch.md
  releases/release-6.4.0.md
  system-variables.md
  tidb-configuration-file.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/S, needs-cherry-pick-release-6.4, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6, needs-cherry-pick-release-7.0

#13094 cloud: update help info
  tidb-cloud/changefeed-replication.md
  tidb-cloud/manage-user-access.md
  tidb-cloud/tidb-cloud-auditing.md
  tidb-cloud/tidb-cloud-console-auditing.md
  tidb-cloud/tidb-cloud-support.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/S, area/tidb-cloud, for-cloud-release

#13009 add a new page: Getting Started Tutorials
  tidb-cloud/tidb-cloud-quickstart.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/XS, area/tidb-cloud, for-cloud-release

#13120 cloud: add release notes
  tidb-cloud/tidb-cloud-release-notes.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/M, area/tidb-cloud, for-cloud-release

#13015 fix the rule of PD_miss_peer_region_count
  alert-rules.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, needs-cherry-pick-release-5.0, size/XS, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6, needs-cherry-pick-release-7.0

#13080 planner: supply privilege description binding need
  sql-plan-management.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/S, area/planner, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6, needs-cherry-pick-release-7.0

#13034 ci: remove assignees in Links, update the deprecated set-output command
  .github/workflows/dispatch.yml
  .github/workflows/link-fail-fast.yaml
  .github/workflows/link.yaml
Labels: translation/doing, status/can-merge, status/LGT2, require-LGT1, needs-cherry-pick-release-5.0, size/XS, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6, needs-cherry-pick-release-7.0

#13086 Lightning: fix default value in configuration
  tidb-lightning/tidb-lightning-configuration.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/XS, ONCALL, area/tidb-lightning, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6, needs-cherry-pick-release-7.0

#12928 Add ilike pushdown function for tiflash
  functions-and-operators/operators.md
  releases/release-7.0.0.md
  tiflash/tiflash-supported-pushdown-calculations.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/S, area/bigdata, v7.0, needs-cherry-pick-release-7.0

#13091 Add the incompatibility about `grant` and `revoke`
  sql-statements/sql-statement-grant-privileges.md
  sql-statements/sql-statement-revoke-privileges.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/XS, area/sql-infra, needs-cherry-pick-release-7.0

#13153 add tidb roadmap
  TOC.md
  _index.md
  tidb-roadmap.md
Labels: requires-version-specific-changes, translation/doing, status/can-merge, status/LGT1, area/general, require-LGT1, size/XL, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6, needs-cherry-pick-release-7.0

#13090 planner: supply description about plan cache supporting limit
  releases/release-6.6.0.md
  sql-prepared-plan-cache.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/XS, area/sql-infra, ONCALL, needs-cherry-pick-release-6.6, needs-cherry-pick-release-7.0

#13089 tidb: add missing labels in config file
  TOC.md
  tidb-configuration-file.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/S, ONCALL, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6, needs-cherry-pick-release-7.0

#12155 dm: add a faq about view in dm faq
  dm/dm-faq.md
  dm/dm-overview.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XS, area/tidb-lightning, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6, needs-cherry-pick-release-7.0

#13189 ci: update lycheeignore
  .lycheeignore
Labels: status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/XS

#13193 sync-diff-inspector: update images for sync diff
  sync-diff-inspector/sync-diff-inspector-overview.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XS, area/sync-diff-inspector

#13201 ci: update specified actions to the latest version
  .github/workflows/ci.yaml
  .github/workflows/link-fail-fast.yaml
  .github/workflows/link.yaml
  .github/workflows/media.yml
  .github/workflows/rebase.yml
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, needs-cherry-pick-release-5.0, size/S, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6, needs-cherry-pick-release-7.0

#8996 add doc for dm safe mode
  TOC.md
  dm/dm-safe-mode.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT2, size/L, area/dm, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6, needs-cherry-pick-release-7.0

#13093 cloud: use node-level resource metrics for monitoring
  tidb-cloud/built-in-monitoring.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/S, area/tidb-cloud, for-cloud-release

#13196 Prometheus Integartion supports ChangeFeed Metrics
  tidb-cloud/monitor-prometheus-and-grafana-integration-grafana-dashboard-UI.json
  tidb-cloud/monitor-prometheus-and-grafana-integration.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/XL, area/tidb-cloud, for-cloud-release

#13197 NewRelic Integration
  TOC-tidb-cloud.md
  tidb-cloud/monitor-new-relic-integration.md
  tidb-cloud/third-party-monitoring-integrations.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/XS, area/tidb-cloud, for-cloud-release

#13215 cloud: add release notes
  tidb-cloud/tidb-cloud-release-notes.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/M, area/tidb-cloud, for-cloud-release

#13085 Add link how to address TiKV_pending_task alert
  alert-rules.md
Labels: type/enhancement, translation/doing, status/can-merge, status/LGT2, size/XS, area/diagnosis, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6, needs-cherry-pick-release-7.0

#13222 bump version for v6.1.6
  br/backup-and-restore-use-cases.md
  check-before-deployment.md
  dm/quick-start-create-task.md
  download-ecosystem-tools.md
  pd-control.md
  production-deployment-using-tiup.md
  quick-start-with-tidb.md
  scale-tidb-using-tiup.md
  ticdc/manage-ticdc.md
  tidb-binlog/get-started-with-tidb-binlog.md
  tiflash/create-tiflash-replicas.md
  tiup/tiup-cluster.md
  tiup/tiup-component-cluster-deploy.md
  tiup/tiup-component-cluster-patch.md
  tiup/tiup-component-management.md
  tiup/tiup-mirror.md
  tiup/tiup-playground.md
  upgrade-tidb-using-tiup.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/L

#13170 *: add release notes for 6.1.6
  TOC.md
  releases/release-6.1.6.md
  releases/release-notes.md
  releases/release-timeline.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/L, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6, needs-cherry-pick-release-7.0

#13234 Update the Grafana Json to master
  tidb-cloud/monitor-prometheus-and-grafana-integration-grafana-dashboard-UI.json
Labels: status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/XL, area/tidb-cloud

#13232 Fix Grafana Json Link
  tidb-cloud/monitor-prometheus-and-grafana-integration.md
Labels: status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/XS, area/tidb-cloud

#13238 resource_control: add a example to reset user resource group to default value
  sql-statements/sql-statement-alter-user.md
  sql-statements/sql-statement-create-resource-group.md
  tidb-resource-control.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/M, area/sql-infra, needs-cherry-pick-release-7.0

#13230 resource-control: add the error number comments
  error-codes.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/S, area/sql-infra, needs-cherry-pick-release-6.6, needs-cherry-pick-release-7.0

#13198 ticdc: add cdc summary monitor
  TOC.md
  media/ticdc/ticdc-summary-monitor-changefeed.png
  media/ticdc/ticdc-summary-monitor-cloud-storage.png
  media/ticdc/ticdc-summary-monitor-dataflow-mounter.png
  media/ticdc/ticdc-summary-monitor-dataflow-puller.png
  media/ticdc/ticdc-summary-monitor-dataflow-sink.png
  media/ticdc/ticdc-summary-monitor-dataflow-sorter.png
  media/ticdc/ticdc-summary-monitor-mq-sink.png
  media/ticdc/ticdc-summary-monitor-redo.png
  media/ticdc/ticdc-summary-monitor-server.png
  media/ticdc/ticdc-summary-monitor-transaction-sink.png
  media/ticdc/ticdc-summary-monitor.png
  ticdc/monitor-ticdc.md
  ticdc/ticdc-summary-monitor.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/L, area/ticdc, needs-cherry-pick-release-7.0

#13255 *: add mirror dependency on CPU
  hardware-and-software-requirements.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, area/general, require-LGT1, size/S, ONCALL, needs-cherry-pick-release-6.6, needs-cherry-pick-release-7.0

#13249 cloud dm: support scaling migration jobs
  tidb-cloud/migrate-from-mysql-using-data-migration.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/S, area/dm, area/tidb-cloud, for-cloud-release

#13254 Update the warning for `--proxy-protocol-networks`
  command-line-flags-for-tidb-configuration.md
Labels: type/enhancement, translation/doing, status/can-merge, status/LGT2, size/XS, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6, needs-cherry-pick-release-7.0

#12188 dm: add dml replication logic
  TOC.md
  dm/dm-replication-logic.md
  media/dm/dm-dml-replication-logic.png
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/L, area/dm, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6, needs-cherry-pick-release-7.0

#13244 cloud: update cluster creation steps
  develop/dev-guide-build-cluster-in-cloud.md
  tidb-cloud/create-tidb-cluster.md
  tidb-cloud/tidb-cloud-quickstart.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/M, area/tidb-cloud, for-cloud-release

#13248 cloud: add doc for discounts page
  tidb-cloud/tidb-cloud-billing.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/S, area/tidb-cloud, for-cloud-release

#13259 cloud: add release notes
  tidb-cloud/tidb-cloud-release-notes.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/S, area/tidb-cloud, for-cloud-release

#12138 dumpling: update the --rows description
  dumpling-overview.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/S, area/dumpling, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6, needs-cherry-pick-release-7.0

#12118 optimizer: remove dup plan in explain index
  explain-indexes.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, needs-cherry-pick-release-4.0, require-LGT1, needs-cherry-pick-release-5.0, size/XS, area/planner, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, ONCALL, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6, needs-cherry-pick-release-7.0

#11717 lightning: improve description of physical mode limitations
  tidb-lightning/tidb-lightning-physical-import-mode.md
Labels: type/enhancement, translation/doing, status/can-merge, status/LGT1, require-LGT1, size/XS, ONCALL, area/tidb-lightning, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6, needs-cherry-pick-release-7.0

#13247 document `tidb_load_based_replica_read_threshold`
  system-variables.md
  troubleshoot-hot-spot-issues.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/S, type/compatibility-or-feature-change, v7.1

#13303 system-variables: update description of datadir
  system-variables.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, type/compatibility-or-feature-change, ONCALL, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6, needs-cherry-pick-release-7.0, needs-cherry-pick-release-7.1

#13246 *: update doc for generated columns GA
  develop/dev-guide-create-table.md
  develop/dev-guide-schema-design-overview.md
  generated-columns.md
  time-to-live.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/S, v7.1

#13273 add 6.5.2 release notes
  TOC.md
  releases/release-6.5.2.md
  releases/release-notes.md
  releases/release-timeline.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/L, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6, needs-cherry-pick-release-7.0

#13308 bump version for v6.5.2
  br/backup-and-restore-use-cases.md
  dm/maintain-dm-using-tiup.md
  dm/quick-start-create-task.md
  pd-control.md
  production-deployment-using-tiup.md
  quick-start-with-tidb.md
  scale-tidb-using-tiup.md
  ticdc/deploy-ticdc.md
  ticdc/ticdc-changefeed-config.md
  ticdc/ticdc-changefeed-overview.md
  ticdc/ticdc-manage-changefeed.md
  ticdc/ticdc-sink-to-cloud-storage.md
  tidb-binlog/get-started-with-tidb-binlog.md
  tidb-cloud/export-data-from-tidb-cloud.md
  tiflash/create-tiflash-replicas.md
  tiup/tiup-cluster.md
  tiup/tiup-component-cluster-deploy.md
  tiup/tiup-component-cluster-patch.md
  tiup/tiup-component-cluster-upgrade.md
  tiup/tiup-component-dm-upgrade.md
  tiup/tiup-component-management.md
  tiup/tiup-mirror.md
  tiup/tiup-playground.md
  upgrade-tidb-using-tiup.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/L

#13268 plan-replayer, slow-queries: update new diagnostic information in tidb
  identify-slow-queries.md
  sql-plan-replayer.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, area/general, size/XS, v7.1

#13315 add max sleep second limitation for serverless
  tidb-cloud/serverless-tier-limitations.md
Labels: status/can-merge, status/LGT1, translation/no-need, first-time-contributor, size/XS, area/tidb-cloud

#13316 v6.5: modify default value descriptions for enable-partition-separator
  releases/release-6.5.2.md
  ticdc/ticdc-changefeed-config.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XS, type/compatibility-or-feature-change

#13253 Update Keywords
  keywords.md
  scripts/check-keywords.sh
Labels: type/enhancement, translation/doing, status/can-merge, status/LGT2, size/L

#13319 *: correct TiDB disk type
  hardware-and-software-requirements.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/XS, ONCALL

#13269 *: add configuration performance lite-init-stats
  statistics.md
  tidb-configuration-file.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, area/general, require-LGT1, size/S, type/compatibility-or-feature-change, v7.1

#13271 system-variables: add `tidb_opt_fix_control`
  control-execution-plan.md
  system-variables.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/S, type/compatibility-or-feature-change, v7.1

#13318 sql-plan: add description about plan baseline
  sql-plan-management.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XS, area/sql-infra, ONCALL

#13270 sql-statement: calibrate resource support workload
  privilege-management.md
  sql-statements/sql-statement-calibrate-resource.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/L, area/sql-infra, v7.1

#13310 sql: GA load data logical mode and add experimental physical mode
  error-codes.md
  sql-statements/sql-statement-load-data.md
  sql-statements/sql-statement-operate-load-data-job.md
  sql-statements/sql-statement-show-load-data.md
  tidb-configuration-file.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/L, area/sql-infra, type/compatibility-or-feature-change, v7.1

#13300 resource control: GA for 7.1
  information-schema/information-schema-resource-groups.md
  tidb-resource-control.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/M, area/sql-infra, v7.1

#13324 release notes: fix a version error
  releases/release-7.0.0.md
Labels: type/bug-fix, status/can-merge, status/LGT1, translation/no-need, require-LGT1, needs-cherry-pick-release-7.0

#13284 planner: update the doc of non-prepared plan cache
  best-practices/pd-scheduling-best-practices.md
  information-schema/information-schema-tidb-indexes.md
  media/non-prepapred-plan-cache-unsupprot.png
  partitioned-table.md
  pd-control.md
  pd-recover.md
  sql-non-prepared-plan-cache.md
  sql-prepared-plan-cache.md
  system-variables.md
  troubleshoot-lock-conflicts.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/L, area/planner, type/compatibility-or-feature-change, v7.1

#13272 br: restore checkpoint
  TOC.md
  br/br-checkpoint-backup.md
  br/br-checkpoint-restore.md
  releases/release-6.5.0.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/M, area/br, v7.1

#13327 tiup: fix the scale-out yaml example
  scale-tidb-using-tiup.md
  ticdc/deploy-ticdc.md
  tidb-cloud/migrate-from-op-tidb.md
  tiup/tiup-component-cluster-check.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT2, size/M, area/tiup, ONCALL, needs-cherry-pick-release-5.4, area/deploy-upgrade-maintain, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6, needs-cherry-pick-release-7.0

#13298 system variable: rename tidb_ddl_distribute_reorg to tidb_enable_dist_task
  releases/release-6.6.0.md
  system-variables.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/S, v7.1

#13336 system-variables: update the default value of datadir
  system-variables.md
Labels: translation/done, status/can-merge, status/LGT1, require-LGT1, size/S, type/compatibility-or-feature-change, ONCALL, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6, needs-cherry-pick-release-7.0

#13338 lihgtning: add parrallel import method
  tidb-lightning/tidb-lightning-physical-import-mode.md
Labels: type/enhancement, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XS, area/tidb-lightning, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6, needs-cherry-pick-release-7.0, needs-cherry-pick-release-7.1

#13294 ddl: add admin pause/resume commands
  ddl-introduction.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XS, v7.1

#13334 credits: remove outdated contributor link and repos
  credits.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, needs-cherry-pick-release-5.0, size/XS, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6, needs-cherry-pick-release-7.0

#13245 sql: update doc for multi-valued index GA
  choose-index.md
  sql-statements/sql-statement-create-index.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/S, v7.1

#13161 Make INTERVAL Partitioning GA
  partitioned-table.md
Labels: translation/done, status/can-merge, status/LGT2, size/XS, area/sql-infra, v7.1

#13236 TiFlash late materialization GA
  system-variables.md
  tiflash/tiflash-late-materialization.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, first-time-contributor, size/M, area/bigdata, v7.1

#13235 Remove TiFlash http service
  config-templates/complex-tiflash.yaml
  hardware-and-software-requirements.md
  tiflash/tiflash-configuration.md
  tiup/tiup-cluster-topology-reference.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, first-time-contributor, size/XS, area/bigdata, v7.1

#13237 add sys variables `tidb_prefer_broadcast_join_by_exchange_data_size` to docs
  system-variables.md
  tiflash/use-tiflash-mpp-mode.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/S, v7.1

#13217 Update S3 TiFlash doc
  tiflash/tiflash-disaggregated-and-s3.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/S, area/bigdata, v7.1

#13178 add description about the compatibility with tools for multi-valued index
  sql-statements/sql-statement-create-index.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/S, area/sql-infra, needs-cherry-pick-release-6.6

#13320 cloud: add the maintenance window doc
  TOC-tidb-cloud.md
  tidb-cloud/configure-maintenance-window.md
  tidb-cloud/monitor-tidb-cluster.md
  tidb-cloud/serverless-tier-limitations.md
  tidb-cloud/tidb-cloud-console-auditing.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/L, area/tidb-cloud, for-cloud-release

#13162 Added COALESCE PARTITION
  glossary.md
  mysql-compatibility.md
  partitioned-table.md
Labels: translation/done, status/can-merge, status/LGT2, size/L, area/sql-infra, v7.1

#13326 import: update import UI
  tidb-cloud/import-csv-files.md
  tidb-cloud/import-parquet-files.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/XS, area/dm, area/tidb-cloud, for-cloud-release

#13335 cloud: update docs for serverless billing
  TOC-tidb-cloud.md
  tidb-cloud/built-in-monitoring.md
  tidb-cloud/create-tidb-cluster.md
  tidb-cloud/integrate-tidbcloud-with-zapier.md
  tidb-cloud/manage-serverless-spend-limit.md
  tidb-cloud/migrate-from-oracle-using-aws-dms.md
  tidb-cloud/select-cluster-tier.md
  tidb-cloud/serverless-tier-faqs.md
  tidb-cloud/serverless-tier-limitations.md
  tidb-cloud/tidb-cloud-billing.md
  tidb-cloud/tidb-cloud-console-auditing.md
  tidb-cloud/tidb-cloud-glossary.md
  tidb-cloud/tidb-cloud-poc.md
  tidb-cloud/tidb-cloud-quickstart.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/L, area/tidb-cloud, for-cloud-release

#13168 Add serverless backup and restore document
  tidb-cloud/backup-and-restore.md
  tidb-cloud/serverless-tier-limitations.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/L, area/tidb-cloud, for-cloud-release

#13333 cloud: update built-in-monitoring.md
  tidb-cloud/built-in-monitoring.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/M, area/tidb-cloud, for-cloud-release

#13356 cloud: add release notes
  tidb-cloud/tidb-cloud-release-notes.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/M, area/tidb-cloud, for-cloud-release

#13357 v7.1: modify default value descriptions for enable-partition-separator
  ticdc/ticdc-changefeed-config.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, area/ticdc, v7.1

#13250 update doc for insert select pushdown to tiflash
  system-variables.md
  tiflash/tiflash-results-materialization.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/S, area/bigdata, v7.1

#13337 ticdc: fix the description of safe-mode
  ticdc/ticdc-faq.md
Labels: type/bug-fix, translation/done, status/can-merge, status/LGT2, size/XS, ONCALL, area/ticdc, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6, needs-cherry-pick-release-7.0

#13363 tiup: update the default value of transfer-timeout from 300 to 600
  dm/maintain-dm-using-tiup.md
  maintain-tidb-using-tiup.md
  tiup/tiup-cluster.md
  tiup/tiup-component-cluster-patch.md
  tiup/tiup-component-cluster-reload.md
  tiup/tiup-component-cluster-scale-in.md
  tiup/tiup-component-cluster-upgrade.md
Labels: type/bug-fix, translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/M, area/tiup, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6, needs-cherry-pick-release-7.0

#13317 pd: add `store-limit-version` config to switch the different strategy
  configure-store-limit.md
  pd-configuration-file.md
  pd-control.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, first-time-contributor, size/S, type/compatibility-or-feature-change, v7.1

#13309 system-variables: update `tidb_ddl_enable_fast_reorg`
  system-variables.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/XS, v7.1

#13354 planner: add doc for the new variable tidb_plan_cache_max_plan_size
  sql-non-prepared-plan-cache.md
  sql-prepared-plan-cache.md
  system-variables.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/S, type/compatibility-or-feature-change, v7.1

#13367 cloud: update the note for load balancing
  tidb-cloud/tidb-cloud-release-notes.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/XS, ONCALL, area/tidb-cloud, for-cloud-release

#13368 ja: fix website build error
  dm/dm-best-practices.md
  functions-and-operators/expressions-pushed-down.md
Labels: translation/no-need, size/M

#13371 add a note on max_prepared_stmt_count for 6.5.2
  releases/release-6.5.2.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XS, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6, needs-cherry-pick-release-7.0

#13240 releases: add TiDB 7.1.0 release notes (preview version)
  TOC.md
  releases/release-7.1.0.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/XL, for-release, v7.1

#13299 update basic features for 7.1
  basic-features.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT2, size/XL, for-release, v7.1

#13380 v7.1: update the description of fast online ddl
  releases/release-7.1.0.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/XS

#13381 lightning: fix typo
  tidb-lightning/tidb-lightning-physical-import-mode.md
Labels: type/bug-fix, status/can-merge, status/LGT1, translation/no-need, require-LGT1, size/XS, ONCALL, area/tidb-lightning, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6, needs-cherry-pick-release-7.0

#13376 Update Lightning import error handling
  tidb-lightning/tidb-lightning-distributed-import.md
Labels: translation/from-docs-cn, status/can-merge, status/LGT1, require-LGT1, size/S, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-6.6, needs-cherry-pick-release-7.0

#13394 cloud: fix a link to basic SSO
  tidb-cloud/tidb-cloud-org-sso-authentication.md
Labels: status/can-merge, status/LGT1, translation/no-need, size/XS, area/tidb-cloud, for-cloud-release
