Repository pingcap/docs, pull requests merged in 2023-08, with the labels that each got.

#14397 cloud: update "Dedicated Tier" to "TiDB Dedicated" for Chat2Query related content
  tidb-cloud/connect-to-tidb-cluster.md
  tidb-cloud/explore-data-with-chat2query.md
Labels: translation/no-need, size/XS, for-cloud-release, approved, lgtm

#14395 add cron job scripts
  latest_translation_commit.json
  package-lock.json
  package.json
  scripts/filterUpdateFiles.js
Labels: translation/no-need, size/XXL, approved, lgtm

#14291 data service: support OpenAPI Specification
  TOC-tidb-cloud.md
  tidb-cloud/data-service-app-config-files.md
  tidb-cloud/data-service-get-started.md
  tidb-cloud/data-service-manage-data-app.md
  tidb-cloud/data-service-manage-endpoint.md
  tidb-cloud/data-service-manage-github-connection.md
  tidb-cloud/data-service-oas-with-nextjs.md
Labels: translation/no-need, size/XL, area/tidb-cloud, for-cloud-release, approved, lgtm

#14375 Cloud: run Data App in Postman
  TOC-tidb-cloud.md
  tidb-cloud/data-service-manage-data-app.md
  tidb-cloud/data-service-manage-endpoint.md
  tidb-cloud/data-service-postman-integration.md
Labels: translation/no-need, size/L, area/tidb-cloud, for-cloud-release, needs-1-more-lgtm, approved, lgtm

#14376 cloud: add the cluster pausing status
  tidb-cloud/monitor-tidb-cluster.md
  tidb-cloud/pause-or-resume-tidb-cluster.md
Labels: translation/no-need, size/S, area/tidb-cloud, for-cloud-release, needs-1-more-lgtm, approved, lgtm

#14391 release notes 20230801
  tidb-cloud/tidb-cloud-release-notes.md
Labels: translation/no-need, size/S, area/tidb-cloud, for-cloud-release, approved, lgtm

#14399 fix: add missing "step" in data-service-oas-with-nextjs.md
  tidb-cloud/data-service-oas-with-nextjs.md
Labels: type/bug-fix, translation/no-need, size/XS, area/tidb-cloud, needs-1-more-lgtm, approved, lgtm

#14372 fix: gorm serverless dsn
  develop/dev-guide-sample-application-golang-gorm.md
  develop/dev-guide-sample-application-golang-sql-driver.md
Labels: translation/done, size/S, area/develop, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.0, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.2

#14080 release note scripts: add the function of writing dup release notes to the template .md
  resources/doc-templates/patch_release_note_template_zh.md
  scripts/release_notes_update_pr_author_info_add_dup.py
Labels: translation/no-need, size/XL, needs-1-more-lgtm, approved, lgtm

#14356 br: support to write/ready azure blobs with customer provided key
  br/backup-and-restore-storages.md
  encryption-at-rest.md
Labels: translation/from-docs-cn, size/M, area/br, needs-1-more-lgtm, approved, lgtm, v7.3

#14394 dumpling: refined description about the -r parameter
  dumpling-overview.md
Labels: type/enhancement, translation/from-docs-cn, size/XS, area/dumpling, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.0, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.2

#14354 ticdc: add docs for old value behavior
  ticdc/ticdc-avro-protocol.md
  ticdc/ticdc-csv.md
  ticdc/ticdc-faq.md
  ticdc/ticdc-sink-to-kafka.md
Labels: type/enhancement, translation/from-docs-cn, size/M, area/ticdc, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.2

#14398 fix: correct whitespace usage
  dashboard/dashboard-ops-reverse-proxy.md
  dashboard/dashboard-session-sso.md
  develop/dev-guide-unstable-result-set.md
  dm/feature-online-ddl.md
  enable-tls-between-components.md
  quick-start-with-htap.md
  schedule-replicas-by-topology-labels.md
  sql-plan-management.md
  statistics.md
  ticdc/deploy-ticdc.md
  ticdc/integrate-confluent-using-ticdc.md
  tidb-cloud/integrate-tidbcloud-with-dbt.md
  tidb-cloud/integrate-tidbcloud-with-zapier.md
  tidb-cloud/terraform-get-tidbcloud-provider.md
  tidb-cloud/terraform-use-cluster-resource.md
  tiflash/create-tiflash-replicas.md
  tiflash/troubleshoot-tiflash.md
  tiup/tiup-bench.md
Labels: type/bug-fix, translation/from-docs-cn, size/XXL, needs-1-more-lgtm, approved, lgtm

#14390 Update the version to 7.1
  .github/workflows/cron.yml
Labels: translation/no-need, first-time-contributor, size/L, approved, lgtm

#14234 resource_control: RU info in explain analyze
  sql-statements/sql-statement-explain-analyze.md
  tidb-resource-control.md
Labels: translation/from-docs-cn, size/S, needs-cherry-pick-release-7.0, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.2

#14351 add calibrate resource error and metrics description
  dashboard/dashboard-resource-manager.md
  grafana-resource-control-dashboard.md
  sql-statements/sql-statement-calibrate-resource.md
Labels: translation/from-docs-cn, size/S, area/sql-infra, approved, lgtm, needs-cherry-pick-release-7.2

#14302 cloud import: create a troubleshooting section
  tidb-cloud/import-csv-files.md
  tidb-cloud/import-parquet-files.md
Labels: type/enhancement, translation/no-need, size/M, area/tidb-cloud, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm

#14396 optimizer: add docs for shared cte and explain enhancement
  explain-walkthrough.md
  system-variables.md
Labels: translation/from-docs-cn, size/M, type/compatibility-or-feature-change, needs-1-more-lgtm, approved, lgtm, v7.3

#14393 cdc add docs about handle-key only
  ticdc/ticdc-sink-to-kafka.md
Labels: translation/from-docs-cn, size/M, approved, lgtm, v7.3

#14412 Fix typo `AnlyzeOption` should be `AnalyzeOption`
  sql-statements/sql-statement-analyze-table.md
Labels: type/bug-fix, translation/done, size/XS, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.0, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.2

#14303 lightning: add enable-diagnose-logs param
  tidb-lightning/tidb-lightning-configuration.md
Labels: translation/from-docs-cn, first-time-contributor, size/S, type/compatibility-or-feature-change, area/tidb-lightning, approved, lgtm, v7.3

#14392 planner: add document about some new introduced hints
  optimizer-hints.md
Labels: translation/from-docs-cn, size/M, needs-1-more-lgtm, approved, lgtm, v7.3

#14370 v7.3: update compaction-guard-min-output-file-size
  tikv-configuration-file.md
Labels: translation/from-docs-cn, size/XS, type/compatibility-or-feature-change, for-release, needs-1-more-lgtm, approved, lgtm, v7.3

#13941 Add some security notation for tiflash tcp_port in sample config file
  tiflash/tiflash-configuration.md
Labels: translation/from-docs-cn, size/XS, needs-cherry-pick-release-7.1, approved, lgtm

#13163 Added List DEFAULT partition
  partitioned-table.md
Labels: translation/done, size/L, area/sql-infra, approved, lgtm, v7.3

#13806 add a tidb system variable tiflash_replica_read
  system-variables.md
  tiflash/create-tiflash-replicas.md
Labels: translation/from-docs-cn, size/S, area/bigdata, approved, lgtm, v7.3

#14350 Update Parameter Name from `tikv-importer.incremental-import` to `tikv-importer.parallel-import`
  tidb-lightning/tidb-lightning-configuration.md
  tidb-lightning/tidb-lightning-distributed-import.md
  tidb-lightning/tidb-lightning-prechecks.md
Labels: translation/from-docs-cn, size/S, approved, lgtm, v7.3

#14129 update default values for RocksDB config
  tikv-configuration-file.md
Labels: translation/done, size/S, type/compatibility-or-feature-change, for-release, approved, lgtm, v7.3

#14371 v7.3: update user doc for multirocksdb
  partitioned-raft-kv.md
  tikv-configuration-file.md
Labels: translation/from-docs-cn, size/S, type/compatibility-or-feature-change, for-release, needs-1-more-lgtm, approved, lgtm, v7.3

#14343 lightning: update docs for duplicate detection
  tidb-lightning/tidb-lightning-configuration.md
  tidb-lightning/tidb-lightning-error-resolution.md
  tidb-lightning/tidb-lightning-logical-import-mode-usage.md
  tidb-lightning/tidb-lightning-physical-import-mode-usage.md
Labels: translation/from-docs-cn, size/L, type/compatibility-or-feature-change, area/tidb-lightning, approved, lgtm, v7.3

#14434 add system variable tidb_skip_missing_partition_stats
  statistics.md
  system-variables.md
Labels: translation/from-docs-cn, size/S, type/compatibility-or-feature-change, for-release, needs-1-more-lgtm, approved, lgtm, v7.3

#14427 cdc: add hex encoding to csv
  ticdc/ticdc-changefeed-config.md
  ticdc/ticdc-csv.md
Labels: translation/from-docs-cn, size/XS, area/ticdc, for-release, approved, lgtm, v7.3

#14437 Update cron.yml
  .github/workflows/cron.yml
Labels: missing-translation-status, size/XS, approved, lgtm

#14433 add sys table `mysql.tidb_timers`
  mysql-schema.md
Labels: translation/from-docs-cn, size/XS, for-release, approved, lgtm, v7.3

#14352 Add runtime filter docs
  TOC-tidb-cloud.md
  TOC.md
  explain-joins.md
  runtime-filter.md
  system-variables.md
Labels: translation/from-docs-cn, size/XL, approved, lgtm, v7.3

#14368 add query watch docs for the manual managment of runaway watch
  TOC-tidb-cloud.md
  TOC.md
  information-schema/information-schema-runaway-watches.md
  mysql-schema.md
  sql-statements/sql-statement-alter-resource-group.md
  sql-statements/sql-statement-create-resource-group.md
  sql-statements/sql-statement-drop-resource-group.md
  sql-statements/sql-statement-query-watch.md
  sql-statements/sql-statement-set-resource-group.md
  sql-statements/sql-statement-show-create-resource-group.md
  tidb-resource-control.md
Labels: translation/from-docs-cn, size/XL, area/sql-infra, needs-1-more-lgtm, approved, lgtm, v7.3

#14438 release-6.5.0: update the release note introduction
  releases/release-6.5.0.md
Labels: translation/done, area/general, size/XS, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.0, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.2

#14406 cdc update about force-replicate
  ticdc/ticdc-avro-protocol.md
  ticdc/ticdc-changefeed-config.md
  ticdc/ticdc-manage-changefeed.md
  ticdc/ticdc-overview.md
Labels: translation/from-docs-cn, size/S, type/compatibility-or-feature-change, for-release, needs-1-more-lgtm, approved, lgtm, v7.3

#14428 Garbage Collection: add more description of system variables and how …
  garbage-collection-configuration.md
Labels: translation/from-docs-cn, size/S, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.2

#14439 update bucket size
  tikv-configuration-file.md
  tune-region-performance.md
Labels: translation/from-docs-cn, size/XS, type/compatibility-or-feature-change, for-release, approved, lgtm, v7.3

#14286 feat: full support for prisma
  develop/dev-guide-third-party-support.md
Labels: translation/done, size/XS, area/develop, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.0, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.2

#14458 Update cron.yml
  .github/workflows/cron.yml
Labels: translation/no-need, size/S, approved, lgtm

#14448 Update docs for newly added locking functions
  functions-and-operators/locking-functions.md
Labels: translation/done, size/S, for-release, approved, lgtm, v7.3, needs-cherry-pick-release-7.3

#14460 DTFile supports V3 version
  TOC.md
  releases/release-6.2.0.md
  tiflash-upgrade-guide.md
  tiflash/tiflash-command-line-flags.md
  tiflash/tiflash-configuration.md
Labels: translation/from-docs-cn, size/S, area/bigdata, needs-1-more-lgtm, approved, lgtm, v7.3, needs-cherry-pick-release-7.3

#14466 lightning: refine description about conflict.strategy
  tidb-lightning/tidb-lightning-logical-import-mode-usage.md
  tidb-lightning/tidb-lightning-physical-import-mode-usage.md
Labels: type/enhancement, translation/from-docs-cn, size/XS, area/tidb-lightning, approved, lgtm, needs-cherry-pick-release-7.3

#14449 cloud: data service supports basic authentication
  tidb-cloud/data-service-api-key.md
  tidb-cloud/data-service-manage-endpoint.md
Labels: translation/no-need, size/S, area/tidb-cloud, for-cloud-release, needs-1-more-lgtm, approved, lgtm

#14463 cloud: add release notes 20230808
  tidb-cloud/tidb-cloud-release-notes.md
Labels: translation/no-need, size/S, area/tidb-cloud, for-cloud-release, approved, lgtm

#14257 optimizer-fix-control: add doc for the new optimizer fix controls introduced in v7.3.0
  optimizer-fix-controls.md
  sql-non-prepared-plan-cache.md
Labels: translation/from-docs-cn, size/S, for-release, approved, lgtm, v7.3, needs-cherry-pick-release-7.3

#14243 sql-plan-replayer: add doc for historical stats integration into the plan replayer
  sql-plan-replayer.md
Labels: translation/from-docs-cn, size/XS, approved, lgtm, v7.3, needs-cherry-pick-release-7.3

#14470 update learning path for v7.3
  _index.md
Labels: translation/done, size/M, needs-1-more-lgtm, approved, lgtm, v7.3

#14471 fix the statement to update statistics of partitioned tables
  partitioned-table.md
Labels: translation/from-docs-cn, size/S, area/sql-infra, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.0, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.2, needs-cherry-pick-release-7.3

#14473 trigger 7.3 pdf build
  comment-syntax.md
Labels: translation/from-docs-cn, size/XS, approved, lgtm

#14440 cloud: update the step to join a project
  tidb-cloud/manage-user-access.md
Labels: translation/no-need, size/XS, area/tidb-cloud, needs-1-more-lgtm, approved, lgtm

#14213 distinct tidb only information function
  functions-and-operators/information-functions.md
  functions-and-operators/tidb-functions.md
Labels: translation/from-docs-cn, size/M, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.2, needs-cherry-pick-release-7.3

#14373 Fix the Errors that was founded by dividing CN examples document
  develop/dev-guide-choose-driver-or-orm.md
  develop/dev-guide-sample-application-golang-gorm.md
  develop/dev-guide-sample-application-golang-sql-driver.md
  develop/dev-guide-sample-application-java-hibernate.md
  develop/dev-guide-sample-application-java-mybatis.md
  develop/dev-guide-sample-application-python-peewee.md
  develop/dev-guide-third-party-support.md
Labels: translation/done, size/L, area/develop, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.0, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.2, needs-cherry-pick-release-7.3

#14493 pr template: add v7.4
  .github/pull_request_template.md
Labels: translation/from-docs-cn, area/general, approved, lgtm

#14487 add configs for in memory slow query
  tidb-configuration-file.md
Labels: translation/from-docs-cn, size/S, for-release, needs-1-more-lgtm, approved, lgtm, v7.3, needs-cherry-pick-release-7.3

#14483 sql-statements: tiny update for smooth upgrade TiDB
  sql-statements/sql-statement-add-index.md
Labels: translation/from-docs-cn, size/XS, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.2, needs-cherry-pick-release-7.3

#14457 Remove server version upgrade
  tidb-configuration-file.md
  upgrade-tidb-using-tiup.md
Labels: translation/from-docs-cn, size/XS, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.0, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.2, needs-cherry-pick-release-7.3

#13630 update ticdc faq
  ticdc/ticdc-faq.md
Labels: type/enhancement, translation/from-docs-cn, size/XS, area/ticdc, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.2, needs-cherry-pick-release-7.3

#14296 add release notes for v7.3.0
  TOC.md
  releases/release-7.3.0.md
  releases/release-notes.md
  releases/release-timeline.md
Labels: translation/from-docs-cn, size/XL, for-release, approved, lgtm, v7.3, needs-cherry-pick-release-7.3

#14312 add 7.3 in basic features
  basic-features.md
Labels: translation/from-docs-cn, size/XL, for-release, approved, lgtm, v7.3, needs-cherry-pick-release-7.3

#14459 bump version to 7.3.0
  README.md
  br/backup-and-restore-use-cases.md
  dm/maintain-dm-using-tiup.md
  dm/quick-start-create-task.md
  information-schema/information-schema-tidb-servers-info.md
  pd-control.md
  post-installation-check.md
  production-deployment-using-tiup.md
  quick-start-with-tidb.md
  scale-tidb-using-tiup.md
  system-variables.md
  ticdc/deploy-ticdc.md
  ticdc/ticdc-changefeed-overview.md
  ticdc/ticdc-open-api-v2.md
  tidb-binlog/get-started-with-tidb-binlog.md
  tidb-monitoring-api.md
  tiflash/create-tiflash-replicas.md
  tiup/tiup-cluster.md
  tiup/tiup-component-cluster-deploy.md
  tiup/tiup-component-cluster-patch.md
  tiup/tiup-component-cluster-upgrade.md
  tiup/tiup-component-dm-upgrade.md
  tiup/tiup-component-management.md
  tiup/tiup-mirror.md
  tiup/tiup-playground.md
  upgrade-tidb-using-tiup.md
Labels: translation/from-docs-cn, size/L, needs-1-more-lgtm, approved, lgtm, v7.3, needs-cherry-pick-release-7.3

#14509 clinic: extend free expiration
  clinic/clinic-introduction.md
Labels: translation/from-docs-cn, size/XS, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.0, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.2, needs-cherry-pick-release-7.3

#14526 cloud: add release notes 20230815
  tidb-cloud/tidb-cloud-release-notes.md
Labels: translation/no-need, size/M, area/tidb-cloud, for-cloud-release, approved, lgtm

#14237 cloud: Data Service supports pagination and cache
  tidb-cloud/data-service-app-config-files.md
  tidb-cloud/data-service-manage-endpoint.md
Labels: translation/no-need, size/S, area/tidb-cloud, for-cloud-release, approved, lgtm

#14516 tidb: explain the `pseudo` stats
  sql-statements/sql-statement-analyze-table.md
Labels: translation/from-docs-cn, size/S, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.2, needs-cherry-pick-release-7.3

#14494 cloud: support the SAML auth method for Org SSO
  tidb-cloud/tidb-cloud-org-sso-authentication.md
Labels: translation/no-need, size/M, area/tidb-cloud, for-cloud-release, needs-1-more-lgtm, approved, lgtm

#14344 Add more Serverless FAQ items
  tidb-cloud/serverless-faqs.md
Labels: translation/no-need, size/S, area/tidb-cloud, needs-cherry-pick-release-7.1, approved, lgtm

#14538 tidb-lightning: delete record option in conflict detection
  tidb-lightning/tidb-lightning-physical-import-mode-usage.md
Labels: translation/from-docs-cn, size/XS, area/tidb-lightning, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.0, needs-cherry-pick-release-7.1, approved, lgtm

#14531 lightning: delete content about tpcc
  tidb-lightning/tidb-lightning-physical-import-mode-usage.md
  tidb-lightning/tidb-lightning-physical-import-mode.md
Labels: type/enhancement, translation/from-docs-cn, size/S, area/tidb-lightning, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.0, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.2, needs-cherry-pick-release-7.3

#14551 br: add limitations for the performance impacts of backup task
  br/backup-and-restore-overview.md
Labels: type/enhancement, translation/from-docs-cn, size/XS, area/br, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.0, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.2, needs-cherry-pick-release-7.3

#14536 sql: update statement summary doc
  statement-summary-tables.md
Labels: translation/from-docs-cn, size/XS, ONCALL, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.0, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.2, needs-cherry-pick-release-7.3

#14543 planner: update document about multi-valued indexes
  choose-index.md
Labels: translation/from-docs-cn, size/M, area/planner, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.2, needs-cherry-pick-release-7.3

#14563 dev-guide: add note about not using tidb-loadbalance in production environments
  develop/dev-guide-choose-driver-or-orm.md
Labels: translation/from-docs-cn, size/XS, ONCALL, area/ticdc, area/develop, needs-cherry-pick-release-7.0, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.2, needs-cherry-pick-release-7.3

#14567 Disable custom auto_id_cache on tidb-serverless 6.5
  tidb-cloud/limited-sql-features.md
Labels: translation/no-need, first-time-contributor, size/XS, area/tidb-cloud, needs-cherry-pick-release-7.1, approved, lgtm

#14587 Revert "dev-guide: add note about not using tidb-loadbalance in production environments "
  develop/dev-guide-choose-driver-or-orm.md
Labels: translation/no-need, size/XS, approved, lgtm

#14589 TiDB-JDBC SM3 introduce
  develop/dev-guide-choose-driver-or-orm.md
Labels: translation/from-docs-cn, size/XS, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.0, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.2, needs-cherry-pick-release-7.3

#14527 cloud: add doc for sink to gcs
  media/tidb-cloud/changefeed/sink-to-cloud-storage-flush-parameters.jpg
  media/tidb-cloud/changefeed/sink-to-cloud-storage-gcs-assign-permission.png
  media/tidb-cloud/changefeed/sink-to-cloud-storage-gcs-create-role.png
  media/tidb-cloud/changefeed/sink-to-cloud-storage-gcs-endpoint.png
  media/tidb-cloud/changefeed/sink-to-cloud-storage-gcs-grant-access-1.png
  media/tidb-cloud/changefeed/sink-to-cloud-storage-gcs-grant-access-2.png
  media/tidb-cloud/changefeed/sink-to-cloud-storage-gcs-uri01.png
  media/tidb-cloud/changefeed/sink-to-cloud-storage-gcs-uri02.png
  media/tidb-cloud/changefeed/sink-to-cloud-storage-s3-endpoint.jpg
  tidb-cloud/changefeed-sink-to-cloud-storage.md
Labels: translation/no-need, first-time-contributor, size/L, area/tidb-cloud, for-cloud-release, approved, lgtm

#14450 cloud: add contents about Connecting to TiDB Dedicated via Private Service Connect on Google Cloud
  TOC-tidb-cloud.md
  media/tidb-cloud/google-cloud-psc-endpoint-overview.png
  tidb-cloud/connect-to-tidb-cluster.md
  tidb-cloud/migrate-from-mysql-using-data-migration.md
  tidb-cloud/set-up-private-endpoint-connections-on-google-cloud.md
  tidb-cloud/set-up-private-endpoint-connections-serverless.md
  tidb-cloud/set-up-private-endpoint-connections.md
Labels: translation/no-need, size/L, area/tidb-cloud, for-cloud-release, needs-1-more-lgtm, approved, lgtm

#14573 cloud: add release notes for 20230823
  tidb-cloud/tidb-cloud-faq.md
  tidb-cloud/tidb-cloud-release-notes.md
Labels: translation/no-need, size/S, area/tidb-cloud, for-cloud-release, approved, lgtm

#14544 develop: refactor Python mysqlclient tutorial
  develop/dev-guide-choose-driver-or-orm.md
  develop/dev-guide-insert-data.md
  develop/dev-guide-sample-application-python-mysqlclient.md
Labels: translation/from-docs-cn, first-time-contributor, size/XL, area/develop, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.0, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.2, needs-cherry-pick-release-7.3

#14606 sql: does not support using ALTER TABLE to add or modify columns with AUTO_INCREMENT
  auto-increment.md
Labels: translation/from-docs-cn, size/XS, area/sql-infra, ONCALL, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.2, needs-cherry-pick-release-7.3

#14611 update an example and tiflash faq
  faq/tidb-faq.md
  schedule-replicas-by-topology-labels.md
Labels: type/enhancement, size/S, ONCALL, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.2, needs-cherry-pick-release-7.3

#14621 sql plan management: make binding doc clearer with examples
  sql-plan-management.md
Labels: translation/from-docs-cn, size/M, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.2, needs-cherry-pick-release-7.3

#14575 add release notes v6.5.4
  TOC.md
  releases/release-6.5.4.md
  releases/release-notes.md
  releases/release-timeline.md
Labels: translation/from-docs-cn, size/L, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.2, needs-cherry-pick-release-7.3

#14623 s3: fix s3 put object permission
  br/backup-and-restore-storages.md
  br/backup-and-restore-use-cases.md
Labels: translation/from-docs-cn, size/XS, area/br, needs-1-more-lgtm, approved, lgtm

#14605 bump version to v6.5.4
  br/backup-and-restore-use-cases.md
  dm/maintain-dm-using-tiup.md
  dm/quick-start-create-task.md
  pd-control.md
  production-deployment-using-tiup.md
  quick-start-with-tidb.md
  scale-tidb-using-tiup.md
  ticdc/deploy-ticdc.md
  ticdc/ticdc-changefeed-overview.md
  tidb-binlog/get-started-with-tidb-binlog.md
  tiflash/create-tiflash-replicas.md
  tiup/tiup-cluster.md
  tiup/tiup-component-cluster-deploy.md
  tiup/tiup-component-cluster-patch.md
  tiup/tiup-component-cluster-upgrade.md
  tiup/tiup-component-dm-upgrade.md
  tiup/tiup-component-management.md
  tiup/tiup-mirror.md
  tiup/tiup-playground.md
  upgrade-tidb-using-tiup.md
Labels: translation/from-docs-cn, size/L, needs-1-more-lgtm, approved, lgtm

#14604 cloud: add TiDB Serverless and TiDB Dedicated to TiDB Cloud Introduction
  tidb-cloud/tidb-cloud-intro.md
Labels: translation/no-need, size/S, area/tidb-cloud, needs-1-more-lgtm, approved, lgtm

#14641 add discord to support resources
  support.md
Labels: translation/no-need, size/XS, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.2, needs-cherry-pick-release-7.3

#14614 Cloud: update the endpoint property description for timeout and max rows
  tidb-cloud/data-service-app-config-files.md
  tidb-cloud/data-service-manage-endpoint.md
  tidb-cloud/use-chat2query-api.md
Labels: translation/no-need, size/S, area/tidb-cloud, for-cloud-release, needs-1-more-lgtm, approved, lgtm

#14577 add auditlog for branch github
  tidb-cloud/tidb-cloud-console-auditing.md
Labels: translation/doing, translation/no-need, size/L, area/tidb-cloud, for-cloud-release, approved, lgtm

#14597 changfeed: add Binary Encode Method parameter for Sink to Cloud Storage
  media/tidb-cloud/changefeed/sink-to-s3-02-data-format-canal-json.jpg
  media/tidb-cloud/changefeed/sink-to-s3-02-data-format-csv-conf.jpg
  tidb-cloud/changefeed-sink-to-cloud-storage.md
Labels: translation/no-need, first-time-contributor, size/XS, area/tidb-cloud, for-cloud-release, approved, lgtm

#14646 cloud: add a note to importing local files
  tidb-cloud/config-s3-and-gcs-access.md
  tidb-cloud/tidb-cloud-import-local-files.md
Labels: translation/no-need, size/M, area/tidb-cloud, for-cloud-release, needs-1-more-lgtm, approved, lgtm

#13375 Document what ADMIN CHECK does
  sql-statements/sql-statement-admin-check-table-index.md
Labels: type/enhancement, translation/done, size/S, area/sql-infra, ONCALL, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.2, needs-cherry-pick-release-7.3

#14656 cloud: update endpoint properties according to UI changes
  tidb-cloud/data-service-get-started.md
  tidb-cloud/data-service-manage-endpoint.md
Labels: translation/no-need, size/S, area/tidb-cloud, needs-1-more-lgtm, approved, lgtm

#14525 Add cdc tiflash tuning guide
  TOC.md
  media/performance/cdc/cdc-fast-1.png
  media/performance/cdc/cdc-fast-2.png
  media/performance/cdc/cdc-slow.png
  media/performance/tiflash/ch-1tiflash-raft-io-flow-cloud.png
  media/performance/tiflash/ch-2tiflash-op.png
  media/performance/tiflash/ch-2tiflash-raft-io-flow.png
  media/performance/tiflash/tiflash-resource-usage.png
  media/performance/tiflash/tiflash_request_duration_by_type.png
  ticdc-performance-tuning-methods.md
  tiflash-performance-tuning-methods.md
Labels: translation/from-docs-cn, size/L, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, area/performance, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.2, needs-cherry-pick-release-7.3

#14568 cloud: rephrase a group of endpoints -> a collection of endpoints
  tidb-cloud/data-service-get-started.md
  tidb-cloud/data-service-manage-data-app.md
  tidb-cloud/data-service-overview.md
  tidb-cloud/integrate-tidbcloud-with-vercel.md
  tidb-cloud/tidb-cloud-glossary.md
Labels: translation/no-need, size/S, area/tidb-cloud, approved, lgtm

#14655 develop: add develop docs OWNERS
  OWNERS_ALIASES
  develop/OWNERS
Labels: translation/from-docs-cn, size/S, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.2, needs-cherry-pick-release-7.3

#14523 Create upgrade-monitoring-services.md
  TOC.md
  upgrade-monitoring-services.md
Labels: translation/from-docs-cn, size/L, area/diagnosis, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.2, needs-cherry-pick-release-7.3

#14662 roadmap: add v7.3.0 release notes
  tidb-roadmap.md
Labels: translation/from-docs-cn, size/XS, needs-1-more-lgtm, approved, lgtm

#14537 placement rules: fix duplicate id in rule.json
  two-data-centers-in-one-city-deployment.md
Labels: translation/from-docs-cn, size/XS, ONCALL, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.2, needs-cherry-pick-release-7.3
