Repository pingcap/docs, pull requests merged in 2023-11, with the labels that each got.

#15197 Update changefeed-overview.md
  tidb-cloud/changefeed-overview.md
Labels: contribution, translation/no-need, first-time-contributor, size/XS, area/tidb-cloud, for-cloud-release, approved, lgtm

#15206 cloud: support upgrading to Enterprise Support Plan in console
  tidb-cloud/tidb-cloud-support.md
Labels: translation/no-need, size/S, area/tidb-cloud, for-cloud-release, needs-1-more-lgtm, approved, lgtm

#15221 cloud: add release notes for 20231031
  TOC-tidb-cloud.md
  tidb-cloud/tidb-cloud-faq.md
  tidb-cloud/tidb-cloud-release-notes.md
Labels: translation/no-need, size/S, area/tidb-cloud, for-cloud-release, approved, lgtm

#15166 tidb-resource-control: Add info about unbind
  tidb-resource-control.md
Labels: translation/done, size/XS, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.3, needs-cherry-pick-release-7.4

#15244 global sort is experimental in v7.4
  releases/release-7.4.0.md
Labels: translation/from-docs-cn, size/XS, approved, lgtm, needs-cherry-pick-release-7.4

#15147 add tidbcloud serverless driver node example
  TOC-tidb-cloud.md
  tidb-cloud/serverless-driver-config.md
  tidb-cloud/serverless-driver-node-example.md
  tidb-cloud/serverless-driver.md
Labels: translation/no-need, size/XL, area/tidb-cloud, approved, lgtm

#15240 cloud: add snappy restriction and split cmd
  tidb-cloud/import-csv-files.md
  tidb-cloud/import-parquet-files.md
  tidb-cloud/import-sample-data.md
  tidb-cloud/naming-conventions-for-data-import.md
  tidb-cloud/tidb-cloud-import-local-files.md
Labels: translation/no-need, size/M, area/tidb-cloud, needs-1-more-lgtm, approved, lgtm

#15241 add snappy restriction note
  dumpling-overview.md
  sql-statements/sql-statement-import-into.md
  storage-engine/titan-overview.md
  ticdc/ticdc-sink-to-kafka.md
  tidb-lightning/tidb-lightning-data-source.md
  tidb-lightning/troubleshoot-tidb-lightning.md
  tikv-configuration-file.md
  tune-tikv-memory-performance.md
Labels: translation/done, size/S, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.3, needs-cherry-pick-release-7.4

#14630 Add a new doc about TSO
  TOC-tidb-cloud.md
  TOC.md
  tso.md
Labels: translation/done, area/general, size/L, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.3, needs-cherry-pick-release-7.4

#15195 sql: fix two oncall issues
  mysql-schema.md
  sql-statements/sql-statement-admin.md
Labels: translation/from-docs-cn, size/M, area/sql-infra, ONCALL, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.3, needs-cherry-pick-release-7.4

#14926 feat: Developer Guide - GUI - VS Code SQLTools
  TOC-tidb-cloud.md
  TOC.md
  develop/dev-guide-gui-vscode-sqltools.md
  media/develop/vsc-sqltools-add-new-connection.jpg
  media/develop/vsc-sqltools-connection-config-dedicated.jpg
  media/develop/vsc-sqltools-connection-config-self-hosted.jpg
  media/develop/vsc-sqltools-connection-config-serverless.jpg
  media/develop/vsc-sqltools-password.jpg
Labels: translation/doing, size/L, area/develop, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.3, needs-cherry-pick-release-7.4

#15272 ticdc: delete useless contents
  ticdc/ticdc-manage-changefeed.md
Labels: translation/from-docs-cn, size/XS, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.3, needs-cherry-pick-release-7.4

#15279 br: add time-zone's description of restoration
  tidb-cloud/backup-and-restore.md
Labels: contribution, translation/no-need, size/XS, area/tidb-cloud, needs-1-more-lgtm, approved, lgtm

#15282 update TiKV hardware requirements
  best-practices/massive-regions-best-practices.md
  geo-distributed-deployment-topology.md
  hardware-and-software-requirements.md
Labels: translation/from-docs-cn, size/S, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.3, needs-cherry-pick-release-7.4

#15261 Add max cpu alert description
  tidb-cloud/monitor-built-in-alerting.md
Labels: translation/no-need, size/S, area/develop, area/tidb-cloud, for-cloud-release, needs-1-more-lgtm, approved, lgtm

#15271 tidb cloud: add release notes for 20231107
  tidb-cloud/tidb-cloud-release-notes.md
Labels: translation/no-need, size/S, area/tidb-cloud, needs-1-more-lgtm, approved, lgtm

#15194 update tidb roadmap
  tidb-roadmap.md
Labels: translation/doing, size/L, for-release, approved, lgtm, v7.5

#15292 ticdc: remove source id desciption
  ticdc/ticdc-bidirectional-replication.md
Labels: translation/from-docs-cn, size/XS, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.3, needs-cherry-pick-release-7.4

#15291 fix the operator info
  correlated-subquery-optimization.md
  explain-subqueries.md
Labels: type/bug-fix, translation/doing, size/XS, ONCALL, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.3, needs-cherry-pick-release-7.4

#15299 add user interface for each connection method
  tidb-cloud/connect-to-tidb-cluster-serverless.md
Labels: translation/no-need, size/S, needs-1-more-lgtm, approved, lgtm

#15287 server recommendations: add a note for production environment
  hardware-and-software-requirements.md
Labels: translation/from-docs-cn, size/XS, ONCALL, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.3, needs-cherry-pick-release-7.4

#15174 add slow logs in troubleshoot-stale-read.md
  grafana-tikv-dashboard.md
  troubleshoot-stale-read.md
Labels: translation/done, size/M, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm

#15290 mark the support of foreign key as experimental
  basic-features.md
  constraints.md
  develop/dev-guide-sample-application-nodejs-prisma.md
  develop/dev-guide-sample-application-nodejs-typeorm.md
  foreign-key.md
  releases/release-6.6.0.md
Labels: translation/done, size/S, area/develop, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.3, needs-cherry-pick-release-7.4

#15316 fix table format
  tidb-cloud/connect-to-tidb-cluster-serverless.md
Labels: translation/no-need, size/XS, area/tidb-cloud, needs-1-more-lgtm, approved, lgtm

#15318 information-schema.md: add `CHECK_CONSTRAINTS`
  information-schema/information-schema.md
Labels: translation/done, size/XS, approved, lgtm, needs-cherry-pick-release-7.4

#15322 fix a typo
  tidb-cloud/manage-user-access.md
Labels: translation/no-need, size/XS, area/tidb-cloud, needs-1-more-lgtm, approved, lgtm

#15251 dm: add update validation description
  dm/dm-continuous-data-validation.md
Labels: translation/from-docs-cn, size/S, needs-1-more-lgtm, approved, lgtm, v7.5

#15246 add ticdc sql mode config
  ticdc/ticdc-changefeed-config.md
  ticdc/ticdc-ddl.md
Labels: translation/from-docs-cn, size/S, for-release, needs-1-more-lgtm, approved, lgtm, v7.5

#15270 add tidb_gogc_tuner_max_value and tidb_gogc_tuner_min_value
  system-variables.md
Labels: translation/from-docs-cn, size/S, type/compatibility-or-feature-change, for-release, approved, lgtm, v7.5

#15235 v7.5 supports Rocky Linux 9.1
  hardware-and-software-requirements.md
Labels: translation/from-docs-cn, size/XS, for-release, needs-1-more-lgtm, approved, lgtm, v7.5

#15289 Deprecate mydumper tikv importer
  binary-package.md
  develop/dev-guide-timeouts-in-tidb.md
  dumpling-overview.md
  ecosystem-tool-user-guide.md
  migration-overview.md
  tidb-cloud/changefeed-sink-to-mysql.md
  tidb-lightning/monitor-tidb-lightning.md
  tidb-lightning/tidb-lightning-command-line-full.md
  tidb-lightning/tidb-lightning-configuration.md
  tidb-lightning/tidb-lightning-faq.md
  tidb-lightning/tidb-lightning-physical-import-mode.md
  tidb-lightning/troubleshoot-tidb-lightning.md
  tidb-troubleshooting-map.md
Labels: translation/done, contribution, size/L, approved, lgtm, v7.5

#15294 sql: pause and resume ddl jobs GA
  ddl-introduction.md
  sql-statements/sql-statement-admin-pause-ddl.md
  sql-statements/sql-statement-admin-resume-ddl.md
Labels: translation/from-docs-cn, size/S, needs-1-more-lgtm, approved, lgtm, v7.5

#15196 deprecate Mydumper
  dumpling-overview.md
  ecosystem-tool-user-guide.md
  mydumper-overview.md
Labels: translation/from-docs-cn, needs-cherry-pick-release-5.0, size/XS, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.3, needs-cherry-pick-release-7.4, v7.5

#15139 tidb: remove fast and incremental analyze
  grafana-tidb-dashboard.md
  releases/release-7.3.0.md
  sql-statements/sql-statement-analyze-table.md
  sql-statements/sql-statement-show-variables.md
  statistics.md
  system-variables.md
Labels: translation/from-docs-cn, size/M, for-release, needs-1-more-lgtm, approved, lgtm, v7.5

#15278 cdc: update description about partition dispatcher and add column sel…
  ticdc/ticdc-changefeed-config.md
  ticdc/ticdc-sink-to-kafka.md
Labels: translation/from-docs-cn, size/M, area/ticdc, needs-1-more-lgtm, approved, lgtm, v7.5

#15226 tidb: `tidb_service_scope` GA
  system-variables.md
  tidb-distributed-execution-framework.md
Labels: translation/from-docs-cn, size/S, area/sql-infra, needs-1-more-lgtm, approved, lgtm, v7.5

#15225 system-variable: add tidb_enable_async_merge_global_stats
  system-variables.md
Labels: translation/from-docs-cn, size/S, type/compatibility-or-feature-change, approved, lgtm, v7.5

#15222 br: public parameter --ignore-stats to backup statistic data
  br/br-snapshot-guide.md
  br/br-snapshot-manual.md
  faq/backup-and-restore-faq.md
Labels: translation/from-docs-cn, size/M, type/compatibility-or-feature-change, area/br, needs-1-more-lgtm, approved, lgtm, v7.5

#15306 dm: add error binlog filter description
  dm/dm-binlog-event-filter.md
Labels: translation/from-docs-cn, size/M, area/dm, approved, lgtm, v7.5

#15224 system-variable: update variable for analyze
  system-variables.md
Labels: translation/from-docs-cn, size/S, type/compatibility-or-feature-change, approved, lgtm, v7.5

#15323 make it more clear about serverless driver & Data Service
  tidb-cloud/connect-to-tidb-cluster-serverless.md
  tidb-cloud/serverless-driver.md
Labels: translation/no-need, size/S, area/develop, needs-1-more-lgtm, approved, lgtm

#15324 cloud: add description about SSE-KMS
  tidb-cloud/config-s3-and-gcs-access.md
Labels: translation/no-need, size/S, area/tidb-cloud, needs-1-more-lgtm, approved, lgtm

#15286 update analyze concurrency for statistics
  media/analyze_concurrency.png
  statistics.md
Labels: translation/from-docs-cn, size/S, approved, lgtm, v7.5

#15300 remove TiSpark from offline package
  binary-package.md
  download-ecosystem-tools.md
Labels: translation/from-docs-cn, size/XS, for-release, approved, lgtm, v7.5

#15337 cloud: support configuring SCIM
  tidb-cloud/tidb-cloud-org-sso-authentication.md
Labels: translation/no-need, size/M, area/tidb-cloud, for-release, needs-1-more-lgtm, approved, lgtm

#15339 br: support restore account by default
  tidb-cloud/backup-and-restore.md
Labels: translation/no-need, size/XS, area/tidb-cloud, approved, lgtm

#15312 Modify the inaccuracies in the TLS description
  tidb-cloud/connect-via-standard-connection.md
  tidb-cloud/migrate-from-mysql-using-aws-dms.md
  tidb-cloud/tidb-cloud-tls-connect-to-dedicated.md
Labels: contribution, translation/no-need, first-time-contributor, size/S, area/tidb-cloud, for-cloud-release, approved, lgtm

#15341 cloud: release notes for November 14, 2023
  tidb-cloud/tidb-cloud-release-notes.md
Labels: translation/no-need, size/S, area/tidb-cloud, needs-1-more-lgtm, approved, lgtm

#15344 Create notification-2023-11-15-scale-feature-maintenance.md
  tidb-cloud/notification-2023-11-14-scale-feature-maintenance.md
Labels: missing-translation-status, size/M, needs-1-more-lgtm, approved, lgtm

#15346 cloud: fix tag issues
  tidb-cloud/config-s3-and-gcs-access.md
Labels: translation/no-need, area/tidb-cloud, needs-1-more-lgtm, approved, lgtm

#15345 cloud: add a slash gsutil uri
  tidb-cloud/changefeed-sink-to-cloud-storage.md
  tidb-cloud/import-sample-data.md
Labels: translation/no-need, size/XS, area/tidb-cloud, needs-1-more-lgtm, approved, lgtm

#15231 *: refine placement rule in sql docs
  TOC-tidb-cloud.md
  TOC.md
  placement-rules-in-sql.md
  releases/release-6.3.0.md
  releases/release-6.6.0.md
  sql-statements/sql-statement-alter-placement-policy.md
  sql-statements/sql-statement-alter-range.md
  sql-statements/sql-statement-create-placement-policy.md
Labels: type/enhancement, translation/from-docs-cn, size/XXL, for-release, needs-1-more-lgtm, approved, lgtm, v7.5

#15214 Add example for serverless driver
  TOC-tidb-cloud.md
  tidb-cloud/serverless-driver-kysely-example.md
  tidb-cloud/serverless-driver-prisma-example.md
Labels: translation/no-need, size/XXL, area/develop, area/tidb-cloud, approved, lgtm

#15349 fix: add maintenance notification to toc
  TOC-tidb-cloud.md
Labels: translation/no-need, size/XS, area/tidb-cloud, approved, lgtm

#15350 Update TiDB Cloud overview page read more section
  develop/dev-guide-overview.md
Labels: translation/no-need, size/S, area/develop, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm

#15333 Import with MySQL CLI
  TOC-tidb-cloud.md
  tidb-cloud/_index.md
  tidb-cloud/import-with-mysql-cli.md
Labels: translation/no-need, size/L, area/tidb-cloud, approved, lgtm

#15352 include limitation of LIKE when it works with non-binary collation
  character-set-and-collation.md
  character-set-gbk.md
Labels: translation/from-docs-cn, size/XS, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.3, needs-cherry-pick-release-7.4

#15357 GA- tidb-distributed-execution-framework
  system-variables.md
  tidb-distributed-execution-framework.md
Labels: translation/from-docs-cn, size/S, needs-1-more-lgtm, approved, lgtm, v7.5

#15358 Update notification-2023-11-14-scale-feature-maintenance.md
  tidb-cloud/notification-2023-11-14-scale-feature-maintenance.md
Labels: missing-translation-status, size/XS, approved, lgtm

#15370 update dispatch for release-7.5
  .github/workflows/dispatch.yml
Labels: translation/from-docs-cn, size/XS, needs-1-more-lgtm, approved, lgtm

#15371 bump version to release-7.5
  best-practices/pd-scheduling-best-practices.md
  br/br-monitoring-and-alert.md
  br/br-snapshot-guide.md
  deploy-monitoring-services.md
  dm/dm-best-practices.md
  dm/dm-open-api.md
  dm/dm-overview.md
  dm/dm-precheck.md
  dumpling-overview.md
  faq/backup-and-restore-faq.md
  functions-and-operators/precision-math.md
  grafana-resource-control-dashboard.md
  information-schema/information-schema-cluster-info.md
  maintain-tidb-using-tiup.md
  migrate-from-tidb-to-tidb.md
  pd-configuration-file.md
  performance-tuning-methods.md
  production-deployment-using-tiup.md
  replicate-between-primary-and-secondary-clusters.md
  system-variables.md
  ticdc/ticdc-avro-checksum-verification.md
  ticdc/ticdc-open-protocol.md
  ticdc/ticdc-overview.md
  ticdc/ticdc-storage-consumer-dev-guide.md
  tidb-binlog/binlog-consumer-client.md
  tidb-binlog/binlog-control.md
  tidb-binlog/maintain-tidb-binlog-cluster.md
  tidb-binlog/tidb-binlog-configuration-file.md
  tidb-binlog/tidb-binlog-overview.md
  tidb-configuration-file.md
  tidb-lightning/tidb-lightning-overview.md
  tidb-resource-control.md
  tidb-scheduling.md
  tidb-troubleshooting-map.md
  tiflash/tiflash-late-materialization.md
  tikv-configuration-file.md
  tiup/tiup-playground.md
  troubleshoot-lock-conflicts.md
  tune-tikv-memory-performance.md
Labels: translation/from-docs-cn, size/L, needs-1-more-lgtm, approved, lgtm

#15365 TOC: Simplify statement names
  TOC-tidb-cloud.md
  TOC.md
Labels: translation/doing, size/M, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5

#15369 update absolute links
  TOC.md
  _index.md
  dashboard/dashboard-user.md
  dm/task-configuration-file-full.md
  faq/faq-overview.md
  hardware-and-software-requirements.md
  migrate-small-mysql-shards-to-tidb.md
  ticdc/ticdc-changefeed-config.md
  tidb-roadmap.md
  tiflash/tiflash-configuration.md
Labels: translation/from-docs-cn, size/XL, needs-1-more-lgtm, approved, lgtm

#15187 develop: update the third party support table
  develop/dev-guide-third-party-support.md
Labels: translation/doing, size/S, area/develop, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.3, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5

#15288 import into 7.5
  releases/release-7.4.0.md
  sql-statements/sql-statement-import-into.md
  tidb-global-sort.md
Labels: translation/from-docs-cn, size/M, needs-1-more-lgtm, approved, lgtm, v7.5, needs-cherry-pick-release-7.5

#15384 Update disk space requirements for import into
  hardware-and-software-requirements.md
Labels: type/enhancement, translation/from-docs-cn, size/XS, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.3, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5

#15380 statements: Add SHOW BINARY LOG STATUS info
  sql-statements/sql-statement-show-master-status.md
Labels: translation/doing, size/XS, approved, lgtm

#15364 Remove duplicate docs for SHOW INDEX, SHOW KEYS in favor of SHOW INDEXES
  TOC-tidb-cloud.md
  TOC.md
  sql-statements/sql-statement-drop-index.md
  sql-statements/sql-statement-rename-index.md
  sql-statements/sql-statement-show-index.md
  sql-statements/sql-statement-show-indexes.md
  sql-statements/sql-statement-show-keys.md
Labels: translation/doing, size/S, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.3, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5

#15348 upgrade using tiup: add FAQ for concurrent DDL
  upgrade-tidb-using-tiup.md
Labels: translation/from-docs-cn, size/S, area/deploy-upgrade-maintain, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.3, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5

#15395 tidb-cloud: add incompatiblities between br and lightning
  tidb-cloud/backup-and-restore.md
Labels: contribution, translation/no-need, size/XS, area/tidb-cloud, approved, lgtm

#15388 cloud: added an error, and removed some links
  tidb-cloud/migrate-from-mysql-using-data-migration.md
  tidb-cloud/tidb-cloud-dm-precheck-and-troubleshooting.md
Labels: translation/no-need, size/S, area/tidb-cloud, needs-1-more-lgtm, approved, lgtm

#14959 include the link of user guide for database audit
  releases/release-7.1.0.md
Labels: translation/doing, size/XS, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.3, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5

#15389 string-functions: convert the table of supported functions to a list
  functions-and-operators/string-functions.md
Labels: type/enhancement, translation/from-docs-cn, size/XL, needs-1-more-lgtm, approved, lgtm

#15381 Dm supports google cloud
  tidb-cloud/migrate-from-mysql-using-data-migration.md
  tidb-cloud/tidb-cloud-release-notes.md
Labels: translation/no-need, size/S, approved, lgtm

#15319 cloud: update use-chat2query-api.md release chat2query v2
  tidb-cloud/data-service-get-started.md
  tidb-cloud/data-service-manage-data-app.md
  tidb-cloud/explore-data-with-chat2query.md
  tidb-cloud/use-chat2query-api.md
Labels: contribution, translation/no-need, first-time-contributor, size/XL, area/tidb-cloud, for-cloud-release, approved, lgtm

#15414 Add a limitation for "Import Into" SQL statement
  sql-statements/sql-statement-import-into.md
Labels: translation/from-docs-cn, contribution, size/XS, approved, lgtm, v7.5, needs-cherry-pick-release-7.5

#15413 Correct show index output
  sql-statements/sql-statement-show-indexes.md
Labels: translation/doing, size/S, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.3, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5

#15273 tidb-binlog: deprecate binlog as a data sync tool
  tidb-binlog/bidirectional-replication-between-tidb-clusters.md
  tidb-binlog/tidb-binlog-overview.md
  tidb-binlog/upgrade-tidb-binlog.md
Labels: translation/from-docs-cn, size/S, area/tidb-binlog, needs-1-more-lgtm, approved, lgtm, v7.5, needs-cherry-pick-release-7.5

#15423 Clarify statement on backup-and-restore-using-dumpling page
  backup-and-restore-using-dumpling-lightning.md
  dm/dm-hardware-and-software-requirements.md
  migrate-large-mysql-to-tidb.md
  tidb-lightning/tidb-lightning-requirements.md
Labels: translation/doing, size/M, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.3, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5

#15360 Update ticdc changefeed filter case_sensitive default value
  ticdc/ticdc-changefeed-config.md
  ticdc/ticdc-manage-changefeed.md
  ticdc/ticdc-open-api-v2.md
  ticdc/ticdc-sink-to-cloud-storage.md
  ticdc/ticdc-sink-to-kafka.md
  ticdc/ticdc-sink-to-mysql.md
  ticdc/ticdc-sink-to-pulsar.md
Labels: translation/from-docs-cn, size/S, type/compatibility-or-feature-change, for-release, needs-1-more-lgtm, approved, lgtm, v7.5, needs-cherry-pick-release-7.5

#15424 cloud: add integration with GPT
  tidb-cloud/data-service-manage-data-app.md
Labels: translation/no-need, size/S, area/tidb-cloud, for-cloud-release, needs-1-more-lgtm, approved, lgtm

#15432 updated SQL for `DATA_LENGTH`
  dm/dm-hardware-and-software-requirements.md
  migrate-large-mysql-to-tidb.md
  tidb-lightning/tidb-lightning-requirements.md
Labels: translation/from-docs-cn, size/L, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.3, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5

#15433 Fix broken link to Connector/J docs
  develop/dev-guide-sample-application-java-jdbc.md
Labels: translation/doing, size/XS, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.3, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5

#14747 Fix typo
  best-practices/massive-regions-best-practices.md
Labels: translation/doing, needs-cherry-pick-release-4.0, needs-cherry-pick-release-5.0, size/XS, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.3, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5

#15446 dashboard: Add the support of TiKV for heap profiling
  dashboard/continuous-profiling.md
  dashboard/dashboard-profiling.md
Labels: translation/from-docs-cn, size/XS, for-release, approved, lgtm, v7.5, needs-cherry-pick-release-7.5

#15402 Use the support page instead of direct links
  develop/dev-guide-gui-datagrip.md
  develop/dev-guide-gui-dbeaver.md
  develop/dev-guide-gui-vscode-sqltools.md
  develop/dev-guide-sample-application-aws-lambda.md
  develop/dev-guide-sample-application-golang-gorm.md
  develop/dev-guide-sample-application-golang-sql-driver.md
  develop/dev-guide-sample-application-java-hibernate.md
  develop/dev-guide-sample-application-java-jdbc.md
  develop/dev-guide-sample-application-java-mybatis.md
  develop/dev-guide-sample-application-java-spring-boot.md
  develop/dev-guide-sample-application-nextjs.md
  develop/dev-guide-sample-application-nodejs-mysql2.md
  develop/dev-guide-sample-application-nodejs-mysqljs.md
  develop/dev-guide-sample-application-nodejs-prisma.md
  develop/dev-guide-sample-application-nodejs-sequelize.md
  develop/dev-guide-sample-application-nodejs-typeorm.md
  develop/dev-guide-sample-application-python-django.md
  develop/dev-guide-sample-application-python-mysql-connector.md
  develop/dev-guide-sample-application-python-mysqlclient.md
  develop/dev-guide-sample-application-python-peewee.md
  develop/dev-guide-sample-application-python-pymysql.md
  develop/dev-guide-sample-application-python-sqlalchemy.md
  sql-statements/sql-statement-admin-cleanup.md
  sql-statements/sql-statement-admin-recover.md
Labels: translation/doing, size/XL, area/develop, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5

#15452 ci: cron for jp translation
  .github/workflows/cron.yml
Labels: translation/no-need, size/XS, needs-1-more-lgtm, approved, lgtm

#15461 cloud: refine the steps for configuring the changefeed target
  tidb-cloud/changefeed-sink-to-apache-kafka.md
  tidb-cloud/tidb-cloud-billing-dm.md
Labels: translation/no-need, size/M, ONCALL, area/tidb-cloud, approved, lgtm

#15467 cloud: delete description about upgrading to v7.1.2
  tidb-cloud/tidb-cloud-release-notes.md
Labels: contribution, translation/no-need, size/XS, needs-1-more-lgtm, approved, lgtm

#15471 Update tidb-lightning-physical-import-mode.md
  tidb-lightning/tidb-lightning-physical-import-mode.md
Labels: translation/from-docs-cn, contribution, size/XS, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.3, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5

#15478 workflow: fix yaml syntax error
  .github/workflows/cron.yml
Labels: type/bug-fix, translation/no-need, size/XS, needs-1-more-lgtm, approved, lgtm

#15470 dataservice: update batch endpoint request body format
  tidb-cloud/data-service-manage-endpoint.md
  tidb-cloud/data-service-postman-integration.md
Labels: contribution, translation/no-need, first-time-contributor, size/M, area/tidb-cloud, approved, lgtm

#15401 cloud: update Data Service endpoint instructions per UI changes
  tidb-cloud/data-service-manage-endpoint.md
Labels: translation/no-need, size/M, area/tidb-cloud, needs-1-more-lgtm, approved, lgtm

#15494 ticdc: update best practices
  ticdc/ticdc-overview.md
Labels: type/enhancement, translation/from-docs-cn, size/XS, ONCALL, area/ticdc, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.3, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5

#15469 migration: refine titles about migrating small datasets and large datasets from MySQL to TiDB
  TOC.md
  filter-binlog-event.md
  filter-dml-event.md
  migrate-large-mysql-to-tidb.md
  migrate-small-mysql-to-tidb.md
  migrate-with-more-columns-downstream.md
  migrate-with-pt-ghost.md
  migration-overview.md
  two-data-centers-in-one-city-deployment.md
Labels: translation/no-need, size/M, ONCALL, area/dm, area/tidb-lightning, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.3, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5

#15504 pr template: add the option for v7.6
  .github/pull_request_template.md
Labels: translation/no-need, size/XS, needs-1-more-lgtm, approved, lgtm

#15505 v5.4: update downloading links of sync_diff_inspector
  download-ecosystem-tools.md
Labels: type/bug-fix, translation/from-docs-cn, size/XS, area/migrate, needs-1-more-lgtm, approved, lgtm

#15506 v5.3: update downloading links of sync_diff_inspector
  download-ecosystem-tools.md
Labels: type/bug-fix, translation/from-docs-cn, size/XS, area/migrate, needs-1-more-lgtm, approved, lgtm

#15104 add more explains and examples for `SELECT ... INTO OUTFILE` statements
  sql-statements/sql-statement-select.md
Labels: translation/doing, size/M, area/sql-infra, ONCALL, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.3, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5

#15513 resolve conflicts in migrate-small-mysql-to-tidb
  migrate-small-mysql-to-tidb.md
Labels: type/bug-fix, translation/no-need, size/XS, needs-1-more-lgtm, approved, lgtm

#15477 Br cloud restore sql bindings
  tidb-cloud/backup-and-restore.md
Labels: contribution, translation/no-need, size/XS, area/tidb-cloud, for-cloud-release, approved, lgtm

#15493 Update tidb-cloud-release-notes.md
  tidb-cloud/tidb-cloud-release-notes.md
Labels: contribution, translation/no-need, size/S, area/tidb-cloud, needs-1-more-lgtm, approved, lgtm

#15516 Update serverless faqs with RU cost
  tidb-cloud/serverless-faqs.md
Labels: translation/done, size/S, area/tidb-cloud, approved, lgtm

#15514 add experimental note for BACKUP and RESTORE statements
  migrate-from-tidb-to-tidb.md
  replicate-between-primary-and-secondary-clusters.md
  sql-statements/sql-statement-backup.md
  sql-statements/sql-statement-restore.md
Labels: translation/from-docs-cn, needs-cherry-pick-release-4.0, needs-cherry-pick-release-5.0, size/S, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.3, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5

#15515 functions-and-operators/expressions-pushed-down.md: Fix typo
  functions-and-operators/expressions-pushed-down.md
Labels: type/bug-fix, translation/no-need, size/XS, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.3, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5

#15175 update task type for mpp
  tiflash/use-tiflash-mpp-mode.md
Labels: translation/from-docs-cn, size/S, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.3, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5

#15220 Polish the `TiKV Trouble Shooting` part.
  best-practices/pd-scheduling-best-practices.md
Labels: translation/from-docs-cn, contribution, size/XS, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.3, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5

#15550 cloud dm: add a note about using physical mode and enabling PITR and changefeed
  tidb-cloud/migrate-from-mysql-using-data-migration.md
  tidb-cloud/tidb-cloud-release-notes.md
Labels: contribution, translation/no-need, size/XS, area/dm, area/tidb-cloud, approved, lgtm

#15445 *: add more contents about supported versions and upgrade methods
  smooth-upgrade-tidb.md
Labels: translation/from-docs-cn, contribution, size/M, approved, lgtm, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5

#15481 collation: improve some new_collation_enabled relateds doc
  br/backup-and-restore-overview.md
  character-set-and-collation.md
  faq/backup-and-restore-faq.md
  migration-tools.md
  mysql-schema.md
Labels: translation/from-docs-cn, size/S, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.3, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5

#15347 feat: Developer Guide - GUI - Navicat
  TOC-tidb-cloud.md
  TOC.md
  develop/dev-guide-gui-navicat.md
  media/develop/navicat-add-new-connection.jpg
  media/develop/navicat-connection-config-dedicated-general.png
  media/develop/navicat-connection-config-dedicated-ssl.jpg
  media/develop/navicat-connection-config-self-hosted-general.png
  media/develop/navicat-connection-config-serverless-general.png
  media/develop/navicat-connection-config-serverless-ssl.png
Labels: translation/welcome, size/L, area/develop, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.3, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5

#15567 cloud: remove changefeed replication docs
  tidb-cloud/changefeed-replication.md
Labels: translation/no-need, size/L, area/tidb-cloud, approved, lgtm

#15366 feat: Developer Guide - GUI - MySQL Workbench
  TOC-tidb-cloud.md
  TOC.md
  develop/dev-guide-gui-mysql-workbench.md
  media/develop/mysql-workbench-connection-config-dedicated-parameters.png
  media/develop/mysql-workbench-connection-config-self-hosted-parameters.png
  media/develop/mysql-workbench-connection-config-serverless-parameters.png
  media/develop/mysql-workbench-store-dedicated-password-in-keychain.png
  media/develop/mysql-workbench-store-password-in-keychain.png
  media/develop/mysql-workbench-store-self-hosted-password-in-keychain.png
  media/develop/navicat-add-new-connection.png
Labels: translation/welcome, size/L, area/develop, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.3, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5
