Repository pingcap/docs, pull requests merged in 2024-08, with the labels that each got.

#18433 dumpling: update the gc info
  develop/dev-guide-timeouts-in-tidb.md
  dumpling-overview.md
  migrate-from-tidb-to-mysql.md
Labels: translation/from-docs-cn, size/XS, ONCALL, area/dumpling, area/develop, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.0, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.2

#18444 alert: remove keep_alive_total metric
  alert-rules.md
Labels: translation/from-docs-cn, size/S, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.0, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.2

#18442 bit-functions-and-operators: fix PDF build issue
  functions-and-operators/bit-functions-and-operators.md
Labels: translation/done, size/XS, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.2

#18457 sql-logical-optimization: add an entry for derive topN and limit
  sql-logical-optimization.md
Labels: type/enhancement, translation/from-docs-cn, size/XS, area/planner, ONCALL, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.0, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.2

#18155 Add I_S.keywords for v7.5
  TOC-tidb-cloud.md
  TOC.md
  develop/dev-guide-choose-driver-or-orm.md
  information-schema/information-schema-keywords.md
  information-schema/information-schema.md
  keywords.md
Labels: translation/done, size/M, type/compatibility-or-feature-change, area/develop, approved, lgtm

#18453 Update DDL descriptions in cluster upgrade
  upgrade-tidb-using-tiup.md
Labels: type/enhancement, translation/from-docs-cn, size/XS, ONCALL, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.0, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.2

#18471 v7.5.3: add information_schema.keywords
  information-schema/information-schema-keywords.md
Labels: translation/from-docs-cn, size/XS, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-8.0, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.2

#18365 bump TiDB version to v7.5.3
  br/backup-and-restore-use-cases.md
  develop/dev-guide-sample-application-nodejs-mysql2.md
  develop/dev-guide-sample-application-nodejs-mysqljs.md
  develop/dev-guide-sample-application-nodejs-typeorm.md
  develop/dev-guide-sample-application-ruby-mysql2.md
  develop/dev-guide-sample-application-ruby-rails.md
  dm/maintain-dm-using-tiup.md
  dm/quick-start-create-task.md
  external-storage-uri.md
  information-schema/information-schema-tidb-servers-info.md
  pd-control.md
  post-installation-check.md
  production-deployment-using-tiup.md
  quick-start-with-tidb.md
  scale-tidb-using-tiup.md
  system-variables.md
  ticdc/deploy-ticdc.md
  ticdc/ticdc-changefeed-config.md
  ticdc/ticdc-changefeed-overview.md
  ticdc/ticdc-manage-changefeed.md
  ticdc/ticdc-open-api-v2.md
  ticdc/ticdc-sink-to-cloud-storage.md
  ticdc/ticdc-sink-to-pulsar.md
  ticdc/ticdc-split-update-behavior.md
  tidb-binlog/get-started-with-tidb-binlog.md
  tidb-monitoring-api.md
  tiflash/create-tiflash-replicas.md
  tiup/tiup-cluster.md
  tiup/tiup-component-cluster-deploy.md
  tiup/tiup-component-cluster-patch.md
  tiup/tiup-component-cluster-upgrade.md
  tiup/tiup-component-dm-upgrade.md
  tiup/tiup-component-management.md
  tiup/tiup-mirror.md
  tiup/tiup-playground.md
  upgrade-monitoring-services.md
  upgrade-tidb-using-tiup.md
Labels: translation/from-docs-cn, size/L, area/develop, needs-1-more-lgtm, approved, lgtm

#18470 br: add "tiup br debug" command
  br/use-br-command-line-tool.md
Labels: translation/from-docs-cn, size/S, ONCALL, approved, lgtm, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.2

#18479 pd: add an example for pd-recover
  pd-recover.md
Labels: translation/from-docs-cn, size/XS, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.2

#18484 tidb: add a bugfix about issue https://github.com/pingcap/tidb/issues/54652
  releases/release-7.5.3.md
Labels: translation/from-docs-cn, size/XS, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.0, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.2

#18493 sql: delete PLACEMENT(S) in keywords
  keywords.md
Labels: translation/from-docs-cn, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.0, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.2

#18501 update the maximum region size for TiFlash
  tune-region-performance.md
Labels: translation/from-docs-cn, size/XS, area/engine, ONCALL, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.0, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.2

#18483 partitioned tables: add some restrictions
  partitioned-table.md
  sql-statements/sql-statement-create-table.md
Labels: type/enhancement, translation/doing, size/XS, ONCALL, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.0, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.2

#18469 cloud: update the default TiDB version of new TiDB Dedicated clusters
  tidb-cloud/tidb-cloud-faq.md
Labels: translation/no-need, size/XS, area/tidb-cloud, for-cloud-release, approved, lgtm

#18492 cloud: add release note for 20240806
  tidb-cloud/tidb-cloud-release-notes.md
Labels: translation/no-need, size/S, area/tidb-cloud, for-cloud-release, needs-1-more-lgtm, approved, lgtm

#18518 Update keywords.md
  keywords.md
Labels: translation/from-docs-cn, size/XS, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-8.0, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.2

#18500 add ticdc pulsar sink related release note
  releases/release-8.2.0.md
Labels: translation/from-docs-cn, size/XS, approved, lgtm, needs-cherry-pick-release-8.2

#18499 statistics: mark NDV as deprecated and update variable scopes
  sql-statements/sql-statement-show-stats-buckets.md
  system-variables.md
Labels: type/bug-fix, requires-version-specific-changes, translation/done, size/S, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.0, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.2

#18528 fix typos
  br/use-br-command-line-tool.md
  releases/release-8.2.0.md
Labels: type/bug-fix, translation/no-need, size/XS, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-8.2

#18432 add Titan for TiDB Best Practices on Public Cloud
  best-practices-on-public-cloud.md
Labels: translation/doing, contribution, size/M, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-ok-to-test, needs-cherry-pick-release-8.0, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.2

#18530 sys var: add more contents to `tidb_remove_orderby_in_subquery`
  system-variables.md
Labels: translation/from-docs-cn, size/XS, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.2

#18522 cdc: update output-raw-change-event comment link
  ticdc/ticdc-changefeed-config.md
Labels: requires-version-specific-changes, translation/from-docs-cn, size/XS, area/ticdc, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.2

#18562 fix: use `""` to represent empty string
  tiproxy/tiproxy-configuration.md
Labels: type/bug-fix, translation/from-docs-cn, size/S, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-8.0, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.2

#18564 add an example of using AUTO_RANDOM with PRE_SPLIT_REGIONS
  auto-random.md
Labels: type/enhancement, translation/from-docs-cn, size/S, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.0, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.2

#18578 ja: remove files deleted in release-7.5 branch
  tidb-cloud/changefeed-replication.md
  tidb-cloud/v7.1.0-performance-benchmarking-with-sysbench.md
  tidb-cloud/v7.1.0-performance-benchmarking-with-tpcc.md
Labels: type/bug-fix, translation/no-need, size/XL, ONCALL, needs-1-more-lgtm

#18563 update pre_split_regions usage scenario
  sql-statements/sql-statement-split-region.md
Labels: translation/from-docs-cn, size/XS, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.0, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.2

#18571 chore: fix a bug that caused delays in fetching duplicate release notes
  scripts/release_notes_update_pr_author_info_add_dup.py
Labels: translation/no-need, size/M, needs-1-more-lgtm, approved, lgtm

#18568 make bdr ddl replicate GA en
  sql-statements/sql-statement-admin-bdr-role.md
  ticdc/ticdc-bidirectional-replication.md
Labels: translation/from-docs-cn, size/S, needs-1-more-lgtm, approved, lgtm, v8.3

#18517 update doc related to fast-create
  accelerated-table-creation.md
  upgrade-tidb-using-tiup.md
Labels: translation/from-docs-cn, size/S, for-release, needs-1-more-lgtm, approved, lgtm, v8.3

#18585 sys-var: add SESSION scope for `ddl_reorg_batch_size` and `ddl_reorg_worker_cnt`
  system-variables.md
Labels: translation/from-docs-cn, type/compatibility-or-feature-change, for-release, approved, lgtm, v8.3

#18487 Update the log redaction documentation
  log-redaction.md
  pd-configuration-file.md
  tiflash/tiflash-configuration.md
  tikv-configuration-file.md
Labels: translation/from-docs-cn, size/M, type/compatibility-or-feature-change, needs-1-more-lgtm, approved, lgtm, v8.3

#18588 remove ambiguous TTL from glossary
  glossary.md
Labels: type/enhancement, translation/from-docs-cn, size/XS, ONCALL, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.0, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.2

#18591 cdc: canal-json dml event commit-ts should be TSO
  ticdc/ticdc-canal-json.md
  ticdc/ticdc-sink-to-kafka.md
Labels: type/bug-fix, translation/done, translation/from-docs-cn, size/S, needs-cherry-pick-release-5.4, area/ticdc, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.0, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.2

#18447 sys var: add `tidb_enable_shared_lock_upgrade`
  pessimistic-transaction.md
  system-variables.md
Labels: translation/from-docs-cn, size/S, type/compatibility-or-feature-change, needs-1-more-lgtm, approved, lgtm, v8.3

#18281 tidb: add tidb_analyze_column_options
  benchmark/benchmark-tidb-using-ch.md
  statistics.md
  system-variables.md
  tiup/tiup-bench.md
Labels: translation/done, size/M, approved, lgtm, v8.3

#18329 variable: add document about lazy cursor fetch and its variable
  best-practices/java-app-best-practices.md
  develop/dev-guide-connection-parameters.md
  system-variables.md
Labels: translation/done, size/M, area/develop, approved, lgtm, v8.3

#18557 br: make inc + log restore compatible
  br/br-incremental-guide.md
  br/br-pitr-manual.md
Labels: translation/from-docs-cn, size/S, type/compatibility-or-feature-change, for-release, approved, lgtm, v8.3

#18556 *: add batch operation for creating/dropping binding by specifying digests
  sql-plan-management.md
  sql-statements/sql-statement-create-binding.md
  sql-statements/sql-statement-drop-binding.md
Labels: translation/from-docs-cn, size/XL, approved, lgtm, v8.3

#18606 bdr ga
  tidb-binlog/bidirectional-replication-between-tidb-clusters.md
Labels: translation/from-docs-cn, size/XS, needs-1-more-lgtm, approved, lgtm, v8.3

#18607 move issue #36004 to v6.5.7 release notes
  releases/release-6.5.7.md
  releases/release-6.5.8.md
  releases/release-6.5.9.md
Labels: translation/from-docs-cn, size/XS, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.0, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.2

#18543 partition: add doc for global index, also with GLOBAL IndexOption/ColumnOption
  partitioned-table.md
  placement-rules-in-sql.md
  sql-statements/sql-statement-add-column.md
  sql-statements/sql-statement-add-index.md
  sql-statements/sql-statement-create-index.md
  sql-statements/sql-statement-create-table.md
  system-variables.md
Labels: translation/done, size/L, approved, lgtm, v8.3

#18350 Add doc for TopN spill
  configure-memory-usage.md
Labels: translation/from-docs-cn, size/XS, approved, lgtm, v8.3

#18552 add the root type expand impl for rollup syntax.
  explain-aggregation.md
  functions-and-operators/group-by-modifier.md
Labels: translation/from-docs-cn, size/M, approved, lgtm, v8.3

#18441 system-variables: add tiflash_hashagg_preaggregation_mode
  system-variables.md
Labels: translation/from-docs-cn, size/S, type/compatibility-or-feature-change, approved, lgtm, v8.3

#18498 tiproxy: add vip configurations
  config-templates/simple-tiproxy.yaml
  tiproxy/tiproxy-configuration.md
  tiproxy/tiproxy-deployment-topology.md
  tiproxy/tiproxy-grafana.md
  tiproxy/tiproxy-load-balance.md
  tiproxy/tiproxy-overview.md
Labels: translation/from-docs-cn, size/M, needs-1-more-lgtm, approved, lgtm, v8.3

#18468 br: add issue for pitr usage
  br/br-pitr-manual.md
Labels: translation/from-docs-cn, size/XS, area/br, approved, lgtm, v8.3

#18569 Deprecate TiDB Binlog
  TOC.md
  basic-features.md
  ecosystem-tool-user-guide.md
  faq/deploy-and-maintain-faq.md
  production-deployment-using-tiup.md
  sql-statements/sql-statement-flashback-database.md
  sql-statements/sql-statement-flashback-table.md
  sql-statements/sql-statement-recover-table.md
  system-variables.md
  ticdc-deployment-topology.md
  tidb-binlog-deployment-topology.md
  tidb-binlog/bidirectional-replication-between-tidb-clusters.md
  tidb-binlog/binlog-control.md
  tidb-binlog/deploy-tidb-binlog.md
  tidb-binlog/get-started-with-tidb-binlog.md
  tidb-binlog/tidb-binlog-overview.md
  tidb-binlog/upgrade-tidb-binlog.md
  tidb-troubleshooting-map.md
  transaction-overview.md
  upgrade-tidb-using-tiup.md
Labels: translation/from-docs-cn, size/M, for-release, needs-1-more-lgtm, approved, lgtm, v8.3

#18446 tidb: add doc for `batch-policy` config
  tidb-configuration-file.md
Labels: translation/from-docs-cn, size/S, approved, lgtm, v8.3

#18346 Change tidb_opt_projection_push_down default value to ON
  system-variables.md
Labels: translation/from-docs-cn, size/S, type/compatibility-or-feature-change, approved, lgtm, v8.3

#18516 br: add metrics description for snapshot restore and PITR
  grafana-tikv-dashboard.md
Labels: type/enhancement, translation/doing, first-time-contributor, size/M, area/br, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.0, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.2, needs-cherry-pick-release-8.3

#18503 doc: session_alias and rows_affected in information_schema.processlist
  identify-expensive-queries.md
  information-schema/information-schema-processlist.md
  releases/release-8.2.0.md
Labels: translation/from-docs-cn, size/L, needs-1-more-lgtm, approved, lgtm, v8.3, needs-cherry-pick-release-8.3

#18615 fix bug in performance tuning practices
  performance-tuning-practices.md
Labels: contribution, translation/no-need, size/XS, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, ok-to-test, needs-cherry-pick-release-8.0, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.2, needs-cherry-pick-release-8.3

#18625 PD: add description of batch in evict-leader-scheduler config
  pd-control.md
Labels: translation/from-docs-cn, size/XS, for-release, needs-1-more-lgtm, approved, lgtm, v8.3, needs-cherry-pick-release-8.3

#18366 Refine slow log description
  system-variables.md
  tidb-configuration-file.md
Labels: type/enhancement, requires-version-specific-changes, translation/from-docs-cn, size/XS, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, ONCALL, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.0, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.2, needs-cherry-pick-release-8.3

#18639 v8.3.0: update learning path
  _index.md
Labels: translation/from-docs-cn, size/M, needs-1-more-lgtm, approved, lgtm

#18502 br: docs on restore disk protection
  br/br-snapshot-guide.md
Labels: translation/from-docs-cn, size/XS, approved, lgtm, v8.3, needs-cherry-pick-release-8.3

#18359 doc: concurrency of gc delete-range
  system-variables.md
Labels: translation/from-docs-cn, size/XS, approved, lgtm, v8.3, needs-cherry-pick-release-8.3

#18614 cloud: UX improvement for Network Access
  tidb-cloud/set-up-private-endpoint-connections-on-google-cloud.md
  tidb-cloud/set-up-private-endpoint-connections.md
  tidb-cloud/set-up-vpc-peering-connections.md
Labels: translation/no-need, size/L, area/tidb-cloud, for-cloud-release, needs-1-more-lgtm, approved, lgtm

#18627 cloud: add release note for 20240820
  tidb-cloud/tidb-cloud-release-notes.md
Labels: translation/no-need, size/XS, area/tidb-cloud, for-cloud-release, needs-1-more-lgtm, approved, lgtm

#18570 update chat2query api, add doc for data_summary_id
  tidb-cloud/use-chat2query-api.md
Labels: contribution, translation/no-need, first-time-contributor, size/XS, area/tidb-cloud, approved, lgtm, ok-to-test

#18653 pd: Fix the default name of the configuration
  command-line-flags-for-pd-configuration.md
Labels: translation/from-docs-cn, missing-translation-status, size/XS, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.0, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.2, needs-cherry-pick-release-8.3

#18386 add v8.3.0 release notes
  TOC.md
  releases/release-8.3.0.md
  releases/release-notes.md
  releases/release-timeline.md
Labels: translation/from-docs-cn, size/XL, approved, lgtm, v8.3, needs-cherry-pick-release-8.3

#18604 basic-features.md: add a column for v8.3.0
  basic-features.md
Labels: translation/from-docs-cn, size/XL, approved, lgtm, v8.3, needs-cherry-pick-release-8.3

#18626 v8.3: bump the latest TiDB version to v8.3
  br/backup-and-restore-use-cases.md
  develop/dev-guide-sample-application-nodejs-mysql2.md
  develop/dev-guide-sample-application-nodejs-mysqljs.md
  develop/dev-guide-sample-application-nodejs-prisma.md
  develop/dev-guide-sample-application-nodejs-typeorm.md
  develop/dev-guide-sample-application-ruby-mysql2.md
  develop/dev-guide-sample-application-ruby-rails.md
  dm/maintain-dm-using-tiup.md
  dm/quick-start-create-task.md
  download-ecosystem-tools.md
  functions-and-operators/tidb-functions.md
  information-schema/information-schema-tidb-servers-info.md
  pd-control.md
  performance-schema/performance-schema-session-connect-attrs.md
  post-installation-check.md
  production-deployment-using-tiup.md
  quick-start-with-tidb.md
  scale-microservices-using-tiup.md
  scale-tidb-using-tiup.md
  system-variables.md
  ticdc/deploy-ticdc.md
  ticdc/ticdc-changefeed-config.md
  ticdc/ticdc-changefeed-overview.md
  ticdc/ticdc-manage-changefeed.md
  ticdc/ticdc-open-api-v2.md
  ticdc/ticdc-sink-to-cloud-storage.md
  ticdc/ticdc-sink-to-pulsar.md
  tidb-binlog/get-started-with-tidb-binlog.md
  tidb-monitoring-api.md
  tiflash/create-tiflash-replicas.md
  tiup/tiup-cluster.md
  tiup/tiup-component-cluster-deploy.md
  tiup/tiup-component-cluster-patch.md
  tiup/tiup-component-cluster-upgrade.md
  tiup/tiup-component-dm-upgrade.md
  tiup/tiup-component-management.md
  tiup/tiup-mirror.md
  tiup/tiup-playground.md
  upgrade-monitoring-services.md
  upgrade-tidb-using-tiup.md
Labels: translation/from-docs-cn, size/L, area/develop, needs-1-more-lgtm, approved, lgtm

#18638 PD: Add the name field to the startup parameters
  command-line-flags-for-scheduling-configuration.md
  command-line-flags-for-tso-configuration.md
Labels: translation/from-docs-cn, size/S, for-release, needs-1-more-lgtm, approved, lgtm, v8.3, needs-cherry-pick-release-8.3

#18671 pull_request_template: add v8.4
  .github/pull_request_template.md
Labels: translation/from-docs-cn, size/XS, needs-1-more-lgtm, approved, lgtm

#18673 TOC: add v8.3 release notes
  TOC.md
Labels: translation/from-docs-cn, size/XS, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-8.3

#18672 Make the introduced version clear for "txn-entry-size-limit"
  data-type-string.md
  develop/dev-guide-transaction-restraints.md
  error-codes.md
  faq/backup-and-restore-faq.md
  faq/migration-tidb-faq.md
  releases/release-6.1.1.md
  releases/release-6.1.2.md
  releases/release-6.1.4.md
  releases/release-6.1.7.md
  releases/release-6.3.0.md
  releases/release-6.4.0.md
  releases/release-6.5.1.md
  releases/release-6.5.10.md
  releases/release-6.5.2.md
  releases/release-6.5.3.md
  releases/release-6.5.4.md
  releases/release-6.5.6.md
  releases/release-6.6.0.md
  releases/release-7.0.0.md
  releases/release-7.1.0.md
  releases/release-7.1.1.md
  releases/release-7.1.3.md
  releases/release-7.1.4.md
  releases/release-7.1.5.md
  releases/release-7.2.0.md
  releases/release-7.4.0.md
  releases/release-7.5.0.md
  releases/release-7.5.1.md
  releases/release-7.5.2.md
  releases/release-7.5.3.md
  releases/release-7.6.0.md
  releases/release-8.0.0.md
  releases/release-8.1.0.md
  releases/release-8.2.0.md
  releases/release-8.3.0.md
  system-variables.md
  tidb-configuration-file.md
  tidb-limitations.md
Labels: type/enhancement, requires-version-specific-changes, translation/from-docs-cn, size/L, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, ONCALL, needs-cherry-pick-release-5.4, area/develop, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.0, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.2, needs-cherry-pick-release-8.3

#18590 *: Rename snap-max-write-bytes-per-sec (tiflash)
  tiflash/create-tiflash-replicas.md
Labels: type/bug-fix, translation/from-docs-cn, size/XS, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.0, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.2, needs-cherry-pick-release-8.3

#18700 *: add 8.2 and 8.3 to README.md
  README.md
Labels: translation/from-docs-cn, size/XS, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-8.2, needs-cherry-pick-release-8.3

#18703 *: add keywords for 8.3
  keywords.md
Labels: translation/from-docs-cn, size/S, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-8.3

#18616 Update system-variables `tidb_ddl_reorg_batch_size`
  system-variables.md
Labels: translation/from-docs-cn, size/XS, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.5, needs-ok-to-test, needs-cherry-pick-release-8.0, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.2, needs-cherry-pick-release-8.3

#18554 dev, v8.2, and v8.3: add v8.1.1 to ticdc split behavior for update events
  ticdc/ticdc-split-update-behavior.md
Labels: translation/from-docs-cn, size/XS, area/ticdc, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-8.2, needs-cherry-pick-release-8.3

#18560 v8.1.1: Turn off hash agg spill by default
  system-variables.md
Labels: translation/from-docs-cn, size/XS, needs-1-more-lgtm, approved, lgtm

#18553 v8.1.1: update ticdc split behavior for update events
  ticdc/ticdc-split-update-behavior.md
Labels: translation/from-docs-cn, size/S, area/ticdc, needs-1-more-lgtm, approved, lgtm

#18670 remove arbiter from v8.1.1
  binary-package.md
  tidb-configuration-file.md
Labels: translation/from-docs-cn, size/XS, needs-1-more-lgtm, approved, lgtm

#18537 add v8.1.1 release notes
  TOC.md
  releases/release-8.1.1.md
  releases/release-notes.md
  releases/release-timeline.md
Labels: translation/from-docs-cn, size/L, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.2, needs-cherry-pick-release-8.3

#18719 release-8.3.0.md: refine the description of #54565
  releases/release-8.3.0.md
Labels: translation/from-docs-cn, size/XS, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-8.3

#18675 ticdc: Update migrate from tidb to tidb doc
  migrate-from-tidb-to-tidb.md
Labels: translation/from-docs-cn, size/XS, area/ticdc, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.2, needs-cherry-pick-release-8.3

#18676 Add debezium disable schema doc for ticdc
  releases/release-8.0.0.md
  ticdc/ticdc-changefeed-config.md
Labels: translation/from-docs-cn, size/XS, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-8.0, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.2, needs-cherry-pick-release-8.3

#17985 SELECT: Update EBNF for partitioning
  sql-statements/sql-statement-select.md
Labels: type/enhancement, translation/done, size/M, area/sql-infra, needs-1-more-lgtm, approved, lgtm

#18722 Revise TSO related Grafana monitoring metrics description
  dashboard/dashboard-monitoring.md
  grafana-overview-dashboard.md
  grafana-performance-overview-dashboard.md
  grafana-tidb-dashboard.md
Labels: translation/from-docs-cn, size/M, ONCALL, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.0, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.2, needs-cherry-pick-release-8.3

#18369 Add a note to ticdc-sink-to-mysql.md
  ticdc/ticdc-sink-to-mysql.md
Labels: translation/from-docs-cn, size/XS, ONCALL, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.0, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.2, needs-cherry-pick-release-8.3

#18589 chore: add a script to assign release note tasks to writers automatically
  scripts/release_notes_auto_tw_assignment.py
Labels: translation/no-need, size/L, needs-1-more-lgtm, approved, lgtm, area/docs-efficiency

#18695 releases: add the change of "max_execution_time"
  releases/release-6.4.0.md
  system-variables.md
Labels: translation/from-docs-cn, size/XS, ONCALL, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.0, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.2, needs-cherry-pick-release-8.3

#18743 Add notification-2024-09-15-console-maintenance.md
  TOC-tidb-cloud.md
  tidb-cloud/notification-2024-09-15-console-maintenance.md
Labels: contribution, translation/no-need, first-time-contributor, size/L, area/tidb-cloud, approved, lgtm, ok-to-test

#18755 chore: remove v5.2/v8.0 from PR template
  .github/pull_request_template.md
  README.md
Labels: translation/from-docs-cn, size/S, needs-1-more-lgtm, approved, lgtm
