Repository pingcap/docs, pull requests merged in 2024-03, with the labels that each got.

#15979 Add description for `tidb_auth_token` authentication
  basic-features.md
  security-compatibility-with-mysql.md
  sql-statements/sql-statement-alter-user.md
  sql-statements/sql-statement-create-user.md
  system-variables.md
  tidb-configuration-file.md
Labels: translation/from-docs-cn, area/security, size/L, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6

#16628 *: add a restriction for smooth-upgrade-tidb
  smooth-upgrade-tidb.md
Labels: translation/from-docs-cn, size/XS, area/deploy-upgrade-maintain, approved, lgtm, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6

#16620 Update dumpling-overview.md
  dumpling-overview.md
Labels: translation/from-docs-cn, contribution, size/XS, approved, lgtm, needs-ok-to-test

#16610 contribution guide: add EBNF preview and CustomContent instructions
  CONTRIBUTING.md
Labels: translation/doing, size/M, approved, lgtm

#16204 Update limited-sql-features about serverless
  sql-statements/sql-statement-create-table.md
  tidb-cloud/limited-sql-features.md
Labels: translation/no-need, first-time-contributor, needs-cherry-pick-master, size/XS, area/tidb-cloud, needs-1-more-lgtm, approved, lgtm

#16380 ticdc: add ticdc_changefeed_failed alert rule
  ticdc/ticdc-alert-rules.md
Labels: translation/from-docs-cn, size/S, ONCALL, area/ticdc, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6

#16673 Update set-up-vpc-peering-connections.md
  tidb-cloud/set-up-vpc-peering-connections.md
Labels: translation/no-need, size/XS, area/tidb-cloud, approved, lgtm

#16674 HAProxy: update the recommended hardware configuration for HAProxy
  best-practices/haproxy-best-practices.md
Labels: translation/from-docs-cn, contribution, size/XS, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6

#16619 use cluster_tidb_trx for lock troubleshooting
  troubleshoot-lock-conflicts.md
Labels: type/bug-fix, translation/done, size/XS, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6

#16661 tidb: "PD server timeout" error message as lowercase
  error-codes.md
Labels: type/bug-fix, translation/doing, size/XS, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6

#16672 cloud: upgrade the default TiDB Dedicated cluster version from v7.5.0 to v7.5.1
  tidb-cloud/tidb-cloud-faq.md
Labels: translation/no-need, size/XS, area/tidb-cloud, for-cloud-release, approved, lgtm

#16608 cloud: billing cost explorer
  TOC-tidb-cloud.md
  tidb-cloud/manage-user-access.md
  tidb-cloud/tidb-cloud-billing.md
Labels: translation/no-need, size/S, area/tidb-cloud, for-cloud-release, needs-1-more-lgtm, approved, lgtm

#16688 release notes: fix incorrect issue numbers
  releases/release-5.2.4.md
  releases/release-5.3.1.md
  releases/release-5.3.2.md
  releases/release-5.4.1.md
  releases/release-5.4.3.md
  releases/release-6.0.0-dmr.md
  releases/release-6.1.0.md
  releases/release-6.2.0.md
  releases/release-6.5.2.md
  releases/release-6.5.5.md
  releases/release-6.5.6.md
  releases/release-6.5.8.md
  releases/release-6.6.0.md
  releases/release-7.1.2.md
  releases/release-7.1.3.md
  releases/release-7.2.0.md
  releases/release-7.4.0.md
Labels: translation/from-docs-cn, size/M, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6

#16670 cloud: add limit label for metrics
  tidb-cloud/built-in-monitoring.md
Labels: translation/no-need, size/S, area/tidb-cloud, for-cloud-release, approved, lgtm

#16682 cloud: add 20240305 release notes
  tidb-cloud/tidb-cloud-release-notes.md
Labels: translation/no-need, size/S, area/tidb-cloud, for-cloud-release, approved, lgtm

#16695 ticdc: add example of how to show bdr role
  ticdc/ticdc-changefeed-config.md
Labels: translation/done, contribution, size/XS, area/ticdc, needs-1-more-lgtm, approved, lgtm

#16697 add function pushdown list
  functions-and-operators/expressions-pushed-down.md
  tiflash/tiflash-supported-pushdown-calculations.md
Labels: missing-translation-status, size/XS, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6

#16190 cdc: Remove useless code in filter
  ticdc/ticdc-open-api-v2.md
Labels: translation/from-docs-cn, size/M, for-release, approved, lgtm, v8.0

#16707 include description about extending timeout of TiUP when force-init-stats is ON
  upgrade-tidb-using-tiup.md
Labels: translation/from-docs-cn, size/S, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm

#16671 v7.1.4: tikv configuration doc: add gc thread number
  tikv-configuration-file.md
Labels: translation/from-docs-cn, needs-cherry-pick-master, size/XS, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6

#16683 add release notes for v7.1.4
  TOC.md
  releases/release-7.1.4.md
  releases/release-notes.md
  releases/release-timeline.md
Labels: translation/from-docs-cn, size/L, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6

#16696 release-7.1: bump up the latest version to v7.1.4
  br/backup-and-restore-use-cases.md
  develop/dev-guide-sample-application-nodejs-mysql2.md
  develop/dev-guide-sample-application-nodejs-mysqljs.md
  develop/dev-guide-sample-application-nodejs-typeorm.md
  develop/dev-guide-sample-application-ruby-mysql2.md
  develop/dev-guide-sample-application-ruby-rails.md
  dm/maintain-dm-using-tiup.md
  dm/quick-start-create-task.md
  information-schema/information-schema-tidb-servers-info.md
  pd-control.md
  post-installation-check.md
  production-deployment-using-tiup.md
  quick-start-with-tidb.md
  scale-tidb-using-tiup.md
  ticdc/deploy-ticdc.md
  ticdc/ticdc-changefeed-config.md
  ticdc/ticdc-changefeed-overview.md
  ticdc/ticdc-manage-changefeed.md
  ticdc/ticdc-open-api-v2.md
  ticdc/ticdc-sink-to-cloud-storage.md
  tidb-binlog/get-started-with-tidb-binlog.md
  tidb-monitoring-api.md
  tiflash/create-tiflash-replicas.md
  tiup/tiup-cluster.md
  tiup/tiup-component-cluster-deploy.md
  tiup/tiup-component-cluster-patch.md
  tiup/tiup-component-cluster-upgrade.md
  tiup/tiup-component-dm-upgrade.md
  tiup/tiup-component-management.md
  tiup/tiup-mirror.md
  tiup/tiup-playground.md
  upgrade-tidb-using-tiup.md
Labels: translation/from-docs-cn, size/L, area/develop, needs-1-more-lgtm, approved, lgtm

#16642 update hardware requirement for disaggregated tiflash
  hardware-and-software-requirements.md
Labels: type/enhancement, translation/from-docs-cn, size/S, ONCALL, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6

#16723 ticdc: Add kafka eof troubleshooting
  ticdc/ticdc-changefeed-config.md
  ticdc/ticdc-sink-to-pulsar.md
  ticdc/troubleshoot-ticdc.md
Labels: translation/from-docs-cn, size/S, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6

#16739 faq: update an outdated sentence
  faq/sql-faq.md
Labels: translation/from-docs-cn, needs-cherry-pick-release-4.0, needs-cherry-pick-release-5.0, size/XS, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, ONCALL, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6

#16738 *: add notice on flashback cluster usage
  sql-statements/sql-statement-flashback-cluster.md
Labels: translation/from-docs-cn, size/XS, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6

#16778 resource-control: reduce misunderstandings
  tidb-resource-control.md
Labels: translation/from-docs-cn, size/XS, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6

#16781 br: add faq - why oom when restore stats
  faq/backup-and-restore-faq.md
Labels: translation/from-docs-cn, size/XS, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.6

#16775 *: update storage unit in system variables and config file
  system-variables.md
  tikv-configuration-file.md
Labels: translation/from-docs-cn, size/XL, ONCALL, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6

#16762 *: add tidb_opt_use_invisible_indexes
  sql-statements/sql-statement-alter-index.md
  sql-statements/sql-statement-create-index.md
  system-variables.md
Labels: translation/from-docs-cn, size/S, type/compatibility-or-feature-change, approved, lgtm, v8.0

#16641 Update tiflash support pushdown func list to add cast decimal as double
  tiflash/tiflash-supported-pushdown-calculations.md
Labels: translation/from-docs-cn, size/XS, needs-1-more-lgtm, approved, lgtm, v8.0

#16640 update tiflash function pushdown list to add power
  tiflash/tiflash-supported-pushdown-calculations.md
Labels: translation/from-docs-cn, size/XS, needs-1-more-lgtm, approved, lgtm, v8.0

#16446 Add documents for `information_schema.tidb_index_usage` and `sys.schema_unused_index`.
  TOC-tidb-cloud.md
  TOC.md
  information-schema/information-schema-tidb-index-usage.md
  information-schema/information-schema.md
  sys-schema.md
  system-variables.md
  tidb-configuration-file.md
Labels: translation/from-docs-cn, size/L, approved, lgtm, v8.0

#16693 *: add data type default values
  data-type-default-values.md
Labels: translation/from-docs-cn, size/M, approved, lgtm, v8.0

#16694 tiproxy: update performance test and metrics
  tiproxy/tiproxy-grafana.md
  tiproxy/tiproxy-overview.md
  tiproxy/tiproxy-performance-test.md
Labels: translation/from-docs-cn, size/L, needs-1-more-lgtm, approved, lgtm, v8.0

#16736 Add div_precision_increment system variable doc
  system-variables.md
Labels: translation/from-docs-cn, first-time-contributor, size/S, type/compatibility-or-feature-change, approved, lgtm, v8.0

#16598 Update partitioned-table.md
  mysql-compatibility.md
  partitioned-table.md
Labels: translation/from-docs-cn, contribution, size/S, for-release, approved, lgtm, v8.0, needs-ok-to-test

#16541 txn: add description about deprecating the tidb_disable_txn_auto_retry system variable
  optimistic-transaction.md
Labels: translation/from-docs-cn, size/XS, needs-1-more-lgtm, approved, lgtm, v8.0

#16530 txn: deprecate the tidb_disable_txn_auto_retry system variable
  system-variables.md
Labels: translation/from-docs-cn, size/XS, needs-1-more-lgtm, approved, lgtm, v8.0

#16626 Add sql mode format restrictions to expr in ticdc filter
  ticdc/ticdc-filter.md
Labels: translation/from-docs-cn, size/M, for-release, approved, lgtm, v8.0

#16663 tidb: add `general-log-file` and `compression`
  command-line-flags-for-tidb-configuration.md
  tidb-configuration-file.md
Labels: translation/from-docs-cn, size/S, type/compatibility-or-feature-change, needs-1-more-lgtm, approved, lgtm, v8.0

#16703 Add TiCDC Debezium Protocol docs
  TOC.md
  ticdc/ticdc-changefeed-config.md
  ticdc/ticdc-debezium.md
  ticdc/ticdc-overview.md
Labels: translation/from-docs-cn, size/L, needs-1-more-lgtm, approved, lgtm, v8.0, ok-to-test

#16706 *: add `tidb_low_resolution_tso_update_interval`
  system-variables.md
Labels: translation/from-docs-cn, size/S, type/compatibility-or-feature-change, approved, lgtm, v8.0

#16730 tidb: add the description for `tidb_enable_auto_analyze_priority_queue`
  statistics.md
  system-variables.md
Labels: translation/from-docs-cn, contribution, size/S, type/compatibility-or-feature-change, needs-1-more-lgtm, approved, lgtm, v8.0

#16772 planner: update SPM doc
  optimizer-hints.md
  sql-plan-management.md
  system-variables.md
Labels: translation/from-docs-cn, size/M, type/compatibility-or-feature-change, approved, lgtm, v8.0

#16715 pitr: support s3 object lock
  br/backup-and-restore-storages.md
Labels: translation/from-docs-cn, size/XS, needs-1-more-lgtm, approved, lgtm, v8.0

#16771 planner: update Plan Cache doc
  choose-index.md
  sql-prepared-plan-cache.md
Labels: translation/from-docs-cn, size/M, approved, lgtm, v8.0

#16549 Update minimum value for initial-scan-rate-limit
  tikv-configuration-file.md
Labels: translation/done, first-time-contributor, size/XS, type/compatibility-or-feature-change, for-release, approved, lgtm, v8.0

#16412 create-index: remove the description that no stats are collected for mv index
  sql-statements/sql-statement-create-index.md
Labels: translation/from-docs-cn, size/XS, needs-1-more-lgtm, approved, lgtm, v8.0

#16705 add explaination for log densitive feat
  system-variables.md
Labels: translation/from-docs-cn, size/S, type/compatibility-or-feature-change, needs-1-more-lgtm, approved, lgtm, v8.0

#16359 Removed the limitation on plan cache for partitioned tables.
  optimizer-fix-controls.md
  partitioned-table.md
  sql-non-prepared-plan-cache.md
  sql-prepared-plan-cache.md
Labels: translation/done, size/S, approved, lgtm, v8.0

#16704 Doc for Pipelined DML
  configure-memory-usage.md
  system-variables.md
  tidb-configuration-file.md
Labels: translation/from-docs-cn, size/M, type/compatibility-or-feature-change, needs-1-more-lgtm, approved, lgtm, v8.0

#15755 Spill of parallel aggregation in TiDB
  configure-memory-usage.md
  system-variables.md
Labels: translation/from-docs-cn, size/S, approved, lgtm, v8.0

#16740 dm: support customized secret key
  TOC.md
  dm/dm-command-line-flags.md
  dm/dm-customized-secret-key.md
  dm/dm-export-import-config.md
  dm/dm-manage-source.md
  dm/dm-master-configuration-file.md
  dm/dmctl-introduction.md
  dm/maintain-dm-using-tiup.md
  dm/quick-start-create-source.md
  dm/quick-start-create-task.md
  dm/quick-start-with-dm.md
Labels: translation/from-docs-cn, size/M, area/dm, needs-1-more-lgtm, approved, lgtm, v8.0

#16761 encryption: add tikv kms encryption for gcp and azure
  encryption-at-rest.md
Labels: translation/from-docs-cn, area/security, size/L, needs-1-more-lgtm, approved, lgtm, v8.0

#16735 tikv: enable async-io by setting raftstore.store-io-pool-size == 1 as default.
  tikv-configuration-file.md
  tune-tikv-thread-performance.md
Labels: translation/from-docs-cn, contribution, size/XS, approved, lgtm, v8.0, needs-ok-to-test

#16786 sys-var: add `tidb_schema_cache_size`
  system-variables.md
Labels: translation/from-docs-cn, size/S, type/compatibility-or-feature-change, approved, lgtm, v8.0

#16773 ticdc: remove canal protocol document
  ticdc/ticdc-faq.md
  ticdc/ticdc-open-api-v2.md
  ticdc/ticdc-open-api.md
  ticdc/ticdc-sink-to-kafka.md
Labels: requires-version-specific-changes, translation/doing, contribution, first-time-contributor, size/S, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, ONCALL, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6, ok-to-test

#16801 ticdc: remove canal protocol descriptions
  ticdc/troubleshoot-ticdc.md
Labels: translation/no-need, size/XS, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm

#16708 importinto 8.0 change & DXF enhancement
  sql-statements/sql-statement-import-into.md
  tidb-distributed-execution-framework.md
Labels: translation/from-docs-cn, size/L, needs-1-more-lgtm, approved, lgtm, v8.0

#16787 add doc for tikv-client.enable-replica-selector-v2
  tidb-configuration-file.md
Labels: translation/from-docs-cn, size/S, approved, lgtm, v8.0

#16777 titan_doc_8.0
  dynamic-config.md
  storage-engine/titan-configuration.md
  tikv-configuration-file.md
Labels: translation/from-docs-cn, size/S, needs-1-more-lgtm, approved, lgtm, v8.0

#16808 TiProxy: update images
  tiproxy/tiproxy-overview.md
Labels: translation/from-docs-cn, size/XS, approved, lgtm

#16753 ticdc: add ticdc simple protocol documentation
  TOC.md
  media/ticdc/ticdc-simple-consumer-1.png
  media/ticdc/ticdc-simple-consumer-2.png
  ticdc/ticdc-changefeed-config.md
  ticdc/ticdc-simple-protocol.md
Labels: translation/from-docs-cn, size/XXL, needs-1-more-lgtm, approved, lgtm, v8.0

#16803 pd: support pd microservices
  TOC.md
  pd-microservices.md
  tiup/tiup-playground.md
Labels: translation/from-docs-cn, size/L, needs-1-more-lgtm, approved, lgtm, v8.0

#16811 cloud: fix a link in explore-data-with-chat2query.md
  tidb-cloud/explore-data-with-chat2query.md
Labels: type/bug-fix, missing-translation-status, size/XS, ONCALL, area/tidb-cloud, approved, lgtm

#16737 DM: Update GitHub URLs for DM
  dm/deploy-a-dm-cluster-using-tiup-offline.md
  dm/deploy-a-dm-cluster-using-tiup.md
  dm/dm-error-handling.md
  dm/dm-faq.md
  dm/quick-start-with-dm.md
  dm/shard-merge-best-practices.md
  tidb-troubleshooting-map.md
Labels: translation/doing, size/S, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6

#16810 add mysql workbench faqs
  develop/dev-guide-gui-mysql-workbench.md
  media/develop/mysql-workbench-adjust-sqleditor-read-timeout.jpg
  tidb-cloud/serverless-driver.md
Labels: type/enhancement, translation/done, needs-cherry-pick-master, size/S, area/develop, area/tidb-cloud, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.6

#16805 docs: Disable auto_analyze for plan_replayer
  sql-plan-replayer.md
Labels: translation/doing, contribution, first-time-contributor, size/S, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6, ok-to-test

#16790 lightning: document logical-import-batch-{size,rows}
  tidb-lightning/tidb-lightning-configuration.md
Labels: translation/done, size/S, type/compatibility-or-feature-change, area/tidb-lightning, for-release, needs-1-more-lgtm, approved, lgtm, v8.0

#16789 rename `tidb_ddl_version` to `tidb_enable_fast_create_table`
  TOC-tidb-cloud.md
  TOC.md
  accelerated-table-creation.md
  basic-features.md
  ddl-v2.md
  releases/release-7.6.0.md
  system-variables.md
Labels: translation/from-docs-cn, size/L, type/compatibility-or-feature-change, approved, lgtm, v8.0

#16806 add warnings for two experimental features: Google Cloud KMS and IMPORT INTO SELECT
  encryption-at-rest.md
  sql-statements/sql-statement-import-into.md
Labels: translation/from-docs-cn, size/XS, needs-1-more-lgtm, approved, lgtm, v8.0

#16720 Conflict data resolution enhancement during data import
  tidb-lightning/tidb-lightning-configuration.md
  tidb-lightning/tidb-lightning-error-resolution.md
  tidb-lightning/tidb-lightning-logical-import-mode-usage.md
  tidb-lightning/tidb-lightning-physical-import-mode-usage.md
Labels: translation/from-docs-cn, size/M, area/tidb-lightning, needs-1-more-lgtm, approved, lgtm, v8.0

#16605 Global sort documents update
  sql-statements/sql-statement-import-into.md
  system-variables.md
  tidb-global-sort.md
Labels: translation/from-docs-cn, size/S, needs-1-more-lgtm, approved, lgtm, v8.0, needs-cherry-pick-release-8.0

#16721 Update sql-statement-explain.md - typo
  sql-statements/sql-statement-explain.md
Labels: translation/doing, contribution, size/XS, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6, ok-to-test, needs-cherry-pick-release-8.0

#16844 V8.0.0: update learning path
  _index.md
Labels: translation/from-docs-cn, size/M, needs-1-more-lgtm, approved, lgtm, v8.0

#16846 restore: add load stats description
  br/br-snapshot-manual.md
Labels: translation/from-docs-cn, size/XS, for-release, needs-1-more-lgtm, approved, lgtm, v8.0, needs-cherry-pick-release-8.0

#16788 choose-index: update the docs for supporting more patterns for mv index
  choose-index.md
Labels: translation/from-docs-cn, size/XL, approved, lgtm, v8.0, needs-cherry-pick-release-8.0

#16812 Add config output-handle-key/output-old-value doc for ticdc
  ticdc/ticdc-changefeed-config.md
Labels: requires-version-specific-changes, translation/from-docs-cn, size/XS, for-release, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.6, v8.0, needs-cherry-pick-release-8.0

#16861 Revise conflict data resolution enhancement during data import
  tidb-lightning/tidb-lightning-configuration.md
  tidb-lightning/tidb-lightning-error-resolution.md
  tidb-lightning/tidb-lightning-physical-import-mode-usage.md
Labels: translation/from-docs-cn, size/S, approved, lgtm, v8.0, needs-cherry-pick-release-8.0

#16722 basic-features.md: add the column for v8.0.0
  basic-features.md
Labels: translation/from-docs-cn, contribution, size/XL, approved, lgtm, v8.0, needs-cherry-pick-release-8.0

#16864 br: acceleration of snapshot restore speed
  br/br-snapshot-guide.md
  system-variables.md
Labels: translation/from-docs-cn, size/S, needs-1-more-lgtm, approved, lgtm, v8.0, needs-cherry-pick-release-8.0

#16876 tiup: Update tiup-playground.md
  tiup/tiup-playground.md
Labels: translation/from-docs-cn, size/XS, needs-1-more-lgtm, approved, lgtm, needs-ok-to-test, needs-cherry-pick-release-8.0

#16599 releases: add release note for v8.0.0
  TOC.md
  releases/release-8.0.0.md
  releases/release-notes.md
  releases/release-timeline.md
Labels: translation/from-docs-cn, size/XXL, needs-1-more-lgtm, approved, lgtm, v8.0, needs-cherry-pick-release-8.0

#16837 bump version for v8.0.0
  README.md
  br/backup-and-restore-use-cases.md
  develop/dev-guide-sample-application-nodejs-mysql2.md
  develop/dev-guide-sample-application-nodejs-mysqljs.md
  develop/dev-guide-sample-application-nodejs-typeorm.md
  develop/dev-guide-sample-application-ruby-mysql2.md
  develop/dev-guide-sample-application-ruby-rails.md
  dm/maintain-dm-using-tiup.md
  dm/quick-start-create-task.md
  information-schema/information-schema-tidb-servers-info.md
  pd-control.md
  post-installation-check.md
  production-deployment-using-tiup.md
  quick-start-with-tidb.md
  scale-tidb-using-tiup.md
  system-variables.md
  ticdc/deploy-ticdc.md
  ticdc/ticdc-changefeed-config.md
  ticdc/ticdc-changefeed-overview.md
  ticdc/ticdc-manage-changefeed.md
  ticdc/ticdc-open-api-v2.md
  ticdc/ticdc-sink-to-cloud-storage.md
  ticdc/ticdc-sink-to-pulsar.md
  tidb-binlog/get-started-with-tidb-binlog.md
  tidb-monitoring-api.md
  tiflash/create-tiflash-replicas.md
  tiup/tiup-cluster.md
  tiup/tiup-component-cluster-deploy.md
  tiup/tiup-component-cluster-patch.md
  tiup/tiup-component-cluster-upgrade.md
  tiup/tiup-component-dm-upgrade.md
  tiup/tiup-component-management.md
  tiup/tiup-mirror.md
  tiup/tiup-playground.md
  upgrade-tidb-using-tiup.md
Labels: translation/from-docs-cn, size/L, area/develop, needs-1-more-lgtm, approved, lgtm, v8.0, needs-cherry-pick-release-8.0

#16866 fix descriptions for tidb_stmt_summary_max_sql_length
  system-variables.md
Labels: translation/from-docs-cn, size/XS, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6, needs-cherry-pick-release-8.0

#16884 hardware-and-software-requirements: fix the name of the instruction set
  hardware-and-software-requirements.md
Labels: translation/from-docs-cn, size/XS, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6, needs-cherry-pick-release-8.0

#16891 delete release notes 8.0
  TOC.md
  releases/release-8.0.0.md
  releases/release-notes.md
  releases/release-timeline.md
Labels: translation/from-docs-cn, size/S, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-8.0

#16800 Add the introduction of capture group for regexp function
  functions-and-operators/string-functions.md
Labels: translation/from-docs-cn, size/S, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6, needs-cherry-pick-release-8.0

#16897 Revert "delete release notes 8.0"
  TOC.md
  releases/release-8.0.0.md
  releases/release-notes.md
  releases/release-timeline.md
Labels: translation/from-docs-cn, contribution, size/S, needs-1-more-lgtm, approved, lgtm, v8.0, needs-cherry-pick-release-8.0

#16870 add connection string for plan replayer
  sql-plan-replayer.md
  tidb-cloud/tidb-cloud-import-local-files.md
Labels: type/enhancement, translation/doing, contribution, size/XS, approved, lgtm, needs-ok-to-test, needs-cherry-pick-release-8.0

#16863 cloud: add TiDB Cloud Dedicated Data Migration maintenance notification
  TOC-tidb-cloud.md
  tidb-cloud/notification-2024-04-11-dm-feature-maintenance.md
  tidb-cloud/notification-2024-04-18-dm-feature-maintenance.md
Labels: translation/no-need, size/M, area/tidb-cloud, needs-1-more-lgtm, approved, lgtm

#16832 include the description of critical issue 51407 in doc
  sql-prepared-plan-cache.md
Labels: translation/from-docs-cn, size/XS, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6, needs-cherry-pick-release-8.0

#16909 cloud: Update the DM maintenance
  tidb-cloud/notification-2024-04-18-dm-feature-maintenance.md
Labels: translation/no-need, size/XS, area/tidb-cloud, needs-1-more-lgtm, approved, lgtm
