Repository pingcap/docs, pull requests merged in 2024-04, with the labels that each got.

#16903 ticdc: fix incompatiable config description
  ticdc/ticdc-open-api-v2.md
  ticdc/ticdc-open-api.md
Labels: translation/from-docs-cn, needs-cherry-pick-release-6.1, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-8.0

#16900 Free and Scalable Cluster Plans in Serverless
  develop/dev-guide-build-cluster-in-cloud.md
  tidb-cloud/create-tidb-cluster-serverless.md
  tidb-cloud/manage-serverless-spend-limit.md
  tidb-cloud/release-notes-2023.md
  tidb-cloud/select-cluster-tier.md
  tidb-cloud/serverless-faqs.md
  tidb-cloud/serverless-limitations.md
  tidb-cloud/tidb-cloud-quickstart.md
  tidb-cloud/tidb-cloud-release-notes.md
Labels: translation/no-need, size/L, area/develop, area/tidb-cloud, for-cloud-release, approved, lgtm

#16919 pdms: remove pd playground
  pd-microservices.md
  releases/release-8.0.0.md
  tiup/tiup-playground.md
Labels: translation/from-docs-cn, size/M, approved, lgtm, v8.0, needs-cherry-pick-release-8.0

#16922 basic features: fix anchor link
  basic-features.md
Labels: type/bug-fix, translation/from-docs-cn, size/XS, ONCALL, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6, needs-cherry-pick-release-8.0

#16916 fix comment syntax for correct website rendering
  character-set-and-collation.md
Labels: contribution, translation/no-need, size/XS, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6, ok-to-test, needs-cherry-pick-release-8.0

#16921 Update free vs. scalable clusters
  tidb-cloud/serverless-faqs.md
  tidb-cloud/serverless-limitations.md
  tidb-cloud/tidb-cloud-console-auditing.md
  tidb-cloud/tidb-cloud-events.md
  tidb-cloud/tidb-cloud-glossary.md
Labels: translation/no-need, size/S, area/tidb-cloud, for-cloud-release, approved, lgtm

#16918 cloud: update benchmark results
  TOC-tidb-cloud.md
  media/tidb-cloud/v.7.1.0-oltp_read_write.png
  media/tidb-cloud/v6.5.6-oltp_insert.png
  media/tidb-cloud/v6.5.6-oltp_read_write.png
  media/tidb-cloud/v6.5.6-oltp_select_point.png
  media/tidb-cloud/v6.5.6-oltp_update_index.png
  media/tidb-cloud/v6.5.6-oltp_update_non_index.png
  media/tidb-cloud/v6.5.6-tpmC.png
  media/tidb-cloud/v7.1.3-oltp_insert.png
  media/tidb-cloud/v7.1.3-oltp_read_write.png
  media/tidb-cloud/v7.1.3-oltp_select_point.png
  media/tidb-cloud/v7.1.3-oltp_update_index.png
  media/tidb-cloud/v7.1.3-oltp_update_non_index.png
  media/tidb-cloud/v7.1.3-tpmC.png
  media/tidb-cloud/v7.5.0-oltp_insert.png
  media/tidb-cloud/v7.5.0-oltp_point_select.png
  media/tidb-cloud/v7.5.0-oltp_read_write.png
  media/tidb-cloud/v7.5.0-oltp_update_index.png
  media/tidb-cloud/v7.5.0-oltp_update_non_index.png
  media/tidb-cloud/v7.5.0_oltp_point_select.png
  media/tidb-cloud/v7.5.0_oltp_read_write.png
  media/tidb-cloud/v7.5.0_tpcc.png
  tidb-cloud/v6.5-performance-benchmarking-with-sysbench.md
  tidb-cloud/v6.5-performance-benchmarking-with-tpcc.md
  tidb-cloud/v7.1-performance-benchmarking-with-sysbench.md
  tidb-cloud/v7.1-performance-benchmarking-with-tpcc.md
  tidb-cloud/v7.5-performance-benchmarking-with-sysbench.md
  tidb-cloud/v7.5-performance-benchmarking-with-tpcc.md
Labels: contribution, translation/no-need, first-time-contributor, size/XL, area/develop, area/tidb-cloud, approved, lgtm, ok-to-test

#16948 cdc: fix compatibility with TiDB Lightning
  ticdc/ticdc-faq.md
  ticdc/ticdc-overview.md
Labels: translation/from-docs-cn, size/S, ONCALL, area/tidb-lightning, area/ticdc, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6, needs-cherry-pick-release-8.0

#16936 Add examples for FIELD() and FIND_IN_SET()
  functions-and-operators/string-functions.md
Labels: type/enhancement, translation/done, size/S, area/sql-infra, approved, lgtm, needs-cherry-pick-release-8.0

#16946 Add LPAD() example
  functions-and-operators/string-functions.md
Labels: type/enhancement, translation/done, size/M, area/sql-infra, approved, lgtm, needs-cherry-pick-release-8.0

#16935 cdc: Add description about protocol behavior change
  TOC.md
  releases/release-6.5.3.md
  releases/release-6.5.4.md
  releases/release-7.1.1.md
  releases/release-7.1.2.md
  releases/release-7.2.0.md
  releases/release-7.4.0.md
  ticdc/ticdc-behavior-change.md
Labels: translation/from-docs-cn, size/M, area/ticdc, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6, needs-cherry-pick-release-8.0

#16966 cloud: support edge in prisma
  tidb-cloud/serverless-driver-prisma-example.md
Labels: translation/no-need, size/M, area/tidb-cloud, approved, lgtm

#15612 Update KILL TIDB descriptions for v5.3
  sql-statements/sql-statement-kill.md
Labels: translation/from-docs-cn, size/S, area/sql-infra, needs-cherry-pick-release-5.4, needs-1-more-lgtm, approved, lgtm

#16923 *: remove Chinese characters
  develop/dev-guide-insert-data.md
  develop/dev-guide-prepared-statement.md
  information-schema/information-schema-columns.md
Labels: type/bug-fix, translation/no-need, size/XS, area/develop, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6, needs-cherry-pick-release-8.0

#16965 dumpling: add URI formats
  br/backup-and-restore-storages.md
Labels: translation/no-need, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6, needs-cherry-pick-release-8.0

#16964 clinic: update UI elements on the login page
  clinic/quick-start-with-clinic.md
Labels: type/bug-fix, translation/from-docs-cn, size/XS, ONCALL, area/clinic, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6, needs-cherry-pick-release-8.0

#16871 Add new order ratio being added to 8.0.0
  releases/release-8.0.0.md
  system-variables.md
Labels: translation/done, contribution, size/L, type/compatibility-or-feature-change, for-release, approved, lgtm, v8.0, needs-ok-to-test, needs-cherry-pick-release-8.0

#16915 tiup: add additional_args
  tiup/tiup-cluster-topology-reference.md
Labels: type/enhancement, translation/from-docs-cn, size/XS, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6

#16998 enbf show warnings
  sql-statements/sql-statement-show-warnings.md
Labels: type/enhancement, translation/doing, size/XS, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.0

#17021 Remove TiDB 5.0 from PR template
  .github/pull_request_template.md
Labels: translation/done, size/XS, needs-1-more-lgtm, approved, lgtm

#17018 ebnf show collation
  sql-statements/sql-statement-show-collation.md
Labels: type/enhancement, translation/done, size/M, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.0

#17012 ebnf show errors
  sql-statements/sql-statement-show-errors.md
Labels: type/enhancement, translation/done, size/XS, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.0

#17058 Add perl dependency requirement for tikv heap profiling
  dashboard/dashboard-profiling.md
Labels: translation/from-docs-cn, contribution, size/XS, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6, needs-cherry-pick-release-8.0

#17041 *: fix broken links
  develop/dev-guide-sample-application-aws-lambda.md
  develop/dev-guide-sample-application-java-jdbc.md
  develop/dev-guide-sample-application-nextjs.md
  releases/release-6.5.7.md
  releases/release-7.1.3.md
  tidb-lightning/tidb-lightning-overview.md
  tidb-troubleshooting-map.md
Labels: type/bug-fix, translation/from-docs-cn, size/S, area/develop, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.0

#17066 br: add memory for restoration of table statistics
  br/br-snapshot-manual.md
Labels: translation/from-docs-cn, contribution, size/XS, approved, lgtm

#17076 br: not support executing backup task and restore task at the same time
  br/backup-and-restore-overview.md
Labels: translation/from-docs-cn, size/XS, approved, lgtm, needs-cherry-pick-release-7.6, needs-cherry-pick-release-8.0

#17079 cloud: add maintenance notification for monitoring features
  TOC-tidb-cloud.md
  tidb-cloud/notification-2024-04-09-monitoring-features-maintenance.md
  tidb-cloud/notification-2024-04-16-monitoring-features-maintenance.md
Labels: translation/no-need, size/L, area/tidb-cloud, approved, lgtm

#17036 cloud: Update size-your-cluster.md
  tidb-cloud/size-your-cluster.md
Labels: translation/no-need, size/XS, area/tidb-cloud, for-cloud-release, needs-1-more-lgtm, approved, lgtm

#17054 cloud: add release note 20240409
  tidb-cloud/tidb-cloud-release-notes.md
Labels: missing-translation-status, size/XS, needs-1-more-lgtm, approved, lgtm

#17057 dr-autosync: add configuration description
  two-data-centers-in-one-city-deployment.md
Labels: translation/from-docs-cn, size/XS, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6, needs-cherry-pick-release-8.0

#16960 Add REPEAT() example
  functions-and-operators/string-functions.md
Labels: type/enhancement, translation/done, size/M, area/sql-infra, approved, lgtm, needs-cherry-pick-release-8.0

#16959 Add example for OCT()
  functions-and-operators/string-functions.md
Labels: type/enhancement, translation/done, size/M, area/sql-infra, approved, lgtm, needs-cherry-pick-release-8.0

#17002 ebnf set password
  sql-statements/sql-statement-set-password.md
Labels: type/enhancement, translation/doing, size/XS, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.0

#16996 ebnf trace
  sql-statements/sql-statement-trace.md
Labels: type/enhancement, translation/doing, size/M, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.0

#17000 ebnf show variables
  sql-statements/sql-statement-show-variables.md
Labels: type/enhancement, translation/doing, size/M, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.0

#17106 dr-autosync: add configuration description
  two-data-centers-in-one-city-deployment.md
Labels: translation/from-docs-cn, size/XS, needs-cherry-pick-release-6.5, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-8.0

#17004 ebnf show plugins
  sql-statements/sql-statement-show-plugins.md
Labels: type/enhancement, translation/done, size/S, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.0

#17006 ebnf show engines
  sql-statements/sql-statement-show-engines.md
Labels: type/enhancement, translation/done, size/S, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.0

#17009 ebnf show builtins
  sql-statements/sql-statement-show-builtins.md
Labels: type/enhancement, translation/done, size/XS, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.0

#16994 ebnf shutdown
  sql-statements/sql-statement-shutdown.md
Labels: type/enhancement, translation/done, size/XS, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.0

#17114 Update fine grained shuffle stream count description
  system-variables.md
Labels: translation/from-docs-cn, size/XS, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6, needs-cherry-pick-release-8.0

#17135 fix release-timeline
  releases/release-timeline.md
Labels: translation/done, size/XS, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-8.0

#17109 RocksDB: Add track-and-verify-wals-in-manifest desc
  tikv-configuration-file.md
Labels: translation/from-docs-cn, size/XS, needs-cherry-pick-release-6.5, needs-1-more-lgtm, approved, lgtm, needs-ok-to-test, needs-cherry-pick-release-8.0

#17020 ebnf show stats_meta
  sql-statements/sql-statement-show-stats-meta.md
Labels: type/enhancement, translation/doing, size/S, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.0

#17023 ebnf show processlist
  sql-statements/sql-statement-show-processlist.md
Labels: type/enhancement, translation/doing, size/S, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.0

#17027 ebnf show privileges
  sql-statements/sql-statement-show-privileges.md
Labels: type/enhancement, translation/doing, size/S, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.0

#17031 ebnf show databases
  sql-statements/sql-statement-show-databases.md
Labels: type/enhancement, translation/doing, size/S, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.0

#17033 ebnf show bindings
  sql-statements/sql-statement-show-bindings.md
Labels: type/enhancement, translation/doing, size/S, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.0

#17043 ebnf set default role
  sql-statements/sql-statement-set-default-role.md
Labels: type/enhancement, translation/doing, size/S, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.0

#17111 TiDB 7.1+ checkpoint restore requires `s3:DeleteObject` permission
  br/backup-and-restore-storages.md
  br/backup-and-restore-use-cases.md
Labels: type/bug-fix, translation/done, size/XS, area/br, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6, needs-cherry-pick-release-8.0

#17156 Fix EBNF for SHOW WARNINGS
  sql-statements/sql-statement-show-warnings.md
Labels: translation/no-need, size/XS, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.0

#17007 v6.5.9: add release notes
  TOC.md
  releases/release-6.5.9.md
  releases/release-notes.md
  releases/release-timeline.md
Labels: translation/from-docs-cn, size/L, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6, needs-cherry-pick-release-8.0

#17110 v6.5: bump the latest patch version to v6.5.9
  br/backup-and-restore-use-cases.md
  dm/maintain-dm-using-tiup.md
  dm/quick-start-create-task.md
  pd-control.md
  production-deployment-using-tiup.md
  quick-start-with-tidb.md
  scale-tidb-using-tiup.md
  ticdc/deploy-ticdc.md
  ticdc/ticdc-changefeed-config.md
  ticdc/ticdc-changefeed-overview.md
  ticdc/ticdc-manage-changefeed.md
  ticdc/ticdc-sink-to-cloud-storage.md
  tidb-binlog/get-started-with-tidb-binlog.md
  tiflash/create-tiflash-replicas.md
  tiup/tiup-cluster.md
  tiup/tiup-component-cluster-deploy.md
  tiup/tiup-component-cluster-patch.md
  tiup/tiup-component-cluster-upgrade.md
  tiup/tiup-component-dm-upgrade.md
  tiup/tiup-component-management.md
  tiup/tiup-mirror.md
  tiup/tiup-playground.md
  upgrade-tidb-using-tiup.md
Labels: translation/from-docs-cn, size/L, needs-1-more-lgtm, approved, lgtm

#17175 release-6.5.9: update the issue description for #8803
  releases/release-6.5.9.md
  releases/release-7.1.4.md
Labels: translation/from-docs-cn, size/XS, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6, needs-cherry-pick-release-8.0

#16958 Add example for QUOTE()
  functions-and-operators/string-functions.md
Labels: type/enhancement, translation/done, size/S, area/sql-infra, approved, lgtm, needs-cherry-pick-release-8.0

#17155 Fix EBNF for SHOW CREATE DATABASE
  sql-statements/sql-statement-show-create-database.md
Labels: type/enhancement, translation/doing, missing-translation-status, size/XS, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.0

#16649 Add docs for ALTER SEQUENCE and sequence functions
  TOC-tidb-cloud.md
  TOC.md
  error-codes.md
  functions-and-operators/sequence-functions.md
  information-schema/information-schema-sequences.md
  sql-statements/sql-statement-alter-sequence.md
  sql-statements/sql-statement-create-sequence.md
  sql-statements/sql-statement-drop-sequence.md
  sql-statements/sql-statement-show-create-sequence.md
Labels: translation/doing, size/XL, approved, lgtm

#17136 *: default value tiny update
  data-type-default-values.md
Labels: translation/from-docs-cn, size/XS, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-8.0

#17068 ebnf show tables
  sql-statements/sql-statement-show-tables.md
Labels: translation/done, size/S, approved, lgtm, needs-cherry-pick-release-8.0

#17053 Fix WITH ebnf
  sql-statements/sql-statement-with.md
Labels: translation/done, size/XS, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-8.0

#17065 ebnf show table status
  sql-statements/sql-statement-show-table-status.md
Labels: translation/done, size/S, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-8.0

#17049 ebnf show create sequence
  sql-statements/sql-statement-show-create-sequence.md
Labels: translation/done, size/S, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-8.0

#17045 ebnf set role
  sql-statements/sql-statement-set-role.md
Labels: translation/done, size/S, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-8.0

#17047 ebnf user variable
  sql-statements/sql-statement-set-variable.md
  user-defined-variables.md
Labels: translation/done, size/M, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-8.0

#17052 Correct SHOW PLACEMENT ebnf
  sql-statements/sql-statement-show-placement-for.md
  sql-statements/sql-statement-show-placement-labels.md
  sql-statements/sql-statement-show-placement.md
Labels: translation/done, size/S, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-8.0

#17051 ebnf show stats_histograms
  TOC-tidb-cloud.md
  TOC.md
  sql-statements/sql-statement-show-stats-histograms.md
Labels: translation/done, size/M, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-8.0

#16957 Add example for multi argument CHAR()
  functions-and-operators/string-functions.md
Labels: type/enhancement, translation/done, size/S, area/sql-infra, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-8.0

#16962 Add examples for regexp functions
  functions-and-operators/string-functions.md
Labels: type/enhancement, translation/done, size/XL, area/sql-infra, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-8.0

#17199 Address a few minor changes in user docs as of 7.1
  dynamic-config.md
  system-variables.md
  user-account-management.md
Labels: translation/from-docs-cn, size/S, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6, needs-cherry-pick-release-8.0

#17204 Mark v4.0/v5.0/v7.4 docs as archived
  .github/pull_request_template.md
  README.md
Labels: translation/from-docs-cn, size/XS, needs-1-more-lgtm, approved, lgtm

#16917 tiup, tiproxy: add version flags to tiup cluster upgrade
  tiproxy/tiproxy-configuration.md
  tiproxy/tiproxy-overview.md
  tiup/tiup-component-cluster-upgrade.md
Labels: translation/from-docs-cn, size/M, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.6, needs-cherry-pick-release-8.0

#16963 ticdc: refine changefeed related documentations
  releases/release-7.5.0.md
  ticdc/ticdc-changefeed-config.md
  ticdc/ticdc-changefeed-overview.md
  ticdc/ticdc-ddl.md
Labels: translation/from-docs-cn, size/S, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6, needs-cherry-pick-release-8.0

#16869 Rehash of statistics page
  statistics.md
Labels: translation/doing, contribution, size/XXL, approved, lgtm, ok-to-test

#17215 deploy-a-dm-cluster-using-tiup-offline: fix a command
  dm/deploy-a-dm-cluster-using-tiup-offline.md
Labels: translation/from-docs-cn, size/XS, area/tiup, ONCALL, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6, needs-cherry-pick-release-8.0

#17221 lightning: add back content about tpcc
  tidb-lightning/tidb-lightning-physical-import-mode-usage.md
Labels: translation/from-docs-cn, size/S, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6, needs-cherry-pick-release-8.0

#16854 locking-functions: Update reference manual
  functions-and-operators/locking-functions.md
Labels: translation/doing, size/XS, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-8.0

#16857 string-functions: update reference manual
  functions-and-operators/string-functions.md
Labels: translation/doing, size/XS, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-8.0

#17205 cloud: add release notes 20240416
  tidb-cloud/tidb-cloud-release-notes.md
Labels: translation/no-need, size/S, area/tidb-cloud, for-cloud-release, needs-1-more-lgtm, approved, lgtm

#17228 Update scale-tidb-using-tiup.md
  scale-tidb-using-tiup.md
Labels: translation/from-docs-cn, size/M, area/tiup, ONCALL, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6, ok-to-test, needs-cherry-pick-release-8.0

#17239 Add note for cli profile
  tidb-cloud/cli-reference.md
Labels: translation/no-need, size/XS, area/tidb-cloud, needs-1-more-lgtm, approved, lgtm

#17091 ebnf set names
  sql-statements/sql-statement-set-names.md
Labels: translation/doing, size/M, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-8.0

#17083 ebnf savepoint
  sql-statements/sql-statement-savepoint.md
Labels: translation/doing, size/S, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-8.0

#17081 ebnf show grants
  sql-statements/sql-statement-show-grants.md
Labels: translation/doing, size/S, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-8.0

#17082 Fix EBNF for UNLOCK STATS and partitions
  sql-statements/sql-statement-unlock-stats.md
Labels: translation/doing, size/XS, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-8.0

#17072 ebnf show stats healthy
  sql-statements/sql-statement-show-stats-healthy.md
Labels: translation/doing, size/S, approved, lgtm, needs-cherry-pick-release-8.0

#17070 ebnf show profiles
  sql-statements/sql-statement-show-profiles.md
Labels: translation/doing, size/S, approved, lgtm, needs-cherry-pick-release-8.0

#17074 ebnf show create user
  sql-statements/sql-statement-show-create-user.md
Labels: translation/doing, size/S, approved, lgtm, needs-cherry-pick-release-8.0

#16851 date-and-time-functions: Update reference manual
  functions-and-operators/date-and-time-functions.md
Labels: translation/doing, size/XS, approved, lgtm, needs-cherry-pick-release-8.0

#16852 encryption-and-compression-functions: Update for MySQL 8.0
  functions-and-operators/encryption-and-compression-functions.md
Labels: translation/doing, size/S, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-8.0

#16847 bit-functions-and-operators: Update reference manual links
  functions-and-operators/bit-functions-and-operators.md
Labels: translation/doing, size/S, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-8.0

#17233 upgrade: refine upgrade steps
  tiflash-upgrade-guide.md
  upgrade-tidb-using-tiup.md
Labels: translation/from-docs-cn, size/M, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6, needs-cherry-pick-release-8.0, needs-cherry-pick-release-8.1

#17234 modify descriptions of column default value
  data-type-default-values.md
Labels: translation/from-docs-cn, size/M, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-8.0

#17087 ebnf show columns from
  sql-statements/sql-statement-show-columns-from.md
Labels: translation/doing, size/M, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-8.0

#16083 update: mysql connector/j update for debugging
  develop/dev-guide-third-party-tools-compatibility.md
Labels: translation/no-need, size/S, area/develop, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6

#17264 script: update release notes script for windows
  scripts/release_notes_update_pr_author_info_add_dup.py
Labels: translation/no-need, size/XS, needs-1-more-lgtm, approved, lgtm

#17270 dm: refine details format
  dm/manually-handling-sharding-ddl-locks.md
Labels: translation/from-docs-cn, ONCALL, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6, needs-cherry-pick-release-8.0

#17165 GC Timeout is Out of Date
  develop/dev-guide-timeouts-in-tidb.md
Labels: translation/from-docs-cn, size/M, ONCALL, area/develop, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6, needs-cherry-pick-release-8.0, needs-cherry-pick-release-8.1

#16824 Update TiDB Cloud docs with MySQL 8.0 Reference Manual links
  tidb-cloud/tidb-cloud-dm-precheck-and-troubleshooting.md
Labels: translation/no-need, size/S, area/tidb-cloud, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5

#17286 add disconnect handling note when using sqlalchemy against TiDB Serverless
  develop/dev-guide-sample-application-python-sqlalchemy.md
Labels: translation/doing, needs-cherry-pick-master, size/XS, area/develop, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.6, needs-cherry-pick-release-8.0

#17293 *: add openEuler 22.03 LTS SP3
  hardware-and-software-requirements.md
Labels: translation/from-docs-cn, size/XS, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5

#17287 Adjust the description of CMEK to make it clear that it is a symmetri…
  tidb-cloud/tidb-cloud-encrypt-cmek.md
Labels: translation/no-need, size/XS, area/tidb-cloud, needs-1-more-lgtm, approved, lgtm

#17099 ebnf update
  sql-statements/sql-statement-update.md
Labels: translation/doing, missing-translation-status, size/M, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-8.0

#16859 json-functions: Update for MySQL 8.0 compat
  functions-and-operators/json-functions.md
Labels: translation/doing, size/S, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-8.0

#17095 ebnf show table regions
  sql-statements/sql-statement-show-table-regions.md
Labels: translation/doing, size/M, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-8.0

#17093 ebnf show table next rowid
  sql-statements/sql-statement-show-table-next-rowid.md
Labels: translation/doing, size/S, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-8.0

#17089 ebnf show create table
  sql-statements/sql-statement-show-create-table.md
Labels: translation/doing, size/S, approved, lgtm, needs-cherry-pick-release-8.0

#17085 ebnf show indexes
  sql-statements/sql-statement-show-indexes.md
Labels: translation/doing, size/S, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-8.0

#17282 cloud: update URLs for API docs
  TOC-tidb-cloud.md
  tidb-cloud/api-overview.md
  tidb-cloud/managed-service-provider.md
Labels: translation/no-need, size/S, area/tidb-cloud, needs-1-more-lgtm, approved, lgtm

#17304 Fix EBNF for SET PASSWORD and SHOW ENGINES
  faq/monitor-faq.md
  information-schema/information-schema-slow-query.md
  sql-statements/sql-statement-set-password.md
  sql-statements/sql-statement-show-engines.md
  sync-diff-inspector/sync-diff-inspector-overview.md
  tidb-cloud/migrate-from-op-tidb.md
  tidb-troubleshooting-map.md
Labels: type/bug-fix, translation/doing, size/S, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.0

#17296 cloud dm: only support logical mode to migrate existing data
  tidb-cloud/migrate-from-mysql-using-data-migration.md
Labels: translation/no-need, size/XS, area/dm, area/tidb-cloud, approved, lgtm

#16956 Add examples for ORD()
  functions-and-operators/string-functions.md
Labels: type/enhancement, translation/done, size/M, area/sql-infra, approved, lgtm, needs-cherry-pick-release-8.0

#16954 Add MAKE_SET() and LTRIM() examples
  functions-and-operators/string-functions.md
Labels: type/enhancement, translation/done, size/L, area/sql-infra, approved, lgtm, needs-cherry-pick-release-8.0

#16955 Add MID() and NOT LIKE examples
  functions-and-operators/string-functions.md
Labels: type/enhancement, translation/done, size/M, area/sql-infra, approved, lgtm, needs-cherry-pick-release-8.0

#16855 miscellaneous-functions: Update reference manual
  functions-and-operators/miscellaneous-functions.md
Labels: type/enhancement, translation/done, size/XL, approved, lgtm, needs-cherry-pick-release-8.0

#16849 control-flow-functions: Update reference manual links
  functions-and-operators/control-flow-functions.md
Labels: translation/done, size/L, approved, lgtm, needs-cherry-pick-release-8.0

#17232 Fix 8216 error code explanation
  error-codes.md
Labels: translation/done, contribution, size/XS, approved, lgtm, ok-to-test, needs-cherry-pick-release-8.0

#17198 Extend sql_mode docs
  sql-mode.md
Labels: translation/done, size/XS, approved, lgtm, needs-cherry-pick-release-8.0

#17317 Pipelined-DML: document incompatibility with BR
  system-variables.md
Labels: translation/from-docs-cn, size/XS, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-8.0

#17319 Update TiDB server package download links in monitoring upgrade
  binary-package.md
  upgrade-monitoring-services.md
Labels: requires-version-specific-changes, translation/no-need, size/S, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6, needs-cherry-pick-release-8.0

#17329 Update TiDB download link to View on GitHub
  _docHome.md
Labels: translation/no-need, size/XS, needs-1-more-lgtm, approved, lgtm

#17328 releases: remove installation package links
  releases/release-5.1.5.md
  releases/release-6.1.0.md
  releases/release-6.1.1.md
  releases/release-6.1.2.md
  releases/release-6.1.3.md
  releases/release-6.1.4.md
  releases/release-6.1.5.md
  releases/release-6.1.6.md
  releases/release-6.1.7.md
  releases/release-6.3.0.md
  releases/release-6.4.0.md
  releases/release-6.5.0.md
  releases/release-6.5.1.md
  releases/release-6.5.2.md
  releases/release-6.5.3.md
  releases/release-6.5.4.md
  releases/release-6.5.5.md
  releases/release-6.5.6.md
  releases/release-6.5.7.md
  releases/release-6.5.8.md
  releases/release-6.5.9.md
  releases/release-6.6.0.md
  releases/release-7.0.0.md
  releases/release-7.1.0.md
  releases/release-7.1.1.md
  releases/release-7.1.2.md
  releases/release-7.1.3.md
  releases/release-7.1.4.md
  releases/release-7.2.0.md
  releases/release-7.3.0.md
  releases/release-7.4.0.md
  releases/release-7.5.0.md
  releases/release-7.5.1.md
  releases/release-7.6.0.md
  releases/release-8.0.0.md
Labels: requires-version-specific-changes, translation/no-need, size/M, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6, needs-cherry-pick-release-8.0

#16853 information-functions: Update reference manual and more
  functions-and-operators/information-functions.md
  tidb-configuration-file.md
Labels: type/enhancement, translation/done, size/XL, approved, lgtm, needs-cherry-pick-release-8.0

#17355 *: add performance improvement of system tables in release notes v8.0
  releases/release-8.0.0.md
Labels: translation/from-docs-cn, contribution, size/XS, approved, lgtm, needs-ok-to-test, needs-cherry-pick-release-8.0

#17252 Update tidb-cloud-performance-reference.md
  tidb-cloud/tidb-cloud-performance-reference.md
Labels: type/enhancement, translation/no-need, size/M, area/tidb-cloud, needs-1-more-lgtm, approved, lgtm

#17361 fix incorrect panel name in troubleshoot-high-disk-io
  troubleshoot-high-disk-io.md
Labels: type/bug-fix, translation/from-docs-cn, size/XS, ONCALL, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.0

#17284 character-set-and-collation: support use `LIKE` to build range for new collation columns
  character-set-and-collation.md
  character-set-gbk.md
Labels: translation/from-docs-cn, size/XS, approved, lgtm

#17301 v7.1.5: add release notes
  TOC.md
  releases/release-7.1.5.md
  releases/release-notes.md
  releases/release-timeline.md
  scripts/get-en-duplicated-notes.py
Labels: translation/from-docs-cn, size/L, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6, needs-cherry-pick-release-8.0

#17359 v7.1: bump the latest patch version to v7.1.5
  br/backup-and-restore-use-cases.md
  develop/dev-guide-sample-application-nodejs-mysql2.md
  develop/dev-guide-sample-application-nodejs-mysqljs.md
  develop/dev-guide-sample-application-nodejs-typeorm.md
  develop/dev-guide-sample-application-ruby-mysql2.md
  develop/dev-guide-sample-application-ruby-rails.md
  dm/maintain-dm-using-tiup.md
  dm/quick-start-create-task.md
  information-schema/information-schema-tidb-servers-info.md
  pd-control.md
  post-installation-check.md
  production-deployment-using-tiup.md
  quick-start-with-tidb.md
  scale-tidb-using-tiup.md
  ticdc/deploy-ticdc.md
  ticdc/ticdc-changefeed-config.md
  ticdc/ticdc-changefeed-overview.md
  ticdc/ticdc-manage-changefeed.md
  ticdc/ticdc-open-api-v2.md
  ticdc/ticdc-sink-to-cloud-storage.md
  tidb-binlog/get-started-with-tidb-binlog.md
  tidb-monitoring-api.md
  tiflash/create-tiflash-replicas.md
  tiup/tiup-cluster.md
  tiup/tiup-component-cluster-deploy.md
  tiup/tiup-component-cluster-patch.md
  tiup/tiup-component-cluster-upgrade.md
  tiup/tiup-component-dm-upgrade.md
  tiup/tiup-component-management.md
  tiup/tiup-mirror.md
  tiup/tiup-playground.md
  tso.md
  upgrade-tidb-using-tiup.md
Labels: translation/from-docs-cn, contribution, size/L, area/develop, needs-1-more-lgtm, approved, lgtm

#17371 Update ebnf show indexes
  sql-statements/sql-statement-show-indexes.md
Labels: translation/from-docs-cn, size/XS, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-8.0

#16934 Add ELT and EXPORT_SET examples
  functions-and-operators/string-functions.md
Labels: type/enhancement, translation/done, size/M, area/sql-infra, approved, lgtm, needs-cherry-pick-release-8.0

#16856 numeric-functions-and-operators: Update reference manual
  functions-and-operators/numeric-functions-and-operators.md
Labels: type/enhancement, translation/done, size/M, approved, lgtm, needs-cherry-pick-release-8.0

#17382 lightning: updated toc sections
  TOC.md
Labels: translation/from-docs-cn, ONCALL, area/tidb-lightning, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6, needs-cherry-pick-release-8.0

#17373 Fix typo: retuns to returns at functions-and-operators/tidb-functions.md
  functions-and-operators/tidb-functions.md
Labels: type/bug-fix, contribution, translation/no-need, first-time-contributor, size/XS, approved, lgtm, needs-cherry-pick-release-7.5, ok-to-test, needs-cherry-pick-release-8.0

#17374 Fix typo: Schmea to Schema at encryption-at-rest.md
  encryption-at-rest.md
Labels: type/bug-fix, contribution, translation/no-need, first-time-contributor, size/XS, approved, lgtm, needs-cherry-pick-release-7.5, ok-to-test, needs-cherry-pick-release-8.0

#17354 Link CTE docs
  develop/dev-guide-use-common-table-expression.md
  sql-statements/sql-statement-with.md
Labels: type/enhancement, translation/doing, translation/welcome, size/XS, area/develop, approved, lgtm, needs-cherry-pick-release-8.0

#17310 Fix formatting on third party monitoring integrations page
  tidb-cloud/monitor-prometheus-and-grafana-integration.md
  tidb-cloud/third-party-monitoring-integrations.md
Labels: type/enhancement, translation/no-need, size/S, area/tidb-cloud, approved, lgtm

#17387 grafana: explained metrics in log backup row
  grafana-tikv-dashboard.md
Labels: translation/from-docs-cn, size/M, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5

#17397 fix pd cert allowed cn description
  enable-tls-between-components.md
Labels: translation/from-docs-cn, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6, needs-cherry-pick-release-8.0
