Repository pingcap/docs, pull requests merged in 2024-09, with the labels that each got.

#18242 faq: update character set description
  character-set-and-collation.md
  faq/sql-faq.md
Labels: translation/from-docs-cn, size/XS, ONCALL, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.2, needs-cherry-pick-release-8.3

#18677 *: add a limitation about not supporting `NULLIF()` and supporting `CASE`
  generated-columns.md
Labels: translation/from-docs-cn, size/XS, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.5, needs-ok-to-test, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.2, needs-cherry-pick-release-8.3

#18758 system-variables: change the default value of `tidb_schema_cache_size`
  releases/release-8.3.0.md
  system-variables.md
Labels: translation/from-docs-cn, contribution, size/XS, approved, lgtm, ok-to-test, v8.3, needs-cherry-pick-release-8.3

#18772 sql: change the thread value from 16 to 8
  sql-statements/sql-statement-import-into.md
Labels: translation/from-docs-cn, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.2, needs-cherry-pick-release-8.3

#18754 cloud: export console
  TOC-tidb-cloud.md
  media/tidb-cloud/serverless-external-storage/serverless-role-arn.png
  tidb-cloud/config-s3-and-gcs-access.md
  tidb-cloud/serverless-export.md
  tidb-cloud/serverless-external-storage.md
Labels: translation/no-need, size/XL, area/tidb-cloud, approved, lgtm

#18718 develop: update connection page for TiDB Dedicated clusters
  develop/dev-guide-gui-datagrip.md
  develop/dev-guide-gui-dbeaver.md
  develop/dev-guide-gui-mysql-workbench.md
  develop/dev-guide-gui-navicat.md
  develop/dev-guide-gui-vscode-sqltools.md
  develop/dev-guide-sample-application-golang-gorm.md
  develop/dev-guide-sample-application-golang-sql-driver.md
  develop/dev-guide-sample-application-java-hibernate.md
  develop/dev-guide-sample-application-java-jdbc.md
  develop/dev-guide-sample-application-java-mybatis.md
  develop/dev-guide-sample-application-java-spring-boot.md
  develop/dev-guide-sample-application-nodejs-mysql2.md
  develop/dev-guide-sample-application-nodejs-mysqljs.md
  develop/dev-guide-sample-application-nodejs-prisma.md
  develop/dev-guide-sample-application-nodejs-sequelize.md
  develop/dev-guide-sample-application-nodejs-typeorm.md
  develop/dev-guide-sample-application-python-django.md
  develop/dev-guide-sample-application-python-mysql-connector.md
  develop/dev-guide-sample-application-python-mysqlclient.md
  develop/dev-guide-sample-application-python-peewee.md
  develop/dev-guide-sample-application-python-pymysql.md
  develop/dev-guide-sample-application-python-sqlalchemy.md
  develop/dev-guide-sample-application-ruby-mysql2.md
  develop/dev-guide-sample-application-ruby-rails.md
Labels: translation/doing, needs-cherry-pick-master, size/L, area/develop, area/tidb-cloud, for-cloud-release, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.2, needs-cherry-pick-release-8.3

#18721 cloud: update connection page for TiDB Dedicated clusters
  TOC-tidb-cloud.md
  tidb-cloud/_index.md
  tidb-cloud/backup-and-restore.md
  tidb-cloud/configure-ip-access-list.md
  tidb-cloud/configure-security-settings.md
  tidb-cloud/connect-to-tidb-cluster.md
  tidb-cloud/connect-via-sql-shell.md
  tidb-cloud/connect-via-standard-connection-serverless.md
  tidb-cloud/connect-via-standard-connection.md
  tidb-cloud/create-tidb-cluster.md
  tidb-cloud/import-with-mysql-cli.md
  tidb-cloud/migrate-from-mysql-using-data-migration.md
  tidb-cloud/migrate-from-op-tidb.md
  tidb-cloud/set-up-private-endpoint-connections-on-google-cloud.md
  tidb-cloud/set-up-private-endpoint-connections.md
  tidb-cloud/set-up-vpc-peering-connections.md
  tidb-cloud/tidb-cloud-tls-connect-to-dedicated.md
Labels: translation/no-need, size/XL, area/tidb-cloud, for-cloud-release, approved, lgtm

#18780 develop: update TiDB Cloud Import page
  develop/dev-guide-bookshop-schema-design.md
Labels: translation/doing, size/M, area/develop, area/tidb-cloud, for-cloud-release, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.2, needs-cherry-pick-release-8.3

#18782 cloud: update steps for importing data
  media/tidb-cloud/import-data-csv-config.png
  tidb-cloud/config-s3-and-gcs-access.md
  tidb-cloud/csv-config-for-import-data.md
  tidb-cloud/import-csv-files.md
  tidb-cloud/import-parquet-files.md
  tidb-cloud/import-sample-data.md
  tidb-cloud/migrate-sql-shards.md
  tidb-cloud/naming-conventions-for-data-import.md
  tidb-cloud/tidb-cloud-auditing.md
  tidb-cloud/tidb-cloud-import-local-files.md
Labels: translation/no-need, size/XL, area/tidb-cloud, for-cloud-release, needs-1-more-lgtm, approved, lgtm

#18784 sql_plan_management: use idx_a for index name
  sql-plan-management.md
Labels: translation/from-docs-cn, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.2, needs-cherry-pick-release-8.3

#18809 glossary: fix descrption about isolation
  glossary.md
Labels: translation/from-docs-cn, size/XS, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.2, needs-cherry-pick-release-8.3

#18815 Update the Resctrictions section for Vector Search
  tidb-cloud/vector-search-data-types.md
Labels: translation/no-need, size/XS, area/tidb-cloud, approved, lgtm

#18816 ticdc: add a note about schema
  ticdc/ticdc-sink-to-kafka.md
Labels: translation/from-docs-cn, size/XS, ONCALL, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.2, needs-cherry-pick-release-8.3

#18817 tidb: add a note for `cross-join`
  tidb-configuration-file.md
Labels: translation/from-docs-cn, size/XS, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.2, needs-cherry-pick-release-8.3

#18785 cloud: create the TiDB Cloud partner doc
  TOC-tidb-cloud.md
  tidb-cloud/cppo-customer.md
  tidb-cloud/managed-service-provider-customer.md
  tidb-cloud/managed-service-provider.md
  tidb-cloud/tidb-cloud-partners.md
Labels: translation/no-need, size/L, area/tidb-cloud, needs-1-more-lgtm, approved, lgtm

#18760 pd: remove shuffle schedulers
  pd-control.md
Labels: translation/from-docs-cn, size/XS, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.2, needs-cherry-pick-release-8.3

#18828 Update tiflash-configuration.md
  tiflash/tiflash-configuration.md
Labels: translation/from-docs-cn, first-time-contributor, size/XS, approved, lgtm, needs-ok-to-test, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.2, needs-cherry-pick-release-8.3

#18831 dashboard: add SSO for dashboard access
  dashboard/dashboard-access.md
Labels: translation/done, size/XS, ONCALL, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.2, needs-cherry-pick-release-8.3

#18698 Add cpu and traffic into performance overview
  dashboard/dashboard-monitoring.md
  media/performance/titan_disable.png
  media/performance/titan_enable.png
  media/performance/tpcc_cpu_memory.png
  media/performance/tpcc_read_write_traffic.png
  performance-tuning-methods.md
Labels: translation/doing, contribution, size/L, approved, lgtm, ok-to-test, needs-cherry-pick-release-8.3

#18847 fix typo in information-schema-inspection-result.md
  information-schema/information-schema-inspection-result.md
Labels: type/bug-fix, translation/from-docs-cn, size/XS, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.2, needs-cherry-pick-release-8.3

#18857 ticdc: fix typo
  ticdc/ticdc-simple-protocol.md
Labels: type/bug-fix, contribution, translation/no-need, size/XS, area/ticdc, needs-1-more-lgtm, approved, lgtm, ok-to-test, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.2, needs-cherry-pick-release-8.3

#18849 PD: optimize the description of label-property
  pd-configuration-file.md
Labels: translation/from-docs-cn, size/S, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.2, needs-cherry-pick-release-8.3

#18848 cloud: add release notes for 20240910
  tidb-cloud/tidb-cloud-release-notes.md
Labels: translation/no-need, size/S, area/tidb-cloud, needs-1-more-lgtm, approved, lgtm

#18875 add limit to import into
  sql-statements/sql-statement-import-into.md
Labels: translation/done, size/XS, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.1

#18877 Update homepage titles
  _docHome.md
  _index.md
  tidb-cloud/_index.md
Labels: translation/from-docs-cn, size/S, needs-1-more-lgtm, approved, lgtm

#18880 refactor(doc): redesign the global home doc
  _docHome.md
  _index.md
Labels: translation/no-need, size/L, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-8.1

#18882 feat(doc): add a dev guide overview for TiDB Cloud
  develop/dev-guide-overview.md
Labels: translation/no-need, size/L, area/develop, needs-1-more-lgtm, approved, lgtm

#18872 doc: Update the link to `stats-load-concurrency` in English one
  releases/release-8.2.0.md
Labels: type/bug-fix, translation/no-need, size/XS, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-8.2, needs-cherry-pick-release-8.3

#18886 fix: remove Chinese doc links
  develop/dev-guide-create-table.md
  develop/dev-guide-insert-data.md
  develop/dev-guide-playground-gitpod.md
  dm/task-configuration-file-full.md
  migrate-large-mysql-shards-to-tidb.md
  placement-rules-in-sql.md
  tidb-resource-control.md
Labels: type/bug-fix, translation/no-need, size/S, area/develop, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.2, needs-cherry-pick-release-8.3

#18911 change lightning conflict resolution ignore
  tidb-lightning/tidb-lightning-logical-import-mode-usage.md
Labels: translation/done, size/XS, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.1

#18918 Fix broken link in DM best practices
  dm/dm-best-practices.md
Labels: translation/no-need, first-time-contributor, size/XS, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.2, needs-cherry-pick-release-8.3

#18927 Update a link in TiDB Lightning data sources
  tidb-lightning/tidb-lightning-data-source.md
Labels: requires-version-specific-changes, translation/done, size/XS, ONCALL, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.2, needs-cherry-pick-release-8.3

#18933 Update a link in Lightning data sources
  tidb-lightning/tidb-lightning-data-source.md
Labels: translation/no-need, size/XS, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.1

#18941 Simple typo fix
  tidb-cloud/vector-search-index.md
Labels: type/bugfix, translation/no-need, missing-translation-status, size/XS, area/tidb-cloud, approved, lgtm

#18939 add missing quote migrate-aurora-to-tidb.md
  migrate-aurora-to-tidb.md
Labels: translation/no-need, size/XS, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.3

#18946 faq: update the description of "Information schema is out of date"
  faq/sql-faq.md
Labels: type/bugfix, translation/from-docs-cn, size/XS, area/sql-infra, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.2, needs-cherry-pick-release-8.3

#18949 Remove All Binlog References from CDC Documentation
  dr-secondary-cluster.md
Labels: translation/done, first-time-contributor, size/S, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.2, needs-cherry-pick-release-8.3

#18967 fix _index.md in ja
  _index.md
Labels: translation/no-need, size/XS, needs-1-more-lgtm, lgtm

#18968 Update _index.md in ja
  _index.md
Labels: translation/no-need, size/XS, needs-1-more-lgtm, lgtm

#18966 *: fix the default value of cdc.min-ts-interval
  releases/release-6.5.0.md
  releases/release-6.5.1.md
  tikv-configuration-file.md
Labels: type/bugfix, translation/done, size/S, ONCALL, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.2, needs-cherry-pick-release-8.3

#18904 add v6.5.11 release notes
  TOC.md
  releases/release-6.5.11.md
  releases/release-notes.md
  releases/release-timeline.md
Labels: translation/from-docs-cn, size/L, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.2, needs-cherry-pick-release-8.3

#18915 v6.5: bump up the latest version to v6.5.11
  br/backup-and-restore-use-cases.md
  dm/maintain-dm-using-tiup.md
  dm/quick-start-create-task.md
  pd-control.md
  production-deployment-using-tiup.md
  quick-start-with-tidb.md
  scale-tidb-using-tiup.md
  ticdc/deploy-ticdc.md
  ticdc/ticdc-changefeed-config.md
  ticdc/ticdc-changefeed-overview.md
  ticdc/ticdc-manage-changefeed.md
  ticdc/ticdc-sink-to-cloud-storage.md
  tidb-binlog/get-started-with-tidb-binlog.md
  tiflash/create-tiflash-replicas.md
  tiup/tiup-cluster.md
  tiup/tiup-component-cluster-deploy.md
  tiup/tiup-component-cluster-patch.md
  tiup/tiup-component-cluster-upgrade.md
  tiup/tiup-component-dm-upgrade.md
  tiup/tiup-component-management.md
  tiup/tiup-mirror.md
  tiup/tiup-playground.md
  upgrade-tidb-using-tiup.md
Labels: translation/from-docs-cn, size/L, needs-1-more-lgtm, approved, lgtm

#18753 tidb: add description about `TIDB_CHECK_CONSTRAINTS`
  TOC-tidb-cloud.md
  TOC.md
  information-schema/information-schema-check-constraints.md
  information-schema/information-schema-tidb-check-constraints.md
Labels: translation/done, size/M, approved, lgtm, needs-cherry-pick-release-8.1

#18986 system-variables: optimize the persist info
  system-variables.md
Labels: translation/from-docs-cn, size/XS, ONCALL, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.2, needs-cherry-pick-release-8.3

#18985 cloud: add a new TiFlash vCPU and RAM size `32 vCPU, 128 GiB`
  tidb-cloud/size-your-cluster.md
Labels: translation/no-need, size/XS, approved, lgtm

#18938 Release ticloud cli v1.0.0-beta.2
  TOC-tidb-cloud.md
  media/tidb-cloud/serverless-external-storage/azure-sas-create.png
  media/tidb-cloud/serverless-external-storage/azure-sas-position.png
  media/tidb-cloud/serverless-external-storage/gcs-service-account-key.png
  media/tidb-cloud/serverless-external-storage/gcs-service-account.png
  tidb-cloud/cli-reference.md
  tidb-cloud/release-notes-2023.md
  tidb-cloud/serverless-export.md
  tidb-cloud/serverless-external-storage.md
  tidb-cloud/ticloud-auth-whoami.md
  tidb-cloud/ticloud-branch-create.md
  tidb-cloud/ticloud-cluster-create.md
  tidb-cloud/ticloud-import-start.md
  tidb-cloud/ticloud-serverless-export-create.md
  tidb-cloud/ticloud-serverless-export-download.md
  tidb-cloud/ticloud-serverless-sql-user-create.md
  tidb-cloud/ticloud-serverless-sql-user-delete.md
  tidb-cloud/ticloud-serverless-sql-user-list.md
  tidb-cloud/ticloud-serverless-sql-user-update.md
  tidb-cloud/ticloud-serverless-update.md
  tidb-cloud/ticloud-upgrade.md
Labels: translation/no-need, size/XXL, area/tidb-cloud, approved, lgtm

#18987 cloud: add release notes for 20240924
  tidb-cloud/tidb-cloud-release-notes.md
Labels: translation/no-need, size/M, area/tidb-cloud, needs-1-more-lgtm, approved, lgtm

#19004 Fix TiDB cloud serverless external storage azblob
  media/tidb-cloud/serverless-external-storage/azure-sas-create.png
  media/tidb-cloud/serverless-external-storage/azure-sas-position.png
Labels: translation/no-need, size/XS, area/tidb-cloud, needs-1-more-lgtm, approved, lgtm

#18897 Add a notice for pd configuration
  pd-configuration-file.md
Labels: type/enhancement, translation/from-docs-cn, size/XS, area/scheduling, ONCALL, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.2, needs-cherry-pick-release-8.3

#18910 *: add aliases for 21 deleted TiDB Binlog docs from dev
  sql-statements/sql-statement-change-drainer.md
  sql-statements/sql-statement-change-pump.md
  sql-statements/sql-statement-show-drainer-status.md
  sql-statements/sql-statement-show-pump-status.md
  tidb-binlog-deployment-topology.md
  tidb-binlog/bidirectional-replication-between-tidb-clusters.md
  tidb-binlog/binlog-consumer-client.md
  tidb-binlog/binlog-control.md
  tidb-binlog/deploy-tidb-binlog.md
  tidb-binlog/get-started-with-tidb-binlog.md
  tidb-binlog/handle-tidb-binlog-errors.md
  tidb-binlog/maintain-tidb-binlog-cluster.md
  tidb-binlog/monitor-tidb-binlog-cluster.md
  tidb-binlog/tidb-binlog-configuration-file.md
  tidb-binlog/tidb-binlog-faq.md
  tidb-binlog/tidb-binlog-glossary.md
  tidb-binlog/tidb-binlog-overview.md
  tidb-binlog/tidb-binlog-relay-log.md
  tidb-binlog/tidb-binlog-reparo.md
  tidb-binlog/troubleshoot-tidb-binlog.md
  tidb-binlog/upgrade-tidb-binlog.md
Labels: translation/from-docs-cn, size/S, needs-1-more-lgtm, approved, lgtm, v8.4

#19020 sql: fix error in tidb_ddl_job
  mysql-schema/mysql-schema.md
Labels: translation/from-docs-cn, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.2, needs-cherry-pick-release-8.3

#19019 sql-statement-explain: add explanation related to scalar subquery
  sql-statements/sql-statement-explain.md
Labels: translation/from-docs-cn, size/XS, area/planner, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.2, needs-cherry-pick-release-8.3
