Repository pingcap/docs, pull requests merged in 2024-02, with the labels that each got.

#15917 Update SHOW STATUS docs
  TOC-tidb-cloud.md
  TOC.md
  sql-statements/sql-statement-flush-status.md
  sql-statements/sql-statement-show-status.md
  status-variables.md
  system-variables.md
Labels: translation/doing, size/L, approved, lgtm

#16410 add MySQL Connector/J version requirement note
  develop/dev-guide-sample-application-java-jdbc.md
Labels: translation/no-need, needs-cherry-pick-master, size/XS, area/develop, area/tidb-cloud, approved, lgtm, ok-to-test

#16327 v6.5.8: add TiKV configuration item num-threads
  tikv-configuration-file.md
Labels: requires-version-specific-changes, translation/from-docs-cn, needs-cherry-pick-master, size/XS, type/compatibility-or-feature-change, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6

#16320 README.md: add info about v7.6
  .github/pull_request_template.md
  README.md
Labels: translation/from-docs-cn, size/S, needs-1-more-lgtm, approved, lgtm

#16367 add release note for v6.5.8
  TOC.md
  releases/release-6.5.8.md
  releases/release-notes.md
  releases/release-timeline.md
Labels: translation/from-docs-cn, size/L, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6

#16368 bump version for v6.5.8
  br/backup-and-restore-use-cases.md
  dm/maintain-dm-using-tiup.md
  dm/quick-start-create-task.md
  pd-control.md
  production-deployment-using-tiup.md
  quick-start-with-tidb.md
  scale-tidb-using-tiup.md
  ticdc/deploy-ticdc.md
  ticdc/ticdc-changefeed-config.md
  ticdc/ticdc-changefeed-overview.md
  ticdc/ticdc-manage-changefeed.md
  ticdc/ticdc-sink-to-cloud-storage.md
  tidb-binlog/get-started-with-tidb-binlog.md
  tiflash/create-tiflash-replicas.md
  tiup/tiup-cluster.md
  tiup/tiup-component-cluster-deploy.md
  tiup/tiup-component-cluster-patch.md
  tiup/tiup-component-cluster-upgrade.md
  tiup/tiup-component-dm-upgrade.md
  tiup/tiup-component-management.md
  tiup/tiup-mirror.md
  tiup/tiup-playground.md
  upgrade-tidb-using-tiup.md
Labels: translation/from-docs-cn, size/L, needs-1-more-lgtm, approved, lgtm

#16423 add instructions about connection collation
  character-set-and-collation.md
Labels: translation/done, size/XS, approved, lgtm, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6

#16409 Update choose-index.md: correct operator typo
  choose-index.md
Labels: translation/no-need, needs-cherry-pick-master, size/XS, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.6

#16438 fix wrong link anchors
  non-transactional-dml.md
Labels: translation/no-need, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6

#16437 fix(tidb-cloud): glossary missing
  tidb-cloud/_index.md
Labels: translation/no-need, size/XS, needs-1-more-lgtm

#16447 Update upgrade-tidb-using-tiup.md
  upgrade-tidb-using-tiup.md
Labels: translation/from-docs-cn, size/XS, needs-1-more-lgtm, approved, lgtm, needs-ok-to-test

#16448 Update quick-start-with-htap.md to add `USE test` command
  quick-start-with-htap.md
Labels: translation/from-docs-cn, size/XS, needs-1-more-lgtm, approved, lgtm

#16187 Update sql-statement-show-profiles.md to reference statement summary tables
  sql-statements/sql-statement-show-profiles.md
Labels: type/enhancement, translation/doing, contribution, size/XS, approved, lgtm

#16144 Enrich instructions for string functions INSTR() and LCASE()
  functions-and-operators/string-functions.md
Labels: translation/doing, contribution, first-time-contributor, size/L, approved, lgtm, 2024-tidb-docs-dash

#16454 fix the description of wal_dir
  tikv-configuration-file.md
Labels: translation/from-docs-cn, contribution, needs-cherry-pick-release-4.0, needs-cherry-pick-release-5.0, size/XS, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6, ok-to-test

#16445 translate two PRs for DDL jobs intro and TiUP component description
  information-schema/information-schema-ddl-jobs.md
  tiup/tiup-component-cluster-template.md
Labels: type/bug-fix, translation/from-docs-cn, size/XS, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6

#16451 ticdc: Add a description of the compatibility between BR and Lightning
  ticdc/ticdc-faq.md
  ticdc/ticdc-overview.md
Labels: translation/from-docs-cn, size/S, area/ticdc, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6

#16474 develop: replace angle brackets with curly brackets
  develop/dev-guide-sample-application-ruby-mysql2.md
  develop/dev-guide-sample-application-ruby-rails.md
Labels: translation/done, size/M, area/develop, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6

#16486 Update set-up-vpc-peering-connections.md
  tidb-cloud/set-up-vpc-peering-connections.md
Labels: translation/no-need, size/S, area/tidb-cloud, approved, lgtm

#16471 add missing release note in 6.5.7
  releases/release-6.5.7.md
Labels: translation/from-docs-cn, size/XS, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6

#16347 Note that GC Disabling is a must despite Dumpling's auto extend feature
  migrate-from-tidb-to-mysql.md
Labels: translation/doing, contribution, size/XS, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6, ok-to-test

#16493 Update cidr doc on 20240207
  tidb-cloud/set-up-vpc-peering-connections.md
Labels: translation/no-need, size/S, area/tidb-cloud, approved, lgtm

#16365 To handle issue after big delete, since region merge feature is already released, update on it
  faq/migration-tidb-faq.md
Labels: translation/doing, contribution, size/XS, needs-1-more-lgtm, approved, lgtm, ok-to-test

#16496 encryption-at-rest: fix the file size
  encryption-at-rest.md
Labels: translation/no-need, needs-cherry-pick-release-4.0, needs-cherry-pick-release-5.0, size/XS, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6

#16510 tidb-cloud: remove TRUNCATE privilege in migration
  tidb-cloud/migrate-from-mysql-using-data-migration.md
Labels: translation/no-need, size/XS, area/tidb-cloud, approved, lgtm

#16271 tidbcloud: Update limits
  tidb-cloud/limitations-and-quotas.md
Labels: translation/no-need, size/XS, area/tidb-cloud, needs-1-more-lgtm, approved, lgtm

#16514 reference: add an example for S3 URI in sink-uri
  external-storage-uri.md
Labels: type/enhancement, translation/from-docs-cn, ONCALL, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6

#16517 pd-ctl: add resource-manager command
  pd-control.md
Labels: translation/from-docs-cn, contribution, size/M, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6

#16521 tiflash: fix scale-in command argument -R
  tiflash/tiflash-disaggregated-and-s3.md
Labels: translation/from-docs-cn, contribution, ONCALL, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6

#16364 Add method to use Dumpling if you want to export data from TiDB
  faq/migration-tidb-faq.md
Labels: type/enhancement, translation/doing, contribution, size/XS, needs-1-more-lgtm, approved, lgtm, needs-ok-to-test

#16512 Update syncpoint doc
  ticdc/ticdc-upstream-downstream-check.md
Labels: translation/from-docs-cn, size/XS, area/ticdc, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6

#16449 add detail desc for String Function SUBSTRING_INDEX () and TO_BASE64
  functions-and-operators/string-functions.md
Labels: translation/from-docs-cn, size/L, needs-1-more-lgtm, approved, lgtm, ok-to-test

#16524 tikv: refine description of MVCC
  tidb-storage.md
Labels: translation/from-docs-cn, contribution, size/XS, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6

#16417 update placement-rules doc about max-replica
  configure-placement-rules.md
  tiflash/troubleshoot-tiflash.md
Labels: translation/from-docs-cn, size/S, area/scheduling, ONCALL, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6

#16520 cloud: add 20240220 release notes
  tidb-cloud/tidb-cloud-release-notes.md
Labels: translation/no-need, size/XS, area/tidb-cloud, needs-1-more-lgtm, approved, lgtm

#16346 Correct typo in Dumpling's GC auto extend feature spec
  dumpling-overview.md
Labels: type/bug-fix, translation/doing, contribution, size/XS, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6, needs-ok-to-test

#16453 fix: wait_timeout update for the best practices
  best-practices/java-app-best-practices.md
  develop/dev-guide-connection-parameters.md
Labels: translation/no-need, size/S, area/develop, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6

#15976 update playground doc
  quick-start-with-tidb.md
  tiup/tiup-faq.md
Labels: translation/from-docs-cn, size/XS, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6

#16513 fix: transactin_ts in slow query is start_ts, not commit_ts
  identify-slow-queries.md
Labels: translation/from-docs-cn, size/XS, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6

#16556 system-variables: add a warning about tidb_enable_dist_task in v7.1
  system-variables.md
  tidb-distributed-execution-framework.md
Labels: translation/from-docs-cn, size/XS, needs-1-more-lgtm, approved, lgtm

#16557 ticdc: fix pulsar sink documentation error
  ticdc/ticdc-sink-to-pulsar.md
Labels: requires-version-specific-changes, translation/from-docs-cn, size/M, for-release, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, v8.0

#15140 chore: get English duplicated release notes
  scripts/get-en-duplicated-notes.py
Labels: translation/no-need, size/L, needs-1-more-lgtm, approved, lgtm

#16563 resource_control: add note for the conflict between resource control …
  faq/sql-faq.md
  system-variables.md
  tidb-configuration-file.md
Labels: translation/from-docs-cn, size/S, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6

#16561 adjust the recommend value of raft election-timeout in multi dc deplo…
  config-templates/geo-redundancy-deployment.yaml
  dr-multi-replica.md
  geo-distributed-deployment-topology.md
  three-data-centers-in-two-cities-deployment.md
Labels: translation/from-docs-cn, size/M, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6

#16574 v7.6: update upgrade-tidb-using-tiup.md
  upgrade-tidb-using-tiup.md
Labels: translation/from-docs-cn, size/XS, area/tiup, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.6

#16580 *: fix two oncall issues
  faq/sql-faq.md
  foreign-key.md
Labels: translation/from-docs-cn, contribution, size/XS, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6

#16586 Update cidr and release note on 20240223
  tidb-cloud/set-up-vpc-peering-connections.md
  tidb-cloud/tidb-cloud-release-notes.md
Labels: translation/no-need, size/XS, area/develop, area/tidb-cloud, needs-1-more-lgtm, approved, lgtm

#16336 tidb: add status.record-db-label docs
  tidb-configuration-file.md
Labels: translation/done, size/XS, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6

#16567 improve serverless-driver
  tidb-cloud/serverless-driver.md
Labels: translation/no-need, size/M, area/tidb-cloud, needs-1-more-lgtm, approved, lgtm

#16585 release-7.5.0 release notes: add two TiCDC parameter changes
  releases/release-7.5.0.md
  releases/release-7.6.0.md
Labels: translation/from-docs-cn, size/XS, area/ticdc, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6

#16583 ticdc: update cdc gc service doc and failed changefeed faq
  ticdc/ticdc-changefeed-overview.md
  ticdc/ticdc-faq.md
Labels: translation/from-docs-cn, contribution, size/S, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6

#16594 tidb: remove INCREMENTAL syntax of analyze table statement
  sql-statements/sql-statement-analyze-table.md
Labels: translation/from-docs-cn, size/XS, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6

#16600 update the compatibility issue between Connector/J 8.0 and TiDB v7.5
  develop/dev-guide-choose-driver-or-orm.md
Labels: translation/done, size/XS, area/develop, approved, lgtm

#16601 changefeed: add constraint to Replication Factor and Partition Number
  tidb-cloud/changefeed-sink-to-apache-kafka.md
Labels: type/enhancement, contribution, translation/no-need, size/XS, area/tidb-cloud, approved, lgtm, ok-to-test

#16593 tidb: remove experimental warnings for stats lock
  basic-features.md
  releases/release-7.4.0.md
  sql-statements/sql-statement-lock-stats.md
  sql-statements/sql-statement-show-stats-locked.md
  sql-statements/sql-statement-unlock-stats.md
  statistics.md
Labels: translation/from-docs-cn, size/S, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6

#16534 Update the introduction to UPPER() and WEIGHT_STRING()
  functions-and-operators/string-functions.md
Labels: translation/from-docs-cn, size/L, needs-1-more-lgtm, approved, lgtm, 2024-tidb-docs-dash, needs-cherry-pick-release-7.6

#16533 Update the introduction to UCASE() and UNHEX()
  functions-and-operators/string-functions.md
Labels: translation/from-docs-cn, size/M, needs-1-more-lgtm, approved, lgtm, 2024-tidb-docs-dash, needs-cherry-pick-release-7.6

#16609 Update placement-rules-in-sql.md to fix the incorrect part
  placement-rules-in-sql.md
Labels: type/bug-fix, translation/from-docs-cn, size/XS, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6

#16560 fix: `mycuster` should be `mycluster`
  tiflash/tiflash-disaggregated-and-s3.md
Labels: type/bug-fix, translation/done, size/XS, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6

#16267 Various TLS related updates
  certificate-authentication.md
  enable-tls-between-clients-and-servers.md
  sql-statements/sql-statement-alter-user.md
  sql-statements/sql-statement-create-user.md
  sql-statements/sql-statement-grant-privileges.md
  sql-statements/sql-statement-revoke-privileges.md
  tidb-configuration-file.md
Labels: translation/doing, size/L, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6

#16623 tiproxy: add experimental warning
  tiproxy/tiproxy-overview.md
Labels: translation/from-docs-cn, size/XS, needs-1-more-lgtm, approved, lgtm

#16611 fix link, parser.y
  expression-syntax.md
Labels: requires-version-specific-changes, translation/from-docs-cn, size/XS, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6

#16221 remove support for tls 1.1 and 1.0
  enable-tls-between-clients-and-servers.md
  tidb-configuration-file.md
Labels: translation/done, size/XS, for-release, approved, lgtm, v8.0

#16629 changefeed: fix wrong description
  tidb-cloud/changefeed-sink-to-cloud-storage.md
Labels: contribution, translation/no-need, size/XS, area/tidb-cloud, needs-1-more-lgtm, approved, lgtm, ok-to-test

#16564 v7.5.1: tikv configuration doc: add gc thread number
  tikv-configuration-file.md
Labels: requires-version-specific-changes, translation/from-docs-cn, needs-cherry-pick-master, size/XS, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.6

#16595 add release note for v7.5.1
  TOC.md
  releases/release-7.5.1.md
  releases/release-notes.md
  releases/release-timeline.md
Labels: translation/from-docs-cn, size/L, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6

#16584 bump version for v7.5.1
  br/backup-and-restore-use-cases.md
  develop/dev-guide-sample-application-nodejs-mysql2.md
  develop/dev-guide-sample-application-nodejs-mysqljs.md
  develop/dev-guide-sample-application-nodejs-typeorm.md
  develop/dev-guide-sample-application-ruby-mysql2.md
  develop/dev-guide-sample-application-ruby-rails.md
  dm/maintain-dm-using-tiup.md
  dm/quick-start-create-task.md
  external-storage-uri.md
  information-schema/information-schema-tidb-servers-info.md
  pd-control.md
  post-installation-check.md
  production-deployment-using-tiup.md
  quick-start-with-tidb.md
  scale-tidb-using-tiup.md
  system-variables.md
  ticdc/deploy-ticdc.md
  ticdc/ticdc-changefeed-config.md
  ticdc/ticdc-changefeed-overview.md
  ticdc/ticdc-manage-changefeed.md
  ticdc/ticdc-open-api-v2.md
  ticdc/ticdc-sink-to-cloud-storage.md
  ticdc/ticdc-sink-to-pulsar.md
  tidb-binlog/get-started-with-tidb-binlog.md
  tidb-monitoring-api.md
  tiflash/create-tiflash-replicas.md
  tiup/tiup-cluster.md
  tiup/tiup-component-cluster-deploy.md
  tiup/tiup-component-cluster-patch.md
  tiup/tiup-component-cluster-upgrade.md
  tiup/tiup-component-dm-upgrade.md
  tiup/tiup-component-management.md
  tiup/tiup-mirror.md
  tiup/tiup-playground.md
  upgrade-tidb-using-tiup.md
Labels: translation/from-docs-cn, size/L, area/develop, needs-1-more-lgtm, approved, lgtm

#16613 pdf: implement automatic underscore wrapping table cells
  templates/template.tex
Labels: translation/from-docs-cn, size/S, needs-1-more-lgtm, approved, lgtm

#16614 develop: use absolute URLs in href
  develop/dev-guide-third-party-support.md
Labels: translation/from-docs-cn, size/S, area/develop, needs-cherry-pick-release-6.1, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6

#16612 develop: update env file code examples
  develop/dev-guide-sample-application-nodejs-prisma.md
  develop/dev-guide-sample-application-ruby-rails.md
  tidb-cloud/serverless-driver-kysely-example.md
  tidb-cloud/serverless-driver-prisma-example.md
Labels: translation/from-docs-cn, size/S, area/develop, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6

#15918 status-variables: Add conditional status that are not available with unistore
  status-variables.md
Labels: translation/doing, size/M, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6
