Repository pingcap/docs, pull requests merged in 2024-01, with the labels that each got.

#15914 v7.5: update the TOC-tidb-cloud.md with the latest one
  TOC-tidb-cloud.md
Labels: translation/no-need, size/M, area/tidb-cloud, needs-1-more-lgtm, approved, lgtm

#15919 upgrade-monitoring-services: fix path errors
  upgrade-monitoring-services.md
Labels: type/bug-fix, translation/from-docs-cn, size/XS, area/diagnosis, ONCALL, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.3, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5

#15927 ticdc-alert-rules: change the heading level from H2 to H3
  ticdc/ticdc-alert-rules.md
Labels: type/bug-fix, contribution, translation/welcome, size/XS, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.3, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5, 2024-tidb-docs-dash

#15939 tidb-lightning: replace `NO_ENGINE_SUBSTITUTION` with `NO_AUTO_CREATE_USER`
  tidb-lightning/tidb-lightning-configuration.md
Labels: translation/from-docs-cn, contribution, size/XS, area/tidb-lightning, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.3, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5

#15946 system-variable: indicate that max_allowed_packet is ready only in the session scope
  system-variables.md
Labels: translation/from-docs-cn, size/XS, area/sql-infra, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.3, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5

#15909 br: GA dual region backup
  tidb-cloud/backup-and-restore.md
  tidb-cloud/tidb-cloud-release-notes.md
Labels: contribution, translation/no-need, size/S, area/tidb-cloud, for-cloud-release, approved, lgtm

#15955 cloud: add 20240103 release notes
  TOC-tidb-cloud.md
  tidb-cloud/release-notes-2023.md
  tidb-cloud/tidb-cloud-faq.md
  tidb-cloud/tidb-cloud-release-notes.md
Labels: translation/no-need, size/XXL, area/tidb-cloud, for-cloud-release, needs-1-more-lgtm, approved, lgtm

#15920 update the cloud support info for v7.5
  TOC-tidb-cloud.md
  information-schema/information-schema-runaway-watches.md
  sql-statements/sql-statement-alter-range.md
  sql-statements/sql-statement-cancel-import-job.md
  sql-statements/sql-statement-import-into.md
  sql-statements/sql-statement-query-watch.md
  sql-statements/sql-statement-show-import-job.md
  system-variables.md
  tidb-distributed-execution-framework.md
  tidb-global-sort.md
Labels: translation/no-need, needs-cherry-pick-master, size/L, area/develop, area/tidb-cloud, needs-1-more-lgtm, approved, lgtm

#15960 move `FLASHBACK CLUSTER TO TSO` to TiDB improvements
  releases/release-6.5.6.md
  releases/release-7.1.3.md
Labels: requires-version-specific-changes, translation/from-docs-cn, size/S, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.3, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5

#15614 ci: update base branch of jp translation
  .github/workflows/cron.yml
Labels: translation/no-need, size/XS, approved, lgtm

#15415 string-functions: add instructions for using ASCII()
  functions-and-operators/string-functions.md
Labels: translation/from-docs-cn, size/M, needs-1-more-lgtm, approved, lgtm, 2024-tidb-docs-dash

#15961 Change the default log level of tiflash
  tiflash/tiflash-configuration.md
Labels: translation/from-docs-cn, size/XS, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.5

#15958 update tidb_opt_fix_control for v6.5.7
  control-execution-plan.md
  optimizer-fix-controls.md
  releases/release-7.1.0.md
  releases/release-7.2.0.md
  sql-non-prepared-plan-cache.md
  system-variables.md
Labels: translation/from-docs-cn, size/S, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5

#15957 update force-init-stats for v6.5.7
  releases/release-7.1.0.md
  releases/release-7.2.0.md
  statistics.md
  tidb-configuration-file.md
Labels: translation/from-docs-cn, size/S, area/planner, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5

#15926 releases: add 6.5.7 release notes
  TOC.md
  releases/release-6.5.7.md
  releases/release-notes.md
  releases/release-timeline.md
Labels: translation/from-docs-cn, size/L, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.3, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5

#15978 bump version for v6.5.7
  br/backup-and-restore-use-cases.md
  dm/maintain-dm-using-tiup.md
  dm/quick-start-create-task.md
  pd-control.md
  production-deployment-using-tiup.md
  quick-start-with-tidb.md
  scale-tidb-using-tiup.md
  ticdc/deploy-ticdc.md
  ticdc/ticdc-changefeed-config.md
  ticdc/ticdc-changefeed-overview.md
  ticdc/ticdc-manage-changefeed.md
  ticdc/ticdc-sink-to-cloud-storage.md
  tidb-binlog/get-started-with-tidb-binlog.md
  tiflash/create-tiflash-replicas.md
  tiup/tiup-cluster.md
  tiup/tiup-component-cluster-deploy.md
  tiup/tiup-component-cluster-patch.md
  tiup/tiup-component-cluster-upgrade.md
  tiup/tiup-component-dm-upgrade.md
  tiup/tiup-component-management.md
  tiup/tiup-mirror.md
  tiup/tiup-playground.md
  upgrade-tidb-using-tiup.md
Labels: translation/from-docs-cn, size/L, needs-1-more-lgtm, approved, lgtm

#16004 Update year to 2024 in copyright.tex
  templates/copyright.tex
Labels: translation/done, needs-cherry-pick-release-4.0, needs-cherry-pick-release-5.0, size/XS, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.3, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5

#16006 remove tidb_opt_fix_control from 6.5.7 release notes
  releases/release-6.5.7.md
Labels: translation/from-docs-cn, size/XS, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.3, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5

#16024 fix a release note for v6.5.4
  releases/release-6.5.4.md
  releases/release-6.5.5.md
  releases/release-6.5.6.md
Labels: translation/from-docs-cn, size/XS, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.3, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5

#15947 vaunt: add configuration for achievements and images
  .vaunt/1st_place.png
  .vaunt/2nd_place.png
  .vaunt/3rd_place.png
  .vaunt/4th_place.png
  .vaunt/5th_place.png
  .vaunt/config.yaml
  .vaunt/contributor.png
Labels: contribution, translation/no-need, first-time-contributor, size/L, approved, lgtm

#15993 dm: add a note about DM to `sql_require_primary_key`
  dm/task-configuration-file-full.md
  system-variables.md
Labels: translation/from-docs-cn, contribution, size/XS, area/dm, approved, lgtm, needs-cherry-pick-release-7.5

#15984 changefeed: add and refine alerts
  tidb-cloud/monitor-built-in-alerting.md
Labels: contribution, translation/no-need, size/XS, area/tidb-cloud, for-cloud-release, approved, lgtm

#16025 cloud: add doc for billing profile
  TOC-tidb-cloud.md
  tidb-cloud/release-notes-2022.md
  tidb-cloud/tidb-cloud-billing.md
Labels: translation/no-need, size/M, area/tidb-cloud, for-cloud-release, needs-1-more-lgtm, approved, lgtm

#16052 faq: add PD encryption error "fail to get encryption key from file"
  faq/manage-cluster-faq.md
Labels: type/enhancement, translation/from-docs-cn, contribution, first-time-contributor, size/XS, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.3, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5, 2024-tidb-docs-dash

#15749 Add doc for new json function support in tiflash
  tiflash/tiflash-supported-pushdown-calculations.md
Labels: translation/from-docs-cn, first-time-contributor, size/XS, approved, lgtm, v7.6

#16069 Update system-variables.md
  system-variables.md
  transaction-isolation-levels.md
Labels: translation/from-docs-cn, size/XS, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.3, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6

#15714 add doc for tidb_txn_entry_size_limit
  system-variables.md
  tidb-configuration-file.md
Labels: translation/from-docs-cn, size/S, type/compatibility-or-feature-change, needs-1-more-lgtm, approved, lgtm, v7.6

#15630 tikv: document periodic full compaction.
  dynamic-config.md
  tikv-configuration-file.md
Labels: translation/done, first-time-contributor, size/S, type/compatibility-or-feature-change, approved, lgtm, v7.6

#15795 Add docs for the I_S keyword table
  TOC-tidb-cloud.md
  TOC.md
  information-schema/information-schema-keywords.md
  information-schema/information-schema.md
  keywords.md
Labels: translation/done, size/M, area/sql-infra, type/compatibility-or-feature-change, for-release, approved, lgtm, v7.6

#16023 fix: tidb_opt_fix_control is introduced in v6.5.3
  control-execution-plan.md
  optimizer-fix-controls.md
  releases/release-7.1.0.md
  releases/release-7.2.0.md
  sql-non-prepared-plan-cache.md
  system-variables.md
Labels: translation/from-docs-cn, size/S, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5

#15981 Add decoders config and example
  tidb-cloud/serverless-driver.md
Labels: translation/no-need, first-time-contributor, size/M, area/tidb-cloud, approved, lgtm

#15997 update tidb_opt_fix_control for v6.5
  TOC.md
  control-execution-plan.md
  optimizer-fix-controls.md
  system-variables.md
Labels: translation/from-docs-cn, size/L, approved, lgtm

#16072 Update first two lines of connect-via-standard-connection-serverless.md
  tidb-cloud/connect-via-standard-connection-serverless.md
Labels: contribution, translation/no-need, first-time-contributor, size/XS, area/tidb-cloud, approved, lgtm, 2024-tidb-docs-dash

#16059 br: add two options for backup compression
  br/use-br-command-line-tool.md
Labels: translation/from-docs-cn, contribution, first-time-contributor, size/XS, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.3, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5, 2024-tidb-docs-dash

#16067 move tikv configure item `pd.enable-forwarding` to correct place
  tikv-configuration-file.md
Labels: translation/from-docs-cn, size/S, approved, lgtm, needs-cherry-pick-release-7.5

#15905 Global sort documents update
  sql-statements/sql-statement-import-into.md
  system-variables.md
  tidb-global-sort.md
Labels: translation/from-docs-cn, size/S, needs-1-more-lgtm, approved, lgtm, v7.6

#15923 add multi value index case from cnf and dnf combination
  choose-index.md
Labels: translation/from-docs-cn, size/M, needs-1-more-lgtm, approved, lgtm, v7.6

#15915 create-index: remove the description that no stats are collected for mv index
  sql-statements/sql-statement-create-index.md
Labels: translation/from-docs-cn, size/XS, approved, lgtm, v7.6

#16113 Add explanation for auto_random ID allocation
  auto-random.md
  system-variables.md
Labels: translation/done, contribution, size/XS, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.3, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5

#16044 Update sql-statement-import-into.md
  sql-statements/sql-statement-import-into.md
Labels: translation/from-docs-cn, contribution, first-time-contributor, size/XS, approved, lgtm, needs-cherry-pick-release-7.5, 2024-tidb-docs-dash

#15551 tikv: add dynamic config item 'readpool.unified.max-tasks-per-worker'
  dynamic-config.md
Labels: translation/from-docs-cn, size/XS, for-release, approved, lgtm, v7.6

#15860 add tikv lower/upper functions
  functions-and-operators/expressions-pushed-down.md
Labels: translation/from-docs-cn, size/XS, needs-1-more-lgtm, approved, lgtm, v7.6

#15886 Add docs for `TiCDC support checking if data is entirely replicated to Downstream`
  ticdc/ticdc-open-api-v2.md
Labels: translation/from-docs-cn, size/M, needs-1-more-lgtm, approved, lgtm, v7.6

#15634 tiproxy: add tiproxy
  TOC.md
  binary-package.md
  config-templates/simple-tiproxy.yaml
  media/tiproxy/tiproxy-architecture.png
  media/tiproxy/tiproxy-session-migration.png
  tidb-architecture.md
  tidb-monitoring-framework.md
  tiproxy/tiproxy-command-line-flags.md
  tiproxy/tiproxy-configuration.md
  tiproxy/tiproxy-deployment-topology.md
  tiproxy/tiproxy-grafana.md
  tiproxy/tiproxy-overview.md
  tiproxy/tiproxy-performance-test.md
  tiproxy/troubleshoot-tiproxy.md
  tiup/tiup-cluster-topology-reference.md
  tiup/tiup-cluster.md
  tiup/tiup-playground.md
Labels: translation/done, size/XXL, approved, lgtm, v7.6

#16135 Fix: split local files for importing to tidb cloud
  tidb-cloud/tidb-cloud-import-local-files.md
Labels: contribution, translation/no-need, first-time-contributor, size/XS, area/tidb-cloud, approved, lgtm, needs-cherry-pick-release-7.5, 2024-tidb-docs-dash

#16146 lightning: remove unnecessary sections
  tidb-lightning/deploy-tidb-lightning.md
  tidb-lightning/troubleshoot-tidb-lightning.md
Labels: translation/from-docs-cn, size/M, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.3, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5

#16154 develop: make format and wording consistent
  develop/dev-guide-choose-driver-or-orm.md
Labels: translation/from-docs-cn, size/S, area/develop, needs-1-more-lgtm, approved, lgtm

#16074 backup: add experimental description for sql br
  br/backup-and-restore-tool.md
Labels: translation/from-docs-cn, contribution, first-time-contributor, size/S, approved, lgtm, 2024-tidb-docs-dash

#16088 add ticdc aws glue schema registry config docs
  ticdc/ticdc-changefeed-config.md
  ticdc/ticdc-sink-to-kafka.md
Labels: translation/from-docs-cn, contribution, first-time-contributor, size/M, approved, lgtm, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5, 2024-tidb-docs-dash

#16091 restore: add faq for rule not found
  faq/backup-and-restore-faq.md
Labels: translation/from-docs-cn, contribution, size/XS, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.3, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5, 2024-tidb-docs-dash

#16147 add disable public endpoint
  tidb-cloud/connect-via-standard-connection-serverless.md
Labels: translation/no-need, size/S, area/tidb-cloud, for-cloud-release, approved, lgtm

#16097 tiup: add instructions for the --local option
  tiup/tiup-component-cluster-template.md
Labels: translation/from-docs-cn, contribution, first-time-contributor, size/XS, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.3, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5, 2024-tidb-docs-dash

#16116 TiDB Cloud: data service custom domain feature
  TOC-tidb-cloud.md
  tidb-cloud/data-service-custom-domain.md
  tidb-cloud/data-service-manage-data-app.md
  tidb-cloud/data-service-manage-endpoint.md
Labels: contribution, translation/no-need, first-time-contributor, size/M, area/tidb-cloud, for-cloud-release, approved, lgtm

#16040 cloud: add apikey references
  TOC-tidb-cloud.md
  tidb-cloud/api-overview.md
Labels: translation/no-need, size/S, area/tidb-cloud, for-cloud-release, needs-1-more-lgtm, approved, lgtm

#16070 cloud: add msp docs
  TOC-tidb-cloud.md
  tidb-cloud/managed-service-provider-customer.md
  tidb-cloud/managed-service-provider.md
  tidb-cloud/tidb-cloud-glossary.md
Labels: translation/no-need, size/M, area/tidb-cloud, for-cloud-release, needs-1-more-lgtm, approved, lgtm

#15635 tidb: fix config value for tiproxy
  tidb-configuration-file.md
Labels: translation/done, size/S, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.3, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5, v7.6

#16132 cloud: update region CIDR docs
  media/tidb-cloud/Project-CIDR2.png
  media/tidb-cloud/Project-CIDR4.png
  tidb-cloud/changefeed-sink-to-mysql.md
  tidb-cloud/create-tidb-cluster.md
  tidb-cloud/migrate-from-mysql-using-data-migration.md
  tidb-cloud/set-up-vpc-peering-connections.md
  tidb-cloud/terraform-use-cluster-resource.md
Labels: translation/no-need, size/M, area/tidb-cloud, for-cloud-release, needs-1-more-lgtm, approved, lgtm

#16173 cloud: add release notes for 0116
  tidb-cloud/tidb-cloud-release-notes.md
Labels: translation/no-need, size/S, area/tidb-cloud, for-cloud-release, needs-1-more-lgtm, approved, lgtm

#16181 Update config.yaml for Docs Dash
  .vaunt/config.yaml
Labels: translation/no-need, size/XS, approved, lgtm

#16182 cloud: small fix for iam and msp
  TOC-tidb-cloud.md
  tidb-cloud/api-overview.md
  tidb-cloud/tidb-cloud-release-notes.md
Labels: translation/no-need, size/XS, area/tidb-cloud, for-cloud-release, needs-1-more-lgtm, approved, lgtm

#16145 tidb-lightning: tidb.pd-addr supports multiple addresses
  get-started-with-tidb-lightning.md
  tidb-lightning/tidb-lightning-command-line-full.md
  tidb-lightning/tidb-lightning-configuration.md
  tidb-lightning/tidb-lightning-physical-import-mode-usage.md
Labels: translation/from-docs-cn, size/S, type/compatibility-or-feature-change, approved, lgtm, v7.6

#15925 Update bdr mode && add description related bdr sql
  TOC.md
  error-codes.md
  keywords.md
  sql-statements/sql-statement-admin-bdr-role.md
  ticdc/ticdc-bidirectional-replication.md
Labels: translation/from-docs-cn, size/L, needs-1-more-lgtm, approved, lgtm, v7.6

#15883 system-variable: add `tidb_analyze_distsql_scan_concurrency`
  system-variables.md
Labels: translation/done, size/S, type/compatibility-or-feature-change, for-release, approved, lgtm, v7.6

#15877 ticdc: add explanation for csv delimiter config
  ticdc/ticdc-csv.md
Labels: translation/from-docs-cn, size/XS, approved, lgtm, v7.6

#15675 *: add a new system variable `tidb_enable_global_index`
  system-variables.md
Labels: translation/from-docs-cn, size/S, type/compatibility-or-feature-change, for-release, needs-1-more-lgtm, approved, lgtm, v7.6

#15934 resource_control: enhance observability
  identify-slow-queries.md
  information-schema/information-schema-slow-query.md
  mysql-schema.md
  statement-summary-tables.md
  system-variables.md
Labels: translation/from-docs-cn, contribution, size/M, type/compatibility-or-feature-change, needs-1-more-lgtm, approved, lgtm, v7.6

#16184 Update managed-service-provider.md
  tidb-cloud/managed-service-provider-customer.md
  tidb-cloud/managed-service-provider.md
Labels: translation/no-need, first-time-contributor, size/M, area/tidb-cloud, for-cloud-release, approved, lgtm

#16180 Typo fix for show status
  sql-statements/sql-statement-show-status.md
Labels: translation/no-need, size/XS, needs-1-more-lgtm, approved, lgtm

#16039 resource_control: add more info about sql ru consumption
  tidb-resource-control.md
Labels: translation/from-docs-cn, contribution, size/L, type/compatibility-or-feature-change, needs-1-more-lgtm, approved, lgtm, v7.6

#15959 DM: support for MySQL 8.0 GA
  dm/dm-compatibility-catalog.md
  dm/dm-overview.md
Labels: translation/from-docs-cn, size/XS, needs-1-more-lgtm, approved, lgtm, v7.6

#16073 ddl: add description of ddl v2
  TOC-tidb-cloud.md
  TOC.md
  ddl-v2.md
  system-variables.md
Labels: translation/from-docs-cn, size/M, type/compatibility-or-feature-change, approved, lgtm, v7.6

#16183 fix 2 issues
  br/backup-and-restore-overview.md
  br/br-pitr-guide.md
  dr-solution-introduction.md
  ticdc/ticdc-open-protocol.md
Labels: translation/from-docs-cn, size/S, ONCALL, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5

#15865 system-variables: set default tidb_auto_analyze_partition_batch_size as 128
  system-variables.md
Labels: translation/done, size/XS, type/compatibility-or-feature-change, for-release, approved, lgtm, v7.6

#16130 txn: add deprecation description of system variable tidb_disable_txn_…
  system-variables.md
Labels: translation/from-docs-cn, size/XS, for-release, needs-1-more-lgtm, approved, lgtm, v7.6

#15904 Add two json function which supports push down to tiflash now
  tiflash/tiflash-supported-pushdown-calculations.md
Labels: translation/from-docs-cn, size/XS, needs-1-more-lgtm, approved, lgtm, v7.6

#16193 Update managed-service-provider.md
  tidb-cloud/managed-service-provider.md
Labels: translation/no-need, first-time-contributor, size/XS, area/tidb-cloud, for-cloud-release, needs-1-more-lgtm, approved, lgtm

#16192 data migration: add an example Parquet file name
  ddl-v2.md
  migrate-from-parquet-files-to-tidb.md
Labels: translation/from-docs-cn, contribution, size/XS, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5

#16094 Update dev-guide-wordpress.md
  tidb-cloud/dev-guide-wordpress.md
Labels: contribution, translation/no-need, first-time-contributor, size/XS, area/tidb-cloud, approved, lgtm, 2024-tidb-docs-dash

#16112 Update data-service-get-started.md
  tidb-cloud/data-service-get-started.md
Labels: translation/no-need, size/M, area/tidb-cloud, approved, lgtm, 2024-tidb-docs-dash

#16056 add scheduling policy within a transaction
  follower-read.md
Labels: translation/from-docs-cn, contribution, first-time-contributor, size/XS, approved, lgtm, needs-cherry-pick-release-7.5, 2024-tidb-docs-dash

#16050 truncate statement ebnf
  sql-statements/sql-statement-truncate.md
Labels: translation/doing, size/S, needs-1-more-lgtm, approved, lgtm, 2024-tidb-docs-dash

#16202 Revert "Global sort documents update"
  sql-statements/sql-statement-import-into.md
  system-variables.md
  tidb-global-sort.md
Labels: translation/no-need, size/S, needs-1-more-lgtm, approved, lgtm, v7.6

#16043 pitr: update limitation of first time restore
  br/br-pitr-manual.md
Labels: translation/from-docs-cn, contribution, first-time-contributor, size/XS, approved, lgtm, needs-cherry-pick-release-7.5, 2024-tidb-docs-dash

#15861 planner: update the SPM doc
  sql-plan-management.md
  system-variables.md
Labels: translation/from-docs-cn, size/L, type/compatibility-or-feature-change, needs-1-more-lgtm, approved, lgtm, v7.6

#15974 system var: Active PD follower for handling region request
  system-variables.md
  tune-region-performance.md
Labels: translation/from-docs-cn, size/M, type/compatibility-or-feature-change, approved, lgtm, v7.6

#16141 ticdc: v7.6.0 supports compatibility with the data format of the official Canal
  ticdc/ticdc-canal-json.md
Labels: translation/from-docs-cn, size/XS, area/ticdc, for-release, needs-1-more-lgtm, approved, lgtm, v7.6

#16185 upgrade default minimum TLS version
  enable-tls-between-clients-and-servers.md
  tidb-configuration-file.md
Labels: translation/done, size/XS, for-release, approved, lgtm, v7.6

#15781 *: remove the restriction for building range scan for `LIKE` on new collation columns
  character-set-and-collation.md
  character-set-gbk.md
Labels: translation/from-docs-cn, size/XS, for-release, approved, lgtm, v7.6

#16208 cloud data service: update edit a custom domain
  tidb-cloud/data-service-custom-domain.md
Labels: translation/no-need, size/S

#16207 Add MDL for DDL troubleshooting
  tidb-troubleshooting-map.md
Labels: translation/from-docs-cn, size/XS, ONCALL, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6

#15851 tiup: tiup: add more fields and links from customized-montior-in-tiup-environment.md
  tiup/customized-montior-in-tiup-environment.md
  tiup/tiup-cluster-topology-reference.md
Labels: translation/from-docs-cn, size/S, ONCALL, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6

#16042 Change Google Translate info
  README.md
Labels: translation/no-need, size/XS, approved, lgtm

#16205 tidb-lightning: add `block-size`
  tidb-lightning/tidb-lightning-configuration.md
Labels: translation/from-docs-cn, size/XS, type/compatibility-or-feature-change, for-release, approved, lgtm, v7.6, needs-cherry-pick-release-7.6

#16055 faq: update br faq for restore
  faq/backup-and-restore-faq.md
Labels: translation/from-docs-cn, contribution, first-time-contributor, size/XS, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.3, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5, 2024-tidb-docs-dash, needs-cherry-pick-release-7.6

#16123 Update partitioned-table.md
  partitioned-table.md
Labels: translation/done, contribution, first-time-contributor, size/XS, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.3, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5, 2024-tidb-docs-dash, needs-cherry-pick-release-7.6

#16215 lightning: refine description for `block-size`
  tidb-lightning/tidb-lightning-configuration.md
Labels: translation/from-docs-cn, size/XS, needs-1-more-lgtm, approved, lgtm, v7.6, needs-cherry-pick-release-7.6

#16201 Update size-your-cluster.md
  tidb-cloud/size-your-cluster.md
  tidb-cloud/tidb-cloud-performance-reference.md
Labels: translation/no-need, size/M, area/tidb-cloud, for-cloud-release, needs-1-more-lgtm, approved, lgtm

#16241 cloud: add release notes for 20240123 release
  tidb-cloud/tidb-cloud-release-notes.md
Labels: translation/no-need, size/S, area/tidb-cloud, for-cloud-release, needs-1-more-lgtm, approved, lgtm

#16054 Change description of ONLY_FULL_GROUP_BY
  sql-mode.md
Labels: type/bug-fix, translation/from-docs-cn, contribution, first-time-contributor, size/XS, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.3, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5, 2024-tidb-docs-dash, needs-cherry-pick-release-7.6

#16090 br: update PITR FAQ for v7.1 branch
  faq/backup-and-restore-faq.md
  system-variables.md
Labels: translation/from-docs-cn, contribution, size/S, area/br, approved, lgtm, 2024-tidb-docs-dash

#16086 br: add one missing pitr bugfix
  releases/release-7.1.1.md
Labels: translation/from-docs-cn, contribution, first-time-contributor, size/XS, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.3, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5, 2024-tidb-docs-dash, needs-cherry-pick-release-7.6

#16045 Add some explanation for tiflash tuning performance doc
  tiflash/tune-tiflash-performance.md
Labels: translation/from-docs-cn, contribution, first-time-contributor, size/XS, approved, lgtm, needs-cherry-pick-release-7.5, 2024-tidb-docs-dash, needs-cherry-pick-release-7.6

#16089 cached table: clarify usage scenarios
  cached-tables.md
Labels: type/enhancement, translation/from-docs-cn, contribution, first-time-contributor, size/XS, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.3, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5, 2024-tidb-docs-dash, needs-cherry-pick-release-7.6

#16096 br: modify the faqs of pitr
  faq/backup-and-restore-faq.md
  system-variables.md
Labels: translation/from-docs-cn, contribution, first-time-contributor, size/S, area/br, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.3, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5, 2024-tidb-docs-dash, needs-cherry-pick-release-7.6

#16266 Br add experimental description for acceleration restore speed
  br/br-snapshot-guide.md
Labels: translation/from-docs-cn, size/XS, needs-1-more-lgtm, approved, lgtm, v7.6, needs-cherry-pick-release-7.6

#16269 Update tidb-cloud-release-notes.md
  tidb-cloud/tidb-cloud-release-notes.md
Labels: translation/no-need, size/XS, area/tidb-cloud, for-cloud-release, needs-1-more-lgtm, approved, lgtm

#16115 dev-guide-sample-application-java-spring-boot: remove an unnecessary link to Hibernate docs
  develop/dev-guide-sample-application-java-spring-boot.md
Labels: translation/doing, contribution, size/XS, area/develop, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.3, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6

#16136 MySQL Workbench: Added the alternative password placeholder on the Setup New Connection dialogue box
  develop/dev-guide-gui-mysql-workbench.md
Labels: translation/doing, contribution, first-time-contributor, size/XS, area/develop, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.3, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5, 2024-tidb-docs-dash, needs-cherry-pick-release-7.6

#16126 develop: update dev-guide-gui-mysql-workbench.md
  develop/dev-guide-gui-mysql-workbench.md
Labels: translation/done, contribution, size/XS, area/develop, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.3, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6

#16131 develop: Update dev-guide-gui-navicat.md
  develop/dev-guide-gui-navicat.md
Labels: translation/done, contribution, size/XS, area/develop, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.3, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5, 2024-tidb-docs-dash, needs-cherry-pick-release-7.6, ok-to-test

#15986 titan doc update for release 7.6.0
  storage-engine/titan-configuration.md
  storage-engine/titan-overview.md
  tikv-configuration-file.md
Labels: translation/from-docs-cn, size/L, type/compatibility-or-feature-change, approved, lgtm, v7.6, needs-cherry-pick-release-7.6

#16270 More MySQL 8.x compatibility updates
  dm/dm-overview.md
  error-codes.md
  faq/tidb-faq.md
  generated-columns.md
  overview.md
  tidb-architecture.md
  tidb-cloud/tidb-cloud-faq.md
  tidb-cloud/tidb-cloud-poc.md
Labels: translation/doing, missing-translation-status, size/S, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6

#16305 global sort: fix rendering issue in code block
  tidb-global-sort.md
Labels: type/bug-fix, translation/no-need, size/XS, ONCALL, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6

#16220 bump the example TiDB version to v7.6.0
  br/backup-and-restore-use-cases.md
  develop/dev-guide-sample-application-nodejs-mysql2.md
  develop/dev-guide-sample-application-nodejs-mysqljs.md
  develop/dev-guide-sample-application-nodejs-typeorm.md
  develop/dev-guide-sample-application-ruby-mysql2.md
  develop/dev-guide-sample-application-ruby-rails.md
  dm/maintain-dm-using-tiup.md
  dm/quick-start-create-task.md
  information-schema/information-schema-tidb-servers-info.md
  pd-control.md
  post-installation-check.md
  production-deployment-using-tiup.md
  quick-start-with-tidb.md
  scale-tidb-using-tiup.md
  system-variables.md
  ticdc/deploy-ticdc.md
  ticdc/ticdc-changefeed-config.md
  ticdc/ticdc-changefeed-overview.md
  ticdc/ticdc-manage-changefeed.md
  ticdc/ticdc-open-api-v2.md
  ticdc/ticdc-sink-to-cloud-storage.md
  ticdc/ticdc-sink-to-pulsar.md
  tidb-binlog/get-started-with-tidb-binlog.md
  tidb-monitoring-api.md
  tiflash/create-tiflash-replicas.md
  tiproxy/tiproxy-performance-test.md
  tiup/tiup-cluster.md
  tiup/tiup-component-cluster-deploy.md
  tiup/tiup-component-cluster-patch.md
  tiup/tiup-component-cluster-upgrade.md
  tiup/tiup-component-dm-upgrade.md
  tiup/tiup-component-management.md
  tiup/tiup-mirror.md
  tiup/tiup-playground.md
  upgrade-tidb-using-tiup.md
Labels: translation/from-docs-cn, size/L, area/develop, needs-1-more-lgtm, approved, lgtm, v7.6, needs-cherry-pick-release-7.6

#15702 add release note for v7.6.0
  TOC.md
  releases/release-7.6.0.md
  releases/release-notes.md
  releases/release-timeline.md
  upgrade-tidb-using-tiup.md
Labels: translation/from-docs-cn, size/XXL, approved, lgtm, v7.6, needs-cherry-pick-release-7.6

#16041 basic-features.md: add the column for v7.6.0
  basic-features.md
Labels: translation/from-docs-cn, size/XL, approved, lgtm, v7.6, needs-cherry-pick-release-7.6

#16308 Fix typo in `RENAME USER`
  sql-statements/sql-statement-rename-user.md
Labels: type/bug-fix, contribution, translation/no-need, size/XS, area/sql-infra, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.3, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6

#16321 tidb-roadmap.md: add a link to the v7.6 release notes
  tidb-roadmap.md
Labels: translation/from-docs-cn, size/XS, needs-1-more-lgtm, approved, lgtm

#16314 br: remove --tikv-max-restore-concurrency
  br/br-snapshot-guide.md
  releases/release-7.6.0.md
Labels: translation/from-docs-cn, size/XS, approved, lgtm, v7.6, needs-cherry-pick-release-7.6

#16312 update titan doc to provide guidline on min-blob-size
  storage-engine/titan-configuration.md
  storage-engine/titan-overview.md
Labels: translation/from-docs-cn, size/S, needs-1-more-lgtm, approved, lgtm, v7.6, needs-cherry-pick-release-7.6

#16309 log_backup: fix initial scan rate limit description
  tikv-configuration-file.md
Labels: translation/from-docs-cn, size/XS, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.3, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6

#16217 update description of multi-valued index
  sql-statements/sql-statement-create-index.md
Labels: translation/no-need, size/XS, approved, lgtm, v7.6, needs-cherry-pick-release-7.6

#15213 add a reasonable example for INL_JOIN
  optimizer-hints.md
Labels: translation/from-docs-cn, size/S, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.3, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6

#16124 add KILL statement can kill DDL jobs describe
  sql-statements/sql-statement-admin-cancel-ddl.md
  sql-statements/sql-statement-kill.md
Labels: translation/done, contribution, first-time-contributor, size/XS, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.3, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5, 2024-tidb-docs-dash, needs-cherry-pick-release-7.6

#16093 Update explore-data-with-chat2query.md
  tidb-cloud/explore-data-with-chat2query.md
Labels: contribution, translation/no-need, first-time-contributor, size/S, area/tidb-cloud, approved, lgtm, 2024-tidb-docs-dash

#16356 sysvar: add a note about `tidb_service_scope`
  system-variables.md
  tidb-distributed-execution-framework.md
Labels: translation/from-docs-cn, size/XS, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6

#16360 titan: fix a typo, convertion > conversion
  storage-engine/titan-configuration.md
Labels: translation/no-need, size/XS, approved, lgtm, needs-cherry-pick-release-7.6

#16114 Enrich instructions for string functions HEX() and INSERT()
  functions-and-operators/string-functions.md
Labels: translation/doing, contribution, first-time-contributor, size/L, approved, lgtm, 2024-tidb-docs-dash

#16068 string-functions: add instrunctions for LEFT() and LENGTH()
  functions-and-operators/string-functions.md
Labels: translation/doing, contribution, first-time-contributor, size/L, approved, lgtm, 2024-tidb-docs-dash

#16071 tiflash: Clean deprecated configs; align style of flash.proxy
  tiflash/tiflash-configuration.md
Labels: translation/from-docs-cn, size/M, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.3, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6

#16048 string-functions: add instructions for using CONCAT() and CONCAT_WS()
  functions-and-operators/string-functions.md
Labels: translation/from-docs-cn, contribution, first-time-contributor, size/L, approved, lgtm, 2024-tidb-docs-dash

#16087 function-and-operators: enrich instructions for string functions BIT_LENGTH() and CHAR() #15482
  functions-and-operators/string-functions.md
Labels: translation/doing, contribution, first-time-contributor, size/L, area/develop, approved, lgtm, 2024-tidb-docs-dash

#16057 functions-and-operators: enrich instructions for string functions CHAR_LENGTH() and CHARACTER_LENGTH #15483
  functions-and-operators/string-functions.md
Labels: translation/doing, contribution, first-time-contributor, size/M, area/develop, approved, lgtm, 2024-tidb-docs-dash

#16138 tiup: update tiup-overview.md
  tiup/tiup-overview.md
Labels: translation/from-docs-cn, contribution, size/M, approved, lgtm, needs-cherry-pick-release-7.5, 2024-tidb-docs-dash, needs-cherry-pick-release-7.6, ok-to-test

#16376 *: add summary meta for br, clinic, dashboard, develop, dm docs
  br/backup-and-restore-design.md
  br/backup-and-restore-overview.md
  br/backup-and-restore-storages.md
  br/backup-and-restore-use-cases.md
  br/br-auto-tune.md
  br/br-batch-create-table.md
  br/br-checkpoint-backup.md
  br/br-checkpoint-restore.md
  br/br-incremental-guide.md
  br/br-log-architecture.md
  br/br-monitoring-and-alert.md
  br/br-pitr-guide.md
  br/br-pitr-manual.md
  br/br-snapshot-architecture.md
  br/br-snapshot-guide.md
  br/br-snapshot-manual.md
  br/br-use-overview.md
  br/rawkv-backup-and-restore.md
  br/use-br-command-line-tool.md
  clinic/clinic-data-instruction-for-tiup.md
  clinic/clinic-introduction.md
  clinic/clinic-user-guide-for-tiup.md
  clinic/quick-start-with-clinic.md
  dashboard/continuous-profiling.md
  dashboard/dashboard-access.md
  dashboard/dashboard-cluster-info.md
  dashboard/dashboard-diagnostics-access.md
  dashboard/dashboard-diagnostics-report.md
  dashboard/dashboard-diagnostics-usage.md
  dashboard/dashboard-faq.md
  dashboard/dashboard-intro.md
  dashboard/dashboard-key-visualizer.md
  dashboard/dashboard-log-search.md
  dashboard/dashboard-metrics-relation.md
  dashboard/dashboard-monitoring.md
  dashboard/dashboard-ops-deploy.md
  dashboard/dashboard-ops-reverse-proxy.md
  dashboard/dashboard-ops-security.md
  dashboard/dashboard-overview.md
  dashboard/dashboard-profiling.md
  dashboard/dashboard-resource-manager.md
  dashboard/dashboard-session-share.md
  dashboard/dashboard-session-sso.md
  dashboard/dashboard-slow-query.md
  dashboard/dashboard-statement-details.md
  dashboard/dashboard-statement-list.md
  dashboard/dashboard-user.md
  dashboard/top-sql.md
  develop/dev-guide-bookshop-schema-design.md
  develop/dev-guide-connection-parameters.md
  develop/dev-guide-playground-gitpod.md
  dm/dm-arch.md
  dm/dm-release-notes.md
  dm/feature-expression-filter.md
  dm/task-configuration-file-full.md
Labels: translation/no-need, size/L, area/develop, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5

#16133 Connecting to TiDB with VS Code: added instructions on how to install SQLTools MySQL/MariaDB/…
  develop/dev-guide-gui-vscode-sqltools.md
Labels: translation/doing, contribution, first-time-contributor, size/XS, area/develop, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.3, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6

#16379 add summary to tidbcloud docs
  tidb-cloud/_index.md
  tidb-cloud/changefeed-sink-to-apache-kafka.md
  tidb-cloud/changefeed-sink-to-cloud-storage.md
  tidb-cloud/changefeed-sink-to-mysql.md
  tidb-cloud/changefeed-sink-to-tidb-cloud.md
Labels: translation/no-need, size/S, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5

#16383 add summary to other docs
  _docHome.md
  _index.md
  control-execution-plan.md
  identify-expensive-queries.md
  sql-logical-optimization.md
  sql-physical-optimization.md
  sql-tuning-overview.md
Labels: translation/no-need, size/XS, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5

#16394 fix build failure
  releases/release-2.1.17.md
  releases/release-3.0.1.md
  releases/release-4.0.15.md
  releases/release-5.1.4.md
  releases/release-5.4.1.md
Labels: translation/no-need, size/S, needs-1-more-lgtm, approved, lgtm

#16395 Update set-up-vpc-peering-connections.md
  tidb-cloud/set-up-vpc-peering-connections.md
Labels: translation/no-need, size/XS, area/tidb-cloud, for-cloud-release, needs-1-more-lgtm, approved, lgtm

#16344 Update config.yaml to update PR bonus points
  .vaunt/config.yaml
Labels: missing-translation-status, size/XS, needs-1-more-lgtm, approved, lgtm

#16337 cloud data service: add API expiration instructions
  tidb-cloud/data-service-api-key.md
  tidb-cloud/use-chat2query-api.md
Labels: contribution, translation/no-need, first-time-contributor, size/M, area/tidb-cloud, for-cloud-release, approved, lgtm, ok-to-test

#16084 Enrich instructions for string functions LIKE and LOCATE()
  functions-and-operators/string-functions.md
Labels: translation/doing, contribution, first-time-contributor, size/XL, approved, lgtm, 2024-tidb-docs-dash

#16137 lightning: update get started doc
  get-started-with-tidb-lightning.md
Labels: translation/from-docs-cn, contribution, first-time-contributor, size/M, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.3, needs-cherry-pick-release-7.4, needs-cherry-pick-release-7.5, 2024-tidb-docs-dash, needs-cherry-pick-release-7.6

#16348 cloud: update ui description for org settings
  tidb-cloud/create-tidb-cluster.md
  tidb-cloud/manage-user-access.md
  tidb-cloud/tidb-cloud-billing.md
  tidb-cloud/tidb-cloud-encrypt-cmek.md
  tidb-cloud/tidb-cloud-org-sso-authentication.md
Labels: translation/no-need, size/M, area/tidb-cloud, for-cloud-release, needs-1-more-lgtm, approved, lgtm

#16324 vaunt: update achievement images and add vaunt documentation
  .vaunt/1st_place.png
  .vaunt/add-tidb-docs-dash-badge.md
  .vaunt/contributor.png
Labels: translation/doing, contribution, first-time-contributor, size/M, approved, lgtm, ok-to-test

#16085 Fix: Enrich instructions for string functions FORMAT() and FROM_BASE64() (#15487)
  functions-and-operators/string-functions.md
Labels: translation/from-docs-cn, contribution, first-time-contributor, size/L, approved, lgtm, 2024-tidb-docs-dash, needs-cherry-pick-release-7.6

#15492 MariaDB Migration
  TOC.md
  migrate-from-mariadb.md
Labels: translation/done, size/XL, approved, lgtm, needs-cherry-pick-release-7.5, mariadb, needs-cherry-pick-release-7.6, needs-ok-to-test

#16128 TiDB Cloud Quick Start: Add an example for Chat2Query
  tidb-cloud/tidb-cloud-quickstart.md
Labels: contribution, translation/no-need, first-time-contributor, size/M, area/develop, area/tidb-cloud, approved, lgtm, 2024-tidb-docs-dash, ok-to-test
