Repository pingcap/docs, pull requests merged in 2024-05, with the labels that each got.

#17411 v8.0: update Rust version for compiling and running TiDB to nightly-2023-12-28
  hardware-and-software-requirements.md
Labels: translation/from-docs-cn, size/XS, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-8.0

#17412 v7.6: update Rust version for compiling and running TiDB to nightly-2023-12-10
  hardware-and-software-requirements.md
Labels: translation/from-docs-cn, size/XS, needs-1-more-lgtm, approved, lgtm

#17414 basic-features: fix the support info for PD microservices
  basic-features.md
Labels: type/bug-fix, translation/from-docs-cn, size/XS, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-8.0

#17378 Extend ADMIN SHOW DDL docs
  information-schema/information-schema-ddl-jobs.md
  sql-statements/sql-statement-admin-show-ddl.md
Labels: type/enhancement, translation/doing, size/M, needs-1-more-lgtm, approved, lgtm

#17298 Fix formatting for TTL and other places
  information-schema/information-schema-runaway-watches.md
  sql-plan-management.md
  sql-statements/sql-statement-alter-placement-policy.md
  sql-statements/sql-statement-drop-binding.md
  sql-statements/sql-statement-modify-column.md
  sql-statements/sql-statement-show-create-placement-policy.md
  sql-statements/sql-statement-show-placement-for.md
  tidb-resource-control.md
  time-to-live.md
Labels: translation/done, size/M, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.0

#17422 Fix typo
  time-to-live.md
Labels: translation/no-need, size/XS, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6

#17219 tidb: update tidb_auto_analyze_ratio range
  system-variables.md
Labels: translation/from-docs-cn, size/XS, type/compatibility-or-feature-change, for-release, needs-1-more-lgtm, approved, lgtm, v8.1

#17432 mysql schema: delete `request_unit_by_group` in v7.5.0
  mysql-schema.md
Labels: translation/from-docs-cn, size/XS, approved, lgtm

#17431 CI: Update actions
  .github/workflows/ci.yaml
  .github/workflows/cron.yml
  .github/workflows/ja-full-translation-google.yaml
  .github/workflows/link-fail-fast.yaml
  .github/workflows/link.yaml
  .github/workflows/media.yml
  .github/workflows/prevent-deletion.yaml
  .github/workflows/rebase.yml
  .github/workflows/translation.yaml
Labels: translation/done, size/M, approved, lgtm

#17429 Update check-before-deployment.md
  check-before-deployment.md
Labels: type/enhancement, translation/from-docs-cn, size/XS, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6, needs-ok-to-test, needs-cherry-pick-release-8.0

#17426 external storage: add restrict description of br
  external-storage-uri.md
Labels: translation/from-docs-cn, size/XS, needs-cherry-pick-release-7.1, approved, lgtm

#17427 br: support session-token and assume-role for backup & restore
  external-storage-uri.md
  releases/release-7.6.0.md
Labels: translation/from-docs-cn, size/XS, approved, lgtm, needs-cherry-pick-release-7.6

#17428 tiflash: Add note about mpp plan change
  releases/release-7.3.0.md
  system-variables.md
Labels: translation/from-docs-cn, size/XS, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6, needs-cherry-pick-release-8.0

#17275 ebnf select
  sql-statements/sql-statement-select.md
Labels: type/enhancement, translation/done, size/M, approved, lgtm, needs-cherry-pick-release-8.0

#17405 Fix typos for .md files at root directory
  pd-configuration-file.md
Labels: translation/doing, contribution, first-time-contributor, size/XS, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6, needs-ok-to-test, needs-cherry-pick-release-8.0, needs-cherry-pick-release-8.1

#17379 update TiDB roadmap for CY24-CY25
  tidb-roadmap.md
Labels: translation/from-docs-cn, size/L, approved, lgtm

#17449 pd: add more region health info
  daily-check.md
  media/region-panel.png
Labels: translation/from-docs-cn, size/S, ONCALL, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6, needs-cherry-pick-release-8.0

#17392 Use tiup for BR, Lightning and Dumpling.
  best-practices/readonly-nodes.md
  br/backup-and-restore-storages.md
  br/br-batch-create-table.md
  br/br-checkpoint-backup.md
  br/br-incremental-guide.md
  br/br-pitr-guide.md
  br/br-pitr-manual.md
  br/br-snapshot-guide.md
  br/br-snapshot-manual.md
  br/br-use-overview.md
  br/use-br-command-line-tool.md
  dumpling-overview.md
  encryption-at-rest.md
  table-filter.md
  tidb-lightning/tidb-lightning-command-line-full.md
  tidb-lightning/tidb-lightning-configuration.md
  tidb-lightning/tidb-lightning-data-source.md
  tidb-lightning/tidb-lightning-distributed-import.md
Labels: type/enhancement, translation/done, size/XL, ONCALL, approved, lgtm

#16850 update picture of diagnosis doc
  TOC-tidb-cloud.md
  media/dashboard/dashboard-statement-detail0.png
  media/dashboard/dashboard-statement-detail1.png
  media/dashboard/dashboard-statement-detail2.png
  tidb-cloud/set-up-vpc-peering-connections.md
  tidb-cloud/tidb-cloud-sql-tuning-overview.md
Labels: translation/no-need, size/S, area/tidb-cloud, approved, lgtm

#16833 Update system-variables.md
  system-variables.md
Labels: type/bug-fix, translation/no-need, size/XS, approved, lgtm, needs-cherry-pick-release-8.0

#17386 sql: remove warning for issue 51407 in plan cache
  sql-prepared-plan-cache.md
Labels: translation/from-docs-cn, size/XS, for-release, needs-1-more-lgtm, approved, lgtm, v8.1

#17380 optimizer-fix-controls, explain-index-merge: add optimizer fix control 52869 for index merge
  explain-index-merge.md
  optimizer-fix-controls.md
Labels: translation/from-docs-cn, size/XS, for-release, approved, lgtm, v8.1

#17311 *: update defalut value for expression
  data-type-default-values.md
Labels: translation/from-docs-cn, size/XS, approved, lgtm, v8.1

#17262 tidb: add a new command line flag for redact
  command-line-flags-for-tidb-configuration.md
  system-variables.md
Labels: translation/from-docs-cn, size/S, needs-1-more-lgtm, approved, lgtm, v8.1

#17366 ticdc add output old value config
  ticdc/ticdc-changefeed-config.md
  ticdc/ticdc-open-api-v2.md
Labels: translation/from-docs-cn, size/S, type/compatibility-or-feature-change, area/ticdc, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, v8.1

#17227 Add client authentication support for ticdc
  TOC.md
  ticdc/ticdc-client-authentication.md
  ticdc/ticdc-server-config.md
Labels: translation/from-docs-cn, size/L, type/compatibility-or-feature-change, area/ticdc, needs-1-more-lgtm, approved, lgtm, v8.1

#17358 resource-control: remove warning about runaway
  information-schema/information-schema-runaway-watches.md
  sql-statements/sql-statement-query-watch.md
  tidb-resource-control.md
Labels: translation/from-docs-cn, size/S, approved, lgtm, v8.1

#17353 document INSERT IGNORE ON DUP for pipelined dml
  system-variables.md
Labels: translation/from-docs-cn, size/XS, for-release, approved, lgtm, v8.1

#17475 sql: add a link about regular expression compatibilit with MySQL
  functions-and-operators/string-functions.md
  mysql-compatibility.md
Labels: translation/from-docs-cn, size/XS, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6, needs-cherry-pick-release-8.0

#17416 sql: update br docs about some sql options
  sql-statements/sql-statement-backup.md
  sql-statements/sql-statement-restore.md
Labels: translation/from-docs-cn, size/S, for-release, approved, lgtm, v8.1

#17326 GA import into from select
  sql-statements/sql-statement-import-into.md
Labels: translation/from-docs-cn, size/XS, needs-1-more-lgtm, approved, lgtm, v8.1

#17409 dxf doc change on 8.1
  command-line-flags-for-tidb-configuration.md
  smooth-upgrade-tidb.md
  system-variables.md
  tidb-distributed-execution-framework.md
  tidb-global-sort.md
Labels: translation/from-docs-cn, size/M, for-release, needs-1-more-lgtm, approved, lgtm, v8.1

#17220 Update CREATE INDEX statement docs
  sql-statements/sql-statement-create-index.md
Labels: translation/doing, size/M, approved, lgtm, needs-cherry-pick-release-8.0

#17462 update to the throttled serverless limitations
  tidb-cloud/manage-serverless-spend-limit.md
  tidb-cloud/select-cluster-tier.md
  tidb-cloud/serverless-faqs.md
  tidb-cloud/serverless-limitations.md
Labels: contribution, translation/no-need, first-time-contributor, size/XS, area/tidb-cloud, approved, lgtm, ok-to-test

#17251 information_schema: Add links
  information-schema/information-schema-analyze-status.md
  information-schema/information-schema-character-sets.md
  information-schema/information-schema-collation-character-set-applicability.md
  information-schema/information-schema-collations.md
  information-schema/information-schema-columns.md
  information-schema/information-schema-engines.md
  information-schema/information-schema-memory-usage.md
  information-schema/information-schema-partitions.md
  information-schema/information-schema-processlist.md
  information-schema/information-schema-referential-constraints.md
  information-schema/information-schema-schemata.md
  information-schema/information-schema-sequences.md
  information-schema/information-schema-session-variables.md
  information-schema/information-schema-slow-query.md
  information-schema/information-schema-table-constraints.md
  information-schema/information-schema-user-privileges.md
  information-schema/information-schema-variables-info.md
  information-schema/information-schema-views.md
  information-schema/information-schema.md
Labels: type/enhancement, translation/done, size/L, approved, lgtm, needs-cherry-pick-release-8.0

#17469 mysql-compatibility: Remove sys schema
  mysql-compatibility.md
Labels: translation/done, size/XS, approved, lgtm, needs-cherry-pick-release-8.0

#16111 TiDB Cloud: add a tutorial for Looker Studio
  TOC-tidb-cloud.md
  media/tidb-cloud/looker-studio-configure-connection.png
  media/tidb-cloud/looker-studio-custom-query.png
  media/tidb-cloud/looker-studio-simple-chart.png
  tidb-cloud/dev-guide-bi-looker-studio.md
Labels: contribution, translation/no-need, size/L, area/develop, area/tidb-cloud, approved, lgtm

#17276 Conflict data resolution enhancement during data import GA
  tidb-lightning/tidb-lightning-configuration.md
  tidb-lightning/tidb-lightning-error-resolution.md
  tidb-lightning/tidb-lightning-logical-import-mode-usage.md
  tidb-lightning/tidb-lightning-physical-import-mode-usage.md
Labels: translation/done, size/M, type/compatibility-or-feature-change, approved, lgtm, v8.1

#16172 update(tidb-troubleshooting-map): add flow control instruction on top…
  tidb-troubleshooting-map.md
Labels: translation/from-docs-cn, contribution, first-time-contributor, size/S, approved, lgtm, needs-cherry-pick-release-7.5, 2024-tidb-docs-dash, needs-cherry-pick-release-7.6, needs-cherry-pick-release-8.0

#17459 tidb-cloud: support creating a VPC peering across different VPCs
  tidb-cloud/set-up-vpc-peering-connections.md
Labels: translation/no-need, size/S, area/tidb-cloud, for-release, approved, lgtm

#17491 cloud: add dataservice path parameters specification
  tidb-cloud/data-service-app-config-files.md
  tidb-cloud/data-service-manage-endpoint.md
Labels: translation/no-need, first-time-contributor, size/M, area/tidb-cloud, approved, lgtm

#17460 tidb-cloud: add release notes for 20240514
  tidb-cloud/tidb-cloud-release-notes.md
Labels: translation/no-need, size/S, area/tidb-cloud, needs-1-more-lgtm, approved, lgtm

#17490 ticdc: enhance storage sink uri config
  ticdc/ticdc-sink-to-cloud-storage.md
Labels: translation/from-docs-cn, size/M, area/ticdc, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6, needs-cherry-pick-release-8.0, needs-cherry-pick-release-8.1

#17482 tidb cloud: refine importing sample table doc
  tidb-cloud/import-sample-data.md
Labels: translation/no-need, size/M, area/tidb-cloud, needs-1-more-lgtm, approved, lgtm

#17410 lightning: add IMPORT INTO vs. TiDB Lightning
  TOC.md
  sql-statements/sql-statement-import-into.md
  tidb-lightning/import-into-vs-tidb-lightning.md
  tidb-lightning/tidb-lightning-overview.md
Labels: translation/done, size/L, area/tidb-lightning, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-8.0

#17506 Revert "releases: add release notes for v8.1.0"
  releases/release-8.1.0.md
Labels: translation/no-need, size/XL, needs-1-more-lgtm, approved, lgtm

#17479 ticdc: add more info for config output-old-value in csv protocal
  ticdc/ticdc-changefeed-config.md
  ticdc/ticdc-csv.md
Labels: translation/from-docs-cn, size/S, area/ticdc, approved, lgtm

#17480 ticdc: remove old description about SQL mode for DDL
  releases/release-6.5.6.md
  releases/release-7.1.3.md
  ticdc/ticdc-ddl.md
Labels: type/enhancement, translation/from-docs-cn, size/S, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-8.0

#17516 sql: add more states for ADMIN SHOW DDL
  sql-statements/sql-statement-admin-show-ddl.md
Labels: translation/from-docs-cn, size/XS, ONCALL, approved, lgtm, needs-cherry-pick-release-8.1

#17472 Extend CAST and multi-valued-index docs
  choose-index.md
  functions-and-operators/cast-functions-and-operators.md
  sql-statements/sql-statement-create-index.md
Labels: type/enhancement, translation/done, size/M, area/sql-infra, approved, lgtm, needs-cherry-pick-release-8.0, needs-cherry-pick-release-8.1

#17499 raftstore: correct the description on `inspect-interval` from v7.5
  releases/release-7.5.0.md
  tikv-configuration-file.md
Labels: translation/from-docs-cn, size/XS, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6, needs-ok-to-test, needs-cherry-pick-release-8.0, needs-cherry-pick-release-8.1

#17529 sql: refine description about lightning
  foreign-key.md
Labels: translation/from-docs-cn, size/XS, ONCALL, area/tidb-lightning, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.0, needs-cherry-pick-release-8.1

#17515 *: init config for v8.1
  TOC.md
  _index.md
  best-practices/pd-scheduling-best-practices.md
  br/br-monitoring-and-alert.md
  br/br-snapshot-guide.md
  deploy-monitoring-services.md
  develop/dev-guide-third-party-support.md
  dm/deploy-a-dm-cluster-using-tiup-offline.md
  dm/deploy-a-dm-cluster-using-tiup.md
  dm/dm-best-practices.md
  dm/dm-error-handling.md
  dm/dm-open-api.md
  dm/dm-overview.md
  dm/dm-precheck.md
  dumpling-overview.md
  expression-syntax.md
  faq/backup-and-restore-faq.md
  faq/faq-overview.md
  functions-and-operators/precision-math.md
  grafana-resource-control-dashboard.md
  hardware-and-software-requirements.md
  information-schema/information-schema-cluster-info.md
  maintain-tidb-using-tiup.md
  migrate-from-tidb-to-tidb.md
  pd-configuration-file.md
  performance-tuning-methods.md
  production-deployment-using-tiup.md
  releases/release-2.1-ga.md
  releases/release-5.3.0.md
  releases/release-8.0.0.md
  replicate-between-primary-and-secondary-clusters.md
  smooth-upgrade-tidb.md
  system-variables.md
  ticdc/ticdc-avro-checksum-verification.md
  ticdc/ticdc-open-protocol.md
  ticdc/ticdc-overview.md
  ticdc/ticdc-simple-protocol.md
  ticdc/ticdc-storage-consumer-dev-guide.md
  tidb-binlog/binlog-consumer-client.md
  tidb-binlog/binlog-control.md
  tidb-binlog/maintain-tidb-binlog-cluster.md
  tidb-binlog/tidb-binlog-configuration-file.md
  tidb-binlog/tidb-binlog-overview.md
  tidb-configuration-file.md
  tidb-lightning/tidb-lightning-overview.md
  tidb-resource-control.md
  tidb-roadmap.md
  tidb-scheduling.md
  tidb-troubleshooting-map.md
  tiflash/tiflash-late-materialization.md
  tikv-configuration-file.md
  tiup/tiup-playground.md
  troubleshoot-lock-conflicts.md
  tune-tikv-memory-performance.md
Labels: translation/from-docs-cn, size/XXL, area/develop, for-release, needs-1-more-lgtm, approved, lgtm, v8.1

#17309 Add info to PREPARE statement docs
  sql-statements/sql-statement-prepare.md
Labels: type/enhancement, translation/done, size/XS, approved, lgtm, needs-cherry-pick-release-8.0, needs-cherry-pick-release-8.1

#17517 cloud: update free cluster limitations
  tidb-cloud/serverless-faqs.md
Labels: type/enhancement, contribution, translation/no-need, first-time-contributor, size/XS, area/tidb-cloud, approved, lgtm, ok-to-test

#17526 tidb-lightning: add contents about `REFERENCES`
  tidb-lightning/tidb-lightning-requirements.md
Labels: translation/from-docs-cn, size/XS, ONCALL, area/tidb-lightning, needs-cherry-pick-release-6.1, needs-1-more-lgtm, approved, lgtm

#17549 lightning: fix the link of start `tidb-lightning`
  tidb-lightning/troubleshoot-tidb-lightning.md
Labels: type/bug-fix, translation/from-docs-cn, size/XS, ONCALL, area/tidb-lightning, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6, needs-cherry-pick-release-8.0, needs-cherry-pick-release-8.1

#17525 lightning: fix the behavior of "tidb.tls"
  tidb-lightning/tidb-lightning-configuration.md
Labels: type/bug-fix, translation/from-docs-cn, contribution, size/S, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, area/tidb-lightning, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6, ok-to-test

#17466 remove ebnf images in set operator
  functions-and-operators/set-operators.md
Labels: type/enhancement, translation/done, size/XS, approved, lgtm, needs-cherry-pick-release-8.0, needs-cherry-pick-release-8.1

#17568 update the UI string for downloading CA
  develop/dev-guide-gui-datagrip.md
  develop/dev-guide-gui-dbeaver.md
  develop/dev-guide-sample-application-golang-gorm.md
  develop/dev-guide-sample-application-golang-sql-driver.md
  develop/dev-guide-sample-application-java-hibernate.md
  develop/dev-guide-sample-application-java-jdbc.md
  develop/dev-guide-sample-application-java-mybatis.md
  develop/dev-guide-sample-application-java-spring-boot.md
  develop/dev-guide-sample-application-nodejs-mysql2.md
  develop/dev-guide-sample-application-nodejs-mysqljs.md
  develop/dev-guide-sample-application-nodejs-prisma.md
  develop/dev-guide-sample-application-nodejs-sequelize.md
  develop/dev-guide-sample-application-nodejs-typeorm.md
  develop/dev-guide-sample-application-python-django.md
  develop/dev-guide-sample-application-python-mysql-connector.md
  develop/dev-guide-sample-application-python-mysqlclient.md
  develop/dev-guide-sample-application-python-peewee.md
  develop/dev-guide-sample-application-python-pymysql.md
  develop/dev-guide-sample-application-python-sqlalchemy.md
  develop/dev-guide-sample-application-ruby-mysql2.md
  develop/dev-guide-sample-application-ruby-rails.md
  tidb-cloud/tidb-cloud-console-auditing.md
Labels: translation/from-docs-cn, size/M, area/develop, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6, needs-cherry-pick-release-8.0, needs-cherry-pick-release-8.1

#17493 remove warning for tidb_analyze_partition_concurrency
  system-variables.md
Labels: translation/from-docs-cn, size/XS, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6, needs-cherry-pick-release-8.0, needs-cherry-pick-release-8.1

#17582 sql-plan-replayer: add description for `PLAN REPLAYER CAPTURE REMOVE`
  sql-plan-replayer.md
Labels: translation/from-docs-cn, size/S, ONCALL, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.1

#17567 cdc: fix the description about the behavior change
  ticdc/ticdc-behavior-change.md
Labels: translation/from-docs-cn, size/XS, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6, needs-cherry-pick-release-8.0, needs-cherry-pick-release-8.1

#17524 tidb cloud: release notes for 20240521
  tidb-cloud/tidb-cloud-release-notes.md
Labels: translation/no-need, size/XS, area/tidb-cloud, for-cloud-release, needs-1-more-lgtm, approved, lgtm

#17548 update branch size limitation
  tidb-cloud/branch-overview.md
Labels: translation/no-need, size/XS, area/tidb-cloud, needs-1-more-lgtm, approved, lgtm

#17569 auto-increment: modify the description about the case of non-continuous auto increment id
  auto-increment.md
Labels: translation/from-docs-cn, size/XS, for-release, approved, lgtm, v8.1, needs-cherry-pick-release-8.1

#17498 Update schedule-replicas-by-topology-labels.md
  schedule-replicas-by-topology-labels.md
Labels: type/enhancement, translation/from-docs-cn, size/L, area/tiup, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6, needs-cherry-pick-release-8.0, needs-cherry-pick-release-8.1

#17604 br: fix broken links
  br/br-snapshot-guide.md
  faq/backup-and-restore-faq.md
Labels: type/bug-fix, translation/from-docs-cn, size/XS, area/br, needs-1-more-lgtm, approved, lgtm

#17464 Update statistics related things to use EBNF etc
  TOC-tidb-cloud.md
  TOC.md
  sql-statements/sql-statement-drop-stats.md
  sql-statements/sql-statement-show-analyze-status.md
  sql-statements/sql-statement-show-column-stats-usage.md
  sql-statements/sql-statement-show-stats-buckets.md
  sql-statements/sql-statement-show-stats-healthy.md
  sql-statements/sql-statement-show-stats-histograms.md
  sql-statements/sql-statement-show-stats-locked.md
  sql-statements/sql-statement-show-stats-topn.md
  statistics.md
Labels: type/enhancement, translation/doing, size/XXL, area/planner, approved, lgtm, needs-cherry-pick-release-8.1

#17607 remove multiple spaces
  ticdc/ticdc-manage-changefeed.md
Labels: type/bug-fix, translation/no-need, size/XS, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.0, needs-cherry-pick-release-8.1

#17566 add 8.1.0 performance test
  TOC-tidb-cloud.md
  media/tidb-cloud/v8.1.0_oltp_insert.png
  media/tidb-cloud/v8.1.0_oltp_point_select.png
  media/tidb-cloud/v8.1.0_oltp_read_write.png
  media/tidb-cloud/v8.1.0_oltp_update_index.png
  media/tidb-cloud/v8.1.0_oltp_update_non_index.png
  media/tidb-cloud/v8.1.0_tpcc.png
  tidb-cloud/v8.1-performance-benchmarking-with-sysbench.md
  tidb-cloud/v8.1-performance-benchmarking-with-tpcc.md
Labels: translation/no-need, first-time-contributor, size/XL, area/tidb-cloud, for-release, approved, lgtm, v8.1

#17507 releases: add release notes for v8.1.0
  TOC.md
  releases/release-8.1.0.md
  releases/release-notes.md
  releases/release-timeline.md
Labels: translation/from-docs-cn, size/XL, approved, lgtm, v8.1, needs-cherry-pick-release-8.1

#17492 bump TiDB version to v8.1.0
  README.md
  br/backup-and-restore-use-cases.md
  develop/dev-guide-sample-application-nodejs-mysql2.md
  develop/dev-guide-sample-application-nodejs-mysqljs.md
  develop/dev-guide-sample-application-nodejs-typeorm.md
  develop/dev-guide-sample-application-ruby-mysql2.md
  develop/dev-guide-sample-application-ruby-rails.md
  dm/maintain-dm-using-tiup.md
  dm/quick-start-create-task.md
  download-ecosystem-tools.md
  information-schema/information-schema-tidb-servers-info.md
  pd-control.md
  post-installation-check.md
  production-deployment-using-tiup.md
  quick-start-with-tidb.md
  scale-tidb-using-tiup.md
  system-variables.md
  ticdc/deploy-ticdc.md
  ticdc/ticdc-changefeed-config.md
  ticdc/ticdc-changefeed-overview.md
  ticdc/ticdc-manage-changefeed.md
  ticdc/ticdc-open-api-v2.md
  ticdc/ticdc-sink-to-cloud-storage.md
  ticdc/ticdc-sink-to-pulsar.md
  tidb-binlog/get-started-with-tidb-binlog.md
  tidb-monitoring-api.md
  tiflash/create-tiflash-replicas.md
  tiup/tiup-cluster.md
  tiup/tiup-component-cluster-deploy.md
  tiup/tiup-component-cluster-patch.md
  tiup/tiup-component-cluster-upgrade.md
  tiup/tiup-component-dm-upgrade.md
  tiup/tiup-component-management.md
  tiup/tiup-mirror.md
  tiup/tiup-playground.md
  upgrade-monitoring-services.md
  upgrade-tidb-using-tiup.md
Labels: translation/from-docs-cn, size/L, area/develop, for-release, needs-1-more-lgtm, approved, lgtm, v8.1, needs-cherry-pick-release-8.1

#17620 ci: update TiDB version in the ja full translation workflow
  .github/workflows/ja-full-translation-google.yaml
Labels: translation/no-need, size/XS, needs-1-more-lgtm, approved, lgtm

#15699 v6.1: update the description for tidb_enable_outer_join_reorder
  system-variables.md
Labels: translation/from-docs-cn, size/XS, needs-1-more-lgtm, approved, lgtm

#17605 releases: add release notes subscription
  releases/release-7.5.0.md
  releases/release-notes.md
  releases/release-timeline.md
Labels: requires-version-specific-changes, translation/done, size/XS, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm

#17522 Add links for DXF
  sql-statements/sql-statement-add-index.md
  sql-statements/sql-statement-import-into.md
  tidb-distributed-execution-framework.md
Labels: translation/no-need, size/M, approved, lgtm, needs-cherry-pick-release-8.0, needs-cherry-pick-release-8.1

#17468 Replace sqlgram links
  TOC-tidb-cloud.md
  TOC.md
  basic-sql-operations.md
  develop/dev-guide-create-table.md
  develop/dev-guide-tidb-crud-sql.md
  expression-syntax.md
  mysql-compatibility.md
  sql-statements/sql-statement-overview.md
Labels: type/enhancement, translation/doing, size/XL, area/develop, approved, lgtm

#17619 add oauth 2.0
  TOC-tidb-cloud.md
  tidb-cloud/oauth2.md
Labels: translation/no-need, size/M, area/tidb-cloud, needs-1-more-lgtm, approved, lgtm

#17631 i18n: fix build error
  as-of-timestamp.md
  sql-statements/sql-statement-flashback-table.md
  tidb-cloud/ticloud-branch-connect-info.md
  tidb-cloud/ticloud-branch-create.md
  tidb-cloud/ticloud-branch-delete.md
  tidb-cloud/ticloud-branch-describe.md
  tidb-cloud/ticloud-branch-list.md
  tidb-cloud/ticloud-cluster-connect-info.md
  tidb-cloud/ticloud-cluster-create.md
  tidb-cloud/ticloud-cluster-delete.md
  tidb-cloud/ticloud-cluster-describe.md
  tidb-cloud/ticloud-cluster-list.md
  tidb-cloud/ticloud-config-create.md
  tidb-cloud/ticloud-config-delete.md
  tidb-cloud/ticloud-config-describe.md
  tidb-cloud/ticloud-config-edit.md
  tidb-cloud/ticloud-config-list.md
  tidb-cloud/ticloud-config-set.md
  tidb-cloud/ticloud-config-use.md
  tidb-cloud/ticloud-connect.md
  tidb-cloud/ticloud-import-cancel.md
  tidb-cloud/ticloud-import-describe.md
  tidb-cloud/ticloud-import-list.md
  tidb-cloud/ticloud-import-start-local.md
  tidb-cloud/ticloud-import-start-mysql.md
  tidb-cloud/ticloud-import-start-s3.md
  tidb-cloud/ticloud-project-list.md
  tidb-cloud/ticloud-update.md
  tiup/tiup-command-list.md
  tiup/tiup-command-mirror-clone.md
  tiup/tiup-command-mirror-grant.md
  tiup/tiup-command-mirror-init.md
  tiup/tiup-command-mirror-merge.md
  tiup/tiup-command-mirror-publish.md
  tiup/tiup-command-mirror-set.md
  tiup/tiup-command-mirror-sign.md
  tiup/tiup-component-cluster-audit-cleanup.md
  tiup/tiup-component-cluster-clean.md
  tiup/tiup-component-cluster-disable.md
  tiup/tiup-component-cluster-edit-config.md
  tiup/tiup-component-cluster-enable.md
  tiup/tiup-component-cluster-patch.md
  tiup/tiup-component-cluster-reload.md
  tiup/tiup-component-cluster-rename.md
  tiup/tiup-component-cluster-replay.md
  tiup/tiup-component-cluster-restart.md
  tiup/tiup-component-cluster-scale-in.md
  tiup/tiup-component-dm-audit.md
  tiup/tiup-component-dm-deploy.md
  tiup/tiup-component-dm-destroy.md
  tiup/tiup-component-dm-disable.md
  tiup/tiup-component-dm-edit-config.md
  tiup/tiup-component-dm-enable.md
  tiup/tiup-component-dm-reload.md
  tiup/tiup-component-dm-replay.md
  tiup/tiup-component-dm-restart.md
  tiup/tiup-component-dm-scale-out.md
  tiup/tiup-component-dm-stop.md
  tiup/tiup-component-dm-upgrade.md
Labels: translation/no-need, size/L, needs-1-more-lgtm

#17632 i18n: remove colons in summary
  releases/release-2.1.17.md
  releases/release-3.0.1.md
  releases/release-4.0.15.md
  releases/release-5.1.4.md
  releases/release-5.4.1.md
  tiup/tiup-command-install.md
  tiup/tiup-command-mirror-set.md
Labels: translation/no-need, size/S, needs-1-more-lgtm

#17635 i18n: fix build error
  tiproxy/tiproxy-overview.md
  tiup/tiup-documentation-guide.md
Labels: translation/no-need, size/XS, needs-1-more-lgtm

#17637 DFX: support running multiple ADD INDEX in parallel
  tidb-distributed-execution-framework.md
Labels: translation/done, size/XS, approved, lgtm, needs-cherry-pick-release-8.1

#17639 fix MDX syntax error in machine translation
  tiproxy/tiproxy-overview.md
Labels: translation/from-docs-cn, size/XS, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-8.0, needs-cherry-pick-release-8.1

#17630 Update size-your-cluster.md
  tidb-cloud/size-your-cluster.md
Labels: translation/no-need, size/S, approved, lgtm

#17581 cloud: add the reminder message of charging policy for backups when customers delete dedicated clusters
  tidb-cloud/delete-tidb-cluster.md
Labels: translation/no-need, first-time-contributor, size/S, area/tidb-cloud, needs-1-more-lgtm, approved, lgtm, ok-to-test

#17612 ticdc: add how TiCDC deals with data changes
  ticdc/ticdc-overview.md
Labels: translation/from-docs-cn, size/M, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.1

#17646 releases: fix two outdated 404 links
  releases/release-6.1.6.md
  releases/release-6.2.0.md
  releases/release-6.5.1.md
  releases/release-7.0.0.md
  releases/release-7.2.0.md
Labels: requires-version-specific-changes, translation/from-docs-cn, size/S, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6, needs-cherry-pick-release-8.0, needs-cherry-pick-release-8.1

#17659 releases: add 8.1.0 to release notes summary
  releases/release-notes.md
Labels: requires-version-specific-changes, translation/no-need, size/XS, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.1

#17663 cloud: fix admonitions syntax
  tidb-cloud/ticloud-config-set.md
Labels: type/bug-fix, translation/no-need, size/XS, area/tidb-cloud, needs-1-more-lgtm, approved, lgtm

#17641 fix the description of tidb_query_duration
  alert-rules.md
Labels: translation/from-docs-cn, size/XS, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6, needs-cherry-pick-release-8.0, needs-cherry-pick-release-8.1

#17530 ticdc: add description for cdc behaviour change
  releases/release-8.1.0.md
  ticdc/ticdc-behavior-change.md
Labels: translation/from-docs-cn, size/M, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.1

#17678 remove redundant lightning command line flags doc
  tidb-lightning/tidb-lightning-configuration.md
  tidb-lightning/tidb-lightning-physical-import-mode.md
  tidb-lightning/tidb-lightning-prechecks.md
Labels: translation/done, size/M, area/tidb-lightning, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.1

#17618 uuid: Link to functions etc
  best-practices/uuid.md
Labels: type/enhancement, translation/done, size/XS, approved, lgtm, needs-cherry-pick-release-8.1

#17658 tiproxy: add tiproxyctl commands and http api
  TOC.md
  tiproxy/tiproxy-api.md
  tiproxy/tiproxy-command-line-flags.md
Labels: type/enhancement, translation/from-docs-cn, size/L, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-8.0, needs-cherry-pick-release-8.1

#17683 TiKV: supplement missing release docs on optimizing the HA
  releases/release-7.5.1.md
Labels: translation/from-docs-cn, size/XS, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6, needs-cherry-pick-release-8.0, needs-cherry-pick-release-8.1

#17633 tidb_row_checksum(): Update docs
  functions-and-operators/tidb-functions.md
  system-variables.md
Labels: translation/done, size/XS, approved, lgtm, needs-cherry-pick-release-8.1

#17702 Add description for some system tables
  mysql-schema.md
Labels: requires-version-specific-changes, translation/from-docs-cn, size/S, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm

#17685 br-snapshot-guide: remove the experimental note of the coarse-grained Region scatter algorithm
  br/br-snapshot-guide.md
Labels: translation/no-need, size/XS, approved, lgtm, needs-cherry-pick-release-8.0, needs-cherry-pick-release-8.1

#17704 Add cases for full compaction config for non-utc time zone
  tikv-configuration-file.md
Labels: type/enhancement, translation/from-docs-cn, contribution, size/XS, approved, lgtm, needs-cherry-pick-release-7.6, ok-to-test, needs-cherry-pick-release-8.0, needs-cherry-pick-release-8.1
