Repository pingcap/docs, pull requests merged in 2024-06, with the labels that each got.

#17689 information-schema: update the description for the tikv-region-status table
  information-schema/information-schema-tikv-region-status.md
Labels: translation/from-docs-cn, size/S, area/engine, ONCALL, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-8.1

#17675 TiCDC: modify Kafka sink uri format
  ticdc/ticdc-sink-to-kafka.md
Labels: translation/done, contribution, size/S, ONCALL, area/ticdc, needs-1-more-lgtm, approved, lgtm, needs-ok-to-test, needs-cherry-pick-release-8.1

#17692 planner: update the doc of optimizer hint
  optimizer-hints.md
Labels: requires-version-specific-changes, translation/from-docs-cn, size/M, ONCALL, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.0, needs-cherry-pick-release-8.1

#17691 Fix ticdc alert rules
  ticdc/ticdc-alert-rules.md
Labels: translation/from-docs-cn, size/XS, ONCALL, area/ticdc, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.1

#17727 Remove fast analyze from the list of basic features
  basic-features.md
Labels: translation/done, size/XS, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6, needs-cherry-pick-release-8.0, needs-cherry-pick-release-8.1

#17700 ticdc: Fix sql case error
  ticdc/ticdc-overview.md
Labels: translation/from-docs-cn, size/XS, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.1

#17662 statistics: update the note for sampling rate
  statistics.md
Labels: translation/from-docs-cn, size/S, area/planner, ONCALL, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.6, needs-cherry-pick-release-8.0, needs-cherry-pick-release-8.1

#17744 statistics: update the note for sampling rate
  statistics.md
Labels: translation/from-docs-cn, size/XS, area/planner, needs-cherry-pick-release-5.3, ONCALL, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm

#17745 tiproxy: fix tiproxy api addr
  tiproxy/tiproxy-configuration.md
Labels: type/bug-fix, translation/from-docs-cn, size/XS, approved, lgtm, needs-cherry-pick-release-7.6, needs-cherry-pick-release-8.0, needs-cherry-pick-release-8.1

#17676 cloud: enabling ttl table in serverless
  mysql-schema.md
  tidb-cloud/limited-sql-features.md
  tidb-cloud/serverless-limitations.md
  time-to-live.md
Labels: translation/done, size/L, area/tidb-cloud, for-cloud-release, approved, lgtm

#17425 TiDB Cloud Docs: Add documentation for new Recovery Group feature
  TOC-tidb-cloud.md
  media/tidb-cloud/recovery-group/recovery-group-failover.png
  media/tidb-cloud/recovery-group/recovery-group-overview.png
  media/tidb-cloud/recovery-group/recovery-group-protected.png
  media/tidb-cloud/recovery-group/recovery-group-reprotected.png
  media/tidb-cloud/recovery-group/recovery-group-unprotected.png
  tidb-cloud/manage-user-access.md
  tidb-cloud/recovery-group-delete.md
  tidb-cloud/recovery-group-failover.md
  tidb-cloud/recovery-group-get-started.md
  tidb-cloud/recovery-group-overview.md
  tidb-cloud/tidb-cloud-billing-recovery-group.md
Labels: translation/no-need, size/L, area/tidb-cloud, for-cloud-release, approved, lgtm, needs-cherry-pick-release-7.5

#17768 cloud: update the free quota of columnar storage
  tidb-cloud/manage-serverless-spend-limit.md
  tidb-cloud/select-cluster-tier.md
  tidb-cloud/serverless-faqs.md
  tidb-cloud/serverless-limitations.md
Labels: translation/no-need, size/M, area/tidb-cloud, for-cloud-release, approved, lgtm

#17722 cloud: add release notes 20240604
  tidb-cloud/tidb-cloud-release-notes.md
Labels: translation/no-need, size/S, area/tidb-cloud, for-cloud-release, approved, lgtm

#17775 br: fix one word typo
  br/br-snapshot-manual.md
Labels: translation/no-need, size/XS, ONCALL, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6, needs-cherry-pick-release-8.0, needs-cherry-pick-release-8.1

#17787 Update `IMPORT INTO` `SPLIT_FILE`
  sql-statements/sql-statement-import-into.md
Labels: translation/from-docs-cn, size/XS, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.1

#17785 track-and-verify-wals-in-manifest: add v7.5.2 as a supported version
  tikv-configuration-file.md
Labels: translation/from-docs-cn, size/XS, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.0, needs-cherry-pick-release-8.1

#17783 br: add restriction for incremental restore
  br/br-incremental-guide.md
Labels: translation/from-docs-cn, size/XS, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6, needs-cherry-pick-release-8.0, needs-cherry-pick-release-8.1

#17786 lightning: add description about terminator for strict-format CSV files
  migrate-from-csv-files-to-tidb.md
Labels: translation/from-docs-cn, contribution, size/XS, needs-cherry-pick-release-6.5, approved, lgtm, needs-cherry-pick-release-7.5

#17739 br: adjust br related statement
  br/br-snapshot-guide.md
  releases/release-7.6.0.md
  tidb-cloud/tidb-cloud-release-notes.md
Labels: requires-version-specific-changes, translation/from-docs-cn, size/S, ONCALL, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6, needs-cherry-pick-release-8.0, needs-cherry-pick-release-8.1

#17315 Group ALTER TABLE related things together
  TOC-tidb-cloud.md
  TOC.md
Labels: type/enhancement, translation/doing, size/M, approved, lgtm, needs-cherry-pick-release-7.5

#17814 cloud: update the the default TiDB version of new TiDB Serverless clusters
  tidb-cloud/tidb-cloud-faq.md
  tidb-cloud/tidb-cloud-release-notes.md
Labels: translation/no-need, size/XS, area/tidb-cloud, needs-1-more-lgtm, approved, lgtm

#17815 Add type info for tidb_adaptive_closest_read_threshold
  system-variables.md
Labels: translation/from-docs-cn, size/XS, ONCALL, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6, needs-cherry-pick-release-8.0, needs-cherry-pick-release-8.1

#17816 Update the command of upgrading monitoring services
  upgrade-monitoring-services.md
Labels: translation/from-docs-cn, size/XS, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6, needs-cherry-pick-release-8.0, needs-cherry-pick-release-8.1

#17677 tidb-lightning: add a new doc about compatibility and scenarios
  TOC.md
  sql-statements/sql-statement-import-into.md
  tidb-lightning/tidb-lightning-compatibility-and-scenarios.md
Labels: translation/from-docs-cn, size/L, area/tidb-lightning, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-8.0, needs-cherry-pick-release-8.1

#15239 br: update restriction of ratelimit and concurrency
  br/br-auto-tune.md
  br/br-snapshot-guide.md
Labels: type/enhancement, translation/from-docs-cn, size/XS, area/br, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6, needs-cherry-pick-release-8.0, needs-cherry-pick-release-8.1

#17834 Terraform add sync configuration
  tidb-cloud/terraform-get-tidbcloud-provider.md
  tidb-cloud/terraform-use-cluster-resource.md
Labels: translation/no-need, size/S, area/tidb-cloud, approved, lgtm

#17828 faq: Describe in what condition TiDB and RawKV can be used together
  faq/manage-cluster-faq.md
Labels: translation/done, size/XS, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6, needs-cherry-pick-release-8.0, needs-cherry-pick-release-8.1

#17119 *: improve INL_HASH_JOIN document about collation incompatibility
  optimizer-hints.md
Labels: translation/doing, size/XS, area/planner, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.1

#17843 DM: add a step about encrypting the database password
  dm/deploy-a-dm-cluster-using-tiup.md
Labels: translation/from-docs-cn, size/S, area/dm, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-8.0, needs-cherry-pick-release-8.1

#17856 br: refine description for snapshot backup
  br/backup-and-restore-overview.md
Labels: translation/from-docs-cn, size/XS, area/br, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-8.1

#17703 dxf: link to data type
  tidb-distributed-execution-framework.md
Labels: translation/done, size/XS, approved, lgtm, needs-cherry-pick-release-8.1

#17864 tidb lightning: expose [tidb.session-vars] in lightning config
  tidb-lightning/tidb-lightning-configuration.md
Labels: area/tidb-lightning, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6, needs-cherry-pick-release-8.1

#17862 fix format in external-storage-uri.md
  external-storage-uri.md
Labels: translation/no-need, size/XS, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.1

#17877 chore: support collecting dup release notes based on the combination of the issue number and authors
  scripts/release_notes_update_pr_author_info_add_dup.py
Labels: translation/no-need, size/S, needs-1-more-lgtm, approved, lgtm

#17701 add release notes for 7.5.2
  TOC.md
  releases/release-7.5.2.md
  releases/release-notes.md
  releases/release-timeline.md
Labels: translation/from-docs-cn, size/L, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6, needs-cherry-pick-release-8.0, needs-cherry-pick-release-8.1

#17759 bump version for v7.5.2
  br/backup-and-restore-use-cases.md
  develop/dev-guide-sample-application-nodejs-mysql2.md
  develop/dev-guide-sample-application-nodejs-mysqljs.md
  develop/dev-guide-sample-application-nodejs-typeorm.md
  develop/dev-guide-sample-application-ruby-mysql2.md
  develop/dev-guide-sample-application-ruby-rails.md
  dm/maintain-dm-using-tiup.md
  dm/quick-start-create-task.md
  external-storage-uri.md
  information-schema/information-schema-tidb-servers-info.md
  pd-control.md
  post-installation-check.md
  production-deployment-using-tiup.md
  quick-start-with-tidb.md
  scale-tidb-using-tiup.md
  system-variables.md
  ticdc/deploy-ticdc.md
  ticdc/ticdc-changefeed-config.md
  ticdc/ticdc-changefeed-overview.md
  ticdc/ticdc-manage-changefeed.md
  ticdc/ticdc-open-api-v2.md
  ticdc/ticdc-sink-to-cloud-storage.md
  ticdc/ticdc-sink-to-pulsar.md
  tidb-binlog/get-started-with-tidb-binlog.md
  tidb-monitoring-api.md
  tiflash/create-tiflash-replicas.md
  tiup/tiup-cluster.md
  tiup/tiup-component-cluster-deploy.md
  tiup/tiup-component-cluster-patch.md
  tiup/tiup-component-cluster-upgrade.md
  tiup/tiup-component-dm-upgrade.md
  tiup/tiup-component-management.md
  tiup/tiup-mirror.md
  tiup/tiup-playground.md
  upgrade-tidb-using-tiup.md
Labels: translation/from-docs-cn, size/L, area/develop, needs-1-more-lgtm, approved, lgtm

#16396 cdc: fix index-value dispatcher config typo
  ticdc/ticdc-changefeed-config.md
  ticdc/ticdc-sink-to-kafka.md
Labels: type/bug-fix, translation/done, size/XS, area/ticdc, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6, needs-cherry-pick-release-8.0, needs-cherry-pick-release-8.1

#17845 Add drizzle example
  TOC-tidb-cloud.md
  tidb-cloud/serverless-driver-drizzle-example.md
  tidb-cloud/serverless-driver-kysely-example.md
Labels: translation/no-need, size/XL, area/tidb-cloud, approved, lgtm

#17876 sql: add a note about `FULLTEXT`
  sql-statements/sql-statement-add-index.md
  sql-statements/sql-statement-alter-table.md
  sql-statements/sql-statement-create-index.md
  sql-statements/sql-statement-create-table.md
  sql-statements/sql-statement-show-indexes.md
Labels: translation/done, size/S, approved, lgtm, needs-cherry-pick-release-8.1

#17893 ticdc: clarify description about compression
  ticdc/ticdc-sink-to-kafka.md
Labels: size/XS, ONCALL, area/ticdc, approved, lgtm, needs-cherry-pick-release-8.1

#17713 Update sequence functions docs
  functions-and-operators/sequence-functions.md
Labels: type/enhancement, translation/done, size/L, approved, lgtm, needs-cherry-pick-release-8.1

#17902 tiproxy: change instance count from 3 to 1
  tiproxy/tiproxy-deployment-topology.md
Labels: type/bug-fix, translation/from-docs-cn, size/XS, ONCALL, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.6, needs-cherry-pick-release-8.0, needs-cherry-pick-release-8.1

#17903 Rename `tidb_enable_concurrent_hashagg_spill` to `tidb_enable_parallel_hashagg_spill`
  configure-memory-usage.md
  releases/release-8.0.0.md
  system-variables.md
Labels: type/bug-fix, translation/from-docs-cn, size/M, approved, lgtm, needs-cherry-pick-release-8.0, needs-cherry-pick-release-8.1

#17757 ticdc: fix description about how cdc split update kv entries
  releases/release-8.1.0.md
  ticdc/ticdc-behavior-change.md
Labels: translation/from-docs-cn, size/S, area/ticdc, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-8.1

#17878 modify try out htap samples
  tidb-cloud/tidb-cloud-htap-quickstart.md
  tiflash/create-tiflash-replicas.md
  tiflash/tiflash-results-materialization.md
Labels: translation/done, needs-cherry-pick-master, size/L, area/bigdata, ONCALL, approved, lgtm, needs-cherry-pick-release-8.1

#17911 Clinic: Various fixes
  clinic/clinic-data-instruction-for-tiup.md
  clinic/clinic-user-guide-for-tiup.md
Labels: translation/doing, size/XS, area/clinic, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.1

#17918 remove JSON_REPLACE from supported expressions for pushdown to TiKV
  functions-and-operators/expressions-pushed-down.md
Labels: type/bug-fix, translation/from-docs-cn, size/XS, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6, needs-cherry-pick-release-8.0

#17922 *: fix several typos
  br/br-monitoring-and-alert.md
  releases/release-rc.1.md
  scripts/verify-links.sh
Labels: type/bug-fix, requires-version-specific-changes, translation/from-docs-cn, size/XS, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6, needs-cherry-pick-release-8.0, needs-cherry-pick-release-8.1

#17938 add response limit for chat2query and tcds
  tidb-cloud/data-service-manage-endpoint.md
  tidb-cloud/explore-data-with-chat2query.md
Labels: type/enhancement, translation/no-need, first-time-contributor, size/XS, area/tidb-cloud, approved, lgtm

#17939 changefeed: add more tips for RCU performance
  tidb-cloud/tidb-cloud-billing-ticdc-rcu.md
Labels: translation/no-need, size/XS, area/tidb-cloud, for-cloud-release, approved, lgtm, ok-to-test

#17917 cloud: add release notes 20240618
  tidb-cloud/tidb-cloud-release-notes.md
Labels: translation/no-need, size/S, area/tidb-cloud, for-cloud-release, approved, lgtm

#17914 cloud: update the default TiDB version of new TiDB Dedicated clusters
  tidb-cloud/tidb-cloud-faq.md
Labels: translation/no-need, size/XS, area/tidb-cloud, for-cloud-release, needs-1-more-lgtm, approved, lgtm

#17916 cloud: update TiFlash max node storage
  tidb-cloud/size-your-cluster.md
Labels: translation/no-need, size/XS, area/tidb-cloud, for-cloud-release, approved, lgtm

#17944 tikv: fix default port from 20181 to 20180
  best-practices/grafana-monitor-best-practices.md
Labels: type/bug-fix, translation/from-docs-cn, size/XS, area/engine, ONCALL, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6, needs-cherry-pick-release-8.0, needs-cherry-pick-release-8.1

#17953 fix typo: change 'PLAN PLAYER CAPTURE' to 'PLAN REPLAYER CAPTURE'
  sql-plan-replayer.md
Labels: type/bug-fix, translation/from-docs-cn, size/XS, area/planner, ONCALL, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6, needs-cherry-pick-release-8.0, needs-cherry-pick-release-8.1

#17960 fix error message of 8028 in metadata lock
  metadata-lock.md
Labels: type/bug-fix, translation/from-docs-cn, size/XS, ONCALL, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.0, needs-cherry-pick-release-8.1

#17961 Update ticloud-ai.md
  tidb-cloud/ticloud-ai.md
Labels: translation/no-need, size/XS, area/tidb-cloud, needs-1-more-lgtm, approved, lgtm

#17896 add release notes for 6.5.10
  TOC.md
  releases/release-6.5.10.md
  releases/release-7.5.2.md
  releases/release-notes.md
  releases/release-timeline.md
Labels: translation/from-docs-cn, size/L, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6, needs-cherry-pick-release-8.0, needs-cherry-pick-release-8.1

#17873 v6.5: bump the latest patch version to v6.5.10
  br/backup-and-restore-use-cases.md
  dm/maintain-dm-using-tiup.md
  dm/quick-start-create-task.md
  pd-control.md
  production-deployment-using-tiup.md
  quick-start-with-tidb.md
  scale-tidb-using-tiup.md
  ticdc/deploy-ticdc.md
  ticdc/ticdc-changefeed-config.md
  ticdc/ticdc-changefeed-overview.md
  ticdc/ticdc-manage-changefeed.md
  ticdc/ticdc-sink-to-cloud-storage.md
  tidb-binlog/get-started-with-tidb-binlog.md
  tiflash/create-tiflash-replicas.md
  tiup/tiup-cluster.md
  tiup/tiup-component-cluster-deploy.md
  tiup/tiup-component-cluster-patch.md
  tiup/tiup-component-cluster-upgrade.md
  tiup/tiup-component-dm-upgrade.md
  tiup/tiup-component-management.md
  tiup/tiup-mirror.md
  tiup/tiup-playground.md
  upgrade-tidb-using-tiup.md
Labels: translation/from-docs-cn, size/L, needs-1-more-lgtm, approved, lgtm

#17987 dm: fix the command for querying migration status
  migrate-with-more-columns-downstream.md
Labels: type/bug-fix, translation/from-docs-cn, size/XS, ONCALL, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6, needs-cherry-pick-release-8.0, needs-cherry-pick-release-8.1

#17712 Update function and operator overview
  functions-and-operators/functions-and-operators-overview.md
Labels: type/enhancement, translation/doing, size/XS, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-8.1

#17983 feat: initialize the vector search document structure
  TOC-tidb-cloud.md
  media/vector-search/embedding-search.png
  tidb-cloud/vector-search-faqs.md
  tidb-cloud/vector-search-get-started-via-python-client.md
  tidb-cloud/vector-search-get-started-via-sql.md
  tidb-cloud/vector-search-integrate-with-django-orm.md
  tidb-cloud/vector-search-integrate-with-jinaai-embedding.md
  tidb-cloud/vector-search-integrate-with-langchain.md
  tidb-cloud/vector-search-integrate-with-llamaindex.md
  tidb-cloud/vector-search-integrate-with-peewee.md
  tidb-cloud/vector-search-integrate-with-sqlalchemy.md
  tidb-cloud/vector-search-integration-overview.md
  tidb-cloud/vector-search-overview.md
Labels: missing-translation-status, size/XXL

#17954 serverless: Support TiFlash system tables
  information-schema/information-schema-tiflash-segments.md
  information-schema/information-schema-tiflash-tables.md
  tidb-cloud/limited-sql-features.md
Labels: translation/no-need, size/S, area/tidb-cloud, for-cloud-release, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.1

#18008 vector search: review integration with LangChain and LlamaIndex
  tidb-cloud/vector-search-get-started-using-python-client.md
  tidb-cloud/vector-search-integrate-with-langchain.md
  tidb-cloud/vector-search-integrate-with-llamaindex.md
Labels: translation/no-need, size/XL

#18010 feat: updated suggest jdbc to 8.x
  develop/dev-guide-choose-driver-or-orm.md
Labels: translation/from-docs-cn, size/S, area/develop, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.1

#17690 Update docs for tidb_allow_function_for_expression_index
  sql-statements/sql-statement-create-index.md
  system-variables.md
Labels: type/bug-fix, translation/done, size/M, approved, lgtm, needs-cherry-pick-release-8.1

#17981 Chat2Query rename to SQL Editor
  TOC-tidb-cloud.md
  develop/dev-guide-overview.md
  tidb-cloud/connect-to-tidb-cluster.md
  tidb-cloud/data-service-manage-endpoint.md
  tidb-cloud/data-service-oas-with-nextjs.md
  tidb-cloud/dev-guide-wordpress.md
  tidb-cloud/explore-data-with-chat2query.md
  tidb-cloud/import-csv-files.md
  tidb-cloud/import-parquet-files.md
  tidb-cloud/import-sample-data.md
  tidb-cloud/manage-user-access.md
  tidb-cloud/serverless-driver-drizzle-example.md
  tidb-cloud/serverless-driver-kysely-example.md
  tidb-cloud/tidb-cloud-glossary.md
  tidb-cloud/tidb-cloud-import-local-files.md
  tidb-cloud/tidb-cloud-quickstart.md
  tidb-cloud/use-chat2query-api.md
Labels: translation/no-need, needs-cherry-pick-master, size/L, area/develop, area/tidb-cloud, for-cloud-release, approved, lgtm

#18016 v8.1: fix the link to roadmap
  _index.md
Labels: translation/from-docs-cn, size/XS, area/develop, needs-1-more-lgtm, approved, lgtm

#17984 Chat2query v3 api example
  tidb-cloud/use-chat2query-api.md
Labels: contribution, translation/no-need, first-time-contributor, size/XL, area/tidb-cloud, needs-1-more-lgtm, approved, lgtm, needs-ok-to-test

#18017 del: useless /tidb-cloud/tidb-cloud-guide-sample-application-java.md
  tidb-cloud/tidb-cloud-guide-sample-application-java.md
Labels: translation/no-need, size/XXL, area/tidb-cloud, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6, needs-cherry-pick-release-8.0, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.2

#18027 troubleshoot-tidb-oom：update the incorrect command, add double quotes
  troubleshoot-tidb-oom.md
Labels: translation/from-docs-cn, size/XS, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6, needs-ok-to-test, needs-cherry-pick-release-8.0, needs-cherry-pick-release-8.1

#18007 cloud: support vector search
  TOC-tidb-cloud.md
  media/vector-search/embedding-search.png
  tidb-cloud/_index.md
  tidb-cloud/vector-search-changelogs.md
  tidb-cloud/vector-search-data-types.md
  tidb-cloud/vector-search-functions-and-operators.md
  tidb-cloud/vector-search-get-started-using-python.md
  tidb-cloud/vector-search-get-started-using-sql.md
  tidb-cloud/vector-search-improve-performance.md
  tidb-cloud/vector-search-index.md
  tidb-cloud/vector-search-integrate-with-django-orm.md
  tidb-cloud/vector-search-integrate-with-jinaai-embedding.md
  tidb-cloud/vector-search-integrate-with-langchain.md
  tidb-cloud/vector-search-integrate-with-llamaindex.md
  tidb-cloud/vector-search-integrate-with-peewee.md
  tidb-cloud/vector-search-integrate-with-sqlalchemy.md
  tidb-cloud/vector-search-integration-overview.md
  tidb-cloud/vector-search-limitations.md
  tidb-cloud/vector-search-overview.md
Labels: translation/no-need, size/XXL, area/tidb-cloud, for-cloud-release, needs-1-more-lgtm, approved, lgtm

#18003 cloud: add release notes 20240625
  tidb-cloud/tidb-cloud-release-notes.md
Labels: translation/no-need, size/M, area/tidb-cloud, for-cloud-release, needs-1-more-lgtm, approved, lgtm

#18038 cloud: fix the link to CLA
  tidb-cloud/tidb-cloud-faq.md
Labels: translation/no-need, size/XS, area/tidb-cloud, needs-1-more-lgtm, approved, lgtm

#18026 deprecate tidb config enable-replica-selector-v2
  tidb-configuration-file.md
Labels: translation/from-docs-cn, size/XS, for-release, approved, lgtm, v8.2

#17943 ticdc: add new rules and information for syncpoint
  ticdc/ticdc-upstream-downstream-check.md
Labels: translation/from-docs-cn, size/XS, area/ticdc, approved, lgtm, v8.2

#17965 resource_control: add new privilege `RESOURCE_GROUP_USER`
  optimizer-hints.md
  privilege-management.md
  sql-statements/sql-statement-set-resource-group.md
  sql-statements/sql-statement-show-privileges.md
  system-variables.md
  tidb-resource-control.md
Labels: translation/from-docs-cn, size/M, area/engine, approved, lgtm, v8.2

#17875 tiflash: Add "marker" for security.redact_info_log in tiflash.toml
  system-variables.md
  tiflash/tiflash-configuration.md
Labels: translation/from-docs-cn, size/S, type/compatibility-or-feature-change, area/bigdata, needs-1-more-lgtm, approved, lgtm, v8.2

#17874 tiproxy: add doc for load balance
  TOC.md
  placement-rules-in-sql.md
  tiproxy/tiproxy-command-line-flags.md
  tiproxy/tiproxy-configuration.md
  tiproxy/tiproxy-grafana.md
  tiproxy/tiproxy-load-balance.md
  tiproxy/tiproxy-overview.md
  tiproxy/troubleshoot-tiproxy.md
Labels: translation/from-docs-cn, size/L, needs-1-more-lgtm, approved, lgtm, v8.2

#17942 Modify doc for parallel sort
  system-variables.md
Labels: translation/from-docs-cn, size/XS, type/compatibility-or-feature-change, approved, lgtm, v8.2

#17613 add two json pushdown functions doc
  functions-and-operators/expressions-pushed-down.md
Labels: translation/from-docs-cn, contribution, size/XS, approved, lgtm, ok-to-test, v8.2

#17901 Modify parallel hashagg spill doc
  configure-memory-usage.md
  system-variables.md
Labels: translation/from-docs-cn, size/XS, approved, lgtm, v8.2

#17966 br: add more parameters to SQL BR
  sql-statements/sql-statement-backup.md
  sql-statements/sql-statement-restore.md
Labels: translation/from-docs-cn, size/M, area/br, needs-1-more-lgtm, approved, lgtm, v8.2

#17976 Small updates to TiKV config docs
  glossary.md
  tikv-configuration-file.md
Labels: translation/doing, size/S, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.1

#17860 config: update token-limit max value
  tidb-configuration-file.md
Labels: translation/from-docs-cn, size/XS, type/compatibility-or-feature-change, for-release, needs-1-more-lgtm, approved, lgtm, v8.2

#18019 feat: adjust description of hibernate
  develop/dev-guide-choose-driver-or-orm.md
  develop/dev-guide-transaction-restraints.md
Labels: translation/from-docs-cn, size/S, ONCALL, area/develop, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.1

#17857 tikv: add doc for new config `max-apply-unpersisted-log-limit`
  dynamic-config.md
  tikv-configuration-file.md
Labels: translation/from-docs-cn, size/S, type/compatibility-or-feature-change, for-release, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-8.1, v8.2

#17977 br: deprecate br restore parameter granularity
  br/br-pitr-guide.md
  br/br-snapshot-guide.md
  br/use-br-command-line-tool.md
  faq/backup-and-restore-faq.md
Labels: translation/from-docs-cn, size/S, area/br, needs-1-more-lgtm, approved, lgtm, v8.2

#18039 update vector-search python guide
  tidb-cloud/vector-search-get-started-using-python.md
Labels: translation/no-need, size/XS, area/tidb-cloud, approved, lgtm

#17971 docs: Update BR and TiCDC compatibility information
  br/backup-and-restore-overview.md
  ticdc/ticdc-overview.md
Labels: translation/from-docs-cn, size/XS, area/br, needs-1-more-lgtm, approved, lgtm, v8.2

#18000 cached table: add links
  cached-tables.md
Labels: type/enhancement, translation/done, size/S, area/sql-infra, approved, lgtm, needs-cherry-pick-release-8.1

#17812 cdc: add kafka supported version table
  ticdc/ticdc-sink-to-kafka.md
Labels: translation/from-docs-cn, size/S, area/ticdc, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6, needs-cherry-pick-release-8.0, needs-cherry-pick-release-8.1

#18002 Add CentOS 7 EOL to OS descriptions
  hardware-and-software-requirements.md
Labels: translation/from-docs-cn, size/XS, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.5

#17670 Add warning and update wording for extended statistics
  extended-statistics.md
Labels: translation/no-need, size/M, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.2

#17892 change the default value of `tidb_enable_historical_stats` to `OFF`
  system-variables.md
Labels: translation/from-docs-cn, size/XS, type/compatibility-or-feature-change, approved, lgtm, v8.2

#17895 *: increase the performance of loading stats
  system-variables.md
  tidb-configuration-file.md
Labels: translation/from-docs-cn, size/XS, type/compatibility-or-feature-change, approved, lgtm, v8.2

#17915 backup: add time zone in examples
  br/backup-and-restore-use-cases.md
  br/br-snapshot-guide.md
  br/br-snapshot-manual.md
Labels: type/enhancement, translation/from-docs-cn, size/S, area/br, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6, needs-cherry-pick-release-8.0, needs-cherry-pick-release-8.1

#17684 Add JSON_SCHEMA_VALID
  functions-and-operators/json-functions.md
  sql-statements/sql-statement-show-builtins.md
Labels: translation/done, size/XS, approved, lgtm, v8.2

#17968 pd-control: add description for `scheduler config evict-leader-scheduler`
  pd-control.md
Labels: type/enhancement, translation/from-docs-cn, size/M, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6, needs-cherry-pick-release-8.0, needs-cherry-pick-release-8.1
