Repository pingcap/docs, pull requests merged in 2024-07, with the labels that each got.

#17967 planner: update the doc about Plan Cache
  optimizer-hints.md
  sql-prepared-plan-cache.md
  statement-summary-tables.md
Labels: translation/from-docs-cn, size/L, needs-1-more-lgtm, approved, lgtm, v8.2

#18081 vector-search: fix typo in use cases
  tidb-cloud/vector-search-overview.md
Labels: type/bug-fix, translation/no-need, size/XS, area/tidb-cloud, needs-1-more-lgtm, approved, lgtm

#18052 tidbcloud: Add compare and arithmetic rules for Vector data types
  tidb-cloud/vector-search-data-types.md
  tidb-cloud/vector-search-functions-and-operators.md
Labels: translation/no-need, size/L, area/tidb-cloud, approved, lgtm

#18086 TiFlash: update LLVM requirements
  hardware-and-software-requirements.md
Labels: translation/from-docs-cn, size/XS, for-release, approved, lgtm, v8.2

#18082 resource_control: add privilege requirement for dashboard capacity estimation
  dashboard/dashboard-resource-manager.md
  sql-statements/sql-statement-calibrate-resource.md
Labels: translation/from-docs-cn, size/XS, ONCALL, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.1

#17941 Add tiup microservices section
  TOC.md
  command-line-flags-for-scheduling-configuration.md
  command-line-flags-for-tso-configuration.md
  pd-microservices-deployment-topology.md
  pd-microservices.md
  scale-microservices-using-tiup.md
  scheduling-configuration-file.md
  tiup/tiup-cluster-topology-reference.md
  tiup/tiup-playground.md
  tso-configuration-file.md
Labels: translation/from-docs-cn, size/XXL, area/scheduling, needs-1-more-lgtm, approved, lgtm, v8.2

#17532 update lightning conflict detection recording view
  dm/task-configuration-file-full.md
  releases/release-8.0.0.md
  tidb-lightning/tidb-lightning-configuration.md
  tidb-lightning/tidb-lightning-error-resolution.md
  tidb-lightning/tidb-lightning-physical-import-mode-usage.md
Labels: translation/done, size/M, area/tidb-lightning, for-release, approved, lgtm, v8.2

#17894 *: adaptive analyze scan concurrency
  system-variables.md
Labels: translation/from-docs-cn, size/XS, type/compatibility-or-feature-change, for-release, approved, lgtm, v8.2

#18092 Fix several typos and update wording for perf tuning
  performance-tuning-methods.md
Labels: type/bug-fix, translation/from-docs-cn, size/S, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.2

#17997 add description of system query endpoint to dataservice documentation
  tidb-cloud/data-service-app-config-files.md
  tidb-cloud/data-service-manage-endpoint.md
Labels: translation/no-need, first-time-contributor, size/M, area/tidb-cloud, for-cloud-release, approved, lgtm

#18085 TiDB Cloud release notes for 20240702
  tidb-cloud/tidb-cloud-release-notes.md
Labels: translation/no-need, size/S, area/tidb-cloud, needs-1-more-lgtm, approved, lgtm

#18099 tikv-grafana: add compaction job size(files) metric
  grafana-tikv-dashboard.md
Labels: translation/from-docs-cn, size/XS, needs-1-more-lgtm, approved, lgtm, v8.2, needs-cherry-pick-release-8.2

#18090 Update EBNF for password options
  sql-statements/sql-statement-create-user.md
Labels: translation/doing, size/S, for-release, approved, lgtm, v8.2, needs-cherry-pick-release-8.2

#18095 ticdc: add more description about how cdc split update kv entries
  ticdc/ticdc-behavior-change.md
Labels: translation/from-docs-cn, size/S, for-release, needs-1-more-lgtm, approved, lgtm, v8.2, needs-cherry-pick-release-8.2

#18101 Update descriptions for tidb_schema_cache_size
  releases/release-8.0.0.md
  releases/release-8.1.0.md
  system-variables.md
Labels: requires-version-specific-changes, translation/from-docs-cn, size/S, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-8.0, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.2

#18035 Update system-variables.md
  system-variables.md
Labels: translation/from-docs-cn, size/XS, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6, needs-cherry-pick-release-8.0, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.2

#18096 Update outdated https://en.pingcap.com/ links
  _docHome.md
  best-practices/high-concurrency-best-practices.md
  best-practices/tidb-best-practices.md
  dashboard/dashboard-key-visualizer.md
  develop/dev-guide-build-cluster-in-cloud.md
  develop/dev-guide-proxysql-integration.md
  develop/dev-guide-use-subqueries.md
  explore-htap.md
  faq/migration-tidb-faq.md
  faq/sql-faq.md
  releases/release-6.0.0-dmr.md
  releases/versioning.md
  system-variables.md
  telemetry.md
  tidb-cloud/_index.md
  tidb-cloud/release-notes-2021.md
  tidb-cloud/release-notes-2022.md
  tidb-cloud/tidb-cloud-billing-dm.md
  tidb-cloud/tidb-cloud-billing.md
  tidb-cloud/tidb-cloud-faq.md
  tiflash-upgrade-guide.md
  tiflash/tiflash-overview.md
Labels: requires-version-specific-changes, translation/doing, size/M, area/develop, approved, lgtm

#18051 Add dotenv in pip install command for vector-search python guide
  tidb-cloud/vector-search-get-started-using-python.md
Labels: type/bug-fix, translation/no-need, size/XS, area/tidb-cloud, approved, lgtm

#18127 fix a minor wording issue in ddl-introduction.md
  ddl-introduction.md
Labels: contribution, translation/no-need, size/XS, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.2

#18097 CI: fix vale runs
  .github/workflows/ci.yaml
  styles/PingCAP/Ambiguous.yml
  styles/Vocab/PingCAP/accept.txt
  styles/config/vocabularies/PingCAP/accept.txt
  styles/config/vocabularies/PingCAP/reject.txt
Labels: type/bug-fix, translation/no-need, size/XS, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6, needs-cherry-pick-release-8.0, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.2

#18098 Various punctuation fixes
  br/use-br-command-line-tool.md
  clinic/clinic-user-guide-for-tiup.md
  develop/dev-guide-proxysql-integration.md
  enable-tls-between-components.md
  explain-overview.md
  functions-and-operators/group-by-modifier.md
  get-started-with-tidb-lightning.md
  migrate-from-tidb-to-mysql.md
  mysql-compatibility.md
  overview.md
  releases/release-2.0.1.md
  releases/release-2.1-rc.2.md
  releases/release-2.1-rc.4.md
  releases/release-2.1.16.md
  releases/release-2.1.17.md
  releases/release-2.1.18.md
  releases/release-2.1.19.md
  releases/release-2.1.4.md
  releases/release-3.0-beta.md
  releases/release-3.0-ga.md
  releases/release-3.0.0-beta.1.md
  releases/release-3.0.0-rc.1.md
  releases/release-3.0.1.md
  releases/release-3.0.2.md
  releases/release-3.0.3.md
  releases/release-3.0.4.md
  releases/release-3.0.6.md
  releases/release-3.0.7.md
  releases/release-3.0.8.md
  releases/release-3.0.9.md
  releases/release-3.1.0-beta.2.md
  releases/release-3.1.2.md
  releases/release-6.3.0.md
  releases/release-rc.2.md
  resources/doc-templates/template-concept.md
  schedule-replicas-by-topology-labels.md
  sql-statements/sql-statement-lock-tables-and-unlock-tables.md
  system-variables.md
  tidb-cloud/integrate-tidbcloud-with-dbt.md
  tidb-cloud/integrate-tidbcloud-with-netlify.md
  tidb-cloud/integrate-tidbcloud-with-zapier.md
  tidb-cloud/secure-connections-to-serverless-clusters.md
  tidb-cloud/tidb-cloud-release-notes.md
  tidb-cloud/tidb-cloud-tls-connect-to-dedicated.md
Labels: translation/no-need, size/L, area/develop, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.2

#17952 tiup: add a ref to limitation on users operation during upgrade using tiup
  upgrade-tidb-using-tiup.md
Labels: type/enhancement, translation/from-docs-cn, size/XS, area/tiup, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.2

#17982 br: link to BR monitoring and alert
  br/br-pitr-guide.md
Labels: translation/from-docs-cn, size/XS, ONCALL, area/br, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.2

#18084 Update Builtins output
  sql-statements/sql-statement-show-builtins.md
Labels: type/enhancement, translation/done, size/S, needs-1-more-lgtm, approved, lgtm

#17617 Update EBNF for admin statements and add checksum details
  sql-statements/sql-statement-admin-cancel-ddl.md
  sql-statements/sql-statement-admin-check-table-index.md
  sql-statements/sql-statement-admin-checksum-table.md
  sql-statements/sql-statement-admin-pause-ddl.md
  sql-statements/sql-statement-admin-recover.md
  sql-statements/sql-statement-admin-resume-ddl.md
  sql-statements/sql-statement-admin-show-ddl.md
  sql-statements/sql-statement-admin.md
  sql-statements/sql-statement-import-into.md
Labels: translation/done, size/L, area/sql-infra, approved, lgtm, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.2

#18151 cloud: add release notes 20240709
  tidb-cloud/tidb-cloud-faq.md
  tidb-cloud/tidb-cloud-release-notes.md
Labels: translation/no-need, size/S, area/tidb-cloud, for-cloud-release, needs-1-more-lgtm, approved, lgtm

#18149 Update vpc peering doc 20240706
  media/tidb-cloud/VPC-Peering3.png
  tidb-cloud/set-up-vpc-peering-connections.md
Labels: translation/no-need, size/S, area/tidb-cloud, for-cloud-release, approved, lgtm

#18158 cloud: Update tidb-cloud-intro.md
  tidb-cloud/tidb-cloud-intro.md
Labels: translation/no-need, size/XS, area/tidb-cloud, needs-1-more-lgtm, approved, lgtm

#18152 fix the solution 8025 error
  tidb-lightning/troubleshoot-tidb-lightning.md
Labels: translation/from-docs-cn, contribution, size/XS, approved, lgtm, needs-ok-to-test

#17758 Extend JSON function docs
  TOC-tidb-cloud.md
  TOC.md
  data-type-default-values.md
  data-type-json.md
  functions-and-operators/aggregate-group-by-functions.md
  functions-and-operators/json-functions.md
  functions-and-operators/json-functions/json-functions-aggregate.md
  functions-and-operators/json-functions/json-functions-create.md
  functions-and-operators/json-functions/json-functions-modify.md
  functions-and-operators/json-functions/json-functions-return.md
  functions-and-operators/json-functions/json-functions-search.md
  functions-and-operators/json-functions/json-functions-utility.md
  functions-and-operators/json-functions/json-functions-validate.md
Labels: requires-version-specific-changes, translation/done, size/XXL, approved, lgtm, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.2

#18167 statistics.md: fix a typo for analyze
  statistics.md
Labels: translation/no-need, size/XS, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.2

#18172 cloud: fix ModuleNotFoundError and typos in vector search
  TOC-tidb-cloud.md
  media/vector-search/embedding-search.png
  tidb-cloud/vector-search-integrate-with-django-orm.md
  tidb-cloud/vector-search-integrate-with-jinaai-embedding.md
  tidb-cloud/vector-search-integrate-with-peewee.md
  tidb-cloud/vector-search-integrate-with-sqlalchemy.md
Labels: type/bug-fix, translation/no-need, size/S, area/tidb-cloud, needs-1-more-lgtm, approved, lgtm

#18174 *:fix a typo in toc
  TOC-tidb-cloud.md
  TOC.md
Labels: translation/from-docs-cn, needs-cherry-pick-release-5.1, needs-cherry-pick-release-5.2, needs-cherry-pick-release-5.3, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6, needs-cherry-pick-release-8.0, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.2

#17907 add v8.2.0 release notes
  TOC.md
  releases/release-8.2.0.md
  releases/release-notes.md
  releases/release-timeline.md
Labels: translation/from-docs-cn, size/XL, approved, lgtm, v8.2, needs-cherry-pick-release-8.2

#18171 ticdc: adjust pulsar sink doc
  ticdc/ticdc-sink-to-pulsar.md
Labels: translation/from-docs-cn, first-time-contributor, size/XS, area/ticdc, for-release, approved, lgtm, v8.2, needs-cherry-pick-release-8.2

#18089 v8.2: bump the latest TiDB version to v8.2
  br/backup-and-restore-use-cases.md
  develop/dev-guide-sample-application-nodejs-mysql2.md
  develop/dev-guide-sample-application-nodejs-mysqljs.md
  develop/dev-guide-sample-application-nodejs-typeorm.md
  develop/dev-guide-sample-application-ruby-mysql2.md
  develop/dev-guide-sample-application-ruby-rails.md
  dm/maintain-dm-using-tiup.md
  dm/quick-start-create-task.md
  download-ecosystem-tools.md
  information-schema/information-schema-tidb-servers-info.md
  pd-control.md
  performance-schema/performance-schema-session-connect-attrs.md
  post-installation-check.md
  production-deployment-using-tiup.md
  quick-start-with-tidb.md
  scale-tidb-using-tiup.md
  system-variables.md
  ticdc/deploy-ticdc.md
  ticdc/ticdc-changefeed-config.md
  ticdc/ticdc-changefeed-overview.md
  ticdc/ticdc-manage-changefeed.md
  ticdc/ticdc-open-api-v2.md
  ticdc/ticdc-sink-to-cloud-storage.md
  ticdc/ticdc-sink-to-pulsar.md
  tidb-binlog/get-started-with-tidb-binlog.md
  tidb-monitoring-api.md
  tiflash/create-tiflash-replicas.md
  tiup/tiup-cluster.md
  tiup/tiup-component-cluster-deploy.md
  tiup/tiup-component-cluster-patch.md
  tiup/tiup-component-cluster-upgrade.md
  tiup/tiup-component-dm-upgrade.md
  tiup/tiup-component-management.md
  tiup/tiup-mirror.md
  tiup/tiup-playground.md
  upgrade-monitoring-services.md
  upgrade-tidb-using-tiup.md
Labels: translation/from-docs-cn, size/L, area/develop, for-release, needs-1-more-lgtm, approved, lgtm, v8.2, needs-cherry-pick-release-8.2

#18193 sql: fix a synopsis error
  sql-statements/sql-statement-analyze-table.md
Labels: translation/done, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6, needs-cherry-pick-release-8.0, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.2

#18200 v8.2: fix the description for issue #53871
  releases/release-7.5.2.md
  releases/release-8.2.0.md
Labels: requires-version-specific-changes, translation/no-need, size/S, approved, lgtm, needs-cherry-pick-release-8.2

#18201 Update release-8.2.0.md
  releases/release-8.2.0.md
Labels: translation/done, contribution, size/XS, needs-1-more-lgtm, approved, lgtm, needs-ok-to-test, needs-cherry-pick-release-8.2

#18194 expressions-pushed-down: Update JSON links
  functions-and-operators/expressions-pushed-down.md
Labels: translation/done, size/S, approved, lgtm

#18148 add tidb-cloud limited-sql for plan replayer
  tidb-cloud/limited-sql-features.md
Labels: translation/no-need, first-time-contributor, size/XS, area/tidb-cloud, for-cloud-release, needs-1-more-lgtm, approved, lgtm

#18173 update auto-random.md
  auto-random.md
Labels: translation/from-docs-cn, size/S, area/sql-infra, ONCALL, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6, needs-cherry-pick-release-8.0, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.2

#18223 Update production-deployment-using-tiup.md
  production-deployment-using-tiup.md
Labels: translation/from-docs-cn, size/XS, needs-1-more-lgtm, approved, lgtm, ok-to-test, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.2

#18221 best-practice: support extra strategy for fine-tuning the performance in massive regions
  best-practices/massive-regions-best-practices.md
  media/best-practices/commit-log-duration.png
  tikv-configuration-file.md
Labels: translation/from-docs-cn, size/S, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-ok-to-test, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.2

#18233 clinic: extend free expiration
  clinic/clinic-introduction.md
Labels: type/enhancement, translation/from-docs-cn, size/XS, area/clinic, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-7.6, needs-cherry-pick-release-8.0, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.2

#18205 tidb cloud: add steps about viewing and revoking authorized OAuth apps
  tidb-cloud/oauth2.md
Labels: size/S, area/tidb-cloud, needs-1-more-lgtm, approved, lgtm

#18159 optimizer-hints: fix a section level
  optimizer-hints.md
Labels: translation/no-need, size/XS, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5

#18245 Update pull_request_template.md
  .github/pull_request_template.md
Labels: translation/done, size/XS, needs-1-more-lgtm, approved, lgtm

#18248 Update tidb-lightning-configuration.md
  tidb-lightning/tidb-lightning-configuration.md
Labels: translation/from-docs-cn, approved, lgtm, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.2

#18252 review use-chat2query-api.md
  tidb-cloud/use-chat2query-api.md
Labels: translation/no-need, area/tidb-cloud, needs-1-more-lgtm, approved, lgtm

#18153 admin show ddl: Fix EBNF
  sql-statements/sql-statement-admin-show-ddl.md
Labels: type/bug-fix, translation/done, size/XS, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.2

#15965 fix a typo for "scope"
  system-variables.md
Labels: translation/no-need, size/XS, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5

#15552 update the MySQL version to 8.0 for `server-version`
  develop/dev-guide-sample-application-nodejs-prisma.md
Labels: translation/doing, size/XS, area/develop, approved, lgtm, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.2

#18243 string-functions: Use MySQL 8.0 url instead of 8.3
  functions-and-operators/string-functions.md
Labels: translation/done, size/XS, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.6, needs-cherry-pick-release-8.0, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.2

#17714 Update encryption and compression functions
  functions-and-operators/encryption-and-compression-functions.md
  functions-and-operators/expressions-pushed-down.md
  password-management.md
  system-variables.md
Labels: type/enhancement, translation/done, size/XL, approved, lgtm, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.2

#18268 update tidb-distributed-execution-framework.md
  tidb-distributed-execution-framework.md
Labels: translation/from-docs-cn, size/XS, area/sql-infra, approved, lgtm, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.2

#18251 Update tispark-overview.md version matrix
  tispark-overview.md
Labels: type/enhancement, translation/from-docs-cn, size/S, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.2

#18282 cloud (Data Service): add TOC-tidb-cloud.md and refine wording
  TOC-tidb-cloud.md
  tidb-cloud/data-service-integrations.md
  tidb-cloud/data-service-manage-endpoint.md
Labels: translation/no-need, size/M

#17694 Update window function docs
  functions-and-operators/expressions-pushed-down.md
  functions-and-operators/window-functions.md
  keywords.md
  system-variables.md
Labels: translation/done, size/XL, approved, lgtm, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.2

#18288 Add missing release note for issue tidb#53540
  releases/release-8.2.0.md
Labels: translation/from-docs-cn, size/XS, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-8.2

#18295 add aliases for migrate-full-data-from-mysql
  migration-overview.md
Labels: translation/from-docs-cn, size/XS, ONCALL, needs-1-more-lgtm, approved, lgtm

#18296 remove tidb_enable_async_merge_global_stats from v6.5.10 release notes
  releases/release-6.5.10.md
Labels: type/bug-fix, translation/from-docs-cn, size/XS, ONCALL, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.0, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.2

#18192 stats, sql: fix format and update wording
  extended-statistics.md
  sql-statements/sql-statement-show-stats-histograms.md
  statistics.md
Labels: translation/no-need, size/L, approved, lgtm, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.2

#18305 fix incorrect column name in Index Join
  explain-joins.md
Labels: type/bug-fix, translation/from-docs-cn, size/XS, ONCALL, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.2

#18311 release (contributors): fix a broken GitHub link
  releases/release-7.4.0.md
Labels: type/bug-fix, translation/from-docs-cn, size/XS, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.2

#18319 dm: fix SQL statement syntax
  dm/dm-worker-intro.md
Labels: type/bug-fix, translation/from-docs-cn, size/XS, ONCALL, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.0, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.2

#18328 Improve step description for installing tools using TiUP
  migration-tools.md
Labels: translation/done, size/M, ONCALL, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.2

#18274 add intro of domain knowledge api
  TOC-tidb-cloud.md
  tidb-cloud/use-chat2query-api.md
  tidb-cloud/use-chat2query-knowledge.md
  tidb-cloud/use-chat2query-sessions.md
Labels: contribution, translation/no-need, first-time-contributor, size/XL, area/tidb-cloud, needs-1-more-lgtm, approved, lgtm, needs-ok-to-test

#17611 Document pre/post upgrade and reload scripts
  tiup/tiup-component-cluster-reload.md
  tiup/tiup-component-cluster-upgrade.md
Labels: translation/done, size/M, area/tiup, approved, lgtm, needs-cherry-pick-release-8.0, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.2

#18272 bump up the prometheus and grafana versions
  deploy-monitoring-services.md
  releases/release-8.0.0.md
  upgrade-tidb-using-tiup.md
Labels: translation/from-docs-cn, size/M, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-8.0, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.2

#18335 doc: add more details to grpc-compression configs
  tidb-configuration-file.md
  tikv-configuration-file.md
Labels: translation/from-docs-cn, size/XS, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-8.2

#18273 add vector search operation and update integrations
  TOC-tidb-cloud.md
  media/tidb-cloud/data-service/GPTs1.png
  tidb-cloud/data-service-integrations.md
  tidb-cloud/data-service-manage-data-app.md
  tidb-cloud/data-service-manage-endpoint.md
Labels: translation/no-need, first-time-contributor, size/M, area/tidb-cloud, for-cloud-release, approved, lgtm

#18315 cloud: add a doc for the budget feature
  TOC-tidb-cloud.md
  tidb-cloud/tidb-cloud-budget.md
Labels: translation/no-need, size/L, area/tidb-cloud, for-cloud-release, needs-1-more-lgtm, approved, lgtm

#18333 cloud: add release note for 20240723
  tidb-cloud/tidb-cloud-release-notes.md
Labels: translation/no-need, size/S, area/tidb-cloud, for-cloud-release, approved, lgtm

#18271 Document that txn-total-size-limit won't affect pipelined dml
  system-variables.md
Labels: translation/from-docs-cn, size/XS, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-8.0, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.2

#17693 Update TIDB specific function docs
  as-of-timestamp.md
  functions-and-operators/tidb-functions.md
  identify-slow-queries.md
  statement-summary-tables.md
  system-variables.md
Labels: translation/done, size/XL, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.2

#18283 Add more links and corrections to user account management
  privilege-management.md
  sql-statements/sql-statement-alter-user.md
  user-account-management.md
Labels: type/enhancement, translation/done, size/L, approved, lgtm

#17518 Add document to help user find out expensive queries.
  tidb-cloud/serverless-faqs.md
Labels: translation/no-need, size/XS, area/tidb-cloud, needs-1-more-lgtm, approved, lgtm

#18267 update sql-statement-overview
  basic-sql-operations.md
  sql-statements/sql-statement-overview.md
Labels: translation/no-need, size/XS, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.2

#18353 partitioned-table: create strictly increasing range columns partition
  partitioned-table.md
Labels: translation/from-docs-cn, size/S, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.1

#18332 Improve upgrade limitations
  smooth-upgrade-tidb.md
  upgrade-tidb-using-tiup.md
Labels: translation/from-docs-cn, size/S, ONCALL, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.0, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.2

#18354 tiflash: refine TiFlash configuration parameters
  tiflash/tiflash-configuration.md
Labels: translation/from-docs-cn, size/M, ONCALL, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-8.1

#18368 sync-diff-inspector: add UPCOUNT and DOWNCOUNT
  sync-diff-inspector/sync-diff-inspector-overview.md
Labels: translation/from-docs-cn, size/XS, needs-cherry-pick-release-5.3, ONCALL, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.0, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.2

#18379 cloud: update serverless upgrade note
  tidb-cloud/tidb-cloud-faq.md
  tidb-cloud/tidb-cloud-release-notes.md
Labels: translation/no-need, size/XS, area/tidb-cloud, needs-1-more-lgtm, approved, lgtm

#18382 ticdc-faq: fix typo for commitTS
  ticdc/ticdc-faq.md
Labels: translation/from-docs-cn, size/XS, ONCALL, area/ticdc, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.0, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.2

#18381 cloud: support editing budget scope
  tidb-cloud/tidb-cloud-budget.md
Labels: translation/no-need, size/XS, area/tidb-cloud, needs-1-more-lgtm, approved, lgtm

#18286 cdc: remove maxwell protocol, add simple protocol
  releases/release-4.0.10.md
  releases/release-4.0.6.md
  releases/release-4.0.8.md
  releases/release-5.0.6.md
  releases/release-5.1.4.md
  releases/release-5.2.4.md
  releases/release-5.3.1.md
  ticdc/ticdc-open-api-v2.md
  ticdc/ticdc-open-api.md
  ticdc/ticdc-sink-to-kafka.md
Labels: requires-version-specific-changes, translation/from-docs-cn, size/S, ONCALL, area/ticdc, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.0, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.2

#18390 ticdc: move the mysql downstream user permission info to the mysql sink doc
  ticdc/ticdc-faq.md
  ticdc/ticdc-sink-to-mysql.md
Labels: type/enhancement, translation/from-docs-cn, size/M, ONCALL, area/ticdc, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.2

#18404 fix the recommended range for region-split-size
  tune-region-performance.md
Labels: translation/from-docs-cn, size/XS, ONCALL, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.0, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.2

#18407 tidb: Remove description about "Control+C" for `compactible-kill-query`
  tidb-configuration-file.md
Labels: translation/from-docs-cn, size/XS, ONCALL, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.0, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.2

#18318 tidb: add explanation for the fields in `mysql.user`
  TOC-tidb-cloud.md
  TOC.md
  faq/manage-cluster-faq.md
  mysql-schema/mysql-schema-user.md
  mysql-schema/mysql-schema.md
  privilege-management.md
  releases/release-7.6.0.md
  statistics.md
  tidb-resource-control.md
  user-account-management.md
Labels: type/enhancement, translation/done, size/L, approved, lgtm, needs-cherry-pick-release-8.1

#18419 fix: remove backticks from front matter
  mysql-schema/mysql-schema-user.md
Labels: type/bug-fix, translation/done, size/XS, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-8.1

#18420 add serverless ttl job interval desc
  tidb-cloud/serverless-limitations.md
  time-to-live.md
Labels: translation/no-need, first-time-contributor, size/S, area/tidb-cloud, approved, lgtm

#18349 TiDB functions: update command output
  functions-and-operators/tidb-functions.md
Labels: type/bug-fix, translation/from-docs-cn, size/M, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.2

#18422 Update tiproxy-overview.md to fix the link to TiProxy issue
  tiproxy/tiproxy-overview.md
Labels: type/bug-fix, translation/no-need, size/XS, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-8.0, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.2

#18401 doc: add session_alias to information_schema.processlist and expensive queries
  identify-expensive-queries.md
  information-schema/information-schema-processlist.md
  releases/release-8.2.0.md
Labels: translation/from-docs-cn, size/S, needs-1-more-lgtm, approved, lgtm

#18253 Functions: Add examples for bit functions and operators
  functions-and-operators/bit-functions-and-operators.md
  tso.md
Labels: type/enhancement, translation/done, size/XL, approved, lgtm, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.2
