Repository pingcap/docs, pull requests merged in 2025-09, with the labels that each got.

#21693 cloud: minor wording updates in the maintenance window doc
  tidb-cloud/configure-maintenance-window.md
Labels: translation/no-need, size/XS, area/tidb-cloud, approved, lgtm

#21694 i18n-zh-release-8.5: sync variables.json
  variables.json
Labels: translation/no-need, size/XS, approved, lgtm

#21671 cloud: change `tidbcloud` to `tidb_cloud` in the names of metrics available to New Relic
  tidb-cloud/monitor-new-relic-integration.md
Labels: contribution, translation/no-need, first-time-contributor, size/M, needs-1-more-lgtm, approved, lgtm, needs-ok-to-test

#21699 cloud: 20250902 cloud release notes
  tidb-cloud/tidb-cloud-release-notes.md
Labels: translation/no-need, size/XS, area/tidb-cloud, needs-1-more-lgtm, approved, lgtm

#21711 troubleshooting: remove outdated `max-txn-time-use`
  tidb-troubleshooting-map.md
Labels: translation/from-docs-cn, size/S, ONCALL, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.5

#21551 v7.5.7: change the default value of tidb_enable_historical_stats
  system-variables.md
Labels: translation/from-docs-cn, size/XS, type/compatibility-or-feature-change, needs-1-more-lgtm, approved, lgtm

#21656 tikv: update auto compaction config
  dynamic-config.md
  garbage-collection-configuration.md
  tikv-configuration-file.md
Labels: translation/from-docs-cn, size/L, type/compatibility-or-feature-change, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.5, v9.0-beta.2

#21729 cloud: Explain background queries with more details
  tidb-cloud/serverless-faqs.md
Labels: type/enhancement, translation/no-need, size/XS, area/tidb-cloud, approved, lgtm

#21701 bump TiDB from v7.5.6 to v7.5.7
  upgrade-tidb-using-tiup.md
  variables.json
Labels: translation/from-docs-cn, size/XS, needs-1-more-lgtm, approved, lgtm

#21736 cloud: add the support of three new Alibaba Cloud regions for Essential to release notes
  tidb-cloud/tidb-cloud-release-notes.md
Labels: translation/no-need, size/S, area/tidb-cloud, for-cloud-release, needs-1-more-lgtm, approved, lgtm

#21740 cloud: fix the link to auto embedding docs in release notes
  tidb-cloud/tidb-cloud-release-notes.md
Labels: translation/no-need, size/XS, area/develop, area/tidb-cloud, approved, lgtm

#20522 ticdc: Remove unnecessary quotation marks from curl command
  ticdc/ticdc-open-api-v2.md
Labels: translation/done, size/XS, area/ticdc, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.5

#21790 Premium V1 change
  TOC-tidb-cloud-premium.md
Labels: translation/no-need, size/M, for-cloud-release, needs-1-more-lgtm

#21791 cloud: add import snapshot files.md to toc
  TOC-tidb-cloud-essential.md
  TOC-tidb-cloud-starter.md
  TOC-tidb-cloud.md
  tidb-cloud/import-snapshot-files-serverless.md
  tidb-cloud/import-snapshot-files.md
Labels: translation/no-need, size/S, area/develop, needs-1-more-lgtm, approved, lgtm

#21780 Update TiProxy version to v1.3.2
  config-templates/simple-tiproxy.yaml
  tiproxy/tiproxy-overview.md
Labels: translation/done, needs-cherry-pick-master, size/XS, needs-1-more-lgtm, approved, lgtm

#21803 fix: add missing fix for TSO service availability issue when `tidb_enable_tso_follower_proxy` is enable
  releases/release-8.5.2.md
Labels: translation/from-docs-cn, needs-cherry-pick-master, size/XS, approved, lgtm

#21769 DM MariaDB and FK compatibility clarification
  dm/dm-compatibility-catalog.md
Labels: type/enhancement, translation/done, size/M, approved, lgtm, needs-cherry-pick-release-8.5

#21782 scripts: skip processing lines in the allowlist section in merge_by_t…
  scripts/merge_by_toc.py
Labels: translation/no-need, size/XS, approved, lgtm

#21785 chore: add new section for managing database users and roles in TiDB Cloud d…
  TOC-tidb-cloud.md
Labels: translation/no-need, size/XS

#21784 chore: add new section for managing database users and roles in TiDB Cloud d…
  TOC-tidb-cloud.md
Labels: translation/no-need, size/XS, area/tidb-cloud, needs-1-more-lgtm

#21470 Update follower read and learner read descriptions
  follower-read.md
Labels: translation/from-docs-cn, size/S, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.5

#21826 fix: quote YAML frontmatter values to resolve Vale parsing error
  tidb-cloud/serverless-faqs.md
Labels: translation/no-need, size/XS, area/tidb-cloud, needs-1-more-lgtm, approved, lgtm

#21819 Update system-variables tidb_ddl_reorg_batch_size and tidb_ddl_reorg_…
  system-variables.md
Labels: translation/from-docs-cn, contribution, size/XS, approved, lgtm, needs-cherry-pick-release-8.5

#21831 ticdc: fix the name of the changefeed config file
  ticdc/ticdc-faq.md
Labels: translation/from-docs-cn, area/ticdc, approved, lgtm, needs-cherry-pick-release-8.5

#21827 add integration migration guide
  TOC-tidb-cloud.md
  tidb-cloud/migrate-metrics-integrations.md
Labels: contribution, translation/no-need, first-time-contributor, size/M, area/tidb-cloud, needs-1-more-lgtm, approved, lgtm, needs-ok-to-test

#21839 Update monitor-new-relic-integration.md
  tidb-cloud/monitor-new-relic-integration.md
Labels: contribution, translation/no-need, first-time-contributor, size/S, area/tidb-cloud, for-cloud-release, needs-1-more-lgtm, approved, lgtm, needs-ok-to-test

#21841 cloud: add release notes 20250930
  tidb-cloud/tidb-cloud-release-notes.md
Labels: contribution, translation/no-need, size/S, area/develop, needs-1-more-lgtm, approved, lgtm

#21815 statements: add privilege details
  information-schema/information-schema-processlist.md
  sql-statements/sql-statement-create-binding.md
  sql-statements/sql-statement-show-processlist.md
Labels: type/enhancement, translation/done, size/S, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.5
