Repository pingcap/docs, pull requests merged in 2025-03, with the labels that each got.

#20411 update "DB2" to "Db2"
  faq/migration-tidb-faq.md
  optimizer-fix-controls.md
  releases/release-8.4.0.md
Labels: translation/done, size/XS, ONCALL, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-8.5

#20413 refine admin related docs
  sql-statements/sql-statement-admin-pause-ddl.md
  sql-statements/sql-statement-admin-resume-ddl.md
  sql-statements/sql-statement-admin-show-ddl.md
Labels: type/enhancement, translation/from-docs-cn, size/XS, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-8.5

#20407 Add a TiUP note to production deployment
  production-deployment-using-tiup.md
Labels: translation/from-docs-cn, size/XS, ONCALL, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.5

#20415 update media resource links to point to new locations
  tidb-cloud/branch-github-integration.md
  tidb-cloud/migrate-from-mysql-using-data-migration.md
  tidb-monitoring-api.md
  tiproxy/tiproxy-load-balance.md
  tiproxy/tiproxy-overview.md
  tiproxy/tiproxy-traffic-replay.md
Labels: translation/from-docs-cn, size/S, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.3, needs-cherry-pick-release-8.5, needs-cherry-pick-release-8.4

#20417 ja (v8.1): update media resource links to point to new locations
  tidb-cloud/branch-github-integration.md
  tidb-cloud/migrate-from-mysql-using-data-migration.md
  tidb-monitoring-api.md
  tiproxy/tiproxy-overview.md
Labels: translation/no-need, size/S

#20416 i18n(v8.5): update media resource links to point to new locations
  tidb-cloud/branch-github-integration.md
  tidb-cloud/migrate-from-mysql-using-data-migration.md
  tidb-monitoring-api.md
  tiproxy/tiproxy-load-balance.md
  tiproxy/tiproxy-overview.md
  tiproxy/tiproxy-traffic-replay.md
Labels: translation/no-need, size/S

#20410 migration-tools: update the descriptions for Dumpling
  migration-tools.md
Labels: type/enhancement, translation/done, size/XS, approved, lgtm, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.5

#20409 mysql-schema: add information about several missing system tables
  mysql-schema/mysql-schema.md
Labels: translation/from-docs-cn, size/XS, ONCALL, approved, lgtm

#20370 cloud: update a few steps for connection and migration
  .lycheeignore
  tidb-cloud/import-with-mysql-cli-serverless.md
  tidb-cloud/import-with-mysql-cli.md
  tidb-cloud/migrate-from-mysql-using-data-migration.md
Labels: type/enhancement, translation/no-need, size/M, area/tidb-cloud, approved, lgtm

#20432 cloud: remove the beta info for IM via Lark
  TOC-tidb-cloud.md
  tidb-cloud/connected-ai-chat-in-im.md
  tidb-cloud/connected-lark-ticket-creation.md
  tidb-cloud/connected-lark-ticket-interaction.md
  tidb-cloud/connected-slack-ticket-creation.md
  tidb-cloud/connected-slack-ticket-interaction.md
Labels: translation/no-need, size/S, area/tidb-cloud, approved, lgtm

#20440 add the memory requirements for TiKV IME
  tikv-configuration-file.md
  tikv-in-memory-engine.md
Labels: type/enhancement, translation/from-docs-cn, size/XS, area/engine, ONCALL, approved, lgtm, needs-cherry-pick-release-8.5

#20443 br: add more info about the br log structure
  br/br-log-architecture.md
Labels: translation/from-docs-cn, size/M, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.5

#20281 hardware-and-software-requirements: Update for EOLs
  hardware-and-software-requirements.md
Labels: translation/done, size/S, approved, lgtm

#20464 Refresh the state of Encryption at Rest in serverless limitations
  tidb-cloud/serverless-limitations.md
Labels: translation/no-need, size/XS, area/tidb-cloud, approved, lgtm

#20468 sql-statements: expand DefaultValueExpr defination
  sql-statements/sql-statement-create-table.md
Labels: translation/done, size/M, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.5

#20454 system-variables: remove the default value descriptions for last_xxx variables
  system-variables.md
Labels: type/enhancement, translation/from-docs-cn, size/XS, ONCALL, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-8.5

#20460 statistics.md: correct the default value of stats-load-concurrency
  statistics.md
Labels: translation/from-docs-cn, size/XS, area/planner, ONCALL, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-8.3, needs-cherry-pick-release-8.5, needs-cherry-pick-release-8.4

#20472 v6.5.0 release notes: add descriptions about tidb_store_batch_size
  releases/release-6.5.0.md
Labels: translation/from-docs-cn, size/XS, ONCALL, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.3, needs-cherry-pick-release-8.5, needs-cherry-pick-release-8.4

#20466 v6.1: add aliases for stale benchmark docs
  benchmark/benchmark-sysbench-v6.0.0-vs-v5.4.0.md
  benchmark/benchmark-sysbench-v6.1.0-vs-v6.0.0.md
  benchmark/v6.0-performance-benchmarking-with-tpcc.md
  benchmark/v6.0-performance-benchmarking-with-tpch.md
  benchmark/v6.1-performance-benchmarking-with-tpcc.md
  benchmark/v6.1-performance-benchmarking-with-tpch.md
Labels: translation/done, size/XS, needs-1-more-lgtm, approved, lgtm

#20465 v5.4: add aliases for stale benchmark docs
  benchmark/benchmark-sysbench-v2.md
  benchmark/benchmark-sysbench-v3.md
  benchmark/benchmark-sysbench-v4-vs-v3.md
  benchmark/benchmark-sysbench-v5-vs-v4.md
  benchmark/benchmark-sysbench-v5.1.0-vs-v5.0.2.md
  benchmark/benchmark-sysbench-v5.2.0-vs-v5.1.1.md
  benchmark/benchmark-sysbench-v5.3.0-vs-v5.2.2.md
  benchmark/benchmark-sysbench-v5.4.0-vs-v5.3.0.md
  benchmark/benchmark-tpch.md
  benchmark/v3.0-performance-benchmarking-with-sysbench.md
  benchmark/v3.0-performance-benchmarking-with-tpcc.md
  benchmark/v4.0-performance-benchmarking-with-tpcc.md
  benchmark/v4.0-performance-benchmarking-with-tpch.md
  benchmark/v5.0-performance-benchmarking-with-tpcc.md
  benchmark/v5.1-performance-benchmarking-with-tpcc.md
  benchmark/v5.2-performance-benchmarking-with-tpcc.md
  benchmark/v5.3-performance-benchmarking-with-tpcc.md
  benchmark/v5.4-performance-benchmarking-with-tpcc.md
  benchmark/v5.4-performance-benchmarking-with-tpch.md
Labels: translation/done, size/S, needs-1-more-lgtm, approved, lgtm

#20467 v6.5: add aliases for stale benchmark docs
  benchmark/benchmark-sysbench-v6.2.0-vs-v6.1.0.md
  benchmark/v6.2-performance-benchmarking-with-tpcc.md
  benchmark/v6.2-performance-benchmarking-with-tpch.md
Labels: translation/done, size/XS, needs-1-more-lgtm, approved, lgtm

#20437 tiup: Update/fix no sudo mode docs
  tiup/tiup-cluster-no-sudo-mode.md
Labels: translation/done, size/L, area/tiup, approved, lgtm, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.5

#20486 add openEuler 22.03 LTS SP3/SP4
  hardware-and-software-requirements.md
Labels: translation/from-docs-cn, size/XS, needs-1-more-lgtm, approved, lgtm

#20503 cloud: use sections instead of tabs for S3 configuration instructions
  tidb-cloud/config-s3-and-gcs-access.md
  tidb-cloud/serverless-external-storage.md
Labels: type/enhancement, translation/no-need, size/M, area/tidb-cloud, needs-1-more-lgtm, approved, lgtm

#20438 br: fix description about case-sensitive and insensitive
  br/backup-and-restore-overview.md
Labels: translation/done, size/S, ONCALL, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.3, needs-cherry-pick-release-8.5, needs-cherry-pick-release-8.4

#19108 A Practical Guide For SQL Tuning
  TOC.md
  media/sql-tuning/cost-based-optimization.png
  media/sql-tuning/execution-plan-traverse.png
  media/sql-tuning/slow-query-default.png
  media/sql-tuning/slow-query-dimension.png
  media/sql-tuning/sql-statement-dimension.png
  media/sql-tuning/sql-statements-default.png
  media/sql-tuning/workflow-tiflash.png
  media/sql-tuning/workflow.png
  sql-tuning-best-practice.md
Labels: translation/doing, contribution, size/XXL, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.5, ok-to-test, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.3, needs-cherry-pick-release-8.5, needs-cherry-pick-release-8.4

#20431 tidb-lightning: update wording about parallel import
  tidb-lightning/tidb-lightning-distributed-import.md
  tidb-lightning/tidb-lightning-physical-import-mode.md
Labels: translation/done, size/XS, ONCALL, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.5

#20342 br: add compact log backup
  TOC.md
  br/br-compact-log-backup.md
Labels: translation/from-docs-cn, size/M, type/compatibility-or-feature-change, needs-1-more-lgtm, approved, lgtm, v9.0

#20501 cloud: clarify the retention policy for manual backups
  tidb-cloud/backup-and-restore.md
Labels: translation/no-need, size/XS, ONCALL, area/tidb-cloud, needs-1-more-lgtm, approved, lgtm

#20494 feat: serverless ip firewall for public endpoint
  TOC-tidb-cloud.md
  tidb-cloud/configure-ip-access-list.md
  tidb-cloud/configure-serverless-firewall-rules-for-public-endpoints.md
  tidb-cloud/connect-via-standard-connection-serverless.md
Labels: translation/no-need, size/M, area/tidb-cloud, for-cloud-release, approved, lgtm, needs-cherry-pick-tidb-cloud

#20463 add release notes 7.5.6
  TOC.md
  releases/release-7.5.6.md
  releases/release-notes.md
  releases/release-timeline.md
Labels: translation/from-docs-cn, size/L, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.3, needs-cherry-pick-release-8.5, needs-cherry-pick-release-8.4

#20491 bump tidb to 7.5.6
  br/backup-and-restore-use-cases.md
  develop/dev-guide-sample-application-nodejs-mysql2.md
  develop/dev-guide-sample-application-nodejs-mysqljs.md
  develop/dev-guide-sample-application-nodejs-typeorm.md
  develop/dev-guide-sample-application-ruby-mysql2.md
  develop/dev-guide-sample-application-ruby-rails.md
  dm/maintain-dm-using-tiup.md
  dm/quick-start-create-task.md
  dm/quick-start-with-dm.md
  external-storage-uri.md
  information-schema/information-schema-tidb-servers-info.md
  pd-control.md
  post-installation-check.md
  production-deployment-using-tiup.md
  quick-start-with-tidb.md
  scale-tidb-using-tiup.md
  system-variables.md
  ticdc/deploy-ticdc.md
  ticdc/ticdc-changefeed-config.md
  ticdc/ticdc-changefeed-overview.md
  ticdc/ticdc-manage-changefeed.md
  ticdc/ticdc-open-api-v2.md
  ticdc/ticdc-sink-to-cloud-storage.md
  ticdc/ticdc-sink-to-pulsar.md
  tidb-binlog/get-started-with-tidb-binlog.md
  tidb-monitoring-api.md
  tiflash/create-tiflash-replicas.md
  tiup/tiup-cluster.md
  tiup/tiup-component-cluster-deploy.md
  tiup/tiup-component-cluster-patch.md
  tiup/tiup-component-cluster-upgrade.md
  tiup/tiup-component-dm-upgrade.md
  tiup/tiup-component-management.md
  tiup/tiup-mirror.md
  tiup/tiup-playground.md
  upgrade-monitoring-services.md
  upgrade-tidb-using-tiup.md
Labels: translation/from-docs-cn, size/L, area/develop, needs-1-more-lgtm, approved, lgtm

#20533 Add a section to change isolation level in transaction-isolation-levels.md
  transaction-isolation-levels.md
Labels: translation/from-docs-cn, size/S, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.5

#20536 tidb_enable_window_function can control the keyword list
  keywords.md
Labels: translation/from-docs-cn, size/XS, approved, lgtm, needs-cherry-pick-release-8.5

#20527 sys var: clarify the description of tidb_ddl_reorg_max_write_speed
  system-variables.md
Labels: translation/from-docs-cn, size/S, needs-cherry-pick-release-6.5, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.5

#20493 br: improve visualization of BR
  br/backup-and-restore-use-cases.md
  br/br-pitr-guide.md
  br/br-pitr-manual.md
  br/br-snapshot-guide.md
  br/br-snapshot-manual.md
Labels: translation/from-docs-cn, size/M, approved, lgtm, v9.0

#20535 system-variables: fix links
  .lycheeignore
  system-variables.md
Labels: translation/doing, size/XS, approved, lgtm, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.5

#20551 Fix the desciption about cluster index and pre split region on auto random column
  clustered-indexes.md
Labels: type/bugfix, translation/from-docs-cn, size/XS, ONCALL, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.3, needs-cherry-pick-release-8.5, needs-cherry-pick-release-8.4

#20488 update doc for max-user-connections
  mysql-schema/mysql-schema-user.md
  security-compatibility-with-mysql.md
  sql-statements/sql-statement-alter-user.md
  sql-statements/sql-statement-create-user.md
  system-variables.md
Labels: translation/from-docs-cn, size/M, type/compatibility-or-feature-change, approved, lgtm, v9.0

#20280 Add docs about the `cluster_id` row in `mysql.tidb` table
  mysql-schema/mysql-schema.md
Labels: translation/from-docs-cn, size/XS, approved, lgtm, v9.0

#20305 Support pushdown to tiflash for some aggregation functions
  tiflash/tiflash-supported-pushdown-calculations.md
Labels: translation/from-docs-cn, size/XS, approved, lgtm, v9.0

#20509 tidb node group support gcp
  tidb-cloud/tidb-node-group-management.md
  tidb-cloud/tidb-node-group-overview.md
Labels: translation/no-need, size/S, area/tidb-cloud, approved, lgtm

#20548 cloud: add 20250318 release notes
  tidb-cloud/tidb-cloud-release-notes.md
Labels: translation/no-need, area/tidb-cloud, needs-1-more-lgtm, approved, lgtm

#20565 Optimizing Database audit logging
  tidb-cloud/tidb-cloud-auditing.md
Labels: translation/no-need, size/S, area/tidb-cloud, for-cloud-release, approved, lgtm

#20567 Improve TiDB Cloud MFA function
  tidb-cloud/tidb-cloud-password-authentication.md
Labels: translation/no-need, size/M, area/tidb-cloud, for-cloud-release, approved, lgtm

#20568 Remove deleted tiflash param "raftstore.store-batch-retry-recv-timeout"
  tiflash/tiflash-configuration.md
Labels: type/bugfix, translation/from-docs-cn, size/XS, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm

#20572 sync-diff-inspector: add limitations
  sync-diff-inspector/sync-diff-inspector-overview.md
Labels: type/enhancement, translation/from-docs-cn, size/XS, area/sync-diff-inspector, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.3, needs-cherry-pick-release-8.5, needs-cherry-pick-release-8.4

#20570 cdc: add release version for the simple protocol
  ticdc/ticdc-simple-protocol.md
Labels: type/enhancement, translation/from-docs-cn, size/XS, area/ticdc, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.3, needs-cherry-pick-release-8.5, needs-cherry-pick-release-8.4

#20569 br: add compatibility notes to the Before you use section
  br/backup-and-restore-overview.md
Labels: type/enhancement, translation/from-docs-cn, size/XS, ONCALL, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.5, needs-cherry-pick-release-8.4

#19944 partitioned-table: global index supports non-unique index
  partitioned-table.md
Labels: translation/from-docs-cn, size/M, approved, lgtm, v9.0

#20081 tiup: extend the firewall docs
  check-before-deployment.md
  quick-start-with-tidb.md
Labels: type/enhancement, translation/done, size/L, area/tiup, approved, lgtm, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.5

#20341 ticdc: add documentation for preventing TiCDC from using the same TiB cluster as both upstream and downstream
  ticdc/ticdc-manage-changefeed.md
Labels: translation/from-docs-cn, size/M, area/ticdc, needs-1-more-lgtm, approved, lgtm, v9.0

#20573 Improve the description of TLS configuration parameters between components
  tidb-configuration-file.md
Labels: translation/done, size/XS, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.3, needs-cherry-pick-release-8.5, needs-cherry-pick-release-8.4

#20599 connected-care: add some notes
  tidb-cloud/monitor-alert-email.md
  tidb-cloud/monitor-alert-slack.md
  tidb-cloud/monitor-alert-zoom.md
  tidb-cloud/tidb-cloud-clinic.md
Labels: contribution, translation/no-need, first-time-contributor, size/S, area/tidb-cloud, approved, lgtm, needs-ok-to-test

#20600 cloud: update topics and links on index.md learning path
  tidb-cloud/_index.md
Labels: translation/no-need, size/L, area/tidb-cloud, needs-1-more-lgtm, approved, lgtm

#20145 br: add unrecoverable system tables list
  br/br-snapshot-guide.md
  faq/backup-and-restore-faq.md
Labels: translation/from-docs-cn, size/M, for-release, approved, lgtm, v9.0

#20613 release-cloud: remove aliases
  accelerated-table-creation.md
  migration-overview.md
  sql-statements/sql-statement-show-stats-histograms.md
  telemetry.md
  tidb-cloud/_index.md
  tidb-cloud/backup-and-restore-serverless.md
  tidb-cloud/connected-care-overview.md
  tidb-cloud/secure-connections-to-serverless-clusters.md
  tidb-cloud/select-cluster-tier.md
  tidb-cloud/serverless-driver.md
  tidb-cloud/serverless-faqs.md
  tidb-cloud/serverless-limitations.md
  tidb-cloud/ticloud-branch-shell.md
  tidb-cloud/ticloud-import-start.md
  tidb-cloud/ticloud-serverless-region.md
  tidb-cloud/ticloud-serverless-shell.md
  tidb-cloud/ticloud-upgrade.md
  tidb-cloud/tidb-cloud-glossary.md
  tidb-cloud/tidb-cloud-htap-quickstart.md
  tidb-cloud/tidb-cloud-migration-overview.md
  tidb-cloud/tidb-cloud-partners.md
  tidb-cloud/tidb-cloud-release-notes.md
Labels: translation/no-need, area/tidb-cloud, needs-1-more-lgtm, approved, lgtm

#20566 tikv: add missing tikv configs
  tikv-configuration-file.md
Labels: requires-version-specific-changes, translation/from-docs-cn, size/M, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.5

#20630 ci: dispatch tidbcloud update
  .github/workflows/dispatch-tidbcloud.yml
Labels: translation/no-need, size/S, area/tidb-cloud, needs-1-more-lgtm, approved, lgtm

#19905 tidb: Remove warning about experimental feature for collecting predicate columns and update default value for tidb_enable_collect_predicate_columns
  releases/release-8.3.0.md
  statistics.md
  system-variables.md
Labels: translation/done, size/XS, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-8.3, needs-cherry-pick-release-8.5, needs-cherry-pick-release-8.4

#20623 Update tidb limitations of Index
  tidb-limitations.md
Labels: translation/from-docs-cn, contribution, size/XS, needs-1-more-lgtm, approved, lgtm, needs-ok-to-test, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.5

#20371 import into: remove restriction thread >= 8 for import into with global-sort
  sql-statements/sql-statement-import-into.md
Labels: translation/from-docs-cn, size/XS, needs-1-more-lgtm, approved, lgtm, v9.0

#20290 system-variables: add @@global.tidb_accelerate_user_creation_update
  system-variables.md
Labels: translation/from-docs-cn, size/S, type/compatibility-or-feature-change, approved, lgtm, v9.0

#20271 update mpp_version
  system-variables.md
  tiflash/tiflash-configuration.md
Labels: translation/from-docs-cn, size/S, needs-1-more-lgtm, approved, lgtm, v9.0

#20250 doc: configs of max-ts checker
  tikv-configuration-file.md
Labels: translation/from-docs-cn, size/S, type/compatibility-or-feature-change, for-release, needs-1-more-lgtm, approved, lgtm, v9.0

#20330 add new config hashagg_use_magic_hash for tiflash
  tiflash/tiflash-configuration.md
Labels: translation/from-docs-cn, size/XS, type/compatibility-or-feature-change, for-release, approved, lgtm, v9.0

#20649 cloud: support Amazon Bedrock integration
  TOC-tidb-cloud.md
  tidb-cloud/vector-search-integrate-with-amazon-bedrock.md
  tidb-cloud/vector-search-integration-overview.md
Labels: translation/no-need, size/XL, area/tidb-cloud, needs-1-more-lgtm, approved, lgtm

#20651 cloud: add 20250326 release notes
  tidb-cloud/tidb-cloud-release-notes.md
Labels: translation/no-need, size/S, needs-1-more-lgtm, approved, lgtm

#20523 Modify hash join explain analyze description
  sql-statements/sql-statement-explain-analyze.md
Labels: translation/from-docs-cn, size/M, approved, lgtm, v9.0

#20477 Update the default value of `pd_enable_follower_handle_region` to ON
  system-variables.md
Labels: translation/from-docs-cn, size/XS, needs-1-more-lgtm, approved, lgtm, v9.0

#20308 update tidb_hash_join_version
  system-variables.md
Labels: translation/from-docs-cn, size/S, for-release, approved, lgtm, v9.0

#20652 ADD `Configure Alibaba Cloud Object Storage Service (OSS) access`
  tidb-cloud/serverless-external-storage.md
Labels: translation/no-need, first-time-contributor, size/S, area/tidb-cloud, for-cloud-release, approved, lgtm

#20625 tiup-cluster-no-sudo-mode: Correct the order of operations to ensure t…
  check-before-deployment.md
  tiup/tiup-cluster-no-sudo-mode.md
Labels: type/enhancement, translation/doing, size/M, area/tiup, approved, lgtm, needs-cherry-pick-release-8.5

#20534 system-variables: Update/extend tidb_general_log docs
  system-variables.md
Labels: type/enhancement, translation/doing, size/XS, approved, lgtm, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.5

#20657 Clarify TiKV SM4 encryption descriptions
  encryption-at-rest.md
Labels: translation/from-docs-cn, size/XS, ONCALL, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-8.5

#20140 docs: update sync-diff-inspector docs for move to tiflow repo
  download-ecosystem-tools.md
  sync-diff-inspector/sync-diff-inspector-overview.md
Labels: translation/done, size/M, type/compatibility-or-feature-change, area/sync-diff-inspector, approved, lgtm, v9.0-beta.1

#20138 ticdc: add more parameters
  ticdc/ticdc-sink-to-mysql.md
Labels: translation/from-docs-cn, size/S, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.5

#20669 release-cloud: fix build error
  tidb-cloud/serverless-driver-kysely-example.md
Labels: translation/no-need, size/XS, area/develop, area/tidb-cloud, approved, lgtm

#20199 pd-microservices GA
  pd-microservices.md
Labels: translation/from-docs-cn, size/XS, needs-1-more-lgtm, approved, lgtm, v9.0-beta.1

#19566 ttl: updated ttl `TTL_JOB_INTERVAL` description
  time-to-live.md
Labels: translation/done, size/S, for-release, approved, lgtm, v9.0-beta.1

#20673 cloud: update title and body text to include Alibaba Cloud Object Sto…
  tidb-cloud/import-csv-files-serverless.md
  tidb-cloud/import-parquet-files-serverless.md
Labels: translation/no-need, size/S, area/tidb-cloud

#20674 AliCloud BR doc optimize
  tidb-cloud/backup-and-restore-serverless.md
Labels: translation/no-need, size/M, area/tidb-cloud, needs-1-more-lgtm, approved, lgtm

#20675 delete Import Sample Data from GCS
  tidb-cloud/import-sample-data-serverless.md
Labels: first-time-contributor, area/tidb-cloud, for-cloud-release, needs-1-more-lgtm, approved, lgtm

#20677 cloud: remove SimpleTab for import-sample-data-serverless.md
  tidb-cloud/import-sample-data-serverless.md
Labels: translation/no-need, size/XS, do-not-merge/hold, area/tidb-cloud, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-cloud

#20676 release-cloud: add parameter to console links for alicloud
  _docHome.md
  develop/dev-guide-bookshop-schema-design.md
  develop/dev-guide-build-cluster-in-cloud.md
  develop/dev-guide-insert-data.md
  sql-prepared-plan-cache.md
  sql-statements/sql-statement-overview.md
  tidb-cloud/architecture-concepts.md
  tidb-cloud/branch-github-integration.md
  tidb-cloud/branch-manage.md
  tidb-cloud/built-in-monitoring.md
  tidb-cloud/configure-serverless-firewall-rules-for-public-endpoints.md
  tidb-cloud/configure-sql-users.md
  tidb-cloud/create-tidb-cluster-serverless.md
  tidb-cloud/get-started-with-cli.md
  tidb-cloud/import-csv-files-serverless.md
  tidb-cloud/import-parquet-files-serverless.md
  tidb-cloud/import-sample-data-serverless.md
  tidb-cloud/integrate-tidbcloud-with-netlify.md
  tidb-cloud/manage-user-access.md
  tidb-cloud/migrate-from-oracle-using-aws-dms.md
  tidb-cloud/migrate-sql-shards.md
  tidb-cloud/notifications.md
  tidb-cloud/oauth2.md
  tidb-cloud/secure-connections-to-serverless-clusters.md
  tidb-cloud/serverless-driver-drizzle-example.md
  tidb-cloud/serverless-export.md
  tidb-cloud/serverless-external-storage.md
  tidb-cloud/terraform-tidbcloud-provider-overview.md
  tidb-cloud/tidb-cloud-billing.md
  tidb-cloud/tidb-cloud-console-auditing.md
  tidb-cloud/tidb-cloud-events.md
  tidb-cloud/tidb-cloud-import-local-files.md
  tidb-cloud/tidb-cloud-org-sso-authentication.md
  tidb-cloud/tidb-cloud-password-authentication.md
  tidb-cloud/tidb-cloud-quickstart.md
  tidb-cloud/tidb-cloud-sso-authentication.md
  tidb-cloud/tidb-cloud-support.md
Labels: translation/no-need, size/L, area/develop, area/tidb-cloud, needs-1-more-lgtm, approved, lgtm

#20653 release-cloud: add wording about alibaba cloud
  _docHome.md
  tidb-cloud/architecture-concepts.md
  tidb-cloud/tidb-cloud-intro.md
Labels: translation/no-need, size/XS, area/tidb-cloud, needs-1-more-lgtm, approved, lgtm

#20564 log-backup: added an explaination to the log status
  br/br-pitr-guide.md
Labels: requires-version-specific-changes, translation/from-docs-cn, size/M, approved, lgtm, needs-cherry-pick-release-8.5
