Repository pingcap/docs, pull requests merged in 2025-05, with the labels that each got.

#20819 Update billing info for Azure Marketplace
  TOC-tidb-cloud.md
  tidb-cloud/create-tidb-cluster.md
  tidb-cloud/release-notes-2022.md
  tidb-cloud/tidb-cloud-billing.md
Labels: translation/no-need, first-time-contributor, size/M, area/tidb-cloud, approved, lgtm

#20841 update CM part for Azure public review
  tidb-cloud/scale-tidb-cluster.md
  tidb-cloud/upgrade-tidb-cluster.md
Labels: translation/no-need, size/XS, area/tidb-cloud, needs-1-more-lgtm, approved, lgtm

#20562 Add restriction for IMPORT INTO regarding empty
  sql-statements/sql-statement-import-into.md
Labels: type/enhancement, translation/done, size/XS, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.3, needs-cherry-pick-release-8.5, needs-cherry-pick-release-8.4

#20823 Update pad attribute where needed
  character-set-and-collation.md
  information-schema/information-schema-collations.md
  sql-statements/sql-statement-show-collation.md
Labels: translation/doing, size/M, approved, lgtm, needs-cherry-pick-release-8.5

#20833 Add tidb index usage limitation for valid stats
  information-schema/information-schema-tidb-index-usage.md
Labels: translation/from-docs-cn, size/XS, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.5

#20917 tidb-cloud: update LOAD DATA INFILE description
  sql-statements/sql-statement-load-data.md
  tidb-cloud/limited-sql-features.md
Labels: translation/no-need, size/S, area/tidb-cloud, needs-1-more-lgtm, approved, lgtm

#20921 ticdc: add [[filter.event-filters]] to the toml example
  ticdc/ticdc-ddl.md
Labels: translation/from-docs-cn, size/XS, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.5

#20849 cloud: Add FullText Search docs
  TOC-tidb-cloud.md
  media/vector-search/hybrid-search-overview.svg
  vector-search/vector-search-full-text-search-python.md
  vector-search/vector-search-full-text-search-sql.md
  vector-search/vector-search-hybrid-search.md
Labels: translation/no-need, size/XXL, area/tidb-cloud, for-cloud-release, needs-1-more-lgtm, approved, lgtm

#20838 TiDB Cloud Cli v1.0.0-beta.4
  TOC-tidb-cloud.md
  tidb-cloud/ticloud-serverless-authorized-network-create.md
  tidb-cloud/ticloud-serverless-authorized-network-delete.md
  tidb-cloud/ticloud-serverless-authorized-network-list.md
  tidb-cloud/ticloud-serverless-authorized-network-update.md
  tidb-cloud/ticloud-serverless-export-create.md
Labels: translation/no-need, size/L, area/tidb-cloud, approved, lgtm

#20846 cloud: add export speed and note
  tidb-cloud/serverless-export.md
Labels: translation/no-need, size/S, area/tidb-cloud, needs-1-more-lgtm, approved, lgtm

#20931 cloud: minor wording changes for full-text search docs
  tidb-cloud/vector-search-full-text-search-python.md
  tidb-cloud/vector-search-hybrid-search.md
Labels: translation/no-need, size/XS, area/tidb-cloud, approved, lgtm

#20928 Update load data sql description
  sql-statements/sql-statement-load-data.md
Labels: contribution, translation/no-need, needs-cherry-pick-master, size/XS, area/develop, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-8.5

#20938 br: clarify PITR restrictions
  br/backup-and-restore-overview.md
Labels: type/enhancement, translation/no-need, size/XS, ONCALL, area/br, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.3, needs-cherry-pick-release-8.5, needs-cherry-pick-release-8.4

#20734 docs: clarify AUTO_RANDOM_BASE usage and explicit insert behavior
  auto-random.md
Labels: translation/done, size/M, approved, lgtm, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.5

#20947 tidb-cloud: explain beta
  tidb-cloud/tidb-cloud-faq.md
Labels: translation/no-need, size/XS, area/tidb-cloud, needs-1-more-lgtm, approved, lgtm

#20901 Maintenace window 2.0 short
  tidb-cloud/configure-maintenance-window.md
Labels: contribution, translation/no-need, first-time-contributor, size/S, area/develop, area/tidb-cloud, for-cloud-release, approved, lgtm, ok-to-test

#20936 cloud: add Performance and Plus storage
  tidb-cloud/size-your-cluster.md
Labels: translation/no-need, size/S, area/tidb-cloud, for-cloud-release, approved, lgtm

#20915 cloud: update TiFlash node storage
  tidb-cloud/size-your-cluster.md
Labels: contribution, translation/no-need, first-time-contributor, size/XS, area/tidb-cloud, for-cloud-release, approved, lgtm, ok-to-test, needs-cherry-pick-release-8.1

#20944 cloud: add 20250513 release notes
  tidb-cloud/tidb-cloud-release-notes.md
Labels: translation/no-need, size/M, area/tidb-cloud, for-cloud-release, needs-1-more-lgtm, approved, lgtm

#20937 ci: improve pdf with variables & custom header id
  scripts/concatMdByToc.js
  scripts/merge_by_toc.py
Labels: translation/no-need, size/L, needs-1-more-lgtm, approved, lgtm

#20951 *: update wording and format
  ticdc/ticdc-debezium.md
  workload-repository.md
Labels: translation/no-need, size/XS, approved, lgtm

#20902 add Azure Blob Storage access config (replicates #19090)
  TOC-tidb-cloud.md
  media/tidb-cloud/dedicated-external-storage/azure-sas-create.png
  media/tidb-cloud/dedicated-external-storage/azure-sas-position.png
  tidb-cloud/dedicated-external-storage.md
  tidb-cloud/import-csv-files.md
  tidb-cloud/import-parquet-files.md
  tidb-cloud/import-sample-data.md
  tidb-cloud/migrate-sql-shards.md
  tidb-cloud/release-notes-2023.md
  tidb-cloud/serverless-external-storage.md
  tidb-cloud/terraform-use-import-resource.md
  tidb-cloud/tidb-cloud-migration-overview.md
  tidb-cloud/troubleshoot-import-access-denied-error.md
Labels: translation/no-need, missing-translation-status, size/M, area/tidb-cloud, for-cloud-release, approved, lgtm

#20954 ticdc: fix heading level
  ticdc/ticdc-debezium.md
Labels: translation/no-need, size/XS, needs-1-more-lgtm, approved, lgtm, type/bug

#20952 cloud: add a note before changing vCPU
  tidb-cloud/scale-tidb-cluster.md
Labels: contribution, translation/no-need, size/XS, area/tidb-cloud, for-cloud-release, needs-1-more-lgtm, approved, lgtm, ok-to-test

#20956 tidb-cloud: add a footnote about source of Private Service Connect arch
  tidb-cloud/set-up-private-endpoint-connections-on-google-cloud.md
Labels: translation/no-need, size/XS, area/tidb-cloud, needs-1-more-lgtm, approved, lgtm

#20958 basic-features: fix table formatting issue
  basic-features.md
Labels: type/bugfix, translation/from-docs-cn, size/XS, ONCALL, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-8.3, needs-cherry-pick-release-8.5, needs-cherry-pick-release-8.4

#20965 fts: Add APSE1
  tidb-cloud/vector-search-full-text-search-python.md
  tidb-cloud/vector-search-full-text-search-sql.md
  tidb-cloud/vector-search-hybrid-search.md
Labels: translation/no-need, size/S, area/tidb-cloud, needs-1-more-lgtm, approved, lgtm

#20873 tidb-cloud: add Azure private link support
  TOC-tidb-cloud.md
  media/tidb-cloud/azure-create-private-endpoint-service-resource-id.png
  media/tidb-cloud/azure-private-endpoint-arch.png
  media/tidb-cloud/azure-private-endpoint-dns-ip.png
  media/tidb-cloud/azure-private-endpoint-resource-id.png
  tidb-cloud/connect-to-tidb-cluster.md
  tidb-cloud/set-up-private-endpoint-connections-on-azure.md
  tidb-cloud/set-up-private-endpoint-connections-on-google-cloud.md
  tidb-cloud/set-up-private-endpoint-connections-serverless.md
  tidb-cloud/set-up-private-endpoint-connections.md
  tidb-cloud/tidb-node-group-management.md
Labels: contribution, translation/no-need, first-time-contributor, size/L, area/develop, area/tidb-cloud, approved, lgtm, ok-to-test

#20969 tiup: correct the link of checking clusters
  tiup/tiup-component-cluster-meta-backup.md
Labels: type/bugfix, translation/no-need, size/XS, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.5

#20684 include compatibility notice for tidb_remove_orderby_in_subquery
  releases/release-7.2.0.md
Labels: translation/from-docs-cn, size/S, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.3, needs-cherry-pick-release-8.5, needs-cherry-pick-release-8.4

#20959 Cloud connected care: update slack interaction
  media/tidb-cloud/connected-slack-ticket-interaction-1.png
  media/tidb-cloud/connected-slack-ticket-interaction-2.png
  media/tidb-cloud/connected-slack-ticket-interaction-3.png
  media/tidb-cloud/connected-slack-ticket-interaction-4.png
  media/tidb-cloud/connected-slack-ticket-interaction-creation.gif
  media/tidb-cloud/connected-slack-ticket-interaction-reply.gif
  tidb-cloud/connected-slack-ticket-interaction.md
Labels: contribution, translation/no-need, first-time-contributor, size/M, area/tidb-cloud, approved, lgtm, ok-to-test

#20968 cloud: add limitations for TiDB Node Group
  tidb-cloud/tidb-node-group-overview.md
Labels: translation/no-need, size/XS, area/tidb-cloud, needs-1-more-lgtm, approved, lgtm

#20916 Correct the description of "Total RU of user resource groups"
  dashboard/dashboard-resource-manager.md
Labels: contribution, first-time-contributor, missing-translation-status, size/XS, approved, lgtm, ok-to-test

#20850 Update the database audit log description for Azure deployment scenarios
  tidb-cloud/tidb-cloud-auditing.md
Labels: translation/no-need, size/M, area/tidb-cloud, lgtm

#20963 backup: adjust concurrency description after v8.2
  br/br-snapshot-guide.md
  br/br-snapshot-manual.md
  br/use-br-command-line-tool.md
Labels: translation/from-docs-cn, size/S, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-8.3, needs-cherry-pick-release-8.5, needs-cherry-pick-release-8.4

#20540 Update TiDB Cloud documentation: Remove 'Import File Count' reference…
  develop/dev-guide-bookshop-schema-design.md
  tidb-cloud/import-csv-files.md
  tidb-cloud/import-parquet-files.md
  tidb-cloud/import-sample-data.md
  tidb-cloud/migrate-sql-shards.md
Labels: translation/no-need, needs-cherry-pick-master, size/S, area/develop, area/tidb-cloud, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-8.5

#20510 add release notes v9.0.0 - features part
  releases/release-9.0.0.md
Labels: translation/from-docs-cn, size/XL, area/develop, approved, lgtm, v9.0-beta.1

#20992 cloud: update one step in import-sample-data-serverless.md
  tidb-cloud/import-sample-data-serverless.md
Labels: translation/no-need, size/XS, area/tidb-cloud, approved, lgtm

#20988 tiproxy: rephrase TiProxy performance to make it comfortable
  tiproxy/tiproxy-overview.md
  tiproxy/tiproxy-performance-test.md
Labels: translation/from-docs-cn, size/XS, approved, lgtm, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.5

#21002 Improve wording in system variables
  system-variables.md
Labels: requires-version-specific-changes, translation/no-need, size/XS, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-8.5, needs-cherry-pick-release-8.4

#21006 slow-queries: fix inccorect descriptions about `Rocksdb_delete_skipped_count` and `Rocksdb_key_skipped_count`
  identify-slow-queries.md
Labels: translation/from-docs-cn, size/XS, ONCALL, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.5

#21015 cloud: correct the permission for password updates
  tidb-cloud/manage-user-access.md
Labels: translation/no-need, size/XS, area/tidb-cloud, approved, lgtm

#21011 cloud: `information_schema` should be `performance_schema`
  tidb-cloud/migrate-from-mysql-using-data-migration.md
Labels: translation/no-need, size/XS, ONCALL, area/tidb-cloud, approved, lgtm

#20967 ticdc: add new doc for TiCDC data replication capabilities
  TOC.md
  ticdc/ticdc-data-replication-capabilities.md
  ticdc/ticdc-overview.md
Labels: type/enhancement, translation/from-docs-cn, size/M, ONCALL, area/ticdc, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.5

#21005 add metrics dashboard lists of cloud clinic
  tidb-cloud/tidb-cloud-clinic.md
Labels: translation/no-need, size/S, area/tidb-cloud, for-cloud-release, approved, lgtm

#20659 cloud: add terraform migrate cluster resource doc
  TOC-tidb-cloud.md
  tidb-cloud/terraform-migrate-cluster-resource.md
Labels: contribution, translation/no-need, first-time-contributor, size/M, area/tidb-cloud, approved, lgtm, ok-to-test, needs-cherry-pick-release-8.1

#21025 tikv-configuration: fix incorrect annotations for background quota limiter
  dynamic-config.md
  tikv-configuration-file.md
Labels: translation/from-docs-cn, size/S, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.5, ok-to-test, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.5

#20996 tikv / titan: Add note for disabling titan
  storage-engine/titan-configuration.md
Labels: translation/from-docs-cn, size/XS, approved, lgtm, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.5

#21036 tikv: fix the description of write cf short value length
  storage-engine/rocksdb-overview.md
Labels: translation/from-docs-cn, size/XS, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.5

#21044 add `in-memory-engine` config items
  releases/release-8.5.0.md
Labels: translation/from-docs-cn, size/XS, approved, lgtm, needs-cherry-pick-release-8.5

#21053 Update backup-and-restore-overview.md
  br/backup-and-restore-overview.md
Labels: translation/from-docs-cn, needs-cherry-pick-master, size/XS, ONCALL, approved, lgtm, ok-to-test, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.5

#21034 cloud: add Full-Text Search in tidb-cloud-glossary
  tidb-cloud/tidb-cloud-glossary.md
Labels: translation/no-need, size/S, area/tidb-cloud, needs-1-more-lgtm, approved, lgtm

#21037 update title of saas multi-tenant scenarios best practices
  TOC.md
  best-practices/saas-best-practices.md
Labels: translation/from-docs-cn, size/XS, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-8.5

#21027 cloud: Add Pulsar support docs
  TOC-tidb-cloud.md
  tidb-cloud/changefeed-sink-to-apache-pulsar.md
Labels: contribution, translation/no-need, size/L, area/tidb-cloud, for-cloud-release, approved, lgtm

#21052 cloud: add 20250527 release notes
  tidb-cloud/tidb-cloud-release-notes.md
Labels: translation/no-need, size/S, area/tidb-cloud, for-cloud-release, needs-1-more-lgtm, approved, lgtm

#21068 ticdc: minor adjust the description of `foreign_key_checks`
  ticdc/ticdc-data-replication-capabilities.md
Labels: translation/from-docs-cn, size/XS, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.5

#21079 add TiKV grpc-compression-type changes to release notes
  releases/release-6.5.11.md
  releases/release-7.1.6.md
  releases/release-7.5.3.md
  releases/release-8.1.1.md
Labels: translation/from-docs-cn, size/S, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.5

#20948 cloud: add azure to generic docs
  tidb-cloud/architecture-concepts.md
  tidb-cloud/backup-and-restore.md
  tidb-cloud/create-tidb-cluster-serverless.md
  tidb-cloud/scale-tidb-cluster.md
  tidb-cloud/security-concepts.md
  tidb-cloud/set-up-vpc-peering-connections.md
  tidb-cloud/tidb-cloud-encrypt-cmek.md
  tidb-cloud/tidb-cloud-faq.md
  tidb-cloud/tidb-cloud-intro.md
  tidb-cloud/tidb-cloud-poc.md
Labels: translation/no-need, size/S, area/tidb-cloud, needs-1-more-lgtm, approved, lgtm
