Repository pingcap/docs, pull requests merged in 2025-01, with the labels that each got.

#19824 TiDB Cloud serverless export update
  media/tidb-cloud/serverless-external-storage/azure-storage-account-overview.png
  tidb-cloud/serverless-export.md
  tidb-cloud/serverless-external-storage.md
Labels: translation/no-need, size/L, area/tidb-cloud, approved, lgtm

#19835 Add descriptions of load schema snapshot
  tidb-binlog/tidb-binlog-configuration-file.md
Labels: translation/from-docs-cn, contribution, size/S, area/develop, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-ok-to-test, needs-cherry-pick-release-8.1

#19500 cloud: serverless HA
  TOC-tidb-cloud.md
  media/tidb-cloud/serverless-regional-high-avaliability-aws.png
  media/tidb-cloud/serverless-zonal-high-avaliability-aws.png
  tidb-cloud/serverless-high-availability.md
Labels: translation/no-need, size/L, area/tidb-cloud, for-cloud-release, approved, lgtm, needs-cherry-pick-release-8.1

#19871 sql: `RENAME TABLE` supports renaming multiple tables and across dbs
  sql-statements/sql-statement-rename-table.md
Labels: translation/from-docs-cn, size/L, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.5

#19830 cloud: refine roles in organizations and projects
  tidb-cloud/manage-user-access.md
  tidb-cloud/sql-proxy-account.md
  tidb-cloud/tidb-cloud-billing.md
  tidb-cloud/tidb-cloud-budget.md
  tidb-cloud/tidb-cloud-console-auditing.md
  tidb-cloud/tidb-cloud-release-notes.md
Labels: translation/no-need, size/M, area/tidb-cloud, needs-1-more-lgtm, approved, lgtm

#19866 add cloud release notes 20250102
  TOC-tidb-cloud.md
  tidb-cloud/release-notes-2024.md
  tidb-cloud/tidb-cloud-faq.md
  tidb-cloud/tidb-cloud-release-notes.md
Labels: translation/no-need, size/XXL, area/tidb-cloud, approved, lgtm

#19879 update year to 2025 in copyright.tex
  templates/copyright.tex
Labels: translation/no-need, size/XS, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.3, needs-cherry-pick-release-8.5, needs-cherry-pick-release-8.4

#19685 Update docs for expression defaults
  data-type-default-values.md
Labels: translation/done, size/M, approved, lgtm, needs-cherry-pick-release-8.5

#19900 Update recent TiKV config changes
  tikv-configuration-file.md
Labels: translation/from-docs-cn, size/S, approved, lgtm, needs-cherry-pick-release-8.5

#19715 functions: Add TIDB_MVCC_INFO, TIDB_ENCODE_INDEX_KEY and TIDB_ENCODE_RECORD_KEY
  functions-and-operators/tidb-functions.md
Labels: translation/done, size/L, approved, lgtm, needs-cherry-pick-release-8.5, needs-cherry-pick-release-8.4

#19907 cloud: fix Kafka download link
  tidb-cloud/setup-self-hosted-kafka-private-link-service.md
  tidb-cloud/setup-self-hosted-kafka-private-service-connect.md
Labels: translation/no-need, size/S, ONCALL, area/tidb-cloud, approved, lgtm

#19904 tiproxy: improve deployment instructions for deploying TiProxy
  config-templates/simple-tiproxy.yaml
  tiproxy/tiproxy-configuration.md
  tiproxy/tiproxy-deployment-topology.md
  tiproxy/tiproxy-overview.md
  tiup/tiup-cluster-topology-reference.md
Labels: translation/from-docs-cn, size/M, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.3, needs-cherry-pick-release-8.5, needs-cherry-pick-release-8.4

#19740 Spm fix hint issue
  sql-plan-management.md
Labels: translation/from-docs-cn, size/M, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.3, needs-cherry-pick-release-8.5, needs-cherry-pick-release-8.4

#19918 Cached table size limit should be 64 MiB
  cached-tables.md
Labels: translation/doing, size/XS, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-8.5

#18150 Update import-csv-files.md
  tidb-cloud/import-csv-files.md
Labels: translation/no-need, size/XS, area/tidb-cloud, approved, lgtm, needs-cherry-pick-release-8.5

#14480 Clarify swap descriptions
  check-before-deployment.md
Labels: translation/from-docs-cn, size/S, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.5

#19899 8.5 performance highlights: update the table for IO jitter improvement
  tidb-cloud/v8.5-performance-highlights.md
Labels: translation/no-need, size/L, area/tidb-cloud, needs-1-more-lgtm, approved, lgtm

#19892 Add system variable reference
  TOC.md
  system-variable-reference.md
Labels: type/enhancement, translation/doing, size/XXL, approved, lgtm, needs-cherry-pick-release-8.5

#19927 fix: correct CHAR and BINARY maximum length from 256 to 255
  tidb-limitations.md
Labels: type/bugfix, translation/from-docs-cn, size/XS, ONCALL, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.3, needs-cherry-pick-release-8.5, needs-cherry-pick-release-8.4

#19818 doc: batch processing overview and pipelined dml
  TOC-tidb-cloud.md
  TOC.md
  batch-processing.md
  pipelined-dml.md
  system-variables.md
Labels: type/enhancement, translation/from-docs-cn, size/XL, area/transaction, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-8.5, v8.5

#19912 performance-tuning: remove stats config, add tidb_stats_load_sync_wait
  tidb-performance-tuning-config.md
Labels: translation/doing, contribution, size/S, needs-1-more-lgtm, approved, lgtm, ok-to-test, needs-cherry-pick-release-8.5, needs-cherry-pick-release-8.4

#19942 scripts: add a script to generate reference index for system variables
  scripts/generate-index-for-system-varibles.py
Labels: translation/no-need, size/L, needs-1-more-lgtm, approved, lgtm, area/docs-efficiency

#19913 Refine tiflash docs to remove deprecated description
  scale-tidb-using-tiup.md
  tiflash/tiflash-overview.md
  tiflash/troubleshoot-tiflash.md
Labels: translation/from-docs-cn, size/L, area/bigdata, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.5

#19861 br: update the compatibility information for BR between TiDB versions 6.5.0 and 8.5.0
  br/backup-and-restore-overview.md
Labels: translation/from-docs-cn, size/M, approved, lgtm, needs-cherry-pick-release-8.5

#19945 changefeed: add tips for Private Connect to Kafka SaaS services
  tidb-cloud/changefeed-sink-to-apache-kafka.md
Labels: contribution, translation/no-need, size/XS, needs-1-more-lgtm, approved, lgtm, needs-ok-to-test

#19737 mysql-compatibility: correct performance_schema statement
  mysql-compatibility.md
Labels: translation/doing, size/XS, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.5

#19717 cloud: optimize TOC and add concept docs
  TOC-tidb-cloud.md
  media/tidb-cloud/blank_transparent_placeholder.png
  media/tidb-cloud/tidb-cloud-dedicated-architecture.png
  tidb-cloud/ai-feature-concepts.md
  tidb-cloud/api-overview.md
  tidb-cloud/architecture-concepts.md
  tidb-cloud/backup-and-restore-concepts.md
  tidb-cloud/cli-reference.md
  tidb-cloud/data-service-concepts.md
  tidb-cloud/data-streaming-concepts.md
  tidb-cloud/database-schema-concepts.md
  tidb-cloud/high-availability-with-multi-az.md
  tidb-cloud/monitoring-concepts.md
  tidb-cloud/scalability-concepts.md
  tidb-cloud/security-concepts.md
  tidb-cloud/sql-concepts.md
  tidb-cloud/transaction-concepts.md
Labels: type/enhancement, translation/no-need, size/XXL, area/tidb-cloud, needs-1-more-lgtm, approved, lgtm

#19961 Fix Percolator URL
  best-practices/tidb-best-practices.md
  tidb-storage.md
  tso.md
Labels: translation/done, size/XS, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.3, needs-cherry-pick-release-8.5, needs-cherry-pick-release-8.4

#19959 Update vector-search-overview.md
  vector-search/vector-search-overview.md
Labels: contribution, translation/no-need, first-time-contributor, size/XS, approved, lgtm, ok-to-test, needs-cherry-pick-release-8.5

#19973 cherry-pick config performance to release-8.1
  TOC.md
  media/performance/titan-rocksdb-compactions.png
  tidb-performance-tuning-config.md
Labels: translation/doing, contribution, size/XL, approved, lgtm, ok-to-test

#19977 partitioned-table: remove incorrect limitation
  partitioned-table.md
Labels: translation/done, size/XS, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.3, needs-cherry-pick-release-8.5, needs-cherry-pick-release-8.4

#19978 br: add a note about backing up tables that are being restored
  br/backup-and-restore-overview.md
  releases/release-notes.md
  releases/release-timeline.md
  statistics.md
Labels: type/enhancement, translation/from-docs-cn, size/S, area/br, approved, lgtm, needs-cherry-pick-release-8.5

#19976 Character set and collation updates
  character-set-and-collation.md
  character-set-gbk.md
  migrate-from-mariadb.md
  sql-statements/sql-statement-show-collation.md
Labels: translation/done, size/XL, approved, lgtm, needs-cherry-pick-release-8.5

#19995 Update cop rpc execution info
  sql-statements/sql-statement-explain-analyze.md
Labels: translation/from-docs-cn, size/XS, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.3, needs-cherry-pick-release-8.5, needs-cherry-pick-release-8.4

#19953 cloud: add the notification doc
  TOC-tidb-cloud.md
  tidb-cloud/notifications.md
Labels: translation/no-need, size/M, area/tidb-cloud, for-cloud-release, needs-1-more-lgtm, approved, lgtm

#19987 cloud: add 20250114 release notes
  tidb-cloud/tidb-cloud-release-notes.md
Labels: translation/no-need, size/S, area/tidb-cloud, needs-1-more-lgtm, approved, lgtm

#20001 releases: move #41048 bug fix from v7.1.0 to v7.2.0
  releases/release-7.1.0.md
  releases/release-7.2.0.md
Labels: type/bugfix, translation/from-docs-cn, size/XS, ONCALL, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.3, needs-cherry-pick-release-8.5, needs-cherry-pick-release-8.4

#19831 Update docs for LAST_INSERT_ID()
  functions-and-operators/information-functions.md
Labels: translation/done, size/XS, approved, lgtm, needs-cherry-pick-release-8.5

#19958 cloud: new generation of TiDB Cloud support services - Connected Care
  TOC-tidb-cloud.md
  tidb-cloud/connected-care-announcement.md
  tidb-cloud/connected-care-detail.md
  tidb-cloud/tidb-cloud-support.md
Labels: contribution, translation/no-need, first-time-contributor, size/L, area/tidb-cloud, approved, lgtm, ok-to-test

#20011 Support Plan: minor changes for clarity
  TOC-tidb-cloud.md
  tidb-cloud/connected-care-announcement.md
Labels: translation/no-need, first-time-contributor, size/S, area/develop, area/tidb-cloud, needs-1-more-lgtm, approved, lgtm

#19460 statistics: add tidb_enable_stats_owner
  statistics.md
Labels: translation/done, size/XS, approved, lgtm, needs-cherry-pick-release-8.5, needs-cherry-pick-release-8.4

#20012 clarify the time zone used for parsing tidb_auto_analyze_start_time
  system-variables.md
Labels: translation/from-docs-cn, size/S, approved, lgtm, needs-cherry-pick-release-8.5

#20015 auto_increment: add steps and notices to auto_increment and auto_random
  auto-increment.md
  auto-random.md
Labels: translation/from-docs-cn, size/S, approved, lgtm, needs-cherry-pick-release-8.5

#20017 fix TiDB Cloud Connected Care support services
  TOC-tidb-cloud.md
  tidb-cloud/connected-care-detail.md
  tidb-cloud/connected-care-overview.md
  tidb-cloud/tidb-cloud-support.md
Labels: contribution, first-time-contributor, missing-translation-status, size/M, approved, lgtm, ok-to-test

#19757 tweak(ci): ja translation
  .github/workflows/ja-full-translation-google.yaml
Labels: translation/no-need, size/S, needs-1-more-lgtm, approved, lgtm

#19768 tweak(ci): translation cron
  .github/workflows/cron.yml
Labels: translation/no-need, size/M, approved, lgtm

#20024 release-8.4: update centos 7 support
  hardware-and-software-requirements.md
  upgrade-tidb-using-tiup.md
Labels: translation/from-docs-cn, size/XS, needs-1-more-lgtm, approved, lgtm

#19974 add 8.5.1 release notes
  TOC.md
  releases/release-8.4.0.md
  releases/release-8.5.0.md
  releases/release-8.5.1.md
  releases/release-notes.md
  releases/release-timeline.md
Labels: translation/from-docs-cn, size/L, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-8.5

#20025 remove unnecessary white space
  information-schema/information-schema-data-lock-waits.md
Labels: translation/no-need, size/XS, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.3, needs-cherry-pick-release-8.5, needs-cherry-pick-release-8.4

#19988 release 8.5: bump up the latest TiDB version to 8.5.1
  br/backup-and-restore-use-cases.md
  certificate-authentication.md
  develop/dev-guide-sample-application-nodejs-mysql2.md
  develop/dev-guide-sample-application-nodejs-mysqljs.md
  develop/dev-guide-sample-application-nodejs-prisma.md
  develop/dev-guide-sample-application-nodejs-typeorm.md
  develop/dev-guide-sample-application-ruby-mysql2.md
  develop/dev-guide-sample-application-ruby-rails.md
  dm/maintain-dm-using-tiup.md
  dm/quick-start-create-task.md
  dm/quick-start-with-dm.md
  download-ecosystem-tools.md
  functions-and-operators/tidb-functions.md
  information-schema/information-schema-tidb-servers-info.md
  pd-control.md
  performance-schema/performance-schema-session-connect-attrs.md
  post-installation-check.md
  production-deployment-using-tiup.md
  quick-start-with-tidb.md
  scale-microservices-using-tiup.md
  scale-tidb-using-tiup.md
  system-variables.md
  ticdc/deploy-ticdc.md
  ticdc/ticdc-changefeed-config.md
  ticdc/ticdc-changefeed-overview.md
  ticdc/ticdc-manage-changefeed.md
  ticdc/ticdc-open-api-v2.md
  ticdc/ticdc-sink-to-cloud-storage.md
  ticdc/ticdc-sink-to-pulsar.md
  tidb-monitoring-api.md
  tiflash/create-tiflash-replicas.md
  tiup/tiup-cluster.md
  tiup/tiup-component-cluster-deploy.md
  tiup/tiup-component-cluster-patch.md
  tiup/tiup-component-cluster-upgrade.md
  tiup/tiup-component-dm-upgrade.md
  tiup/tiup-component-management.md
  tiup/tiup-mirror.md
  tiup/tiup-playground.md
  upgrade-monitoring-services.md
  upgrade-tidb-using-tiup.md
Labels: translation/done, size/L, area/develop, needs-1-more-lgtm, approved, lgtm

#20020 Update centos 7 on hardware-and-software-requirements.md
  hardware-and-software-requirements.md
  upgrade-tidb-using-tiup.md
Labels: translation/from-docs-cn, needs-cherry-pick-master, size/S, approved, lgtm

#20021 tiup-component-cluster-check: Update
  tiup/tiup-component-cluster-check.md
Labels: translation/doing, size/XS, area/tiup, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.3, needs-cherry-pick-release-8.5, needs-cherry-pick-release-8.4

#20022 TiUP: Link docs
  tiup/tiup-component-cluster-clean.md
  tiup/tiup-component-cluster-deploy.md
  tiup/tiup-component-cluster-destroy.md
  tiup/tiup-component-cluster-display.md
  tiup/tiup-component-cluster-edit-config.md
  tiup/tiup-component-cluster-list.md
  tiup/tiup-component-cluster-patch.md
  tiup/tiup-component-cluster-reload.md
  tiup/tiup-component-cluster-rename.md
  tiup/tiup-component-cluster-scale-out.md
  tiup/tiup-component-cluster-start.md
  tiup/tiup-component-cluster-stop.md
  tiup/tiup-component-cluster-upgrade.md
Labels: type/enhancement, translation/doing, size/M, area/tiup, needs-1-more-lgtm, approved, lgtm

#19890 dumpling: merge userguide into docs
  dumpling-overview.md
Labels: translation/done, size/M, approved, lgtm, needs-cherry-pick-release-8.5

#19960 Quick start updates
  quick-start-with-tidb.md
Labels: type/enhancement, translation/done, size/L, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-8.5

#20049 *: add a note to clarify IP addresses
  geo-distributed-deployment-topology.md
  hybrid-deployment-topology.md
  minimal-deployment-topology.md
  pd-microservices-deployment-topology.md
  ticdc-deployment-topology.md
  tiflash-deployment-topology.md
  tiproxy/tiproxy-deployment-topology.md
  tispark-deployment-topology.md
Labels: type/enhancement, translation/done, size/M, ONCALL, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.5

#20050 tiflash: add two more TiFlash config items
  tiflash/tiflash-configuration.md
Labels: translation/from-docs-cn, size/XS, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.3, needs-cherry-pick-release-8.5, needs-cherry-pick-release-8.4

#20065 ticdc: add a deprecate warning to user doc
  ticdc/ticdc-changefeed-config.md
Labels: translation/from-docs-cn, size/XS, approved, lgtm, needs-cherry-pick-release-8.5

#13233 tidb cloud: AWS Lambda integration
  TOC-tidb-cloud.md
  media/develop/aws-lambda-cf-create-stack.png
  media/develop/aws-lambda-cf-stack-config-option.png
  media/develop/aws-lambda-cf-stack-config-review.png
  media/develop/aws-lambda-cf-stack-config.png
  media/develop/aws-lambda-get-apigateway-invoke-url.png
  media/develop/aws-lambda-structure-overview.png
  media/develop/aws-lambda-tidbcloud-connection-info.png
  tidb-cloud/integrate-tidbcloud-with-aws-lambda.md
Labels: status/LGT1, translation/no-need, size/L, area/develop, area/tidb-cloud, approved, lgtm, needs-cherry-pick-release-8.1

#20069 br: add checkpoint restore restriction
  br/br-checkpoint-restore.md
Labels: translation/from-docs-cn, size/XS, area/br, approved, lgtm, needs-cherry-pick-release-8.5

#20072 Add more details for dumpling
  dumpling-overview.md
Labels: translation/from-docs-cn, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.3, needs-cherry-pick-release-8.5, needs-cherry-pick-release-8.4

#16714 Update prometheus grafana integration dashboard
  tidb-cloud/monitor-prometheus-and-grafana-integration-grafana-dashboard-UI.json
Labels: translation/no-need, first-time-contributor, size/L, area/tidb-cloud, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-8.1

#20082 ticdc: clarify that you don't escape the whole URL but just the parameters
  ticdc/ticdc-changefeed-config.md
  ticdc/ticdc-sink-to-mysql.md
Labels: translation/from-docs-cn, size/S, approved, lgtm, needs-cherry-pick-release-8.5

#20064 cloud: add release notes 20250121
  tidb-cloud/tidb-cloud-release-notes.md
Labels: translation/no-need, size/XS, area/tidb-cloud, for-cloud-release, needs-1-more-lgtm, approved, lgtm

#20086 pdctl: update the description of merging store labels
  pd-control.md
Labels: translation/from-docs-cn, size/M, approved, lgtm, needs-cherry-pick-release-8.5

#20085 tiup: add `--user`
  dashboard/dashboard-ops-reverse-proxy.md
  post-installation-check.md
  production-deployment-using-tiup.md
  quick-start-with-tidb.md
  schedule-replicas-by-topology-labels.md
  ticdc/deploy-ticdc.md
Labels: translation/from-docs-cn, size/L, area/tiup, approved, lgtm, needs-cherry-pick-release-8.5

#19573 ticdc: add note to the Avro protocol
  ticdc/ticdc-avro-protocol.md
Labels: type/enhancement, translation/done, size/XS, area/ticdc, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.3, needs-cherry-pick-release-8.5, needs-cherry-pick-release-8.4

#19369 ticdc: add a faq about generated column
  ticdc/ticdc-faq.md
Labels: type/enhancement, translation/done, size/XS, area/ticdc, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.3, needs-cherry-pick-release-8.5, needs-cherry-pick-release-8.4

#20080 ticdc: update doc about ddl white list
  ticdc/ticdc-changefeed-config.md
  ticdc/ticdc-ddl.md
  ticdc/ticdc-overview.md
Labels: type/enhancement, translation/from-docs-cn, size/L, area/ticdc, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-8.5

#20111 faq: remove ansible related things
  faq/deploy-and-maintain-faq.md
Labels: translation/done, size/S, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-8.5

#20116 tiflash: remove deprecated http_port
  enable-tls-between-components.md
  tiup/tiup-cluster-topology-reference.md
Labels: translation/from-docs-cn, size/XS, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.3, needs-cherry-pick-release-8.5, needs-cherry-pick-release-8.4

#20119 tiup: fix tiproxy data_dir
  config-templates/simple-tiproxy.yaml
  tiup/tiup-cluster-topology-reference.md
Labels: translation/done, size/XS, area/tiup, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-8.5

#20120 cdc: add description about support versions for redo log parameters
  ticdc/ticdc-changefeed-config.md
Labels: type/enhancement, translation/from-docs-cn, size/XS, area/ticdc, approved, lgtm, needs-cherry-pick-release-8.5

#11077 Fix an error in importing sample data
  import-example-data.md
Labels: type/bugfix, translation/no-need, area/general, size/L, needs-rebase, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-8.5

#19925 dm: update DM quick start using TiUP Playground
  dm/quick-start-with-dm.md
Labels: type/enhancement, translation/done, size/XL, approved, lgtm, needs-cherry-pick-release-8.5

#20070 tiup: Update THP docs
  check-before-deployment.md
  tiup/tiup-component-cluster-check.md
  tune-operating-system.md
Labels: translation/done, size/L, area/tiup, approved, lgtm, needs-cherry-pick-release-8.5

#20137 cloud: update AWS private endpoint steps
  tidb-cloud/set-up-private-endpoint-connections.md
Labels: translation/no-need, size/S, ONCALL, area/tidb-cloud, approved, lgtm

#20118 tidb-limitations: add index length limitation
  tidb-limitations.md
Labels: translation/done, size/S, approved, lgtm, needs-cherry-pick-release-8.5

#20143 cloud: update the index page according to the latest TOC
  TOC-tidb-cloud.md
  tidb-cloud/_index.md
  tidb-cloud/key-concepts.md
Labels: translation/no-need, size/M, area/tidb-cloud, needs-1-more-lgtm, approved, lgtm

#20098 TiDB Cloud Serverless does not support changing `enable-table-lock` config to `true`
  sql-statements/sql-statement-lock-tables-and-unlock-tables.md
Labels: translation/no-need, size/XS, area/tidb-cloud, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.5
