Repository pingcap/docs, pull requests merged in 2025-08, with the labels that each got.

#21324 dumpling: update -r option string key implementation doc
  dumpling-overview.md
Labels: translation/done, contribution, size/XS, approved, lgtm, needs-ok-to-test, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.5

#21484 ticdc: add param `multi-stmt-enable` description in mysql sink
  ticdc/ticdc-sink-to-mysql.md
Labels: translation/from-docs-cn, size/XS, needs-1-more-lgtm, approved, lgtm

#20851 Refine tiflash FAQ and configuration docs
  tiflash/create-tiflash-replicas.md
  tiflash/tiflash-configuration.md
  tiflash/tiflash-overview.md
  tiflash/troubleshoot-tiflash.md
Labels: translation/from-docs-cn, size/L, approved, lgtm, needs-cherry-pick-release-8.5

#21496 release-cloud: update Alibaba Cloud essential pricing details
  tidb-cloud/tidb-cloud-billing.md
Labels: translation/no-need, size/XS, area/tidb-cloud, needs-1-more-lgtm, approved, lgtm

#21510 cloud: clarify the support of TiDB Cloud CLI on TiDB Cloud Dedicated
  tidb-cloud/cli-reference.md
Labels: type/enhancement, translation/no-need, size/XS, area/tidb-cloud, needs-1-more-lgtm, approved, lgtm

#21506 Update monitoring-concepts.md
  tidb-cloud/monitoring-concepts.md
Labels: contribution, translation/no-need, first-time-contributor, size/S, area/tidb-cloud, approved, lgtm, ok-to-test

#21505 Update third-party-monitoring-integrations.md
  TOC-tidb-cloud.md
  tidb-cloud/third-party-monitoring-integrations.md
Labels: contribution, translation/no-need, first-time-contributor, size/M, area/tidb-cloud, needs-1-more-lgtm, approved, lgtm, ok-to-test

#21473 cloud: add content about TiDB Cloud Essential and Alibaba Cloud
  TOC-tidb-cloud.md
  tidb-cloud/architecture-concepts.md
  tidb-cloud/backup-and-restore-concepts.md
  tidb-cloud/backup-and-restore-serverless.md
  tidb-cloud/branch-overview.md
  tidb-cloud/create-tidb-cluster-serverless.md
  tidb-cloud/integrate-tidbcloud-with-vercel.md
  tidb-cloud/manage-serverless-spend-limit.md
  tidb-cloud/release-notes-2022.md
  tidb-cloud/release-notes-2024.md
  tidb-cloud/scalability-concepts.md
  tidb-cloud/secure-connections-to-serverless-clusters.md
  tidb-cloud/select-cluster-tier.md
  tidb-cloud/serverless-driver-drizzle-example.md
  tidb-cloud/serverless-driver-kysely-example.md
  tidb-cloud/serverless-driver-node-example.md
  tidb-cloud/serverless-driver-prisma-example.md
  tidb-cloud/serverless-driver.md
  tidb-cloud/serverless-export.md
  tidb-cloud/serverless-faqs.md
  tidb-cloud/serverless-high-availability.md
  tidb-cloud/serverless-limitations.md
  tidb-cloud/set-up-private-endpoint-connections-on-alibaba-cloud.md
  tidb-cloud/ticloud-cluster-create.md
  tidb-cloud/tidb-cloud-billing.md
  tidb-cloud/tidb-cloud-budget.md
  tidb-cloud/tidb-cloud-console-auditing.md
  tidb-cloud/tidb-cloud-events.md
  tidb-cloud/tidb-cloud-faq.md
  tidb-cloud/tidb-cloud-glossary.md
  tidb-cloud/tidb-cloud-intro.md
  tidb-cloud/vector-search-integrate-with-amazon-bedrock.md
  variables.json
  vector-search/vector-search-data-types.md
  vector-search/vector-search-functions-and-operators.md
  vector-search/vector-search-get-started-using-python.md
  vector-search/vector-search-get-started-using-sql.md
  vector-search/vector-search-improve-performance.md
  vector-search/vector-search-index.md
  vector-search/vector-search-integrate-with-django-orm.md
  vector-search/vector-search-integrate-with-jinaai-embedding.md
  vector-search/vector-search-integrate-with-langchain.md
  vector-search/vector-search-integrate-with-llamaindex.md
  vector-search/vector-search-integrate-with-peewee.md
  vector-search/vector-search-integrate-with-sqlalchemy.md
  vector-search/vector-search-integration-overview.md
  vector-search/vector-search-limitations.md
  vector-search/vector-search-overview.md
Labels: missing-translation-status, size/XXL, needs-1-more-lgtm, approved, lgtm, rename-serverless

#21418 cloud: remove serverless specific docs from the TOC of Dedicated docs
  TOC-tidb-cloud.md
  tidb-cloud/_index.md
Labels: translation/no-need, size/L, area/develop, needs-1-more-lgtm, approved, lgtm, rename-serverless

#21512 refactor: consolidate TOC file handling in cloud document scripts
  scripts/concatMdByToc.js
  scripts/filterCloudDoc.js
  scripts/filterCloudInitFiles.js
  scripts/filterNonCloudDoc.js
  scripts/filterUpdateFiles.js
  scripts/utils.js
Labels: translation/no-need, needs-cherry-pick-master, size/L, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-8.5, rename-serverless

#21536 release cloud: use "plan" instead of "tier"
  TOC-tidb-cloud.md
  tidb-cloud/architecture-concepts.md
  tidb-cloud/create-tidb-cluster-serverless.md
  tidb-cloud/select-cluster-tier.md
  tidb-cloud/tidb-cloud-glossary.md
  tidb-cloud/tidb-cloud-intro.md
Labels: translation/no-need, size/S, needs-1-more-lgtm, approved, lgtm, rename-serverless

#21538 v8.5: remove VictoriaMetrics guide
  maintain-tidb-using-tiup.md
Labels: translation/from-docs-cn, size/XS, needs-1-more-lgtm, approved, lgtm

#21537 cloud: update the CSV configuration doc according to the latest UI
  media/tidb-cloud/import-data-csv-config.png
  tidb-cloud/csv-config-for-import-data.md
Labels: translation/no-need, size/S, area/tidb-cloud, needs-1-more-lgtm, approved, lgtm

#21539 i18n(ja-8.5): Update latest_translation_commit.json
  latest_translation_commit.json
Labels: translation/no-need, size/XS, needs-1-more-lgtm, approved, lgtm

#21552 tiup: clarify `tiup bench` command
  tiup/tiup-bench.md
Labels: translation/from-docs-cn, ONCALL, approved, lgtm, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.5

#21543 cdc: update description about max-multi-update-row-size
  ticdc/ticdc-sink-to-mysql.md
Labels: translation/from-docs-cn, size/XS, approved, lgtm, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.5

#21567 tikiv: change default value of `batch-compression-threshold` from `"8KiB"` to `"4KiB"`
  releases/release-8.1.0.md
  tikv-configuration-file.md
Labels: translation/from-docs-cn, size/XS, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.5

#21572 basic-features: remove EOL versions including v5.1, v5.2, and v5.3
  basic-features.md
Labels: translation/from-docs-cn, size/XL, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-8.5

#21542 cloud: update the steps of installing TiDB Cloud integration in Datadog
  tidb-cloud/monitor-datadog-integration.md
Labels: contribution, translation/no-need, first-time-contributor, size/M, area/tidb-cloud, approved, lgtm, ok-to-test

#21412 log backup: update metafile format
  br/br-log-architecture.md
Labels: requires-version-specific-changes, translation/from-docs-cn, size/S, area/br, for-release, approved, lgtm, needs-cherry-pick-release-8.5, v9.0-beta.2

#21583 release-8.5: use "plan" instead of "tier"
  TOC-tidb-cloud-starter.md
  tidb-cloud/create-tidb-cluster-serverless.md
  tidb-cloud/tidb-cloud-glossary.md
Labels: translation/no-need, size/XS, area/tidb-cloud, approved, lgtm

#21584 release-8.5: move the text search entries to the starter TOC
  TOC-tidb-cloud-starter.md
  TOC-tidb-cloud.md
  tidb-cloud/tidb-cloud-billing-dm.md
  tidb-cloud/tidb-cloud-billing.md
Labels: translation/no-need, do-not-merge/hold, size/S, area/tidb-cloud, approved, lgtm

#21575 cloud: add 20250812 release notes
  tidb-cloud/tidb-cloud-release-notes.md
Labels: translation/no-need, size/M, area/tidb-cloud, for-cloud-release, approved, lgtm

#21592 best-practices: fix incorrect default value of `wait_timeout`
  best-practices/java-app-best-practices.md
Labels: translation/from-docs-cn, size/XS, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.5

#21467 Add more description about SHARD_ROW_ID_BITS
  shard-row-id-bits.md
Labels: type/enhancement, translation/from-docs-cn, size/S, ONCALL, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.5

#21404 v8.5.3: update telemetry related doc files
  releases/release-6.1.5.md
  releases/release-6.5.1.md
  releases/release-6.6.0.md
  releases/release-8.1.0.md
  system-variable-reference.md
  system-variables.md
  telemetry.md
  tidb-configuration-file.md
Labels: translation/from-docs-cn, size/M, type/compatibility-or-feature-change, needs-1-more-lgtm, approved, lgtm, v9.0-beta.3

#21564 ticdc: add key word for redo log
  ticdc/ticdc-sink-to-mysql.md
Labels: type/enhancement, translation/done, size/XS, area/ticdc, approved, lgtm, needs-cherry-pick-release-8.5

#21135 ticdc: correct the tiup cluster command
  ticdc/deploy-ticdc.md
Labels: type/enhancement, translation/done, size/XS, area/ticdc, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-8.5

#21417 ticdc: add header line for CSV protocol
  ticdc/ticdc-csv.md
Labels: translation/from-docs-cn, size/S, area/ticdc, for-release, needs-1-more-lgtm, approved, lgtm, v9.0-beta.2

#21613 release-8.5: update version to 8.5.3
  certificate-authentication.md
  pd-control.md
  performance-schema/performance-schema-session-connect-attrs.md
  upgrade-tidb-using-tiup.md
Labels: translation/done, size/S, needs-1-more-lgtm, approved, lgtm

#21614 release-8.5: remove 'v' prefix from tidb-version variable
  br/backup-and-restore-use-cases.md
  certificate-authentication.md
  develop/dev-guide-sample-application-cs.md
  develop/dev-guide-sample-application-nodejs-mysql2.md
  develop/dev-guide-sample-application-nodejs-mysqljs.md
  develop/dev-guide-sample-application-nodejs-prisma.md
  develop/dev-guide-sample-application-nodejs-typeorm.md
  develop/dev-guide-sample-application-ruby-mysql2.md
  develop/dev-guide-sample-application-ruby-rails.md
  dm/maintain-dm-using-tiup.md
  dm/quick-start-create-task.md
  dm/quick-start-with-dm.md
  download-ecosystem-tools.md
  functions-and-operators/tidb-functions.md
  information-schema/information-schema-tidb-servers-info.md
  pd-control.md
  performance-schema/performance-schema-session-connect-attrs.md
  post-installation-check.md
  production-deployment-using-tiup.md
  quick-start-with-tidb.md
  scale-microservices-using-tiup.md
  scale-tidb-using-tiup.md
  system-variables.md
  ticdc/deploy-ticdc.md
  ticdc/ticdc-changefeed-config.md
  ticdc/ticdc-changefeed-overview.md
  ticdc/ticdc-manage-changefeed.md
  ticdc/ticdc-open-api-v2.md
  ticdc/ticdc-sink-to-cloud-storage.md
  ticdc/ticdc-sink-to-pulsar.md
  tidb-monitoring-api.md
  tiflash/create-tiflash-replicas.md
  tiup/tiup-cluster.md
  tiup/tiup-component-cluster-deploy.md
  tiup/tiup-component-cluster-patch.md
  tiup/tiup-component-cluster-upgrade.md
  tiup/tiup-component-dm-upgrade.md
  tiup/tiup-component-management.md
  tiup/tiup-mirror.md
  tiup/tiup-playground.md
  upgrade-monitoring-services.md
  upgrade-tidb-using-tiup.md
  variables.json
Labels: translation/from-docs-cn, size/L, area/develop, needs-1-more-lgtm, approved, lgtm

#21078 restore: update the definition of the parameter --load-stats and the usage of pitr id map
  br/br-checkpoint-restore.md
  br/br-snapshot-guide.md
  br/br-snapshot-manual.md
Labels: translation/from-docs-cn, size/M, type/compatibility-or-feature-change, approved, lgtm, v9.0-beta.2

#21615 release-7.5: remove 'v' prefix from tidb-version variable
  br/backup-and-restore-use-cases.md
  certificate-authentication.md
  develop/dev-guide-sample-application-nodejs-mysql2.md
  develop/dev-guide-sample-application-nodejs-mysqljs.md
  develop/dev-guide-sample-application-nodejs-prisma.md
  develop/dev-guide-sample-application-nodejs-typeorm.md
  develop/dev-guide-sample-application-ruby-mysql2.md
  develop/dev-guide-sample-application-ruby-rails.md
  dm/maintain-dm-using-tiup.md
  dm/quick-start-create-task.md
  dm/quick-start-with-dm.md
  external-storage-uri.md
  functions-and-operators/tidb-functions.md
  information-schema/information-schema-tidb-servers-info.md
  pd-control.md
  performance-schema/performance-schema-session-connect-attrs.md
  post-installation-check.md
  production-deployment-using-tiup.md
  quick-start-with-tidb.md
  scale-tidb-using-tiup.md
  system-variables.md
  ticdc/deploy-ticdc.md
  ticdc/ticdc-changefeed-config.md
  ticdc/ticdc-changefeed-overview.md
  ticdc/ticdc-manage-changefeed.md
  ticdc/ticdc-open-api-v2.md
  ticdc/ticdc-sink-to-cloud-storage.md
  ticdc/ticdc-sink-to-pulsar.md
  tidb-binlog/get-started-with-tidb-binlog.md
  tidb-monitoring-api.md
  tiflash/create-tiflash-replicas.md
  tiup/tiup-cluster.md
  tiup/tiup-component-cluster-deploy.md
  tiup/tiup-component-cluster-patch.md
  tiup/tiup-component-cluster-upgrade.md
  tiup/tiup-component-dm-upgrade.md
  tiup/tiup-component-management.md
  tiup/tiup-mirror.md
  tiup/tiup-playground.md
  upgrade-monitoring-services.md
  upgrade-tidb-using-tiup.md
  variables.json
Labels: translation/from-docs-cn, size/L, area/develop, needs-1-more-lgtm, approved, lgtm

#21279 tiflash: add config of enable_version_chain
  tiflash/tiflash-configuration.md
Labels: translation/from-docs-cn, size/XS, for-release, needs-1-more-lgtm, approved, lgtm, v9.0-beta.2

#21619 tiflash: Update tiflash upgrade guide
  tiflash-upgrade-guide.md
Labels: translation/from-docs-cn, size/S, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-8.5

#21462 Modify the introduction of `cop_pool_size`
  tiflash/tiflash-configuration.md
Labels: type/enhancement, translation/from-docs-cn, size/XS, area/bigdata, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-8.5

#21612 *: add custom Japanese localization for cloud docs
  tidb-cloud/architecture-concepts.md
  tidb-cloud/connect-via-standard-connection-serverless.md
  tidb-cloud/create-tidb-cluster-serverless.md
  tidb-cloud/security-concepts.md
  tidb-cloud/serverless-high-availability.md
  tidb-cloud/set-up-private-endpoint-connections-on-azure.md
  tidb-cloud/set-up-private-endpoint-connections-on-google-cloud.md
  tidb-cloud/tidb-cloud-billing.md
  tidb-cloud/tidb-cloud-connect-aws-dms.md
  tidb-cloud/tidb-cloud-faq.md
  tidb-cloud/tidb-cloud-intro.md
  tidb-cloud/tidb-cloud-poc.md
  tidb-cloud/tidb-cloud-quickstart.md
  tidb-cloud/tidb-cloud-release-notes.md
  tidb-cloud/upgrade-tidb-cluster.md
Labels: translation/no-need, size/XL, area/tidb-cloud, needs-1-more-lgtm, approved, lgtm

#21652 fix: copy vars to translator and docs folder
  .github/workflows/translation-cron.yml
  .github/workflows/translation-zh.yaml
Labels: translation/no-need, size/S, needs-1-more-lgtm, approved, lgtm

#21653 adding a new event into audit log
  tidb-cloud/tidb-cloud-console-auditing.md
Labels: translation/no-need, first-time-contributor, size/XS, area/tidb-cloud, needs-1-more-lgtm, approved, lgtm

#21650 cdc: add solution for kafka broken pipe error
  ticdc/ticdc-faq.md
  ticdc/ticdc-sink-to-kafka.md
Labels: translation/from-docs-cn, size/S, area/ticdc, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.5

#21643 sys var: consider global sort for `tidb_ddl_reorg_max_write_speed`
  system-variables.md
Labels: type/enhancement, translation/from-docs-cn, size/XS, approved, lgtm, needs-cherry-pick-release-8.5

#21648 cloud: remove index insight
  TOC-tidb-cloud.md
  tidb-cloud/index-insight.md
  tidb-cloud/release-notes-2023.md
  tidb-cloud/serverless-limitations.md
  tidb-cloud/tune-performance.md
Labels: contribution, translation/no-need, size/L, area/tidb-cloud, for-cloud-release, approved, lgtm, ok-to-test, needs-cherry-pick-release-8.5

#21585 cloud: update the TOC of "Migrate or Import Data" for Starter and Essential
  TOC-tidb-cloud-essential.md
  TOC-tidb-cloud-starter.md
  tidb-cloud/migrate-sql-shards.md
Labels: translation/no-need, size/XS, area/tidb-cloud, approved, lgtm

#21499 tidbcloud: Add auto embedding docs
  TOC-tidb-cloud-starter.md
  TOC-tidb-cloud.md
  tidb-cloud/vector-search-auto-embedding-amazon-titan.md
  tidb-cloud/vector-search-auto-embedding-cohere.md
  tidb-cloud/vector-search-auto-embedding-gemini.md
  tidb-cloud/vector-search-auto-embedding-huggingface.md
  tidb-cloud/vector-search-auto-embedding-jina-ai.md
  tidb-cloud/vector-search-auto-embedding-nvidia-nim.md
  tidb-cloud/vector-search-auto-embedding-openai.md
  tidb-cloud/vector-search-auto-embedding-overview.md
Labels: translation/no-need, size/XXL, area/tidb-cloud, for-cloud-release, approved, lgtm

#21668 cloud: add 20250826 release notes
  tidb-cloud/tidb-cloud-release-notes.md
Labels: translation/no-need, size/S, area/tidb-cloud, for-cloud-release, needs-1-more-lgtm, approved, lgtm

#21678 Revert "v8.5: remove VictoriaMetrics guide"
  maintain-tidb-using-tiup.md
Labels: translation/done, size/XS, needs-1-more-lgtm, approved, lgtm

#21541 vector: various updates
  .lycheeignore
  dm/dm-overview.md
  vector-search/vector-search-functions-and-operators.md
  vector-search/vector-search-limitations.md
Labels: type/enhancement, translation/done, size/L, approved, lgtm, needs-cherry-pick-release-8.5

#21681 tiup: add `tiup cluster tls`
  TOC.md
  tiup/tiup-component-cluster-tls.md
  tiup/tiup-component-cluster-upgrade.md
Labels: translation/from-docs-cn, size/M, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.5
