Repository pingcap/docs, pull requests merged in 2025-06, with the labels that each got.

#20903 Azure docs updates - Import
  TOC-tidb-cloud.md
  develop/dev-guide-bookshop-schema-design.md
  develop/dev-guide-insert-data.md
  tidb-cloud/_index.md
  tidb-cloud/backup-and-restore.md
  tidb-cloud/csv-config-for-import-data.md
  tidb-cloud/dedicated-external-storage.md
  tidb-cloud/import-csv-files.md
  tidb-cloud/import-parquet-files.md
  tidb-cloud/import-sample-data.md
  tidb-cloud/import-snapshot-files.md
  tidb-cloud/migrate-from-op-tidb.md
  tidb-cloud/migrate-incremental-data-from-mysql-using-data-migration.md
  tidb-cloud/migrate-sql-shards.md
  tidb-cloud/release-notes-2023.md
  tidb-cloud/tidb-cloud-migration-overview.md
  tidb-cloud/tidb-cloud-poc.md
Labels: translation/no-need, size/XL, area/develop, area/tidb-cloud, approved, lgtm

#21077 add in condition in the index strategy
  sql-tuning-best-practice.md
Labels: translation/doing, contribution, size/S, needs-1-more-lgtm, approved, lgtm, ok-to-test, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.5

#20935 Warn users about the grpc-compression-type config
  tikv-configuration-file.md
Labels: translation/done, size/XS, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.5

#21089 Update monitor-prometheus-and-grafana-integration-grafana-dashboard-U…
  tidb-cloud/monitor-prometheus-and-grafana-integration-grafana-dashboard-UI.json
Labels: contribution, translation/no-need, first-time-contributor, needs-cherry-pick-master, size/XXL, area/tidb-cloud, approved, lgtm, needs-ok-to-test

#20834 Add TiDB 8.5.2 Release Notes
  TOC.md
  releases/release-8.5.2.md
  releases/release-notes.md
  releases/release-timeline.md
Labels: translation/from-docs-cn, size/L, approved, lgtm, needs-cherry-pick-release-8.5

#20953 Support azure dm private link
  media/tidb-cloud/migration-job-select-all.png
  media/tidb-cloud/migration-job-select-db-blacklist1.png
  media/tidb-cloud/migration-job-select-db-blacklist2.png
  media/tidb-cloud/migration-job-select-db.png
  media/tidb-cloud/migration-job-select-tables.png
  tidb-cloud/migrate-from-mysql-using-data-migration.md
Labels: translation/no-need, size/XL, area/tidb-cloud, lgtm

#21113 Add avg_tidb_cpu_time/avg_tikv_cpu_time for statements summary
  statement-summary-tables.md
Labels: translation/from-docs-cn, size/S, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-8.5, needs-cherry-pick-release-8.4

#21116 delete description about special non-reserved keywords that might still require special treatment
  keywords.md
Labels: translation/from-docs-cn, size/XS, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.5

#21122 Revert "Add TiDB 8.5.2 Release Notes"
  TOC.md
  releases/release-8.5.2.md
  releases/release-notes.md
  releases/release-timeline.md
Labels: translation/from-docs-cn, contribution, size/L, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-8.5

#21108 add 20250604 cloud release notes
  tidb-cloud/tidb-cloud-release-notes.md
Labels: translation/no-need, size/M, area/tidb-cloud, needs-1-more-lgtm, approved, lgtm

#21058 external storage url in tidb cloud
  external-storage-uri.md
  sql-statements/sql-statement-backup.md
  sql-statements/sql-statement-restore.md
Labels: contribution, translation/no-need, first-time-contributor, needs-cherry-pick-master, size/M, area/tidb-cloud, needs-1-more-lgtm, approved, lgtm, ok-to-test, needs-cherry-pick-release-8.5

#21124 Alicloud pricing
  tidb-cloud/tidb-cloud-billing.md
Labels: translation/no-need, size/L, area/tidb-cloud, approved, lgtm

#21137 tiflash: correct the default value of task_scheduler_active_set_soft_limit
  releases/release-7.4.0.md
  tiflash/tiflash-configuration.md
Labels: requires-version-specific-changes, translation/from-docs-cn, size/S, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.3, needs-cherry-pick-release-8.5, needs-cherry-pick-release-8.4

#21143 Fix a typo about data source
  maintain-tidb-using-tiup.md
Labels: translation/from-docs-cn, size/XS, needs-1-more-lgtm, approved, lgtm

#21141 Update doc_review.yml
  .github/workflows/doc_review.yml
Labels: translation/no-need, size/S, approved, lgtm, needs-cherry-pick-release-8.1

#21153 Mention some features are free of charge right now
  tidb-cloud/tidb-cloud-billing.md
Labels: translation/no-need, size/S, area/tidb-cloud, needs-1-more-lgtm, approved, lgtm

#21156 Revert "Revert "Add TiDB 8.5.2 Release Notes" (#21122)"
  TOC.md
  releases/release-8.5.2.md
  releases/release-notes.md
  releases/release-timeline.md
Labels: translation/done, contribution, needs-cherry-pick-master, size/L, needs-1-more-lgtm, approved, lgtm

#21161 fix: change SIMILAR pattern matching description to use correct "SQL Digest" terminology instead of "Plan Digest"
  tidb-resource-control-runaway-queries.md
Labels: type/bugfix, translation/no-need, size/XS, ONCALL, approved, lgtm, needs-cherry-pick-release-8.5

#21160 sync-diff-inspector: update required privilege for sync-diff-inspector
  sync-diff-inspector/sync-diff-inspector-overview.md
Labels: type/bugfix, translation/done, size/S, ONCALL, needs-cherry-pick-release-5.4, area/sync-diff-inspector, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.3, needs-cherry-pick-release-8.5, needs-cherry-pick-release-8.4

#21190 Correct the privileges of TiDB Cloud DM
  tidb-cloud/migrate-from-mysql-using-data-migration.md
Labels: translation/no-need, size/XS, area/tidb-cloud, needs-1-more-lgtm, approved, lgtm

#20872 Add FORMAT_BYTES and FORMAT_NANO_TIME functions
  TOC-tidb-cloud.md
  TOC.md
  functions-and-operators/utility-functions.md
Labels: translation/done, size/M, approved, lgtm, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.5

#21193 cloud: add the image for the combo box
  media/tidb-cloud/tidb-cloud-combo-box.png
Labels: translation/no-need, size/XS, area/tidb-cloud, needs-1-more-lgtm, approved, lgtm

#21195 offline tikv 6tb disk
  tidb-cloud/size-your-cluster.md
Labels: contribution, translation/no-need, size/XS, approved, lgtm, needs-ok-to-test, needs-cherry-pick-release-8.1

#21198 remove loong64 arch in release notes v8.5.2
  releases/release-8.5.2.md
Labels: translation/from-docs-cn, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-8.5

#21200 tiproxy: update vip description about CIDR
  tiproxy/tiproxy-configuration.md
Labels: translation/from-docs-cn, size/XS, approved, lgtm, v9.0-beta.1

#21201 sql: update add index grammar ebnf
  sql-statements/sql-statement-add-index.md
Labels: translation/from-docs-cn, size/XS, ONCALL, approved, lgtm, needs-cherry-pick-release-8.5

#21208 Revert "tiproxy: fix image link in tiproxy-load-balance.md"
  tiproxy/tiproxy-load-balance.md
Labels: contribution, translation/no-need, size/XS, needs-1-more-lgtm, approved, lgtm

#21209 tiproxy: update architecture diagram
  media/tiproxy/tiproxy-balance-label-v2.png
  media/tiproxy/tiproxy-balance-label.png
  tiproxy/tiproxy-load-balance.md
Labels: translation/from-docs-cn, size/XS, approved, lgtm

#21217 titan-configuration: remove the unrecommended steps of updating TiKV configuration
  storage-engine/titan-configuration.md
  tikv-configuration-file.md
Labels: translation/from-docs-cn, size/S, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, approved, lgtm, needs-cherry-pick-release-7.5

#21219 tidb cloud: add release notes 20250624
  tidb-cloud/tidb-cloud-release-notes.md
Labels: translation/no-need, size/S, area/tidb-cloud, needs-1-more-lgtm, approved, lgtm

#21033 add release notes v9.0.0 - bugfix part
  releases/release-9.0.0.md
Labels: translation/from-docs-cn, contribution, size/L, needs-1-more-lgtm, approved, lgtm

#21248 release-cloud: update the titles for the CSV and parquet file import related docs
  develop/dev-guide-bookshop-schema-design.md
  develop/dev-guide-insert-data.md
  tidb-cloud/csv-config-for-import-data.md
  tidb-cloud/import-csv-files-serverless.md
  tidb-cloud/import-parquet-files-serverless.md
  tidb-cloud/import-sample-data-serverless.md
  tidb-cloud/import-snapshot-files.md
  tidb-cloud/migrate-sql-shards.md
  tidb-cloud/tidb-cloud-migration-overview.md
Labels: translation/no-need, size/M, area/develop, area/tidb-cloud, needs-1-more-lgtm, approved, lgtm

#21253 feat: add navicat into the supported gui part
  develop/dev-guide-third-party-support.md
Labels: translation/done, size/XS, ONCALL, area/develop, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.3, needs-cherry-pick-release-8.5, needs-cherry-pick-release-8.4, needs-cherry-pick-release-cloud

#21264 tiproxy: update the recommended graceful-wait-before-shutdown
  config-templates/simple-tiproxy.yaml
  tiproxy/tiproxy-load-balance.md
  tiproxy/tiproxy-overview.md
Labels: translation/from-docs-cn, size/S, approved, lgtm, needs-cherry-pick-release-8.5

#21189 Update terraform doc with new resources in v0.4
  TOC-tidb-cloud.md
  tidb-cloud/terraform-get-tidbcloud-provider.md
  tidb-cloud/terraform-use-cluster-resource.md
  tidb-cloud/terraform-use-dedicated-cluster-resource.md
  tidb-cloud/terraform-use-dedicated-network-container-resource.md
  tidb-cloud/terraform-use-dedicated-private-endpoint-connection-resource.md
  tidb-cloud/terraform-use-dedicated-vpc-peering-resource.md
  tidb-cloud/terraform-use-serverless-branch-resource.md
  tidb-cloud/terraform-use-serverless-cluster-resource.md
  tidb-cloud/terraform-use-serverless-export-resource.md
  tidb-cloud/terraform-use-sql-user-resource.md
Labels: contribution, translation/no-need, size/XXL, area/tidb-cloud, approved, lgtm, needs-ok-to-test, cherry-pick-release-cloud/no-need

#20840 Fix wording to reflect poor performance of initial query before optimization
  explain-walkthrough.md
Labels: translation/done, contribution, first-time-contributor, size/XS, approved, lgtm, ok-to-test, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.5

#21265 rm GetBucketLocation priviledge for dedicated import
  tidb-cloud/dedicated-external-storage.md
Labels: size/XS, area/tidb-cloud, needs-1-more-lgtm, approved, lgtm, cherry-pick-release-cloud/no-need

#21206 Add C# / .NET example
  TOC-tidb-cloud.md
  TOC.md
  develop/dev-guide-sample-application-cs.md
Labels: translation/done, size/L, area/develop, approved, lgtm, needs-cherry-pick-release-8.5

#21278 br: `{checkpoint_ts}-{uuid}.meta` should be `{resolved_ts}-{uuid}.meta`
  br/br-log-architecture.md
Labels: translation/from-docs-cn, size/XS, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.5
