Repository pingcap/docs, pull requests merged in 2025-07, with the labels that each got.

#21288 Revert "cloud: Add FullText Search docs"
  TOC-tidb-cloud.md
  vector-search/vector-search-full-text-search-python.md
  vector-search/vector-search-full-text-search-sql.md
  vector-search/vector-search-hybrid-search.md
Labels: translation/no-need, size/XXL, needs-1-more-lgtm, approved, lgtm

#20461 TiFlash: small fixes and added links
  tiflash/tiflash-compatibility.md
  tiflash/use-fastscan.md
Labels: translation/doing, size/S, approved, lgtm, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.5

#21293 Add reference to BYOK
  tidb-cloud/tidb-cloud-encrypt-cmek.md
Labels: translation/no-need, size/XS, area/tidb-cloud, approved, lgtm, needs-cherry-pick-release-8.1, cherry-pick-release-cloud/no-need

#21270 tiproxy: add notice about upgrading tiproxy
  tiproxy/tiproxy-overview.md
Labels: translation/from-docs-cn, size/XS, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-8.5

#21319 release-8.1: add variable replacement and custom ID handling in concatMdByToc.js and merge_by_toc.py
  scripts/concatMdByToc.js
  scripts/merge_by_toc.py
Labels: translation/no-need, size/L, needs-1-more-lgtm, approved, lgtm

#21326 tiproxy: add multi-vip support to v1.3.1
  tiproxy/tiproxy-configuration.md
  tiproxy/tiproxy-load-balance.md
Labels: translation/from-docs-cn, size/M, needs-1-more-lgtm, approved, lgtm

#21341 ci: Update translation workflows and enhance file handling in filterUpdateFiles.js
  .github/workflows/translation-cron.yml
  .github/workflows/translation-zh.yaml
  scripts/filterUpdateFiles.js
Labels: translation/no-need, size/M, approved, lgtm

#21352 ci: fix translation workflow
  .github/workflows/translation-zh.yaml
  scripts/filterUpdateCloudFiles.js
Labels: translation/no-need, size/S, needs-1-more-lgtm, approved, lgtm

#21356 ci: sync variables.json
  .github/workflows/translation-cron.yml
  .github/workflows/translation-zh.yaml
  scripts/filterUpdateCloudFiles.js
  scripts/filterUpdateFiles.js
Labels: translation/no-need, size/XL, approved, lgtm

#21366 ci: update translation workflow to use 'master' branch instead of 'main'
  .github/workflows/translation-cron.yml
Labels: translation/no-need, size/XS, approved, lgtm

#21374 pd-ctl: add notice for `member delete`
  pd-control.md
Labels: type/enhancement, translation/from-docs-cn, size/XS, ONCALL, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.5

#21380 release-cloud: Update limited sql features for TiDB Cloud Starter
  tidb-cloud/limited-sql-features.md
Labels: translation/no-need, size/XS, area/tidb-cloud, needs-1-more-lgtm, approved, lgtm

#21368 release-8.5: support TiDB Cloud Dedicated
  TOC-tidb-cloud.md
  functions-and-operators/json-functions/json-functions-validate.md
  index-advisor.md
  schema-cache.md
  sql-statements/sql-statement-admin-alter-ddl.md
  tidb-cloud/database-schema-concepts.md
  tidb-cloud/vector-search-changelogs.md
  tidb-cloud/vector-search-integrate-with-amazon-bedrock.md
  tidb-resource-control-background-tasks.md
  tidb-resource-control-runaway-queries.md
  vector-search/vector-search-data-types.md
  vector-search/vector-search-functions-and-operators.md
  vector-search/vector-search-get-started-using-python.md
  vector-search/vector-search-get-started-using-sql.md
  vector-search/vector-search-improve-performance.md
  vector-search/vector-search-index.md
  vector-search/vector-search-integrate-with-django-orm.md
  vector-search/vector-search-integrate-with-jinaai-embedding.md
  vector-search/vector-search-integrate-with-langchain.md
  vector-search/vector-search-integrate-with-llamaindex.md
  vector-search/vector-search-integrate-with-peewee.md
  vector-search/vector-search-integrate-with-sqlalchemy.md
  vector-search/vector-search-integration-overview.md
  vector-search/vector-search-limitations.md
  vector-search/vector-search-overview.md
Labels: translation/no-need, size/L, area/tidb-cloud, approved, lgtm, cherry-pick-release-cloud/no-need

#21400 release-8.5: bump version for v8.5.2 and update variables.json
  br/backup-and-restore-use-cases.md
  develop/dev-guide-sample-application-cs.md
  develop/dev-guide-sample-application-nodejs-mysql2.md
  develop/dev-guide-sample-application-nodejs-mysqljs.md
  develop/dev-guide-sample-application-nodejs-prisma.md
  develop/dev-guide-sample-application-nodejs-typeorm.md
  develop/dev-guide-sample-application-ruby-mysql2.md
  develop/dev-guide-sample-application-ruby-rails.md
  dm/maintain-dm-using-tiup.md
  dm/quick-start-create-task.md
  dm/quick-start-with-dm.md
  download-ecosystem-tools.md
  functions-and-operators/tidb-functions.md
  information-schema/information-schema-tidb-servers-info.md
  pd-control.md
  post-installation-check.md
  production-deployment-using-tiup.md
  quick-start-with-tidb.md
  scale-microservices-using-tiup.md
  scale-tidb-using-tiup.md
  system-variables.md
  ticdc/deploy-ticdc.md
  ticdc/ticdc-changefeed-config.md
  ticdc/ticdc-changefeed-overview.md
  ticdc/ticdc-manage-changefeed.md
  ticdc/ticdc-open-api-v2.md
  ticdc/ticdc-sink-to-cloud-storage.md
  ticdc/ticdc-sink-to-pulsar.md
  tidb-monitoring-api.md
  tiflash/create-tiflash-replicas.md
  tiup/tiup-cluster.md
  tiup/tiup-component-cluster-deploy.md
  tiup/tiup-component-cluster-patch.md
  tiup/tiup-component-cluster-upgrade.md
  tiup/tiup-component-dm-upgrade.md
  tiup/tiup-component-management.md
  tiup/tiup-mirror.md
  tiup/tiup-playground.md
  upgrade-monitoring-services.md
  upgrade-tidb-using-tiup.md
  variables.json
Labels: translation/from-docs-cn, size/L, area/develop, needs-1-more-lgtm, approved, lgtm

#21322 toc: move up and reorganize best practices
  TOC.md
  auto-random.md
  best-practices/high-concurrency-best-practices.md
  best-practices/massive-regions-best-practices.md
  best-practices/pd-scheduling-best-practices.md
  best-practices/three-dc-local-read.md
  best-practices/uuid.md
  dashboard/dashboard-key-visualizer.md
  data-type-default-values.md
  ddl-introduction.md
  develop/dev-guide-optimize-sql-best-practices.md
  stale-read.md
  system-variable-reference.md
  tidb-lightning/tidb-lightning-logical-import-mode-usage.md
  troubleshoot-hot-spot-issues.md
Labels: type/enhancement, translation/done, size/L, area/develop, approved, lgtm, needs-cherry-pick-release-8.5

#21372 cloud: add backup completed auditing event
  tidb-cloud/tidb-cloud-console-auditing.md
Labels: contribution, translation/no-need, first-time-contributor, size/XS, area/tidb-cloud, needs-1-more-lgtm, approved, lgtm, ok-to-test, needs-cherry-pick-release-8.5

#21416 v6.5 br: add an v6.1 alias to br use cases
  br/backup-and-restore-use-cases.md
Labels: translation/from-docs-cn, size/XS, needs-1-more-lgtm, approved, lgtm

#21413 v6.1-br: add tip linking to v7.5 BR doc
  br/backup-storage-S3.md
Labels: type/enhancement, translation/from-docs-cn, size/XS, needs-1-more-lgtm, approved, lgtm

#21402 release-7.5: replace TiDB version hardcoding `v7.5.6` with variable `{{{ .tidb-version }}}`
  br/backup-and-restore-use-cases.md
  develop/dev-guide-sample-application-nodejs-mysql2.md
  develop/dev-guide-sample-application-nodejs-mysqljs.md
  develop/dev-guide-sample-application-nodejs-typeorm.md
  develop/dev-guide-sample-application-ruby-mysql2.md
  develop/dev-guide-sample-application-ruby-rails.md
  dm/maintain-dm-using-tiup.md
  dm/quick-start-create-task.md
  external-storage-uri.md
  information-schema/information-schema-tidb-servers-info.md
  pd-control.md
  post-installation-check.md
  production-deployment-using-tiup.md
  quick-start-with-tidb.md
  scale-tidb-using-tiup.md
  system-variables.md
  ticdc/deploy-ticdc.md
  ticdc/ticdc-changefeed-config.md
  ticdc/ticdc-changefeed-overview.md
  ticdc/ticdc-manage-changefeed.md
  ticdc/ticdc-open-api-v2.md
  ticdc/ticdc-sink-to-cloud-storage.md
  ticdc/ticdc-sink-to-pulsar.md
  tidb-binlog/get-started-with-tidb-binlog.md
  tidb-monitoring-api.md
  tiflash/create-tiflash-replicas.md
  tiup/tiup-cluster.md
  tiup/tiup-component-cluster-deploy.md
  tiup/tiup-component-cluster-patch.md
  tiup/tiup-component-cluster-upgrade.md
  tiup/tiup-component-dm-upgrade.md
  tiup/tiup-component-management.md
  tiup/tiup-mirror.md
  tiup/tiup-playground.md
  upgrade-monitoring-services.md
  upgrade-tidb-using-tiup.md
  variables.json
Labels: translation/from-docs-cn, size/L, area/develop, needs-1-more-lgtm, approved, lgtm

#21419 Revert "v6.5 br: add an v6.1 alias to br use cases"
  br/backup-and-restore-use-cases.md
Labels: translation/from-docs-cn, size/XS, needs-1-more-lgtm, approved, lgtm

#21423 fix: update CLA link to correct URL
  .github/pull_request_template.md
  CONTRIBUTING.md
Labels: translation/from-docs-cn, size/XS, needs-cherry-pick-release-5.4, needs-cherry-pick-release-6.1, needs-cherry-pick-release-6.5, needs-cherry-pick-release-7.1, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.5, needs-cherry-pick-release-cloud

#21436 feature/rename-serverless: add chat2query, data service, and full text serach docs to TOC and other related docs
  TOC-tidb-cloud.md
  tidb-cloud/ai-feature-concepts.md
  tidb-cloud/api-overview.md
  tidb-cloud/connect-to-tidb-cluster-serverless.md
  tidb-cloud/data-service-app-config-files.md
  tidb-cloud/data-service-oas-with-nextjs.md
  tidb-cloud/explore-data-with-chat2query.md
  tidb-cloud/integrate-tidbcloud-with-vercel.md
  tidb-cloud/key-concepts.md
  tidb-cloud/manage-user-access.md
  tidb-cloud/security-concepts.md
  tidb-cloud/serverless-driver.md
  tidb-cloud/tidb-cloud-glossary.md
Labels: translation/no-need, size/L, needs-1-more-lgtm, approved, lgtm, rename-serverless

#21438 tidb-cloud: update TiDB versions in FAQ and add version upgrade for serverless
  tidb-cloud/tidb-cloud-faq.md
  tidb-cloud/tidb-cloud-release-notes.md
Labels: translation/no-need, size/XS, area/tidb-cloud, needs-1-more-lgtm, approved, lgtm, cherry-pick-release-cloud/no-need

#21439 overload-threshold: update the description of its effective scope
  tidb-configuration-file.md
Labels: translation/from-docs-cn, size/XS, area/engine, ONCALL, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.5

#21434 cloud: add 20250722 release notes
  tidb-cloud/tidb-cloud-release-notes.md
Labels: translation/no-need, size/S, area/tidb-cloud, needs-1-more-lgtm, approved, lgtm, cherry-pick-release-cloud/no-need

#21451 tidb-cloud: remove outdated getting started page info
  tidb-cloud/tidb-cloud-quickstart.md
Labels: translation/no-need, size/XS, area/tidb-cloud, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-cloud

#21450 variables.json: add a variable for TiDB Cloud console URL
  develop/dev-guide-sample-application-python-peewee.md
  variables.json
Labels: requires-version-specific-changes, translation/doing, size/XS, area/develop, needs-1-more-lgtm, approved, lgtm, needs-cherry-pick-release-7.5, needs-cherry-pick-release-8.1, needs-cherry-pick-release-8.5

#21251 ci: create terms.md for ai translation
  resources/terms.md
Labels: translation/no-need, size/XL, needs-1-more-lgtm, approved, lgtm

#21471 release-cloud: test variables
  develop/dev-guide-sample-application-python-peewee.md
Labels: translation/no-need, size/XS, area/develop, approved, lgtm

#21437 v8.5: add a serverless rename FAQ and update cloud provider description
  tidb-cloud/serverless-faqs.md
  tidb-cloud/tidb-cloud-intro.md
Labels: translation/no-need, size/S, needs-1-more-lgtm, approved, lgtm, rename-serverless

#21461 Create monitor-new-relic-integration-preview.md
  tidb-cloud/monitor-new-relic-integration.md
Labels: contribution, translation/no-need, first-time-contributor, size/L, area/tidb-cloud, needs-1-more-lgtm, approved, lgtm, ok-to-test, cherry-pick-release-cloud/no-need

#21488 cloud: minor format changes in release notes
  tidb-cloud/tidb-cloud-release-notes.md
Labels: translation/no-need, size/XS, area/tidb-cloud, approved, lgtm
